#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_bem_wood_warriors_Fatal_Tangle
    name= _ "Fatal Tangle"
    race=AE_bem_wood_warriors_race
    image="units/wood_warriors/pianta_carnivora/groviglio_fatale.png"
    hitpoints=48
    movement_type=AE_bem_wood_warriors_pianta
    movement=4
    experience=100
    profile=portraits/woodlanders/pianta_carnivora_image.png
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=33
    usage=scout
    description= _ "This unit is from BEEM. Its coding and art were done by Voodoo, Baro_st, Tydeus, Dibs, and various others.

Also known as 'Terror of travelers', Carnivore Plants are indeed death machines! As little plants or enormous bushes they only eat meat and their teeth contain one of the most powerful poison of the world. Mingling themselves in the forest, they can move using their roots that aren't fixed in the ground as the ones of the common plants, but they are used as tentacles! Despite their slowness, bigger Carnivore Plants can also throw them grasping the enemies and slowing them while preparing the final hit."
    die_sound=wose-hit.ogg

    {DEFENSE_ANIM "units/wood_warriors/pianta_carnivora/groviglio_fatale_difesa.png" "units/wood_warriors/pianta_carnivora/groviglio_fatale.png" wose-hit.ogg }

    [abilities]
        {ABILITY_REGENERATES}
        {ABILITY_FEEDING}
    [/abilities]

    [attack]
        name=fangs
        description={STR_FANGS}
        icon="units/wood_warriors/pianta_carnivora/fangs-poison.png"
        type=pierce
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=ensnare
        description={STR_ENSNARE}
        icon="attacks/entangle.png"
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        range=ranged
        damage=6
        number=2
    [/attack]
    [death]
        start_time=0
        [frame]
            duration=100
            image="units/wood_warriors/pianta_carnivora/groviglio_fatale_die1.png"
        [/frame]
        [frame]
            duration=100
            image="units/wood_warriors/pianta_carnivora/groviglio_fatale_die2.png"
        [/frame]
        [frame]
            duration=100
            image="units/wood_warriors/pianta_carnivora/groviglio_fatale_die3.png"
        [/frame]
        [frame]
            duration=100
            image="units/wood_warriors/pianta_carnivora/groviglio_fatale_die4.png"
        [/frame]
        [frame]
            duration=100
            image="units/wood_warriors/pianta_carnivora/groviglio_fatale_die5.png"
        [/frame]
        [frame]
            duration=100
            image="units/wood_warriors/pianta_carnivora/groviglio_fatale_die6.png"
        [/frame]
    [/death]
    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        [frame]
            begin=-330
            end=-270
            image="units/wood_warriors/pianta_carnivora/groviglio_fatale_attack1.png"
        [/frame]
        [frame]
            begin=-270
            end=-200
            image="units/wood_warriors/pianta_carnivora/groviglio_fatale_attack2.png"
        [/frame]
        [frame]
            begin=-200
            end=-150
            image="units/wood_warriors/pianta_carnivora/groviglio_fatale_attack3.png"
            sound=bite.ogg
        [/frame]
        [frame]
            begin=-150
            end=150
            image="units/wood_warriors/pianta_carnivora/groviglio_fatale_attack4.png"
            sound=bite.ogg
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/wood_warriors/pianta_carnivora/groviglio_fatale_attack1.png"
        [/frame]
        [frame]
            begin=200
            end=230
            image="units/wood_warriors/pianta_carnivora/groviglio_fatale_ranged.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=ensnare
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/entangle.png"
            image_diagonal="projectiles/entangle.png"
        [/missile_frame]
        [frame]
            begin=-150
            end=0
            image="units/wood_warriors/pianta_carnivora/groviglio_fatale_ranged.png"
            sound=tail.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
