#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_bem_wood_warriors_Golem_Wood_Defender
    name= _ "Golem Wood Defender"
    race=AE_bem_wood_warriors_race
    image="units/wood_warriors/golem/golem_difensore_della_selva.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {TRAIT_GOLEM}
    hitpoints=54
    movement_type=AE_bem_wood_warriors_ww_rock_foot
    movement=4
    experience=100
    profile=portraits/woodlanders/golem_image.png
    level=2
    alignment=neutral
    advances_to=AE_bem_wood_warriors_Destroyer_Golem
    cost=35
    die_sound={SOUND_LIST:TROLL_DIE}
    usage=fighter
    description= _ "This unit is from BEEM. Its coding and art were done by Voodoo, Baro_st, Tydeus, Dibs, and various others.
 
Golems are huge monsters completely made of hard hock, therefore they are immune to every type of poison. Able to live entire eras, these warriors are practically indestructible. Their only weak point is their weakness to arcane attacks due to the enchantment which gave them life from stones and which can be broken only from another spell. The Golems move rolling on the ground as enormous boulders thrown from a cliff. The incredible power of their fists, with the ability to perfectly camouflage themselves among the rocks, makes them one of the most feared warriors in the world. The bigger ones are able to be lethal simply with the shock wave induced from the impact of their fist on the ground."

    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/wood_warriors/golem/golem_mov.png"
        [/frame]
    [/movement_anim]

    {DEFENSE_ANIM "units/wood_warriors/golem/golem_difensore_della_selva_difesa.png" "units/wood_warriors/golem/golem_difensore_della_selva.png" {SOUND_LIST:TROLL_HIT} }

    #    [abilities]
    #        {ABILITY_CAMOUFLAGE_SELVA}
    #    [/abilities]
    [death]
        [frame]
            begin=0
            end=150
            image="units/wood_warriors/golem/golem_difensore_die1.png"
        [/frame]
        [frame]
            begin=150
            end=250
            image="units/wood_warriors/golem/golem_difensore_die2.png"
        [/frame]
        [frame]
            begin=250
            end=350
            image="units/wood_warriors/golem/golem_difensore_die3.png"
        [/frame]
        [frame]
            begin=350
            end=450
            image="units/wood_warriors/golem/golem_difensore_die4.png"
        [/frame]
        [frame]
            begin=450
            end=550
            image="units/wood_warriors/golem/golem_difensore_die5.png"
        [/frame]
        [frame]
            begin=550
            end=650
            image="units/wood_warriors/golem/golem_difensore_die6.png"
        [/frame]
        [frame]
            begin=650
            end=750
            image="units/wood_warriors/golem/golem_difensore_die7.png"
        [/frame]
    [/death]
    [attack]
        name=rock punch
        description= _ "rock punch"
        icon="units/wood_warriors/golem/rock_punch.png"
        type=impact
        range=melee
        damage=18
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=rock punch
        [/filter_attack]
        [frame]
            begin=-300
            end=-170
            image="units/wood_warriors/golem/golem_attack1.png"
        [/frame]
        [frame]
            begin=-170
            end=-50
            image="units/wood_warriors/golem/golem_attack2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-50
                end=70
                image="units/wood_warriors/golem/golem_attack3.png"
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-50
                end=70
                image="units/wood_warriors/golem/golem_attack3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=70
            end=150
            image="units/wood_warriors/golem/golem_attack4.png"
        [/frame]
        [frame]
            begin=150
            end=220
            image="units/wood_warriors/golem/golem_attack1.png"
        [/frame]
        [frame]
            begin=220
            end=290
            image="units/wood_warriors/golem/golem_difensore_della_selva.png"
        [/frame]
    [/attack_anim]
[/unit_type]
