#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_bem_wood_warriors_Young_Bigfoot
    name= _ "Young Bigfoot"
    race=AE_bem_wood_warriors_race
    image="units/wood_warriors/bigfoot/cucciolo_di_bigfoot.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=36
    movement_type=AE_bem_wood_warriors_big_foot
    movement=5
    experience=38
    profile=portraits/woodlanders/bigfoot_img.png
    level=1
    alignment=neutral
    advances_to=AE_bem_wood_warriors_Bigfoot
    cost=14
    usage=fighter
    description= _ "This unit is from BEEM. Its coding and art were done by Voodoo, Baro_st, Tydeus, Dibs, and various others.
 
There aren't many bigfoot in the world so it's difficult to see the few ones. Unbeatable masters in hiding among trees, these creatures can be 2mts tall in the adultness and they are both among the mildest and the most powerful warriors the forests have ever seen. Completely covered with a thick fur, Bigfoot usually dislike fighting but for a good reason. However, they are very protective of their territory and their kicks can easily floor also the most resistant warriors. It's told Bigfoot can live a thousand year and the older ones are so great and strong to uproot trees with extreme easiness."+{SPECIAL_NOTES}+{SPECIAL_NOTES_AMBUSH}
    die_sound=yeti-die.ogg

    {DEFENSE_ANIM "units/wood_warriors/bigfoot/cucciolo_di_bigfoot_difesa.png" "units/wood_warriors/bigfoot/cucciolo_di_bigfoot.png" yeti-hit.ogg }

    [attack]
        name=foot
        description= _ "foot"
        icon="attacks/foot.png"
        type=impact
        range=melee
        damage=6
        number=3
    [/attack]

    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]

    [death]
        start_time=0
        [frame]
            duration=100
            image="units/wood_warriors/bigfoot/cucciolo_di_bigfoot_die1.png"
        [/frame]
        [frame]
            duration=100
            image="units/wood_warriors/bigfoot/cucciolo_di_bigfoot_die2.png"
        [/frame]
        [frame]
            duration=100
            image="units/wood_warriors/bigfoot/cucciolo_di_bigfoot_die3.png"
        [/frame]
        [frame]
            duration=100
            image="units/wood_warriors/bigfoot/cucciolo_di_bigfoot_die4.png"
        [/frame]
        [frame]
            duration=200
            image="units/wood_warriors/bigfoot/cucciolo_di_bigfoot_die5.png"
        [/frame]
        [frame]
            duration=100
            image="units/wood_warriors/bigfoot/cucciolo_di_bigfoot_die6.png"
        [/frame]
    [/death]
    [attack_anim]
        [filter_attack]
            name=foot
        [/filter_attack]
        start_time=-250
        [frame]
            duration=100
            image="units/wood_warriors/bigfoot/cucciolo_di_bigfoot_attack1.png"
        [/frame]
        [frame]
            duration=100
            image="units/wood_warriors/bigfoot/cucciolo_di_bigfoot_attack2.png"
        [/frame]
        [frame]
            duration=100
            image="units/wood_warriors/bigfoot/cucciolo_di_bigfoot_attack3.png"
        [/frame]
        [frame]
            duration=100
            image="units/wood_warriors/bigfoot/cucciolo_di_bigfoot_attack4.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=125
                image="units/wood_warriors/bigfoot/cucciolo_di_bigfoot_attack5.png"
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=125
                image="units/wood_warriors/bigfoot/cucciolo_di_bigfoot_attack5b.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/wood_warriors/bigfoot/cucciolo_di_bigfoot_attack4.png"
        [/frame]
        [frame]
            duration=75
            image="units/wood_warriors/bigfoot/cucciolo_di_bigfoot_attack3.png"
        [/frame]
        [frame]
            duration=50
            image="units/wood_warriors/bigfoot/cucciolo_di_bigfoot_attack2.png"
        [/frame]
        [frame]
            duration=50
            image="units/wood_warriors/bigfoot/cucciolo_di_bigfoot_attack1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
