#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_arc_Ukian Attack Dog
    name= _ "Attack Dog"
    race=AE_arc_ukiandog
    image="units/ukians/dog/attack-dog.png"
    hitpoints=34
    movement_type=ukianscout
    movement=9
    experience=48
    level=1
    alignment=neutral
    advances_to=null
    small_profile="portraits/dog.png~CROP(25,25,330,330)~SCALE(205,205)"
    profile=portraits/dog.png
    {AMLA_DEFAULT}
    cost=17
    usage=scout
    undead_variation=saurian
    description={AE_ARC_UNIT_NOTICE} +  _ "Attack Dogs are highly valued by the Ukians for their proven loyalty and strength, so they are given leather and plates to cover their throats and spines (anything more would be too restrictive). They are not usually used as scouts anymore because of their value at the offensive line. If given the signal, they will throw themselves at the enemy in a fight-to-the-death fury."
    {DEFENSE_ANIM "units/ukians/dog/attack-dog.png" "units/ukians/dog/attack-dog.png" wolf-hit.wav}
    die_sound=wolf-die.wav
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [movement_costs]
        frozen=1
        deep_water=8
        swamp_water=2
        shallow_water=3
        coastal_rift=2
    [/movement_costs]
    [defense]
        frozen=40
        deep_water=60
        shallow_water=60
    [/defense]
    [resistance]
        pierce=90
        blade=90
    [/resistance]
    [attack]
        name=fangs
        description={STR_FANGS}
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=8
        number=3
        defense_weight=2.1
    [/attack]
    [attack]
        name=frenzy
        description= _ "fury"
        icon=attacks/BMRfrenzy.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
        range=melee
        damage=8
        number=3
        defense_weight=0.0
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        hits=yes
	start_time=-350
        [frame]
            image="units/ukians/dog/attack-dog.png:200"
        [/frame]
        [frame]
            image="units/ukians/dog/attack-dog.png:150"
            sound=wolf-big-bite.ogg
        [/frame]
        [frame]
            image="units/ukians/dog/attack-dog.png:150"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        hits=no
	start_time=-350
        [frame]
            image="units/ukians/dog/attack-dog.png:200"
        [/frame]
        [frame]
            image="units/ukians/dog/attack-dog.png:150"
            sound=wolf-big-bite-miss.ogg
        [/frame]
        [frame]
            image="units/ukians/dog/attack-dog.png:150"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=frenzy
        [/filter_attack]
        hits=yes
	start_time=-200
        [frame]
            image="units/ukians/dog/attack-dog.png:150"
        [/frame]
        [frame]
            image="units/ukians/dog/attack-dog.png:100"
            sound=wolf-bite.ogg
        [/frame]
        [frame]
            image="units/ukians/dog/attack-dog.png:50"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=frenzy
        [/filter_attack]
        hits=no
	start_time=-200
        [frame]
            image="units/ukians/dog/attack-dog.png:150"
        [/frame]
        [frame]
            image="units/ukians/dog/attack-dog.png:100"
            sound=wolf-bite-miss.ogg
        [/frame]
        [frame]
            image="units/ukians/dog/attack-dog.png:50"
        [/frame]
    [/attack_anim]
[/unit_type]
