#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_vx_Queen
    name= _ "Amazon Matriarch"
    race=AE_RHY_vixen
    image="units/vixens/queen.png"
    movement_type=AE_RHY_nekofoot
    movement=6
    gender=female
    alignment=chaotic
    hitpoints=55
    experience=134
    level=3
    advances_to=null
    {AMLA_DEFAULT}
    cost=57
    usage=archer
    description={AE_RHY_UNIT_NOTICE}+ _ "Experienced in combat and war, the Matriarchs are accepted leaders of the amazon tribes. Smaller tribes have a single leader, while bigger tribes rely on the wisdom of a small council."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]
    {DEFENSE_ANIM "units/vixens/queen.png" "units/vixens/queen.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [resistance]
        cold=100
    [/resistance]
    [defense]
        village=30
        castle=30
    [/defense]
    [attack]
        name=spear
        description= _ "spear"
        type=pierce
        range=melee
        damage=12
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        icon=attacks/spear-orcish.png
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=8
        number=3
    [/attack]
    {AE_RHY_ANIM_SPEAR vixens/queen}
    {AE_RHY_ANIM_BOW vixens/queen}
[/unit_type]
