#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_vx_Snake_Viper
    name= _ "Viper"
    race=AE_RHY_animal
    image="units/vixens/snake-poison.png"
    hitpoints=40
    movement_type=AE_RHY_snake
    movement=6
    experience=70
    level=2
    alignment=neutral
    advances_to=AE_rhy_vx_Snake_Anakonda
    cost=31
    usage=fighter
    undead_variation=swimmer
    description={AE_RHY_UNIT_NOTICE}+ _ "Vipers can grow a few meters long and are able to strangle people to their death. Once their prey is weakened form their venomous fangs they suffocate them by wrapping around them."
    {AE_RHY_SPECIAL_NOTES_SWAMPSTALK}
    die_sound=hiss-big.wav
    {DEFENSE_ANIM "units/vixens/snake-poison.png" "units/vixens/snake-poison.png" hiss.wav }
    [abilities]
        {AE_RHY_ABILITY_SWAMPSTALK}
    [/abilities]
    [resistance]
        impact=90
    [/resistance]
    [attack]
        name=fangs
        description= _ "fangs"
        icon=attacks/fangs-snake.png
        type=blade
        range=melee
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
        damage=5
        number=4
    [/attack]
    [attack]
        name=strangle
        description= _ "strangle"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack_anim]
        start_time=-400
        [filter_attack]
            name=fangs
        [/filter_attack]
        [frame]
            duration=200
            image="units/vixens/snake-poison.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=50
                image="units/vixens/snake-poison.png"
                sound=bite.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=50
                image="units/vixens/snake-poison.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/vixens/snake-poison.png"
        [/frame]
    [/attack_anim]
[/unit_type]
