#textdomain wesnoth-Ageless_Era

[race]
    id=AE_fut_brungar_race
    name= _ "race^Brungar"
    num_traits=2
    plural_name= _ "race^Brungar"
    {BRUNGAR_NAMES}
    description= _ "This race is from the Era of the Future. Its coding, art, and ideas were done by Turuk, Mirion147, Huston, Pentarctagon, Wesfreak, Xandria, and Zerovirus.
 
The Brungar are dwarves who grew tired of the caves in ages past and thus ventured forth from their mighty empires in search of a different life. They settle in the rock of lakes and oceans and eventually, after living centuries in and out of the water, evolved gills and thus were able to create great underwater caverns, rivalled by only their ancestors mountain realms. The Brungar have not left all of their dwarven traits behind them however for they still continue to make great contraptions that have helped in the making of their underwater fortress and also in hunting and protecting their caverns.

The Brungar have, as is often found with dwarves, a king of great stature, for a dwarf, but also they have a grand council. The king has ultimate power but the council has some power of its own so having a position on this council is a position of great respect through out the Brungar society. They worship the god of the sea, as they call him, and never fail to pay homage through sacrifice of a 15th of their entire earnings from the hunts. To fail to sacrifice is punishable by death or forever banishment from the sea.

The society of the Brungar is often misunderstood do to the difference between them and that of conventional dwarves. The Brungar long for jewels yes, but they do not bet all they have on them, or use them for money. They do, however, use them for adorning their precious artifacts or weapons. The king also is given a tribute of jewels every year as thanks for the great leadership that he is giving to them. They spend their time hunting for both game and jewels for they are dwarves after all. The smithies of the Brungar are still as great as the smithies of old. They work in drained rooms in the underwater caverns and create some of the best arms and weapons available away from the mountains. Due to their need for speed they often use spears or harpoons  rather then axes. But axes are not totally uncommon for those that venture forth from the sea."
[/race]

[movetype]
    name=AE_fut_brungar_Turtlemove
    [movement_costs]
        deep_water=1
        shallow_water=1
        coastal_reef=2
        reef=2
        swamp_water=2
        flat=1
        sand=1
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=3
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=50
        shallow_water=50
        reef=40
        coastal_reef=40
        swamp_water=50
        flat=60
        sand=70
        forest=-70
        hills=60
        mountains=70
        village=50
        castle=60
        cave=60
        frozen=70
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=60
    [/defense]

    [resistance]
        blade=80
        pierce=80
        impact=80
        fire=110
        cold=110
        arcane=90
    [/resistance]
[/movetype]

[movetype]
    name=AE_fut_brungar_Sea_Dwarf_Foot
    [movement_costs]
        deep_water=1
        shallow_water=1
        swamp_water=2
        flat=1
        sand=1
        forest=3
        hills=2
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=2
        frozen=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=2
        coastal_reef=1
        reef=1
    [/movement_costs]
    [defense]
        deep_water=60
        shallow_water=50
        swamp_water=60
        flat=70
        sand=70
        forest=70
        hills=50
        mountains=50
        village=40
        castle=40
        cave=50
        frozen=80
        reef=60
        coastal_reef=60
        unwalkable=40
        impassable=40
        fungus=70
    [/defense]

    [resistance]
        blade=80
        pierce=80
        impact=80
        fire=90
        cold=90
        arcane=90
    [/resistance]
[/movetype]

[movetype]
    name=AE_fut_brungar_Crabmove
    [movement_costs]
        deep_water=2
        shallow_water=1
        coastal_reef=1
        reef=1
        swamp_water=2
        flat=1
        sand=1
        forest=3
        hills=2
        mountains=3
        village=1
        castle=1
        cave=1
        frozen=3
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=50
        shallow_water=40
        reef=40
        coastal_reef=40
        swamp_water=60
        flat=60
        sand=30
        forest=-70
        hills=60
        mountains=70
        village=50
        castle=50
        cave=60
        frozen=80
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=60
    [/defense]

    [resistance]
        blade=80
        pierce=70
        impact=110
        fire=100
        cold=100
        arcane=100
    [/resistance]
[/movetype]

[movetype]
    name=AE_fut_brungar_oceanriders
    [movement_costs]
        deep_water=2
        shallow_water=1
        swamp_water=1
        flat=1
        sand=1
        forest=3
        hills=3
        mountains=3
        village=1
        castle=1
        cave=1
        frozen=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=2
        coastal_reef=1
        reef=1
    [/movement_costs]
    [defense]
        deep_water=60
        shallow_water=30
        swamp_water=40
        flat=70
        sand=70
        forest=-80
        hills=60
        mountains=60
        village=50
        castle=50
        cave=60
        frozen=80
        frozen=80
        unwalkable=40
        impassable=40
        fungus=80
        reef=60
        coastal_reef=60
    [/defense]

    [resistance]
        blade=80
        pierce=80
        impact=80
        fire=90
        cold=90
        arcane=90
    [/resistance]
[/movetype]
