#textdomain wesnoth-Ageless_Era
[race]
    id=AE_fut_welkin
    name= _ "race^Welkin"
    num_traits=2
    plural_name= _ "race^Welkin"
    {WELKIN_NAMES}
    description= _ "This unit is from the Era of the Future. Its coding, art, and ideas were done by Turuk, Mirion147, Huston, Pentarctagon, Wesfreak, Xandria, and Zerovirus.
 
The Welkin are a form of woodland elves that had evolved over many periods of time. The Welkin share many things in common with normal elves, specifically physical features. However, these adapted elves have many inhabitants that have wings. These wings enable them to fly and fight from above.The Welkin left the forest because of the difficulty to fly in search of better suited terrain. They populate mostly mountainous areas, along with hills. Dwarves are usually competing for land with the Welkin, which leads to distrust and wars. The Welkin sometimes ally trolls if needed during wars, since they have a common enemy.

The way of life for the Welkin is fairly different from many other cultures. Everyone must learn magic from a certain age, during a period similar to human's teenage years. They choose what path they wish to follow, the path of Aten, the sun, the path of Thoth, the moon, or the path of the wind. The path of the wind is the most complicated of all, and very few choose to follow it. Some, however, choose to follow both Thoth and Aten, where they study how to combine the powers to heal others. This path is not highly accepted in society, and most that follow the two paths are outcasts.

Welkin are known for their hunting skills. They hunt birds, woodland creatures, and even occasionally gryphons. The hunters are very skilled, and use a weapon similar to a spear. The queen or king divide the hunted food evenly between all people, And therefore all must work to earn their food. The monarchs only give what is neceessary. The Welkin are very independent from other lands because they are also farmers, weapon smiths, as well as armor smiths. Because of this, the Welkin must be very dependent upon their own kind. Therefore if everyone doesn't play their part, their whole society falters. It is looked on very dimly when lazyness or personal gain is held higher then the community. The Welkin do not trade often because of their independence of other nations and this leads to having few allies."
[/race]

[movetype]
    name=AE_fut_welkinwing
    [movement_costs]
        deep_water=2
        shallow_water=1
        reef=1
        swamp_water=1
        flat=1
        sand=1
        forest=3
        hills=1
        mountains=1
        village=1
        castle=1
        cave=3
        frozen=2
        frozen=2
        unwalkable=2
        impassable={UNREACHABLE}
        fungus=3
        coastal_reef=1
    [/movement_costs]
    [defense]
        deep_water=60
        shallow_water=50
        reef=50
        swamp_water=50
        flat=50
        sand=50
        forest=-70
        hills=40
        mountains=30
        village=40
        castle=40
        cave=70
        frozen=80
        frozen=50
        unwalkable=60
        impassable=60
        fungus=70
    [/defense]

    [resistance]
        blade=100
        pierce=90
        impact=120
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE_fut_welkinsolar
    [movement_costs]
        deep_water=3
        shallow_water=3
        reef=3
        swamp_water=3
        flat=1
        sand=1
        forest=2
        hills=1
        mountains=1
        village=1
        castle=1
        cave=2
        frozen=2
        frozen=3
        unwalkable=2
        impassable={UNREACHABLE}
        fungus=2
        coastal_reef=3
    [/movement_costs]
    [defense]
        deep_water=70
        shallow_water=70
        reef=70
        swamp_water=70
        flat=40
        sand=50
        forest=-60
        hills=40
        mountains=30
        village=40
        castle=40
        cave=50
        frozen=50
        frozen=60
        unwalkable=60
        impassable=60
        fungus=50
    [/defense]

    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=120
        cold=90
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE_fut_welkinsage
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water=3
        reef=3
        swamp_water=3
        flat=1
        sand=1
        forest=2
        hills=1
        mountains=1
        village=1
        castle=1
        cave=2
        frozen=2
        frozen=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=2
        coastal_reef=3
    [/movement_costs]
    [defense]
        deep_water=80
        shallow_water=80
        reef=80
        swamp_water=80
        flat=60
        sand=60
        forest=50
        hills=40
        mountains=30
        village=40
        castle=40
        cave=50
        frozen=60
        frozen=60
        unwalkable=60
        impassable=60
        fungus=50
    [/defense]

    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE_fut_welkinfoot
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water=3
        reef=3
        swamp_water=4
        flat=1
        sand=1
        forest=2
        hills=1
        mountains=1
        village=1
        castle=1
        cave=2
        frozen=2
        frozen=3
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=2
        coastal_reef=3
    [/movement_costs]
    [defense]
        deep_water=80
        shallow_water=80
        reef=80
        swamp_water=90
        flat=60
        sand=60
        forest=50
        hills=40
        mountains=40
        village=40
        castle=40
        cave=50
        frozen=60
        frozen=70
        unwalkable=60
        impassable=60
        fungus=50
    [/defense]

    [resistance]
        blade=80
        pierce=80
        impact=90
        fire=100
        cold=100
        arcane=110
    [/resistance]
[/movetype]

[movetype]
    name=AE_fut_welkinflurry
    [movement_costs]
        deep_water=2
        shallow_water=2
        reef=2
        swamp_water=2
        flat=1
        sand=1
        forest=2
        hills=1
        mountains=1
        village=1
        castle=1
        cave=2
        frozen=2
        frozen=2
        unwalkable=1
        impassable={UNREACHABLE}
        fungus=2
        coastal_reef=2
    [/movement_costs]
    [defense]
        deep_water=50
        shallow_water=50
        reef=50
        swamp_water=50
        flat=50
        sand=50
        forest=50
        hills=40
        mountains=40
        village=40
        castle=40
        cave=50
        frozen=50
        frozen=60
        unwalkable=60
        impassable=60
        fungus=50
    [/defense]

    [resistance]
        blade=80
        pierce=80
        impact=90
        fire=120
        cold=100
        arcane=120
    [/resistance]
[/movetype]
