#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ey_Sharpshooter
    name= _ "Elyser Sharpshooter"
    race=AE_RHY_elyser
    gender=male,female
    image="units/elyser/sharpshooter.png"
    hitpoints=50
    movement_type=woodland
    [resistance]
        arcane=100
    [/resistance]
    movement=6
    experience=134
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=57
    usage=archer
    description={AE_RHY_UNIT_NOTICE}+ _ "here was a legend of an elf who stopped an arrow by shooting it out of the air with one of his own. It is a testament to the skill of the elves that such a story could be taken seriously. The sharpshooters of the elves have, quite simply, mastered the art of archery."
    die_sound={SOUND_LIST:ELF_HIT}
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=8
        number=2
    [/attack]
    [attack]
        name=bow
        description={STR_LONGBOW}
        icon=attacks/bow-elven-magic.png
        type=pierce
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=11
        number=5
    [/attack]
    {DEFENSE_ANIM "units/elyser/sharpshooter.png" "units/elyser/sharpshooter.png" {SOUND_LIST:ELF_HIT}}
    {AE_RHY_ANIM_BOW elyser/sharpshooter}
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-175
            end=-75
            image="units/elyser/sharpshooter.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=100
                image="units/elyser/sharpshooter.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=100
                image="units/elyser/sharpshooter.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/elyser/sharpshooter.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "Elyser Sharpshooter"
        gender=female
        image="units/elyser/sharpshooter+female.png"
        die_sound={SOUND_LIST:ELF_FEMALE_HIT}
        {DEFENSE_ANIM "units/elyser/sharpshooter+female.png" "units/elyser/sharpshooter+female.png" {SOUND_LIST:ELF_FEMALE_HIT} }
        {AE_RHY_ANIM_BOW elyser/sharpshooter+female}
        [attack_anim]
            [filter_attack]
                name=sword
            [/filter_attack]
            [frame]
                begin=-175
                end=-75
                image="units/elyser/sharpshooter+female.png"
            [/frame]
            [if]
                hits=no
                [frame]
                    begin=-75
                    end=100
                    image="units/elyser/sharpshooter+female.png"
                    sound={SOUND_LIST:MISS}
                [/frame]
            [/if]
            [else]
                hits=yes
                [frame]
                    begin=-75
                    end=100
                    image="units/elyser/sharpshooter+female.png"
                    sound={SOUND_LIST:SWORD_SWISH}
                [/frame]
            [/else]
            [frame]
                begin=100
                end=175
                image="units/elyser/sharpshooter.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
