#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ey_Champion
    name= _ "Elyser Champion"
    race=AE_RHY_elyser
    image="units/elyser/champion.png"
    hitpoints=70
    movement_type=woodland
    movement=6
    {LESS_NIMBLE_ELF}
    experience=134
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=52
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Those few elves who deliberately hone themselves into weapons of war become something which belies the peace-loving reputation of their race. Dedication and skill are matched with purity of form, and the result is swordsmanship to which few can compare. Even their archery, treated as a secondary pursuit, is masterfully executed."
    die_sound={SOUND_LIST:ELF_HIT}
    [resistance]
        arcane=100
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/greatsword-elven.png
        type=blade
        range=melee
        damage=9
        number=5
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=10
        number=3
    [/attack]
    {DEFENSE_ANIM "units/elyser/champion.png" "units/elyser/champion.png" {SOUND_LIST:ELF_HIT}}
    {AE_RHY_ANIM_BOW elyser/champion}
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="units/elyser/champion.png"
        [/frame]
        [frame]
            begin=-175
            end=-125
            image="units/elyser/champion.png"
        [/frame]
        [frame]
            begin=-125
            end=-75
            image="units/elyser/champion.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=75
                image="units/elyser/champion.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=75
                image="units/elyser/champion.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=75
            end=125
            image="units/elyser/champion.png"
        [/frame]
    [/attack_anim]
[/unit_type]
