#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ey_Shaman
    name= _ "Elyser Shaman"
    race=AE_RHY_elyser
    gender=female
    image="units/elyser/shaman.png"
    hitpoints=27
    movement_type=woodland
    movement=5
    experience=33
    level=1
    alignment=neutral
    advances_to=AE_rhy_ey_Healer
    cost=15
    usage=healer
    description={AE_RHY_UNIT_NOTICE}+ _ "Being partly faerie in nature, elves have an inherent capability for magic. This is realized in their affinity with the natural world, which they can call upon as an ally in combat. Enemies wandering in their forests may soon find themselves entangled by roots and hindered by the very ground they stand on.The healing abilities of the elves are also remarkable, and of capital use in battle."
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    [attack]
        name=staff
        description={STR_STAFF}
        type=impact
        damage=3
        number=2
        range=melee
        icon=attacks/staff-elven.png
    [/attack]
    [attack]
        name=entangle
        description={STR_ENTANGLE}
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=3
        number=2
        range=ranged
    [/attack]
    {DEFENSE_ANIM "units/elyser/shaman.png" "units/elyser/shaman.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [attack_anim]
        [filter_attack]
            name=entangle
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            offset=1.0
            duration=150
            image="projectiles/entangle.png"
            image_diagonal="projectiles/entangle.png"
        [/missile_frame]
        start_time=-450
        [frame]
            image="units/elyser/shaman.png:600"
            halo=halo/elven/nature-halo[1~6].png:75,halo/elven/nature-halo[7~8].png:50
            halo_x,halo_y=0,-12
        [/frame]
        attack_sound_start_time=-75
        [attack_sound_frame]
            sound=entangle.wav
        [/attack_sound_frame]
        [frame]
            image="units/elves-wood/shaman.png:50"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-175
            end=-100
            image="units/elyser/shaman.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/elyser/shaman.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/elyser/shaman.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/elyser/shaman.png"
        [/frame]
    [/attack_anim]
[/unit_type]
