#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ey_Rider
    name= _ "Elyser Rider"
    race=AE_RHY_elyser
    image="units/elyser/rider.png"
    hitpoints=46
    movement_type=woodland
    movement=10
    experience=75
    level=2
    alignment=neutral
    advances_to=AE_rhy_ey_Outrider
    cost=27
    undead_variation=mounted
    usage=scout
    description={AE_RHY_UNIT_NOTICE}+ _ "The master horsemen of the elves are able to move through forests at a speed which would be suicidal for any human. Awe of the rider is quite justified — but questions have also been raised about the stock of the horses, for the feats they perform seem almost supernatural.This combination of incredible mobility and potent combat strength is one of the greatest assets the elves possess in warfare."
    die_sound=horse-die.ogg
    [defense]
        village=50
        forest=40
    [/defense]
    [resistance]
        pierce=120
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=9
        number=2
    [/attack]
    {DEFENSE_ANIM "units/elyser/rider.png" "units/elyser/rider.png" {SOUND_LIST:HORSE_HIT} }
    {AE_RHY_ANIM_BOW elyser/rider}
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="units/elyser/rider.png"
            sound=horse-elf-canter.wav
        [/frame]
        [frame]
            begin=-175
            end=-100
            image="units/elyser/rider.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/elyser/rider.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/elyser/rider.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/elyser/rider.png"
        [/frame]
    [/attack_anim]
[/unit_type]
