#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ey_Scout
    name= _ "Elyser Scout"
    image="units/elyser/scout.png"
    ellipse="misc/ellipse"
    race=AE_rhy_race_elyser
    hitpoints=32
    movement_type=woodland
    movement=9
    experience=32
    level=1
    alignment=neutral
    advances_to=AE_rhy_ey_Rider
    cost=18
    undead_variation=mounted
    usage=scout
    description={AE_RHY_UNIT_NOTICE}+ _ "The horsemen of the wood elves have some skill with bow and sword, but their true skill lies in their horsemanship. Even other elves are impressed by their uncanny speed in the woods, and their ability to dart through the thick of the forest with nary a scratch. They may be the only cavalry in existence that fares better in the woods than on open ground."
    die_sound=horse-die.ogg
    # Base image is drawn for the right side.
    [defense]
        village=60
        forest=40
    [/defense]
    [resistance]
        pierce=120
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=4
        number=3
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=6
        number=2
    [/attack]
    {DEFENSE_ANIM "units/elyser/scout.png" "units/elyser/scout.png" {SOUND_LIST:HORSE_HIT} }
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-300
                end=-200
                image="units/elyser/scout.png"
                sound=bow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-300
                end=-200
                image="units/elyser/scout.png"
                sound=bow-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=0
            image="units/elyser/scout.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="units/elyser/scout.png"
            sound=horse-elf-canter.wav
        [/frame]
        [frame]
            begin=-175
            end=-100
            image="units/elyser/scout.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/elyser/scout.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/elyser/scout.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/elyser/scout.png"
        [/frame]
    [/attack_anim]
[/unit_type]
