#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_rhy_ey_Sentinel
    name= _ "Elyser Sentinel"
    race=AE_rhy_race_elyser
    image="units/elyser/sentinel.png"
    hitpoints=72
    movement_type=woodland
    movement=5
    {LESS_NIMBLE_ELF}
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=52
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Elysian Sentinels are dangerous opponents. Their -for elven standarts- large shield and heavy armor makes them very resistant against physical weapons and the spears are devestating melee weapons. Despite their size, their spears are surprisingly light, which allows the Sentinels to attack faster than normal spearmen."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}
    die_sound={SOUND_LIST:ELF_HIT}
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [resistance]
        blade=80
        pierce=90
        impact=80
    [/resistance]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        type=pierce
        range=melee
        damage=12
        number=4
    [/attack]
    {DEFENSE_ANIM "units/elyser/sentinel.png" "units/elyser/sentinel.png" {SOUND_LIST:ELF_HIT}}
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [frame]
            begin=-175
            end=-125
            image="units/elyser/sentinel.png"
        [/frame]
        [frame]
            begin=-125
            end=-75
            image="units/elyser/sentinel.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=75
                image="units/elyser/sentinel.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=75
                image="units/elyser/sentinel.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=75
            end=150
            image="units/elyser/sentinel.png"
        [/frame]
    [/attack_anim]
[/unit_type]
