#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ey_Guard
    name= _ "Elyser Guard"
    image="units/elyser/guard.png"
    race=AE_RHY_elyser
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_STRONG}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    hitpoints=54
    movement_type=woodland
    movement=5
    {LESS_NIMBLE_ELF}
    experience=80
    level=2
    alignment=neutral
    advances_to=AE_rhy_ey_Sentinel
    cost=30
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "To protect their city the Elysians have estabished the order of guards. Those heavily armored elves can easily defend citywalls or battlelines. The large spear and shield does not allow them to use a bow anymore, but the additional defense is well worth it."
    die_sound={SOUND_LIST:ELF_HIT}
    [resistance]
        blade=80
        pierce=90
        impact=80
    [/resistance]
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        type=pierce
        range=melee
        damage=10
        number=3
    [/attack]
    {DEFENSE_ANIM "units/elyser/guard.png" "units/elyser/guard.png" {SOUND_LIST:ELF_HIT} }
    {AE_RHY_ANIM_SPEAR elyser/guard}
[/unit_type]
