#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_dalefolk_Herder
    name= _ "Herder"
    race=AE_efm_dalefolk
    image="units/Dalefolk/herder.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=28
    movement_type=elusivefoot
    movement=6
    experience=40
    level=1
    alignment=neutral
    advances_to=AE_efm_dalefolk_Mountaineer
    cost=13
    usage=mixed fighter
    description= _ "This unit is from The Era of Four Moons. Its coding was done by Velensk and art by L. Shelby.
One of the major industries and traits of the dalesfolk is their goat herding. They regularly send their bravest lads out into the mountains alone seeking land for their flocks to graze in. Over time these boys have become quite adept at seeking sheep and fighting predators. In times of war they are called in to serve as light skirmishers for the dalesfolk."
    {DEFENSE_ANIM "units/Dalefolk/herder.png" "units/Dalefolk/herder.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=human

    [movement_costs]
        hills=1
        mountains=2
    [/movement_costs]

    [attack]
        name=staff
        description={STR_STAFF}
        type=impact
        range=melee
        damage=3
        number=3
        icon=attacks/quarterstaff.png
    [/attack]
    [attack]
        name=sling
        description={STR_SLING}
        type=impact
        range=ranged
        damage=4
        number=3
        icon=attacks/sling.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-50
        [if]
            hits=no
            [frame]
                duration=100
                image="units/Dalefolk/herder.png"
                sound=miss-3.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/Dalefolk/herder.png"
                sound=staff.wav
            [/frame]
        [/else]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=sling
        [/filter_attack]
        offset=0.0
        [if]
            hits=yes
            {MISSILE_FRAME_STONE_HIT 5 -6}
            [frame]
                begin=-400
                end=-150
                image="units/Dalefolk/herder.png"
                sound=sling.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            {MISSILE_FRAME_STONE_MISS 5 -6}
            [frame]
                begin=-400
                end=-150
                image="units/Dalefolk/herder.png"
                sound=sling-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-150
            end=50
            image="units/Dalefolk/herder.png"
        [/frame]
    [/attack_anim]
[/unit_type]
