#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_dalefolk_Botanist
    name= _ "Botanist"
    race=AE_efm_dalefolk
    image="units/Dalefolk/botanist.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=39
    movement_type=AE_efm_dalefoot
    movement=5
    experience=80
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=30
    usage=healer
    description= _ "This unit is from The Era of Four Moons. Its coding was done by Velensk and art by L. Shelby.
As herbalists practice their art they become better at it."
    {DEFENSE_ANIM "units/Dalefolk/botanist.png" "units/Dalefolk/botanist.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=human

    [abilities]
        {ABILITY_CURES}
        {AE_ARCHAIC_ABILITY_TRINKETS}
    [/abilities]

    [attack]
        name=knife
        description={STR_KNIFE}
        type=blade
        range=melee
        damage=4
        number=4
        icon=attacks/dagger-human.png
    [/attack]
    [attack]
        name=fumes
        description= _ "syreleaf fumes"
        type=arcane
        range=ranged
        damage=7
        number=3
        icon=icons/potion_green_small.png
        [specials]
            {WEAPON_SPECIAL_POISON}
			{AE_CHS_WEAPON_SPECIAL_AIMED}	#Ageless-only, based on IPS suggestion
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=knife
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image=units/Dalefolk/botanist.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image=units/Dalefolk/botanist.png
                sound=dagger-swish.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=150
                image=units/Dalefolk/botanist.png
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=150
            end=175
            image=units/Dalefolk/botanist.png
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fumes
        [/filter_attack]
        start_time=-445
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/entangle.png"
        [/missile_frame]
        [frame]
            duration=65
            image="units/Dalefolk/botanist.png"
        [/frame]
        [frame]
            duration=75
            image="units/Dalefolk/botanist.png"
        [/frame]
        [frame]
            duration=75
            image="units/Dalefolk/botanist.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=200
                image="units/Dalefolk/botanist.png"
                sound=flame-big-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=200
                image="units/Dalefolk/botanist.png"
                sound=potion.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
