#textdomain wesnoth-Ageless_Era

# wmllint: general spellings Wolflings

[unit_type]
    id=AE_myh_Wolfling
    name= _ "Wolfling"
    race=AE_myh_therian
    {TRAIT_ATTUNED}
    image="units/wargs/wolfling.png"
    hitpoints=66
    movement_type=smallfoot
    movement=6
    experience=126
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=51
    usage=fighter
    description= {AE_EOM_UNIT_NOTICE} +  _ "Once a Shapeshifter has become fully integrated into Warg society they are known as Wolflings. They are no longer seen as a human presence within their society, but as essential companions."
    {DEFENSE_ANIM "units/wargs/wolfling.png" "units/wargs/wolfling.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}

    [movement_costs]
        forest=1
    [/movement_costs]
    [defense]
        village=40
        hills=50
        forest=50
    [/defense]

    [attack]
        name=scythe
        description={STR_SCYTHE}
        type=blade
        range=melee
        damage=12
        number=3
        icon=attacks/scythe.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=aura wave
        description= _ "aura wave"
        type=impact
        range=ranged
        damage=10
        number=2
        icon=attacks/faerie-fire.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=scythe
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/wargs/wolfling.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=aura wave
        [/filter_attack]
        {MISSILE_FRAME_THERIAN_AURA}
        start_time=-300
        [frame]
            image="units/wargs/wolfling.png:500"
        [/frame]
        {SOUND:HIT_AND_MISS sword-1.ogg sling-miss.ogg -50}
    [/attack_anim]
[/unit_type]
