#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_myh_Warrior_Warg
    name= _ "Warrior Warg"
    race=AE_myh_warg
    image="units/wargs/warrior.png"
    hitpoints=52
    movement_type=AE_myh_wolffoot
    movement=6
    experience=72
    level=2
    alignment=chaotic
    advances_to=AE_myh_Fenrir,AE_myh_Pack_Leader,AE_myh_Moon_Blade
    cost=30
    usage=fighter
    description= {AE_EOM_UNIT_NOTICE} +  _ "The Warg who have proven themselves worthy of the name are a force to be reckoned with when defending their homeland."
    die_sound={SOUND_LIST:WOLF_DIE}
    {DEFENSE_ANIM "units/wargs/warrior.png" "units/wargs/warrior.png" {SOUND_LIST:WOLF_HIT} }

    [attack]
        name=claws
        description={STR_SWORD}
        type=blade
        range=melee
        damage=11
        number=3
        icon=attacks/sword-human.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/wargs/warrior.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
