#textdomain wesnoth-Ageless_Era

# wmllint: general spelling Fenrir

[unit_type]
    id=AE_myh_Fenrir
    name= _ "Fenrir"
    race=AE_myh_warg
    image="units/wargs/fenrir.png"
    profile=unit_image
    small_profile="portraits/wargs/fenrir.png~CROP(0,0,190,205)~SCALE_INTO(300,300)"
    hitpoints=73
    movement_type=AE_myh_wolffoot
    movement=6
    experience=134
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=56
    usage=fighter
    description= {AE_EOM_UNIT_NOTICE} +  _ "Warg can fight quite well without weapons, as such many of their warriors never become skilled with them. However the ones who do, are given the title Fenrir, and are warriors to be feared."
    die_sound={SOUND_LIST:WOLF_DIE}
    {DEFENSE_ANIM "units/wargs/fenrir.png" "units/wargs/fenrir.png" {SOUND_LIST:WOLF_HIT} }

    [attack]
        name=axe
        description={STR_BATTLE_AXE}
        type=blade
        range=melee
        damage=12
        number=4
        icon=attacks/battleaxe.png
    [/attack]
    [attack]
        name=hammer
        description={STR_HAMMER}
        type=impact
        range=melee
        damage=15
        number=3
        icon=attacks/hammer.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/wargs/fenrir.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/wargs/fenrir.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
