#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_myh_Moon_Blade
    name= _ "Moon Blade"
    race=AE_myh_warg
    image="units/wargs/moon-blade/moon-blade.png"
    hitpoints=65
    movement_type=AE_myh_wolffoot
    movement=6
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=55
    usage=fighter
    description= {AE_EOM_UNIT_NOTICE} +  _ "The warg revere the moon, and sometimes the moon blesses devout warriors with strange powers. These warg are marked with white fur, and wield swords like slivers of the moon."
    die_sound={SOUND_LIST:WOLF_DIE}
    {DEFENSE_ANIM "units/wargs/moon-blade/moon-blade.png" "units/wargs/moon-blade/moon-blade.png" {SOUND_LIST:WOLF_HIT} }

    [resistance]
        cold=70
        arcane=70
    [/resistance]

    [attack]
        name=Moon Sword
        description= _ "Moon Sword"
        type=arcane
        range=melee
        damage=12
        number=3
        icon=attacks/scimitar.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Moon Sword
        [/filter_attack]
        start_time=-360
        [frame]
            image="units/wargs/moon-blade/moon-blade-attack-[1~7].png:80"
        [/frame]
        [frame]
            image="units/wargs/moon-blade/moon-blade-attack-8.png:180"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -35}
    [/attack_anim]
[/unit_type]
