#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_imp_Orcei_Pugnator
    name= _ "Pugnator"
    race=AE_imp_Orcei_Gladiatores_race
    image="units/orcs-magni/pugnator.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=42
    movement_type=AE_imp_magnifoot
    movement=5
    experience=40
    level=1
    alignment=neutral
    advances_to=AE_imp_Orcei_Paegniarius,AE_imp_Orcei_Bestiarius
    cost=15
    usage=fighter
    description= _ "This unit is from Imperial Era. Its coding and art were done by Turin and Various others.
 
Pugnatores were trained for those occasions when the Lavinian crowds demanded straightforward bludgeoning rather than intricate swordplay in the games. Those lucky few who have escaped Lavinian slavery continue to maintain their skills and abilities, and teach them to any of their brethren as are eager to learn."
    [attack]
        name=club
        description={STR_CLUB}
        type=impact
        range=melee
        damage=8
        number=2
    [/attack]
    [attack]
        name=whip
        description= _ "whip"
        type=impact
        range=melee
        damage=4
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=club
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=whip
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
    [/attack_anim]
[/unit_type]
