#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_kingdoms_rovahr_Mercenary
    name= _ "Mercenary"
    race=rovahrien
    gender=male
    image="units/rovahr/Mercenaire.png"
    hitpoints=55
    movement_type=smallfoot
    movement=6
    experience=75
    level=2
    alignment=lawful
    cost=28
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=AE_AoA_kingdoms_rovahr_Mercenary_Captain
    {TRAIT_FEARLESS}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/rovahr/Mercenaire.png" "units/rovahr/Mercenaire.png" {SOUND_LIST:HUMAN_HIT} }
    [movement_costs]
        frozen=2
    [/movement_costs]
    [defense]
        frozen=60
    [/defense]
    [resistance]
        blade=90
    [/resistance]
    [attack]
        name=epee
        description= _"sword"
        type=blade
        range=melee
        damage=8
        number=4
        icon=attacks/sword-human.png
    [/attack]
    {SWORD_SOUND}
[/unit_type]
