#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_myh_Dreadnought
    name= _ "female^Dreadnought"
    race=AE_myh_windsong
    gender=female
    image="units/windsong/dreadnought.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=70
    movement_type=AE_myh_windsongcourier
    [resistance]
        blade=70
        pierce=70
        impact=80
    [/resistance]
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=34
    usage=mixed fighter
    description= {AE_EOM_UNIT_NOTICE} +  _ "The records concerning the master Reavers for whom the title of Dreadnought was created tell not only of their heroic deeds in battle, of the courage with which they hurled themselves against hordes of foes, but also of their darker deeds, of cities razed to the ground and armies laid waste before their unstoppable advance. These legends have long since been forgotten by all but the Windsong themselves, but with the revival of their order, it is certain that new ones will soon be written."+{SPECIAL_NOTES}+{SPECIAL_NOTES_DAUNTLESS}+{SPECIAL_NOTES_MARKSMAN}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/windsong/dreadnought.png" "units/windsong/dreadnought.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [abilities]
        {ABILITY_DAUNTLESS}
    [/abilities]
    [attack]
        name=crush
        description={STR_CRUSH}
        icon=attacks/rock_thrown.png
        type=impact
        range=melee
        damage=10
        number=4
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=5
        number=5
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=crush
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/windsong/dreadnought.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS club.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-200
        [frame]
            image="units/windsong/dreadnought.png:200"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -200}
    [/attack_anim]
[/unit_type]
