#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_myh_Weaver
    name= _ "female^Weaver"
    race=AE_myh_windsong
    gender=female
    image="units/windsong/weaver.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=36
    movement_type=smallfoot
    [resistance]
        arcane=60
        blade=110
        impact=110
    [/resistance]
    movement=5
    experience=48
    level=1
    alignment=neutral
    advances_to=AE_myh_Envoy,AE_myh_Prophetess
    cost=18
    usage=mixed fighter
    description= {AE_EOM_UNIT_NOTICE} +  _ "While most Windsong are able to devote themselves to only one or two aspects of the cipher, there are those who are able to access many. When such a child is born, a spirit from The Raw appears and binds to them. To best make use of their gifts, these 'Weavers' (for they can intertwine their ciphers) are given the best education and training that the Council can provide.

Once they reach adulthood, Weavers fill a number of different roles in Windsong society: they are the healers, the planners, the diviners, and the military leaders. They pursue the art of archery, viewing it as a form of meditation, and are aided in both everyday life and battle by their accompanying spirit.

The first lessons a Weaver-born learns are the arts of healing, though she cannot yet cure poison."+{SPECIAL_NOTES}+{SPECIAL_NOTES_HEALS}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/windsong/weaver.png" "units/windsong/weaver.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    [attack]
        name=purge
        description= _ "purge"
        icon=attacks/faerie-fire.png
        type=cold
        range=melee
        damage=4
        number=3
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=9
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=purge
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/windsong/weaver.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-200
        [frame]
            image="units/windsong/weaver.png:200"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -200}
    [/attack_anim]
[/unit_type]
