#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_myh_Oathkeeper
    name= _ "female^Oathkeeper"
    race=AE_myh_windsong
    gender=female
    image="units/windsong/oathkeeper.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=76
    movement_type=smallfoot
    [movement_costs]
        frozen=2
        cave=3
    [/movement_costs]
    [defense]
        castle=30
        frozen=60
        cave=70
    [/defense]
    [resistance]
        blade=70
        pierce=70
        impact=70
        fire=90
        cold=90
        arcane=100
    [/resistance]
    movement=4
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=50
    usage=fighter
    description= {AE_EOM_UNIT_NOTICE} +  _ "Until recently, it was believed that the Oathkeeper caste had, like many others, vanished with time, made unnecessary by long years of peace. It was not until the deepest vaults opened and they marched forth to do battle that it became clear that the Oathkeeper title had not only survived, but that the mantle had been passed down from generation to generation through the millenia. Those few who are offered membership are inevitably among the most skilled warriors ever to walk the world, and capable of holding back entire armies singlehandedly."+{SPECIAL_NOTES}+{SPECIAL_NOTES_COUNTER}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/windsong/oathkeeper.png" "units/windsong/oathkeeper.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [attack]
        name=fist
        description={STR_FIST}
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=7
        number=6
        [specials]
            {WEAPON_SPECIAL_COUNTER}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/windsong/oathkeeper.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
