#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_farnains_baliste
    name= _ "Balista"
    race=mechanical
    gender=male
    image="units/Far_nains/Baliste.png"
    hitpoints=36
    movement_type=armoredfoot
    movement=5
    experience=40
    level=1
    alignment=lawful
    cost=20
    usage=archer
    description={AE_AOA_UNIT_NOTICE}+ _ "description a venir"
    advances_to=AE_AoA_farnains_grandeBaliste,AE_AoA_farnains_bombarde
    die_sound={SOUND_LIST:DWARF_DIE}
    [resistance]
        blade=110
        fire=150
        pierce=90
        impact=80
    [/resistance]
    [attack]
        name=hache
        description= _"Hatchet"
        type=blade
        range=melee
        damage=4
        number=2
        icon=attacks/axe.png
    [/attack]
    [attack]
        name=arbalete
        description= _"bombardment"
        type=pierce
        range=ranged
        damage=11
        number=3
        icon=attacks/ballista.png
    [/attack]
    [attack]
        name=arbalete
        description= _"balista"
        type=pierce
        range=ranged
        damage=32
        number=1
        icon=attacks/ballista.png
    [/attack]
    {AXE_SOUND}
    {CROSSBOW_SOUND}
[/unit_type]
