#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_farnains_mageDesRunes
    name= _ "Runes mage"
    race=farNain
    gender=male
    image="units/Far_nains/Mage-des-runes.png"
    halo="halo/fire-aura-little-light.png"
    hitpoints=50
    movement_type=dwarvishfoot
    movement=4
    experience=144
    level=3
    alignment=neutral
    cost=70
    usage=mixed fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=AE_AoA_farnains_archimageDesRunes
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/Far_nains/Mage-des-runes.png" "units/Far_nains/Mage-des-runes.png" {SOUND_LIST:DWARF_HIT} }
    [abilities]
        {ABILITY_RUNIC_RESISTANCE}
    [/abilities]
    [resistance]
        cold=70
        fire=70
        arcane=80
    [/resistance]
    [attack]
        name=marteau
        description=_"runic hammer"
        type=impact
        range=melee
        damage=9
        number=3
        icon=attacks/hammer-dwarven-runic.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=foudre
        description= _"runic lightning"
        type=fire
        range=ranged
        damage=10
        number=4
        icon=attacks/lightning.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {MACE_SOUND}
    {LIGHTNING_SOUND 1}
    {LIGHTNING_SOUND 2}
    {LIGHTNING_SOUND 3}
[/unit_type]
