#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_imp_Arendians_Hunter
    name= _ "Hunter"
    race=AE_imp_arendians_race
    image="units/human-arendians/hunter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=46
    movement_type=AE_imp_arendianfoot
    movement=5
    experience=88
    level=2
    alignment=lawful
    advances_to=AE_imp_Arendians_Slayer
    cost=39
    usage=archer
    description= _ "This unit is from Imperial Era. Its coding and art were done by Turin and Various others.
 
Hunters are an ancient cult in Arendia. These men used to go out, usually with only the cloaks on their backs for protection, and hunt the dragons that lived in and around Arendia. They were known as hunters for they had not yet found their prey. When they did, and had single-handedly killed it, they became known as slayers. The Arendians have no word for one who has found a dragon and not slain him, for all such combats were required to be to the death, but the closest word would be 'fodir', which translates roughly as 'food.'

 Of course these days there are only wyverns for them to hunt and kill, and few enough of them anyway, but the hunter cult lives on as an unofficial segment of Arendian clan armies. They operate as advance infantry in special situations. They do not take orders, but must be asked to assist. They are typically glad to wield their blades in Arendian service."
    {DEFENSE_ANIM "units/human-arendians/hunter.png" "units/human-arendians/hunter.png" {SOUND_LIST:HUMAN_HIT}}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=sword
        description={STR_SWORD}
        type=blade
        range=melee
        damage=7
        number=4
        icon=attacks/sword-arendian.png
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=8
        number=3
        icon=attacks/bow.png
    [/attack]
    [attack]
        name=fire arrow
        description= _ "fire arrow"
        type=fire
        range=ranged
        damage=10
        number=2
        icon=attacks/bow.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            image="units/human-arendians/hunter.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            image="units/human-arendians/hunter.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fire arrow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-100
            end=100
            image="units/human-arendians/hunter.png"
        [/frame]
    [/attack_anim]
[/unit_type]
