#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_imp_Arendians_Warrior
    name= _ "Warrior"
    race=AE_imp_arendians_race
    image="units/human-arendians/warrior.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=52
    movement_type=AE_imp_arendianarmored
    movement=5
    experience=98
    level=2
    alignment=lawful
    advances_to=AE_imp_Arendians_Battlear
    cost=32
    usage=fighter
    description= _ "This unit is from Imperial Era. Its coding and art were done by Turin and Various others.
 
After the rise of the Lavinians the clans on the southern edges of the plains of Arendia had a problem. Most of their fighters used swords or arrows to fight, as had been their tradition for centuries, however these Lavinians all wore metal armour. Wearing metal as armour was not an unknown concept for the arendians, but it was only worn by their close combat fighters, and their best archers, it never covered their whole body because they simply did not have enough, and it got in the way when fighting because it was so heavy. And so, to adapt to this new threat, these clans started to train their fighters to use maces instead of swords, because although maces didn't pierce the armour, it could crush or crumple it, wounding the wearer."
    {DEFENSE_ANIM "units/human-arendians/warrior.png" "units/human-arendians/warrior.png" {SOUND_LIST:HUMAN_HIT}}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=mace
        description={STR_MACE}
        type=impact
        range=melee
        damage=15
        number=2
        icon=attacks/sword-arendian.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            image="units/human-arendians/warrior.png"
        [/frame]
    [/attack_anim]
[/unit_type]
