#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_slavers_Worker
    name= _ "Worker"
    race=AE_mrc_slavers_race
    gender=male
    image="units/slavers/worker.png"
    profile="portraits/Jason_Lutes/human-peasant.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=40
    movement_type=AE_mrc_slavers_workerfoot
    movement=4
    experience=40
    level=1
    alignment=chaotic
    advances_to=AE_mrc_slavers_Miner
    cost=12
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"In slave encampments, there are often thousands of people, who do all the work, and also fight to protect the encampment. They get no pay, merely the knowledge that they are alive, and the hope for a better future if they work well. While they could run away, they much more fear death than they fear life as a slave. The crack of a whip is enough to move them to whatever their master wills."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/slavers/worker.png" "units/slavers/worker.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack]
        name=hammer
        description={STR_HAMMER}
        type=impact
        range=melee
        damage=9
        number=2
        icon=attacks/hammer.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/slavers/worker.png"
            sound=mace.wav
        [/frame]
    [/attack_anim]
[/unit_type]
