#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_imp_Issaelfr_Alpine_Ranger
    name= _ "Alpine Ranger"
    race=AE_imp_issaelfr_race
    image="units/elves-frost/alpine-ranger.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=64
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_3}
    [/abilities]
    movement_type=AE_imp_fe_mountain
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=archer
    cost=80
    usage=mixed fighter
    description= _ "This unit is from Imperial Era. Its coding and art were done by Turin and Various others.
 
The mountains of the Issaelfr are dangerous to cross on foot, and most men must take great care when doing so to avoid plummeting to their death in hidden crevasses or sliding down steep and slippery embankments. The Alpine Rangers, however, have such skill at mountaineering that they can move almost as fast on treacherous mountains as they do on even ground."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
    {DEFENSE_ANIM "units/elves-frost/alpine-ranger.png" "units/elves-frost/alpine-ranger.png" groan.wav}
    [attack]
        name=sword
        description={STR_SWORD}
        type=blade
        icon=attacks/sword-elven.png
        range=melee
        damage=6
        number=4
    [/attack]
    [attack]
        name=ice pick
        description= _ "ice pick"
        type=pierce
        icon=attacks/blank-attack.png
        range=melee
        damage=16
        number=1
    [/attack]
    [attack]
        name=ice pick
        description= _ "ice pick"
        type=impact
        icon=attacks/blank-attack.png
        range=melee
        damage=8
        number=2
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=10
        number=4
        icon=attacks/bow-elven.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            sound={SOUND_LIST:SWORD_SWISH}
            #			image="units/elves-frost/alpine-ranger-attack.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=ice pick
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            sound={SOUND_LIST:SWORD_SWISH}
            #			image="units/elves-frost/alpine-ranger-attack-pick.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=ice pick
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            sound=staff.wav
            #			image="units/elves-frost/alpine-ranger-attack-pick.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [frame]
            begin=-400
            end=-250
            #			image="units/elves-frost/alpine-ranger-attack1.png"
        [/frame]
        [frame]
            begin=-250
            end=-150
            sound=bow.ogg
            #			image="units/elves-frost/alpine-ranger-attack2.png"
        [/frame]
        [frame]
            begin=-150
            end=0
            #			image="units/elves-frost/alpine-ranger-attack3.png"
        [/frame]
        [missile_frame]
            begin=-100
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
    [/attack_anim]
[/unit_type]
