#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_imp_Issaelfr_Ice_Roamer
    name= _ "Ice Roamer"
    race=AE_imp_issaelfr_race
    image="units/elves-frost/ice-roamer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=44
    movement_type=AE_imp_fe_roamer
    movement=6
    experience=73
    level=2
    alignment=neutral
    advances_to=AE_imp_Issaelfr_Ice_Dancer
    cost=33
    usage=mixed fighter
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    description= _ "This unit is from Imperial Era. Its coding and art were done by Turin and Various others.
 
The most elegant of Bladesmen become Ice Roamers, and perfect the skill of fighting upon frozen water with the speed of one fighting on land - and have learned to move and fight on land faster than one would think possible. They fight alone, and often make their way through enemy lines to strike at the opponent's rear to break a hole for their slower allies to take advantage of."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}
    {DEFENSE_ANIM "units/elves-frost/ice-roamer.png" "units/elves-frost/ice-roamer.png" groan.wav}
    [attack]
        name=sword
        description={STR_SWORD}
        type=blade
        range=melee
        damage=5
        number=5
        icon=attacks/sword-elven.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            sound={SOUND_LIST:SWORD_SWISH}
            #			image="units/elves-frost/ice-roamer-attack.png"
        [/frame]
    [/attack_anim]
[/unit_type]
