#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ext_dark_elves_Ice_Wyrm
    name= _ "Ice Wyrm"
    race=AE_ext_dark_elves_wyrm_race
    gender=female
    image="units/wyrms-ice/wyrm1.png"
    hitpoints=41
    movement_type=AE_ext_wyrmcrawl
    movement=5
    experience=41
    level=1
    alignment=chaotic
    advances_to=AE_ext_dark_elves_Frost_Wyrm,AE_ext_dark_elves_Mistral_Wyrm
    cost=21
    usage=mixed fighter
    undead_variation=drake
    description= _ "This unit is from Unknown. Its coding and art were done by ???.
 
Cold-blooded reptiles from the north, ice wyrms are the youngling form of creatures that can live centuries. Despite their relative youth, they are already twice the size of the common man. Frightening creatures to encounter, they are capable of blasting enemies with their icy breath, or lashing them with their tail. Even worse, their scaly hide offers them natural protection against a warrior's blade. It is fortunate that their natural environment has made them ill-suited to face fire."
    die_sound=wail-long.wav
    {DEFENSE_ANIM "units/wyrms-ice/wyrm1.png" "units/wyrms-ice/wyrm1.png" wail.wav}
    [attack]
        name=tail
        description={STR_TAIL}
        icon=attacks/tail-dragon.png
        type=impact
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=cold breath
        description= _ "cold breath"
        icon=attacks/faerie-fire.png
        type=cold
        range=ranged
        damage=4
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=tail
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=200
                sound=tail.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=200
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=cold breath
        [/filter_attack]
        {MISSILE_FRAME_FAERIE_FIRE}
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                sound=magic-faeriefire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                sound=magic-faeriefire-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
