#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_imperialists_Hoplite
    name= _ "Hoplite"
    race=AE_efm_imperialists_race
    image="units/imperialists/hoplite.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=55
    movement_type=AE_efm_imperialists_legionfoot
    movement=4
    experience=84
    level=2
    alignment=lawful
    advances_to=AE_efm_imperialists_Phalanx
    cost=32
    usage=fighter
    description= _ "This unit is from The Era of Four Moons. Its coding was done by Velensk and art by L. Shelby.
Sometimes the imperialist forces very up their tactics and use a wall of spears rather than their traditional method of grinding. This limits their mobility but any enemy will find this formation hard to break."
    {DEFENSE_ANIM "units/imperialists/hoplite.png" "units/imperialists/hoplite.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=human

    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]

    [resistance]
        arcane=80
        blade=80
        impact=80
        pierce=80
        cold=100
        fire=110
    [/resistance]

    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=14
        number=2
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-150
        [if]
            hits=no
            [frame]
                duration=400
                image="units/imperialists/hoplite.png"
                sound=spear-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=400
                image="units/imperialists/hoplite.png"
                sound=spear.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
