#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_imperialists_Standard
    name= _ "Standard"
    race=AE_efm_imperialists_race
    image="units/imperialists/standard.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=36
    movement_type=AE_efm_imperialists_legionfoot
    movement=5
    experience=44
    level=1
    alignment=lawful
    advances_to=AE_efm_imperialists_Centurion
    cost=20
    usage=healer
    description={AE_EFM_UNIT_NOTICE}+"The saying among the legionnaires is that if you can keep your standard erect you are holding the line. Standards not only tell soldiers where they are supposed to be and where their officer is but are also a symbol of strength. The standards effect on moral bolsters the resistances of the units around it. The officer guarding the standard is armed with a crossbow and short sword and would die before he sees his position fall."
    {DEFENSE_ANIM "units/imperialists/standard.png" "units/imperialists/standard.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=human

    [abilities]
        {AE_ABILITY_STANDARD}
    [/abilities]

    [resistance]
        arcane=80
        blade=100
        impact=100
        pierce=100
        cold=110
        fire=110
    [/resistance]

    [attack]
        name=short sword
        description={STR_SHORT_SWORD}
        type=blade
        range=melee
        damage=4
        number=3
        icon=attacks/sword-human-short.png
    [/attack]
    [attack]
        name=crossbow
        description={STR_CROSSBOW}
        type=pierce
        range=ranged
        damage=12
        number=1
        icon=attacks/crossbow-undead.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=crossbow
        [/filter_attack]
        start_time=-200
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            duration=100
            image="units/imperialists/standard.png"
            sound=crossbow.ogg
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/imperialists/standard.png"
                sound=crossbow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/imperialists/standard.png"
                sound=crossbow-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=short sword
        [/filter_attack]
        start_time=-150
        [if]
            hits=no
            [frame]
                duration=300
                image="units/imperialists/standard.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=300
                image="units/imperialists/standard.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
