#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_imperialists_Rock_Rider
    name= _ "Rock Rider"
    race=AE_efm_imperialists_race
    image="units/imperialists/rockrider.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=56
    movement_type=AE_efm_imperialists_armadilofoot
    movement=8
    experience=90
    level=2
    alignment=lawful
    advances_to=AE_efm_imperialists_Tank,AE_efm_imperialists_Avalanche
    cost=34
    usage=scout
    description={AE_EFM_UNIT_NOTICE}+"Rock rider is derived from the jokes the foot soldiers make about the hardbacks. Even if the jokes are generally derogatory in nature the toughness of these warriors is greatly valued by the imperium."
    {DEFENSE_ANIM "units/imperialists/rockrider.png" "units/imperialists/rockrider.png" yeti-hit.ogg }
    die_sound=yeti-die.ogg
    undead_variation=human

    [resistance]
        arcane=90
        blade=70
        impact=90
        pierce=80
        cold=120
        fire=80
    [/resistance]

    [attack]
        name=mace
        description={STR_MACE}
        type=impact
        range=melee
        damage=8
        number=3
        icon=attacks/mace.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        start_time=-250
        [if]
            hits=no
            [frame]
                duration=400
                image="units/imperialists/rockrider.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=400
                image="units/imperialists/rockrider.png"
                sound=mace.wav
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
