#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_hive_Firefly
    name= _ "Firefly"
    race=AE_mrc_hive_race
    gender=male
    image="units/hive/firefly.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=34
    movement_type=AE_mrc_hive_hivelightfly
    movement=6
    experience=55
    level=1
    alignment=neutral
    advances_to=AE_mrc_hive_Lanterbug
    die_sound=hiss-big.wav
    cost=16
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"
"

    [resistance]
        fire=50
        impact=130
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" hiss.wav }

    [attack]
        name=Tackle
        description= _ "Tackle"
        icon=attacks/rock_thrown.png
        type=impact
        range=melee
        damage=4
        number=4
        [specials]
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Tackle
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/hive/firefly.png"
            sound=naga-hit-3.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
