#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_hive_Infest
    name= _ "Infest"
    race=AE_mrc_hive_race
    gender=male
    image="units/hive/infest.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=29
    movement_type=AE_mrc_hive_hivelargefly
    movement=6
    experience=70
    level=2
    alignment=neutral
    advances_to=AE_mrc_hive_Drove
    die_sound=hiss-big.wav
    cost=32
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"
"

    [resistance]
        blade=60
        pierce=60
        impact=80
    [/resistance]

    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]

    #{DEFENSE_ANIM "" "" hiss.wav }

    [attack]
        name=Bite
        description={STR_BITE}
        icon=attacks/javelin-orcish.png
        type=pierce
        range=melee
        damage=6
        number=6
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_SWARM}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Bite
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/hive/infest.png"
            sound=bite-small.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
