#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_feu_high_elves_Tireur_d_Elite
    name= _ "Tireur d'Elite"
    race=AE_feu_high_elves_race
    image="units/elves-high/tireur.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=52
    movement_type=AE_feu_highelvenfoot
    movement=6
    experience=150
    {AMLA_DEFAULT}
    level=3
    alignment=neutral
    advances_to=null
    cost=54
    usage=archer
    description= _ "This unit is from Feudal Era. Its coding and art were done by Turin and Various others.
 
The finest of High Elven archers are posessed of skills that seem incredible to other menn. They consider themselves a class apart from their brethren, it is said that among their number are warriors who voyaged across the northern ice and fought alongside the first Issaelfr lords, or even Vanimaro himself. These tales do not seem unlikely given their amazing prowess; though they train almost constantly, it is easy to believe that only centuries of war could produce such mastery."
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/elves-high/tireur.png" "units/elves-high/tireur.png" {SOUND_LIST:ELF_HIT}}
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=9
        number=5
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/elves-high/tireur.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/elves-high/tireur.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
    [/attack_anim]
[/unit_type]
