#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_feu_high_elves_Cavalier
    name= _ "Cavalier"
    race=AE_feu_high_elves_race
    image="units/elves-high/cavalier.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=55
    movement_type=AE_feu_highelvenmounted
    movement=8
    experience=65
    level=2
    alignment=neutral
    advances_to=AE_feu_high_elves_Escrimeur
    cost=39
    usage=scout
    description= _ "This unit is from Feudal Era. Its coding and art were done by Turin and Various others.
 
The High Elven cavaliers represent a kind of fighter that humans have attempted to create throughout history - a cavalrymann who can fight well in a melee and can also hold his own at range - but they are almost certainly the most successful of these attempts. Abandoning the spear for a finely crafted backsword, they are a match for any Ceresian knight at close quarters; for combat at a distance, they carry crossbows, shooting left and right with astonishing skill."
    die_sound=horse-die.ogg
    {DEFENSE_ANIM "units/elves-high/cavalier.png" "units/elves-high/cavalier.png" {SOUND_LIST:HORSE_HIT} }
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=8
        number=4
    [/attack]
    [attack]
        name=crossbow
        description={STR_CROSSBOW}
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=12
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/elves-high/cavalier.png"
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-150
                end=150
                image="units/elves-high/cavalier.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-150
                end=150
                image="units/elves-high/cavalier.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=crossbow
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-500
                end=-300
                image="units/elves-high/cavalier.png"
                sound=crossbow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-500
                end=-300
                image="units/elves-high/cavalier.png"
                sound=crossbow-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-300
            end=-0
            image="units/elves-high/cavalier.png"
        [/frame]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
    [/attack_anim]
[/unit_type]
