#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_feu_high_elves_Lancier
    name= _ "Lancier"
    race=AE_feu_high_elves_race
    image="units/elves-high/lancier.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=52
    movement_type=AE_feu_highelvenmounted
    movement=9
    experience=63
    level=2
    alignment=neutral
    advances_to=AE_feu_high_elves_Gendarme
    cost=40
    usage=fighter
    description= _ "This unit is from Feudal Era. Its coding and art were done by Turin and Various others.
 
The most daring chargers often choose to continue fighting with lances alone. While this is a dangerous tactic - a failed charge leaves few survivors - it is terrifically effective when used propery. Lanciers can run down an enemy without their foes being able to strike a single blow."
    die_sound=horse-die.ogg
    {DEFENSE_ANIM "units/elves-high/lancier.png" "units/elves-high/lancier.png" {SOUND_LIST:HORSE_HIT} }
    [attack]
        name=lance
        description={STR_LANCE}
        icon=attacks/lance.png
        type=pierce
        range=melee
        damage=12
        number=3
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=lance
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/elves-high/lancier.png"
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=150
                image="units/elves-high/lancier.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=150
                image="units/elves-high/lancier.png"
                sound=spear.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
