#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_feu_high_elves_Escrimeur
    name= _ "Escrimeur"
    race=AE_feu_high_elves_race
    image="units/elves-high/escrimeur.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=56
    movement_type=AE_feu_highelvenmounted
    movement=8
    experience=150
    {AMLA_DEFAULT}
    level=3
    alignment=neutral
    cost=53
    usage=scout
    description= _ "This unit is from Feudal Era. Its coding and art were done by Turin and Various others.
 
The ideal of the all-purpose cavalrymann - the ideal that has eluded humans for so long - is embodied by the escrimeurs. While not as devastating in the charge as a gendarme, they are as versatile and deadly as any cavalrymann could hope to be. Their skills with horse, sword, and crossbow seem incredible to other races, and are held in high regard even by their fellow elves."
    die_sound=horse-die.ogg
    {DEFENSE_ANIM "units/elves-high/escrimeur.png" "units/elves-high/escrimeur.png" {SOUND_LIST:HORSE_HIT} }
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=11
        number=4
    [/attack]
    [attack]
        name=crossbow
        description={STR_CROSSBOW}
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=20
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/elves-high/escrimeur.png"
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-150
                end=150
                image="units/elves-high/escrimeur.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-150
                end=150
                image="units/elves-high/escrimeur.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=crossbow
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-500
                end=-300
                image="units/elves-high/escrimeur.png"
                sound=crossbow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-500
                end=-300
                image="units/elves-high/escrimeur.png"
                sound=crossbow-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-300
            end=-0
            image="units/elves-high/escrimeur.png"
        [/frame]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
    [/attack_anim]
[/unit_type]
