#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_feu_high_elves_Gendarme
    name= _ "Gendarme"
    race=AE_feu_high_elves_race
    image="units/elves-high/gendarme.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=53
    movement_type=AE_feu_highelvenmounted
    movement=9
    experience=150
    {AMLA_DEFAULT}
    level=3
    alignment=neutral
    cost=67
    usage=fighter
    description= _ "This unit is from Feudal Era. Its coding and art were done by Turin and Various others.
 
Lanciers' preferred method of attack - a single, head-on charge - is so risky that most are killed in battle before they can perfect their skills. Those that survive to become veterans are inevitably masters of fighting and horsemanship. Known as gerdarmes, these menn are among the most terrifying opponents that can ever be met in battle; their charges are nigh-on unstoppable, causing untold devastation when they strike."
    die_sound=horse-die.ogg
    {DEFENSE_ANIM "units/elves-high/gendarme.png" "units/elves-high/gendarme.png" {SOUND_LIST:HORSE_HIT} }
    [attack]
        name=lance
        description={STR_LANCE}
        icon=attacks/lance.png
        type=pierce
        range=melee
        damage=15
        number=3
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=lance
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/elves-high/gendarme.png"
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=150
                image="units/elves-high/gendarme.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=150
                image="units/elves-high/gendarme.png"
                sound=spear.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
