#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_feu_high_elves_Shieldbearer
    name= _ "Shieldbearer"
    race=AE_feu_high_elves_race
    image="units/elves-high/shieldbearer.png"
    hitpoints=52
    movement_type=AE_feu_highelvenfoot
    movement=4
    experience=68
    level=2
    alignment=neutral
    advances_to=AE_feu_high_elves_Aegis
    cost=32
    usage=fighter
    description= _ "This unit is from Feudal Era. Its coding and art were done by Turin and Various others.

The lords of the High Elves lead their men with brilliance of both thought and deed, and as such are often targeted by an enemy hoping that if the head is cut off, the body will die. The Shieldbearers are tasked with accompanying these great lords, forming an impenetrable wall to defend them from the assaults of the enemy, or with securing strategic points before reinforcements can arrive. Because they carry great tower shields, even larger than those of the Lavinians, many a man has assumed them to be slow and lumbering. Many a man has also been thrown to the ground by a surprisingly quick blow from a Shieldbearer's shield."
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/elves-high/shieldbearer.png" "units/elves-high/shieldbearer.png" {SOUND_LIST:ELF_HIT}}
    [abilities]
        {ABILITY_STEADFAST}
        {ABILITY_AE_FORMATION}
    [/abilities]

    [resistance]
        arcane=115
        fire=105
        cold=105
    [/resistance]

    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=shield
        description={STR_SHIELD_BASH}
        icon=attacks/shield-lavinian-silver.png
        type=impact
        range=melee
        damage=10
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/elves-high/schiltron.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/elves-high/schiltron.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shield
        [/filter_attack]
        [if]
            hits=no
            [frame]
                image="units/elves-high/shieldbearer.png"
                sound={SOUND_LIST:MISS}
                begin=-100
                end=100
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                image="units/elves-high/shieldbearer.png"
                sound=club.ogg
                begin=-100
                end=100
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
