#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_feu_high_elves_Fouchardier
    name= _ "Fouchardier"
    race=AE_feu_high_elves_race
    image="units/elves-high/fouchardier.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=60
    movement_type=AE_feu_highelvenfoot
    movement=5
    experience=150
    {AMLA_DEFAULT}
    level=3
    alignment=neutral
    cost=50
    usage=fighter
    description= _ "This unit is from Feudal Era. Its coding and art were done by Turin and Various others.
 
In each schiltron, there are bound to be at least a handful of Fouchardiers. These former Schiltrons are esteemed veterans, but not merely longstanding members of their group.

To become one of the honored Fouchardiers, a Schiltron must fight a battle alone, without his formation. Due to difficult nature of the wielding of the pike without support, many do not pass this test, instead succumbing to their inexperience and fear. Oddly enough, Fouchardier are encouraged to receive wounds during their test, and each has many scars. This lends itself to an easy system of distributing the Fouchardier among the schiltrons: each schiltron is allotted thirty scars."
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/elves-high/fouchardiers.png" "units/elves-high/fouchardiers.png" {SOUND_LIST:ELF_HIT}}
    [attack]
        name=pike
        description={STR_PIKE}
        icon=attacks/pike.png
        type=pierce
        range=melee
        damage=14
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=pike
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/elves-high/fouchardier.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/elves-high/fouchardier.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
