#textdomain wesnoth-Era_of_Myths

# wmllint: general spellings galeforce

[race]
    id=AE_chs_elemental
    name= _ "race^Elemental"
    female_name= _ "race+female^Elemental"
    plural_name= _ "race^Elementals"
    num_traits=2
    undead_variation=null
    ignore_global_traits=yes
    description= _  "The word 'elemental' is a term used to describe a magical creature that is purely composed of elemental energy. Apparently, the creation of an elemental involves the presence of powerful, arcane magic. Therefore, they are often found in an area influenced by an extremely powerful force. Albeit a somewhat rare situation, they are also found under the control of very powerful mages, those who are adept with the manipulation of aura and elemental energy. Although their behavior and characteristics differ due to the different elements of which they are composed, they generally have no personality (except for some of the more powerful elementals or those that were created in a manner that would grant them personality), and are protective of the force that created them. In addition, an elemental obviously has the powers, abilities, etc. associated with the element of which it is composed."
    {TRAIT_ELEMENTAL}
[/race]

[movetype]
    name=AE_chs_furnacefoot
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water=5
        reef=5
        swamp_water=4
        flat=1
        sand=1
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=4
        unwalkable=50
        impassable=50
        fungus=2
        lava=1
    [/movement_costs]
    [defense]
        deep_water=90
        shallow_water=90
        reef=90
        swamp_water=80
        flat=60
        sand=50
        forest=60
        hills=50
        mountains=50
        village=50
        castle=50
        cave=60
        frozen=90
        unwalkable=80
        impassable=80
        fungus=60
    [/defense]
    [resistance]
        blade=80
        pierce=80
        impact=80
        fire=50
        cold=130
        arcane=100
    [/resistance]
[/movetype]

[movetype]
    name=AE_chs_firefly
    flies=true
    [movement_costs]
        deep_water=3
        shallow_water=3
        swamp_water=1
        reef=1
        flat=1
        sand=1
        forest=1
        hills=1
        mountains=1
        village=1
        castle=1
        cave=1
        frozen=2
        unwalkable=1
        impassable={UNREACHABLE}
        fungus=1
    [/movement_costs]
    [defense]
        deep_water=80
        shallow_water=80
        swamp_water=70
        reef=70
        flat=50
        sand=50
        forest=50
        hills=50
        mountains=50
        village=50
        castle=50
        cave=40
        frozen=80
        unwalkable=50
        fungus=60
    [/defense]
    [resistance]
        blade=90
        pierce=90
        impact=90
        fire=40
        cold=150
        arcane=120
    [/resistance]
[/movetype]

[movetype]
    name=AE_chs_windfly
    flies=true
    [movement_costs]
        deep_water=1
        shallow_water=1
        swamp_water=1
        reef=1
        flat=1
        sand=1
        forest=1
        hills=1
        mountains=1
        village=1
        castle=1
        cave=2
        frozen=1
        unwalkable=1
        impassable={UNREACHABLE}
        fungus=2
    [/movement_costs]
    [defense]
        deep_water=50
        shallow_water=50
        swamp_water=50
        reef=50
        flat=50
        sand=50
        forest=50
        hills=50
        mountains=50
        village=50
        castle=50
        cave=80
        frozen=50
        unwalkable=50
        fungus=80
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=90
        arcane=120
    [/resistance]
[/movetype]

[movetype]
    name=AE_chs_water
    flies=true
    [movement_costs]
        deep_water=1
        shallow_water=1
        swamp_water=1
        reef=1
        flat=2
        sand=2
        forest=5
        hills=5
        mountains={UNREACHABLE}
        village=1
        castle=1
        cave=3
        frozen=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=3
    [/movement_costs]
    [defense]
        deep_water=50
        shallow_water=40
        swamp_water=40
        reef=40
        flat=70
        sand=70
        forest=70
        hills=70
        village=60
        castle=60
        cave=80
        frozen=70
        fungus=80
    [/defense]
    [resistance]
        blade=90
        pierce=90
        impact=80
        fire=70
        cold=70
        arcane=120
    [/resistance]
[/movetype]

[movetype]
    name=AE_chs_vinefoot
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water=3
        swamp_water=2
        reef=2
        flat=1
        sand=2
        forest=1
        hills=2
        mountains=3
        village=1
        castle=1
        cave=3
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        frozen=2
        fungus=2
    [/movement_costs]
    [defense]
        shallow_water=80
        swamp_water=70
        reef=70
        flat=60
        sand=70
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=70
        frozen=70
        fungus=50
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=110
        cold=100
        arcane=120
    [/resistance]
[/movetype]

{~add-ons/Ageless_Era/units/EoC_units/elementals}
