#textdomain wesnoth-Ageless_Era
[race]
    id=AE_mrc_Blight
    name= _ "race^Blight"
    plural_name= _ "race^Blight"
    description= _ "The last of the three great signs of the Apocalypse was the blight. Corpses risen from death to eat the flesh of others and spread a disease caused strange creatures that seemed to control them like puppets. While little was originally known about these creatures a group of oracle scholars pent up in a heavily fortified University with help of magus stasis fields were able to capture and study these unholy beasts to find that they are controlled by small microbes and a later evolution of which is a large flesh burrowing parasite. As a whole they are necrophagial but spread easily and take over the corpses of any dead, it is believed because of these facts that they are the worst of the three plagues upon humanity, and the most likely to be unstoppable. This archive of research is in memory of the now infected scholar: Bik"
    markov_chain_size=2
    num_traits=1
    ignore_global_traits=yes
    {TRAIT_UNDEAD}
[/race]

[movetype]
    name=AE_mrc_blobfoot
    [movement_costs]
        deep_water=2
        reef=2
        shallow_water=2
        swamp_water=2
        flat=1
        sand=3
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        frozen=4
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=40
        reef=60
        shallow_water=60
        swamp_water=50

        flat=70
        sand=80
        forest=60
        hills=60

        mountains=60
        village=60
        castle=60
        cave=60
        unwalkable=70
        frozen=90
        fungus=60
    [/defense]
    [resistance]
        blade=85
        pierce=35
        impact=35
        fire=120

        cold=130
        arcane=60
    [/resistance]
[/movetype]

[movetype]
    name=AE_mrc_microbefoot
    [movement_costs]
        deep_water=2
        reef=2
        shallow_water=2

        swamp_water=2
        flat=1
        sand=3
        forest=2

        hills=2
        mountains=3
        village=1
        castle=1

        cave=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        frozen=3
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=50
        reef=50
        shallow_water=50
        swamp_water=40

        flat=60
        sand=60
        forest=50
        hills=50

        mountains=50
        village=50
        castle=50
        cave=50
        unwalkable=60
        frozen=80
        fungus=50
    [/defense]
    [resistance]
        blade=85
        pierce=30
        impact=30
        fire=125

        cold=125
        arcane=85
    [/resistance]
[/movetype]

[movetype]
    name=AE_mrc_blightfoot
    [movement_costs]
        deep_water={UNREACHABLE}
        reef=2
        shallow_water=2

        swamp_water=2
        flat=1
        sand=3
        forest=2

        hills=2
        mountains=3
        village=1
        castle=1

        cave=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        frozen=3
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=80
        reef=70
        shallow_water=70
        swamp_water=40

        flat=60
        sand=80
        forest=50
        hills=50

        mountains=40
        village=40
        castle=40
        cave=60
        unwalkable=60
        frozen=80
        fungus=50
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100

        cold=100
        arcane=100
    [/resistance]
[/movetype]
[movetype]
    name=AE_mrc_zombieheavy
    [movement_costs]
        deep_water=3
        reef=2
        shallow_water=2

        swamp_water=2
        flat=1
        sand=3
        forest=2

        hills=2
        mountains=3
        village=1
        castle=1

        cave=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        frozen=3
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=90
        reef=80
        shallow_water=80
        swamp_water=70

        flat=70
        sand=90
        forest=60
        hills=60

        mountains=50
        village=50
        castle=50
        cave=70
        unwalkable=60
        frozen=90
        fungus=60
    [/defense]
    [resistance]
        blade=80
        pierce=70
        impact=60
        fire=130

        cold=30
        arcane=120
    [/resistance]
[/movetype]

[movetype]
    name=AE_mrc_zombiefoot
    [movement_costs]
        deep_water=3
        reef=2
        shallow_water=2

        swamp_water=2
        flat=1
        sand=3
        forest=2

        hills=2
        mountains=3
        village=1
        castle=1

        cave=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        frozen=3
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=80
        reef=70
        shallow_water=70
        swamp_water=60

        flat=60
        sand=80
        forest=50
        hills=50

        mountains=40
        village=40
        castle=40
        cave=60
        unwalkable=60
        frozen=80
        fungus=50
    [/defense]
    [resistance]
        blade=100
        pierce=90
        impact=80
        fire=120

        cold=30
        arcane=120
    [/resistance]
[/movetype]
[movetype]
    name=AE_mrc_hostfoot
    [movement_costs]
        deep_water={UNREACHABLE}
        reef=2
        shallow_water=2

        swamp_water=2
        flat=1
        sand=3
        forest=2

        hills=2
        mountains=3
        village=1
        castle=1

        cave=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        frozen=3
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=90
        reef=80
        shallow_water=80
        swamp_water=70

        flat=70
        sand=90
        forest=60
        hills=60

        mountains=50
        village=50
        castle=50
        cave=70
        unwalkable=60
        frozen=90
        fungus=60
    [/defense]
    [resistance]
        blade=100
        pierce=80
        impact=60
        fire=120

        cold=60
        arcane=100
    [/resistance]
[/movetype]

[movetype]
    name=AE_mrc_crawlerfoot
    [movement_costs]
        deep_water={UNREACHABLE}
        reef=2
        shallow_water=2

        swamp_water=2
        flat=1
        sand=3
        forest=2

        hills=2
        mountains=3
        village=1
        castle=1

        cave=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        frozen=3
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=80
        reef=70
        shallow_water=70
        swamp_water=50

        flat=50
        sand=70
        forest=40
        hills=40

        mountains=40
        village=40
        castle=40
        cave=50
        unwalkable=60
        frozen=70
        fungus=40
    [/defense]
    [resistance]
        blade=110
        pierce=110
        impact=90
        fire=120

        cold=30
        arcane=120
    [/resistance]
[/movetype]
[movetype]
    name=AE_mrc_blobswim
    [movement_costs]
        deep_water=1
        reef=1
        shallow_water=1

        swamp_water=1
        flat=1
        sand=3
        forest=2

        hills=2
        mountains={UNREACHABLE}
        village=1
        castle=1

        cave=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        frozen=4
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=50
        reef=50
        shallow_water=60
        swamp_water=40

        flat=80
        sand=90
        forest=80
        hills=80

        mountains=70
        village=60
        castle=60
        cave=70
        unwalkable=70
        frozen=90
        fungus=60
    [/defense]
    [resistance]
        blade=80
        pierce=70
        impact=40
        fire=80

        cold=70
        arcane=120
    [/resistance]
[/movetype]
