#textdomain wesnoth-Forgotten_Legends
[unit_type]
    id=AE_FL_altaris_Master_of_Illusion
    name= _"Master of Illusion"
    race=Altaris
    image="frakcja5/master-of-illusion.png"

    [abilities]
        {ABILITY_AE_MAG_REGENERATE 3}
        {AE_FL_ABILITY_SUMMON_REPLICATE AE_FL_replicate_master_of_illusion ( _ "Replicate unit (13 Gold)") 13 AE_FL_altaris_Master_of_Illusion AE_FL_altaris_Master_of_Illusion_illusion}
    [/abilities]
    [resistance]
        arcane=80
        blade=110
        fire=90
        cold=90
        impact=90
        pierce=110
    [/resistance]
    hitpoints=56
    movement_type=altfoot
    movement=6
    experience=134
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "frakcja5/master-of-illusion.png" "frakcja5/master-of-illusion.png" {SOUND_LIST:HUMAN_HIT}}
    cost=40
    usage=mixed fighter
    description={AE_FGTNL_UNIT_NOTICE}+ _ "Masters of Illusions are valuable in Altaris army as they're the only ones that are allowed to teach Illusion magic to initiates as they're trusted enough to perserve this not so ortodox entrepreneurship form of magic at proving it doesn't alter the conscience nor giving weird alter-egos that Altaris would not pardon to any kind of practice."

    [movement_costs]
        shallow_water=2
        swamp_water=2
    [/movement_costs]

    [defense]
        shallow_water=60
        swamp_water=60
        flat=50
        sand=50
        frozen=50
        fungus=50
    [/defense]

    [attack]
        name=fldb
        description={STR_STAFF}
        type=impact
        range=melee
        damage=7
        number=2
        icon=attacks/staff-ruby.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=fldfc
        description=_"secret missile"
        type=arcane
        range=ranged
        damage=15
        number=2
        icon=attacks/blank-attack.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=fldill1
        description=_"water illusion"
        type=cold
        range=ranged
        damage=15
        number=2
        icon=attacks/waterspray.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=fldill2
        description=_"fire illusion"
        type=fire
        range=ranged
        damage=15
        number=2
        icon=attacks/fireball.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fldb
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=150
                image="frakcja5/master-of-illusion.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=150
                image="frakcja5/master-of-illusion.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fldill1
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/water-spray.png"
            image_diagonal="projectiles/water-spray.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-300
                end=-150
                image="frakcja3/master-of-illusion.png"
                sound=water-blast.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-300
                end=-150
                image="frakcja3/master-of-illusion.png"
                sound=water-blast.wav
            [/frame]
        [/else]
        [frame]
            begin=-150
            end=0
            image="frakcja3/master-of-illusion.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fldfc
        [/filter_attack]
        {MISSILE_FRAME_SECRET}

        start_time=-300
        [frame]
            duration=50
            image="frakcja5/master-of-illusion.png"
        [/frame]
        [frame]
            duration=60
            image="frakcja5/master-of-illusion.png"
        [/frame]
        [frame]
            duration=70
            image="frakcja5/master-of-illusion.png"
        [/frame]
        [frame]
            duration=80
            image="frakcja5/master-of-illusion.png"
        [/frame]
        [frame]
            duration=90
            image="frakcja5/master-of-illusion.png"
        [/frame]
        [frame]
            duration=100
            image="frakcja5/master-of-illusion.png"
        [/frame]
        [frame]
            duration=100
            image="frakcja5/master-of-illusion.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fldill2
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL}

        start_time=-575
        [frame]
            duration=50
            image="frakcja5/master-of-illusion.png"
        [/frame]
        [frame]
            duration=100
            image="frakcja5/master-of-illusion.png"
            sound=fire.wav
        [/frame]
        [frame]
            duration=150
            image="frakcja5/master-of-illusion.png"
        [/frame]
        [frame]
            duration=75
            image="frakcja5/master-of-illusion.png"
        [/frame]
        [frame]
            duration=75
            image="frakcja5/master-of-illusion.png"
        [/frame]
    [/attack_anim]
[/unit_type]
