#textdomain wesnoth-Forgotten_Legends
[unit_type]
    id=AE_FL_altaris_Primeval_Warrior
    name= _"Primeval Warrior"
    race=Altaris
    image="frakcja5/primeval-warrior.png"

    hitpoints=45
    [resistance]
        arcane=60
        fire=80
        cold=80
    [/resistance]
    movement_type=altfoot
    movement=6
    experience=165
    level=2
    alignment=neutral
    advances_to=AE_FL_altaris_Ancient_Warrior
    cost=39
    usage=fighter
    description={AE_FGTNL_UNIT_NOTICE}+ _ "More advanced chosen can also heal alies from poison, and are closer to become ancient warrior, still they have a long road to cover before unleashing their truth inner power."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "frakcja5/primeval-warrior.png" "frakcja5/primeval-warrior.png" {SOUND_LIST:HUMAN_HIT}}
    [abilities]
        {ABILITY_UNPOISON}
        {ABILITY_AE_MAG_REGENERATE 4}
    [/abilities]

    [attack]
        name=fldm
        description=_"mysterious strike"
        type=secret
        range=melee
        damage=7
        number=4
        icon=attacks/primeval-focus.png
        [specials]
            #{WEAPON_SPECIAL_AE_UBIQUITOUS}
            {WEAPON_SPECIAL_AE_MAG_PRECISION}
			{WEAPON_SPECIAL_AE_MAG_MAGIC_DODGE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fldm
        [/filter_attack]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            sound=lightning-miss.ogg
            offset=0.0
        [/frame]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            halo_x,halo_y=0,-360
            offset=0.0
        [/frame]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            sound=lightning-miss.ogg
            offset=0.0
        [/frame]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            offset=0.0
        [/frame]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            offset=0.0
        [/frame]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            sound=lightning-miss.ogg
            offset=1.5
        [/frame]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            offset=1.5
        [/frame]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            sound=lightning-miss.ogg
            offset=1.5
        [/frame]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            offset=1.5
        [/frame]

        [frame]
            duration=100
            image="frakcja5/primeval-warrior.png"
            offset=1.5
        [/frame]
        [frame]
            duration=100
            image="frakcja5/primeval-warrior.png"
            sound={SOUND_LIST:SWORD_SWISH}
            offset=1.5
        [/frame]
        [frame]
            duration=100
            image="frakcja5/primeval-warrior.png"
            offset=1.5
        [/frame]
        [frame]
            duration=200
            image="frakcja5/primeval-warrior.png"
            offset=1.5~0.0
        [/frame]
    [/attack_anim]
[/unit_type]
