#textdomain wesnoth-Forgotten_Legends
[unit_type]
    id=AE_FL_altaris_Primeval_Master
    name= _"Primeval Master"
    race=Altaris
    image="frakcja5/primeval-warrior.png"

    hitpoints=60
    [resistance]
        arcane=50
        fire=80
        cold=80
		secret=90
    [/resistance]
    movement_type=altfoot
    movement=6
    experience=125
    level=3
    alignment=neutral
    advances_to=AE_FL_altaris_Ancient_Warrior
    cost=54
    usage=fighter
    description={AE_FGTNL_UNIT_NOTICE}+ _ "Warriors that have learnt well the ancient guards are granted with the tittle of Primeval Master even if they still not at the form of the ancient warriors body trascedance."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "frakcja5/primeval-warrior.png" "frakcja5/primeval-warrior.png" {SOUND_LIST:HUMAN_HIT}}
    [abilities]
        {ABILITY_UNPOISON}
        {ABILITY_AE_MAG_REGENERATE 4}
    [/abilities]

    [attack]
        name=fldm
        description=_"mysterious strike"
        type=secret
        range=melee
        damage=9
        number=4
        icon=attacks/primeval-focus.png
        [specials]
            #{WEAPON_SPECIAL_AE_UBIQUITOUS}
            {WEAPON_SPECIAL_AE_MAG_PRECISION}
            {WEAPON_SPECIAL_AE_MAG_MAGIC_COUNTER}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fldm
        [/filter_attack]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            sound=lightning-miss.ogg
            offset=0.0
        [/frame]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            halo_x,halo_y=0,-360
            offset=0.0
        [/frame]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            sound=lightning-miss.ogg
            offset=0.0
        [/frame]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            offset=0.0
        [/frame]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            offset=0.0
        [/frame]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            sound=lightning-miss.ogg
            offset=1.5
        [/frame]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            offset=1.5
        [/frame]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            sound=lightning-miss.ogg
            offset=1.5
        [/frame]
        [frame]
            duration=50
            image="misc/blank-hex.png"
            offset=1.5
        [/frame]

        [frame]
            duration=100
            image="frakcja5/primeval-warrior.png"
            offset=1.5
        [/frame]
        [frame]
            duration=100
            image="frakcja5/primeval-warrior.png"
            sound={SOUND_LIST:SWORD_SWISH}
            offset=1.5
        [/frame]
        [frame]
            duration=100
            image="frakcja5/primeval-warrior.png"
            offset=1.5
        [/frame]
        [frame]
            duration=200
            image="frakcja5/primeval-warrior.png"
            offset=1.5~0.0
        [/frame]
    [/attack_anim]
[/unit_type]
