#textdomain Ageless-units
[unit_type]
    id=AE_Drake_Sword_Master
    name= _ "Drake Sword Master"
    race=drake
    image="units/drakes/swordmaster.png"
    ellipse="misc/ellipse"
    
    profile="portraits/drakes/sword.png"
    hitpoints=85
    movement_type=drakefly
    movement=5
    experience=134
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=drake
    cost=63
    usage=fighter
    description= _ "In drakish society, the term ‘blademaster’ is reserved for those who have mastered the deadly drakish war blade. Meanwhile, the golden-armored Swordmasters have chosen a different specialty. Their attacks may be slightly weaker than those of their Blademaster counterparts, but by using a lighter sword these drakes are able to wear heavier armour and yet still retain enough agility to strike more often than a Blademaster can manage. By design drakish swords can also be used as blunt weapons without breaking even if you are as strong as a drake."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/drakes/swordmaster-defend.png" "units/drakes/swordmaster.png" {SOUND_LIST:DRAKE_HIT} }
    [abilities]
    [/abilities]
    [resistance]
	    blade=80
        pierce=90
    [/resistance]
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/drakes/sword.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/drakes/sword.png"
    [/portrait]

    [standing_anim]
        start_time=0
        [filter]
            [filter_location]
                terrain=!,W*,Qx*,Ql*
                [or]
                    terrain=Ww,Wwf,Wwr,Wwt,Wwrt,Wwrg,*^V*
                [/or]
            [/filter_location]
        [/filter]
        [frame]
            duration=150
            image="units/drakes/swordmaster.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        layer=60
        submerge=0.01
        [filter]
            [filter_location]
                terrain=W*,Qx*,Ql*
                [not]
                    terrain=Ww,Wwf,Wwr,Wwt,Wwrt,Wwrg,*^V*
                [/not]
            [/filter_location]
        [/filter]
        [frame]
            duration=100
            image="units/drakes/swordmaster-fly-1.png"
        [/frame]
        [frame]
            duration=100
            image="units/drakes/swordmaster-fly-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/drakes/swordmaster-fly-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/drakes/swordmaster-fly-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/drakes/swordmaster-fly-5.png"
        [/frame]
        [frame]
            duration=100
            image="units/drakes/swordmaster-fly-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/drakes/swordmaster-fly-3-upstroke.png"
        [/frame]
        [frame]
            duration=100
            image="units/drakes/swordmaster-fly-2-upstroke.png"
        [/frame]
    [/standing_anim]
    [movement_anim]
        [frame]
            duration=100
            image="units/drakes/swordmaster-fly-1.png"
        [/frame]
        [frame]
            duration=100
            image="units/drakes/swordmaster-fly-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/drakes/swordmaster-fly-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/drakes/swordmaster-fly-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/drakes/swordmaster-fly-5.png"
        [/frame]
        [frame]
            duration=100
            image="units/drakes/swordmaster-fly-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/drakes/swordmaster-fly-3-upstroke.png"
        [/frame]
        [frame]
            duration=100
            image="units/drakes/swordmaster-fly-2-upstroke.png"
        [/frame]
    [/movement_anim]
    [attack]
        name=sword
        description=_"sword"
        type=blade
        range=melee
        damage=12
        number=4
        icon="attacks/scimitar.png"
    [/attack]
	[attack]
        name=sword
        description=_"sword"
        type=impact
        range=melee
        damage=10
        number=4
        icon="attacks/scimitar.png"
    [/attack]
    [attack]
        name=fire breath
        description=_"fire breath"
        icon="attacks/fire-breath-drake.png"
        type=fire
        range=ranged
        damage=6
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-300
        [frame]
            duration=100
            image="units/drakes/swordmaster-melee-1.png"
        [/frame]
        [frame]
            duration=100  
            image="units/drakes/swordmaster-melee-2.png"
        [/frame]
        [frame]
            duration=100  
            image="units/drakes/swordmaster-melee-3.png"
        [/frame]
        [frame]
            duration=100  
            image="units/drakes/swordmaster-melee-4.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/drakes/swordmaster-melee-5.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/drakes/swordmaster-melee-5.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/drakes/swordmaster.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fire breath
        [/filter_attack]
        {MISSILE_FRAME_FIRE_BREATH 9,-34 9,15 22,-22 24,10}

        [if]
            hits=no

            [frame]
                begin=-900
                end=-700
                image="units/drakes/swordmaster-fire-inhale-1.png"
                sound=flame-big-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes

            [frame]
                begin=-900
                end=-700
                image="units/drakes/swordmaster-fire-inhale-1.png"
                sound=flame-big.ogg
            [/frame]
        [/else]
        [frame]
            begin=-700
            end=-500
            image="units/drakes/swordmaster-fire-inhale-2.png"
        [/frame]
        [frame]
            begin=-500
            end=-400
            image="units/drakes/swordmaster-fire-inhale-1.png"
        [/frame]
        [frame]
            begin=-400
            end=-300
            image="units/drakes/swordmaster-fire-1.png"
        [/frame]
        [frame]
            begin=-300
            end=-200
            image="units/drakes/swordmaster-fire-2.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/drakes/swordmaster-fire-3.png"
        [/frame]
        [frame]
            begin=-100
            end=0
            image="units/drakes/swordmaster-fire-2.png"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/drakes/swordmaster-fire-1.png"
        [/frame]
    [/attack_anim]
[/unit_type]







