#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_gobmon_assassin
    name= _ "Assassin"
    race=gobmon
    gender=male
    image="units/gobmon/assassin.png"
    hitpoints=33
    movement_type=orcishfoot
    movement=6
    experience=100
    level=2
    alignment=chaotic
    cost=22
    usage=mixed fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:GOBLIN_DIE}
    {DEFENSE_ANIM "units/gobmon/assassin.png" "units/gobmon/assassin.png" {SOUND_LIST:GOBLIN_HIT} }
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=dague
        description= _"dagger"
        type=blade
        range=melee
        damage=9
        number=2
        icon=attacks/dagger-orcish.png
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=couteaux
        description=_"throwing knives"
        type=blade
        range=ranged
        damage=6
        number=3
        icon=attacks/dagger-thrown-poison-orcish.png
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    {RAPIER_SOUND}
    {KNIFE_SOUND}
[/unit_type]
