#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_morkenost_darfenlend_Hunter_On_Griffin
    name= _ "Hunter On Griffin"
    race=darfen
    gender=male
    image="units/Mork-Darf/Chasseur-sur-griffon.png"
    hitpoints=34
    movement_type=fly
    movement=8
    experience=38
    level=1
    alignment=neutral
    cost=24
    usage=scout
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=AE_AoA_morkenost_darfenlend_Archer_On_Griffin
    die_sound={SOUND_LIST:GRYPHON_DIE}
    {DEFENSE_ANIM "units/Mork-Darf/Chasseur-sur-griffon.png" "units/Mork-Darf/Chasseur-sur-griffon.png" {SOUND_LIST:DWARF_HIT} }
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=90
    [/resistance]
    [attack]
        name=griffes
        description={STR_CLAWS}
        type=blade
        range=melee
        damage=10
        number=2
        icon=attacks/claws-animal.png
    [/attack]
    [attack]
        name=arc
        description={STR_BOW}
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=6
        number=2
    [/attack]
    {CLAWS_SOUND}
    {BOW_SOUND}
    [standing_anim]
        start_time=0
        layer=60
        [frame]
            image="units/Mork-Darf/csg/csg-flying-[1~8].png:150"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="units/Mork-Darf/csg/csg-flying-[1~8].png:150"
        [/frame]
    [/movement_anim]
[/unit_type]
