#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_morkenost_darfenlend_Ranger
    name= _ "Ranger"
    race=darfen
    gender=male
    image="units/Mork-Darf/Rodeur.png"
    hitpoints=62
    movement_type=dwarvishfoot
    movement=5
    experience=126
    level=3
    alignment=neutral
    cost=60
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/Mork-Darf/Rodeur.png" "units/Mork-Darf/Rodeur.png" {SOUND_LIST:DWARF_HIT} }
    [movement_costs]
        frozen=1
        swamp_water=2
    [/movement_costs]

    [resistance]
        blade=90
        impact=90
        pierce=90
    [/resistance]

    [defense]
        swamp_water=50
        forest=40
    [/defense]

    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]
    [attack]
        name=hache
        description= _"axe"
        type=blade
        range=melee
        damage=8
        number=3
        icon=attacks/axe.png
    [/attack]
    [attack]
        name=arc
        description=_"bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=9
        number=4
    [/attack]
    {AXE_SOUND}
    {BOW_SOUND}
[/unit_type]
