#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_morkenost_darfenlend_Shock_Soldier
    name= _ "Shock Soldier"
    race=morken
    gender=male
    image="units/Mork-Darf/Soldat-lourd.png"
    hitpoints=42
    movement_type=dwarvishfoot
    movement=4
    experience=45
    level=1
    alignment=neutral
    cost=19
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=AE_AoA_morkenost_darfenlend_Cuirassier
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/Mork-Darf/Soldat-lourd.png" "units/Mork-Darf/Soldat-lourd.png" {SOUND_LIST:DWARF_HIT} }
    [defense]
        mountains=40
        hills=50
    [/defense]
    [resistance]
        blade=60
        pierce=70
        fire=100
        cold=100
    [/resistance]
    [attack]
        name=marteau
        description= _"hammer"
        type=impact
        range=melee
        damage=11
        number=2
        icon=attacks/bec-de-corbin.png
    [/attack]
    {MACE_SOUND}
[/unit_type]
