#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_enchanters_Cold_Rune_Splicer
    name= _ "Rune Splicer"
    race=AE_mrc_enchanters_race
    gender=male
    image="units/enchanters/runesplicera.png"
    hitpoints=59
    movement_type=AE_mrc_enchantfoot
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=62
    usage=mixed fighter
    description={AE_MRC_UNIT_NOTICE}+""
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/enchanters/runesplicera.png" "units/enchanters/runesplicera.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [resistance]
        fire=90
        cold=90
    [/resistance]
    [attack]
        name=chisel
        description= _ "chisel"
        icon=attacks/javelin-human.png
        type=pierce
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=firerune
        description= _ "fire rune"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=10
        number=4
    [/attack]
    [attack]
        name=icerune
        description= _ "ice rune"
        icon=attacks/iceball.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {AE_CHS_WEAPON_SPECIAL_ENCHANTED}
        [/specials]
        damage=6
        number=5
    [/attack]
    [attack]
        name=waterrune
        description= _ "water rune"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {AE_CHS_WEAPON_SPECIAL_ENCHANTED}
        [/specials]
        damage=12
        number=3
    [/attack]

    [attack_anim]
        [filter_attack]
            name=chisel
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/enchanters/runesplicera.png"
            sound=knife.ogg
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=firerune
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/fireball-n-1.png"
            image_diagonal="projectiles/fireball-nw-1.png"
            sound=fire.wav
        [/missile_frame]
        start_time=-500
        [frame]
            image=units/enchanters/runesplicera.png
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=icerune
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/icemissile-n-4.png"
            image_diagonal="projectiles/icemissile-ne-4.png"
            sound=lightning-miss.ogg
        [/missile_frame]
        start_time=-500
        [frame]
            image=units/enchanters/runesplicera.png
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=waterrune
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/water-spray.png"
            image_diagonal="projectiles/water-spray.png"
            sound=water-blast.wav
        [/missile_frame]
        start_time=-500
        [frame]
            image=units/enchanters/runesplicera.png
        [/frame]
    [/attack_anim]
[/unit_type]
