#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_enchanters_Ice_Rune_Improver
    name= _ "Ice Rune Improver"
    race=AE_mrc_enchanters_race
    gender=male
    image="units/enchanters/runeimproverb.png"
    hitpoints=54
    movement_type=AE_mrc_enchantfoot
    movement=5
    experience=166
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=57
    usage=mixed fighter
    description={AE_MRC_UNIT_NOTICE}+""
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/enchanters/runeimproverb.png" "units/enchanters/runeimproverb.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [resistance]
        cold=70
    [/resistance]
    [defense]
        frozen=60
    [/defense]
    [movement_costs]
        frozen=2
    [/movement_costs]
    [attack]
        name=chisel
        description= _ "chisel"
        icon=attacks/javelin-human.png
        type=pierce
        range=melee
        damage=9
        number=1
    [/attack]
    [attack]
        name=icerune
        description= _ "ice rune"
        icon=attacks/iceball.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=8
        number=5
    [/attack]
    [attack]
        name=freezerune
        description= _ "freeze rune"
        icon=attacks/iceball.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {AE_CHS_WEAPON_SPECIAL_ENCHANTED}
        [/specials]
        parry=5
        damage=6
        number=7
    [/attack]

    [attack_anim]
        [filter_attack]
            name=chisel
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/enchanters/runeimproverb.png"
            sound=knife.ogg
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=firerune
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/fireball-n-1.png"
            image_diagonal="projectiles/fireball-nw-1.png"
            sound=fire.wav
        [/missile_frame]
        start_time=-500
        [frame]
            image=units/enchanters/runeimproverb.png
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=icerune
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/icemissile-n-4.png"
            image_diagonal="projectiles/icemissile-ne-4.png"
            sound=lightning-miss.ogg
        [/missile_frame]
        start_time=-500
        [frame]
            image=units/enchanters/runeimproverb.png
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=freezerune
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/icemissile-n-5.png"
            image_diagonal="projectiles/icemissile-ne-5.png"
            sound=lightning.ogg
        [/missile_frame]
        start_time=-500
        [frame]
            image=units/enchanters/runeimproverb.png
        [/frame]
    [/attack_anim]
[/unit_type]
