#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_enchanters_Powermad
    name= _ "Powermad"
    race=AE_mrc_enchanters_race
    image="units/enchanters/powermad.png"
    hitpoints=76
    movement_type=AE_mrc_enchanters_cursefoot
    movement=4
    experience=115
    level=3
    alignment=chaotic
    advances_to=AE_mrc_enchanters_Apacalyptic
    cost=49
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+""

    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/enchanters/powermad.png" "units/enchanters/powermad.png" {SOUND_LIST:ORC_HIT} }
    [attack]
        name=cursedsword
        description= _ "cursed sword"
        icon=attacks/baneblade.png
        type=blade
        range=melee
        damage=20
        number=3
        [specials]
            {AE_MRC_WEAPON_SPECIAL_CURSED}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=cursedsword
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/enchanters/powermad.png"
            sound=magic-dark.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
