#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_enchanters_Enchanter
    name= _ "Enchanter"
    race=AE_mrc_enchanters_race
    image="units/enchanters/enchanter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=35
    movement_type=AE_mrc_enchantfoot
    movement=5
    experience=48
    level=1
    alignment=neutral
    advances_to=AE_mrc_enchanters_Forge
    undead_variation=dwarf
    cost=15
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"Enchanters are artisans, metalworkers, and magi, forming the backbone of both their society and their army. They equip their fellow troops with the magical weapons they have wrought, and fight on the front lines themselves, using their metalworking hammers in combat as effectively as on the forge."
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/enchanters/enchanter.png" "units/enchanters/enchanter.png" {SOUND_LIST:DWARF_HIT} }
    [resistance]
        blade=90
    [/resistance]
    [attack]
        name=hammer
        description={STR_HAMMER}
        type=impact
        range=melee
        damage=10
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/enchanters/enchanter.png"
            sound=mace.wav
        [/frame]
    [/attack_anim]
[/unit_type]
