#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_enchanters_Forge
    name= _ "Forge"
    race=AE_mrc_enchanters_race
    image="units/enchanters/forge.png"
    hitpoints=52
    movement_type=AE_mrc_enchantfoot
    movement=5
    experience=75
    level=2
    alignment=neutral
    advances_to=AE_mrc_enchanters_Fabricator
    undead_variation=dwarf
    cost=36
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"Forges are experienced Enchanters who have mastered the basic skills involved in metallurgy and moved on to more advanced weaponcraft. They create the complicated weapons used by veteran troops, and have access to more resources than their underlings. On the field of battle Forges lead small bands of warriors, protecting their fellows from harm by supplying enchanted shields and swinging their mighty hammers."+{SPECIAL_NOTES}+{SPECIAL_NOTES_PROTECTION}
    [abilities]
        {ABILITY_PROTECTION_LEVEL_2}
    [/abilities]
    [resistance]
        blade=90
        impact=90
        pierce=90
    [/resistance]
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/enchanters/forge.png" "units/enchanters/forge.png" {SOUND_LIST:DWARF_HIT} }
    [attack]
        name=hammer
        description={STR_HAMMER}
        type=impact
        range=melee
        damage=15
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/enchanters/forge.png"
            sound=mace.wav
        [/frame]
    [/attack_anim]
[/unit_type]
