#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_enchanters_Crystalbow
    name= _ "Crystalbow"
    race=AE_mrc_enchanters_race
    gender=male
    image="units/enchanters/crystalbow.png"
    hitpoints=58
    movement_type=AE_mrc_enchantfoot
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=archer
    cost=56
    usage=archer
    description={AE_MRC_UNIT_NOTICE}+"More adept enchanters have learned to improve the clearbow by making it harden the arrows of light into crystalshards."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/enchanters/crystalbow.png" "units/enchanters/crystalbow.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        arcane=70
    [/resistance]
    [attack]
        name=short sword
        description={STR_SHORT_SWORD}
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=14
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=arcane arrow
        description={STR_BOW}
        icon=attacks/lightbeam.png
        type=arcane
        range=ranged
        damage=9
        number=5
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=short sword
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/enchanters/crystalbow.png"
            sound=sword-1.ogg
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
            sound=bow.ogg
        [/missile_frame]
        start_time=-500
        [frame]
            image=units/enchanters/crystalbow.png
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=arcane arrow
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/arcanearrow-n.png"
            image_diagonal="projectiles/arcanearrow-ne.png"
            sound=bow.ogg
        [/missile_frame]
        start_time=-500
        [frame]
            image=units/enchanters/crystalbow.png
        [/frame]
    [/attack_anim]
[/unit_type]
