#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_enchanters_Magic_Sword
    name= _ "Magic Sword"
    race=undead
    image="units/enchanters/magicsword.png"
    hitpoints=28
    movement_type=AE_mrc_enchanters_floatfoot
    movement=7
    experience=69
    level=2
    alignment=neutral
    advances_to=AE_mrc_enchanters_Enchanted_Sword,AE_mrc_enchanters_Shadow_Blade
    cost=33
    usage=scout
    description={AE_MRC_UNIT_NOTICE}+"Magic Swords are Floating Swords that have experienced combat and become used to their soul-borne abilities. They are more dangerous than the average Floating Sword, using their magical leverage with chilling precision and ignoring the conventional weapons their opponents bring to bear against them."
    die_sound=wail-long.wav
    [resistance]
        cold=60
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=4
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/enchanters/magicsword.png"
            sound=magic-missile-1-miss.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
