#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_enchanters_Shadow_Blade
    name= _ "Shadow Blade"
    race=undead
    image="units/enchanters/shadowblade.png"
    hitpoints=30
    movement_type=AE_mrc_enchanters_floatfoot
    movement=7
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=50
    usage=scout
    description={AE_MRC_UNIT_NOTICE}+"Shadowblades are soulswords that contain an impure soul. These swords develop a taste for blood and seek it out in the battlefield, striking at night when their silent strikes serve them best. After their first kill, these swords blades begin to take on a shadowy hue, and it has been said that they can strike through armor and heal themselves with the spilled blood of their enemies."
    die_sound=wail-long.wav

    [resistance]
        arcane=140
        blade=30
        impact=30
        pierce=30
    [/resistance]

    [attack]
        name=Shadowblade
        description= _ "Shadowblade"
        icon=attacks/baneblade.png
        type=arcane
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        range=melee
        damage=8
        number=4
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Shadowblade
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/enchanters/shadowsword.png"
            sound=magic-dark-miss.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
