#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=AE_mag_Steam_Ulfserker
    [/base_unit]
    id=AE_mag_Steam_Ulfserker_rpg
    name= _ "Steam Ulfserker"
    advances_to=AE_mag_Steam_Berserker_rpg,AE_mag_Red_Steam_Ulfserker_rpg
[/unit_type]
