#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=AE_mag_Striding_Machine
    [/base_unit]
    id=AE_mag_Striding_Machine_rpg
    advances_to=AE_mag_Dwarvish_Tank_rpg,AE_mag_Dwarvish_Mobile_Turret_rpg
[/unit_type]
