#textdomain armies_of_amberan

[race]
    id=farengar
    name = Farengarien
    male_name = _ "race^Farengarian"
    female_name = _ "race+female^Farengarian"
    plural_name = _ "race^Farengarians"
    num_traits=2
    markov_chain_size=10
    {FARENGAR_NAMES}
[/race]

[race]
    id=empfinn
    name = Bagolaro-Helgrindois
    male_name = _ "race^Bagolaro-Helgrindian"
    female_name = _ "race+female^Bagolaro-Helgrindian"
    plural_name = _ "race^Bagolaro-Helgrindians"
    num_traits=2
    markov_chain_size=10
    {EMPIRE_NAMES}
[/race]

[race]
    id=mauvilien
    name = Mauvilien
    male_name=_"race^Mauvîlian"
    female_name=_"race+female^Mauvîlian"
    plural_name=_"race^Mauvilians"
    num_traits=2
    markov_chain_size=10
    {FEDERATION_NAMES}
[/race]

[race]
    id=nordian
    name = Nordien
    male_name=_"race^Nordian"
    female_name=_"race+female^Nordian"
    plural_name=_"race^Nordians"
    num_traits=2
    markov_chain_size=10
    {NORD_NAMES}
[/race]

[race]
    id=rovahrien
    name = Rovahrien
    male_name=_"race^Rovahrian"
    female_name=_"race+female^Rovahrian"
    plural_name=_"race^Rovahrians"
    num_traits=2
    markov_chain_size=10
    {ROVAHR_NAMES}
[/race]

[race]
    id=galien
    name = Galien
    male_name =_"race^Galian"
    plural_name =_"race^Galians"
    num_traits=2
    markov_chain_size=10
    {GALIAN_NAMES}
[/race]

[race]
    id=farNain
    name = Nain de Farengar
    male_name =_"race^Dwarf of Farengar"
    plural_name =_"race^Dwarves of Farengar"
    num_traits=2
    markov_chain_size=10
    undead_variation=dwarf
    {FAR_DWARF_NAMES}
    {TRAIT_HEALTHY}
[/race]

[race]
    id=morken
    name = Nain de Morkenost
    male_name =_"race^Dwarf of Morkenost"
    plural_name =_"race^Dwarves of Morkenost"
    num_traits=2
    markov_chain_size=10
    undead_variation=dwarf
    {FAR_DWARF_NAMES}
    {TRAIT_HEALTHY}
[/race]

[race]
    id=darfen
    name = Nain de Darfenlend
    male_name =_"race^Dwarf of Darfenlend"
    female_name=_"race+female^Dwarf of Darfenlend"
    plural_name =_"race^Dwarves of Darfenlend"
    num_traits=2
    markov_chain_size=2
    undead_variation=dwarf
    [movement_costs]
        frozen=1
    [/movement_costs]
    {DARFEN_NAMES}
    {TRAIT_HEALTHY}
[/race]

[race]
    id=gobmon
    name = Gobelins des montagnes
    male_name =_"race^Mountain Goblin"
    plural_name =_"race^Mountain Goblins"
    num_traits=1
    undead_variation=goblin
    ignore_global_traits=yes
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_HEALTHY}
    {ORCISH_NAMES}
[/race]

[movetype]
    name=AE_gobmon
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water=3
        reef=2
        swamp_water=3
        flat=1
        sand=2
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=1
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        reef=70
        swamp_water=70
        flat=60
        sand=70
        forest=50
        hills=40
        mountains=30
        village=40
        castle=40
        cave=60
        frozen=60
        unwalkable=90
        impassable=90
        fungus=60
    [/defense]

    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=90
        arcane=100
    [/resistance]
[/movetype]


[movetype]
    name=AE_Bearmount
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water=2
        reef=2
        swamp_water=2
        flat=1
        sand=2
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=1
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        reef=70
        swamp_water=80
        flat=70
        sand=70
        forest=60
        hills=50
        mountains=40
        village=50
        castle=50
        cave=50
        frozen=70
        unwalkable=90
        impassable=90
        fungus=60
    [/defense]

    [resistance]
        blade=80
        pierce=100
        impact=70
        fire=100
        cold=80
        arcane=80
    [/resistance]
[/movetype]


[race]
    id=rovElfe
    name = Elfe rovahrien
    male_name =_"race^Rovahr Elf"
    female_name = _ "race+female^Rovahr Elf"
    plural_name =_"race^Rovahr Elves"
    num_traits=2
    markov_chain_size=10
    {ROV_ELF_NAMES}
[/race]


{GET_AE_UNITS AoA_units/farengar}
{GET_AE_UNITS AoA_units/empire}
{GET_AE_UNITS AoA_units/federation}
{GET_AE_UNITS AoA_units/nord}
{GET_AE_UNITS AoA_units/rovahr}
{GET_AE_UNITS AoA_units/galianos}
{GET_AE_UNITS AoA_units/far_nains}
{GET_AE_UNITS AoA_units/mork-darf}
{GET_AE_UNITS AoA_units/gobmon}
{GET_AE_UNITS AoA_units/rov_elf}
