#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_de_Marksman
    name= _ "Shadow Archer"
    race=AE_RHY_darkelf
    gender=male
    image="units/elves-dark/shadowarcher.png"
    hitpoints=45
    movement_type=AE_RHY_darkelf
    movement=6
    experience=66
    level=2
    alignment=chaotic
    advances_to=AE_rhy_de_Nighteye
    undead_variation=archer
    cost=29
    usage=mixed fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "The Shadowarchers are used to dark enviroments and well trained with the bow. They use their enhanced vision to strike when their enemy is almost blind and can't even see the blackened arrows coming."
    {AE_RHY_SPECIAL_NOTES_NIGHTEYE}
    die_sound={SOUND_LIST:ELF_HIT}
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/bow-elven.png
        [specials]
            {AE_RHY_WEAPON_SPECIAL_NIGHTEYE}
        [/specials]
        type=pierce
        range=ranged
        damage=9
        number=3
        parry=5
    [/attack]
    {DEFENSE_ANIM "units/elves-dark/shadowarcher.png" "units/elves-dark/shadowarcher.png" {SOUND_LIST:ELF_HIT}}
    {AE_RHY_ANIM_SWORD elves-dark/shadowarcher}
    {AE_RHY_ANIM_BOW elves-dark/shadowarcher}
[/unit_type]
