#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_de_Nighteye
    name= _ "Nighteye"
    race=AE_RHY_darkelf
    gender=male
    image="units/elves-dark/nighteye.png"
    hitpoints=62
    movement_type=AE_RHY_darkelf
    movement=6
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=archer
    cost=53
    usage=mixed fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "The elite darkelven archers are named after their remarkable ability to see in the darkest places and shoot their victims with great accuracy."
    {AE_RHY_SPECIAL_NOTES_NIGHTEYE}
    die_sound={SOUND_LIST:ELF_HIT}
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=10
        number=3
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/bow-elven.png
        [specials]
            {AE_RHY_WEAPON_SPECIAL_NIGHTEYE}
        [/specials]
        type=pierce
        range=ranged
        damage=10
        number=4
        parry=5
    [/attack]
    {DEFENSE_ANIM "units/elves-dark/nighteye.png" "units/elves-dark/nighteye.png" {SOUND_LIST:ELF_HIT}}
    {AE_RHY_ANIM_SWORD elves-dark/nighteye}
    {AE_RHY_ANIM_BOW elves-dark/nighteye}
[/unit_type]
