#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_de_Thief
    name= _ "Darkelf Thief"
    race=AE_RHY_darkelf
    gender=male
    image="units/elves-dark/shadowthief.png"
    hitpoints=23
    movement_type=AE_RHY_darkelf_elusive
    movement=6
    experience=27
    level=1
    alignment=chaotic
    advances_to=AE_rhy_de_Nightshadow
    cost=12
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "The thief guild is highly valued by darkelves. The thiefs are often hired to infiltrate cities, cause chaos and gather informations. They carry small knives and a crossbow, which can shoot grappling irons to quickly climb walls."
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/elves-dark/shadowthief.png" "units/elves-dark/shadowthief.png" {SOUND_LIST:ELF_HIT} }
    [attack]
        name=dagger
        description= _ "dagger"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=4
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=crossbow
        description= _ "crossbow"
        icon=attacks/crossbow-undead.png
        type=pierce
        range=ranged
        damage=6
        number=1
    [/attack]
    {AE_RHY_ANIM_DAGGER elves-dark/shadowthief}
    {AE_RHY_ANIM_CROSSBOW elves-dark/shadowthief}
[/unit_type]
