#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_de_Assassin
    name= _ "Darkelf Assassin"
    race=AE_RHY_darkelf
    gender=male
    image="units/elves-dark/assassin.png"
    hitpoints=55
    movement_type=AE_RHY_darkelf_elusive
    movement=6
    experience=110
    level=3
    alignment=chaotic
    advances_to=AE_rhy_de_Greatassassin
    cost=46
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "The darkelven thief guild trains the most capable assassins in the world. They can move silently through the night and easily slip through enemy ranks. Their crossbows are equipped with poisioned dart to kill even the toughest target. Additionally they have learned how to kill someone with a single strike, though this is difficult to execute and only possible when the victim is distracted."
    {AE_RHY_SPECIAL_NOTES_NIGHTSNEAK}
    {AE_RHY_SPECIAL_NOTES_DEATHSTRIKE}
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/elves-dark/assassin.png" "units/elves-dark/assassin.png" {SOUND_LIST:ELF_HIT} }
    [abilities]
        {AE_RHY_ABILITY_NIGHTSNEAK}
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=dagger
        description={STR_DAGGER}
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=deathstrike
        description= _ "deathstrike"
        icon=attacks/dagger-human.png
        type=pierce
        range=melee
        damage=16
        number=1
        [specials]
            {AE_RHY_WEAPON_SPECIAL_DEATHSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=crossbow
        description={STR_CROSSBOW}
        icon=attacks/crossbow-undead.png
        type=pierce
        range=ranged
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
        damage=7
        number=3
    [/attack]
    {AE_RHY_ANIM_DAGGER elves-dark/assassin}
    {AE_RHY_ANIM_CROSSBOW elves-dark/assassin}
    [attack_anim]
        [filter_attack]
            name=deathstrike
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/elves-dark/assassin.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=150
                image="units/elves-dark/assassin.png"
                sound=VDKill1.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=150
                image="units/elves-dark/assassin.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=150
            end=200
            image="units/elves-dark/assassin.png"
        [/frame]
    [/attack_anim]
[/unit_type]
