#textdomain wesnoth-Rashy_Era

[unit_type]
    id=AE_rhy_de_GreatassassinB
    name= _ "Assassin Grandmaster"
    race=AE_RHY_darkelf
    gender=male
    image="units/elves-dark/grandmaster-assassin.png"
    hitpoints=60
    movement_type=AE_RHY_darkelf_elusive
    movement=6
    experience=40
    level=5
    alignment=chaotic
    advances_to=null
    ##########################################
    {AE_RHY_AMLA_CUSTOM_HEAL 0 10 (
        id=sword
        description= _ "become a better swordfighter"
        image=attacks/sword-human.png
        require_amla=""
        [effect]
            apply_to=attack
            name=sword
            increase_accuracy=10
        [/effect]
    )}
    {AE_RHY_AMLA_CUSTOM_HEAL 0 10 (
        id=dagger
        description= _ "slow your enemy with your daggers"
        image=attacks/dagger-thrown-poison-human.png
        require_amla=""
        [effect]
            apply_to=attack
            name=dagger
            [set_specials]
                {WEAPON_SPECIAL_POISON}
                {WEAPON_SPECIAL_SLOW}
            [/set_specials]
        [/effect]
    )}
    {AE_RHY_AMLA_CUSTOM_HEAL 0 20 (
        id=hide1
        description= _ "Hide in Forest"
        image=terrain/forest/mixed-summer-tile.png
        require_amla=""
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_AMBUSH}
            [/abilities]
        [/effect]
    )}
    {AE_RHY_AMLA_CUSTOM_HEAL 0 20 (
        id=hide2
        description= _ "Hide in Villages"
        image=terrain/village/elven-tile.png
        require_amla="hide1"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_CONCEALMENT}
            [/abilities]
        [/effect]
    )}
    {AE_RHY_AMLA_CUSTOM_HEAL 0 50 (
        id=deathstrike
        description= _ "become a better Assassin"
        image=attacks/dagger-human.png
        require_amla="hide2"
        [effect]
            apply_to=attack
            name=deathstrike
            increase_attacks=1
        [/effect]
    )}
    {AE_RHY_AMLA_CUSTOM_HEAL 0 20 (
        id=bow
        description= _ "Learn how to use a bow"
        image=attacks/bow-elven.png
        require_amla=""
        [effect]
            apply_to=new_attack
            name=bow
            description= _"bow"
            type=pierce
            range=ranged
            damage=10
            number=4
            icon=attacks/bow-elven.png
        [/effect]
        [effect]
            apply_to=new_animation
            [attack_anim]
                [filter_attack]
                    name=bow
                [/filter_attack]
                [missile_frame]
                    begin=-150
                    end=0
                    image=projectiles/missile-n.png
                    image_diagonal=projectiles/missile-ne.png
                [/missile_frame]
                [if]
                    hits=yes
                    [frame]
                        begin=-300
                        end=-200
                        image=units/elves-dark/grandmaster-assassin.png
                        sound=bow.ogg
                    [/frame]
                [/if]
                [else]
                    hits=no
                    [frame]
                        begin=-300
                        end=-200
                        image=units/elves-dark/grandmaster-assassin.png
                        sound=bow-miss.ogg
                    [/frame]
                [/else]
                [frame]
                    begin=-200
                    end=0
                    image=units/elves-dark/grandmaster-assassin.png
                [/frame]
            [/attack_anim]
        [/effect]
    )}
    {AMLA_DEFAULT}
    #########################################
    cost=70
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Assassin Grandmasters have trained their whole live to become the perfect killers. They know how to hide and sneak and most importantly, how to kill. The Grandmasters can use poison to weaken and swords to kill, but the most remarkable ability is to murder the target with a single strike from the shadows."
    [special_note]
        note= _ "The deathstrike only uses 4 movement, so the Assasin can still get away after attacking this way."
    [/special_note]
    {AE_RHY_SPECIAL_NOTES_NIGHTSNEAK}
    {AE_RHY_SPECIAL_NOTES_MASTERY}
    {AE_RHY_SPECIAL_NOTES_DEATHSTRIKE}
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/elves-dark/grandmaster-assassin.png" "units/elves-dark/grandmaster-assassin.png" {SOUND_LIST:ELF_HIT} }
    [movement_costs]
        shallow_water=2
        hills=1
        mountains=2
        cave=1
        fungus=1
    [/movement_costs]
    [defense]
        shallow_water=60
        reef=50
        flat=40
        mountains=30
        village=30
        castle=30
        cave=40
        frozen=50
    [/defense]
    [abilities]
        {AE_RHY_ABILITY_NIGHTSNEAK}
        {ABILITY_SKIRMISHER}
        {AE_RHY_ABILITY_BOUNTY}
    [/abilities]
    [attack]
        name=dagger
        description= _ "dagger"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=deathstrike
        description= _ "deathstrike"
        icon=attacks/dagger-human.png
        type=pierce
        range=melee
        damage=20
        number=1
        [specials]
            {AE_RHY_WEAPON_SPECIAL_DEATHSTRIKE}
            {AE_RHY_ABILITY_DISENGAGE}
        [/specials]
        movement_used=4
    [/attack]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=10
        number=4
    [/attack]
    [attack]
        name=throwingdagger
        description= _ "dagger"
        icon=attacks/dagger-thrown-poison-human.png
        type=blade
        range=ranged
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
        damage=7
        number=4
    [/attack]
    {AE_RHY_ANIM_DAGGER elves-dark/grandmaster-assassin}
    {AE_RHY_ANIM_SWORD elves-dark/grandmaster-assassin}
    [attack_anim]
        [filter_attack]
            name=throwingdagger
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-350
                end=-100
                image="units/elves-dark/grandmaster-assassin.png"
                sound=throwing-dagger.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-350
                end=-100
                image="units/elves-dark/grandmaster-assassin.png"
                sound=throwing-dagger-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=50
            image="units/elves-dark/grandmaster-assassin.png"
        [/frame]
        [frame]
            begin=50
            end=50
            image="units/elves-dark/grandmaster-assassin.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=deathstrike
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/elves-dark/grandmaster-assassin.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=150
                image="units/elves-dark/grandmaster-assassin.png"
                sound=VDKill1.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=150
                image="units/elves-dark/grandmaster-assassin.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=150
            end=200
            image="units/elves-dark/grandmaster-assassin.png"
        [/frame]
    [/attack_anim]
[/unit_type]
