#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_de_Maceman
    name= _ "Dark Maceman"
    race=AE_RHY_darkelf
    gender=female
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_STRONG}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    image="units/elves-dark/maceman.png"
    hitpoints=37
    movement_type=AE_RHY_darkelf
    movement=5
    experience=44
    level=1
    alignment=chaotic
    advances_to=AE_rhy_de_Trooper
    cost=16
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "These soldiers however often act as bodyguards for important members of the darkelves society. As such, they forgo the typical light armor of elves for a heavier variant. The elven nibleness still lets then defend reasonably well in most terrain."
    [special_note]
        note= _ "Compared to other Elves, Maceman have a higher resistance, but less defense on difficult terrain."
    [/special_note]
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/elves-dark/maceman.png" "units/elves-dark/maceman.png" {SOUND_LIST:ELF_HIT} }
    [resistance]
        blade=90
        impact=80
        cold=90
    [/resistance]
    [defense]
        swamp_water=70
        mountains=50
        shallow_water=90
        reef=80
        sand=80
        frozen=80
    [/defense]
    [movement_costs]
        reef=3
        frozen=3
        sand=3
    [/movement_costs]
    [attack]
        name=mace
        description={STR_MACE}
        type=impact
        range=melee
        damage=7
        number=3
        icon=attacks/mace.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        start_time=-600
        [frame]
            image="units/elves-dark/maceman.png:500"
        [/frame]
        {SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -200}
        [frame]
            image="units/elves-dark/maceman.png:100"
        [/frame]
    [/attack_anim]
[/unit_type]
