#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_de_Shadowguard
    name= _ "Crescent Warrior"
    race=AE_rhy_id_darkelf
    image="units/elves-dark-rashy/mooncleave.png"
    hitpoints=70
    movement_type=AE_rhy_id_darkelf
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=53
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Crescent Warriors are the private guard of the darkelven queen. The namegiving spearhead on their weapon is formed like a crescent moon and can be used to hook, slash or pierce an enemy."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/elves-dark-rashy/mooncleave.png" "units/elves-dark-rashy/mooncleave.png" {SOUND_LIST:ELF_HIT} }
    [resistance]
        pierce=80
    [/resistance]
    [attack]
        name=halberd
        description={STR_PIKE}
        icon=attacks/halberd.png
        type=pierce
        range=melee
        damage=13
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=halberd
        description=_"Mooncleave"
        icon=attacks/halberd.png
        type=blade
        range=melee
        damage=15
        number=2
    [/attack]
    [attack]
        name=javelin
        description={STR_JAVELIN}
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=7
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=javelin
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/spear-n.png"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        [frame]
            begin=-250
            end=-150
            image="units/elves-dark-rashy/mooncleave.png"
            sound={SOUND_LIST:THROW}
        [/frame]
        [frame]
            begin=-150
            end=-100
            image="units/elves-dark-rashy/mooncleave.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=-50
                image="units/elves-dark-rashy/mooncleave.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=-50
                image="units/elves-dark-rashy/mooncleave.png"
            [/frame]
        [/else]
        [frame]
            begin=-50
            end=50
            image="units/elves-dark-rashy/mooncleave.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=halberd
        [/filter_attack]
        [frame]
            begin=-250
            end=-100
            image="units/elves-dark-rashy/mooncleave.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/elves-dark-rashy/mooncleave.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/elves-dark-rashy/mooncleave.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/elves-dark-rashy/mooncleave.png"
        [/frame]
    [/attack_anim]
[/unit_type]
