#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_imp_Marauders_Boatsman
    name= _ "Boatsman"
    race=AE_imp_marauder_race
    image="units/human-marauders/boatsman.png"
    hitpoints=40
    movement_type=AE_imp_marauderboat
    movement=6
    experience=30
    level=1
    alignment=chaotic
    advances_to=AE_imp_Marauders_Sailor
    cost=15
    usage=fighter
    description= _ "This unit is from Imperial Era. Its coding and art were done by Turin and Various others.
 
The Marauders subsist on hunted game and fish. The boatsmen among them go out, on rivers or on the sea, in small coracles, light enough to carry when on land. Their skills at boating do them well in wartime, when they take up arms and attack their enemies from the water."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=axe
        description={STR_AXE}
        type=blade
        range=melee
        damage=7
        number=3
        icon=attacks/axe.png
    [/attack]
    #animations complicated because he switches between boat and no boat
    #defense
    #boat
    {DEFENSE_ANIM_FILTERED "units/human-marauders/boatsman-defend.png" "units/human-marauders/boatsman.png" {SOUND_LIST:HUMAN_HIT}
    (terrain=W*	,S*)}
    #no boat melee
    [event]
        name=attack
        first_time_only=no
        id=AE_imp_attack_boatsman
        [filter_attack]
            range=melee
        [/filter_attack]
        [filter_second]
            type=Marauder Boatsman
            [filter_location]
                [not]
                    terrain=W*	,S*
                [/not]
            [/filter_location]
        [/filter_second]
        [animate_unit]
            [filter]
                x,y=$x2,$y2
            [/filter]
            flag=drop
        [/animate_unit]
    [/event]
    {DEFENSE_ANIM_FILTERED "units/human-marauders/boatsman-land-defend-boatless.png" "units/human-marauders/boatsman-land-drop-3.png" {SOUND_LIST:HUMAN_HIT}
    (terrain=!,W*	,S*
    [filter_attack]
        range=melee
    [/filter_attack])}
    [event]
        name=attack_end
        first_time_only=no
        id=AE_imp_attack_boatsman_end
        [filter_attack]
            range=melee
        [/filter_attack]
        [filter_second]
            type=Marauder Boatsman
            [filter_location]
                [not]
                    terrain=W*	,S*
                [/not]
            [/filter_location]
        [/filter_second]
        [animate_unit]
            [filter]
                x,y=$x2,$y2
            [/filter]
            flag=undrop
        [/animate_unit]
    [/event]
    [extra_anim]
        flag=drop
        [frame]
            image="units/human-marauders/boatsman-land.png"
            duration=1
        [/frame]
        [frame]
            image="units/human-marauders/boatsman-land-drop-1.png"
            duration=100
        [/frame]
        [frame]
            image="units/human-marauders/boatsman-land-drop-2.png"
            duration=100
        [/frame]
        [frame]
            image="units/human-marauders/boatsman-land-drop-3.png"
            duration=100
        [/frame]
    [/extra_anim]
    [extra_anim]
        flag=undrop
        [frame]
            image="units/human-marauders/boatsman-land.png"
            duration=1
        [/frame]
    [/extra_anim]
    #no boat ranged - before the battle, he ducks, during, he stays in his shell, after, he comes back out
    [event]
        name=attack
        first_time_only=no
        id=AE_imp_attack_boatsman_2
        [filter_attack]
            range=ranged
        [/filter_attack]
        [filter_second]
            type=Marauder Boatsman
            [filter_location]
                [not]
                    terrain=W*	,S*
                [/not]
            [/filter_location]
        [/filter_second]
        [animate_unit]
            [filter]
                x,y=$x2,$y2
            [/filter]
            flag=duck
        [/animate_unit]
    [/event]
    {DEFENSE_ANIM_FILTERED "units/human-marauders/boatsman-land-defend-3.png" "units/human-marauders/boatsman-land-defend-3.png" {SOUND_LIST:HUMAN_HIT}
    (terrain=!,W*	,S*
    [filter_attack]
        range=ranged
    [/filter_attack])}
    [event]
        name=attack_end
        first_time_only=no
        id=AE_imp_attack_boatsman_end_2
        [filter_attack]
            range=ranged
        [/filter_attack]
        [filter_second]
            type=Marauder Boatsman
            [filter_location]
                [not]
                    terrain=W*	,S*
                [/not]
            [/filter_location]
        [/filter_second]
        [animate_unit]
            [filter]
                x,y=$x2,$y2
            [/filter]
            flag=unduck
        [/animate_unit]
    [/event]
    [extra_anim]
        flag=duck
        [frame]
            image="units/human-marauders/boatsman-land.png"
            duration=1
        [/frame]
        [frame]
            image="units/human-marauders/boatsman-land-defend-1.png"
            duration=100
        [/frame]
        [frame]
            image="units/human-marauders/boatsman-land-defend-2.png"
            duration=100
        [/frame]
        [frame]
            image="units/human-marauders/boatsman-land-defend-3.png"
            duration=1
        [/frame]
    [/extra_anim]
    [extra_anim]
        flag=unduck
        [frame]
            image="units/human-marauders/boatsman-land-defend-3.png"
            duration=1
        [/frame]
        [frame]
            image="units/human-marauders/boatsman-land-defend-2.png"
            duration=100
        [/frame]
        [frame]
            image="units/human-marauders/boatsman-land-defend-1.png"
            duration=100
        [/frame]
        [frame]
            image="units/human-marauders/boatsman-land.png"
            duration=1
        [/frame]
    [/extra_anim]
    #movement
    [movement_anim]
        terrain=W*	,S*
        [frame]
            image="units/human-marauders/boatsman.png"
            duration=100
        [/frame]
    [/movement_anim]
    [movement_anim]
        terrain=!,W*	,S*
        [frame]
            image="units/human-marauders/boatsman-land.png"
            duration=100
        [/frame]
    [/movement_anim]
    #standing
    [standing_anim]
        terrain_type=W*	,S*
        [frame]
            image="units/human-marauders/boatsman.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        terrain_type=!,W*	,S*
        [frame]
            image="units/human-marauders/boatsman-land.png"
        [/frame]
    [/standing_anim]
    #death
    #boat
    [death]
        terrain=W*	,S*
        [frame]
            begin=0
            end=100
            image="units/human-marauders/boatsman-death-1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/human-marauders/boatsman-death-2.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/human-marauders/boatsman-death-3.png"
        [/frame]
        [frame]
            begin=300
            end=400
            image="units/human-marauders/boatsman-death-4.png"
        [/frame]
        [frame]
            begin=400
            end=700
            image="units/human-marauders/boatsman-death-5.png"
        [/frame]
    [/death]
    #no boat
    #melee
    [death]
        terrain=!,W*	,S*
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            begin=0
            end=100
            image="units/human-marauders/boatsman-land-death-1.png"
        [/frame]
        [frame]
            begin=100
            end=250
            image="units/human-marauders/boatsman-land-death-2.png"
        [/frame]
        [frame]
            begin=250
            end=400
            image="units/human-marauders/boatsman-land-death-3.png"
        [/frame]
        [frame]
            begin=400
            end=700
            image="units/human-marauders/boatsman-land-death-4.png"
        [/frame]
    [/death]
    #ranged
    [death]
        terrain=!,W*	,S*
        [filter_attack]
            range=ranged
        [/filter_attack]
        [frame]
            begin=0
            end=100
            image="units/human-marauders/boatsman-land-ranged-death-1.png"
        [/frame]
        [frame]
            begin=100
            end=250
            image="units/human-marauders/boatsman-land-ranged-death-2.png"
        [/frame]
        [frame]
            begin=250
            end=400
            image="units/human-marauders/boatsman-land-ranged-death-3.png"
        [/frame]
        [frame]
            begin=400
            end=700
            image="units/human-marauders/boatsman-land-ranged-death-4.png"
        [/frame]
    [/death]
    #attack
    #boat
    [attack_anim]
        terrain=W*	,S*
        [filter_attack]
            name=axe
        [/filter_attack]
        [frame]
            begin=-300
            end=-200
            image="units/human-marauders/boatsman-attack-1.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-marauders/boatsman-attack-2.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            sound=mace.wav
            image="units/human-marauders/boatsman-attack-3.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/human-marauders/boatsman-attack-1.png"
        [/frame]
    [/attack_anim]
    #no boat
    [attack_anim]
        terrain=!,W*	,S*
        [filter_attack]
            name=axe
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/human-marauders/boatsman-land-attack-1.png"
        [/frame]
        [frame]
            begin=-100
            end=0
            image="units/human-marauders/boatsman-land-attack-1.png"
        [/frame]
        [frame]
            begin=0
            sound=mace.wav
            end=300
            image="units/human-marauders/boatsman-land-attack-2.png"
        [/frame]
        [if]
            direction=s,sw,se
            [boat_frame]
                begin=-200
                end=300
                image="units/human-marauders/boatsman.png~FL(vert)"
            [/boat_frame]
        [/if]
        [else]
            direction=n,nw,ne
            [boat_frame]
                begin=-200
                end=300
                image="units/human-marauders/boatsman.png"
            [/boat_frame]
        [/else]
    [/attack_anim]
[/unit_type]
