#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_morkdarf_martelier
    name= _ "Hammerer"
    race=morken
    gender=male
    image="units/Mork-Darf/Martelier.png"
    hitpoints=68
    movement_type=dwarvishfoot
    movement=4
    experience=150
    level=3
    alignment=neutral
    cost=69
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/Mork-Darf/Martelier.png" "units/Mork-Darf/Martelier.png" {SOUND_LIST:DWARF_HIT} }
    [defense]
        mountains=40
        hills=50
    [/defense]
    [resistance]
        blade=60
        pierce=70
        impact=60
    [/resistance]
    [attack]
        name=marteau
        description= _"hammer"
        type=impact
        range=melee
        damage=25
        number=2
        icon=attacks/hammer-dwarven.png
    [/attack]
    {MACE_SOUND}
[/unit_type]
