#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_oracles_Oracle
    name= _ "Oracle"
    race=AE_mrc_oracles_race
    gender=male
    image="units/oracles/oracle.png"
    profile="portraits/humans/mage-white.webp"
    hitpoints=30
    movement_type=AE_mrc_oracles_disciplefoot
    movement=5
    experience=47
    level=1
    alignment=lawful
    advances_to=AE_mrc_oracles_Prophet
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=19
    usage=mixed fighter
    description={AE_MRC_UNIT_NOTICE}+"It's said that oracles can occasionally see facts that will occur in the future, also this virtue isn't voluntary so the predictions just come to them. Oracle's predictions aren't always successful also their people are attentive to their predictions to prevent some disgraces at times. Believe or not, it's true that Oracles are appreciated by their companions.

In a fight they can cast quickly light beams that often land on their objective."

    [resistance]
        arcane=60
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Staff
        description={STR_STAFF}
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=5
        number=1
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Lightbeam
        description={STR_LIGHTBEAM}
        icon=attacks/lightbeam.png
        type=arcane
        range=ranged
        damage=4
        number=5
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {AE_ME_GENERIC_RANGED_ANIM}
[/unit_type]
