#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_oracles_Sage
    name= _ "Sage"
    race=AE_mrc_oracles_race
    gender=male
    image="units/oracles/sage.png"
    hitpoints=28
    movement_type=AE_mrc_oracles_sagefoot
    movement=6
    experience=34
    level=1
    alignment=neutral
    advances_to=AE_mrc_oracles_Psychic
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=16
    usage=mixed fighter
    description={AE_MRC_UNIT_NOTICE}+"Sages are charismatic monks that unlike monks and their search for spiritual transcendence they focus to lead minor grades monks and undecided disciples.

They also have excellent mobility and agility to easily avoid strikes."

    [resistance]
        blade=110
        impact=110
        pierce=110
        fire=90
        cold=90
    [/resistance]

    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Staff
        description={STR_STAFF}
        icon=attacks/druidstaff.png
        type=impact
        range=melee
        damage=6
        number=3
        [specials]
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Staff
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/oracles/sage.png"
            sound=staff.wav
        [/frame]
    [/attack_anim]
[/unit_type]
