#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_oracles_Monk
    name= _ "Monk"
    race=AE_mrc_oracles_race
    gender=male
    image="units/oracles/monk.png"
    hitpoints=38
    movement_type=AE_mrc_oracles_disciplefoot
    movement=5
    experience=35
    level=1
    alignment=neutral
    advances_to=AE_mrc_oracles_Guru
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=12
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"Oracles aren't good at hand to hand combats, also some of them rather going in a spiritual transcendence patch. Monks aren't efficient fighters, but at least their training and mental peace makes them tougher than they expected."

    [resistance]
        impact=80
        arcane=75
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Fist
        description={STR_FIST}
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=4
        number=4
        [specials]
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Fist
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/oracles/monk.png"
            sound=fist.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
