#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_arc_primeval_Protector
    name= _ "Protector"
    race=AE_arc_race_primeval
    gender=female
    image="units/primeval/protector.png"
    small_profile="portraits/protector.png~CROP(100,25,330,330)~SCALE(205,205)"
    profile="portraits/primeval/protector.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=75
    movement_type=AE_arc_primevalfast
    movement=6
    experience=105
    level=3
    alignment=chaotic
    advances_to=AE_arc_primeval_Highguard
    #    {AMLA_DEFAULT}
    cost=50
    usage=fighter
    description={AE_ARC_UNIT_NOTICE}+_"The Primeval Protectors...
Special Note:"+{SPECIAL_NOTES_REGENERATES}
    die_sound=lich-die.ogg
    [resistance]
        blade=70
        impact=70
        pierce=60
    [/resistance]
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
#ifdef __UNUSED__
    [attack]
        name=chakram
        description= _ "chakram"
        type=blade
        range=ranged
        damage=8
        number=2
        icon=attacks/chakram.png
    [/attack]
#endif
    [attack]
        name=glaive
        description={STR_GLAIVE}
        type=blade
        range=melee
        damage=14
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        icon=attacks/glaive.png
    [/attack]
    {DEFENSE_ANIM "units/primeval/protector.png" "units/primeval/protector.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
#ifdef __UNUSED__
    [attack_anim]
        [filter_attack]
            name=chakram
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/chakram.png"
        [/missile_frame]
        [frame]
            begin=-350
            end=-250
            image="units/primeval/protector.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-250
                end=50
                # fix this                image="units/primeval/protector-ranged.png"
                image="units/primeval/protector.png"
                sound=throwing-knife.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-250
                end=50
                image="units/primeval/protector.png"
                sound=throwing-knife-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
#endif
    [attack_anim]
        [filter_attack]
            name=glaive
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/primeval/protector.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/primeval/protector.png"
                sound=sword-1.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/primeval/protector.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/primeval/protector.png"
        [/frame]
    [/attack_anim]
[/unit_type]
