#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_arc_primeval_Primevalist_Fighter
    name= _ "Primevalist Fighter"
    race=AE_arc_race_human_primevalist
    image="units/primeval/fighter.png"
    small_profile="portraits/primevalist_fighter.png~CROP(25,25,330,330)~SCALE(205,205)"
    profile="portraits/primeval/primevalist_fighter.png"
    hitpoints=34
    movement_type=smallfoot
    movement=6
    experience=42
    level=1
    alignment=lawful
    advances_to=AE_arc_primeval_Primevalist_Fanatic, AE_arc_primeval_Primevalist_Brightshield
    cost=12
    usage=mixed fighter
    description={AE_ARC_UNIT_NOTICE}+_"The primevalists are mostly angry young men. The Dark Messiah told them what they needed to hear to pick up a sword and attack their fellow humans in some misguided attempt to please the Primevals. Upon joining the movement, each fighter and follower is given a tattoo that is supposed to ward off evil spirits."
    [resistance]
        cold=90
    [/resistance]
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/primeval/fighter-defend.png" "units/primeval/fighter.png" {SOUND_LIST:HUMAN_HIT}}
    [attack]
        name=sword
        description={STR_SWORD}
        type=blade
        range=melee
        damage=5
        number=3
        icon=attacks/sword-human.png
    [/attack]
    [attack]
        name=darts
        description={STR_DARTS}
        type=pierce
        range=ranged
        damage=4
        number=3
        icon=attacks/javelin-orcish.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-250
            end=-150
            image="units/primeval/fighter-defend.png"
        [/frame]
        [frame]
            begin=-150
            end=-50
            image="units/primeval/fighter-attack1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-50
                end=50
                image="units/primeval/fighter-attack2.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-50
                end=50
                image="units/primeval/fighter-attack2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=100
            image="units/primeval/fighter.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=darts
        [/filter_attack]
        [if]
            hits=yes
            [missile_frame]
                begin=-150
                end=0
                image="projectiles/thorns.png"
                image_diagonal="projectiles/thorns-ne.png"
            [/missile_frame]
            [frame]
                begin=-250
                end=-125
                #                image="units/primeval/fighter-ranged-1.png"
                image="units/primeval/fighter.png"
                sound=throw-1.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [missile_frame]
                begin=-150
                end=0
                image="projectiles/thorns.png"
                image_diagonal="projectiles/thorns-ne.png"
            [/missile_frame]
            [frame]
                begin=-250
                end=-125
                image="units/primeval/fighter.png"
                sound=throw-3.wav
            [/frame]
        [/else]
        [frame]
            begin=-125
            end=25
            image="units/primeval/fighter.png"
        [/frame]
        [frame]
            begin=25
            end=50
            image="units/primeval/fighter.png"
        [/frame]
    [/attack_anim]
    [death]
        start_time=0
        [frame]
            image="units/primeval/fighter-die-[1~6].png:[75,90*4,200]"
        [/frame]
    [/death]
[/unit_type]
