#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_arc_primeval_Dogface
    name= _ "Dogface"
    race=AE_arc_race_primeval
    image="units/primeval/dogface.png"
    profile="portraits/primeval/dogface.png"
    hitpoints=54
    movement_type=AE_arc_primevalstrong
    movement=5
    experience=83
    level=2
    alignment=chaotic
    advances_to=AE_arc_primeval_Warrior
    cost=30
    usage=fighter
    description={AE_ARC_UNIT_NOTICE}+_"Like the experienced chakram throwers, the Primeval soldiers wear some sort of visor. Though it simply looks like a piece of metal strapped across the eyes, the visor appears to assist the fighter in targeting the enemy.
Special Note:" {SPECIAL_NOTES_REGENERATES} + {SPECIAL_NOTES_MARKSMAN}
    die_sound=lich-die.ogg
    [resistance]
        blade=80
        impact=80
    [/resistance]
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    [attack]
        name=axe
        description={STR_AXE}
        type=blade
        range=melee
        damage=14
        number=2
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        icon=attacks/BMRaxe.png
    [/attack]
    # fix this defense
    {DEFENSE_ANIM "units/primeval/dogface-defend.png" "units/primeval/dogface.png" {SOUND_LIST:TROLL_HIT}}
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        [frame]
            begin=-230
            end=-150
            image="units/primeval/dogface.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=-70
                image="units/primeval/dogface.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=-70
                image="units/primeval/dogface.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=-70
            end=10
            image="units/primeval/dogface.png"
        [/frame]
        [frame]
            begin=10
            end=90
            image="units/primeval/dogface.png"
        [/frame]
    [/attack_anim]
[/unit_type]
