#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_arc_primeval_Swiftfoot
    name= _ "Swiftfoot"
    race=AE_arc_race_primeval
    gender=female
    image="units/primeval/swift.png"
    profile="portraits/primeval/swift.png"
    hitpoints=34
    movement_type=AE_arc_primevalfast
    movement=7
    experience=41
    level=1
    alignment=chaotic
    advances_to=AE_arc_primeval_Striker, AE_arc_primeval_Escort
    cost=18
    usage=scout
    description={AE_ARC_UNIT_NOTICE}+_"The Primeval Swiftfoots are a basic component of the Primeval forces, mostly serving as scouts.
Special Note:"
    die_sound=lich-die.ogg
    [resistance]
        #		cold=80
    [/resistance]
    [abilities]
        {AE_ARCHAIC_ABILITY_HEALSELF 6}
    [/abilities]
    [attack]
        name=staff
        description={STR_STAFF}
        type=impact
        range=melee
        damage=6
        number=3
        icon=attacks/quarterstaff.png
    [/attack]
    {DEFENSE_ANIM "units/primeval/swift-defend.png" "units/primeval/swift.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/primeval/swift-defend.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/primeval/swift-attack.png"
                sound=club.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/primeval/swift-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/primeval/swift-defend.png"
        [/frame]
    [/attack_anim]
[/unit_type]
