#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_arc_primeval_Aerowheel
    name= _ "Aerowheel"
    race=AE_arc_race_primeval
    gender=female
    image="units/primeval/aerowheel.png"
    profile="portraits/primeval/wheel.png"
    [standing_anim]
        start_time=0
        [frame]
            duration=120
            image="units/primeval/aerowheel-i1.png"
        [/frame]
        [frame]
            duration=120
            image="units/primeval/aerowheel-i2.png"
        [/frame]
        [frame]
            duration=120
            image="units/primeval/aerowheel-i3.png"
        [/frame]
        [frame]
            duration=120
            image="units/primeval/aerowheel-i4.png"
        [/frame]
    [/standing_anim]
    hitpoints=67
    movement_type=AE_arc_primevalfast
    movement=6
    experience=150
    level=3
    alignment=chaotic
    advances_to=AE_arc_primeval_Sun_Wheel
    #    {AMLA_DEFAULT}
    cost=66
    usage=mixed fighter
    description={AE_ARC_UNIT_NOTICE}+_"Having mastered the cutting wheel, a Primeval Ironwheel must make a choice whether to focus on the disc weapon or to tend to other skills required of a high ranking soldier. Primeval Aerowheels have chosen the latter and are mixed fighters, and somehow they can predict magical attacks dodging them more often.
Special Note:"
    die_sound=explosion.ogg
    [resistance]
        arcane=110
        cold=80
        blade=80
        impact=90
		fire=90
    [/resistance]
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]

    [attack]
        name=sword
        description={STR_SWORD}
        type=blade
        range=melee
        damage=10
        number=2
        icon=attacks/sword-human-short.png
    [/attack]
    [attack]
        name=chakram
        description= _ "chakram"
        type=blade
        range=ranged
        damage=10
        number=4
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
			{WEAPON_SPECIAL_AE_MAG_MAGIC_DODGE}
        [/specials]
        icon=attacks/chakram.png
    [/attack]
    [defend]
        start_time=-126
        offset=0.0~-0.05:126,-0.05~0.0:126
        [frame]
            duration=1
            image="units/primeval/aerowheel.png"
        [/frame]
        [frame]
            duration=100
            image="units/primeval/aerowheel.png"
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=150
                image="units/primeval/aerowheel.png"
                sound={SOUND_LIST:HUMAN_FEMALE_HIT}
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=150
                image="units/primeval/aerowheel.png"
            [/frame]
        [/else]
        [frame]
            duration=1
            image="units/primeval/aerowheel.png"
        [/frame]
    [/defend]
    [attack_anim]
        [filter_attack]
            name=chakram
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/chakram.png"
            image_diagonal="projectiles/chakram.png"
        [/missile_frame]
        start_time=-250
        [frame]
            duration=50
            image="units/primeval/aerowheel.png"
        [/frame]
        [frame]
            duration=100
            image="units/primeval/aerowheel.png"
            sound=throwing-knife.ogg
        [/frame]
        [frame]
            duration=200
            image="units/primeval/aerowheel.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/primeval/aerowheel.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/primeval/aerowheel.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/primeval/aerowheel.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/primeval/aerowheel.png"
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/primeval/aerowheel.png"
        [/frame]
    [/attack_anim]
[/unit_type]
