#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_arc_primeval_Firewheel
    name= _ "Firewheel"
    race=AE_arc_race_primeval
    gender=female
    image="units/primeval/firewheel.png"
    profile="portraits/primeval/firewheel.png"
    [standing_anim]
        start_time=0
        direction=n,s,se,ne
        halo=halo/firewheel-s1.png:100,halo/firewheel-s2.png:100,halo/firewheel-s3.png:100,halo/firewheel-s4.png:100,halo/firewheel-s5.png:100,halo/firewheel-s6.png:100
        [frame]
            duration=600
            image="units/primeval/firewheel.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        direction=sw,nw
        halo=halo/firewheel-s1.png:100,halo/firewheel-s2.png:100,halo/firewheel-s3.png:100,halo/firewheel-s4.png:100,halo/firewheel-s5.png:100,halo/firewheel-s6.png:100
        halo_mod=~RIGHT()
        [frame]
            duration=600
            image="units/primeval/firewheel.png"
        [/frame]
    [/standing_anim]
    hitpoints=54
    movement_type=AE_arc_primevalfast
    movement=5
    experience=134
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=65
    usage=archer
    description={AE_ARC_UNIT_NOTICE}+_"Having mastered the cutting wheel, a Primeval Ironwheel must make a choice whether to focus on the disc weapon or to tend to other skills required of a high ranking soldier. Primeval Fire have chosen the first and are ranged specialists at refusing all physical armor and throwing at fores cutting or burning chakrams. They are also known to be very resilient to cold and heat but it is unknown from where this come from.
Special Note:"
    die_sound=explosion.ogg
    [resistance]
        pierce=100
        blade=110
        cold=70
        fire=60
        arcane=100
    [/resistance]
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]

    [attack]
        name=fist
        description={STR_FIST}
        type=impact
        range=melee
        damage=7
        number=2
        icon=attacks/fist.png
    [/attack]
    [attack]
        name=flame
        description= _ "firewheel"
        type=fire
        range=ranged
        damage=10
        number=5
        [specials]
            {WEAPON_SPECIAL_AE_MAG_SKILLED}
        [/specials]
        icon=attacks/BMRfirewheel.png
    [/attack]

    [attack]
        name=chakram
        description= _ "chakram"
        type=blade
        range=ranged
        damage=9
        number=5
        icon=attacks/chakram.png
        [specials]
            {WEAPON_SPECIAL_AE_MAG_SKILLED}
        [/specials]
    [/attack]

    # fix this
    #	{DEFENSE_ANIM "units/primeval/firewheel.png" "units/primeval/firewheel-defend.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
    [defend]
        start_time=-126
        offset=0.0~-0.05:126,-0.05~0.0:126
        [frame]
            duration=1
            image="units/primeval/firewheel.png"
            halo=halo/firewheel-halo.png
        [/frame]
        [frame]
            duration=100
            image="units/primeval/firewheel.png"
            halo=halo/firewheel-halo.png
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=150
                image="units/primeval/firewheel-defend.png"
                halo=halo/firewheel-halo.png
                sound={SOUND_LIST:HUMAN_FEMALE_HIT}
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=150
                image="units/primeval/firewheel-defend.png"
                halo=halo/firewheel-halo.png
            [/frame]
        [/else]
        [frame]
            duration=1
            image="units/primeval/firewheel.png"
            halo=halo/firewheel-halo.png
        [/frame]
    [/defend]
    [attack_anim]
        [filter_attack]
            name=flame
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL}
        start_time=-575
        [frame]
            duration=50
            image="units/primeval/firewheel.png"
            halo=halo/firewheel-static.png
        [/frame]
        [frame]
            duration=100
            image="units/primeval/firewheel-defend.png"
            halo=halo/firewheel-static.png
            sound=fire.wav
        [/frame]
        [frame]
            duration=150
            image="units/primeval/firewheel-attack.png"
        [/frame]
        [frame]
            duration=75
            image="units/primeval/firewheel-defend.png"
            halo=halo/firewheel-static.png
        [/frame]
        [frame]
            duration=75
            image="units/primeval/firewheel.png"
            halo=halo/firewheel-static.png
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/primeval/firewheel-defend.png"
            halo=halo/firewheel-static.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/primeval/firewheel-fist.png"
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/primeval/firewheel-fist.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/primeval/firewheel-defend.png"
            halo=halo/firewheel-static.png
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/primeval/firewheel.png"
            halo=halo/firewheel-static.png
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=chakram
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/chakram.png"
            image_diagonal="projectiles/chakram.png"
        [/missile_frame]
        start_time=-250
        [frame]
            duration=50
            image="units/primeval/firewheel.png"
        [/frame]
        [frame]
            duration=100
            image="units/primeval/firewheel.png"
            sound=throwing-knife.ogg
        [/frame]
        [frame]
            duration=200
            image="units/primeval/firewheel.png"
        [/frame]
    [/attack_anim]
[/unit_type]
