#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_arc_Primeval_Protector
    name= _ "Protector"
    race=AE_arc_primeval
    gender=female
    image="units/primeval/swift/protector.png"
    image_icon="units/primeval/swift/protector.png~SCALE(72,72)"
    profile="portraits/protector.png"
    #
    hitpoints=75
    movement_type=AE_arc_primevalfast
    movement=6
    experience=105
    level=3
    alignment=chaotic
    advances_to=AE_arc_Primeval_Highguard
    #    {AMLA_DEFAULT}
    cost=50
    usage=fighter
    description={AE_ARC_UNIT_NOTICE} +  _ "The Primeval Protectors…
Special Note:"+{SPECIAL_NOTES_REGENERATES}
    die_sound=lich-die.ogg

    [resistance]
        blade=70
        impact=70
        pierce=60
    [/resistance]
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    [attack]
        name=glaive
        description={STR_GLAIVE}
        type=blade
        range=melee
        damage=14
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        icon=attacks/glaive.png
    [/attack]
    {DEFENSE_ANIM "units/primeval/swift/protector-defend-2.png" "units/primeval/swift/protector-defend-1.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
    [attack_anim]
        [filter_attack]
            name=glaive
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/primeval/swift/protector.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/primeval/swift/protector.png"
                sound=sword-1.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/primeval/swift/protector.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/primeval/swift/protector.png"
        [/frame]
    [/attack_anim]
[/unit_type]
