# wmllint: no translatables

#define AE_RHY_FLAT_MOVE
    flat=1
    village=1
    castle=1
#enddef
#define AE_RHY_SWIMMER_MOVE
    deep_water=1
    shallow_water=1
    swamp_water=1
#enddef
#define AE_RHY_DEFAULT_TERRAIN_MOVE_A
    reef=2
    sand=2
    cave=2
    fungus=2
#enddef
#define AE_RHY_DEFAULT_TERRAIN_MOVE
    {AE_RHY_DEFAULT_TERRAIN_MOVE_A}
    forest=2
    hills=2
    mountains=3
#enddef

#define AE_RHY_DEFAULT_CAVE_DEFENSE
    #aquana,AE_RHY_chevalier,rashy
    castle=40
    flat=60
    village=40
    cave=60
    frozen=80
    fungus=50
    sand=70
#enddef
#define AE_RHY_DEFAULT_ELUSIVE_DEFENSE
    #AE_RHY_darkelf,rashy
    castle=30
    flat=50
    frozen=60
    fungus=30
    hills=40
    mountains=30
    sand=60
    shallow_water=60
    village=30
#enddef

#define AE_RHY_ARMOR ARMOR_NUMBER FIRE COLD ARCANE
    [resistance]
        blade={ARMOR_NUMBER}
        pierce={ARMOR_NUMBER}
        impact={ARMOR_NUMBER}
        fire={FIRE}
        cold={COLD}
        arcane={ARCANE}
    [/resistance]
#enddef

[movetype]
    name=AE_RHY_ship
    flies=true
    [movement_costs]
        {AE_RHY_SWIMMER_MOVE}
        reef=3
        flat=4
        sand=3
        forest=6
        hills=6
        mountains={UNREACHABLE}
        village=3
        castle=3
        cave=4
        frozen=3
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=3
    [/movement_costs]
    [defense]
        castle=70
        cave=90
        reef=70
        deep_water=50
        flat=90
        forest=90
        frozen=90
        fungus=90
        hills=90
        impassable=90
        mountains=90
        sand=90
        shallow_water=60
        swamp_water=70
        unwalkable=90
        village=80
    [/defense]
    [resistance]
        blade=90
        pierce=70
        impact=100
        fire=130
        cold=80
        arcane=40
    [/resistance]
[/movetype]

[movetype]
    name=AE_RHY_animalfoot_water
    [movement_costs]
        {AE_RHY_FLAT_MOVE}
        {AE_RHY_SWIMMER_MOVE}
        {AE_RHY_DEFAULT_TERRAIN_MOVE_A}
        forest=1
        hills=2
        mountains=3
        frozen=3
    [/movement_costs]
    [defense]
        castle=50
        cave=60
        reef=30
        deep_water=50
        flat=60
        forest=40
        frozen=60
        fungus=50
        hills=50
        mountains=40
        sand=70
        shallow_water=40
        swamp_water=40
        village=60
    [/defense]
    {AE_RHY_ARMOR 100 100 90 90}
[/movetype]
[movetype]
    name=AE_RHY_animalfoot_big
    [movement_costs]
        {AE_RHY_FLAT_MOVE}
        reef=2
        shallow_water=2
        swamp_water=2
        sand=2
        forest=1
        hills=2
        mountains=3
        cave=2
        frozen=3
        fungus=2
    [/movement_costs]
    [defense]
        castle=50
        cave=60
        reef=80
        flat=70
        forest=50
        frozen=80
        fungus=60
        hills=60
        mountains=50
        sand=80
        shallow_water=80
        swamp_water=70
        village=70
    [/defense]
    [resistance]
        blade=100
        pierce=40
        impact=60
        fire=150
        cold=90
        arcane=130
    [/resistance]
[/movetype]

[movetype]
    name=AE_RHY_snake
    [movement_costs]
        {AE_RHY_SWIMMER_MOVE}
        reef=2
        flat=1
        sand=1
        forest=2
        hills=3
        mountains=4
        village=1
        castle=2
        cave=2
        frozen=3
        fungus=2
    [/movement_costs]
    [defense]
        castle=50
        cave=50
        reef=40
        deep_water=50
        flat=50
        forest=40
        frozen=80
        fungus=40
        hills=50
        mountains=50
        sand=40
        shallow_water=40
        swamp_water=30
        village=50
    [/defense]
    {AE_RHY_ARMOR 100 90 120 90}
[/movetype]

#define AE_RHY_DWARFEN_DEFENSE
    castle=40
    cave=50
    reef=70
    frozen=70
    sand=70
    shallow_water=80
#enddef
[movetype]
    name=AE_RHY_forestdwarvishfoot
    [movement_costs]
        {AE_RHY_FLAT_MOVE}
        shallow_water=3
        reef=2
        swamp_water=2
        sand=1
        forest=1
        hills=1
        mountains=1
        cave=1
        frozen=2
        fungus=1
    [/movement_costs]
    [defense]
        {AE_RHY_DWARFEN_DEFENSE}
        swamp_water=60
        flat=70
        forest=40
        fungus=60
        hills=50
        mountains=40
        village=50
    [/defense]
    {AE_RHY_ARMOR 90 90 90 80}
[/movetype]

[movetype]
    name=AE_RHY_gnome
    {MOUNTAIN_MOVE}
    [defense]
        {AE_RHY_DWARFEN_DEFENSE}
        swamp_water=80
        flat=40
        forest=30
        fungus=30
        hills=40
        mountains=30
        village=40
    [/defense]
    [resistance]
        blade=120
        pierce=110
        impact=120
        fire=90
        cold=90
        arcane=110
    [/resistance]
[/movetype]

[movetype]
    name=AE_RHY_rashyfoot
    [movement_costs]
        {AE_RHY_FLAT_MOVE}
        {AE_RHY_DEFAULT_TERRAIN_MOVE}
        shallow_water=3
        swamp_water=3
        frozen=3
    [/movement_costs]
    [defense]
        {AE_RHY_DEFAULT_CAVE_DEFENSE}
        cave=60
        reef=70
        forest=50
        frozen=70
        fungus=50
        hills=50
        mountains=40
        sand=70
        shallow_water=80
        swamp_water=70
    [/defense]
    {AE_RHY_ARMOR 110 90 90 90}
[/movetype]
[movetype]
    name=AE_RHY_rashyfoot_elusive
    [movement_costs]
        {AE_RHY_FLAT_MOVE}
        {AE_RHY_DEFAULT_TERRAIN_MOVE}
        shallow_water=2
        swamp_water=2
        frozen=2
    [/movement_costs]
    [defense]
        {AE_RHY_DEFAULT_ELUSIVE_DEFENSE}
        cave=50
        reef=50
        forest=40
        swamp_water=60
    [/defense]
    {AE_RHY_ARMOR 120 90 90 90}
[/movetype]

[movetype]
    name=AE_RHY_aquanafoot
    [movement_costs]
        {AE_RHY_FLAT_MOVE}
        {AE_RHY_DEFAULT_TERRAIN_MOVE}
        shallow_water=2
        swamp_water=2
        frozen=3
    [/movement_costs]
    [defense]
        {AE_RHY_DEFAULT_CAVE_DEFENSE}
        reef=60
        forest=50
        frozen=80
        hills=50
        mountains=50
        shallow_water=60
        swamp_water=70
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=90
        fire=100
        cold=70
        arcane=90
    [/resistance]
[/movetype]

[movetype]
    name=AE_RHY_chevalier
    [movement_costs]
        {AE_RHY_FLAT_MOVE}
        {AE_RHY_DEFAULT_TERRAIN_MOVE}
        shallow_water=3
        swamp_water=3
        frozen=3
    [/movement_costs]
    [defense]
        {AE_RHY_DEFAULT_CAVE_DEFENSE}
        reef=70
        forest=60
        frozen=80
        hills=60
        mountains=50
        shallow_water=80
        swamp_water=80
    [/defense]
    {AE_RHY_ARMOR 90 100 100 80}
[/movetype]

#define AE_RHY_DARKELF_DEFENSE
    reef=70
    frozen=70
    sand=70
    shallow_water=80
#enddef
#define AE_RHY_DARKELF_MOVEMENT
    {AE_RHY_FLAT_MOVE}
    reef=2
    sand=2
    fungus=2
    swamp_water=2
    forest=1
    hills=2
    frozen=2
#enddef
[movetype]
    name=AE_RHY_darkelf
    [movement_costs]
        {AE_RHY_DARKELF_MOVEMENT}
        cave=1
        shallow_water=3
        mountains=3
    [/movement_costs]
    [defense]
        {AE_RHY_DARKELF_DEFENSE}
        castle=40
        cave=50
        flat=60
        forest=40
        fungus=40
        hills=50
        mountains=40
        swamp_water=60
        village=40
    [/defense]
    {AE_RHY_ARMOR 100 100 80 110}
[/movetype]
[movetype]
    name=AE_RHY_darkelf_mounted
    [movement_costs]
        {AE_RHY_DARKELF_MOVEMENT}
        cave=2
        shallow_water=3
    [/movement_costs]
    [defense]
        {AE_RHY_DARKELF_DEFENSE}
        castle=50
        cave=60
        flat=60
        forest=50
        fungus=70
        hills=60
        swamp_water=70
        village=60
    [/defense]
    [resistance]
        blade=90
        pierce=120
        impact=80
        fire=100
        cold=80
        arcane=100
    [/resistance]
[/movetype]
[movetype]
    name=AE_RHY_darkelf_elusive
    [movement_costs]
        {AE_RHY_DARKELF_MOVEMENT}
        shallow_water=2
        mountains=3
        cave=1
    [/movement_costs]
    [defense]
        {AE_RHY_DEFAULT_ELUSIVE_DEFENSE}
        cave=40
        reef=60
        forest=30
        swamp_water=50
    [/defense]
    [resistance]
        blade=120
        pierce=110
        impact=110
        fire=100
        cold=80
        arcane=110
    [/resistance]
[/movetype]

[movetype]
    name=AE_RHY_nekofoot
    [movement_costs]
        {AE_RHY_FLAT_MOVE}
        {AE_RHY_DEFAULT_TERRAIN_MOVE_A}
        forest=1
        hills=2
        mountains=3
        shallow_water=2
        swamp_water=2
        frozen=2
    [/movement_costs]
    [defense]
        castle=40
        cave=50
        reef=60
        flat=40
        forest=30
        frozen=70
        fungus=40
        hills=40
        mountains=30
        sand=60
        shallow_water=70
        swamp_water=60
        village=40
    [/defense]
    [resistance]
        blade=120
        pierce=110
        impact=120
        fire=100
        cold=110
        arcane=90
    [/resistance]
[/movetype]

[movetype]
    name=AE_RHY_angelfly
    flies=true
    [movement_costs]
        {FLY_MOVE}
        cave=3
        fungus=3
    [/movement_costs]
    [defense]
        {FLY_DEFENSE 50}
        cave=70
        fungus=70
    [/defense]
    [resistance]
        blade=100
        pierce=110
        impact=120
        fire=110
        cold=90
        arcane=50
    [/resistance]
[/movetype]

[movetype]
    name=AE_RHY_golem
    [movement_costs]
        {AE_RHY_FLAT_MOVE}
        shallow_water=4
        reef=3
        swamp_water=4
        sand=2
        forest=2
        fungus=2
        hills=1
        mountains=2
        cave=1
        frozen=2
    [/movement_costs]
    [defense]
        castle=60
        cave=60
        reef=80
        flat=70
        forest=60
        frozen=80
        fungus=60
        hills=50
        mountains=40
        sand=70
        shallow_water=90
        swamp_water=90
        village=60
    [/defense]
    [resistance]
        blade=50
        pierce=60
        impact=100
        fire=80
        cold=100
        arcane=120
    [/resistance]
[/movetype]

[movetype]
    name=AE_RHY_lizard_mounted
    [movement_costs]
        {AE_RHY_FLAT_MOVE}
        shallow_water=4
        reef=3
        swamp_water=3
        sand=2
        forest=2
        hills=2
        mountains=2
        cave=2
        frozen=2
        fungus=3
    [/movement_costs]
    [defense]
        castle=60
        cave=60
        reef=70
        flat=60
        forest=-70
        frozen=70
        fungus=-70
        hills=50
        mountains=50
        sand=70
        shallow_water=80
        swamp_water=70
        village=60
    [/defense]
    [resistance]
        blade=70
        pierce=110
        impact=60
        fire=90
        cold=90
        arcane=90
    [/resistance]
    [special_note]
        note={INTERNAL:SPECIAL_NOTES_DEFENSE_CAP}
    [/special_note]
[/movetype]
