#textdomain wesnoth-Ageless_Era

### | Era of Four Moons Custom Default Factions

## | Dalefolk - Default

[multiplayer_side]
    id=AE_side_efm_dalefolk
    name= "EFM - " + _ "Dalefolk"
    image="units/Dalefolk/wilderman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_efm_dalefolk_Foreman
    leader=AE_efm_dalefolk_Foreman,AE_efm_dalefolk_Delver,AE_efm_dalefolk_Bombadier,AE_efm_dalefolk_Botanist,AE_efm_dalefolk_Mountaineer,AE_efm_dalefolk_Mediator,AE_efm_dalefolk_Beacon

    recruit=AE_efm_dalefolk_Miner, AE_efm_dalefolk_Herder, AE_efm_dalefolk_Rocketeer, AE_efm_dalefolk_Herbalist, AE_efm_dalefolk_shifter, AE_efm_dalefolk_Raven, AE_efm_dalefolk_Channeler
    terrain_liked=Rd
    [ai]
        recruitment_pattern=scout,archer,fighter,healer,mixed fighter,archer,fighter,fighter,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Darklanders - Default

[multiplayer_side]
    id=AE_side_efm_darklanders
    name= "EFM - " + _ "Darklanders"
    image="units/darklander/judgement.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_efm_darklanders_Wrath_of_the_Gods
    leader=AE_efm_darklanders_Militia,AE_efm_darklanders_Stalker,AE_efm_darklanders_Serpent,AE_efm_darklanders_Wrath_of_the_Gods

    recruit=AE_efm_darklanders_Tribesman,AE_efm_darklanders_Hurler,AE_efm_darklanders_Beastman,AE_efm_darklanders_Jaguar_Rider,AE_efm_darklanders_Viper,AE_efm_darklanders_Malice_of_the_Gods,AE_efm_darklanders_Canoe
    terrain_liked=Rd
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,archer,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Freemen - Default

[multiplayer_side]
    id=AE_side_efm_freemen
    name= "EFM - " + _ "Freemen"
    image="units/Freemen/sultan.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_efm_freemen_Amir
    leader=AE_efm_freemen_Amir,AE_efm_freemen_Vizier,AE_efm_freemen_Derwish,AE_efm_freemen_Mufti,AE_efm_freemen_Nomad,AE_efm_freemen_Guardsman

    recruit=AE_efm_freemen_Aristocrat,AE_efm_freemen_Sand_Walker,AE_efm_freemen_Camel_Rider,AE_efm_freemen_Wanderer,AE_efm_freemen_Muezzin,AE_efm_freemen_Roc,AE_efm_freemen_Chanter
    terrain_liked=Rd
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,archer,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Highlanders - Default

[multiplayer_side]
    id=AE_side_efm_highlanders
    name= "EFM - " + _ "Highlanders"
    image="units/highlander/oliephant.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_efm_highlanders_Warrior
    leader=AE_efm_highlanders_Warrior,AE_efm_highlanders_Prowler,AE_efm_highlanders_Shaman,AE_efm_highlanders_Warlock

    recruit=AE_efm_highlanders_Brave,AE_efm_highlanders_Hunter,AE_efm_highlanders_Runner,AE_efm_highlanders_Lion_Warrior,AE_efm_highlanders_Witch_Doctor,AE_efm_highlanders_Elephant,AE_efm_highlanders_Hippo
    terrain_liked=Rd
    [ai]
        recruitment_pattern=fighter,fighter,archer,healer,archer,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Imperialists - Default

[multiplayer_side]
    id=AE_side_efm_imperialists
    name= "EFM - " + _ "Imperialists"
    image="units/imperialists/legatus.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_efm_imperialists_Centurion
    leader=AE_efm_imperialists_Centurion,AE_efm_imperialists_Stalwart,AE_efm_imperialists_Shock_Troop,AE_efm_imperialists_Hoplite

    recruit=AE_efm_imperialists_Legionnaire,AE_efm_imperialists_Slinger,AE_efm_imperialists_Hardback,AE_efm_imperialists_Pelite,AE_efm_imperialists_Standard,AE_efm_imperialists_Sapper,AE_efm_imperialists_Galley,AE_efm_imperialists_Ballista
    terrain_liked=Rd
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,archer,scout,mixed fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Pygmies - Default

[multiplayer_side]
    id=AE_side_efm_pygmies
    name= "EFM - " + _ "Pygmies"
    image="units/Pygmies/saber_cat.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_efm_pygmies_Lynx
    leader=AE_efm_pygmies_Lynx,AE_efm_pygmies_Charmer,AE_efm_pygmies_Stinger,AE_efm_pygmies_Mudfoot,AE_efm_pygmies_Wyrd,AE_efm_pygmies_Toad_Breath

    recruit=AE_efm_pygmies_Knat,AE_efm_pygmies_Piper,AE_efm_pygmies_Puma,AE_efm_pygmies_Spider_Rider,AE_efm_pygmies_Crocodile,AE_efm_pygmies_Swamp_Witch
    terrain_liked=Rd
    [ai]
        recruitment_pattern=scout,archer,fighter,archer,archer,archer,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Sea States - Default

[multiplayer_side]
    id=AE_side_efm_seastates
    name= "EFM - " + _ "Sea States"
    image="units/seastates/merchant_lord.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_efm_seastates_Guild_Officer
    leader=AE_efm_seastates_Guild_Officer,AE_efm_seastates_Retainer,AE_efm_seastates_Veteran_Bowman,AE_efm_seastates_Concoctionist,AE_efm_seastates_Doctor

    recruit=AE_efm_seastates_Regimenteer,AE_efm_seastates_Composite_Bowman,AE_efm_seastates_Rider,AE_efm_seastates_Horse_Archer,AE_efm_seastates_Alchemist,AE_efm_seastates_Boatsman,AE_efm_seastates_Paddle_Ship,AE_efm_seastates_Loyalist
    terrain_liked=Rd
    [ai]
        recruitment_pattern=scout,archer,fighter,artillery,fighter,archer,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Whites - Default

[multiplayer_side]
    id=AE_side_efm_whites
    name= "EFM - " + _ "Whites"
    image="units/Whites/storm_queen.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_efm_whites_Housecarl
    leader=AE_efm_whites_Housecarl,AE_efm_whites_Storm_Witch,AE_efm_whites_Huntress,AE_efm_whites_Vigilante,AE_efm_whites_Bard,AE_efm_whites_Guardian

    recruit=AE_efm_whites_Warrior,AE_efm_whites_Bow_Girl,AE_efm_whites_Storm_Child,AE_efm_whites_Storm_Guard,AE_efm_whites_Terror_Rider,AE_efm_whites_Warder,AE_efm_whites_Scout,AE_efm_whites_Longboat
    terrain_liked=Rd
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,archer,fighter
    [/ai]
[/multiplayer_side]
