#textdomain wesnoth-Era_of_Magic
[multiplayer_side]
    id=barbarians
    image,name="factions/EoMa-faction-barbarians.png", "EoMa - " + _"Barbarians" # wmllint: ignore

    type=AE_mag_Barbarian
    {AE_MAG_BARBARIAN_DEFAULT_LEADERS}
    recruit={AE_MAG_BARBARIAN_DEFAULT_RECRUITS}
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#textdomain wesnoth-Era_of_Magic
[multiplayer_side]
    id=darkblood
    image,name="factions/EoMa-faction-darkblood.png", "EoMa - " + _"Dark Blood Alliance" # wmllint: ignore

    type=AE_mag_Clan_Leader
    {AE_MAG_DARKBLOOD_DEFAULT_LEADERS}
    recruit={AE_MAG_DARKBLOOD_DEFAULT_RECRUITS}
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter,scout,healer,healer
    [/ai]
[/multiplayer_side]

#textdomain wesnoth-Era_of_Magic
[multiplayer_side]
    id=destroyers
    image,name="factions/EoMa-faction-destroyers.png", "EoMa - " + _"Destroyers" # wmllint: ignore

    type=AE_mag_Punisher
    {AE_MAG_DESTROYERS_DEFAULT_LEADERS}
    recruit={AE_MAG_DESTROYERS_DEFAULT_RECRUITS}
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter
    [/ai]
[/multiplayer_side]

#textdomain wesnoth-Era_of_Magic
[multiplayer_side]
    id=kharos
    image,name="factions/EoMa-faction-kharos.png", "EoMa - " + _"Kharos" # wmllint: ignore

    type=AE_mag_Bishop
    {AE_MAG_KHAROS_DEFAULT_LEADERS}
    recruit={AE_MAG_KHAROS_DEFAULT_RECRUITS}
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,healer,archer
    [/ai]
[/multiplayer_side]

#textdomain wesnoth-Era_of_Magic
[multiplayer_side]
    id=runemasters
    image,name="factions/EoMa-faction-runemasters.png", "EoMa - " + _"Runemasters" # wmllint: ignore

    type=AE_mag_Runesmith
    {AE_MAG_RUNEMASTERS_DEFAULT_LEADERS}
    recruit={AE_MAG_RUNEMASTERS_DEFAULT_RECRUITS}
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#textdomain wesnoth-Era_of_Magic
[multiplayer_side]
    id=skykingdom
    image,name="factions/EoMa-faction-skykingdom.png", "EoMa - " + _"Sky Kingdom" # wmllint: ignore

    type=AE_mag_Sorcerer
    {AE_MAG_SKYKINGDOM_DEFAULT_LEADERS}
    recruit={AE_MAG_SKYKINGDOM_DEFAULT_RECRUITS}
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#textdomain wesnoth-Era_of_Magic
[multiplayer_side]
    id=AE_mag_summoners
    image,name="factions/EoMa-faction-summoners.png", "EoMa - " + _"Summoners" # wmllint: ignore

    type=AE_mag_Summoner
    {AE_MAG_AL-KAMIJA_DEFAULT_LEADERS}
    recruit={AE_MAG_AL-KAMIJA_DEFAULT_RECRUITS}
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,mixed fighter,mixed fighter,archer,archer,scout,scout,scout,healer
    [/ai]
[/multiplayer_side]

#textdomain wesnoth-Era_of_Magic
[multiplayer_side]
    id=AE_mag_tharis
    image,name="factions/EoMa-faction-tharis.png", "EoMa - " + _"Tharis" # wmllint: ignore

    type=AE_mag_Dark_Wizard
    {AE_MAG_THARIS_DEFAULT_LEADERS}
    recruit={AE_MAG_THARIS_DEFAULT_RECRUITS}
    terrain_liked=gcs
    [ai]
        recruitment_pattern=archer,archer,fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]
