#textdomain wesnoth-Ageless_Era

### | Feudal Era Custom Default Factions

## | Ceresian League - Default

[multiplayer_side]
    id=AE_side_feu_ceresian
    name= "Feudal - " + _ "Ceresian League"
    image="units/human-ceresians/lieutenant.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_feu_ceresians_Lieutenant
    leader=AE_feu_ceresians_Lieutenant,AE_feu_ceresians_Man_at_Arms,AE_feu_ceresians_Espadachino,AE_feu_ceresians_Arbalestier,AE_feu_ceresians_Deacon
    random_leader=AE_feu_ceresians_Lieutenant,AE_feu_ceresians_Man_at_Arms,AE_feu_ceresians_Espadachino,AE_feu_ceresians_Deacon
    recruit=AE_feu_ceresians_Corporal,AE_feu_ceresians_Yeoman,AE_feu_ceresians_Crossbowman,AE_feu_ceresians_Squire,AE_feu_ceresians_Cavalryman,AE_feu_ceresians_Acolyte,AE_feu_ceresians_Novice
    terrain_liked=Gs,Hh,Rr,Ww
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer,healer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Clockwork Dwarves - Default

[multiplayer_side]
    id=AE_side_feu_clockwork
    name= "Feudal - " + _ "Clockwork Dwarves"
    image="units/dwarves-clockwork/marshal.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_feu_clockwork_dwarves_Marshal
    leader=AE_feu_clockwork_dwarves_Marshal,AE_feu_clockwork_dwarves_Miasmist,AE_feu_clockwork_dwarves_Gunner,AE_feu_clockwork_dwarves_Rambler,AE_feu_clockwork_dwarves_Oiler,AE_feu_clockwork_dwarves_Iron_Golem_Soldier
    recruit=AE_feu_clockwork_dwarves_Triggerman,AE_feu_clockwork_dwarves_Soldier,AE_feu_clockwork_dwarves_Wanderer,AE_feu_clockwork_dwarves_Greaser,AE_feu_clockwork_dwarves_Contraption,AE_feu_clockwork_dwarves_Wooden_Bird,AE_feu_clockwork_dwarves_Golem_Soldier
    [ai]
        recruitment_pattern=archer,fighter,fighter,healer,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | High Elves - Default

[multiplayer_side]
    id=AE_side_feu_highelf
    name= "Feudal - " + _ "High Elves"
    image="units/elves-high/feyblade-se.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_feu_high_elves_Feyblade
    leader=AE_feu_high_elves_Chasseur,AE_feu_high_elves_Feyblade,AE_feu_high_elves_Enchantress,AE_feu_high_elves_Schiltron,AE_feu_high_elves_Shieldbearer,AE_feu_high_elves_Glavier
    recruit=AE_feu_high_elves_Archer,AE_feu_high_elves_Charger,AE_feu_high_elves_Sorceress,AE_feu_high_elves_Faerie_Warrior,AE_feu_high_elves_Spearman,AE_feu_high_elves_Horse_Archer,AE_feu_high_elves_Charger
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Orcish Khaganates - Default

[multiplayer_side]
    id=AE_side_feu_khaganate
    name= "Feudal - " + _ "Orcish Khaganates"
    image="units/orcs-khaganate/juggernaut.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_feu_khaganate_Vanguard
    leader=AE_feu_khaganate_Vanguard,AE_feu_khaganate_Juggernaut,AE_feu_khaganate_Icewind_Drover,AE_feu_khaganate_Outcast,AE_feu_khaganate_Rigid,AE_feu_khaganate_Bladesman,AE_feu_khaganate_Spearman
    random_leader=AE_feu_khaganate_Vanguard,AE_feu_khaganate_Juggernaut,AE_feu_khaganate_Icewind_Drover,AE_feu_khaganate_Outcast,AE_feu_khaganate_Bladesman,AE_feu_khaganate_Spearman
    recruit=AE_feu_khaganate_Warrior,AE_feu_khaganate_Shieldbearer,AE_feu_khaganate_Icewind_Herder,AE_feu_khaganate_Hunter,AE_feu_khaganate_Spearhead
    terrain_liked=Ss,Hh,Ha,Ww
    [ai]
        recruitment_pattern=fighter,fighter,scout,defender,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
#                                                                         #
#                          U N I T   T R E E S                            #
#                                                                         #
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

### | Ceresian League Unit Tree

#Yeoman -> Pikeman -> Halberdier
#       -> Mounted Infantryman
#
#       -> Espadachino -> Rodelero*
#Squire -> Man-at-Arms -> Champion
#       -> Knight Errant -> Knight Commander
#Cavalryman -> Stradioto -> Cavaliero
#
#Crossbowman -> Arbalestier -> Master Arbalestier
#            -> Mounted Crossbowman -> Cranequinier*
#
#Acolyte -> Deacon -> Monsignor -> Metropolitan
#        -> Order Knight -> Knight Raetian
#
#Novice -> Monk -> Pellegrino
#
#Corporal -> Lieutenant -> Condottiero

### | High Elves Unit Tree

#Spearman -> Schiltron -> Fouchardier
#         -> Shieldbearer -> Aegis
#
#Archer -> Chasseur -> Tireur d'Elite
#
#Charger -> Cuirassier -> Cataphract -- heavy cavalry, like mainline Knight
#        -> Lancier -> Gendarme -- like mainline Lancer
#        -> Cavalier -> Escrimeur -- loses charge, gains resistance to pierce, has sword and crossbow
#
#Horse Archer -> Savari -> Voltigeur -- horse archer, has spear and bow
#             -> Coutillier -> Chevauleger -- loses bow, has spear and sword, has great speed but low resistances
#
#Faerie Warrior -> Feyblade -> Sylvanus -- male warrior-mage line
#
#Sorceress -> Enchantress -> Sylph -- like wood-elf sorceress line
#
#Initiate -> Priestess -> Diviner -- mermaid-like, though they're still elves
#         -> Enchantress -> Siren
