#textdomain wesnoth-Ageless_Era
### | Archiac Era Custom Default Factions
## | Despair - Default
[multiplayer_side]
    id=AE_side_arc_despair
    name= "Archaic - " + _ "Despair"
    image="units/despair/phantomslayer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_despair_Midnight_Beauty
    leader=AE_arc_despair_Soldier, AE_arc_despair_Midnight_Beauty,AE_arc_despair_Black_Shadow
    random_leader=AE_arc_despair_Soldier, AE_arc_despair_Midnight_Beauty
    recruit=AE_arc_despair_Wisp,AE_arc_despair_Black_Cloak,AE_arc_despair_Spearman,AE_arc_despair_Black_Rider,AE_arc_despair_Statue, AE_arc_despair_Widow
    terrain_liked=Ds,Ff,Hh,Uu,Rd
[/multiplayer_side]
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
## | Khthon - Default
[multiplayer_side]
    id=AE_side_arc_khthon
    name= "Archaic - " + _ "Khthon"
    image="units/khthon/adamantine.png"
    type=AE_arc_khthon_Pyradalon
    leader=AE_arc_khthon_Ophis,AE_arc_khthon_Katoblepon,AE_arc_khthon_Pyradalon
    recruit=AE_arc_khthon_Yak, AE_arc_khthon_Ram, AE_arc_khthon_Timber_Wolf, AE_arc_khthon_Horse, AE_arc_khthon_Toad, AE_arc_khthon_Terrapin, AE_arc_khthon_Brown_Duck
    terrain_liked=Aa,Ff,Hh,Ha,Rd
[/multiplayer_side]
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
## | Menagerie
[multiplayer_side]
    id=AE_side_arc_menagerie
    name= "Archaic - " + _ "Menagerie"
    image="units/menagerie/lunar-ripper.png"
    type=AE_arc_menagerie_Tower_Captain
    leader=AE_arc_menagerie_Blue_Machinist,AE_arc_menagerie_Blue_Mage,AE_arc_menagerie_Tower_Captain
    recruit=AE_arc_menagerie_Tower_Ladyboy, AE_arc_menagerie_Lesser_Wind_Daemon, AE_arc_menagerie_Drone, AE_arc_menagerie_Blue_Novice, AE_arc_menagerie_Blue_Lizard, AE_arc_menagerie_Lunar_Bug, AE_arc_menagerie_Lunar_Goo, AE_arc_menagerie_Scout_Robot,AE_arc_menagerie_Manbot,AE_arc_menagerie_Green_Novice,AE_arc_menagerie_Earth_Daemon_1
    terrain_liked=Ds,Ff,Hh,Uu,Rd
[/multiplayer_side]
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
## | Northern Orcs
[multiplayer_side]
    id=AE_side_arc_northernorcs
    name= "Archaic - " + _ "Northern Orcs"
    image="units/orcs/raider.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_orcs_Orcish_Hunter
    leader=AE_arc_orcs_Orcish_Fireline,AE_arc_orcs_Wanderer,AE_arc_orcs_Orcish_Raider, AE_arc_orcs_Orcish_Foreman
    recruit=AE_arc_orcs_Orcish_Slinger,AE_arc_orcs_Goblin_Rat_Rider,AE_arc_orcs_Orcish_Drifter,AE_arc_orcs_Orcish_Ox_Rider,AE_arc_orcs_Goblin_Spearman,AE_arc_orcs_Orcish_Knave
    terrain_liked=Hh, Ha, Mm, Ss
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
## | Phantoms - Default
[multiplayer_side]
    id=AE_side_arc_phantom
    name= "Archaic - " + _ "Phantom"
    image="units/phantom/mummy-king.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_phantom_Mummy_Noble
    leader=AE_arc_phantom_Archer, AE_arc_phantom_Wing_Dancer,AE_arc_phantom_Tomb_Shield_Guard,AE_arc_phantom_Mummy_Noble
    recruit=AE_arc_phantom_Feather_Dancer,AE_arc_phantom_Tomb_Guard,AE_arc_phantom_Huntress,AE_arc_phantom_Spirit_Dove, AE_arc_phantom_Vapor,AE_arc_phantom_Mummy
    terrain_liked=Ds,Ff,Hh,Uu,Rd
[/multiplayer_side]
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Primeval - Default
[multiplayer_side]
    id=AE_side_arc_primeval
    name= "Archaic - " + _ "Primeval"
    image="units/primeval/warrior.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_primeval_Driver
    leader=AE_arc_primeval_Ironwheel, AE_arc_primeval_Hastate, AE_arc_primeval_Escort,AE_arc_primeval_Driver
    recruit=AE_arc_primeval_Primevalist_Fighter, AE_arc_primeval_Primevalist_Follower, AE_arc_primeval_Slow_Foot, AE_arc_primeval_Swiftfoot, AE_arc_primeval_Cutter, AE_arc_primeval_Velite
    terrain_liked=Aa,Ff,Hh,Ha,Rd
[/multiplayer_side]
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
## | South-Seas
[multiplayer_side]
    id=AE_side_arc_southseas
    name= "Archaic - " + _ "South-Seas"
    image="units/south-seas/wolf.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_south_seas_Sea_Rover
    leader=AE_arc_south_seas_Seahag, AE_arc_south_seas_Able_Seaman, AE_arc_south_seas_Wind_Caller,AE_arc_south_seas_Sea_Rover
    recruit=AE_arc_south_seas_Seaman, AE_arc_south_seas_Swimmer, AE_arc_south_seas_Lore_Caster, AE_arc_south_seas_Arsonist, AE_arc_south_seas_Shoreman,AE_arc_south_seas_Albatross,AE_arc_south_seas_Breeze
    terrain_liked=Ds,Ff,Hh,Ww,Rd
[/multiplayer_side]
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
## | Ukians - Default
[multiplayer_side]
    id=AE_side_arc_ukian
    name= "Archaic - " + _ "Ukians"
    image="units/ukians/subcommander.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_ukians_Ukian_Officer
    leader=AE_arc_ukians_Ukian_Signalman, AE_arc_ukians_Ukian_Seeress, AE_arc_ukians_Ukian_Hawkeye, AE_arc_ukians_Northern_Soldier,AE_arc_ukians_Ukian_Officer
    recruit=AE_arc_ukians_Ukian_Regular, AE_arc_ukians_Ukian_Runner, AE_arc_ukians_Ukian_Archer, AE_arc_ukians_Ukian_Dog, AE_arc_ukians_Royal_Vassal, AE_arc_ukians_Northern_Fighter, AE_arc_ukians_Ukian_Seal,AE_arc_ukians_Ukian_Civilian,AE_arc_ukians_Royal_Spotter
    terrain_liked=Aa,Ai,Aa^Fpa,Ha,Ff
[/multiplayer_side]
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
