[unit_type]
    id=AE_agl_steelhive_Amniote
    name= _ "Steel Amniote"
    advances_to=AE_agl_steelhive_Choriote
    level=1
    cost=13
    hitpoints=55
    experience=17
    usage=fighter
    image="units/steelhive/amniote.png"
    description= _ "This unit is from the Steelhive faction. Its coding and art were done by Zerovirus and melinath.
 
These things are so useless. 3 squares of movement per turn on any terrain and 40% defense on any terrain. They can't even attack. At least they have a lot of health and can be used as ZOC dummies.

At least, they require minor maintenances..."
    movement=3

    alignment=neutral
    race=AE_agl_steelhive
    gender=female
    movement_type=AE_agl_steelhive_fly
    {STEELHIVE_SOUND:DIE}
    {STEELHIVE_SOUND:HIT}

    [defense]
        deep_water=70
        shallow_water=70
        reef=70
        swamp_water=70
        flat=70
        sand=70
        forest=70
        hills=70
        mountains=70
        village=60
        castle=70
        cave=70
        frozen=70
        unwalkable=70
        impassable=70
        fungus=70
    [/defense]
    [resistance]
        fire=110
        impact=110
        cold=110
    [/resistance]
	
	[abilities]
		{ABILITY_LOW_UPKEEP}
    [/abilities]

    [attack]
        name=collide
        description= _ "collide"
        icon="attacks/collide.png"
        type=impact
        range=melee
        damage=3
        number=2
    [/attack]
#define AMNIOTE_FRAME DURATION DIR
    [frame]
        duration={DURATION}
        image=units/steelhive/amniote-{DIR}.png
        auto_hflip=no
    [/frame]
#enddef
#define AMNIOTE_BASIC_ANIMS DIR
    [standing_anim]
        direction={DIR}
        {AMNIOTE_FRAME 0 {DIR}}
        {STEELHIVE_VILLAGE_SHIELD_STATIONARY}
    [/standing_anim]
    [movement_anim]
        direction={DIR}
        {AMNIOTE_FRAME 150 {DIR}}
    [/movement_anim]
    [pre_movement_anim]
        direction={DIR}
        terrain_type=*^V*
        {AMNIOTE_FRAME 300 {DIR}}
        {STEELHIVE_VILLAGE_SHIELD_FADE_OUT}
    [/pre_movement_anim]
    [post_movement_anim]
        direction={DIR}
        terrain_type=*^V*
        {AMNIOTE_FRAME 300 {DIR}}
        {STEELHIVE_VILLAGE_SHIELD_FADE_IN}
    [/post_movement_anim]
    [defend]
        direction={DIR}
        {AMNIOTE_FRAME 252 {DIR}}
        {STEELHIVE_VILLAGE_SHIELD_DEFEND}
    [/defend]
#enddef
    {AMNIOTE_BASIC_ANIMS ne}
    {AMNIOTE_BASIC_ANIMS nw}
    {AMNIOTE_BASIC_ANIMS n}
    {AMNIOTE_BASIC_ANIMS sw}
    {AMNIOTE_BASIC_ANIMS se}
    {AMNIOTE_BASIC_ANIMS s}
#undef AMNIOTE_BASIC_ANIMS

    [idle_anim]
        direction=n
        {STANDARD_IDLE_FILTER}
        {AMNIOTE_FRAME 200 ne}
        {AMNIOTE_FRAME 200 e}
        {AMNIOTE_FRAME 200 se}
        {AMNIOTE_FRAME 200 s}
        {AMNIOTE_FRAME 200 sw}
        {AMNIOTE_FRAME 200 w}
        {AMNIOTE_FRAME 200 nw}
    [/idle_anim]

    [idle_anim]
        direction=ne
        {STANDARD_IDLE_FILTER}
        {AMNIOTE_FRAME 200 e}
        {AMNIOTE_FRAME 200 se}
        {AMNIOTE_FRAME 200 s}
        {AMNIOTE_FRAME 200 sw}
        {AMNIOTE_FRAME 200 w}
        {AMNIOTE_FRAME 200 nw}
        {AMNIOTE_FRAME 200 n}
    [/idle_anim]

    [idle_anim]
        direction=se
        {STANDARD_IDLE_FILTER}
        {AMNIOTE_FRAME 200 s}
        {AMNIOTE_FRAME 200 sw}
        {AMNIOTE_FRAME 200 w}
        {AMNIOTE_FRAME 200 nw}
        {AMNIOTE_FRAME 200 n}
        {AMNIOTE_FRAME 200 ne}
        {AMNIOTE_FRAME 200 e}
    [/idle_anim]

    [idle_anim]
        direction=s
        {STANDARD_IDLE_FILTER}
        {AMNIOTE_FRAME 200 sw}
        {AMNIOTE_FRAME 200 w}
        {AMNIOTE_FRAME 200 nw}
        {AMNIOTE_FRAME 200 n}
        {AMNIOTE_FRAME 200 ne}
        {AMNIOTE_FRAME 200 e}
        {AMNIOTE_FRAME 200 se}
    [/idle_anim]

    [idle_anim]
        direction=sw
        {STANDARD_IDLE_FILTER}
        {AMNIOTE_FRAME 200 w}
        {AMNIOTE_FRAME 200 nw}
        {AMNIOTE_FRAME 200 n}
        {AMNIOTE_FRAME 200 ne}
        {AMNIOTE_FRAME 200 e}
        {AMNIOTE_FRAME 200 se}
        {AMNIOTE_FRAME 200 s}
    [/idle_anim]

    [idle_anim]
        direction=nw
        {STANDARD_IDLE_FILTER}
        {AMNIOTE_FRAME 200 n}
        {AMNIOTE_FRAME 200 ne}
        {AMNIOTE_FRAME 200 e}
        {AMNIOTE_FRAME 200 se}
        {AMNIOTE_FRAME 200 s}
        {AMNIOTE_FRAME 200 sw}
        {AMNIOTE_FRAME 200 w}
    [/idle_anim]
#undef AMNIOTE_FRAME
[/unit_type]
