#textdomain wesnoth-War_of_Legends
[unit_type]
    id=AE_agl_steelhive_Avalanche
    name=_"Steel Avalanche"
    advances_to=null
    {AMLA_DEFAULT}
    level=4
    cost=80
    hitpoints=77
    experience=175
    usage=mixed fighter
    image="units/steelhive/steel_syren.png"
    description= _ "This unit art and code is from Steel Hive - War of Legends Era, redesigned as custom unit by IPS to fit AE - Steelhive faction.
	
Avalanche is among finest and most elegant fighting models that steelhive has to offer, it offers among best fighting performance as well it looks so aesthetic when deployed. Now flies at low height which adds it better movement costs and ground terrain defenses. Its blade shock enemies, while dealing impact damage type because of short circuits."
    movement_type=AE_agl_steelhive_aquatic
    movement=6

    [movement_costs]
        unwalkable=1
        flat=1
        castle=1
        hills=1
        mountains=2
    [/movement_costs]

    [resistance]
        arcane=80
        cold=70
    [/resistance]
	
	[defense]
        deep_water=40
        forest=50
        hills=50
        mountains=50
        village=40
        castle=40
        unwalkable=70
    [/defense]
	


    alignment=neutral
    race=AE_agl_steelhive
    gender=female
    {STEELHIVE_SOUND:DIE}
    {STEELHIVE_SOUND:HIT}

    [attack]
        name=psionic blade
        description= _ "slash"
        icon="attacks/rayblade.png"
        type=blade
        range=melee
        damage=9
        number=5
		[specials]
		    {WEAPON_SPECIAL_AE_ELECTRIC}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=slash
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                sound={STEELHIVE_SOUND:SLASH}
                begin=-250
                end=0
                image="units/steelhive/steel_syren.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={STEELHIVE_SOUND:SLASH_MISS}
                begin=-250
                end=0
                image="units/steelhive/steel_syren.png"
            [/frame]
        [/else]
    [/attack_anim]

    [attack]
        name=jolt
        description= _ "jolt"
        icon="attacks/lightning.png"
        type=fire
        range=ranged
        damage=16
        number=2
        [specials]
		    {WEAPON_SPECIAL_AE_ELECTRIC}
            {WEAPON_SPECIAL_MARKSMAN}
			{WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        [missile_frame]
            begin=-50
            end=150
            image="projectiles/darkmissile-n.png"
            image_diagonal="projectiles/darkmissile-ne.png"
            sound={STEELHIVE_SOUND:ELECTRIC}
        [/missile_frame]
    [/attack_anim]
[/unit_type]
