#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_avians_Bowflurry
    name= _ "Bowflurry"
    race=AE_mrc_avians_race
    image="units/avians/bowflurry.png"
    profile="portraits/avians/bowflurry.png~RC(magenta>black)"
    hitpoints=63
    movement_type=AE_mrc_avians_Avianmedwing
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=46
    usage=archer
    undead_variation=gryphon
    description={AE_MRC_UNIT_NOTICE}+"Humans are very superstitious creatures. When fighting against Avians, they often runhome, with arrows in their armor, screaming something about it raining arrows from the sky. Silly humans, hahaha."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [resistance]
        impact=110
    [/resistance]
    [defense]
        castle=40
        swamp_water=60
    [/defense]
    [attack]
        name=claws
        description={STR_CLAWS}
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=9
        number=5
    [/attack]
    #{DEFENSE_ANIM "units/avians/bowflurry.png" "units/avians/bowflurry.png" {SOUND_LIST:GRYPHON_HIT} }

    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/avians/bowflurry.png"
            sound=claws.ogg
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        missile_start_time=-250
        [missile_frame]
            duration=250
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
            sound=bow.ogg
        [/missile_frame]
        start_time=-500
        [frame]
            image=units/avians/bowflurry.png
        [/frame]
    [/attack_anim]
[/unit_type]
