#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_avians_Daredevil
    name= _ "Daredevil"
    race=AE_mrc_avians_race
    image="units/avians/daredevil.png"
    profile="portraits/avians/daredevil.png~RC(magenta>black)"
    hitpoints=45
    movement_type=AE_mrc_avians_Avianmedwing
    movement=8
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=45
    usage=fighter
    undead_variation=gryphon
    description={AE_MRC_UNIT_NOTICE}+"Human horseman think they're the fastest, most powerful scouts in all of wesnoth. These little Avians would say otherwise. They're lightning quick and flit around the battlefield flying circles around most calvalry, impaling horses on their powerful spears and using their crazy momentum to skewer most footsoldiers"
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [defense]
        castle=50
    [/defense]
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        range=ranged
        damage=4
        number=5
    [/attack]
    [resistance]
        pierce=130
    [/resistance]
    {DEFENSE_ANIM "units/avians/daredevil.png" "units/avians/daredevil.png" {SOUND_LIST:GRYPHON_HIT} }

    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/avians/daredevil.png"
            sound=spear.ogg
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=gust
        [/filter_attack]
        missile_start_time=-250
        [missile_frame]
            duration=250
            image="projectiles/wind-10.png"
            image_diagonal="projectiles/wind-10-ne.png"
            sound=magicmissile.wav
        [/missile_frame]
        start_time=-500
        [frame]
            image=units/avians/daredevil.png
        [/frame]
    [/attack_anim]
[/unit_type]
