#textdomain wesnoth-Ageless_Era
[unit_type]
    description={AE_MIE_UNIT_NOTICE}
    id=AE_mie_thelian_master_of_curses
    name= _ "Master Of Curses"
    race=AE_mie_thelian
    image="units/human-thelians/master-of-curses.png"
    hitpoints=55
    movement_type=AE_mie_thelianfoot
    [resistance]
        cold=70
    [/resistance]
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=56
    usage=mixed fighter
    die_sound={SOUND_LIST:HUMAN_DIE}

    [attack]
        name=staff
        description={STR_STAFF}
        type=impact
        range=melee
        damage=7
        number=2
        icon=attacks/druidstaff.png
    [/attack]

    [attack]
        name=curse
        description={STR_CURSE}
        type=pierce
        range=ranged
        damage=14
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        icon="attacks/curse.png"
    [/attack]

    [attack]
        name=fireball
        description={STR_FIREBALL}
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=9
        number=3
    [/attack]

    {AE_MIE_GENERIC_STAFF_ANIM staff "units/human-thelians/master-of-curses.png"}
    {AE_MIE_GENERIC_FIREBALL_ANIM fireball "units/human-thelians/master-of-curses.png"}
    {AE_MIE_GENERIC_CURSE_ANIM curse "units/human-thelians/master-of-curses.png"}

    {DEFENSE_ANIM "units/human-thelians/master-of-curses.png" "units/human-thelians/master-of-curses.png" {SOUND_LIST:HUMAN_HIT} }
[/unit_type]
