#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_chs_chaos_empire_Sharpshooter
    name= _ "Chaos Sharpshooter"
    race=human
    image="units/human-chaos/sharpshooter.png"
    profile="portraits/chaos/sharpshooter.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=69
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=43
    usage=mixed fighter
    [defense]
        sand=60
    [/defense]
    description={AE_EOC_UNIT_NOTICE}+""+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN} # FIXME
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=10
        number=3
    [/attack]
    [attack]
        name=gun
        description= _ "gun"
        icon=attacks/thunderstick.png
        type=pierce
        range=ranged
        damage=22
        number=2
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]

    {DEFENSE_ANIM "units/human-chaos/sharpshooter.png" "units/human-chaos/sharpshooter.png" {SOUND_LIST:HUMAN_HIT}}

    [attack_anim]
        [filter_attack]
            name=gun
        [/filter_attack]
        start_time=-750

        [if]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH 0 0}
            direction=s
            hits=yes
            [frame]
                image="units/human-chaos/sharpshooter.png:800"
            [/frame]
        [/if]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=s
            hits=no
            [frame]
                image="units/human-chaos/sharpshooter.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH 0 0}
            direction=ne,nw
            hits=yes
            [frame]
                image="units/human-chaos/sharpshooter.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=ne,nw
            hits=no
            [frame]
                image="units/human-chaos/sharpshooter.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH 0 0}
            direction=n
            hits=yes
            [frame]
                image="units/human-chaos/sharpshooter.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=n
            hits=no
            [frame]
                image="units/human-chaos/sharpshooter.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH 0 0}
            direction=se,sw
            hits=yes
            [frame]
                image="units/human-chaos/sharpshooter.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=se,sw
            hits=no
            [frame]
                image="units/human-chaos/sharpshooter.png:800"
            [/frame]
        [/else]

        {SOUND:HIT_AND_MISS thunderstick.ogg thunderstick-miss.ogg -250}
    [/attack_anim]

    {GENERIC_SWORD_ANIM sword "units/human-chaos/sharpshooter.png"}
[/unit_type]
