#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_mh_Eaglemaster
    name= _ "Eaglemaster"
    race=AE_RHY_human
    gender=male
    image="units/human-mountains/birdman.png"
    hitpoints=60
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=53
    usage=archer
    description={AE_RHY_UNIT_NOTICE}+ _ "The Eaglemasters have the abilty to tame and train the largest and most dangerous birds of prey. They are always accompanied by their personal eagle, but they also train the captured Rocs."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-mountains/birdman.png" "units/human-mountains/birdman.png" {SOUND_LIST:HUMAN_HIT}}
    {AE_RHY_MOVETYPE_MOUNTAINTRIBE}
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=crossbow
        description= _ "crossbow"
        type=pierce
        range=ranged
        damage=13
        number=3
        parry=5
        icon=attacks/crossbow-human.png
    [/attack]
    [attack]
        name=dive
        description= _ "dive"
        type=blade
        range=ranged
        accuracy=10
        damage=11
        number=4
        icon=attacks/claws-animal.png
    [/attack]
    {AE_RHY_ANIM_SWORD human-mountains/birdman}
    {AE_RHY_ANIM_CROSSBOW human-mountains/birdman}
    [attack_anim]
        [filter_attack]
            name=dive
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/bird-n.png"
            image_diagonal="projectiles/bird-ne.png"
        [/missile_frame]
        start_time=-400
        [frame]
            image="units/human-mountains/birdman.png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:BAT_HIT} {SOUND_LIST:MISS} -300}
        [frame]
            image="units/human-mountains/birdman.png:300"
        [/frame]
    [/attack_anim]
[/unit_type]
