#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_mh_Roc
    name= _ "Roc"
    race=AE_RHY_roc
    image="units/human-mountains/roc.png"
    hitpoints=48
    movement_type=fly
    movement=9
    experience=79
    level=2
    alignment=neutral
    advances_to=AE_rhy_mh_Thunderbird
    cost=39
    usage=scout
    description={AE_RHY_UNIT_NOTICE}+ _ "Roc's are gigantic birds that can dive to the ground at impressive speeds. Any traveller in the mountains should be aware of these beasts and know how to hide from them if they want to survive."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [defense]
        mountains=40
    [/defense]
    [resistance]
        pierce=110
        impact=110
    [/resistance]
    #skirmisher?
    {DEFENSE_ANIM "units/human-mountains/roc.png" "units/human-mountains/roc.png" {SOUND_LIST:GRYPHON_HIT} }
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=beak
        description= _ "beak"
        type=pierce
        range=melee
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_CHARGE}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=beak
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/human-mountains/roc.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/human-mountains/roc.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/human-mountains/roc.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/human-mountains/roc.png"
                sound=claws.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/human-mountains/roc.png"
        [/frame]
    [/attack_anim]
[/unit_type]
