#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_mh_Adventurer
    name= _ "Mountain Adventurer"
    race=AE_RHY_human
    image=units/human-mountains/adventurer.png
    hitpoints=63
    movement_type=smallfoot
    movement=6
    vision=7
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=48
    usage=scout
    description={AE_RHY_UNIT_NOTICE}+ _ "Master survivalist and fearsome foes to bandits; The Adventurers are unmatched by any other human in scouting as well as conquering terrain that was deemed unhabitable. Their alpenstock can be used as multitool for hunting and climbing and the adventurers have learned to cripple prey with a precise throw of their boomerang."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-mountains/adventurer.png" units/human-mountains/adventurer.png {SOUND_LIST:HUMAN_HIT} }
    [movement_costs]
        hills=1
        mountains=2
        frozen=2
        cave=1
        forest=1#
    [/movement_costs]
    [defense]
        hills=40
        mountains=30
        frozen=60
        shallow_water=70
    [/defense]
    [resistance]
        cold=90
    [/resistance]
    [attack]
        name=stick
        description= _"alpenstock"
        type=impact
        range=melee
        damage=12
        number=3
        icon=attacks/hatchet.png
    [/attack]
    [attack]
        name=spear
        description= _"alpenstock"
        type=pierce
        range=melee
        damage=11
        number=3
        icon=attacks/javelin-orcish.png
    [/attack]
    [attack]
        name=boomerang
        description= _"boomerang"
        icon=attacks/boomerang.png
        type=impact
        range=ranged
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    {AE_RHY_ANIM_SPEAR human-mountains/adventurer}
    [attack_anim]
        [filter_attack]
            name=boomerang
        [/filter_attack]
        start_time=-400
        {AE_RHY_MISSILE_FRAME_BOOMERANG}
        [frame]
            image="units/human-mountains/adventurer.png:150"
        [/frame]
        [if]
            hits=yes
            [frame]
                image="units/human-mountains/adventurer.png:100"
                sound=hatchet.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                image="units/human-mountains/adventurer.png:100"
                sound=hatchet-miss.wav
            [/frame]
        [/else]
        [frame]
            image="units/human-mountains/adventurer.png:350"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=stick
            type=impact
        [/filter_attack]
        start_time=-300
        [frame]
            image="units/human-mountains/adventurer.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -210}
    [/attack_anim]
[/unit_type]
