#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_mh_Wolfguard
    name= _ "Wolfguard"
    race=AE_rhy_race_human_R
    image="units/human-mountains/wolf-guard.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=57
    movement_type=smallfoot
    movement=5
    experience=61
    level=2
    alignment=chaotic
    advances_to=AE_rhy_mh_Wolfswordmaster
    cost=29
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+""
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-mountains/wolf-guard.png" "units/human-mountains/wolf-guard.png" {SOUND_LIST:HUMAN_HIT} }
    {AE_RHY_MOVETYPE_MOUNTAINTRIBE}
    [resistance]
        blade=80
        pierce=80
        impact=90
        cold=90
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-75
            image="units/human-mountains/wolf-guard.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=75
                image="units/human-mountains/wolf-guard.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=75
                image="units/human-mountains/wolf-guard.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=75
            end=200
            image="units/human-mountains/wolf-guard.png"
        [/frame]
    [/attack_anim]
[/unit_type]
