#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_agl_desert_elves_dust_vengeance
    name= _ "Dust Vengeance"
    race=elf
    usage=scout
    image="units/monsters/dust-devil.png"
    level=2
    advances_to=null
    {AMLA_DEFAULT}
    experience=100
    hitpoints=36
    alignment=neutral
    cost=34
    description= _ "This unit is an adaptation of PYR's Dust Devil combined with Flurry from the Era of the Future, designed as an extra by IPS for Ageless Era's Desert Elves.

	For real unknown reasons, some dust faeries have an endless thirst of vengeance because of the death of various of their friends in the battlefield. Spinning faster than all other dust faeries it's extremely hard to harm them using cutting or piercing weapons, still everything else seems to be effective against them."
    {DEFENSE_ANIM "units/monsters/dust-devil.png" "units/monsters/dust-devil.png" groan.wav }
    die_sound=groan.wav
    movement_type=AE_fut_welkinflurry
    movement=8

    [movement_costs]
        unwalkable=2
        mountains=2
    [/movement_costs]

    [defense]
        hills=50
        deep_water=60
        cave=60
        swallow_water=60
        swamp_water=60
		sand=40
    [/defense]

    [resistance]
        arcane=120
        blade=60
        cold=120
        fire=90
        pierce=50
        impact=120
    [/resistance]

    [attack]
        name=twister
        description= _ "twister"
        icon=attacks/claws-flaming.png
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=melee
        damage=7
        number=2
    [/attack]
	
	[attack]
        name=Wind Blast
        description= _ "Dust Tornado"
        icon="attacks/tornado.png"
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=9
        number=2
    [/attack]
	
    [attack]
        name=sand storm
        description= _ "sand storm"
        icon=attacks/sand-storm.png
        type=impact
        [specials]
            {WEAPON_SPECIAL_SWARM}
			{AE_RHY_WEAPON_SPECIAL_BLURRING}
        [/specials]
        range=ranged
        damage=4
        number=8
    [/attack]
    [abilities]
        {ABILITY_FIERY_RESURGENCE}
    [/abilities]

    [attack_anim]
        [filter_attack]
            name=sand storm
        [/filter_attack]
        [if]
            direction=sw,s,se
            [missile_frame]
                offset=1.0
                begin=-200
                end=120
                halo="projectiles/sand-storm-1.png:40,projectiles/sand-storm-2.png:40,projectiles/sand-storm-3.png:40,projectiles/sand-storm-4.png:40,projectiles/sand-storm-5.png:40,projectiles/sand-storm-6.png:40,projectiles/sand-storm-7.png:40,projectiles/sand-storm-8.png:40"
            [/missile_frame]
        [/if]
        [else]
            direction=ne,n,nw
            [missile_frame]
                offset=1.0
                begin=-200
                end=120
                halo="projectiles/sand-storm-1.png~FL(vert):40,projectiles/sand-storm-2.png~FL(vert):40,projectiles/sand-storm-3.png~FL(vert):40,projectiles/sand-storm-4.png~FL(vert):40,projectiles/sand-storm-5.png~FL(vert):40,projectiles/sand-storm-6.png~FL(vert):40,projectiles/sand-storm-7.png~FL(vert):40,projectiles/sand-storm-8.png~FL(vert):40"
            [/missile_frame]
        [/else]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=100
                sound=magic-faeriefire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=100
                sound=magic-faeriefire-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=twister
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                sound=bite.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
