#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_agl_desert_elves_Sun_Enchantress
    name= _ "female^Sun Enchantress"
    race=elf
    gender=female
    image=units/elves-quenoth/druid.png
    hitpoints=38
    movement_type=AE_sandland
    movement=5
    experience=80
    level=2
    alignment=lawful
    advances_to=AE_agl_desert_elves_Sun_Priestess
    cost=34
    usage=archer
    description={AE_EOC_UNIT_NOTICE}+""
    {DEFENSE_ANIM "units/elves-quenoth/druid-defend-1.png" "units/elves-quenoth/druid-defend-2.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [resistance]
        fire=85
    [/resistance]

    [defense]
        sand=40
    [/defense]

    [attack]
        name=fire aura
        description= _ "fire aura"
        icon=attacks/aura-fire.png
        type=fire
        range=melee
        damage=3
        number=4
    [/attack]

    [attack]
        name=mystic fire
        description= _ "mystic fire"
        icon=attacks/fireball.png
        range=ranged
        type=fire
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fire aura
        [/filter_attack]
        {AE_EOC_MELEE_FRAME_FIRE_AURA "units/elves-quenoth/druid.png" "units/elves-quenoth/druid.png"}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=mystic fire
        [/filter_attack]
        {MISSILE_FRAME_FAERIE_MYSTIC_FIRE}
        start_time=-425
        [frame]
            duration=75
            image="units/elves-quenoth/druid-magic-1.png"
        [/frame]
        [frame]
            duration=75
            image="units/elves-quenoth/druid-magic-2.png"
        [/frame]
        [frame]
            duration=75
            image="units/elves-quenoth/druid-magic-3.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=200
                image="units/elves-quenoth/druid-magic-4.png"
                sound=torch-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=200
                image="units/elves-quenoth/druid-magic-4.png"
                sound=torch.ogg
            [/frame]
            {BURST_FRAME_FAERIE_MYSTIC_FIRE}
        [/else]
        [frame]
            duration=50
            image="units/elves-quenoth/druid-magic-3.png"
        [/frame]
        [frame]
            duration=50
            image="units/elves-quenoth/druid-magic-2.png"
        [/frame]
        [frame]
            duration=50
            image="units/elves-quenoth/druid-magic-1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
