#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_stf_triththa_Armorer
    name= _ "Dwarvish Armorer"
    race=dwarf
    image="units/dwarves/armorer.png"
    profile="portraits/dwarves/transparent/runemaster.png"
    small_profile="portraits/dwarves/transparent/runemaster.png~SCALE(205,205)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    movement_type=dwarvishfoot
    movement=4
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=dwarf
    cost=34
    usage=fighter
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others.
 
" + _ "Dwarvish armorers are the driving force behind the great dwarven armies, supplying the fighters with their weapons. An Armorer can help nearby allies to fight more effectively, though they can hold their own as well."
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves/armorer.png" "units/dwarves/armorer.png" {SOUND_LIST:DWARF_HIT} }
    [resistance]
        blade=70
        pierce=70
        impact=70
    [/resistance]
    [abilities]
        {AE_ABILITY_SUPPLIES}
    [/abilities]
    #TODO# ANIMS
    [attack]
        name=hammer
        description={STR_HAMMER}
        icon=attacks/hammer.png
        type=impact
        range=melee
        damage=15
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image=units/dwarves/armorer.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image=units/dwarves/armorer.png
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image=units/dwarves/armorer.png
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
