#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_stf_triththa_Dwarvish_Fighter
    [base_unit]
        id=Dwarvish Fighter
    [/base_unit]
    advances_to=Dwarvish Steelclad,AE_stf_triththa_Runefighter
    experience=45
    description={AE_EOS_UNIT_NOTICE}+_"" + _ "Dwarvish Fighters wield mighty battle axes and hammers, which make them feared opponents in close-range combat. They are excellent in mountainous terrain or underground. Their power and endurance more than compensate for their relatively poor mobility."
[/unit_type]
