#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_stf_triththa_Smith
    name= _ "Dwarvish Smith"
    race=dwarf
    image=units/dwarves/smith.png
    profile="portraits/dwarves/transparent/runemaster.png"
    small_profile="portraits/dwarves/transparent/runemaster.png~SCALE(205,205)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=27
    movement_type=dwarvishfoot
    movement=4
    experience=34
    level=1
    alignment=neutral
    advances_to=AE_stf_triththa_Armorer
    undead_variation=dwarf
    cost=12
    usage=fighter
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others.
 
" + _ "Smiths are the craftsmen that make the technological marvels that the dwarvish race is rightly so famous for. Though it is uncommon to see one in battle, they wield their smithing hammers with unrelenting ferocity."
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves/smith.png" "units/dwarves/smith.png" {SOUND_LIST:DWARF_HIT} }
    #TODO# ANIMS
    [attack]
        name=hammer
        description={STR_HAMMER}
        icon=attacks/hammer.png
        type=impact
        range=melee
        damage=9
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image=units/dwarves/smith.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image=units/dwarves/smith.png
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image=units/dwarves/smith.png
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
