#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_myh_Lava_Beast
    name= _ "Lava Beast"
    race=AE_myh_elemental
    {TRAIT_RUBY}
    {TRAIT_RUBY}
    {TRAIT_EMERALD}
    {TRAIT_DIAMOND}
    image="units/elementals/lava-beast.png"
    profile="portraits/elementals/lava-behemot.png"
    small_profile="portraits/elementals/lava-behemot.png~SCALE(205,205)"
    hitpoints=72
    movement_type=AE_myh_furnacefoot
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=38
    usage=fighter
    description= {AE_EOM_UNIT_NOTICE} +  _ "Eventually these spirits will grow to monstrous Lava Beast. Beware of them, they'll burn you!"+{SPECIAL_NOTES}+{SPECIAL_NOTES_DESERT_HOME}
    {DEFENSE_ANIM "units/elementals/lava-beast.png" "units/elementals/lava-beast.png" {SOUND_LIST:DRAKE_HIT}}
    die_sound=drake-die.ogg

    [abilities]
        {ABILITY_DESERTHOME}
    [/abilities]

    [attack]
        [filter_attack]
            name=fire claws
        [/filter_attack]
        name=fire claws
        description={STR_FIRE_CLAWS}
        type=fire
        range=melee
        damage=13
        number=3
        icon=attacks/claws-flaming.png
    [/attack]

    [attack_anim]
        start_time=-100
        [frame]
            image="units/elementals/lava-beast.png:200"
            sound=fire.wav
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
[/unit_type]
