#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_myh_Air
    name= _ "Air Elemental"
    race=AE_myh_elemental
    {TRAIT_EMERALD}
    {TRAIT_SAPPHIRE}
    {TRAIT_AMETHYST}
    {TRAIT_AMETHYST}
    image="units/elementals/magic-servant.png"
    profile="portraits/elementals/wisp.png"
    small_profile="portraits/elementals/wisp.png~SCALE(205,205)"
    hitpoints=18
    movement_type=AE_myh_windfly
    movement=8
    experience=26
    level=0
    alignment=neutral
    advances_to=AE_myh_Wind_Spirit,AE_myh_Razorbird
    cost=12
    usage=scout
    description= {AE_EOM_UNIT_NOTICE} +  _ "Air Elementals take the form of a purple cloud. It fights with the ice winds of the north that can draw the living heat from your skin, and gales of wind that slice through armor. However the magical form of the elemental is fragile, and has no defense at close range."
    {DEFENSE_ANIM "units/elementals/magic-servant-defend.png" "units/elementals/magic-servant.png" wail.wav }
    die_sound=wail-long.wav

    [attack]
        name=forcewave
        description= _ "Galeforce"
        type=impact
        range=ranged
        damage=5
        number=3
        icon=attacks/wind-magenta-2.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=forcewave
        [/filter_attack]
        {MISSILE_FRAME_RAVAGE}
        start_time=-100
        [if]
            hits=yes
            [frame]
                image="units/elementals/magic-servant-attack.png:80"
                sound={SOUND_LIST:MAGIC_MISSILE}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                image="units/elementals/magic-servant-attack.png:80"
                sound={SOUND_LIST:MAGIC_MISSILE_MISS}
            [/frame]
        [/else]
    [/attack_anim]

    [recruit_anim]
        start_time=-100
        [frame]
            image="units/elementals/magic-servant-death2.png:120"
            alpha="0~0.5:120"
        [/frame]
        [frame]
            image="units/elementals/magic-servant-death1.png:120"
            alpha="0.5~1:120"
        [/frame]
        [frame]
            image="units/elementals/magic-servant.png:200"
        [/frame]
    [/recruit_anim]

    [death]
        start_time=0
        [frame]
            image="units/elementals/magic-servant-death[1~2].png:100"
        [/frame]
    [/death]
[/unit_type]
