#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_rovahrian_elves_Bowman
    name= _ "Bowman"
    race=rovElfe
    gender=male,female
    image="units/Elfe_Rovh/Archer.png"
    hitpoints=29
    movement_type=woodland
    movement=6
    experience=44
    level=1
    alignment=neutral
    cost=17
    usage=archer
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=AE_AoA_rovahrian_elves_War_Archer,AE_AoA_rovahrian_elves_Ranger
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/Elfe_Rovh/Archer.png" "units/Elfe_Rovh/Archer.png" {SOUND_LIST:ELF_HIT} }
    {TRAIT_DEXTROUS}
    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]
    [attack]
        name=sword
        description= _"sword"
        type=blade
        range=melee
        damage=5
        number=2
        icon=attacks/sword-elven.png
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=5
        number=4
    [/attack]
    {SWORD_SOUND}
    {BOW_SOUND}
    [female]
        name= _"Bowman"
        gender=female
        image="units/Elfe_Rovh/Archer2.png"
        die_sound={SOUND_LIST:ELF_FEMALE_HIT}
        {DEFENSE_ANIM "units/Elfe_Rovh/Archer2.png" "units/Elfe_Rovh/Archer2.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [/female]
[/unit_type]
