#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_rovahrian_elves_Druid
    name= _ "Druid"
    race=rovElfe
    gender=female
    image="units/Elfe_Rovh/Druide.png"
    hitpoints=36
    movement_type=woodland
    {LESS_NIMBLE_ELF}
    movement=5
    experience=80
    level=2
    alignment=neutral
    cost=25
    usage=healer
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=AE_AoA_rovahrian_elves_Archdruid
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM "units/Elfe_Rovh/Druide.png" "units/Elfe_Rovh/Druide.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [abilities]
        {ABILITY_CURES}
    [/abilities]
    {TRAIT_DEXTROUS}
    [attack]
        name=baton
        description= _"staff"
        type=impact
        range=melee
        damage=4
        number=2
        icon=attacks/druidstaff.png
    [/attack]
    [attack]
        name=entangle
        description=_"entangle"
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=6
        number=2
        range=ranged
    [/attack]
    [attack]
        name=thorns
        description=_"spines"
        type=pierce
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=6
        number=3
        range=ranged
    [/attack]
    {STAFF_SOUND}
    {ENTANGLE_SOUND}
    {THORNS_SOUND}
[/unit_type]
