#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_rovahrian_elves_Herald
    name= _ "Herald"
    race=rovElfe
    gender=male,female
    image="units/Elfe_Rovh/Heraut.png"
    hitpoints=63
    movement_type=woodland
    movement=10
    experience=134
    level=3
    alignment=neutral
    cost=43
    usage=scout
    undead_variation=mounted
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/Elfe_Rovh/Heraut.png" "units/Elfe_Rovh/Heraut.png" {SOUND_LIST:ELF_HIT} }
    {TRAIT_DEXTROUS}
    [defense]
        forest=40
    [/defense]
    [resistance]
        pierce=120
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=9
        number=4
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=9
        number=3
    [/attack]
    {SWORD_SOUND}
    {BOW_SOUND}
    [female]
        name= _"Herald"
        gender=female
        image="units/Elfe_Rovh/Heraut.png"
        die_sound={SOUND_LIST:ELF_FEMALE_HIT}
        {DEFENSE_ANIM "units/Elfe_Rovh/Heraut.png" "units/Elfe_Rovh/Heraut.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [/female]
[/unit_type]
