#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_rovahrian_elves_High_Lord
    name= _ "High Lord"
    race=rovElfe
    gender=male,female
    image="units/Elfe_Rovh/Haut-seigneur.png"
    hitpoints=55
    movement_type=woodland
    {LESS_NIMBLE_ELF}
    movement=6
    experience=150
    level=3
    alignment=neutral
    cost=64
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/Elfe_Rovh/Haut-seigneur.png" "units/Elfe_Rovh/Haut-seigneur.png" {SOUND_LIST:ELF_HIT} }
    {TRAIT_DEXTROUS}
    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=10
        number=4
    [/attack]
    [attack]
        name=faerie fire
        description= _"faerie fire"
        type=arcane
        damage=7
        number=5
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        icon=attacks/faerie-fire.png
    [/attack]
    {SWORD_SOUND}
    {HOLYFIRE_SOUND}
    [female]
        name= _"High lady"
        gender=female
        image="units/Elfe_Rovh/Haut-seigneur2.png"
        die_sound={SOUND_LIST:ELF_FEMALE_HIT}
        {DEFENSE_ANIM "units/Elfe_Rovh/Haut-seigneur2.png" "units/Elfe_Rovh/Haut-seigneur2.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [/female]
[/unit_type]
