#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_rovahrian_elves_Master_Archer
    name= _ "Master Archer"
    race=rovElfe
    gender=male,female
    image="units/Elfe_Rovh/Maitre-archer.png"
    hitpoints=47
    movement_type=woodland
    movement=6
    experience=150
    level=3
    alignment=neutral
    cost=55
    usage=archer
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/Elfe_Rovh/Maitre-archer.png" "units/Elfe_Rovh/Maitre-archer.png" {SOUND_LIST:ELF_HIT} }
    {TRAIT_DEXTROUS}
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=8
        number=2
    [/attack]
    [attack]
        name=bow
        description=_"longbow"
        icon=attacks/bow-elven-magic.png
        type=pierce
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=13
        number=4
    [/attack]
    {SWORD_SOUND}
    {BOW_SOUND}
    [female]
        name= _"Master Archer"
        gender=female
        image="units/Elfe_Rovh/Maitre-archer2.png"
        die_sound={SOUND_LIST:ELF_FEMALE_HIT}
        {DEFENSE_ANIM "units/Elfe_Rovh/Maitre-archer2.png" "units/Elfe_Rovh/Maitre-archer2.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [/female]
[/unit_type]
