#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_rovahrian_elves_War_Archer
    name= _ "War Archer"
    race=rovElfe
    gender=male,female
    image="units/Elfe_Rovh/Archer-de-guerre.png"
    hitpoints=37
    movement_type=woodland
    movement=6
    experience=80
    level=2
    alignment=neutral
    cost=31
    usage=archer
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=AE_AoA_rovahrian_elves_Master_Archer
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/Elfe_Rovh/Archer-de-guerre.png" "units/Elfe_Rovh/Archer-de-guerre.png" {SOUND_LIST:ELF_HIT} }
    {TRAIT_DEXTROUS}
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=bow
        description=_"longbow"
        icon=attacks/bow-elven-magic.png
        type=pierce
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=9
        number=4
    [/attack]
    {SWORD_SOUND}
    {BOW_SOUND}
    [female]
        name= _"War Archer"
        gender=female
        image="units/Elfe_Rovh/Archer-de-guerre2.png"
        die_sound={SOUND_LIST:ELF_FEMALE_HIT}
        {DEFENSE_ANIM "units/Elfe_Rovh/Archer-de-guerre2.png" "units/Elfe_Rovh/Archer-de-guerre2.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [/female]
[/unit_type]
