#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_norse_jarldoms_Double_Axe
    name= _ "Double-Axe"
    race=nordian
    gender=male,female
    image="units/nord/Double-hache.png"
    hitpoints=32
    movement_type=AE_AoA_Nordfoot
    movement=6
    experience=36
    level=1
    alignment=chaotic
    cost=14
    usage=mixed fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=AE_AoA_norse_jarldoms_Viking,AE_AoA_norse_jarldoms_Devastating,AE_AoA_norse_jarldoms_Berserker
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/nord/Double-hache.png" "units/nord/Double-hache.png" {SOUND_LIST:HUMAN_HIT} }

    [defense]
        flat=50
        hills=40
        frozen=50
        shallow_water=70
        swamp_water=70
        mountains=30
    [/defense]

    [attack]
        name=hache
        description={STR_AXE}
        type=blade
        range=melee
        damage=4
        number=4
        icon=attacks/axe.png
    [/attack]
    [attack]
        name=hache de jet
        description= _"throwing axe"
        type=blade
        range=ranged
        damage=4
        number=2
        icon=attacks/hatchet.png
    [/attack]
    {AXE_SOUND}
    {HATCHET_SOUND}
    [female]
        name= _"Double-Axe"
        gender=female
        image="units/nord/Double-hache2.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/nord/Double-hache2.png" "units/nord/Double-hache2.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [/female]
[/unit_type]
