#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_norse_jarldoms_Jarl
    name= _ "Jarl"
    race=nordian
    gender=male,female
    image="units/nord/Jarl.png"
    hitpoints=83
    movement_type=AE_AoA_Nordfoot
    movement=5
    experience=200
    level=4
    alignment=neutral
    cost=111
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/nord/Jarl.png" "units/nord/Jarl.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]

    [resistance]
        blade=70
        pierce=80
        impact=60
        cold=80
    [/resistance]
    [attack]
        name=epee
        description={STR_LONGSWORD}
        type=blade
        range=melee
        damage=14
        number=4
        icon=attacks/greatsword-human.png
    [/attack]
    [attack]
        name=marteau
        description={STR_HAMMER}
        type=impact
        range=melee
        damage=16
        number=3
        icon=attacks/hammer-dwarven.png
    [/attack]
    {SWORD_SOUND}
    {MACE_SOUND}
    [female]
        name= _"Jarl"
        gender=female
        image="units/nord/Jarl2.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/nord/Jarl2.png" "units/nord/Jarl2.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [/female]
[/unit_type]
