#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_norse_jarldoms_Warrior
    name= _ "Warrior"
    race=nordian
    gender=male,female
    image="units/nord/Guerrier.png"
    hitpoints=38
    movement_type=AE_AoA_Nordfoot
    movement=5
    experience=42
    level=1
    alignment=neutral
    cost=15
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=AE_AoA_norse_jarldoms_Huskarl
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/nord/Guerrier.png" "units/nord/Guerrier.png" {SOUND_LIST:HUMAN_HIT} }

    [resistance]
        impact=80
        blade=90
    [/resistance]
    [attack]
        name=epee
        description={STR_SWORD}
        type=blade
        range=melee
        damage=7
        number=3
        icon=attacks/sword-human.png
    [/attack]
    [attack]
        name=marteau
        description={STR_HAMMER}
        type=impact
        range=melee
        damage=8
        number=2
        icon=attacks/hammer-dwarven.png
    [/attack]
    {SWORD_SOUND}
    {MACE_SOUND}
    [female]
        name= _"Warrior"
        gender=female
        image="units/nord/Guerrier2.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/nord/Guerrier2.png" "units/nord/Guerrier2.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [/female]
[/unit_type]
