#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ma_Heavybow
    name= _ "Marashy War Bowman"
    race=AE_RHY_rashy
    gender=male
    image="units/marashy/heavybowman.png"
    hitpoints=60
    movement_type=AE_RHY_rashyfoot
    movement=6
    experience=134
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=archer
    cost=50
    usage=archer
    description={AE_RHY_UNIT_NOTICE}+ _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/marashy/heavybowman.png" "units/marashy/heavybowman.png" {SOUND_LIST:HUMAN_HIT}}
    [defense]
        flat=50
        sand=60
    [/defense]
    [resistance]
        pierce=100
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=10
        number=3
    [/attack]
    [attack]
        name=bow
        description={STR_LONGBOW}
        type=pierce
        range=ranged
        damage=11
        number=4
    [/attack]
    {AE_RHY_ANIM_SWORD marashy/heavybowman}
    {AE_RHY_ANIM_BOW marashy/heavybowman}
[/unit_type]
