#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ma_Spellblade
    name= _ "Marashy Spellblade"
    race=AE_RHY_rashy
    gender=male,female
    image="units/marashy/spellblade.png"
    hitpoints=50
    movement_type=AE_RHY_rashyfoot
    movement=6
    experience=93
    level=2
    alignment=chaotic
    advances_to=AE_rhy_ma_Battlemage
    cost=33
    {AE_RHY_TRAIT_BLOOD_RASHKY}
    usage=mixed fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "spellblades know magic alone isn't good enough if the enemy gets close. They have learned to defend themself with sword and shield if someone manages to dodge their magic long enough to get in melee range."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/marashy/spellblade.png" "units/marashy/spellblade.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [resistance]
        blade=100
        arcane=80
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=5
        number=3
    [/attack]
    [attack]
        name=missile
        description= _ "magic missile"
        icon=attacks/magic-missile.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=9
        number=3
    [/attack]
    [attack]
        name=arcane wave
        description= _ "arcane wave"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=10
        number=2
        icon=attacks/dark-missile.png
    [/attack]
    {AE_RHY_ANIM_SWORD marashy/spellblade}
    [attack_anim]
        [filter_attack]
            name=arcane wave
        [/filter_attack]
        {MISSILE_FRAME_SHADOW_WAVE}
        [frame]
            begin=-300
            end=-250
            image="units/marashy/spellblade.png"
            halo=halo/undead/dark-magic-1.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-250
            end=-200
            image="units/marashy/spellblade.png"
            halo=halo/undead/dark-magic-2.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-200
            end=-150
            image="units/marashy/spellblade.png"
            halo=halo/undead/dark-magic-3.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-150
            end=-100
            image="units/marashy/spellblade.png"
            halo=halo/undead/dark-magic-4.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-100
            end=-50
            image="units/marashy/spellblade.png"
            halo=halo/undead/dark-magic-5.png
            halo_x,halo_y=0,-12
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=0
                image="units/marashy/spellblade.png"
                halo=halo/undead/dark-magic-6.png
                halo_x,halo_y=0,-12
                sound=magic-dark-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=0
                image="units/marashy/spellblade.png"
                halo=halo/undead/dark-magic-6.png
                halo_x,halo_y=0,-12
                sound=magic-dark.ogg
            [/frame]
        [/else]
        [frame]
            begin=0
            end=100
            image="units/marashy/spellblade.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        offset=0
        {MAGIC_MISSILE 14 -23}
        {MAGIC_MISSILE_STAFF_FLARE -750 600 14 -23}
        [frame]
            begin=-800
            end=-350
            image="units/marashy/spellblade.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-350
                end=-100
                image="units/marashy/spellblade.png"
                sound=magic-missile-1-miss.ogg,magic-missile-2-miss.ogg,magic-missile-3-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-350
                end=-100
                image="units/marashy/spellblade.png"
                sound=magic-missile-1.ogg,magic-missile-2.ogg,magic-missile-3.ogg
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=100
            image="units/marashy/spellblade.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "female^Marashy spellblade"
        gender=female
        image="units/marashy/spellblade+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/marashy/spellblade+female.png" "units/marashy/spellblade+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        {AE_RHY_ANIM_SWORD marashy/spellblade+female}
        [attack_anim]
            [filter_attack]
                name=arcane wave
            [/filter_attack]
            {MISSILE_FRAME_SHADOW_WAVE}
            [frame]
                begin=-300
                end=-250
                image="units/marashy/spellblade+female.png"
                halo=halo/undead/dark-magic-1.png
                halo_x,halo_y=0,-12
            [/frame]
            [frame]
                begin=-250
                end=-200
                image="units/marashy/spellblade+female.png"
                halo=halo/undead/dark-magic-2.png
                halo_x,halo_y=0,-12
            [/frame]
            [frame]
                begin=-200
                end=-150
                image="units/marashy/spellblade+female.png"
                halo=halo/undead/dark-magic-3.png
                halo_x,halo_y=0,-12
            [/frame]
            [frame]
                begin=-150
                end=-100
                image="units/marashy/spellblade.png"
                halo=halo/undead/dark-magic-4.png
                halo_x,halo_y=0,-12
            [/frame]
            [frame]
                begin=-100
                end=-50
                image="units/marashy/spellblade+female.png"
                halo=halo/undead/dark-magic-5.png
                halo_x,halo_y=0,-12
            [/frame]
            [if]
                hits=no
                [frame]
                    begin=-50
                    end=0
                    image="units/marashy/spellblade+female.png"
                    halo=halo/undead/dark-magic-6.png
                    halo_x,halo_y=0,-12
                    sound=magic-dark-miss.ogg
                [/frame]
            [/if]
            [else]
                hits=yes
                [frame]
                    begin=-50
                    end=0
                    image="units/marashy/spellblade+female.png"
                    halo=halo/undead/dark-magic-6.png
                    halo_x,halo_y=0,-12
                    sound=magic-dark.ogg
                [/frame]
            [/else]
            [frame]
                begin=0
                end=100
                image="units/marashy/spellblade+female.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=missile
            [/filter_attack]
            offset=0
            {MAGIC_MISSILE 14 -23}
            {MAGIC_MISSILE_STAFF_FLARE -750 600 14 -23}
            [frame]
                image="units/marashy/spellblade+female.png"
            [/frame]
            [if]
                [frame]
                    image="units/marashy/spellblade+female.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/marashy/spellblade+female.png"
                [/frame]
            [/else]
            [frame]
                image="units/marashy/spellblade+female.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
