#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ma_Adept
    name= _ "Marashy Adept"
    gender=male,female
    race=AE_rhy_race_rashy
    image="units/marashy/adept.png"
    ellipse="misc/ellipse"
    hitpoints=27
    movement_type=AE_rhy_rashi_foot
    movement=5
    experience=55
    level=1
    alignment=chaotic
    advances_to=AE_rhy_ma_Sorcerer,AE_rhy_ma_Battlemage
    cost=18
    {TRAIT_WISE}
    usage=mixed fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Being choosen as a Trarashy Mage is a big honor, but not everyone can handle the responsibility which comes with the newfound power. The Trarashy forbid use of Magic for selfish purposes. Those Mages who value power over peace flee from the Magi order and join the Marashy."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/marashy/adept.png" "units/marashy/adept.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=sword
        description={STR_SHORT_SWORD}
        type=blade
        range=melee
        damage=4
        number=2
        icon=attacks/sword-human-short.png
    [/attack]
    [attack]
        name=arcane wave
        description=_"arcane wave"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=9
        number=2
        icon=attacks/dark-missile.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=arcane wave
        [/filter_attack]
        {MISSILE_FRAME_SHADOW_WAVE}
        [frame]
            begin=-300
            end=-250
            image="units/marashy/adept.png"
            halo=halo/undead/dark-magic-1.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-250
            end=-200
            image="units/marashy/adept.png"
            halo=halo/undead/dark-magic-2.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-200
            end=-150
            image="units/marashy/adept.png"
            halo=halo/undead/dark-magic-3.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-150
            end=-100
            image="units/marashy/adept.png"
            halo=halo/undead/dark-magic-4.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-100
            end=-50
            image="units/marashy/adept.png"
            halo=halo/undead/dark-magic-5.png
            halo_x,halo_y=0,-12
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=0
                image="units/marashy/adept.png"
                halo=halo/undead/dark-magic-6.png
                halo_x,halo_y=0,-12
                sound=magic-dark-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=0
                image="units/marashy/adept.png"
                halo=halo/undead/dark-magic-6.png
                halo_x,halo_y=0,-12
                sound=magic-dark.ogg
            [/frame]
        [/else]
        [frame]
            begin=0
            end=50
            image="units/marashy/adept.png"
        [/frame]
        [frame]
            begin=50
            end=90
            image="units/marashy/adept.png"
        [/frame]
        [frame]
            begin=90
            end=100
            image="units/marashy/adept.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-450
            end=-420
            image="units/marashy/adept.png"
        [/frame]
        [frame]
            begin=-420
            end=-395
            image="units/marashy/adept.png"
        [/frame]
        [frame]
            begin=-395
            end=-320
            image="units/marashy/adept.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-50
                end=0
                image="units/marashy/adept.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-50
                end=0
                image="units/marashy/adept.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=50
            image="units/marashy/adept.png"
        [/frame]
    [/attack_anim]
    [female]
        gender=female
        name= _ "female^Adept"
        image="units/marashy/adept+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/marashy/adept+female.png" "units/marashy/adept+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [attack_anim]
            [filter_attack]
                name=arcane wave
            [/filter_attack]
            [frame]
                image="units/marashy/adept+female.png"
            [/frame]
            [frame]
                image="units/marashy/adept+female.png"
            [/frame]
            [frame]
                image="units/marashy/adept+female.png"
            [/frame]
            [frame]
                image="units/marashy/adept+female.png"
            [/frame]
            [frame]
                image="units/marashy/adept+female.png"
            [/frame]
            [if]
                [frame]
                    image="units/marashy/adept+female.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/marashy/adept+female.png"
                [/frame]
            [/else]
            [frame]
                image="units/marashy/adept+female.png"
            [/frame]
            [frame]
                image="units/marashy/adept+female.png"
            [/frame]
            [frame]
                image="units/marashy/adept+female.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=sword
            [/filter_attack]
            [frame]
                image="units/marashy/adept+female.png"
            [/frame]
            [frame]
                image="units/marashy/adept+female.png"
            [/frame]
            [frame]
                image="units/marashy/adept+female.png"
            [/frame]
            [if]
                hits=yes
                [frame]
                    image="units/marashy/adept+female.png"
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    image="units/marashy/adept+female.png"
                [/frame]
            [/else]
            [frame]
                image="units/marashy/adept+female.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
