#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ma_Battlemage
    name= _ "Marashy Battlemage"
    race=AE_RHY_rashy
    gender=male,female
    image="units/marashy/battlemage.png"
    hitpoints=64
    movement_type=AE_RHY_rashyfoot
    movement=6
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=58
    {AE_RHY_TRAIT_BLOOD_RASHKY}
    usage=mixed fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "With the experience of many wars, Battlemages have learned to combine magic attacks together with their fencing ability. They are neither the best mages, nor the strongest swordsman, but a mixture of both fightingsyles turnes them into a deadly combination."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/marashy/battlemage.png" "units/marashy/battlemage.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [resistance]
        blade=100
        impact=100
        pierce=100
        arcane=80
    [/resistance]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/baneblade.png
        type=blade
        range=melee
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=8
        number=3
    [/attack]
    [attack]
        name=sword
        description= _ "enchanted sword"
        icon=attacks/baneblade.png
        type=arcane
        range=melee
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=10
        number=2
    [/attack]
    [attack]
        name=missile
        description= _ "magic missile"
        icon=attacks/magic-missile.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=13
        number=3
    [/attack]
    [attack]
        name=arcane wave
        description= _ "arcane wave"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=12
        number=2
        icon=attacks/dark-missile.png
    [/attack]
    {AE_RHY_ANIM_SWORD marashy/battlemage}
    [attack_anim]
        [filter_attack]
            name=arcane wave
        [/filter_attack]
        {MISSILE_FRAME_SHADOW_WAVE}
        [frame]
            begin=-300
            end=-250
            image="units/marashy/battlemage.png"
            halo=halo/undead/dark-magic-1.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-250
            end=-200
            image="units/marashy/battlemage.png"
            halo=halo/undead/dark-magic-2.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-200
            end=-150
            image="units/marashy/battlemage.png"
            halo=halo/undead/dark-magic-3.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-150
            end=-100
            image="units/marashy/battlemage.png"
            halo=halo/undead/dark-magic-4.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-100
            end=-50
            image="units/marashy/battlemage.png"
            halo=halo/undead/dark-magic-5.png
            halo_x,halo_y=0,-12
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=0
                image="units/marashy/battlemage.png"
                halo=halo/undead/dark-magic-6.png
                halo_x,halo_y=0,-12
                sound=magic-dark-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=0
                image="units/marashy/battlemage.png"
                halo=halo/undead/dark-magic-6.png
                halo_x,halo_y=0,-12
                sound=magic-dark.ogg
            [/frame]
        [/else]
        [frame]
            begin=0
            end=50
            image="units/marashy/battlemage.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        offset=0
        {MAGIC_MISSILE 14 -23}
        {MAGIC_MISSILE_STAFF_FLARE -750 600 14 -23}
        [frame]
            begin=-800
            end=-700
            image="units/marashy/battlemage.png"
        [/frame]
        [frame]
            begin=-700
            end=-350
            image="units/marashy/battlemage.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-350
                end=-100
                image="units/marashy/battlemage.png"
                sound=magic-missile-1-miss.ogg,magic-missile-2-miss.ogg,magic-missile-3-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-350
                end=-100
                image="units/marashy/battlemage.png"
                sound=magic-missile-1.ogg,magic-missile-2.ogg,magic-missile-3.ogg
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=100
            image="units/marashy/battlemage.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "female^Marashy Warlock"
        gender=female
        image="units/marashy/battlemage+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/marashy/battlemage+female.png" "units/marashy/battlemage+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        {AE_RHY_ANIM_SWORD marashy/battlemage+female}
        [attack_anim]
            [filter_attack]
                range=arcane wave
            [/filter_attack]
            [missile_frame]
                begin=-100
                end=100
                image="projectiles/darkmissile-n.png"
                image_diagonal="projectiles/darkmissile-ne.png"
            [/missile_frame]
            [frame]
                begin=-225
                end=-150
                image="units/marashy/battlemage+female.png"
            [/frame]
            [frame]
                begin=-150
                end=-75
                image="units/marashy/battlemage+female.png"
                halo=halo/undead/black-magic-1.png
            [/frame]
            [if]
                hits=yes
                [frame]
                    begin=-75
                    end=0
                    image="units/marashy/battlemage+female.png"
                    sound=magic-dark.ogg
                    halo=halo/undead/black-magic-2.png
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    begin=-75
                    end=0
                    image="units/marashy/battlemage+female.png"
                    sound=magic-dark-miss.ogg
                    halo=halo/undead/black-magic-2.png
                [/frame]
            [/else]
            [frame]
                begin=0
                end=75
                image="units/marashy/battlemage+female.png"
                halo=halo/undead/black-magic-3.png
            [/frame]
            [frame]
                begin=75
                end=150
                image="units/marashy/battlemage+female.png"
                halo=halo/undead/black-magic-4.png
            [/frame]
            [frame]
                begin=150
                end=200
                image="units/marashy/battlemage+female.png"
                halo=halo/undead/black-magic-5.png
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=missile
            [/filter_attack]
            offset=0
            {MAGIC_MISSILE 14 -23}
            {MAGIC_MISSILE_STAFF_FLARE -750 600 14 -23}
            [frame]
                image="units/marashy/battlemage+female.png"
            [/frame]
            [frame]
                image="units/marashy/battlemage+female.png"
            [/frame]
            [if]
                [frame]
                    image="units/marashy/battlemage+female.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/marashy/battlemage+female.png"
                [/frame]
            [/else]
            [frame]
                image="units/marashy/battlemage+female.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
