#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ma_Swordmaster
    name= _ "Marashy Swordmaster"
    race=AE_rhy_race_rashy
    image="units/marashy/sentinel.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=70
    movement_type=AE_rhy_rashi_foot
    movement=6
    experience=150
    level=3
    alignment=chaotic
    {TRAIT_FEARLESS}
    advances_to=null
    {AMLA_DEFAULT}
    cost=47
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+""
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/marashy/sentinel.png" "units/marashy/sentinel.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        blade=90
        impact=90
        pierce=100
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        parry=5
        damage=11
        number=4
    [/attack]
    [attack]
        name=shield
        description=_"shield"
        type=impact
        range=melee
        parry=10
        damage=9
        number=3
        icon="attacks/rectangular-shield.png"
    [/attack]
    [attack_anim]
        [filter_attack]
            name=shield
        [/filter_attack]
        [frame]
            image="units/marashy/sentinel.png"
            begin=-200
            end=-100
        [/frame]
        [if]
            hits=no
            [frame]
                image="units/marashy/sentinel.png"
                sound={SOUND_LIST:MISS}
                begin=-100
                end=100
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                image="units/marashy/sentinel.png"
                sound=club.ogg
                begin=-100
                end=100
            [/frame]
        [/else]
        [frame]
            image="units/marashy/sentinel.png"
            begin=100
            end=200
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-175
            end=-75
            image="units/marashy/sentinel.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=75
                image="units/marashy/sentinel.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=75
                image="units/marashy/sentinel.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=75
            end=200
            image="units/marashy/sentinel.png"
        [/frame]
    [/attack_anim]
[/unit_type]
