#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ma_Thief
    name= _ "Marashy Thief"
    race=AE_RHY_rashy
    gender=male
    image="units/marashy/thief.png"
    hitpoints=26
    movement_type=AE_RHY_rashyfoot_elusive
    movement=6
    experience=28
    level=1
    alignment=chaotic
    advances_to=AE_rhy_ma_Seeker
    cost=12
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/marashy/thief.png" "units/marashy/thief.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=dagger
        description= _ "dagger"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=4
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=3
        number=2
    [/attack]
    {AE_RHY_ANIM_DAGGER marashy/thief}
    {AE_RHY_ANIM_BOW marashy/thief}
[/unit_type]
