#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ma_Swordmaster
    name= _ "Marashy Swordmaster"
    race=AE_RHY_rashy
    image="units/marashy/sentinel.png"
    hitpoints=71
    movement_type=AE_RHY_rashyfoot
    movement=6
    experience=134
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=48
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/marashy/sentinel.png" "units/marashy/sentinel.png" {SOUND_LIST:HUMAN_HIT} }
    [defense]
        flat=50
        sand=60
    [/defense]
    [resistance]
        blade=90
        impact=90
        pierce=100
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=11
        number=4
    [/attack]
    [attack]
        name=shield
        description= _ "shield"
        type=impact
        range=melee
        parry=10
        damage=9
        number=3
        icon="attacks/rectangular-shield.png"
    [/attack]
    [attack_anim]
        [filter_attack]
            name=shield
        [/filter_attack]
        [frame]
            image="units/marashy/sentinel.png"
            begin=-200
            end=-100
        [/frame]
        [if]
            hits=no
            [frame]
                image="units/marashy/sentinel.png"
                sound={SOUND_LIST:MISS}
                begin=-100
                end=100
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                image="units/marashy/sentinel.png"
                sound=club.ogg
                begin=-100
                end=100
            [/frame]
        [/else]
        [frame]
            image="units/marashy/sentinel.png"
            begin=100
            end=200
        [/frame]
    [/attack_anim]
    {AE_RHY_ANIM_SWORD marashy/sentinel}
[/unit_type]
