#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_feu_khaganate_Flanker
    name= _ "Flanker"
    race=goblin
    image="units/orcs-khaganate/flanker.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=40
    movement_type=AE_feu_steppescout
    movement=6
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=22
    usage=scout
    description= _ "This unit is from Feudal Era. Its coding and art were done by Turin and Various others.
 
Some goblins have discovered that the skills gained on the hunt can be put to use on the battlefield. While goblins are not overly welcome among the raiding parties, they are undeniably useful and so their presence is tolerated, if grudgingly."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}
    {DEFENSE_ANIM "units/orcs-khaganate/flanker.png" "units/orcs-khaganate/flanker.png" {SOUND_LIST:GOBLIN_HIT}}
    die_sound={SOUND_LIST:GOBLIN_DIE}
    [attack]
        name=knife
        description={STR_KNIFE}
        icon=attacks/dagger-orcish.png
        type=blade
        range=melee
        damage=9
        number=2
    [/attack]
    [attack]
        name=harpoon
        description= _ "harpoon"
        icon=attacks/dagger-thrown-human.png
        type=pierce
        range=ranged
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=knife
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=50
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=50
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=200
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=harpoon
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        {HIT_MISS_SOUNDS dagger-swish.wav throwing-knife-miss.ogg (
            [frame]
                begin=-200
                end=-100
            [/frame]
        )}
        [frame]
            begin=-100
            end=0
        [/frame]
        {FRAME_ON_SLOW (
            [frame]
                begin=0
                end=100
                sound=slowed.wav
            [/frame]
        )}
    [/attack_anim]
[/unit_type]
