#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_feu_khaganate_Rigid
    name= _ "Rigid"
    race=orc
    image="units/orcs-khaganate/rigid.png"
    hitpoints=55
    movement_type=AE_feu_steppebasic
    movement=4
    experience=64
    level=2
    alignment=chaotic
    advances_to=AE_feu_khaganate_Stoic
    cost=30
    usage=fighter
    description= _ "This unit is from Feudal Era. Its coding and art were done by Turin and Various others.

Aptly named, the Rigid are a near unbreakable foe. They often form fall-back positions behind the battle lines. Many a time the Rigid have been sacrificed, delaying the enemy while the main force recovers and regroups behind their unyielding wall of flesh, bone and iron. Their role is hardly a glorious one and usually comes to an end jammed into a choke point against hopeless odds."
    [special_note]
        note=_ "Due to their lack of weaponry this unit can not attack the enemy. When attacked however, they retaliate with heavy strikes with the front of their shields."
    [/special_note]
    {DEFENSE_ANIM "units/orcs-khaganate/rigid.png" "units/orcs-khaganate/rigid.png" {SOUND_LIST:ORC_HIT}}
    die_sound={SOUND_LIST:ORC_DIE}
    [resistance]
        blade=60
        pierce=60
        impact=60
        fire=100
        arcane=90
        cold=70
    [/resistance]

    [defense]
        village=50
        forest=50
        castle=50
    [/defense]

    [attack]
        name=shield bash
        description={STR_SHIELD_BASH}
        icon=attacks/rectangular-shield.png
        type=impact
        range=melee
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_DEFEND_ONLY}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=shield bash
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/orcs-khaganate/rigid.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=50
                image="units/orcs-khaganate/rigid.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=50
                image="units/orcs-khaganate/rigid.png"
                sound=mace.wav
            [/frame]
        [/else]
        [frame]
            begin=50
            end=200
            image="units/orcs-khaganate/rigid.png"
        [/frame]
    [/attack_anim]
    [attack]
        name=kick
        description= _ "kick"
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=7
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=kick
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/orcs-khaganate/shieldbearer.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=50
                image="units/orcs-khaganate/shieldbearer.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=50
                image="units/orcs-khaganate/shieldbearer.png"
                sound=staff.wav
            [/frame]
        [/else]
        [frame]
            begin=50
            end=200
            image="units/orcs-khaganate/shieldbearer.png"
        [/frame]
    [/attack_anim]
[/unit_type]
