#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_feu_khaganate_Shieldbearer
    name= _ "Shieldbearer"
    race=orc
    image="units/orcs-khaganate/shieldbearer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=38
    movement_type=AE_feu_steppebasic
    movement=4
    experience=18
    level=1
    alignment=chaotic
    advances_to=AE_feu_khaganate_Rigid
    cost=12
    usage=fighter
    description= _ "This unit is from Feudal Era. Its coding and art were done by Turin and Various others.
 
Some soldiers are given a special role, quite different from any of their comrades. Shieldbearers carry no real weapon at all. Their unique duty is to protect the wounded, patch up holes in the line and, if all looks to be lost, hold off the enemy long enough to cover their retreating army. It has often been said by the Steppe Orcs that while the Shieldbearers have never secured victory, they have numerous times prevented utter defeat."+{SPECIAL_NOTES}+ _ "Due to their lack of weaponry Shieldbearers can not attack the enemy. When defending however, they retaliate with heavy strikes with the front of their shields."+{SPECIAL_NOTES}+{SPECIAL_NOTES_DEFEND_ONLY}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_STEADFAST} # wmllint: ignore
    {DEFENSE_ANIM "units/orcs-khaganate/shieldbearer.png" "units/orcs-khaganate/shieldbearer.png" {SOUND_LIST:ORC_HIT}}
    die_sound={SOUND_LIST:ORC_DIE}
    [resistance]
        blade=50
        pierce=50
        impact=60
        fire=100
    [/resistance]
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [attack]
        name=shield bash
        description={STR_SHIELD_BASH}
        icon=attacks/rectangular-shield.png
        type=impact
        range=melee
        damage=8
        number=2
        #attack_weight=0
        [specials]
            {WEAPON_SPECIAL_DEFEND_ONLY}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=shield bash
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/orcs-khaganate/shieldbearer.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=50
                image="units/orcs-khaganate/shieldbearer.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=50
                image="units/orcs-khaganate/shieldbearer.png"
                sound=staff.wav
            [/frame]
        [/else]
        [frame]
            begin=50
            end=200
            image="units/orcs-khaganate/shieldbearer.png"
        [/frame]
    [/attack_anim]
    [attack]
        name=kick
        description= _ "kick"
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=5
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=kick
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/orcs-khaganate/shieldbearer.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=50
                image="units/orcs-khaganate/shieldbearer.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=50
                image="units/orcs-khaganate/shieldbearer.png"
                sound=staff.wav
            [/frame]
        [/else]
        [frame]
            begin=50
            end=200
            image="units/orcs-khaganate/shieldbearer.png"
        [/frame]
    [/attack_anim]
[/unit_type]
