#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_feu_khaganate_Spearhead
    name= _ "Spearhead"
    race=orc
    image="units/orcs-khaganate/spearhead.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=38
    movement_type=AE_feu_steppebasic
    movement=5
    experience=40
    level=1
    alignment=chaotic
    advances_to=AE_feu_khaganate_Juggernaut,AE_feu_khaganate_Vanguard
    cost=17
    usage=fighter
    description= _ "This unit is from Feudal Era. Its coding and art were done by Turin and Various others.
 
Any Steppe Orcs wishing to lead their comrades must first show their worth in battle. Spearheads lead the charge into the enemy, seeking to crash a hole in the battle lines of the foe. It is a dangerous profession to say the least. Their eagerness to impress frequently results in a sticky end. Their crude but often effective tactics are complemented by equally crude but effective weapons. A weight attached to a chain makes a perfectly servicable flail."+{SPECIAL_NOTES}+"When used on the offensive the intimidation of a Spearheads charging flail attack decreases the damage he takes in retaliation. This only effects enemies of equal or lesser level." #wmllint: ignore
    {DEFENSE_ANIM "units/orcs-khaganate/spearhead.png" "units/orcs-khaganate/spearhead.png" {SOUND_LIST:ORC_HIT}}
    die_sound={SOUND_LIST:ORC_DIE}
    [attack]
        name=flail
        description={STR_FLAIL}
        icon=attacks/ball-and-chain.png
        type=impact
        range=melee
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_DREAD}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=flail
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/orcs-khaganate/spearhead.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=50
                image="units/orcs-khaganate/spearhead.png"
                sound=flail-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=50
                image="units/orcs-khaganate/spearhead.png"
                sound=flail.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=200
            image="units/orcs-khaganate/spearhead.png"
        [/frame]
    [/attack_anim]
[/unit_type]
