#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ext_orcs_Naga_Warden
    name= _ "Naga Warden"
    race=naga
    image="units/nagas/warden.png"
    hitpoints=50
    movement_type=naga
    movement=5
    experience=70
    [resistance]
        blade=90
        pierce=90
        impact=90
    [/resistance]
    level=2
    alignment=neutral
    advances_to=AE_ext_orcs_Naga_Sentinel,AE_ext_orcs_Naga_Abomination
    undead_variation=swimmer
    cost=48
    usage=fighter
    description= _ "This unit is from Extended Era. Its coding and art were done by the Various people who created Extended Era.
 
These heavy fighters are the elite guards of the naga. They are slower and more heavily armored than most naga and wield huge maces which they use to crush their enemies. They mostly guard naga outposts, but occasionally participate in offensive raids."
    {DEFENSE_ANIM "units/nagas/warden.png" "units/nagas/warden.png" {SOUND_LIST:NAGA_HIT} }
    die_sound=naga-die.ogg
    [attack]
        name=mace
        description={STR_MACE}
        type=impact
        range=melee
        damage=11
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        [if]
            hits=no
            [frame]
                sound={SOUND_LIST:MISS}
                begin=-150
                end=150
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                sound=mace.wav
                begin=-150
                end=150
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
