#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ext_orcs_Naga_Sentinel
    name= _ "Naga Sentinel"
    race=naga
    image="units/nagas/sentinel.png"
    hitpoints=55
    movement_type=naga
    movement=6
    experience=150
    [resistance]
        blade=90
        pierce=90
        impact=90
    [/resistance]
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=swimmer
    cost=100
    usage=fighter
    description= _ "This unit is from Extended Era. Its coding and art were done by the Various people who created Extended Era.
 
These heavy fighters are elite guards of the naga, choosen by their dedication and skill, their purpose is to defend their sleeping brethen from any menace or guarding their hidden cities from outside invasors until the great awake of their civilization arrive. These nagas are mostly unknow in Wesnoth since they can only be found near Naga cities."
    {DEFENSE_ANIM "units/nagas/sentinel.png" "units/nagas/sentinel.png" {SOUND_LIST:NAGA_HIT} }
    die_sound=naga-die.ogg
    [attack]
        name=mace
        description={STR_MACE}
        type=impact
        range=melee
        damage=12
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        [if]
            hits=no
            [frame]
                sound={SOUND_LIST:MISS}
                begin=-150
                end=150
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                sound=mace.wav
                begin=-150
                end=150
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
