#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ext_orcs_Naga_Assassin
    name= _ "Naga Assassin"
    race=naga
    image="units/nagas/assassin.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile="portraits/Mark_Goodenough/naga-hunter.png"
    hitpoints=42
    movement_type=naga
    movement=7
    level=2
    alignment=neutral
    experience=100
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=swimmer
    cost=25
    usage=archer
    description= _ "This unit is from Extended Era. Its coding and art were done by the Various people who created Extended Era.
 
Naga Hunters are Naga who are skilled at hunting with a bow. Since the naga are naturally resistant to poison, they have no qualms about hunting with poisoned arrows. These two foot long shafts, tipped with a potent poison, have been known to slay many kinds of prey."+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}
    {DEFENSE_ANIM "units/nagas/assassin.png" "units/nagas/assassin.png" {SOUND_LIST:NAGA_HIT} }
    die_sound=naga-die.ogg
    [defense]
        flat=60
        sand=50
    [/defense]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-orcish.png
        type=blade
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        icon=attacks/bow-orcish.png
        type=pierce
        range=ranged
        damage=11
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                sound={SOUND_LIST:SWORD_SWISH}
                begin=-100
                end=200
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={SOUND_LIST:MISS}
                begin=-100
                end=200
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        {SOUND:POISON}
        [frame]
            begin=-450
            end=-280
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-280
                end=-210
                sound=bow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-280
                end=-210
                sound=bow-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-210
            end=70
        [/frame]
    [/attack_anim]
[/unit_type]
