#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_imp_Sidhe_Blizzardlord
    name= _ "Blizzardlord"
    race=AE_imp_sidhe_race
    image="units/elves-sidhe/blizzardlord.png"
    hitpoints=60
    movement_type=AE_imp_sidhesnowcaster
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=60
    usage=archer
    description= _ "This unit is from Imperial Era. Its coding and art were done by Turin and Various others.
 
The Sidhe nobility, though not accepting commoners into their ranks, nonetheless pick the most skilled and loyal Snowdancers and raise them to the rank of Blizzardlord, giving them authority over the Hoarfrosters and Snowdancers. The expectation is that the Blizzardlords will keep their fellows loyal and obedient to the nobility and train new recruits."
    #get_hit_sound={SOUND_LIST:ELF_HIT}
    die_sound={SOUND_LIST:ELF_HIT}
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=snow wind
        description= _ "snow wind"
        icon=attacks/iceball.png
        type=cold
        range=ranged
        damage=5
        number=9
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=200
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=200
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=snow wind
        [/filter_attack]
        {MISSILE_FRAME_SNOW_WIND}
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                sound=magic-faeriefire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                sound=magic-faeriefire-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
