#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_imp_Sidhe_Fury
    name= _ "Fury"
    race=AE_imp_sidhe_race
    image="units/elves-wild/fury.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=28
    movement_type=AE_imp_wildwoodland
    movement=6
    experience=50
    level=1
    alignment=chaotic
    advances_to=AE_imp_Sidhe_Wildblade
    cost=20
    usage=fighter
    description= _ "This unit is from Imperial Era. Its coding and art were done by Turin and Various others.
 
The wild elf Furies do not wield an extraordinarily powerful weapon, but they are dangerous nonetheless, for they fight as if fey, and will press the battle long past when any reasonable man would have pulled back. Their madness often leads to their death, but even more often it will lead to the death of the enemy."+{SPECIAL_NOTES}+{SPECIAL_NOTES_RAGE} #wmllint: ignore
    {DEFENSE_ANIM "units/elves-wild/fury.png" "units/elves-wild/fury.png" {SOUND_LIST:HUMAN_HIT}}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        blade=120
        pierce=110
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        type=blade
        range=melee
        damage=4
        number=4
        icon=attacks/sword-elven.png
        [specials]
            {WEAPON_SPECIAL_RAGE_3}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            sound=sword-1.ogg
            begin=-150
            end=150
        [/frame]
    [/attack_anim]
[/unit_type]
