#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_imp_Sidhe_Wildblade
    name= _ "Wildblade"
    race=AE_imp_sidhe_race
    image="units/elves-wild/wildblade.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=40
    movement_type=AE_imp_wildwoodland
    movement=6
    experience=90
    level=2
    alignment=chaotic
    advances_to=AE_imp_Sidhe_Whirlwind
    cost=35
    usage=fighter
    description= _ "This unit is from Imperial Era. Its coding and art were done by Turin and Various others.
 
A normal elf lives for thousands of years; one who decides to take the path of a Wildblade has decided that this is too long. Better a short and glorious life of battle, they say, than a death in old age. This conviction lends the Wildblades a courage, some would say recklessness, in battle that is unmatched. The lifespan of a Wildblade is short, for an elf, but those of his enemies are shorter."+{SPECIAL_NOTES}+{SPECIAL_NOTES_RAGE} #wmllint: ignore
    {DEFENSE_ANIM "units/elves-wild/wildblade.png" "units/elves-wild/wildblade.png" {SOUND_LIST:HUMAN_HIT}}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        blade=120
        pierce=110
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        type=blade
        range=melee
        damage=5
        number=5
        icon=attacks/sword-elven.png
        [specials]
            {WEAPON_SPECIAL_RAGE_4}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            sound=sword-1.ogg
            begin=-150
            end=150
        [/frame]
    [/attack_anim]
[/unit_type]
