#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_empfinn_arquebusier
    name= _ "Handgunner"
    race=empfinn
    gender=male
    image="units/empire/Arquebusier.png"
    hitpoints=36
    movement_type=smallfoot
    movement=6
    experience=40
    level=1
    alignment=lawful
    cost=17
    usage=archer
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=AE_AoA_empfinn_tireur
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/empire/Arquebusier.png" "units/empire/Arquebusier.png" {SOUND_LIST:HUMAN_HIT} }

    [resistance]
        cold=90
    [/resistance]

    [attack]
        name=dague
        description= _"dagger"
        type=blade
        range=melee
        damage=4
        number=2
        icon=attacks/dagger-human.png
    [/attack]
    [attack]
        name=arquebuse
        description= _"matchlock arquebus"
        type=pierce
        range=ranged
        damage=20
        number=1
        icon=attacks/thunderstick.png
    [/attack]
    {RAPIER_SOUND}
    {PISTOL_SOUND}
[/unit_type]
