#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_empfinn_empereur
    name= _ "Emperor"
    race=empfinn
    gender=male
    image="units/empire/Empereur.png"
    hitpoints=85
    movement_type=smallfoot
    movement=6
    experience=150
    level=4
    alignment=lawful
    cost=50
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/empire/Empereur.png" "units/empire/Empereur.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [leading_anim]
        start_time=-150
        [frame]
            sound=command.wav
        [/frame]
    [/leading_anim]
    [resistance]
        blade=60
        impact=60
        pierce=60
    [/resistance]
    [abilities]
        {ABILITY_FORMATION}
        {ABILITY_LEADERSHIP}
        {ABILITY_DISCIPLINE}
    [/abilities]
    [attack]
        name=marteau
        description= _"magical hammer"
        type=impact
        range=melee
        damage=13
        number=4
        icon=attacks/hammer-dwarven-runic.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {MACE_SOUND}
[/unit_type]
