#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_empfinn_hallebardier
    name= _ "Halberdier"
    race=empfinn
    gender=male
    image="units/empire/Hallebardier.png"
    hitpoints=72
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=lawful
    cost=44
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description a venir"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/empire/Hallebardier.png" "units/empire/Hallebardier.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        pierce=60
    [/resistance]
    [abilities]
        {ABILITY_FORMATION}
    [/abilities]
    [attack]
        name=hallebarde pointe
        description= _"halberd"
        type=pierce
        range=melee
        damage=15
        number=3
        icon=attacks/halberd.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=hallebarde lame
        description=_"haleberd"
        icon=attacks/halberd.png
        type=blade
        range=melee
        damage=19
        number=2
    [/attack]
    {SPEAR_SOUND}
    {AXE_SOUND}
[/unit_type]
