#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_empfinn_seigneur
    name= _ "Lord"
    race=empfinn
    gender=male
    image="units/empire/Seigneur.png"
    hitpoints=67
    movement_type=mounted
    movement=9
    experience=126
    level=3
    alignment=lawful
    cost=60
    usage=scout
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/empire/Seigneur.png" "units/empire/Seigneur.png" {SOUND_LIST:HUMAN_HIT} }

    [resistance]
        blade=70
        impact=60
        cold=80
        pierce=110
    [/resistance]
    [attack]
        name=epee
        description= _"long sword"
        type=blade
        range=melee
        damage=10
        number=4
        icon=attacks/greatsword-human.png
    [/attack]
    {SWORD_SOUND}
[/unit_type]
