#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_mag_Rhami
    name= _ "Rhami"
    race=AE_mag_i_8_magical
    gender=female
    image="units/summoners-enchanted-ones/rhami.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=35
    movement_type=smallfoot
    movement=5
    experience=44
    level=1
    alignment=neutral
    advances_to=AE_mag_RhamiDatu,AE_mag_RhamiKai
    cost=16
    usage=warrior
    description= _ {AE_EOMA_UNIT_NOTICE} +  _ "Rhamis are a race of limber and swift creatures residing in the Abyss. Four-armed and, like jinns, blessed with the gift of intelligence, Rhamis carry out their work as the precise strike force of the summoners. Due to some foreign magical affinity, Rhamis regenerate their bodies promptly after becoming wounded. They are armed with a blade in each hand, casting blows and slashes with astonishing inhuman speed. Through their four blades and spryness, a Rhami can dive into combat and strike before their foes can react. Rhamis are fiercely loyal and search to enact revenge upon their fallen comrades."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}+{SPECIAL_NOTES_REGENERATES}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [abilities]
        {AE_MAG_ABILITYREGENERATES}
    [/abilities]
    [resistance]
        blade=80
        pierce=80
        impact=90
        fire=100
        cold=110
        arcane=120
    [/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [levelin_anim]
        [frame]
            image="halo/recruit-c-[7~5].png:75"
            sound=magic-faeriefire.ogg
        [/frame]
        [frame]
            image="halo/recruit-c-[6~10].png:75"
        [/frame]
        [frame]
            image="halo/recruit-d-[11~16].png:75"
        [/frame]
    [/levelin_anim]
    [extra_anim]
        flag=banished
        [frame]
            image="halo/recruit-d-[16~11].png:75"
            sound=magic-faeriefire.ogg
        [/frame]
        [frame]
            image="halo/recruit-c-[10~5,6,7].png:75"
        [/frame]
    [/extra_anim]
    [resistance]
        arcane=120
    [/resistance]
    {GENERIC_DEFENSE_ANIM units/summoners-enchanted-ones/rhami units/summoners-enchanted-ones/rhami-defend units/summoners-enchanted-ones/rhami-attack-1 units/summoners-enchanted-ones/rhami-attack-1 units/summoners-enchanted-ones/rhami miss 0.0~-0.2 -0.2~-0.3 -0.3~0.0}
    {GENERIC_DEFENSE_ANIM units/summoners-enchanted-ones/rhami units/summoners-enchanted-ones/rhami-hit-1 units/summoners-enchanted-ones/rhami-hit-2 units/summoners-enchanted-ones/rhami-hit-3 units/summoners-enchanted-ones/rhami hit 0.0~-0.1 -0.1~-0.15 -0.15~0.0}
    [idle_anim]
        start_time=0
        [frame]
            image="units/summoners-enchanted-ones/rhami-idle-[1~4,1~4,1~4,1].png:100"
        [/frame]
    [/idle_anim]
    [recruit_anim]
        [frame]
            image="halo/recruit-c-[1~5].png:100"
        [/frame]
        [frame]
            image="halo/recruit-[c-6,c-7,c-8,c-9,c-10,d-11,d-12,d-13,d-14,d-15,d-16].png:100"
            sound=magic-faeriefire-miss.ogg
        [/frame]
    [/recruit_anim]
    [attack]
        name=sworddance
        description=_"sworddance"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=5
        number=4
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    {RHAMI_SWORD_ANIM rhami attack-1 attack-2 defend sworddance {SOUND_LIST:SWORD_SWISH}}
[/unit_type]
