#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_mag_Neutral_Summoner
    name= _ "Neutral Summoner"
    race=AE_mag_akhuman
    image="units/summoners-humans/neutralsummoner.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=58
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=lawful
    advances_to=null
    cost=56
    {AMLA_DEFAULT}
    usage=mixed fighter
    undead_variation=summoner
    description= _ {AE_EOMA_UNIT_NOTICE} +  _ "Neutral summoners are the most enigmatic of the Summoners of the Third Degree. These summoners specialize in strange enfeebling magic that robs the life of foes with every strike. A covert group among summoners, neutral summoners infuse their scimitars with their ‘draining’ magic and also have learned to create their own unique circles of the same magic. Neutral summoners are able to summon the fas Jinns through complex circles that connect their world with the Abyss."+{SPECIAL_NOTES}+{SPECIAL_NOTES_DRAIN}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {AE_MAG_ABILITYCIRCLESUS}
        {AE_MAG_ABILITYSUMMON neutral (
            {SUMMON_MENU_ITEM 6_3_2 ( _ "Summon Jinn") 14 (AE_mag_Neutral_Summoner) (AE_mag_Jinn)}
        )}
        {AE_MAG_ABILITYREGENERATES4}
    [/abilities]
    [resistance]
        fire=90
        cold=90
    [/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    ignore_race_traits=yes
    {TRAIT_STRONG}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    {DEFENSE_ANIM "units/summoners-humans/neutralsummoner-draw2.png" "units/summoners-humans/neutralsummoner-draw2.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [resistance_anim]
        [filter_attack]
            type=fire,cold,arcane
        [/filter_attack]
        halo_start_time=-300
        start_time=-300
        [halo_frame]
            image=halo/implosion-1-5.png~CS(0,128,-255)~SCALE(108,108):400
            layer=99
            alpha=0~0.4:150,0.4:150,0.4~0:100
            offset=0
        [/halo_frame]
        halo2_start_time=-200
        [halo2_frame]
            halo="halo/neutralsummoner-[5~8,8~5].png:50"
            halo_mod=~O(0.45)
            auto_vflip=no
            offset=1
        [/halo2_frame]
        [frame]
            halo="halo/neutralsummoner-[5~8,8~5].png:50"
            halo_mod=~O(0.6)
            auto_vflip=no
        [/frame]
    [/resistance_anim]
    [standing_anim]
        [frame]
            halo="halo/neutralsummoner-[1~6,6,7,7,8,8,8,8,7,7,6,6~1,1,1].png:100"
            halo_mod=~O(0.3)
            auto_vflip=no
        [/frame]
        [frame]
            image="units/summoners-humans/neutralsummoner.png:1000"
        [/frame]
        [frame]
            halo="halo/neutralsummoner-[1~3,3,4,4,4,4,3,3~1,1,1].png:100"
            halo_mod=~O(0.3)
            auto_vflip=no
        [/frame]
        [frame]
            image="units/summoners-humans/neutralsummoner.png:5000"
        [/frame]
    [/standing_anim]
    {SUMMONER_DIRECTION_MOVEMENT_ANIM neutralsummoner draw2 move1 se,sw,ne,nw}
    {SUMMONER_DIRECTION_MOVEMENT_ANIM neutralsummoner move-n1 move-n2 n}
    [attack]
        name=scimitar
        description=_"scimitar"
        icon=attacks/scimitar-neutral.png
        type=blade
        range=melee
        damage=6
        number=4
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=hammer
        description={STR_HAMMER}
        icon=attacks/hammer-neutral.png
        type=impact
        range=melee
        damage=11
        number=2
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=circlebalance
        description=_"circle of balance"
        icon=attacks/circle-balance.png
        type=fire
        range=ranged
        [specials]
            {AE_MAG_WEAPON_SPECIAL_ALWAYSHITS}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        damage=12
        number=1
    [/attack]
    {SUMMONER_SCIMITAR_DRAW_ATTACK_ANIM neutralsummoner}
    {SUMMONER_HAMMER_ATTACK_ANIM neutralsummoner attack-1b attack-2b attack-3b attack-2b attack-1b}
    {SUMMONER_CIRCLE_ANIM neutralsummoner-attack-magic balance circlebalance 6 1 n 0 -36}
    {SUMMONER_CIRCLE_ANIM neutralsummoner-attack-magic balance circlebalance 6 2 s 0 36}
    {SUMMONER_CIRCLE_ANIM neutralsummoner-attack-magic balance circlebalance 6 4 ne 27 -18}
    {SUMMONER_CIRCLE_ANIM neutralsummoner-attack-magic balance circlebalance 6 4 nw 27 -18}
    {SUMMONER_CIRCLE_ANIM neutralsummoner-attack-magic balance circlebalance 6 3 se 27 18}
    {SUMMONER_CIRCLE_ANIM neutralsummoner-attack-magic balance circlebalance 6 3 sw 27 18}
[/unit_type]
