#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_imp_Orcei_River_Lizard
    name= _ "River Lizard"
    race=AE_imp_Orcei_Gladiatores_race
    image="units/orcs-minuti/river-lizard.png"
    hitpoints=36
    movement_type=AE_imp_minutirider
    movement=7
    experience=30
    level=1
    alignment=neutral
    advances_to=AE_imp_Orcei_Khampsa
    cost=17
    usage=fighter
    description= _ "This unit is from Imperial Era. Its coding and art were done by Turin and Various others.
 
The good people of Lavinia also enjoy watching beast fights. The Orcei soon developed a great affinity for one of these beasts, euphemistically known as a River Lizard. They often use these beasts in the arena, and those among them who escape from captivity often bring a few of their reptilian friends with them."
    [attack]
        name=bite
        description={STR_BITE}
        type=blade
        range=melee
        damage=5
        number=3
        icon=attacks/fangs.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
    [/attack_anim]
[/unit_type]
