#textdomain wesnoth-units
[unit_type]
    id=AE_ext_monsters_Bigfoot
    name= _ "Bigfoot"
    race=AE_ext_monsters_monster
    image="units/monsters/bigfoot-new.png"
    profile="portraits/monsters/yeti.png"
    hitpoints=60
    movement_type=largefoot
    movement=4
    experience=74
    level=2
    alignment=neutral
    advances_to=AE_ext_monsters_Yeti
    cost=25
    undead_variation=troll
    usage=fighter
    description= _ "This is custom unit. Its coding and art were done by Ravana."
    die_sound=yeti-die.ogg
    {DEFENSE_ANIM "units/monsters/bigfoot-new.png" "units/monsters/bigfoot-new.png" yeti-hit.ogg }
    [movement_costs]
        frozen=1
    [/movement_costs]
    [defense]
        frozen=50
        fungus=60
    [/defense]
    [resistance]
        cold=60
        fire=100
        pierce=90
        impact=80
        arcane=100
        blade=90
    [/resistance]
    [attack]
        name=fist
        description={STR_FIST}
        icon=attacks/fist-yeti.png
        type=impact
        range=melee
        damage=15
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/monsters/bigfoot-new.png"
            sound=fist.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
