#textdomain wesnoth-units
[unit_type]
    id=AE_ext_monsters_Red_Dragon
    name= _ "Red Dragon"
    race=AE_ext_monsters_monster
    image="units/monsters/dragon_newSmallerHead-90Final.png"
    profile="portraits/creatures/khrakrahs.png"
    {DEFENSE_ANIM_RANGE "units/monsters/dragon_newSmallerHead-90Final.png" "units/monsters/dragon_newSmallerHead-90Final.png" {SOUND_LIST:DRAKE_HIT} melee}
    [abilities]
        {ABILITY_LEADERSHIP}
        {AE_EXT_DUMMY_GOLD_HOARDING}
    [/abilities]
    hitpoints=70
    movement_type=drakefly
    movement=7
    experience=140
    level=3
    upkeep=4
    alignment=neutral
    advances_to=AE_ext_monsters_Fire_Dragon
    cost=59
    undead_variation=drake
    usage=archer
    description= {AE_MONSTERS_UNIT_NOTICE}+""
    die_sound=drake-die.ogg
    [movement_costs]
        deep_water=1
        shallow_water=1
        reef=1
        swamp_water=1
        flat=1
        sand=1
        forest=2
        hills=1
        mountains=1
        village=1
        castle=1
        cave=2
        frozen=2
        fungus=1
        unwalkable=1
        rails=1
    [/movement_costs]

    [defense]
        deep_water=50
        shallow_water=50
        reef=50
        swamp_water=50
        flat=50
        sand=50
        forest=60
        hills=50
        mountains=40
        village=50
        castle=50
        cave=70
        frozen=70
        fungus=60
        unwalkable=50
        rails=50
    [/defense]
    [resistance]
        fire=50
        cold=130
    [/resistance]
    [attack]
        name=bite
        description={STR_BITE}
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=17
        number=2
    [/attack]
    [attack]
        name=tail
        description={STR_TAIL}
        icon=attacks/tail-dragon.png
        type=impact
        range=melee
        damage=24
        number=1
    [/attack]
    [attack]
        name=fire breath
        description={STR_FIRE_BREATH}
        icon=attacks/fire-breath-drake.png
        type=fire
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=13
        number=4
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/monsters/dragon_newSmallerHead-90Final.png:400"
        [/frame]

        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -75}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=tail
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/monsters/dragon_newSmallerHead-90Final.png:400"
        [/frame]

        {SOUND:HIT_AND_MISS tail.ogg {SOUND_LIST:MISS} -75}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fire breath
        [/filter_attack]

        start_time=-200
        sound_start_time=-400

        [if]
            {MISSILE_FRAME_FIRE_BREATH_S_DIAGONAL 0,0}
            direction=se,sw
            hits=yes

            [sound_frame]
                sound=flame-big.ogg
            [/sound_frame]
        [/if]
        [else]
            {MISSILE_FRAME_FIRE_BREATH_S_DIAGONAL 0,0}
            direction=se,sw
            hits=no

            [sound_frame]
                sound=flame-big-miss.ogg
            [/sound_frame]
        [/else]
        [else]
            {MISSILE_FRAME_FIRE_BREATH_N_DIAGONAL 0,0}
            direction=ne,nw
            hits=yes

            [sound_frame]
                sound=flame-big.ogg
            [/sound_frame]
        [/else]
        [else]
            {MISSILE_FRAME_FIRE_BREATH_N_DIAGONAL 0,0}
            direction=ne,nw
            hits=no

            [sound_frame]
                sound=flame-big-miss.ogg
            [/sound_frame]
        [/else]
        [else]
            {MISSILE_FRAME_FIRE_BREATH_N 0,0}
            direction=n
            hits=yes

            [sound_frame]
                sound=flame-big.ogg
            [/sound_frame]
        [/else]
        [else]
            {MISSILE_FRAME_FIRE_BREATH_N 0,0}
            direction=n
            hits=no

            [sound_frame]
                sound=flame-big-miss.ogg
            [/sound_frame]
        [/else]
        [else]
            {MISSILE_FRAME_FIRE_BREATH_S 0,0}
            direction=s
            hits=yes

            [sound_frame]
                sound=flame-big.ogg
            [/sound_frame]
        [/else]
        [else]
            {MISSILE_FRAME_FIRE_BREATH_S 0,0}
            direction=s
            hits=no

            [sound_frame]
                sound=flame-big-miss.ogg
            [/sound_frame]
        [/else]
    [/attack_anim]
[/unit_type]
