#textdomain wesnoth-units
[unit_type]
    id=AE_ext_monsters_Wingless_Dragon
    name= _ "Wingless Dragon"
    race=AE_ext_monsters_monster
    image="units/monsters/WinglessDragon-90Final.png"
    profile="portraits/creatures/khrakrahs-wingless.png~CROP(36,0,400,500)"
    {DEFENSE_ANIM_RANGE "units/monsters/WinglessDragon-90Final.png" "units/monsters/WinglessDragon-90Final.png" {SOUND_LIST:DRAKE_HIT} melee}
    [abilities]
        {ABILITY_LEADERSHIP}
        {AE_EXT_DUMMY_GOLD_HOARDING}
    [/abilities]
    hitpoints=50
    movement_type=drakefly
    movement=6
    experience=110
    level=2
    upkeep=3
    alignment=neutral
    advances_to=AE_ext_monsters_Red_Dragon,AE_ext_monsters_Undead_Dragon
    cost=30
    undead_variation=drake
    usage=archer
    description= {AE_MONSTERS_UNIT_NOTICE}+""
    die_sound=drake-die.ogg
    [movement_costs]
        deep_water=3
        shallow_water=3
        reef=2
        swamp_water=3
        flat=1
        sand=2
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=3
        fungus=2
        unwalkable={UNREACHABLE}
    [/movement_costs]

    [defense]
        deep_water=80
        shallow_water=70
        reef=70
        swamp_water=80
        flat=60
        sand=60
        forest=60
        hills=50
        mountains=40
        village=60
        castle=50
        cave=70
        frozen=80
        fungus=60
    [/defense]
    [resistance]
        fire=50
        cold=130
    [/resistance]
    [attack]
        name=bite
        description={STR_BITE}
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=13
        number=2
    [/attack]
    [attack]
        name=tail
        description={STR_TAIL}
        icon=attacks/tail-dragon.png
        type=impact
        range=melee
        damage=18
        number=1
    [/attack]
    [attack]
        name=fire breath
        description={STR_FIRE_BREATH}
        icon=attacks/fire-breath-drake.png
        type=fire
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=12
        number=3
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/monsters/WinglessDragon-90Final.png:400"
        [/frame]

        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -75}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=tail
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/monsters/WinglessDragon-90Final.png:400"
        [/frame]

        {SOUND:HIT_AND_MISS tail.ogg {SOUND_LIST:MISS} -75}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fire breath
        [/filter_attack]

        # Face offset of the unit – meassuered from center of the image:
        # y: -17
        # x:  36

        # The fire breath images start by default from the side of hex.
        # Offset used to let them start from the center of the hex
        # y: -40
        # Because the fire breath images aren't exactly centered, also
        # x:  5

        # These both together result in the offset values for the animations.
        # While the Face offset is for all directions the same,
        # the Fire Breat offset is not.
        # E.g. for north, the images are placed 40px lower
        #      for south, the images are placed 40px higher, and thus the y-offset is -40
        #      the x-axis doesn't differ in this case and is the same

        # The values used don't need to be numbers, but are "progressive strings",
        # meaning, that the value can change over the duration of the animation.
        # for the unit being hit, the face offset is not included, thus e.g.
        # 41~5 as x value instead of 41 (or differently written: not 41~41)


        [if]
            direction=s
            {MISSILE_FRAME_FIRE_BREATH_S 41~5,23~40}
        [/if]
        [else]
            direction=n
            # {MISSILE_FRAME_FIRE_BREATH_N 41~5,-57~-40}
            # North is the most difficult animation, as the fire goes over the dragons head
            # Thatfor some additional offset (more to the right and north)
            {MISSILE_FRAME_FIRE_BREATH_N 51~10,-63~-50}
        [/else]
        # For diagonal different fire breath images are used,
        # the following is used for the fire breath offset instead
        # x: 24
        # y: 20
        # the values specified are for the east animation,
        # for west both the sprite and the animation is flipped

        [else]
            direction=ne,nw
            {MISSILE_FRAME_FIRE_BREATH_N_DIAGONAL 60~24,-37~-20}
        [/else]
        [else]
            direction=se,sw
            {MISSILE_FRAME_FIRE_BREATH_S_DIAGONAL 60~24,3~20}
        [/else]
        {SOUND:HIT_AND_MISS flame-big.ogg flame-big-miss.ogg -400}
    [/attack_anim]
[/unit_type]
