#textdomain wesnoth-units
[unit_type]
    id=AE_ext_monsters_Yeti
    name= _ "Yeti"
    race=AE_ext_monsters_monster
    image="units/monsters/baby-yeti.png"
    profile="portraits/creatures/baby-yeti.png"
    hitpoints=85
    movement_type=largefoot
    movement=4
    experience=140
    level=3
    alignment=neutral
    advances_to=AE_ext_monsters_Giant_Yeti
    cost=58
    undead_variation=troll
    usage=fighter
    description= {AE_MONSTERS_UNIT_NOTICE}+_"Baby yetis, though smaller than their parents, still pack an awesome punch."
    die_sound=yeti-die.ogg
    {DEFENSE_ANIM "units/monsters/baby-yeti-defend.png" "units/monsters/baby-yeti.png" yeti-hit.ogg }
    [movement_costs]
        frozen=1
    [/movement_costs]
    [defense]
        frozen=50
        fungus=60
    [/defense]
    [resistance]
        cold=50
        fire=90
        pierce=80
        impact=80
        arcane=100
    [/resistance]
    [attack]
        name=fist
        description={STR_FIST}
        icon=attacks/fist-yeti.png
        type=impact
        range=melee
        damage=22
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/monsters/baby-yeti-defend.png"
        [/frame]
        [frame]
            begin=-150
            end=-100
            image="units/monsters/baby-yeti-attack1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/monsters/baby-yeti-attack2.png"
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/monsters/baby-yeti-attack2.png"
                #sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=125
            image="units/monsters/baby-yeti-attack1.png"
        [/frame]
        [frame]
            begin=125
            end=200
            image="units/monsters/baby-yeti.png"
        [/frame]
    [/attack_anim]
[/unit_type]
