#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_finn_empire_Enchanter_Apprentice
    name= _ "Enchanter Apprentice"
    race=empfinn
    gender=male,female
    image="units/empire/Apprenti-enchanteur.png"
    hitpoints=28
    movement_type=smallfoot
    movement=5
    experience=46
    level=1
    alignment=lawful
    cost=16
    usage=healer
    description={AE_AOA_UNIT_NOTICE}+ _ "Enchantement !"
    advances_to=AE_AoA_finn_empire_Enchanter
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/empire/Apprenti-enchanteur.png" "units/empire/Apprenti-enchanteur.png" {SOUND_LIST:HUMAN_HIT} }
    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    [attack]
        name=epee
        description={STR_SWORD}
        type=blade
        range=melee
        damage=6
        number=2
        icon=attacks/sword-human.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=enchantement
        description=_"basic enchantment"
        type=arcane
        range=ranged
        damage=6
        number=1
        icon=attacks/entangle.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {SWORD_SOUND}
    [female]
        name= _"Enchanter Apprentice"
        gender=female
        image="units/empire/Apprenti-enchanteur2.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/empire/Apprenti-enchanteur2.png" "units/empire/Apprenti-enchanteur2.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [/female]
[/unit_type]
