#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_finn_empire_Helgrindian_Crossbowman
    name= _ "Helgrindian Crossbowman"
    race=empfinn
    gender=male
    image="units/empire/Arbaletrier-helgrindois.png"
    hitpoints=50
    movement_type=armoredfoot
    movement=4
    experience=66
    level=2
    alignment=lawful
    cost=24
    usage=archer
    description={AE_AOA_UNIT_NOTICE}+ _ "description a venir"
    advances_to=AE_AoA_finn_empire_Helgrindian_Heavy_Crossbowman
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/empire/Arbaletrier-helgrindois.png" "units/empire/Arbaletrier-helgrindois.png" {SOUND_LIST:HUMAN_HIT} }
    [abilities]
    [/abilities]
    [attack]
        name=epee
        description={STR_SHORT_SWORD}
        type=blade
        range=melee
        damage=5
        number=3
        icon=attacks/sword-human-short.png
    [/attack]
    [attack]
        name=arbalete
        description={STR_CROSSBOW}
        type=pierce
        range=ranged
        damage=12
        number=2
        parry=10
        icon=attacks/crossbow-iron.png
    [/attack]
    {SWORD_SOUND}
    {CROSSBOW_SOUND}
[/unit_type]
