#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=AE_mag_Black_Mage
    [/base_unit]
    id=AE_mag_Black_Mage_rpg
    advances_to=AE_mag_Void_Mage_rpg,AE_mag_Shadowmage
    [attack]
    [/attack]
    [attack]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_AE_MAG_ENCHANTED}
        [/specials]
    [/attack]
[/unit_type]
