#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=AE_mag_Elementalist
    [/base_unit]
    id=AE_mag_Elementalist_rpg
    advances_to=AE_mag_Pyromancer_rpg,AE_mag_Aeromancer_rpg,AE_mag_Hydromancer_rpg,AE_mag_Terramancer_rpg
[/unit_type]
