#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_mag_Void_Mage
    name= _ "Void Mage"
    image="units/skykingdom-magi/enlightened-abyssmage1.png"
    race=human
    {MAGENTA_IS_THE_TEAM_COLOR}
    flies=true
    hitpoints=56
    movement_type=AE_mag_i_8_subversivemage
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=56
    usage=mixed fighter
    undead_variation=subversivemage
    description= _ {AE_EOMA_UNIT_NOTICE} +  _ "Void Magi are masters of the fourth element. They cast powerful dark spells strong enough to rival Great Warlocks."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_SLOW}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        cold=80
    [/resistance]
    [defense]
        unwalkable=70
        deep_water=70
        shallow_water=70
        swamp_water=60
        sand=60
        frozen=60
    [/defense]
    [movement_costs]
        unwalkable=2
        deep_water=2
        shallow_water=2
        swamp_water=2
        sand=1
        forest=1
        mountains=2
        frozen=1
    [/movement_costs]
    [resistance]
        impact=80
    [/resistance]
    [standing_anim]
        start_time=0
        [frame]
            image="units/skykingdom-magi/enlightened-abyssmage[1,2].png:300"
        [/frame]
    [/standing_anim]
    [pre_movement_anim]
        [frame]
            image="units/skykingdom-magi/enlightened-abyssmage-[a,b,c,d,e,f,g].png:75"
        [/frame]
    [/pre_movement_anim]
    [post_movement_anim]
        [frame]
            image="units/skykingdom-magi/enlightened-abyssmage-[g,f,e,d,c,b,a].png:75"
        [/frame]
    [/post_movement_anim]
    [movement_anim]
        [frame]
            image="halo/blank.png:100"
        [/frame]
    [/movement_anim]
    {SKY_ENLIGHTENED_DEFENSE_ANIM abyssmage abyssmage1 abyssmage1}
    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=missile
        description={STR_MISSILE}
        icon=attacks/dark-missile.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=14
        number=3
    [/attack]
    [attack]
        name=ensnare
        description=_ "entrapment spell"
        type=cold
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=5
        number=5
        range=ranged
        icon=attacks/entangle.png
    [/attack]
    {SKY_ENLIGHTENED_STAFF_ANIM abyssmage-attack-magic1 abyssmage-attack-magic2 abyssmage-attack-magic1 abyssmage-attack-magic1 abyssmage-attack-magic1 abyssmage-attack-magic2 abyssmage}
    {SKY_BLACK_MISSILE_ANIM abyssmage}
    {SKY_BLACK_ENSNARE_ANIM abyssmage}
[/unit_type]
