#textdomain wesnoth-multiplayer
#ifndef __WMLUNITS__
[era]
    id=Ageless Union
    name= _ "Ageless Union"
    require_era=yes
    {AE_LOAD_REQUIRED_EVENTS_RESOURCE}
    description=_ "Era with Single faction that can recruit all recruitable units in Ageless Era"
    {~add-ons/Ageless_Era/eras/era_events/_main.cfg}
    [multiplayer_side]
        id=AE_union
        name= _"AE - Union"
        image="units/random-dice.png"
        leader="{./union_leaders_{WESNOTH_MINOR_VERSION}.txt}"
        recruit="{./union_recruits_{WESNOTH_MINOR_VERSION}.txt}"
    [/multiplayer_side]

    # default macro checks only for 4mp, here MIGHT be 3 somewhere too

    [event]
        name=prestart

        [store_unit]
            [filter]
                canrecruit=yes
                formula="$this_unit.max_moves<5 and $this_unit.max_moves>0"
            [/filter]

            kill=yes
            variable=leaders_to_make_quick
        [/store_unit]

        {FOREACH leaders_to_make_quick i}
            [if]
                # The variable check is done here instead of in the [store_unit]
                # so that all boolean values work
                [variable]
                    name=leaders_to_make_quick[$i].variables.dont_make_me_quick
                    boolean_equals=yes
                [/variable]

                [then]
                    [unstore_unit]
                        variable=leaders_to_make_quick[$i]
                    [/unstore_unit]
                [/then]

                [else]
                    [if]
                        [variable]
                            name=leaders_to_make_quick[$i].race
                            equals=AE_myh_elemental,AE_chs_elemental
                        [/variable]
                        [then]
                            [set_variables]
                                name=temp
                                [literal]
                                    {TRAIT_EMERALD}
                                [/literal]
                            [/set_variables]
                        [/then]
                        [else]
                            [set_variables]
                                name=temp
                                [literal]
                                    {TRAIT_QUICK}
                                [/literal]
                            [/set_variables]
                        [/else]
                    [/if]

                    [set_variables]
                        name=leaders_to_make_quick[$i].modifications.trait
                        mode=append

                        [insert_tag]
                            name=literal
                            variable=temp.trait
                        [/insert_tag]
                    [/set_variables]

                    {CLEAR_VARIABLE leaders_to_make_quick[$i].max_moves,leaders_to_make_quick[$i].moves,leaders_to_make_quick[$i].max_hitpoints,leaders_to_make_quick[$i].hitpoints}

                    [unstore_unit]
                        variable=leaders_to_make_quick[$i]
                    [/unstore_unit]
                [/else]
            [/if]
        {NEXT i}

        {CLEAR_VARIABLE leaders_to_make_quick,temp}
    [/event]
[/era]
#endif
