#textdomain wesnoth-multiplayer
##### | Ageless Heros - MP Era

[era]
    id=Ageless Heroes
    name= _ "Ageless Heroes"
    require_era=yes
    {AE_LOAD_REQUIRED_EVENTS_RESOURCE}
    description=_ "The largest era ever made featuring Default Era with the Dunefolk faction, Extended Era, Archaic Era, the Era of the Future, Eternal Era, BEEM, the Era of Four Moons, the Yokai faction, the Dark Legion, the Desert Elves, the Steelhive faction, Millennium Era, the Deep Elves, the Era of Myths, Feudal Era, Imperial Era, the Era of Strife, the Era of Magic, the Era of Chaos, Rashy Era, and Mercenaries Era."
    {~add-ons/Ageless_Era/eras/era_events/_main.cfg}
    {RANDOM_WITHOUT_ZWS ({BFW_FACTIONS},AE_side_ext_loyalist,AE_side_ext_sylvans,AE_side_ext_dwarves,AE_side_ext_outlaws,AE_side_ext_northerns,AE_side_ext_undead,AE_side_agl_desertelves,AE_side_imp_cavernei,AE_side_chs_quenoth,AE_side_chs_sylvans,AE_side_chs_wildhumans,AE_rhy_side_Regis) "Defaultlike" AE_set_notdefaultlike}
    {RANDOM_ONLY_ZWS {AE_BALANCED_FACTIONS} "Balanced" AE_set_balanced} # needs zero width space
    [multiplayer_side]
        id=AE_set_notdefault
        name= _"Random"
        image="units/random-dice.png"
        random_faction=yes
        except={BFW_FACTIONS}
    [/multiplayer_side]
    {RANDOM_ONLY {AE_FACTIONS} "AE" AE_set_ae}
    {RANDOM_ONLY {BMR_FACTIONS} "Archaic" AE_set_bmr}
    {RANDOM_ONLY {BEEM_FACTIONS} "BEEM" AE_set_beem}
    {RANDOM_ONLY {BFW_FACTIONS} _"Default" AE_set_default}
    {RANDOM_ONLY {EE_FACTIONS} "EE" AE_set_ee}
    {RANDOM_ONLY {EFM_FACTIONS} "EFM" AE_set_efm}
    {RANDOM_ONLY {ELE_FACTIONS} "ELE" AE_set_ele}
    {RANDOM_ONLY {EoC_FACTIONS} "EoC" AE_set_eoc}
    {RANDOM_ONLY {EoM_FACTIONS} "EoM" AE_set_eom}
    {RANDOM_ONLY {EoMa_FACTIONS} "EoMa" AE_set_eoma}
    {RANDOM_ONLY {EoS_FACTIONS} "EoS" AE_set_eos}
    {RANDOM_ONLY {EotF_FACTIONS} "EotF" AE_set_eotf}
    {RANDOM_ONLY {FE_FACTIONS} "FE" AE_set_fe}
    {RANDOM_ONLY {IE_FACTIONS} "IE" AE_set_ie}
    {RANDOM_ONLY {ME_FACTIONS} "ME" AE_set_me}
    {RANDOM_ONLY {MiE_FACTIONS} "MiE" AE_set_mie}
    {RANDOM_ONLY {RE_FACTIONS} "RE" AE_set_re}
    {HEROS_SIDE AE}
    {HEROS_SIDE BMR}
    {HEROS_SIDE BEEM}
    {HEROS_SIDE BFW}
    {HEROS_SIDE EE}
    {HEROS_SIDE EFM}
    {HEROS_SIDE ELE}
    {HEROS_SIDE EoC}
    {HEROS_SIDE EoM}
    {HEROS_SIDE EoMa}
    {HEROS_SIDE EoS}
    {HEROS_SIDE EotF}
    {HEROS_SIDE FE}
    {HEROS_SIDE IE}
    {HEROS_SIDE ME}
    {HEROS_SIDE MiE}
    {HEROS_SIDE RE}

    # default macro checks only for 4mp, here MIGHT be 3 somewhere too

    [event]
        name=prestart

        [store_unit]
            [filter]
                canrecruit=yes
                formula="$this_unit.max_moves<5 and $this_unit.max_moves>0"
            [/filter]

            kill=yes
            variable=leaders_to_make_quick
        [/store_unit]

        {FOREACH leaders_to_make_quick i}
            [if]
                # The variable check is done here instead of in the [store_unit]
                # so that all boolean values work
                [variable]
                    name=leaders_to_make_quick[$i].variables.dont_make_me_quick
                    boolean_equals=yes
                [/variable]

                [then]
                    [unstore_unit]
                        variable=leaders_to_make_quick[$i]
                    [/unstore_unit]
                [/then]

                [else]
                    [set_variables]
                        name=temp

                        [literal]
                            {TRAIT_QUICK}
                        [/literal]
                    [/set_variables]

                    [set_variables]
                        name=leaders_to_make_quick[$i].modifications.trait
                        mode=append

                        [insert_tag]
                            name=literal
                            variable=temp.trait
                        [/insert_tag]
                    [/set_variables]

                    {CLEAR_VARIABLE leaders_to_make_quick[$i].max_moves,leaders_to_make_quick[$i].moves,leaders_to_make_quick[$i].max_hitpoints,leaders_to_make_quick[$i].hitpoints}

                    [unstore_unit]
                        variable=leaders_to_make_quick[$i]
                    [/unstore_unit]
                [/else]
            [/if]
        {NEXT i}

        {CLEAR_VARIABLE leaders_to_make_quick,temp}
    [/event]

    [event]
        name=time over
        [lua]
            # wmllint: markcheck off
            code=<<
                local _ = wesnoth.textdomain "wesnoth-multiplayer"
                local function all_sides()
                    local function f(s, i)
                        i = i + 1
                        local t = wesnoth.sides[i]
                        return t and i, t
                    end
                    return f, nil, 0
                end

                local income_factor = 5

                local side_num = -1
                local total_score = -1
                local side_comparison = ""
                for side, team in all_sides() do
                    repeat -- ugly hack to convert 'break' into 'continue'
                    if team.__cfg.hidden then
                        break
                    end
                    local r, g, b = 255, 255, 255
                    if     team.__cfg.color == 1 then r, g, b = 255,   0,   0
                    elseif team.__cfg.color == 2 then r, g, b =   0,   0, 255
                    elseif team.__cfg.color == 3 then r, g, b =   0, 255,   0
                    elseif team.__cfg.color == 4 then r, g, b = 155,  48, 255
                    elseif team.__cfg.color == 5 then r, g, b =   0,   0,   0
                    elseif team.__cfg.color == 6 then r, g, b = 165,  42,  42
                    elseif team.__cfg.color == 7 then r, g, b = 255, 165,   0
                    elseif team.__cfg.color == 8 then r, g, b = 255, 255, 255
                    elseif team.__cfg.color == 9 then r, g, b =   0, 128, 128 end
                    if # wesnoth.get_units( { side = side } ) == 0 then
                        side_comparison = side_comparison ..
                            string.format( tostring( _ "<span strikethrough='true' foreground='#%02x%02x%02x'>Side %d</span>") .. "\n",
                                r, g, b, side)
                        break
                    end
                    local income = team.total_income * income_factor
                    local units = 0
                    -- Calc the total unit-score here
                    for i, unit in ipairs( wesnoth.get_units { side = side } ) do
                        if not unit.__cfg.canrecruit then
                            wesnoth.fire("unit_worth", { id = unit.id })
                            units = units + wesnoth.get_variable("unit_worth")
                        end
                    end
                    -- Up to here
                    local total = units + team.gold + income
                    side_comparison = side_comparison ..
                        string.format( tostring( _ "<span foreground='#%02x%02x%02x'>Side %d</span>:  Income score = %d  Unit score = %d  Gold = %d") .. "\n" .. tostring( _ "Grand total: <b>%d</b>") .. "\n",
                            r, g, b, side, income, units, team.gold, total)
                    if total > total_score then
                        color = string.format("#%02x%02x%02x", r, g, b)
                        side_num = side
                        total_score = total
                    end
                    until true -- end ugly hack
                end
                side_comparison = side_comparison ..
                    string.format( "\n" .. tostring( _ "<span foreground='%s'>Side %d</span> has the advantage."), color, side_num)
                wesnoth.fire("message", { message = side_comparison, speaker = "narrator", image = "wesnoth-icon.png"})
            >>
            # wmllint: markcheck on
        [/lua]
    [/event]
[/era]
