#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_freemen_Guardsman
    name= _ "Guardsman"
    race=AE_efm_freemen_race
    image="units/Freemen/guardsman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=60
    movement_type=AE_efm_freemen_desertfoot
    movement=5
    experience=70
    level=2
    alignment=lawful
    advances_to=AE_efm_freemen_Goun
    cost=25
    usage=fighter
    description= _ "This unit is from The Era of Four Moons. Its coding was done by Velensk and art by L. Shelby.
A man who proves his metal might be kept on as guard for a wealthy sultan or caravan."
    {DEFENSE_ANIM "units/Freemen/guardsman.png" "units/Freemen/guardsman.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=human

    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=13
        number=2
        icon=attacks/spear-orcish.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-500
        [frame]
            duration=200
            image="units/Freemen/guardsman.png"
        [/frame]
        [frame]
            duration=200
            image="units/Freemen/guardsman.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/Freemen/guardsman.png"
                sound=miss-2.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/Freemen/guardsman.png"
                sound=spear.ogg
            [/frame]
        [/else]
        [frame]
            duration=200
            image="units/Freemen/guardsman.png"
        [/frame]
    [/attack_anim]
[/unit_type]
