#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_freemen_Sand_Rider
    name= _ "Sand Rider"
    race=AE_efm_freemen_race
    image="units/Freemen/sand_rider.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=52
    movement_type=AE_efm_freemen_desertmounted
    movement=7
    experience=100
    level=2
    alignment=lawful
    advances_to=AE_efm_freemen_Adventurer
    cost=35
    usage=scout
    description= _ "This unit is from The Era of Four Moons. Its coding was done by Velensk and art by L. Shelby.
Most people who travel the desert would choose the camel as their mount for they are swift and do not need much water. But there is a rare breed of men who prefer the rare breed of horse that lives in the desert. The horsemanship of these few is the stuff of great praise and the horses are renowned for their strength."
    {DEFENSE_ANIM "units/Freemen/sand_rider.png" "units/Freemen/sand_rider.png" {SOUND_LIST:HORSE_HIT} }
    die_sound=horse-die.ogg
    undead_variation=human

    [defense]
        flat=50
        sand=40
        forest=70
        hills=50
        mountains=50
        village=50
        castle=50
        fungus=70
    [/defense]

    [resistance]
        arcane=80
        blade=80
        impact=70
        pierce=120
        cold=80
        fire=90
    [/resistance]

    [attack]
        name=sword
        description= _ "scimitar"
        type=blade
        range=melee
        damage=7
        number=4
        icon=attacks/sword-orcish.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-500
        [frame]
            duration=200
            image="units/Freemen/sand_rider.png"
        [/frame]
        [frame]
            duration=200
            image="units/Freemen/sand_rider.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/Freemen/sand_rider.png"
                sound=miss-2.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/Freemen/sand_rider.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            duration=200
            image="units/Freemen/sand_rider.png"
        [/frame]
    [/attack_anim]
[/unit_type]
