#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_freemen_Adventurer
    name= _ "Adventurer"
    race=AE_efm_freemen_race
    image="units/Freemen/adventurer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=66
    movement_type=AE_efm_freemen_desertmounted
    movement=8
    experience=100
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=50
    usage=scout
    description= _ "This unit is from The Era of Four Moons. Its coding was done by Velensk and art by L. Shelby.
Stories are told of a proud few who ride through the desert on great black horses seeking adventure. Tales of their incredible horsemanship and prowess in battle and the many strange things they find amuse and amaze foreigners who hear them. Most foreigners doubt the validity of these tales but the freemen know them to be true."
    {DEFENSE_ANIM "units/Freemen/adventurer.png" "units/Freemen/adventurer.png" {SOUND_LIST:HORSE_HIT} }
    die_sound=horse-die.ogg
    undead_variation=human

    [defense]
        flat=40
        sand=30
        forest=60
        hills=40
        village=40
        castle=40
        fungus=60
    [/defense]

    [resistance]
        arcane=80
        blade=70
        impact=60
        pierce=120
        cold=80
        fire=90
    [/resistance]

    [attack]
        name=sword
        description= _ "scimitar"
        type=blade
        range=melee
        damage=11
        number=4
        icon=attacks/sword-orcish.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-500
        [frame]
            duration=200
            image="units/Freemen/adventurer.png"
        [/frame]
        [frame]
            duration=200
            image="units/Freemen/adventurer.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/Freemen/adventurer.png"
                sound=miss-2.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/Freemen/adventurer.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            duration=200
            image="units/Freemen/adventurer.png"
        [/frame]
    [/attack_anim]
[/unit_type]
