[unit_type]
    id=AE_efm_freemen_Roc
    name= _ "Roc"
    race=monster
    image="units/Freemen/roc1.png"
    #halo="units/Freemen/roc.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    movement_type=fly
    movement=6
    experience=90
    level=2
    alignment=neutral
    advances_to=AE_efm_freemen_Great_Roc
    cost=30
    usage=scout
    description= _ "This unit is from The Era of Four Moons. Its coding was done by Velensk and art by L. Shelby.
The mighty birds of the desert are large enough to eat horses and cattle. They are not many in number and they do not fly quickly but the simple majesty of them is wondrous to behold. A few particularly brave aristocrats have managed to tame them as mounts but the upkeep of such a creature is elephantine and as such it is very rare to see more than one per city."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [standing_anim]
        [frame]
            begin=0
            end=150
            #image="halo/blank.png"
            image="units/Freemen/roc1.png"
        [/frame]
        [frame]
            begin=150
            end=300
            #image="halo/blank.png"
            image="units/Freemen/roc2.png"
        [/frame]
        [frame]
            begin=300
            end=450
            #image="halo/blank.png"
            image="units/Freemen/roc3.png"
        [/frame]
        [frame]
            begin=450
            end=600
            #image="halo/blank.png"
            image="units/Freemen/roc2.png"
        [/frame]
    [/standing_anim]
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=110
        impact=120
        pierce=120
    [/resistance]
    [attack]
        name=claws
        description={STR_CLAWS}
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=12
        number=3
    [/attack]
    {DEFENSE_ANIM "units/Freemen/roc2.png" "units/Freemen/roc1.png" {SOUND_LIST:GRYPHON_HIT} }
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/Freemen/roc1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/Freemen/roc1.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/Freemen/roc2.png"
                sound=claws.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/Freemen/roc2.png"
        [/frame]
    [/attack_anim]
[/unit_type]
