#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_freemen_Screecher
    name= _ "Screecher"
    race=AE_efm_freemen_race
    image="units/Freemen/screecher.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=56
    movement_type=AE_efm_freemen_desertfoot
    movement=5
    experience=120
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=45
    usage=archer
    description= _ "This unit is from The Era of Four Moons. Its coding was done by Velensk and art by L. Shelby.
The most terrible of chanters can use not just the volume and power of their voice as a weapon but the resonance as well. A voice held at the perfect pitch with enough volume can shatter the crystalline structures of stone and make structures collapse."
    {DEFENSE_ANIM "units/Freemen/screecher.png" "units/Freemen/screecher.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=human

    [attack]
        name=staff
        description={STR_STAFF}
        type=impact
        range=melee
        damage=7
        number=3
        icon=attacks/staff-magic.png
    [/attack]
    [attack]
        name=scream
        description= _ "scream"
        type=impact
        range=ranged
        damage=15
        number=3
        icon=attacks/tornado.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_STUN_AE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-250
        [if]
            hits=no
            [frame]
                duration=400
                image="units/Freemen/screecher.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=400
                image="units/Freemen/screecher.png"
                sound=staff.wav
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        {MISSILE_FRAME_WAIL}
        [filter_attack]
            name=scream
        [/filter_attack]
        start_time=-250
        [if]
            hits=no
            [frame]
                duration=800
                image="units/Freemen/screecher.png"
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=800
                image="units/Freemen/screecher.png"
                sound=warscream.wav
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
