#textdomain wesnoth-Harpies
[unit_type]
    id=AE_agl_harpies_Harpy_Ashtail
    name= _ "Harpy Ashtail"
    race=AE_agl_harpy
    image="ashtail/harpy-ashtail.png"
    image_icon="ashtail/harpy-ashtail.png~CROP(0,8,72,72)"
    profile="ashtail/harpy-ashtail-portrait-female.webp~CROP(142,0,565,400)~SCALE_INTO(565,350)"
    small_profile="ashtail/harpy-ashtail-portrait-female.webp~CROP(0,0,670,903)"
    hitpoints=62
    movement_type=AE_agl_harpyfly
    movement=6
    experience=126
    gender=female,male
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_ASHTAIL}
    cost=55
    usage=archer

    [male]
        name= _ "Harpy Ashtail"
        gender=male
        profile="ashtail/harpy-ashtail-portrait-male.webp~CROP(142,0,565,400)~SCALE_INTO(565,350)"
        small_profile="ashtail/harpy-ashtail-portrait-female.webp~CROP(0,0,670,903)"
        die_sound={SOUND_LIST:HUMAN_DIE}
        {DEFENSE_ANIM "ashtail/harpy-ashtail-hit[1~3,1].png:[75*3,1]" "ashtail/harpy-ashtail-fly2.png" {SOUND_LIST:HUMAN_HIT} }
    [/male]

    description={AE_HARPY_UNIT_NOTICE}+ _ "Numerous battles of dousing foes in flames have left scars on the plumage of these veterans. Their peers have named them Ashtails, as their talons and feathers turned grey from their grim duties."

    [resistance]
        fire=100
    [/resistance]
    [defense]
        deep_water=50
    [/defense]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="ashtail/harpy-ashtail-death[1~6].png:100,50*5,ashtail/harpy-ashtail-death7.png:200"
        [/frame]
    [/death]
    {DEFENSE_ANIM "ashtail/harpy-ashtail-hit[1~3,1].png:[75*3,1]" "ashtail/harpy-ashtail-fly2.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [standing_anim]
        start_time=0
        [frame]
            image="ashtail/harpy-ashtail-fly[1~6].png:100"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="ashtail/harpy-ashtail-fly[1~6].png:100"
        [/frame]
    [/movement_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="ashtail/harpy-ashtail-idling[1~17].png:100,ashtail/harpy-ashtail-fly6.png:100"
        [/frame]
    [/idle_anim]

    [attack]
        name=claws
        description=_"talons"
        type=blade
        range=melee
        damage=11
        number=2
        icon=attacks/claws-animal.png
    [/attack]
    [attack]
        name=rock drop
        description=_"rock drop"
        icon=attacks/rock_thrown.png
        type=impact
        range=ranged
        damage=13
        number=3
    [/attack]
    [attack]
        name=fiery hail
        description=_"fiery hail"
        icon=attacks/torch.png
        type=fire
        range=ranged
        damage=6
        number=6
    [/attack]

    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-160
        [frame]
            image="ashtail/harpy-ashtail-talons[1~4].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -25}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=rock drop
        [/filter_attack]
        start_time=-900
        offset=0
        sling_stone_start_time=-300
        [if]
            hits=yes
            [sling_stone_frame]
                halo="projectiles/stone.png:300"
                halo_y=30~10,10~0,0~-10,-10~0
                offset=0.0~1.0
            [/sling_stone_frame]
            [frame]
                image="ashtail/harpy-ashtail-sling[1~9].png:100"
            [/frame]
            attack_sound_start_time=-400
            [attack_sound_frame]
                sound=sling-big.ogg
            [/attack_sound_frame]
        [/if]
        [else]
            hits=no
            [sling_stone_frame]
                halo="projectiles/stone.png:300"
                #halo_x=24~0
                halo_y=30~10,10~0,0~-10
                offset=0.0~1.5
            [/sling_stone_frame]
            [frame]
                image="ashtail/harpy-ashtail-sling[1~9].png:100"
            [/frame]
            attack_sound_start_time=-400
            [attack_sound_frame]
                sound=sling-big-miss.ogg
            [/attack_sound_frame]
        [/else]
        [frame]
            image="ashtail/harpy-ashtail-fly[1~6].png:100"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fiery hail
        [/filter_attack]
        start_time=-900
        offset=0
        sling_stone_start_time=-300
        [if]
            hits=yes
            [if]
                direction=nw,ne,sw,se
                [sling_stone_frame]
                    halo="projectiles/fireball-nw-2.png:300"
                    auto_hflip=yes
                    auto_vflip=yes
                    halo_y=30~10,10~0,0~-10,-10~-5
                    offset=0.0~1.0
                [/sling_stone_frame]
            [/if]
            [else]
                direction=n,s
                [sling_stone_frame]
                    halo="projectiles/fireball-n-2.png:300"
                    auto_hflip=yes
                    auto_vflip=yes
                    halo_y=30~10,10~0,0~-10,-10~-5
                    offset=0.0~1.0
                [/sling_stone_frame]
            [/else]
            [frame]
                image="ashtail/harpy-ashtail-sling[1~9].png:100"
            [/frame]
            attack_sound_start_time=-400
            [attack_sound_frame]
                sound=melee-fire.ogg
            [/attack_sound_frame]
        [/if]
        [else]
            hits=no
            [if]
                direction=nw,ne,sw,se
                [sling_stone_frame]
                    halo="projectiles/fireball-nw-2.png:300"
                    auto_hflip=yes
                    auto_vflip=yes
                    halo_y=30~10,10~0,0~-10
                    offset=0.0~1.5
                [/sling_stone_frame]
            [/if]
            [else]
                direction=n,s
                [sling_stone_frame]
                    halo="projectiles/fireball-n-2.png:300"
                    auto_hflip=yes
                    auto_vflip=yes
                    halo_y=30~10,10~0,0~-10
                    offset=0.0~1.5
                [/sling_stone_frame]
            [/else]
            [frame]
                image="ashtail/harpy-ashtail-sling[1~9].png:100"
            [/frame]
            attack_sound_start_time=-400
            [attack_sound_frame]
                sound=melee-fire.ogg
            [/attack_sound_frame]
        [/else]
        [frame]
            image="ashtail/harpy-ashtail-fly[1~6].png:100"
        [/frame]
    [/attack_anim]
[/unit_type]
