#textdomain wesnoth-Harpies
[unit_type]
    id=AE_agl_harpies_Harpy_Emissary
    name= _ "Harpy Emissary"
    race=AE_agl_harpy
    image="emissary/harpy-emissary.png"
    image_icon="emissary/harpy-emissary.png"
    profile="emissary/harpy-emissary-portrait-female.webp~CROP(90,0,475,450)"
    small_profile="emissary/harpy-emissary-portrait-female.webp~CROP(0,0,667,667)"
    hitpoints=58
    movement_type=AE_agl_harpyfly
    movement=10
    experience=150
    gender=female,male
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_EMISSARY}
    cost=65
    usage=scout

    [male]
        name= _ "Harpy Emissary"
        gender=male
        profile="emissary/harpy-emissary-portrait-male.webp~CROP(90,0,475,450)"
        small_profile="emissary/harpy-emissary-portrait-female.webp~CROP(0,0,667,667)"
        die_sound={SOUND_LIST:HUMAN_DIE}
        {DEFENSE_ANIM "emissary/harpy-emissary-hit[1~3,1].png:[75*3,1]" "emissary/harpy-emissary.png" {SOUND_LIST:HUMAN_HIT} }
    [/male]

    description={AE_HARPY_UNIT_NOTICE}+ _ "Elite messengers become the quick emissaries of powerful leaders, whom they gained the trust of after decades of work. Swift as the wind, they are matched in speed only by the griffins of the high peaks. As they often carry messages of high importance in troubled times, they can defend themselves quite well by using their sharp talons and unrivalled air mobility. "

    [resistance]
        cold=80
    [/resistance]
    [defense]
        deep_water=50
        flat=40
        sand=40
        forest=-50
        hills=40
        mountains=30
        frozen=40
        unwalkable=50
    [/defense]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="emissary/harpy-emissary-death[1~5].png:100,50*5,emissary/harpy-emissary-death6.png:200"
        [/frame]
    [/death]
    {DEFENSE_ANIM "emissary/harpy-emissary-hit[1~3,1].png:[75*3,1]" "emissary/harpy-emissary.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [standing_anim]
        [frame]
            image="emissary/harpy-emissary.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        submerge=0.01
        [frame]
            image="emissary/harpy-emissary-fly[1~2].png:200"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="emissary/harpy-emissary-fly[1~2].png:200"
        [/frame]
    [/movement_anim]
    [pre_movement_anim]
        start_time=0
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="emissary/harpy-emissary-talon1.png:100"
        [/frame]
    [/pre_movement_anim]
    [post_movement_anim]
        start_time=0
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="emissary/harpy-emissary-land.png:100"
        [/frame]
    [/post_movement_anim]
    [draw_weapon_anim]
        start_time=0
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="emissary/harpy-emissary-land.png:100"
        [/frame]
    [/draw_weapon_anim]
    [sheath_weapon_anim]
        start_time=0
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="emissary/harpy-emissary-talon1.png:100"
        [/frame]
    [/sheath_weapon_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="emissary/harpy-emissary-talon1.png:200,emissary/harpy-emissary-idling[1~10].png:100"
        [/frame]
    [/idle_anim]

    [attack]
        name=claws
        description=_"talons"
        type=blade
        range=melee
        damage=9
        number=4
        icon=attacks/claws-animal.png
    [/attack]

    [attack]
        name=dive
        description=_"sky dive"
        type=pierce
        range=melee
        damage=14
        number=2
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
        icon=attacks/claws-animal.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-160
        [frame]
            image="emissary/harpy-emissary-talon[1~5].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -25}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=dive
        [/filter_attack]
        direction=nw,ne,sw,se
        offset=0.0:250,0.0~0.8:100,0.8:200,0.8~0.0:300,0.0:50
        start_time=-350
        [frame]
            image="emissary/harpy-emissary-talon1.png:50,emissary/harpy-emissary-dive[1~11].png:50,150*3,50*3,150,100*3,emissary/harpy-emissary-land.png:50"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -25}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dive
        [/filter_attack]
        direction=n
        offset=0.0:250,0.0~0.7:100,0.7:200,0.7~0.0:300,0.0:50
        start_time=-350
        [frame]
            image="emissary/harpy-emissary-talon1.png:50,emissary/harpy-emissary-dive[1~11].png:50,150*3,50*3,150,100*3,emissary/harpy-emissary-land.png:50"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -25}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dive
        [/filter_attack]
        direction=s
        offset=0.0:250,0.0~1:100,1:200,1~0.0:300,0.0:50
        start_time=-350
        [frame]
            image="emissary/harpy-emissary-talon1.png:50,emissary/harpy-emissary-dive[1~11].png:50,150*3,50*3,150,100*3,emissary/harpy-emissary-land.png:50"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -25}
    [/attack_anim]
[/unit_type]
