#textdomain wesnoth-Harpies
[unit_type]
    id=AE_agl_harpies_Night_Harpy
    name= _ "Night Harpy"
    race=AE_agl_harpy
    image="nightharpy/night-harpy.png"
    profile="nightharpy/night-harpy.png"
    hitpoints=28
    movement_type=AE_agl_harpyfly
    movement=6
    experience=36
    gender=female
    level=1
    alignment=chaotic
    advances_to=AE_agl_harpies_Harpy_Stalkerwing
    cost=18
    usage=scout

    description={AE_HARPY_UNIT_NOTICE}+ _ "While most harpies prefer to build their homes in the caves dotting seashore cliffs and tall mountains, some have chosen to seek shelter in forests. This new environment has made them change their hunting techniques, which now rely on stealth a lot more. Over time their body evolved and they can now fly silently, which makes them extremely hard to notice at night. "

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [abilities]
        {ABILITY_NIGHTSTALK}
        {ABILITY_SKIRMISHER}
    [/abilities]
    [defense]
        forest=40
        cave=-50
    [/defense]
    [movement_costs]
        cave=1
    [/movement_costs]
    [death]
        start_time=0
        [frame]
            image="nightharpy/night-harpy-death[1~5].png:100,50*4,nightharpy/night-harpy-death6.png:200"
        [/frame]
    [/death]
    {DEFENSE_ANIM "nightharpy/night-harpy-hitb[1~3,1].png:[75*3,1]" "nightharpy/night-harpy.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [standing_anim]
        [frame]
            image="nightharpy/night-harpy.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        submerge=0.01
        [frame]
            image="nightharpy/night-harpy-fly[5,6,1~4].png:100"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="nightharpy/night-harpy-fly[5,6,1~4].png:100"
        [/frame]
    [/movement_anim]
    [pre_movement_anim]
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        start_time=0
        [frame]
            image="nightharpy/night-harpy-takeoff.png:100"
        [/frame]
    [/pre_movement_anim]
    [post_movement_anim]
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        start_time=0
        [frame]
            image="nightharpy/night-harpy-land.png:100"
        [/frame]
    [/post_movement_anim]
    [draw_weapon_anim]
        start_time=0
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="nightharpy/night-harpy-land.png:100"
        [/frame]
    [/draw_weapon_anim]
    [sheath_weapon_anim]
        start_time=0
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="nightharpy/night-harpy-takeoff.png:100"
        [/frame]
    [/sheath_weapon_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        start_time=0
        [frame]
            image="nightharpy/night-harpy-idling[1~6].png:[100*2,300,100,300,100],nightharpy/night-harpy-idling3.png:100"
        [/frame]
    [/idle_anim]

    [attack]
        name=claws
        description={STR_CLAWS}
        type=blade
        range=melee
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
        icon=attacks/claws-shadow.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        offset=0.0~0.2:300,0.2~0.7:200,0.7~0.2:200,0.2~0.0:100
        start_time=-400
        [frame]
            image="nightharpy/night-harpy-talon[1~6].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg dagger-swish.wav -100}
    [/attack_anim]
[/unit_type]
