#textdomain wesnoth-Harpies
[unit_type]
    id=AE_agl_harpies_Harpy_Phantom
    name= _ "Harpy Phantom"
    race=AE_agl_harpy
    image="nightgaunt/harpy-nightgaunt-floatc1.png"
    profile="nightgaunt/harpy-nightgaunt-floatc1.png"
    hitpoints=53
    movement_type=AE_agl_harpyfly
    movement=7
    experience=150
    gender=female
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_PHANTOM}
    cost=65
    usage=scout

    description={AE_HARPY_UNIT_NOTICE}+ _ "When the night is at its darkest, are the shadows not more enticing than ever? Hide in the night, enjoy it, use it, but never forget it is not your friend. Those that fear not the shadows will in time join their ranks.
-Tales of the owl hunters"

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [abilities]
        {ABILITY_NIGHTSTALK}
        {ABILITY_SKIRMISHER}
    [/abilities]
    [defense]
        forest=40
        cave=50
        unwalkable=50
    [/defense]
    [movement_costs]
        cave=1
    [/movement_costs]
    [death]
        start_time=0
        [frame]
            image="nightgaunt/harpy-nightgaunt-death[1~7].png:100,50*6,nightgaunt/harpy-nightgaunt-death8.png:200"
        [/frame]
    [/death]
    {DEFENSE_ANIM "nightgaunt/harpy-nightgaunt-hit[1~3].png:75" "nightgaunt/harpy-nightgaunt-floatc1.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [standing_anim]
        start_time=0
        [frame]
            image="nightgaunt/harpy-nightgaunt-floatc[1~4].png:250"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="nightgaunt/harpy-nightgaunt-floatc[1~4].png:250"
        [/frame]
    [/movement_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="nightgaunt/harpy-nightgaunt-idling[1~8].png:100"
        [/frame]
    [/idle_anim]

    [attack]
        name=deathclaws
        description=_"deathclaws"
        type=blade
        range=melee
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
        icon=attacks/claws-shadow.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=deathclaws
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-500
        [frame]
            image="nightgaunt/harpy-nightgaunt-talonb[1~8].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS sword-1.ogg dagger-swish.wav -100}
    [/attack_anim]
[/unit_type]
