#textdomain wesnoth-Harpies
[unit_type]
    id=AE_agl_harpies_Harpy_Pirate
    name= _ "Harpy Pirate"
    race=AE_agl_harpy
    image="pirate/harpy-pirate.png"
    image_icon="pirate/harpy-pirate-fly1.png~CROP(32,24,72,72)"
    profile="pirate/harpy-pirate-portrait-female.webp~CROP(0,0,342,500)"
    small_profile="pirate/harpy-pirate-portrait-female.webp~CROP(0,0,342,660)"
    hitpoints=50
    movement_type=AE_agl_harpyfly
    movement=6
    experience=70
    gender=female,male
    level=2
    alignment=lawful
    advances_to=AE_agl_harpies_Harpy_Raider
    cost=28
    usage=fighter

    [male]
        name= _ "Harpy Pirate"
        gender=male
        profile="pirate/harpy-pirate-portrait-male.webp~CROP(0,0,342,500)"
        small_profile="pirate/harpy-pirate-portrait-female.webp~CROP(0,0,342,660)"
        die_sound={SOUND_LIST:HUMAN_DIE}
        {DEFENSE_ANIM "pirate/harpy-pirate-hit[1~3,1].png:[75*3,1]" "pirate/harpy-pirate-fly1.png" {SOUND_LIST:HUMAN_HIT} }
    [/male]

    description={AE_HARPY_UNIT_NOTICE}+ _ "Oftentimes harpy warriors band together to attack trade ships. They use long pikes to attack in a safer way and stay out of reach of melee fighters with their wings. Pirate groups nest on isolated craggy islands where they store their loot before trading it with other harpy colonies. "

    [resistance]
        impact=100
    [/resistance]
    [defense]
        deep_water=50
    [/defense]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="pirate/harpy-pirate-death[1~6].png:100,50*5,pirate/harpy-pirate-death7.png:200"
        [/frame]
    [/death]
    {DEFENSE_ANIM "pirate/harpy-pirate-hit[1~3,1].png:[75*3,1]" "pirate/harpy-pirate-fly1.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [standing_anim]
        start_time=0
        [frame]
            image="pirate/harpy-pirate-fly[1~6].png:100"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="pirate/harpy-pirate-fly[1~6].png:100"
        [/frame]
    [/movement_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="pirate/harpy-pirate-idling[1~6].png:100"
        [/frame]
    [/idle_anim]

    [attack]
        name=slash
        description={STR_SPEAR}
        type=blade
        range=melee
        damage=10
        number=3
        icon=attacks/pike.png
    [/attack]

    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=14
        number=2
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        icon=attacks/pike.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=slash
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7,0.7~0.2,0.2~0.0
        start_time=-325
        [frame]
            image="pirate/harpy-pirate-slash[1~9].png:75"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -75}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        offset=0.0~0.5:150,0.5:75,0.5~0.2:150,0.2~0.0:150
        start_time=-150
        [frame]
            image="pirate/harpy-pirate-stab[1~7].png:75"
        [/frame]
        {SOUND:HIT_AND_MISS knife.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
