#textdomain wesnoth-Harpies
[unit_type]
    id=AE_agl_harpies_Resplendent_Harpy
    name= _ "Resplendent Harpy"
    race=AE_agl_harpy
    image="resplendent/resplendent-harpy.png"
    image_icon="resplendent/resplendent-harpy.png~CROP(0,0,72,72)"
    profile="resplendent/resplendent-harpy-portrait.webp~CROP(120,0,600,600)~SCALE_INTO(600,500)"
    small_profile="resplendent/resplendent-harpy-portrait.webp"
    halo=halo/elven/shyde-stationary-halo[1~6].png:150
    hitpoints=55
    movement_type=AE_agl_harpyfly
    movement=7
    experience=150
    gender=female
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_RESPLENDENT}
    cost=57
    usage=mixed fighter

    description={AE_HARPY_UNIT_NOTICE}+ _ "Resplendent harpies make the most of their dazzling presence to help their allies go unnoticed. In social gatherings where they thrive, they know when to show glitter and when to lay low so as not to displease their host.
In battle they learnt to be very nimble, avoiding the harm that comes with being the center of attention, and confuse the enemy by making their presence clear or hidden to be harder to catch. "
    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_DIVERSION}
    [/abilities]
    [resistance]
        arcane=80
    [/resistance]
    [defense]
        forest=50
        flat=40
        sand=40
        hills=40
        frozen=40
    [/defense]

    [teaching_anim] #   used for diversion anim. by default teaching anim only works while affected enemy attacks so that cuts the animation short. to avoid my anim getting cut I just set the start time so that most of it plays before the hit occurs at time 0. The issue with this, is that the unit being distracted is stuck in its first attack frame if the resplendent harpy's anim starts before it. To offset this, my anim is 600ms total, and i make it start 200ms later than it could (almost all mainline attack animations seem to start at least at -200, so it's likely the distraction anim will have time to finish, and it reduces potential waiting time).
        [filter]
            status=diversion
        [/filter]
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        start_time=-400
        value_second=1
        [frame]
            image="resplendent/resplendent-harpy-distraction[1~10].png:[75*2,50*2,75,50*4,75]"
        [/frame]
    [/teaching_anim]
    [teaching_anim] #   flying version of the anim to reconnect with anims where harpy is above water (idk any pre/post-teaching anim so there it goes)
        [filter]
            status=diversion
        [/filter]
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        start_time=-400
        value_second=1
        [frame]
            image="resplendent/resplendent-harpy-fly1.png:50,resplendent/resplendent-harpy-distractionflight[1~10].png:[75*2,50*2,75,50*4,75],resplendent/resplendent-harpy-fly6.png:50"
        [/frame]
    [/teaching_anim]

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="resplendent/resplendent-harpy-death[1~8].png:[100,50*6,200]"
        [/frame]
    [/death]
    {DEFENSE_ANIM "resplendent/resplendent-harpy-hit[1~3,1].png:[75*3,1]" "resplendent/resplendent-harpy.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [standing_anim]
        [frame]
            image="resplendent/resplendent-harpy.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        submerge=0.01
        [frame]
            image="resplendent/resplendent-harpy-fly[1~6].png:100"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="resplendent/resplendent-harpy-fly[1~6].png:100"
        [/frame]
    [/movement_anim]
    [pre_movement_anim]
        start_time=0
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="resplendent/resplendent-harpy-takeoff[1~3].png:75"
        [/frame]
    [/pre_movement_anim]
    [post_movement_anim]
        start_time=0
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="resplendent/resplendent-harpy-land[1,2].png:75"
        [/frame]
    [/post_movement_anim]
    [draw_weapon_anim]
        start_time=0
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="resplendent/resplendent-harpy-land[1,2].png:75"
        [/frame]
    [/draw_weapon_anim]
    [sheath_weapon_anim]
        start_time=0
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="resplendent/resplendent-harpy-takeoff[1~3].png:75"
        [/frame]
    [/sheath_weapon_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="resplendent/resplendent-harpy-wiggle[1~9,2~5,2,1].png:[100,75*4,125*4,75*4,100*2]"
        [/frame]
    [/idle_anim]

    [attack]
        name=dagger
        description={STR_DAGGER}
        type=pierce
        range=melee
        damage=7
        number=5
        icon=attacks/dagger-human.png
    [/attack]
    [attack]
        name=ensnare
        description={STR_ENSNARE}
        icon=attacks/faerie-fire.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=8
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        direction=sw,se
        offset=0.0:350,0.0~0.4:200,0.4:250,0.4~0.0:200,0.0:150
        start_time=-500
        [frame]
            image="resplendent/resplendent-harpy-dagger[1~13].png:[100*2,150,100,50*2,100*2,50,100*2,75*2]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        direction=nw,ne
        offset=0.0:350,0.0~0.4:200,0.4:250,0.4~0.0:200,0.0:150
        directional_y=0:350,0~-20:200,-20:250,-20~0:200,0:150
        start_time=-500
        [frame]
            image="resplendent/resplendent-harpy-dagger[1~13].png:[100*2,150,100,50*2,100*2,50,100*2,75*2]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        direction=n
        offset=0.0:350,0.0~0.4:200,0.4:250,0.4~0.0:200,0.0:150
        directional_x=0:350,0~-20:200,-20:250,-20~0:200,0:150
        directional_y=0:350,0~-20:200,-20:250,-20~0:200,0:150
        start_time=-500
        [frame]
            image="resplendent/resplendent-harpy-dagger[1~13].png:[100*2,150,100,50*2,100*2,50,100*2,75*2]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        direction=s
        offset=0.0:350,0.0~0.7:200,0.7:250,0.7~0.0:200,0.0:150
        directional_x=0:350,0~-20:200,-20:250,-20~0:200,0:150
        start_time=-500
        [frame]
            image="resplendent/resplendent-harpy-dagger[1~13].png:[100*2,150,100,50*2,100*2,50,100*2,75*2]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=ensnare
        [/filter_attack]
        missile_start_time=-100
        [missile_frame]
            offset=1.0
            duration=350
            image=halo/elven/shaman-heal-halo-[1~7].png:50~BLEND(0,76,0,100%)
            auto_vflip=no
        [/missile_frame]
        start_time=-800
        [frame]
            image="resplendent/resplendent-harpy-dagger[1~3].png:75,resplendent/resplendent-harpy-ensnare[1~15].png:[50*2,75*10,50,75*2]"
        [/frame]
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -75}
        halo_start_time=-400
        [halo_frame]
            halo=halo/saurian-magic-halo-[1~7].png:100
            halo_x,halo_y=13,-12
            auto_vflip=no
        [/halo_frame]
        [frame]
            image="resplendent/resplendent-harpy.png:1"
        [/frame]
    [/attack_anim]
[/unit_type]
