#textdomain wesnoth-Harpies
[unit_type]
    id=AE_agl_harpies_Shrieker
    name= _ "Shrieker"
    race=AE_agl_harpy
    image="shrieker/harpy-shrieker2b.png"
    profile="shrieker/harpy-shrieker-portrait.webp"
    small_profile="shrieker/harpy-shrieker-portrait.webp"
    hitpoints=50
    movement_type=AE_agl_harpyfly
    movement=6
    experience=150
    gender=female,male
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_SHRIEKER}
    cost=65
    usage=archer

    [male]
        gender=male
        profile="shrieker/harpy-shrieker-portrait-male.webp"
        small_profile="shrieker/harpy-shrieker-portrait.webp"
        die_sound={SOUND_LIST:HUMAN_DIE}
        {DEFENSE_ANIM "shrieker/harpy-shrieker-hit[1~3].png:75" "shrieker/harpy-shrieker2b.png" {SOUND_LIST:HUMAN_HIT} }
    [/male]

    description={AE_HARPY_UNIT_NOTICE}+ _ "As the moon hides behind the peaks, the wind in the gloom calls.
Answer it fast! Answer it quick! Quiet shall be your fall.
To uncover the night's secrets, won't you heed this soft howl?
Answer it fast, trust the spirits, run with the winds and wolves.
Won't you come deeper down the forest, in the shadows with us to dance?
'Til the morrow, the wind shall rest, and wait for you, for its next chance.
As the moon returns in white flame, it shall be back for your regrets.
Answer it well, it knows your name, and certainly never forgets."

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [abilities]
        {ABILITY_NIGHTSTALK}
        {ABILITY_SKIRMISHER}
    [/abilities]
    [defense]
        forest=40
        cave=-50
    [/defense]
    [movement_costs]
        cave=1
    [/movement_costs]
    [death]
        start_time=0
        [frame]
            image="shrieker/harpy-shrieker-death[1~5].png:100,50*4,shrieker/harpy-shrieker-death6.png:200"
        [/frame]
    [/death]
    {DEFENSE_ANIM "shrieker/harpy-shrieker-hit[1~3].png:75" "shrieker/harpy-shrieker2b.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [standing_anim]
        [frame]
            image="shrieker/harpy-shrieker2b.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        submerge=0.01
        [frame]
            image="shrieker/harpy-shrieker-fly[5,6,1~4].png:100"
        [/frame]
    [/standing_anim]

    [movement_anim]
        start_time=0
        [frame]
            image="shrieker/harpy-shrieker-fly[5,6,1~4].png:100"
        [/frame]
    [/movement_anim]
    [pre_movement_anim]
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        start_time=0
        [frame]
            image="shrieker/harpy-shrieker-takeoff.png:100"
        [/frame]
    [/pre_movement_anim]
    [post_movement_anim]
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        start_time=0
        [frame]
            image="shrieker/harpy-shrieker-land.png:100"
        [/frame]
    [/post_movement_anim]
    [draw_weapon_anim]
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        start_time=0
        [frame]
            image="shrieker/harpy-shrieker-land.png:100"
        [/frame]
    [/draw_weapon_anim]
    [sheath_weapon_anim]
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        start_time=0
        [frame]
            image="shrieker/harpy-shrieker-takeoff.png:100"
        [/frame]
    [/sheath_weapon_anim]
    [idle_anim]
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="shrieker/harpy-shrieker-sing9.png:100,shrieker/harpy-shrieker-idling[1~7].png:150"
        [/frame]
    [/idle_anim]

    [attack]
        name=claws
        description={STR_CLAWS}
        icon=attacks/claws-shadow.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]

    [attack]
        name=shriek
        description=_"shriek"
        icon=attacks/wail.png
        type=pierce
        range=ranged
        damage=14
        number=2
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=shriek
        [/filter_attack]
        missile_start_time=-50
        [if]
            hits=yes
            [missile_frame]
                offset=1
                duration=300
                image="misc/harpy-shriektarget[1~5].png:50"
                auto_vflip=no
            [/missile_frame]
            halo_start_time=-100
            [halo_frame]
                offset=0
                halo="misc/harpy-shriek[7~12].png:50"
                auto_vflip=no
            [/halo_frame]
        [/if]
        [else]
            hits=no
            halo_start_time=-100
            [halo_frame]
                offset=0
                halo="misc/harpy-shriekfail[1~6].png:50"
                auto_vflip=no
            [/halo_frame]
        [/else]
        start_time=-500
        # despite the filtering, the engine would apply the moving offset to the shriek attack as well as the claws, so I just set the shriek's offset to 0
        offset=0.0
        [frame]
            image="shrieker/harpy-shrieker-sing[1~9].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS gryphon-die-1.ogg gryphon-hit-2.ogg -100}
        [frame]
            image="shrieker/harpy-shrieker2b.png:50"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        offset=0.0~0.2:300,0.2~0.7:200,0.7~0.2:200,0.2~0.0:100
        start_time=-400
        [frame]
            image="shrieker/harpy-shrieker-talon[1~6].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS knife.ogg dagger-swish.wav -100}
    [/attack_anim]
[/unit_type]
