#textdomain wesnoth-Harpies
[unit_type]
    id=AE_agl_harpies_Harpy_Siren
    name= _ "Harpy Siren"
    race=AE_agl_harpy
    image="siren/harpy-siren.png"
    profile="siren/harpy-siren-portrait.webp~CROP(223,0,660,610)~SCALE_INTO(660,490)"
    small_profile="siren/harpy-siren-portrait.webp~CROP(0,0,893,680)"
    halo="misc/halo-illuminates-shyde[1~6].png:150"
    hitpoints=58
    movement_type=AE_agl_harpyfly
    movement=6
    experience=188
    gender=female
    level=4
    alignment=lawful
    advances_to=null
    {AMLA_SIREN}
    cost=90
    usage=healer

    description={AE_HARPY_UNIT_NOTICE}+ _ "Harpies have a strong belief that their kind was born from a magical song, sung from what they call the World of Mist. When the wind song feels sorrowful, it is because we hear the laments of beings that got lost in that illusory land."

    [abilities]
        {ABILITY_ILLUMINATES}
        {ABILITY_CURES}
    [/abilities]
    [healing_anim]
        start_time=-200
        [frame]
            image="siren/harpy-siren-sing[1~9].png:100"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
        [frame]
            halo=halo/elven/shaman-heal-halo-[1~7].png
        [/frame]
    [/healing_anim]
    [resistance]
        arcane=60
    [/resistance]
    [defense]
        forest=50
        unwalkable=50
        deep_water=50
    [/defense]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="siren/harpy-siren-death[1~7].png:100,50*6,siren/harpy-siren-death8.png:200"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
    [/death]

    # blend on the defense anim didn't work with the defense anim macro, so I used the macro code directly here to have access to blend_color instead, which worked
    [defend]
        start_time=-126
        [frame]
            image=siren/harpy-siren-idle1.png:1,siren/harpy-siren-hit[1~3].png:75,siren/harpy-siren-idle1.png:1
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound={SOUND_LIST:HUMAN_FEMALE_HIT}
            [/hit_sound_frame]
        [/if]
    [/defend]

    [movement_anim]
        start_time=0
        [frame]
            image="siren/harpy-siren-fly[1~6].png:100"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
    [/movement_anim]
    [pre_movement_anim]
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        start_time=0
        [frame]
            image="siren/harpy-siren-takeoff.png:100"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
    [/pre_movement_anim]
    [post_movement_anim]
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        start_time=0
        [frame]
            image="siren/harpy-siren-land.png:100"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
    [/post_movement_anim]
    [draw_weapon_anim]
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        start_time=0
        [frame]
            image="siren/harpy-siren-land.png:100"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
    [/draw_weapon_anim]
    [sheath_weapon_anim]
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        start_time=0
        [frame]
            image="siren/harpy-siren-takeoff.png:100"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
    [/sheath_weapon_anim]
    [standing_anim]
        [frame]
            image="siren/harpy-siren-idle[1~6].png:200"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="siren/harpy-siren-fly[1~6].png:100"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
    [/standing_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        start_time=0
        [frame]
            image="siren/harpy-siren-idling[1~9].png:150"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
    [/idle_anim]

    [attack]
        name=dagger
        description={STR_DAGGER}
        type=pierce
        range=melee
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        damage=9
        number=3
        icon=attacks/dagger-human.png
    [/attack]
    [attack]
        name=beguiling song
        description=_"beguiling song"
        icon=attacks/faerie-fire.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        damage=7
        number=4
    [/attack]
    [attack]
        name=wail
        description={STR_WAIL}
        icon=attacks/wail.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_STUN}
        [/specials]
        damage=9
        number=4
    [/attack]

    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        direction=sw,se
        offset=0.0~0.2:80,0.2~0.5:80,0.5:160,0.5~0.2:80,0.2~0.0:80
        start_time=-160
        [frame]
            image="siren/harpy-siren-dagger[1~6].png:80"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        direction=nw,ne
        offset=0.0~0.2:80,0.2~0.5:80,0.5:160,0.5~0.2:80,0.2~0.0:80
        directional_y=0~-10:160,-10:160,-10~0:160
        start_time=-160
        [frame]
            image="siren/harpy-siren-dagger[1~6].png:80"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        direction=n
        offset=0.0~0.3:80,0.3~0.7:80,0.7:160,0.7~0.3:80,0.3~0.0:80
        directional_x=0~-20:160,-20:160,-20~0:160
        start_time=-160
        [frame]
            image="siren/harpy-siren-dagger[1~6].png:80"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        direction=s
        offset=0.0~0.2:80,0.2~0.5:80,0.5:160,0.5~0.2:80,0.2~0.0:80
        directional_x=0~-20:160,-20:160,-20~0:160
        start_time=-160
        [frame]
            image="siren/harpy-siren-dagger[1~6].png:80"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=beguiling song
        [/filter_attack]
        missile_start_time=-100
        [missile_frame]
            offset=1.0
            duration=350
            image=halo/elven/shaman-heal-halo-[1~7].png:50~BLEND(0,76,0,100%)
            auto_vflip=no
        [/missile_frame]
        start_time=-200
        [frame]
            image="siren/harpy-siren-sing[1~9].png:100"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
        halo_start_time=-150
        [halo_frame]
            halo=halo/saurian-magic-halo-[1~7].png:60
            halo_x,halo_y=0,-12
            auto_vflip=no
        [/halo_frame]
        {SOUND:HIT_AND_MISS magic-holy-miss-2.ogg magic-holy-miss-1.ogg -75}
        [frame]
            image="siren/harpy-siren-idle1.png:50"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=wail
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            offset=1.0
            image="misc/harpy-wail2-front[1~6].png:75,misc/harpy-wail2-front[7~10].png:50"
            auto_vflip=no
        [/missile_frame]
        missile2_start_time=-200
        [missile2_frame]
            offset=1.0
            image="misc/harpy-wail2-back[1~6].png:75,misc/harpy-wail2-back[7~10].png:50"
            layer=20
            auto_vflip=no
        [/missile2_frame]
        start_time=-200
        [frame]
            image="siren/harpy-siren-sing[1~9].png:100"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
        halo_start_time=-150
        [halo_frame]
            halo=halo/saurian-magic-halo-[1~7].png:60
            halo_x,halo_y=0,-12
            auto_vflip=no
        [/halo_frame]
        attack_sound_start_time=-75
        [attack_sound_frame]
            sound=wail-sml.wav
        [/attack_sound_frame]
        [frame]
            image="siren/harpy-siren-idle1.png:50"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
    [/attack_anim]
[/unit_type]
