#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_cult_Cultist
    name= _ "Cultist"
    race=AE_mrc_cult_race
    gender=male
    image="units/cult/cultist.png"
    profile="portraits/cult/cultist.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=26
    movement_type=AE_mrc_cultlightfoot
    movement=6
    experience=38
    level=1
    alignment=chaotic
    advances_to=AE_mrc_cult_Covert,AE_mrc_cult_Overt
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=14
    usage=fighter
    # Spanish: Los cultistas son un grupo de hombres que frecuentemente tienen reuniones secretas. Nadie sabe de sus verdaderas intenciones, pero lo cierto es que se les ve luchando con criaturas y mounstrosidades de su mismo bando razón por lo cual los cultistas son tanto odiados como temidos.
    description={AE_MRC_UNIT_NOTICE}+_"Cultists are a group of men that usually have secret reunions, no-one is sure about their real intentions, but it is true that they're commonly seen fighting, weird creatures and monstrosities by their side, so cultists are both feared and hated."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BACKSTAB}

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Dagger
        description={STR_DAGGER}
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=3
        number=4
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Dagger
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/cult/cultist.png"
            sound=dagger-swish.wav
        [/frame]
    [/attack_anim]
[/unit_type]
