#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_cult_Executioner
    name= _ "Executioner"
    race=AE_mrc_mutant_race
    gender=male
    image="units/cult/executioner.png"
    profile="portraits/cult/executioner.png~RC(magenta>black)"
    hitpoints=58
    movement_type=AE_mrc_cultlightfoot
    movement=6
    experience=134
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=58
    usage=fighter
    #
    description={AE_MRC_UNIT_NOTICE}+_"They're named Executioners just because if you question them why they are doing those genocides they will just say 'for the common good' which is strange coming from a genocidal... inquietant... but there is a question... What do these people want exactly? And what are their reasons for the genetic manipulation even on themselves, assassinations and immoral acts."

    [resistance]
        blade=100
        pierce=110
        arcane=100
        cold=80
    [/resistance]

    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Dagger
        description={STR_DAGGER}
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=6
        number=5
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
			{WEAPON_SPECIAL_AE_MAG_MAGIC_DODGE}
        [/specials]
    [/attack]

    [attack]
        name=Dagger
        description={STR_DAGGER}
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=19
        number=2
		[specials]
            {WEAPON_SPECIAL_AE_MAG_MAGIC_DODGE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Dagger
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/cult/executioner.png"
            sound=dagger-swish.wav
        [/frame]
    [/attack_anim]

[/unit_type]
