#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_cult_Lookout
    name= _ "Lookout"
    race=AE_mrc_cult_race
    gender=male
    image="units/cult/lookout.png"
    profile="portraits/cult/lookout.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=32
    movement_type=AE_mrc_cultfoot
    movement=8
    experience=38
    level=1
    alignment=chaotic
    advances_to=AE_mrc_cult_Sentry
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=15
    usage=fighter
    # Spanish: Aparte de que estos hombres son más lígeros que los humanos regulares, no hay mucha diferencia. Aparte de tener un peso de 15 kilos menos que un humano común, no hay mucha más diferencia.
    description={AE_MRC_UNIT_NOTICE}+_"Apart from being more swift than usual, they are not unlike regular humans."

    [resistance]
        impact=105
        blade=110
        pierce=110
    [/resistance]

    [defense]
        village=50
        swamp_water=50
    [/defense]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Torch
        description={STR_TORCH}
        icon=attacks/torch.png
        type=fire
        range=melee
        damage=6
        number=3
        [specials]
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Torch
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/cult/lookout.png"
            sound=torch.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
