#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_cult_Sewer_Slider
    name= _ "Sewer Slider"
    race=AE_mrc_mutant_race
    gender=male
    image="units/cult/sewerslider.png"
    profile="portraits/cult/sewerslider.png~RC(magenta>black)"
    hitpoints=48
    movement_type=AE_mrc_cultswim
    movement=7
    experience=72
    level=2
    alignment=chaotic
    advances_to=AE_mrc_cult_Slither
    die_sound=hiss-die.wav
    cost=30
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"
"

    [resistance]
    [/resistance]

    [abilities]
        {ABILITY_AE_SWAMPAMBUSH}
    [/abilities]

    #{DEFENSE_ANIM "" "" hiss-hit.wav }

    [attack]
        name=Tail
        description={STR_TAIL}
        icon=attacks/tail-dragon.png
        type=impact
        range=melee
        damage=22
        number=1
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Bite
        description={STR_BITE}
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=9
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Sludge
        description= _ "Sludge"
        icon=attacks/mud-glob.png
        type=impact
        range=ranged
        damage=4
        number=4
        [specials]
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Tail
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/cult/sewerslider.png"
            sound=tail.ogg
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=Bite
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/cult/sewerslider.png"
            sound=bite.ogg
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=Sludge
        [/filter_attack]
        missile_start_time=-250
        [missile_frame]
            duration=250
            image="projectiles/mud-glob.png"
            image_diagonal="projectiles/mud-glob.png"
            sound=squishy-hit.wav
        [/missile_frame]
        start_time=-500
        [frame]
            image=units/cult/sewerslider.png
        [/frame]
    [/attack_anim]
[/unit_type]
