#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_imp_Issaelfr_Fleet_Seal
    name= _ "Fleet Seal"
    race=monster
    image="units/animals/fleet-seal.png"
    profile="portraits/animals/fleet-seal.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=35
    movement_type=AE_imp_fe_water
    movement=7
    experience=80
    level=2
    alignment=neutral
    advances_to=AE_imp_Issaelfr_Elder_Seal
    undead_variation=swimmer
    cost=28
    usage=fighter
    description= _ "This unit is from Imperial Era. Its coding and art were done by Turin and Various others.
 
Though the seals are only animals, they learn from combat just as quickly as men, if not quicker, and soon after their first battle they have adjusted to the switch from hunting unarmed fish to attacking men armed with spear, sword and bow. Their elven masters are pleased with this, and reward them well, if they survive."
    {DEFENSE_ANIM "units/animals/fleet-seal.png" "units/animals/fleet-seal.png" mermen-hit.wav}
    [attack]
        name=bite
        description={STR_BITE}
        type=blade
        range=melee
        damage=7
        number=4
        icon=attacks/fangs-animal.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            #image="units/animals/fleet-seal-attack.png"
        [/frame]
    [/attack_anim]
[/unit_type]
