#textdomain wesnoth-Forgotten_Legends
[unit_type]
    id=FLwojoownik
    name= _"Dark Swordsman"
    race=FLmrocznyelf
    image="frakcja3/dark-swordsman.png"
    
    hitpoints=35
    movement_type=bloodelf
    movement=6
    experience=38
    level=1
    alignment=chaotic
    advances_to=FLwojoownik2
    cost=17
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:ORC_SMALL_DIE}
    {DEFENSE_ANIM frakcja3/dark-swordsman.png frakcja3/dark-swordsman.png {SOUND_LIST:ORC_SMALL_HIT}}
    [attack]
        name=sword
        description=_"sword"
        type=blade
        range=melee
        damage=8
        number=3
        icon=attacks/sword-elven.png
    [/attack]

    [resistance]
        blade=90
    [/resistance]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-110
                end=110
                image="frakcja3/dark-swordsman.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-110
                end=110
                image="frakcja3/dark-swordsman.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
