#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_mag_Goblin_Kamikaze
    name= _ "Goblin Kamikaze"
    race=goblin
    image="units/barbarians-goblins/kamikaze.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=14
    movement_type=smallfoot
    [resistance]
        arcane=100
        blade=110
        pierce=110
        impact=110
        fire=130
    [/resistance]
    [defense]
        frozen=70
    [/defense]
    movement=5
    experience=25
    level=0
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=12
    usage=fighter
    {TRAIT_FEARLESS_MUSTHAVE}
    description= _ {AE_EOMA_UNIT_NOTICE} + {AE_MAG_NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:GOBLIN_DIE}
    undead_variation=goblinkamikaze
    [abilities]
        {AE_MAG_ABILITYKAMIKAZE}
    [/abilities]
    {DEFENSE_ANIM "units/barbarians-goblins/kamikaze.png" "units/barbarians-goblins/kamikaze.png" {SOUND_LIST:GOBLIN_HIT} }
    [attack]
        name=spear
        description=_"explosion"
        type=fire
        range=kamikaze
        damage=20
        number=1
        icon=attacks/explosion.png
        [specials]
            {AE_MAG_WEAPON_SPECIAL_ALWAYSHITS}
        [/specials]
    [/attack]
    [attack]
        name=spear
        description=_"explosion"
        type=impact
        range=kamikaze
        damage=12
        number=1
        icon=attacks/explosion.png
        [specials]
            {AE_MAG_WEAPON_SPECIAL_ALWAYSHITS}
        [/specials]
    [/attack]
    {KAMIKAZE_ANIM spear units/barbarians-goblins/kamikaze.png}
    {GOBLINS_DEATH_ANIM kamikaze}
[/unit_type]
