#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_myh_Light_Spirit
    name= _ "Light Spirit"
    race=AE_myh_celestial
    gender=female
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    {TRAIT_DEXTROUS}
    image="units/celestials/light-spirit-se1.png"
    profile="portraits/celestials/light_spirit.png~RC(magenta>white)~CROP(0,0,205,205)"
    halo=halo/illuminates-aura.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=24
    movement_type=AE_myh_lightfly
    movement=8
    experience=42
    level=1
    alignment=lawful
    advances_to=AE_myh_Lantern_Archon
    cost=18
    usage=scout
    description= {AE_EOM_UNIT_NOTICE} +  _ "Light Spirits are a breed of faeries who possess an aura of arcane energy that infuses their entire body with a radiant light. They share their energy with the Celestials in return for protection, and to some extent worship."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ILLUMINATES}+{SPECIAL_NOTES_ARCANE}
    {DEFENSE_ANIM "units/celestials/light-spirit-se1.png" "units/celestials/light-spirit-se3.png" {SOUND_LIST:BAT_HIT} }
    die_sound=bat-flapping.wav
    undead_variation=bat

    [resistance]
        impact=110
    [/resistance]
    [abilities]
        {ABILITY_ILLUMINATES}
    [/abilities]

    [standing_anim]
        layer=60
        start_time=0
        [frame]
            image="units/celestials/light-spirit-se[3,2,1,2,3,4,5,4].png:[50,40,70,50,40,50,70,50]"
        [/frame]
    [/standing_anim]

    [attack]
        name=shock of light
        description= _ "shock of light"
        type=arcane
        range=ranged
        damage=4
        number=4
        icon=attacks/lightbeam.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=shock of light
        [/filter_attack]
        {MISSILE_FRAME_LIGHT_BEAM} # duration is 730
        start_time=-245
        [frame]
            image="units/celestials/light-spirit-se2.png:345"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:HOLY} {SOUND_LIST:HOLY_MISS} -75}
    [/attack_anim]
[/unit_type]
