#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_myh_Messenger
    name= _ "Messenger"
    race=AE_myh_celestial
    gender=male,female
    image="units/celestials/messenger.png"
    # profile is defined in the [female] tag below
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=36
    movement_type=AE_myh_Cfly
    movement=6
    experience=40
    level=1
    alignment=lawful
    advances_to=AE_myh_Claimant
    cost=18
    usage=fighter
    description= {AE_EOM_UNIT_NOTICE} +  _ "Messengers are chosen as Celestial leaders for the simple and traditional reason that their wings grow in adolescence rather than fall off or remain vestigial. Unlike other Celestials, Messengers can fly over the battlefield and give orders, granting a bonus to surrounding troops."+{SPECIAL_NOTES}+{SPECIAL_NOTES_INSPIRE}
    {DEFENSE_ANIM "units/celestials/messenger.png" "units/celestials/messenger.png" {SOUND_LIST:HUMAN_HIT} }
    {DEFENSE_ANIM_FILTERED "units/celestials/messenger-moving.png" "units/celestials/messenger-moving.png" {SOUND_LIST:HUMAN_HIT} terrain_type={DRAKE_UNWALKABLE_TERRAINS} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=drake

    [abilities]
        {ABILITY_AE_GEN_INSPIRE}
    [/abilities]

    [attack]
        name=sword
        description={STR_SWORD}
        type=blade
        range=melee
        damage=7
        number=3
        icon=attacks/sword-human.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/celestials/messenger.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        terrain_type={DRAKE_UNWALKABLE_TERRAINS}
        start_time=-200
        [frame]
            image="units/celestials/messenger-moving.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [movement_anim]
        [frame]
            image="units/celestials/messenger-moving.png"
            offset="0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200"
        [/frame]
    [/movement_anim]

    [standing_anim]
        # angel will fly over water and unwalkable area
        terrain_type={DRAKE_UNWALKABLE_TERRAINS}
        [frame]
            image="units/celestials/messenger-moving.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        # default animation, for all other terrain_types
        [frame]
            image="units/celestials/messenger.png"
        [/frame]
    [/standing_anim]

    [female]
        gender=female
        name= _ "female^Messenger"
        image="units/celestials/messenger+female.png"
        profile="portraits/celestials/messenger+female.png~RC(magenta>white)~CROP(5,5,205,205)"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/celestials/messenger+female.png" "units/celestials/messenger+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        {DEFENSE_ANIM_FILTERED "units/celestials/messenger-moving+female.png" "units/celestials/messenger-moving+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} terrain_type={DRAKE_UNWALKABLE_TERRAINS} }

        [attack_anim]
            [filter_attack]
                name=sword
            [/filter_attack]
            start_time=-200
            [frame]
                image="units/celestials/messenger+female.png:300"
            [/frame]
            {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=sword
            [/filter_attack]
            terrain_type={DRAKE_UNWALKABLE_TERRAINS}
            start_time=-200
            [frame]
                image="units/celestials/messenger-moving+female.png:300"
            [/frame]
            {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
        [/attack_anim]

        [movement_anim]
            [frame]
                image="units/celestials/messenger-moving+female.png"
                offset="0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200"
            [/frame]
        [/movement_anim]

        [standing_anim]
            # angel will fly over water and unwalkable area
            terrain_type={DRAKE_UNWALKABLE_TERRAINS}
            [frame]
                image="units/celestials/messenger-moving+female.png"
            [/frame]
        [/standing_anim]
        [standing_anim]
            # default animation, for all other terrain_types
            [frame]
                image="units/celestials/messenger+female.png"
            [/frame]
        [/standing_anim]
    [/female]
[/unit_type]
