#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_myh_Claimant
    name= _ "Claimant"
    race=AE_myh_celestial
    gender=male,female
    image="units/celestials/claimant.png"
    profile="portraits/celestials/claimant.png"
    small_profile="portraits/celestials/claimant.png~SCALE(205,205)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=AE_myh_Cfly
    movement=6
    experience=90
    level=2
    alignment=lawful
    advances_to=AE_myh_Herald
    cost=40
    usage=fighter
    description= {AE_EOM_UNIT_NOTICE} +  _ "All winged Celestials were once named Claimants. They were called this by their bretheren in the beginning days of Celestial society as they claimed to be the natural leaders of the Celestial people. Claimants now exclusively write Celestial law, which Messengers then spread to the people."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
    {DEFENSE_ANIM "units/celestials/claimant.png" "units/celestials/claimant.png" {SOUND_LIST:HUMAN_HIT} }
    {DEFENSE_ANIM_FILTERED "units/celestials/claimant-moving.png" "units/celestials/claimant-moving.png" {SOUND_LIST:HUMAN_HIT} terrain_type={DRAKE_UNWALKABLE_TERRAINS} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=drake

    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]

    [attack]
        name=sword
        description={STR_SWORD}
        type=blade
        range=melee
        damage=10
        number=3
        icon=attacks/sword-human.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/celestials/claimant.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        terrain_type={DRAKE_UNWALKABLE_TERRAINS}
        start_time=-200
        [frame]
            image="units/celestials/claimant-moving.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [movement_anim]
        [frame]
            image="units/celestials/claimant-moving.png"
            offset="0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200"
        [/frame]
    [/movement_anim]

    [standing_anim]
        # angel will fly over water and unwalkable area
        terrain_type={DRAKE_UNWALKABLE_TERRAINS}
        [frame]
            image="units/celestials/claimant-moving.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        # default animation, for all other terrain_types
        [frame]
            image="units/celestials/claimant.png"
        [/frame]
    [/standing_anim]

    [female]
        gender=female
        name= _ "female^Claimant"
        image="units/celestials/claimant+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/celestials/claimant+female.png" "units/celestials/claimant+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        {DEFENSE_ANIM_FILTERED "units/celestials/claimant-moving+female.png" "units/celestials/claimant-moving+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} terrain_type={DRAKE_UNWALKABLE_TERRAINS} }

        [attack_anim]
            [filter_attack]
                name=sword
            [/filter_attack]
            start_time=-200
            [frame]
                image="units/celestials/claimant+female.png:300"
            [/frame]
            {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=sword
            [/filter_attack]
            terrain_type={DRAKE_UNWALKABLE_TERRAINS}
            start_time=-200
            [frame]
                image="units/celestials/claimant-moving+female.png:300"
            [/frame]
            {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
        [/attack_anim]

        [movement_anim]
            [frame]
                image="units/celestials/claimant-moving+female.png"
                offset="0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200,0~1:200"
            [/frame]
        [/movement_anim]

        [standing_anim]
            # angel will fly over water and unwalkable area
            terrain_type={DRAKE_UNWALKABLE_TERRAINS}
            [frame]
                image="units/celestials/claimant-moving+female.png"
            [/frame]
        [/standing_anim]
        [standing_anim]
            # default animation, for all other terrain_types
            [frame]
                image="units/celestials/claimant+female.png"
            [/frame]
        [/standing_anim]
    [/female]
[/unit_type]
