#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_bem_calydonians_Tassiarch
    name= _ "Tassiarch"
    race=AE_bem_calydonians_race
    image="units/calydonians/tassiarch.png"
    profile="portraits/calydonians/tassiarch.png~RC(magenta>black)"
    hitpoints=46
    movement_type=AE_bem_calydonians_tassiarchical
    movement=5
    experience=75
    level=2
    alignment=lawful
    advances_to=AE_bem_calydonians_Strategos
    cost=34
    usage=fighter
    description= _ "This unit is from BEEM. Its coding and art were done by Voodoo, Baro_st, Tydeus, Dibs, and various others.
 
In the Calydonian army, the name Tassiarch is given to the commander of a Taxis, which is a group of Lochoi, that are groups of 200 soldiers. Tassiarchs have great tactical abilities who allow them to lead efficiently other soldiers and are also trained at sword."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_2}
        {ABILITY_STEADFAST}
    [/abilities]

    [defense]
        sand=70
        fungus=60
    [/defense]

    [movement_costs]
        coastal_rift=3
        sand=2
        fungus=2
    [/movement_cost]

    [attack]
        name=xiphos
        description= _ "xiphos"
        type=blade
        range=melee
        damage=9
        number=3
        icon=attacks/xiphos.png
    [/attack]

    [attack]
        name=javelin
        description={STR_JAVELIN}
        type=pierce
        range=ranged
        damage=8
        number=1
        icon=attacks/spear-bronze.png
    [/attack]

    {DEFENSE_ANIM "units/calydonians/tassiarch_defend.png" "units/calydonians/tassiarch.png" {SOUND_LIST:HUMAN_HIT} }

    [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/calydonians/tassiarch_leading.png"
        [/frame]
    [/leading_anim]

    [attack_anim]
        [filter_attack]
            name=xiphos
        [/filter_attack]
        [frame]
            begin=-300
            end=-200
            image="units/calydonians/tassiarch.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=-50
                image="units/calydonians/tassiarch_attack1.png"
                sound=sword-1.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=-50
                image="units/calydonians/tassiarch_attack1.png"
                sound=miss-3.ogg
            [/frame]
        [/else]
        [frame]
            begin=-50
            end=+100
            image="units/calydonians/tassiarch_attack2.png"
        [/frame]
    [/attack_anim]
[/unit_type]
