#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_bem_calydonians_Teti
    name= _ "Teti"
    race=AE_bem_calydonians_race
    image="units/calydonians/teti.png"
    profile="portraits/calydonians/teti.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=30
    movement_type=AE_bem_calydonians_tetical
    movement=6
    experience=37
    level=1
    alignment=lawful
    advances_to=AE_bem_calydonians_Toxotes,AE_bem_calydonians_Gymnet
    cost=14
    usage=archer
    description= _ "This unit is from BEEM. Its coding and art were done by Voodoo, Baro_st, Tydeus, Dibs, and various others.
 
Not everyone can afford an armor such as the one wore by the Hoplites: these kind of people are called 'Teti' and represent one of the lowest social class in the Calydonian Hegemony. Nevertheless, many Teti join the Calydonian army, armed with a sling and a dagger and without a specific training; these soldiers usually support the Hoplites throwing stones at the enemy."
    #get_hit_sound={SOUND_LIST:HUMAN_HIT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=dagger
        description={STR_DAGGER}
        type=blade
        range=melee
        damage=3
        number=2
        icon=attacks/dagger-bronze.png
    [/attack]
    {DEFENSE_ANIM_RANGE "units/calydonians/teti_defend.png" "units/calydonians/teti.png" {SOUND_LIST:HUMAN_HIT} melee }
    {DEFENSE_ANIM_RANGE "units/calydonians/teti_defend.png" "units/calydonians/teti.png" {SOUND_LIST:HUMAN_HIT} ranged }
    [attack]
        name=sling
        description={STR_SLING}
        type=impact
        range=ranged
        damage=6
        number=3
        icon=attacks/sling.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        [frame]
            begin=-100
            end=0
            image="units/calydonians/teti.png"
        [/frame]
        [frame]
            begin=0
            end=+70
            image="units/calydonians/teti_attack-1.png"
            sound=dagger-swish.wav
        [/frame]
        [frame]
            begin=+70
            end=+100
            image="units/calydonians/teti.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=sling
        [/filter_attack]

        [missile_frame]
            begin=-0
            end=100
            image="projectiles/stone.png"
            image_diagonal="projectiles/stone.png"
        [/missile_frame]

        [frame]
            begin=-250
            end=-50
            image="units/calydonians/teti_ranged-1.png"
        [/frame]

        [if]
            hits=yes
            [frame]
                begin=-50
                end=10
                image="units/calydonians/teti_ranged-2.png"
            [/frame]
            [frame]
                begin=10
                end=+100
                image="units/calydonians/teti.png"
                sound=sling.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-50
                end=10
                image="units/calydonians/teti_ranged-2.png"
            [/frame]
            [frame]
                begin=10
                end=+100
                image="units/calydonians/teti.png"
                sound=sling-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
