#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_holy_order_Aggressor
    name= _ "Aggressor"
    race=AE_mrc_holy_order_race
    gender=male
    image="units/holyorder/aggressor.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=36
    movement_type=AE_mrc_holy_order_officerfoot
    movement=5
    experience=40
    level=1
    alignment=lawful
    advances_to=AE_mrc_holy_order_Crusader
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=15
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"When invading other lands, many people pledge themselves to the Holy Order. They are given basic armor and a sword and bestowed the rank of aggressor, as well as a promise of everlasting life in death."

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=5
        number=4
        [specials]
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Sword
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/holyorder/aggressor.png"
            sound=sword-1.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
