#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_chs_wild_humans_Crossbowman
    name=_ "Crossbowman"
    race=human
    gender=male
    image="units/human-wild/crossbowman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=smallfoot
    [defense]
        sand=60
    [/defense]
    [movement_costs]
        sand=1
    [/movement_costs]
    [resistance]
        arcane=90
    [/resistance]
    movement=5
    experience=100
    {AMLA_DEFAULT}
    level=2
    alignment=neutral
    advances_to=null
    undead_variation=archer
    cost=22
    usage=archer
    description={AE_EOC_UNIT_NOTICE}+"Though the archers' service duties are mostly tedious, sometimes they turn into a real combat encounter. Those who survive a few serious fights go on to become official crossbowmen. Though they possess some valuable experience and have a bit better standing, most still wish they had been never taken into the army."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-wild/crossbowman.png" "units/human-wild/crossbowman.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=short sword
        description={STR_SHORT_SWORD}
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=5
        number=4
    [/attack]
    [attack]
        name=crossbow
        description={STR_CROSSBOW}
        icon=attacks/crossbow-wild.png
        type=pierce
        range=ranged
        damage=8
        number=3
    [/attack]
    [attack]
        name=crossbow
        description={STR_CROSSBOW}
        icon=attacks/crossbow-wild-fire.png
        type=fire
        range=ranged
        damage=7
        number=3
    [/attack]

    {GENERIC_SWORD_ANIM (short sword) "units/human-wild/crossbowman.png"}

    {GENERIC_CROSSBOW_ANIM (type=pierce) "units/human-wild/crossbowman.png"}

    [attack_anim]
        [filter_attack]
            name=crossbow
            type=fire
        [/filter_attack]

        missile_start_time=-150
        start_time=-300

        [if]
            hits=yes

            [missile_frame]
                duration=150
                image="projectiles/missile-fire-n.png"
                image_diagonal="projectiles/missile-fire-ne.png"
                offset=0~0.8
            [/missile_frame]

            {FIRE_BURST_SMALL}

            [frame]
                image="units/human-wild/crossbowman.png:200"
                sound=crossbow-fire.ogg
            [/frame]
        [/if]
        [else]
            hits=no

            [missile_frame]
                duration=150
                image="projectiles/missile-fire-n.png"
                image_diagonal="projectiles/missile-fire-ne.png"
            [/missile_frame]

            [frame]
                image="units/human-wild/crossbowman.png:200"
                sound=crossbow-fire-miss.ogg
            [/frame]
        [/else]
        [frame]
            image="units/human-wild/crossbowman.png:100"
        [/frame]
    [/attack_anim]
[/unit_type]
