#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_chs_wild_humans_Knight
    name= _ "Knight"
    race=human
    gender=male
    image="units/human-wild/knight.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=mounted
    movement=8
    [defense]
        sand=60
    [/defense]
    [movement_costs]
        sand=1
    [/movement_costs]
    [resistance]
        arcane=90
    [/resistance]
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=mounted
    cost=35
    usage=scout
    description={AE_EOC_UNIT_NOTICE}+"These knights have acquired great skills and there's hardly a match for them. Enjoying their high status, they incline to fulfilling their desires without scruples. The common folk know all too well they better be wary when one is around."
    {DEFENSE_ANIM "units/human-wild/knight.png" "units/human-wild/knight.png" {SOUND_LIST:HORSE_HIT} }
    die_sound=horse-die.ogg

    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        [specials]
            {WEAPON_SPECIAL_CHARGE}
            {WEAPON_SPECIAL_DREAD}
        [/specials]
        range=melee
        damage=13
        number=2
        icon=attacks/spear-wild.png
    [/attack]

    {GENERIC_MOUNTED_SPEAR_ANIM spear "units/human-wild/knight.png"}
[/unit_type]
