#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_chs_wild_humans_Noble
    name= _ "Noble"
    race=human
    ignore_race_traits=yes
    {TRAIT_RESILIENT}
    {TRAIT_INTELLIGENT}
    {TRAIT_STRONG}
    {TRAIT_FEARLESS}
    gender=male
    image="units/human-wild/noble.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=49
    movement_type=armoredfoot
    [defense]
        sand=70
    [/defense]
    [movement_costs]
        sand=1
    [/movement_costs]
    [resistance]
        arcane=90
    [/resistance]
    movement=4
    experience=100
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=36
    description={AE_EOC_UNIT_NOTICE}+"..."
    usage=fighter
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-wild/noble.png" "units/human-wild/noble.png" {SOUND_LIST:HUMAN_HIT} }

    [abilities]
        {AE_CHS_ABILITY_PROTECTION_LEVEL_2}
    [/abilities]

    [attack]
        name=mace
        description={STR_MACE}
        icon=attacks/mace-wild.png
        type=impact
        range=melee
        damage=9
        number=3
    [/attack]

    {GENERIC_MACE_ANIM mace "units/human-wild/noble.png"}
[/unit_type]
