#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_chs_wild_humans_Smasher
    name= _ "Smasher"
    race=human
    ignore_race_traits=yes
    {TRAIT_RESILIENT}
    {TRAIT_INTELLIGENT}
    {TRAIT_STRONG}
    {TRAIT_FEARLESS}
    gender=male
    image="units/human-wild/smasher.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=51
    movement_type=armoredfoot
    [defense]
        sand=70
    [/defense]
    [movement_costs]
        sand=1
    [/movement_costs]
    [resistance]
        arcane=90
    [/resistance]
    movement=4
    experience=100
    level=2
    alignment=neutral
    advances_to=AE_chs_wild_humans_Crusher
    cost=34
    description={AE_EOC_UNIT_NOTICE}+"Clad in heavy armor, these soldiers are very tough and can easily defeat any opponents."
    usage=fighter
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-wild/smasher.png" "units/human-wild/smasher.png" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=mace
        description={STR_MACE}
        icon=attacks/mace-wild.png
        type=impact
        range=melee
        damage=16
        number=2
    [/attack]

    {GENERIC_MACE_ANIM mace "units/human-wild/smasher.png"}
[/unit_type]
