#textdomain wesnoth-Ageless_Era

[unit_type]
    description={AE_MIE_UNIT_NOTICE}
    id=AE_mie_treefolk_bark_guise
    name= _ "Bark Guise"
    race=AE_mie_treefolk
    image="units/treefolk/bark-guise.png"
    hitpoints=43
    movement_type=AE_mie_treefolk
    movement=4
    experience=44
    level=1
    alignment=lawful
    advances_to=AE_mie_treefolk_ghastbark, AE_mie_treefolk_bark_elder
    cost=18
    usage=fighter
    die_sound=wose-die.ogg

    [abilities]
        {ABILITY_AMBUSH}
        {ABILITY_REGENERATES}
    [/abilities]

    [movement_costs]
        mountains=2
    [/movement_costs]

    [defense]
        castle=60
    [/defense]

    [attack]
        name=crush
        description={STR_CRUSH}
        icon="attacks/crush-wose.png"
        type=impact
        range=melee
        damage=10
        number=2
    [/attack]

    [attack]
        name=rock
        description=_"rock"
        icon="attacks/rock_thrown.png"
        type=impact
        range=ranged
        damage=8
        number=1
    [/attack]

    {AE_MIE_GENERIC_CRUSH_ANIM crush "units/treefolk/bark-guise.png"}
    {AE_MIE_GENERIC_ROCK_ANIM rock "units/treefolk/bark-guise.png"}

    {DEFENSE_ANIM "units/treefolk/bark-guise.png" "units/treefolk/bark-guise.png" wose-hit.ogg}
[/unit_type]
