#textdomain wesnoth-Ageless_Era

[unit_type]
    description={AE_MIE_UNIT_NOTICE}
    id=AE_mie_treefolk_dauntless
    name= _ "Dauntless"
    race=AE_mie_treefolk
    image="units/treefolk/dauntless.png"
    hitpoints=54
    movement_type=AE_mie_treefolk
    movement=5
    experience=74
    level=2
    alignment=lawful
    advances_to=AE_mie_treefolk_vengeance
    cost=25
    usage=fighter
    die_sound=wose-die.ogg

    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]

    [resistance]
        arcane=115
        blade=94
        fire=130
        pierce=65
    [/resistance]

    [movement_costs]
        mountains=2
    [/movement_costs]

    [defense]
        castle=60
    [/defense]

    [attack]
        name=claws
        description={STR_CLAWS}
        icon="attacks/claws.png"
        type=blade
        range=melee
        damage=8
        number=4
    [/attack]

    {AE_MIE_GENERIC_CLAW_ANIM claws "units/treefolk/dauntless.png"}

    {DEFENSE_ANIM "units/treefolk/dauntless.png" "units/treefolk/dauntless.png" wose-hit.ogg}
[/unit_type]
