#textdomain wesnoth-Ageless_Era

[unit_type]
    description={AE_MIE_UNIT_NOTICE}
    id=AE_mie_treefolk_dourbark
    name= _ "Fearless Dourbark"
    race=AE_mie_treefolk
    image="units/treefolk/dourbark.png"
    hitpoints=72
    movement_type=AE_mie_treefolk
    movement=5
    experience=150
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=54
    usage=fighter
    die_sound=wose-die.ogg

    [abilities]
        {ABILITY_AMBUSH}
        {ABILITY_REGENERATES}
    [/abilities]

    [resistance]
        fire=130
        cold=80
    [/resistance]

    [movement_costs]
        mountains=2
    [/movement_costs]

    [defense]
        castle=60
    [/defense]

    [attack]
        name=gore_boughs
        description=_"gore boughs"
        icon="attacks/blank-attack.png"
        type=pierce
        range=melee
        damage=9
        number=5
    [/attack]

    [attack]
        name=crush
        description={STR_CRUSH}
        icon="attacks/crush-wose.png"
        type=impact
        range=melee
        damage=12
        number=3
    [/attack]

    {AE_MIE_GENERIC_SPEAR_ANIM gore_boughs "units/treefolk/dourbark.png"}
    {AE_MIE_GENERIC_CRUSH_ANIM crush "units/treefolk/dourbark.png"}

    {DEFENSE_ANIM "units/treefolk/dourbark.png" "units/treefolk/dourbark.png" wose-hit.ogg}
[/unit_type]
