#textdomain wesnoth-Ageless_Era

[unit_type]
    description={AE_MIE_UNIT_NOTICE}
    id=AE_mie_treefolk_vengeance
    name= _ "Vengeance"
    race=AE_mie_treefolk
    image="units/treefolk/vengeance.png"
    hitpoints=68
    movement_type=AE_mie_treefolk
    movement=6
    experience=150
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=51
    usage=fighter
    die_sound=wose-die.ogg

    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]

    [resistance]
        arcane=115
        blade=94
        fire=125
		cold=90
		pierce=65
    [/resistance]

    [movement_costs]
        mountains=2
    [/movement_costs]

    [defense]
        castle=60
    [/defense]

    [attack]
        name=claws
        description={STR_CLAWS}
        icon="attacks/claws.png"
        type=blade
        range=melee
        damage=12
        number=4
    [/attack]

    {AE_MIE_GENERIC_CLAW_ANIM claws "units/treefolk/vengeance.png"}

    {DEFENSE_ANIM "units/treefolk/vengeance.png" "units/treefolk/vengeance.png" wose-hit.ogg}
[/unit_type]
