#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_fanatics_Martyr
    name= _ "Martyr"
    race=AE_mrc_fanatics_race
    gender=male
    image="units/fanatics/martyr.png"
    hitpoints=40
    movement_type=AE_mrc_fanatics_martyrfoot
    movement=4
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=35
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+""

    [resistance]
    [/resistance]

    [abilities]
        {ABILITY_AE_SUICIDE}
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Powderkeg
        description= _ "Powderkeg"
        icon=attacks/fireball.png
        type=fire
        range=kamikaze
        damage=50
        number=1
        [specials]
            #refers to EoMa
            {AE_MAG_WEAPON_SPECIAL_PRECISION}
			{AE_WEAPON_SPECIAL_DEADLY_STRIKE}
        [/specials]
    [/attack]
	    [attack]
        name=Powderkeg
        description= _ "Powderkeg"
        icon=attacks/fireball.png
        type=impact
        range=kamikaze
        damage=13
        number=1
        [specials]
            #refers to EoMa
            {AE_MAG_WEAPON_SPECIAL_PRECISION}
			{AE_WEAPON_SPECIAL_DEADLY_STRIKE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Powderkeg
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/fanatics/martyr.png"
            sound=fire.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
