#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_fanatics_Genie
    name= _ "Genie"
    race=AE_mrc_djinn_race
    gender=male
    image="units/fanatics/genie.png"
    hitpoints=26
    movement_type=AE_mrc_fanatics_fanagenie
    movement=6
    experience=50
    level=1
    alignment=chaotic
    advances_to=AE_mrc_fanatics_Master_Genie
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=21
    usage=mixed fighter
    description={AE_MRC_UNIT_NOTICE}+"
"

    [resistance]
        blade=80
        impact=80
        pierce=80
        cold=80
        fire=80
    [/resistance]

    [abilities]
        {ABILITY_HEALS}
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Scimitar
        description= _ "Scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=5
        number=1
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Lightning
        description={STR_LIGHTNING}
        icon=attacks/lightning.png
        type=fire
        range=ranged
        damage=7
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=Iceball
        description= _ "Snowball"
        icon=attacks/iceball.png
        type=cold
        range=ranged
        damage=4
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Scimitar
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/fanatics/genie.png"
            sound=sword-1.ogg
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=Lightning
        [/filter_attack]
        missile_start_time=-250
        [missile_frame]
            duration=250
            image="projectiles/lightning-n.png"
            image_diagonal="projectiles/lightning-ne.png"
            sound=lightning.ogg
        [/missile_frame]
        start_time=-500
        [frame]
            image=units/fanatics/genie.png
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=Iceball
        [/filter_attack]
        missile_start_time=-250
        [missile_frame]
            duration=250
            image="projectiles/icemissile-n.png"
            image_diagonal="projectiles/icemissile-ne.png"
            sound=lightning-miss.ogg
        [/missile_frame]
        start_time=-500
        [frame]
            image=units/fanatics/genie.png
        [/frame]
    [/attack_anim]
[/unit_type]
