#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_fd_Rapidfire
    name= _ "Dwarvish Forest Rapidfire"
    race=AE_RHY_dwarf
    {AE_RHY_DWARF_FOREST_TRAITS}
    image="units/gnomes/rapidfire-crossbow.png"
    hitpoints=64
    movement_type=AE_RHY_forestdwarvishfoot
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=53
    usage=archer
    description={AE_RHY_UNIT_NOTICE}+ _ "Some Tinkerers have developed a mechanism that allows to fire crossbows at a great speed. This unfortunately comes at cost of accuracy."
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/gnomes/rapidfire-crossbow.png" "units/gnomes/rapidfire-crossbow.png" {SOUND_LIST:DWARF_HIT}}
    [attack]
        name=hammer
        description={STR_HAMMER}
        icon=attacks/hammer.png
        type=impact
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=crossbow
        description={STR_CROSSBOW}
        type=pierce
        range=ranged
        damage=19
        number=2
        icon=attacks/crossbow-iron.png
    [/attack]
    [attack]
        name=crossbow
        description= _ "rapidfire"
        type=pierce
        range=ranged
        damage=10
        number=5
        [specials]
            {AE_RHY_WEAPON_SPECIAL_RECOIL}
        [/specials]
        icon=attacks/crossbow-iron.png
    [/attack]
    {AE_RHY_ANIM_CROSSBOW gnomes/rapidfire-crossbow}
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-300
        [frame]
            image="units/gnomes/rapidfire-crossbow.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -210}
    [/attack_anim]
[/unit_type]
