#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ext_dwarves_Dwarvish_Steamcopter
    name= _ "Steamcopter"
    race=dwarf
    {AE_TRAITS_SET_COPTER}
    image="units/dwarves/steamcopter.png"
    hitpoints=45
    movement_type=fly
    movement=8
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=27
    undead_variation=mounted
    usage=scout
    description= _ "This unit is from Extended Era. Its coding and art were done by the Various people who created Extended Era.
 
" + _ "With the aid of steam genies, Steamcopters are able to move faster and carry more bombs than Gyrocopters."
    die_sound={SOUND_LIST:DWARF_DIE}
    [resistance]
        blade=110
        pierce=80
        impact=100
        fire=120
        cold=100
        arcane=90
    [/resistance]
    [movement_costs]
        cave=100
        fungus=100
    [/movement_costs]
    [attack]
        name=bomb
        description= _ "bomb"
        icon=attacks/bomb.png
        type=impact
        range=ranged
        damage=10
        number=3
    [/attack]
    [standing_anim]
        start_time=0
        [frame]
            duration=150
            image="units/dwarves/steamcopter.png"
        [/frame]
        [frame]
            duration=150
            image="units/dwarves/steamcopter2.png"
        [/frame]
        [frame]
            duration=150
            image="units/dwarves/steamcopter3.png"
        [/frame]
        [frame]
            duration=150
            image="units/dwarves/steamcopter4.png"
        [/frame]
        [frame]
            duration=150
            image="units/dwarves/steamcopter5.png"
        [/frame]
        [frame]
            duration=150
            image="units/dwarves/steamcopter6.png"
        [/frame]
    [/standing_anim]
    [defend]
        start_time=-150
        [frame]
            duration=100
            image="units/dwarves/steamcopter.png"
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=100
                image="units/dwarves/steamcopter2.png"
                sound={SOUND_LIST:DWARF_HIT}
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=100
                image="units/dwarves/steamcopter2.png"
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/dwarves/steamcopter3.png"
        [/frame]
    [/defend]
    [defend]
        start_time=-150
        [frame]
            duration=100
            image="units/dwarves/steamcopter4.png"
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=100
                image="units/dwarves/steamcopter5.png"
                sound={SOUND_LIST:DWARF_HIT}
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=100
                image="units/dwarves/steamcopter5.png"
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/dwarves/steamcopter6.png"
        [/frame]
    [/defend]
    [attack_anim]
        [filter_attack]
            name=bomb
        [/filter_attack]
        start_time=-300
        {MISSILE_FRAME_BOMB}
        [frame]
            duration=100
            image="units/dwarves/steamcopter.png"
        [/frame]
        [frame]
            duration=100
            image="units/dwarves/steamcopter2.png"
        [/frame]
        [frame]
            duration=100
            image="units/dwarves/steamcopter3.png"
        [/frame]
        [frame]
            duration=100
            image="units/dwarves/steamcopter4.png"
        [/frame]
        [frame]
            duration=100
            image="units/dwarves/steamcopter5.png"
        [/frame]
        [frame]
            duration=100
            image="units/dwarves/steamcopter6.png"
        [/frame]
    [/attack_anim]
[/unit_type]
