#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_arc_SouthSeas Spitfire
    name= _ "Spitfire"
    gender=male
    race=AE_arc_south-seas_human
    image="units/south-seas/arsonist/spitfire.png"
    profile=portraits/arsonist.png
#    small_profile=portraits/arsonist.png~CROP(89,104,396,396)~SCALE(205,205)
    #
    {DEFENSE_ANIM "units/south-seas/arsonist/spitfire-defend2.png" "units/south-seas/arsonist/spitfire-defend1.png" {SOUND_LIST:HUMAN_HIT} }
    hitpoints=52
    movement_type=southfoot
    movement=6
    experience=100
    level=3
    alignment=chaotic
    advances_to=AE_arc_null
    {AMLA_DEFAULT}
    cost=35
    usage=archer
    description={AE_ARC_UNIT_NOTICE} +  _ "…"
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        impact=90
        pierce=100
        cold=90
    [/resistance]
    [movement_cost]
        forest=1
    [/movement_cost]
    [defense]
        shallow_water=50
        deep_water=60
    [/defense]
    [attack]
        name=torch
        description={STR_TORCH}
        icon=attacks/torch.png
        type=fire
        range=melee
        damage=15
        number=2
    [/attack]
    [attack]
        name=flame
        description= _ "flame"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            begin=-175
            end=-75
            image="units/south-seas/arsonist/spitfire.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=100
                image="units/south-seas/arsonist/spitfire.png"
                sound=torch-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=100
                image="units/south-seas/arsonist/spitfire.png"
                sound=torch.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/south-seas/arsonist/spitfire.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        missile_start_time=-250
        start_time=-250
        [frame]
            duration=50
            image="units/south-seas/arsonist/spitfire.png"
        [/frame]
        [if]
            hits=yes
            [missile_frame]
                duration=200
                image="projectiles/muzzle-flash-n-1.png"
                image_diagonal="projectiles/muzzle-flash-ne-1.png"
                offset=0~0.8
            [/missile_frame]
            [frame]
                duration=200
                image="units/south-seas/arsonist/spitfire.png"
                sound=fire.wav
            [/frame]
            {FIRE_BURST_SMALL}
        [/if]
        {AE_FAILED_FIREBALL}
        [frame]
            duration=100
            image="units/south-seas/arsonist/spitfire.png"
        [/frame]
    [/attack_anim]
[/unit_type]
