#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_arc_south_seas_Sea_Rover
    name= _ "Sea Rover"
    gender=male
    race=AE_arc_race_south_seas_human
    image="units/south-seas/rover.png"
    {DEFENSE_ANIM "units/south-seas/rover.png" "units/south-seas/rover.png" {SOUND_LIST:HUMAN_HIT} }
    #    {DEFENSE_ANIM "units/south-seas/rover-defend2.png" "units/south-seas/rover-defend1.png" {SOUND_LIST:HUMAN_HIT} }
    hitpoints=45
    movement_type=AE_arc_southfoot
    movement=6
    experience=60
    level=2
    alignment=chaotic
    advances_to=AE_arc_south_seas_Sea_Wolf
    cost=24
    usage=mixed fighter
    description={AE_ARC_UNIT_NOTICE}+_"Some of the southern city-states earn their wealth through plunder and exploitation. The roving pirates are not the strongest fighters, but they are verstile enough to give trouble to almost any foe."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        pierce=100
        impact=100
        blade=90
        cold=90
    [/resistance]
    [defense]
        shallow_water=50
    [/defense]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=dart
        description= _ "dart"
        icon=attacks/javelin-orcish.png
        type=pierce
        range=ranged
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
        accuracy=5
        damage=4
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            begin=-175
            end=-75
            image="units/south-seas/rover.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=100
                image="units/south-seas/rover.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=100
                image="units/south-seas/rover.png"
                sound=staff.wav
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/south-seas/rover.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-175
            end=-75
            image="units/south-seas/rover.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=100
                image="units/south-seas/rover.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=100
                image="units/south-seas/rover.png"
                sound=throw-1.wav, throw-2.wav, throw-3.wav, throw-4.wav
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/south-seas/rover.png"
        [/frame]
    [/attack_anim]
[/unit_type]
