#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_arc_south_seas_Wind_Caller
    name= _ "female^Wind-Caller"
    race=AE_arc_race_south_seas_human
    gender=female
    image="units/south-seas/zephyrist.png"
    profile="portraits/caller.png"
    hitpoints=41
    movement_type=AE_arc_southfoot
    movement=5
    experience=72
    level=2
    alignment=lawful
    advances_to=AE_arc_south_seas_Sky_Caller
    cost=25
    usage=healer
    description={AE_ARC_UNIT_NOTICE}+_"The Wind-Callers study the lore of the brighter gods. They pray for favourable winds and a minimum of strife. They are successful at directing wind-lashes, but the effort requires strength."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SWARM}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/south-seas/zephyrist.png" "units/south-seas/zephyrist.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    #    {DEFENSE_ANIM "units/south-seas/zephyrist-defend1.png" "units/south-seas/zephyrist-defend2.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [abilities]
        {ABILITY_CURES}
    [/abilities]
    [resistance]
        blade=90
        fire=90
    [/resistance]
    [attack]
        name=fist
        description={STR_FIST}
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=wind
        description= _ "wind"
        icon=attacks/dark-missile.png
        # a cutting wind, I guess
        type=blade
        range=ranged
        [specials]
            # magical might be overkill - removing it and increasing damage
            # {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_SWARM}
        [/specials]
        damage=5
        number=10
    [/attack]
    [attack_anim]
        # keep this attack anim short
        [filter_attack]
            name=wind
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/wind-n.png"
            image_diagonal="projectiles/wind-ne.png"
        [/missile_frame]
        [frame]
            begin=-230
            end=-180
            image="units/south-seas/zephyrist.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-180
                end=-80
                image="units/south-seas/zephyrist.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-180
                end=-80
                image="units/south-seas/zephyrist.png"
                sound=dart.wav
            [/frame]
        [/else]
        [frame]
            begin=-80
            end=100
            image="units/south-seas/zephyrist.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/south-seas/zephyrist.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/south-seas/zephyrist.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/south-seas/zephyrist.png"
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/south-seas/zephyrist.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/south-seas/zephyrist.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/south-seas/zephyrist.png"
        [/frame]
    [/attack_anim]
[/unit_type]
