#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_fd_Cutter
    name= _ "Dwarvish Forest Cutter"
    race=dwarf
    ignore_race_traits=yes
    {TRAIT_HEALTHY}
    {TRAIT_SLOW}
    {TRAIT_STRONG}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    image="units/dwarves-forest/cutter.png"
    hitpoints=76
    movement_type=AE_rhy_move_forestdwarvishfoot
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=48
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Dwarvish cutters are the elite of the dwarvish infantry. They carry around big battle axes and and have better armor than other forestdwarves"
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves-forest/cutter.png" units/dwarves-forest/cutter.png {SOUND_LIST:DWARF_HIT} }
    [resistance]
        blade=70
        pierce=70
        impact=70
    [/resistance]
    [attack]
        name=battle axe
        description={STR_BATTLE_AXE}
        type=blade
        range=melee
        icon=attacks/battleaxe.png
        damage=16
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=battle axe
        [/filter_attack]
        start_time=-350
        [frame]
            image="units/dwarves-forest/cutter.png:400"
        [/frame]
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -130}
    [/attack_anim]
[/unit_type]
