#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_fd_Gnome_Luck
    name= _ "Lucky Gnome"
    race=AE_rhy_race_gnome
    image="units/dwarves-forest/luckgnome.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=37
    movement_type=AE_rhy_move_gnome
    movement=5
    experience=107
    level=2
    alignment=neutral
    advances_to=AE_rhy_fd_Gnome_Gold,AE_rhy_fd_Gnome_Jumper
    cost=38
    usage=archer
    description={AE_RHY_UNIT_NOTICE}+ _ "Gnomes are generally lucky creatures, but some specimen reach new levels. Even normal swishes with their staff seem to magically hit their target."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves-forest/luckgnome.png" "units/dwarves-forest/luckgnome.png" {SOUND_LIST:DWARF_HIT}}
    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/staff-green.png
        type=impact
        range=melee
        damage=4
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=missile
        description=_"magic missile"
        type=arcane
        range=ranged
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        icon=attacks/magic-missile.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        offset=0
        {MAGIC_MISSILE 11 -20}
        {MAGIC_MISSILE_STAFF_FLARE -750 600 11 -20}

        [frame]
            begin=-800
            end=-350
            image="units/dwarves-forest/luckgnome.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-350
                end=-100
                image="units/dwarves-forest/luckgnome.png"
                sound=magic-missile-1-miss.ogg,magic-missile-2-miss.ogg,magic-missile-3-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-350
                end=-100
                image="units/dwarves-forest/luckgnome.png"
                sound=magic-missile-1.ogg,magic-missile-2.ogg,magic-missile-3.ogg
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=100
            image="units/dwarves-forest/luckgnome.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/dwarves-forest/luckgnome.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/dwarves-forest/luckgnome.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/dwarves-forest/luckgnome.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/dwarves-forest/luckgnome.png"
        [/frame]
    [/attack_anim]
[/unit_type]
