#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_fd_Pathfinder
    name= _ "Dwarvish Forest Pathfinder"
    race=dwarf
    image=units/dwarves-forest/pathfinder.png
    profile="portraits/dwarves/scout.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=44
    movement_type=AE_rhy_move_forestdwarvishfoot
    [resistance]
        blade=100
    [/resistance]
    [defense]
        forest=40
        hills=50
        mountains=40
    [/defense]
    movement=5
    experience=62
    level=2
    alignment=neutral
    advances_to=AE_rhy_fd_Explorer
    cost=30
    usage=scout
    description={AE_RHY_UNIT_NOTICE}+ _ "These hardy dwarves are sometimes away from their caves for long periods, scouting and patrolling the borders. They spend this time watching for invaders, and fighting bandits and thieves who encroach on dwarvish territory. They are powerful fighters in a melee, and from a distance their deftly thrown axes can rival the power and accuracy of a human archer."
    die_sound={SOUND_LIST:DWARF_DIE}
    #weakened from 9 damage to 8 damage
    {DEFENSE_ANIM "units/dwarves-forest/pathfinder.png" units/dwarves-forest/pathfinder.png {SOUND_LIST:DWARF_HIT}}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/dwarves/transparent/scout.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/dwarves/transparent/scout.png"
    [/portrait]
    [attack]
        name=axe
        description={STR_AXE}
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=axe
        description={STR_AXE}
        type=blade
        range=ranged
        damage=6
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            range=ranged
            name=axe
        [/filter_attack]
        {MISSILE_FRAME_HATCHET}
        [frame]
            begin=-300
            end=-100
            image="units/dwarves-forest/pathfinder.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image=units/dwarves-forest/pathfinder.png
                sound=hatchet.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image=units/dwarves-forest/pathfinder.png
                sound=hatchet-miss.wav
            [/frame]
        [/else]
        [frame]
            begin=0
            end=100
            image=units/dwarves-forest/pathfinder.png
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=melee
            name=axe
        [/filter_attack]
        start_time=-340
        offset=0.0~0.1:290,0.1~0.6:150,0.6~0.0:150
        [frame]
            duration=290
            image="units/dwarves-forest/pathfinder.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=50
                image="units/dwarves-forest/pathfinder.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=50
                image="units/dwarves-forest/pathfinder.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=200
            image="units/dwarves-forest/pathfinder.png"
        [/frame]
    [/attack_anim]
[/unit_type]
