#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_federation_highlander
    name= _ "Highlander"
    race=mauvilien
    gender=male,female
    image="units/federation/Highlander.png"
    hitpoints=58
    movement_type=smallfoot
    movement=6
    experience=85
    level=2
    alignment=lawful
    cost=34
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=AE_AoA_federation_chefDeClan
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/federation/Highlander.png" "units/federation/Highlander.png" {SOUND_LIST:HUMAN_HIT} }
    [movement_costs]
        frozen=2
    [/movement_costs]
    [defense]
        frozen=60
    [/defense]
    [attack]
        name=epee
        description= _"claymore"
        type=blade
        range=melee
        damage=10
        number=3
        icon=attacks/greatsword-human.png
        [specials]
            [berserk]
                id=aggression
                name= _ "aggression"
                description= _ "This attack presses the engagement twice as long as usual."
                value=2
            [/berserk]
        [/specials]
    [/attack]
    {SWORD_SOUND}
    [female]
        name= _"female^Highlander"
        gender=female
        image="units/federation/Highlander2.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/federation/Highlander2.png" "units/federation/Highlander2.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [/female]
[/unit_type]
