#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_federation_magister
    name= _ "Magister"
    race=mauvilien
    gender=male,female
    image="units/federation/Magister.png"
    hitpoints=65
    movement_type=elusivefoot
    movement=6
    experience=134
    level=3
    alignment=neutral
    cost=66
    usage=mixed fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/federation/Magister.png" "units/federation/Magister.png" {SOUND_LIST:HUMAN_HIT} }
    [abilities]
        {ABILITY_TELEPORT}
    [/abilities]
    [movement_costs]
        frozen=2
    [/movement_costs]
    [defense]
        frozen=60
    [/defense]
    [attack]
        name=epee
        description= _"long sword"
        type=blade
        range=melee
        damage=6
        number=5
        icon=attacks/sword-holy.png
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=flamme arcanique
        description= _"arcanic fire"
        type=fire
        range=ranged
        damage=9
        number=4
        icon=attacks/magic-missile.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {HOLYFIRE_SOUND}
    {SWORD_SOUND}
    [female]
        name= _"female^Magister"
        gender=female
        image="units/federation/Magister2.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/federation/Magister2.png" "units/federation/Magister2.png" {SOUND_LIST:HUMAN_HIT} }
    [/female]
[/unit_type]
