#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_federation_schiltron
    name= _ "Schiltron"
    race=mauvilien
    gender=male,female
    image="units/federation/Schiltron.png"
    hitpoints=75
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=lawful
    cost=50
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/federation/Schiltron.png" "units/federation/Schiltron.png" {SOUND_LIST:HUMAN_HIT} }
    [movement_costs]
        frozen=2
    [/movement_costs]
    [defense]
        frozen=60
    [/defense]
    [resistance]
        pierce=60
    [/resistance]
    [attack]
        name=pique
        description= _"pike"
        type=pierce
        range=melee
        damage=16
        number=3
        icon=attacks/pike.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
	[attack]
        name=pique
        description= _"pike"
        type=pierce
        range=melee
        damage=11
        number=4
        icon=attacks/pike.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    {SPEAR_SOUND}
    [female]
        name= _"female^Schiltron"
        gender=female
        image="units/federation/Schiltron2.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/federation/Schiltron2.png" "units/federation/Schiltron2.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [/female]
[/unit_type]
