#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_federation_sorcegardeEmerite
    name= _ "Elder sorcegarde"
    race=mauvilien
    gender=male,female
    image="units/federation/Sorcegarde-emerite.png"
    hitpoints=80
    movement_type=smallfoot
    movement=5
    experience=200
    level=4
    alignment=neutral
    cost=110
    usage=mixed fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/federation/Sorcegarde-emerite.png" "units/federation/Sorcegarde-emerite.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        fire=70
        cold=70
        blade=80
        pierce=80
    [/resistance]
    [movement_costs]
        frozen=2
    [/movement_costs]
    [defense]
        frozen=60
    [/defense]
    [attack]
        name=lance
        description= _"spear"
        type=pierce
        range=melee
        damage=10
        number=3
        icon=attacks/spear.png
    [/attack]
    [attack]
        name=boule de feu
        description= _"fireball"
        type=fire
        range=ranged
        damage=16
        number=4
        icon=attacks/fireball.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {FIREBALL_SOUND}
    {SPEAR_SOUND}
    [female]
        name= _"female^Elder sorcegarde"
        gender=female
        image="units/federation/Sorcegarde-emerite2.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/federation/Sorcegarde-emerite2.png" "units/federation/Sorcegarde-emerite2.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [/female]
[/unit_type]
