#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_rhy_tr_Keeper
    name= _ "Trarashy Keeper"
    race=AE_rhy_race_rashy
    gender=male,female
    image="units/trarashy/guardian.png"
    hitpoints=34
    movement_type=AE_rhy_rashi_foot
    movement=5
    experience=42
    level=1
    alignment=lawful
    {TRAIT_FEARLESS}
    advances_to=AE_rhy_tr_Guard,AE_rhy_tr_Leader
    cost=14
    usage=mixed fighter
    description={AE_RHY_UNIT_NOTICE}+""
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/trarashy/guardian.png" "units/trarashy/guardian.png" {SOUND_LIST:HUMAN_HIT}}
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=5
        number=4
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        icon=attacks/bow-short.png
        type=pierce
        range=ranged
        damage=4
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-400
            end=-325
            image="units/trarashy/guardian.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-325
                end=-250
                image="units/trarashy/guardian.png"
                sound=bow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-325
                end=-250
                image="units/trarashy/guardian.png"
                sound=bow-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-250
            end=0
            image="units/trarashy/guardian.png"
        [/frame]
        [frame]
            begin=-25
            end=-50
            image="units/trarashy/guardian.png"
        [/frame]
        [frame]
            begin=50
            end=100
            image="units/trarashy/guardian.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/trarashy/guardian.png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
        [frame]
            image="units/trarashy/guardian.png:300"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "female^Trarashy Keeper"
        gender=female
        image="units/trarashy/guardian+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/trarashy/guardian+female.png" "units/trarashy/guardian+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [attack_anim]
            [filter_attack]
                name=bow
            [/filter_attack]
            [missile_frame]
                begin=-150
                end=0
                image="projectiles/missile-n.png"
                image_diagonal="projectiles/missile-ne.png"
            [/missile_frame]
            [frame]
                begin=-400
                end=-325
                image="units/trarashy/guardian+female.png"
            [/frame]
            [if]
                hits=yes
                [frame]
                    begin=-325
                    end=-250
                    image="units/trarashy/guardian+female.png"
                    sound=bow.ogg
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    begin=-325
                    end=-250
                    image="units/trarashy/guardian+female.png"
                    sound=bow-miss.ogg
                [/frame]
            [/else]
            [frame]
                begin=-250
                end=0
                image="units/trarashy/guardian+female.png"
            [/frame]
            [frame]
                begin=-25
                end=-50
                image="units/trarashy/guardian+female.png"
            [/frame]
            [frame]
                begin=50
                end=100
                image="units/trarashy/guardian+female.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=sword
            [/filter_attack]
            start_time=-200
            [frame]
                image="units/trarashy/guardian+female.png:100"
            [/frame]
            {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
            [frame]
                image="units/trarashy/guardian+female.png:300"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
