#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_tr_Marksman
    name= _ "Trarashy Longbowman"
    race=AE_rhy_race_rashy
    gender=male,female
    image="units/trarashy/marksman.png"
    hitpoints=39
    movement_type=AE_rhy_rashi_foot
    movement=6
    experience=76
    level=2
    alignment=lawful
    {TRAIT_FEARLESS}
    advances_to=AE_rhy_tr_Sharpshooter
    undead_variation=archer
    cost=40
    usage=archer
    description={AE_RHY_UNIT_NOTICE}+""+{SPECIAL_NOTES}+{AE_RHY_SPECIAL_NOTES_GESCHICK}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=8
        number=2
    [/attack]
    [attack]
        name=longbow
        description={STR_LONGBOW}
        icon=attacks/bow-elven-magic.png
        type=pierce
        [specials]
            {AE_RHY_WEAPON_SPECIAL_GESCHICK}
        [/specials]
        range=ranged
        damage=8
        number=4
    [/attack]
    {DEFENSE_ANIM "units/trarashy/marksman.png" "units/trarashy/marksman.png" {SOUND_LIST:HUMAN_HIT} }
    [attack_anim]
        [filter_attack]
            name=longbow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-250
                end=50
                image="units/trarashy/marksman.png"
                sound=bow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-250
                end=50
                image="units/trarashy/marksman.png"
                sound=bow-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [if]
            hits=no
            [frame]
                begin=-250
                end=50
                image="units/trarashy/marksman.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-250
                end=50
                image="units/trarashy/marksman.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
    [/attack_anim]
    [female]
        name= _ "female^Rashky Longbowman"
        gender=female
        image="units/trarashy/marksman+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/trarashy/marksman+female.png" "units/trarashy/marksman+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [attack_anim]
            [filter_attack]
                name=longbow
            [/filter_attack]
            [if]
                [frame]
                    image="units/trarashy/marksman+female.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/trarashy/marksman+female.png"
                [/frame]
            [/else]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=sword
            [/filter_attack]
            [if]
                hits=no
                [frame]
                    image="units/trarashy/marksman+female.png"
                [/frame]
            [/if]
            [else]
                hits=yes
                [frame]
                    image="units/trarashy/marksman+female.png"
                [/frame]
            [/else]
        [/attack_anim]
    [/female]
[/unit_type]
