#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_tr_Energy
    name= _ "Rashy Energy Mage"
    race=AE_rhy_race_rashy
    gender=male,female
    image="units/trarashy/mage-energy.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=26
    movement_type=AE_rhy_rashi_foot
    movement=5
    experience=52
    level=1
    alignment=neutral
    advances_to=AE_rhy_tr_Matter,AE_rhy_tr_Lightning
    cost=20
    {TRAIT_WISE}
    usage=mixed fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Pure energy has many uses, but no simple creature knows how to create, let alone control it. Only few Rashys are able to produce it and to change it's form. The simplest shape is heat and can be used to burn or melt anything, if enough energy is created."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/trarashy/mage-energy.png" "units/trarashy/mage-energy.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack]
        name=staff
        description=_"orb"
        icon=attacks/rock_thrown.png
        type=impact
        range=melee
        damage=3
        number=2
    [/attack]
    [attack]
        name=missile
        description={STR_MISSILE}
        icon=attacks/magic-missile.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=7
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        offset=0
        {MAGIC_MISSILE 11 -20}
        {MAGIC_MISSILE_STAFF_FLARE -750 600 11 -20}

        [frame]
            begin=-800
            end=-700
            image="units/trarashy/mage-energy.png"
        [/frame]
        [frame]
            begin=-700
            end=-350
            image="units/trarashy/mage-energy.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-350
                end=-100
                image="units/trarashy/mage-energy.png"
                sound=magic-missile-1-miss.ogg,magic-missile-2-miss.ogg,magic-missile-3-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-350
                end=-100
                image="units/trarashy/mage-energy.png"
                sound=magic-missile-1.ogg,magic-missile-2.ogg,magic-missile-3.ogg
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=100
            image="units/trarashy/mage-energy.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/trarashy/mage-energy.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/trarashy/mage-energy.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/trarashy/mage-energy.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/trarashy/mage-energy.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/trarashy/mage-energy.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/trarashy/mage-energy.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "female^Rashy Energy Mage"
        gender=female
        image="units/trarashy/mage-energy+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/trarashy/mage-energy+female.png" "units/trarashy/mage-energy+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [attack_anim]
            [filter_attack]
                name=missile
            [/filter_attack]
            offset=0
            {MAGIC_MISSILE 11 -20}
            {MAGIC_MISSILE_STAFF_FLARE -750 600 11 -20}
            [frame]
                image="units/trarashy/mage-energy+female.png"
            [/frame]
            [frame]
                image="units/trarashy/mage-energy+female.png"
            [/frame]
            [if]
                [frame]
                    image="units/trarashy/mage-energy+female.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/trarashy/mage-energy+female.png"
                [/frame]
            [/else]
            [frame]
                image="units/trarashy/mage-energy+female.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=staff
            [/filter_attack]
            [frame]
                image="units/trarashy/mage-energy+female.png"
            [/frame]
            [frame]
                image="units/trarashy/mage-energy+female.png"
            [/frame]
            [if]
                [frame]
                    image="units/trarashy/mage-energy+female.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/trarashy/mage-energy+female.png"
                [/frame]
            [/else]
            [frame]
                image="units/trarashy/mage-energy+female.png"
            [/frame]
            [frame]
                image="units/trarashy/mage-energy+female.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
