#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_tr_Doublesword
    name= _ "Trarashy Doublesword"
    race=AE_RHY_rashy
    gender=male
    image="units/trarashy/doublesword.png"
    hitpoints=57
    movement_type=AE_RHY_rashyfoot
    movement=5
    experience=68
    level=2
    alignment=lawful
    advances_to=AE_rhy_tr_Sworddancer
    cost=29
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/trarashy/doublesword.png" "units/trarashy/doublesword.png" {SOUND_LIST:HUMAN_HIT} }
    #	[defense]
    #		flat=50
    #	[/defense]
    [resistance]
        blade=100
        pierce=100
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        parry=5
        damage=7
        number=5
    [/attack]
    {AE_RHY_ANIM_SWORD trarashy/doublesword}
[/unit_type]
