#textdomain wesnoth-Ageless_Era

[unit_type]
    description={AE_MIE_UNIT_NOTICE}
    id=AE_mie_centaur_paladin
    name= _ "Paladin of Hoofs"
    race=AE_mie_centaur
    image="units/centaurs/paladin.png"
    hitpoints=68
    movement_type=AE_mie_centaurfoot
    movement=8
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=60
    usage=fighter
    die_sound={SOUND_LIST:HUMAN_DIE}

    [resistance]
        pierce=110
        fire=90
        impact=80
    [/resistance]

    [attack]
        name=hooves
        description=_"hooves"
        icon="attacks/hoof.png"
        type=impact
        range=melee
        damage=10
        number=4
    [/attack]

    [attack]
        name=spear
        description={STR_SPEAR}
        icon="attacks/spear-wild.png"
        type=pierce
        range=melee
        damage=16
        number=2
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]

    {AE_MIE_GENERIC_HOOVES_ANIM hooves "units/centaurs/paladin.png"}
    {AE_MIE_GENERIC_MOUNTED_SPEAR_ANIM spear "units/centaurs/paladin.png"}

    {DEFENSE_ANIM "units/centaurs/paladin.png" "units/centaurs/paladin.png" {SOUND_LIST:HUMAN_HIT}}
[/unit_type]
