#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ele_Viking_Jagare
    name= _ "Jagare"
    race=AE_ele_viking
    gender=female
    image="units/human-vikings/viking-jagare.png"
    small_profile="portraits/vikings/viking-jagare.png ~SCALE(205,205)"
    profile="portraits/vikings/viking-jagare.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=36
    movement_type=AE_ele_vikinorm
    movement=7
    experience=40
    level=1
    alignment=neutral
    advances_to=AE_ele_Viking_Snikskytter,AE_ele_Viking_Ster
    cost=17
    usage=archer
    description={AE_ELE_ERA_NOTICE}+{AE_ELE_VIKING_NOTICE}+"..."
    die_sound=human-female-die-1.ogg

    [defense]
        forest=40
    [/defense]

    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]

    [attack]
        name=hatchet
        description={STR_HATCHET}
        icon=attacks/viking-hatchet.png
        type=blade
        range=melee
        damage=4
        number=3
    [/attack]

    [attack]
        name=elm bow
        description= _ "elm bow"
        icon=attacks/bow-side.png
        type=pierce
        range=ranged
        damage=5
        number=4
    [/attack]

    [attack_anim]
        [filter_attack]
            name=elm bow
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/viking-missile-n.png:150"
            image_diagonal="projectiles/viking-missile-ne.png"
        [/missile_frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -400}
    [/attack_anim]
[/unit_type]
