#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ele_Viking_Oseberg
    name= _ "Viking Oseberg"
    race=AE_ele_viking
    image="units/human-vikings/viking-oseberg.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=AE_ele_vikiboat
    movement=8
    experience=50
    level=2
    alignment=neutral
    advances_to=AE_ele_Viking_Gokstad
    cost=36
    usage=archer
    description={AE_ELE_ERA_NOTICE}+{AE_ELE_VIKING_NOTICE}+"..."

    [abilities]
        {AE_RHY_ABILITY_SLOW_IMMUNE}
    [/abilities]

    [attack]
        name=armed crew
        description= _ "armed crew"
        icon=attacks/viking-ship-crew-two.png
        type=blade
        range=melee
        damage=5
        number=4
    [/attack]

    [attack]
        name=normal
        description= _ "archers"
        icon=attacks/viking-ship-bow-two.png
        type=pierce
        range=ranged
        damage=8
        number=4
    [/attack]

    [attack]
        name=fire
        description= _ "archers"
        icon=attacks/viking-ship-fire-bow-one.png
        type=fire
        range=ranged
        damage=11
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=normal
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/viking-missile-n.png:150"
            image_diagonal="projectiles/viking-missile-ne.png"
        [/missile_frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -400}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fire
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/fire-missle-n.png:150"
            image_diagonal="projectiles/fire-missle-ne.png"
        [/missile_frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -400}
    [/attack_anim]
[/unit_type]
