#textdomain wesnoth-Forgotten_Legends
[unit_type]
    id=AE_FL_amazon_Great_Murderess
    name= _"Great Murderess"
    race=amazon
    image="frakcja4/great-murderess.png"

    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]
    gender=female
    hitpoints=58
    movement_type=elusivefoot
    [movement_costs]
        forest=1
    [/movement_costs]
    movement=7
    experience=126
    {AMLA_DEFAULT}
    level=3
    alignment=neutral
    advances_to=null
    cost=52
    usage=fighter
    description={AE_FGTNL_UNIT_NOTICE}+ _ "Great Murderess specializes at chasing prays that tries to escape, animal and human alike."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "frakcja4/great-murderess.png" "frakcja4/great-murderess.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [attack]
        name=fldno
        description=_"knife"
        type=blade
        range=melee
        damage=10
        number=4
        icon=attacks/dagger-human.png
        [specials]
            {AE_CHS_WEAPON_SPECIAL_AIMED}
			{AE_WEAPON_SPECIAL_DEADLY_STRIKE}
        [/specials]
    [/attack]

    [resistance]
        blade=120
        cold=90
        pierce=100
    [/resistance]

    [attack_anim]
        [filter_attack]
            name=fldno
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-120
                end=120
                image="frakcja4/great-murderess.png"
                sound=dagger-swish.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-120
                end=120
                image="frakcja4/great-murderess.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
