#textdomain wesnoth-Forgotten_Legends
[unit_type]
    id=AE_FL_amazon_Murderess
    name= _"Murderess"
    race=amazon
    image="frakcja4/murderess.png"

    gender=female
    hitpoints=46
    movement_type=elusivefoot
    [movement_costs]
        forest=1
    [/movement_costs]
    movement=6
    experience=67
    level=2
    alignment=neutral
    advances_to=AE_FL_amazon_Great_Murderess
    cost=28
    usage=fighter
    description={AE_FGTNL_UNIT_NOTICE}+ _ "As most amazons, they get more dexterous with experience and her strikes become more accurate. She's not very strong in one-versus-one , but she's very opportunist at picking the right target to last hit and kill."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "frakcja4/murderess.png" "frakcja4/murderess.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [attack]
        name=fldno
        description=_"knife"
        type=blade
        range=melee
        damage=7
        number=4
        icon=attacks/dagger-human.png
        [specials]
            {AE_CHS_WEAPON_SPECIAL_AIMED}
        [/specials]
    [/attack]

    [resistance]
        blade=120
        cold=90
        pierce=110
    [/resistance]

    [attack_anim]
        [filter_attack]
            name=fldno
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-120
                end=120
                image="frakcja4/murderess.png"
                sound=dagger-swish.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-120
                end=120
                image="frakcja4/murderess.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
