#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_myh_Panther
    name= _ "Panther Therian"
    race=AE_myh_therian
    {TRAIT_ATTUNED}
    image="units/therians/panther.png"
    hitpoints=67
    movement_type=AE_myh_woodland
    movement=7
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=46
    usage=fighter
    description= {AE_EOM_UNIT_NOTICE} +  _ "The people of Theria are known for their pursuit of spirituality. The Therian have also learned to greatly respect nature from their neighbors the Warg. Many Therian attune their spirits to animals which they revere. These Therian are capable of harnessing their inner spiritual power to shift into the animal to which they are attuned.

Therian who value strength, power, and intensity attune to the wild cats.  These Therian are brutal in combat when in their attuned form, using their claws, or sometimes even jaws, to shred their enemies and protect their people."+{SPECIAL_NOTES}+{SPECIAL_NOTES_NIGHTSTALK}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM_RANGE "units/therians/panther.png" "units/therians/panther.png" jaguar-hit.ogg melee}
    {DEFENSE_ANIM_RANGE "units/therians/rehdoc.png" "units/therians/rehdoc.png" {SOUND_LIST:HUMAN_HIT} ranged}

    [abilities]
        {ABILITY_NIGHTSTALK}
    [/abilities]
    [defense]
        forest=40
        village=50
    [/defense]

    [attack]
        name=cat-attack
        description={STR_CLAWS}
        type=blade
        range=melee
        damage=8
        number=5
        icon=attacks/claws-animal.png
    [/attack]
    [attack]
        name=cat-attack
        description={STR_BITE}
        type=pierce
        range=melee
        damage=19
        number=2
        icon=attacks/fangs-animal.png
    [/attack]
    [attack]
        name=aura wave
        description= _ "aura wave"
        type=impact
        range=ranged
        damage=6
        number=3
        icon=attacks/faerie-fire.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=cat-attack
        [/filter_attack]
        start_time=-450
        [if]
            hits=no
            [frame]
                image="units/therians/panther-attack1.png:250"
                sound=jaguar-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                image="units/therians/panther-attack1.png:300"
                sound=jaguar-attack.ogg
            [/frame]
        [/else]
        [frame]
            image="units/therians/panther-attack[2~4].png:250"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=aura wave
        [/filter_attack]
        start_time=-300
        sound_start_time=-50
        [frame]
            image="units/therians/rehdoc.png:500"
        [/frame]
        [sound_frame]
            sound=sword-1.ogg
        [/sound_frame]
        {MISSILE_FRAME_THERIAN_AURA}
    [/attack_anim]

    [draw_weapon_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        start_time=-850
        [frame]
            image="units/therians/panther.png:170"
        [/frame]
        [frame]
            image="units/therians/rehdoc-change[3~1].png:170"
        [/frame]
        [frame]
            image="units/therians/rehdoc.png:170"
        [/frame]
    [/draw_weapon_anim]
    [victory_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        [frame]
            # this prevents showing the base image after killing a unit
            image="units/therians/rehdoc.png"
        [/frame]
    [/victory_anim]
    [sheath_weapon_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        start_time=0
        [frame]
            image="units/therians/rehdoc.png:170"
        [/frame]
        [frame]
            image="units/therians/rehdoc-change[1~3].png:170"
        [/frame]
        [frame]
            image="units/therians/panther.png:170"
        [/frame]
    [/sheath_weapon_anim]
[/unit_type]
