#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_myh_King_Cobra
    name= _ "King Cobra"
    race=AE_myh_therian
    {TRAIT_ATTUNED}
    image="units/therians/cobra.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=AE_myh_snakeslither
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=38
    usage=fighter
    description= {AE_EOM_UNIT_NOTICE} +  _ "The people of Theria are known for their pursuit of spirituality. The Therian have also learned to greatly respect nature from their neighbors the Warg. Many Therian attune their spirits to animals which they revere. These Therian are capable of harnessing their inner spiritual power to shift into the animal to which they are attuned.

Therian who value fluidity, subtelty, and the ability to change attune to the serpent.  These Therian have the capability to create a powerful venom when in their attuned form."+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}+{SPECIAL_NOTES_SLOW}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/therians/cobra.png" "units/therians/cobra.png" hiss-hit.wav }

    [movement_costs]
        deep_water=4
        shallow_water=3
    [/movement_costs]
    [defense]
        deep_water=80
        shallow_water=60
        swamp_water=60
        sand=40
    [/defense]
    [resistance]
        fire=90
    [/resistance]

    [attack]
        name=bite
        description={STR_BITE}
        type=blade
        range=melee
        damage=9
        number=4
        icon=attacks/fangs.png
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=aura wave
        description= _ "aura wave"
        type=impact
        range=ranged
        damage=6
        number=3
        icon=attacks/faerie-fire.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        start_time=-50
        [frame]
            image="units/therians/cobra.png:130"
        [/frame]
        {SOUND:HIT_AND_MISS sword-1.ogg {SOUND_LIST:MISS} -50}
        {SOUND:POISON}
        {SOUND:SLOW}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=aura wave
        [/filter_attack]
        start_time=-300
        [frame]
            image="units/therians/cobra.png:500"
        [/frame]
        sound_start_time=-50
        [sound_frame]
            sound=sword-1.ogg
        [/sound_frame]
        {MISSILE_FRAME_THERIAN_AURA}
    [/attack_anim]
[/unit_type]
