#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_feu_ceresians_Cavalryman
    name= _ "Cavalryman"
    race=AE_feu_ceresians_race
    gender=male
    image="units/human-ceresians/cavalryman.png"
    profile="portraits/ceresians/cavalryman.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=38
    movement_type=AE_feu_ceresianhorse
    movement=8
    experience=36
    level=1
    alignment=lawful
    advances_to=AE_feu_ceresians_Stradioto,AE_feu_ceresians_Knight_Errant
    cost=18
    undead_variation=mounted
    usage=scout
    description= _ "This unit is from Feudal Era. Its coding and art were done by Turin and Various others.
 
The open plains of Ceresia are ideal for cavalry tactics - and unsurprisingly, the Ceresian cavalry are some of the finest in the world. They are equipped with swords and plate armour, and they ride fearlessly into the fray."
    die_sound=horse-die.ogg
    {DEFENSE_ANIM "units/human-ceresians/cavalryman.png" "units/human-ceresians/cavalryman.png" {SOUND_LIST:HORSE_HIT} }
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-100
            end=50
            sound=horse_canter.wav
            image="units/human-ceresians/cavalryman.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                sound={SOUND_LIST:SWORD_SWISH}
                image="units/human-ceresians/cavalryman.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                sound={SOUND_LIST:MISS}
                image="units/human-ceresians/cavalryman.png"
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
