#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_feu_ceresians_Man_at_Arms
    name= _ "Man-at-Arms"
    race=AE_feu_ceresians_race
    gender=male
    image="units/human-ceresians/man-at-arms.png"
    profile="portraits/ceresians/man-at-arms.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    movement_type=AE_feu_ceresianarmoured
    movement=5
    experience=80
    level=2
    alignment=lawful
    advances_to=AE_feu_ceresians_Champion
    cost=35
    usage=fighter
    description= _ "This unit is from Feudal Era. Its coding and art were done by Turin and Various others.
 
Some squires choose not to ride horses into battle, instead refining their skill in fighting whilst dismounted. These men-at-arms wear full armour and wield longswords, and in melee combat they are formidable indeed."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-ceresians/man-at-arms.png" "units/human-ceresians/man-at-arms.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=11
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                sound={SOUND_LIST:SWORD_SWISH}
                image="units/human-ceresians/man-at-arms.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                sound={SOUND_LIST:MISS}
                image="units/human-ceresians/man-at-arms.png"
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
