#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_chs_quenoth_Quenoth_Life_Mage
    name= _ "female^Life Mage"
    race=elf
    gender=female
    image=units/elves-quenoth/druid.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=36
    movement_type=AE_chs_quenothland
    movement=5
    experience=91
    level=2
    alignment=lawful
    advances_to=AE_chs_quenoth_Quenoth_High_Priestess
    cost=36
    usage=healer
    [abilities]
        {ABILITY_CURES}
    [/abilities]
    description={AE_EOC_UNIT_NOTICE}+""+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}+{SPECIAL_NOTES_CURES}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM "units/elves-quenoth/druid-defend-1.png" units/elves-quenoth/druid-defend-2.png {SOUND_LIST:ELF_FEMALE_HIT} }
    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/druidstaff.png
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]
    [attack]
        name=thorns
        description={STR_THORNS}
        icon=attacks/thorns.png
        range=ranged
        type=pierce
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]

    [healing_anim]
        [frame]
            begin=-300
            end=-225
            image="units/elves-quenoth/druid-magic-1.png"
            halo="halo/elven/druid-healing1.png"
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/elves-quenoth/druid-magic-2.png"
            halo="halo/elven/druid-healing2.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/elves-quenoth/druid-magic-3.png"
            halo="halo/elven/druid-healing3.png"
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/elves-quenoth/druid-magic-4.png"
            halo="halo/elven/druid-healing4.png"
        [/frame]
        [frame]
            begin=0
            end=75
            image="units/elves-quenoth/druid-magic-4.png"
            halo="halo/elven/druid-healing5.png"
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/elves-quenoth/druid-magic-3.png"
            halo="halo/elven/druid-healing6.png"
        [/frame]
        [frame]
            begin=150
            end=225
            image="units/elves-quenoth/druid-magic-2.png"
            halo="halo/elven/druid-healing7.png"
        [/frame]
        [frame]
            begin=225
            end=300
            image="units/elves-quenoth/druid-magic-1.png"
            halo="halo/elven/druid-healing8.png"
        [/frame]
    [/healing_anim]

    [attack_anim]
        [filter_attack]
            name=thorns
        [/filter_attack]
        [missile_frame]
            begin=-200
            end=0
            image="projectiles/thorns.png"
            image_diagonal="projectiles/thorns-ne.png"
        [/missile_frame]

        [frame]
            begin=-300
            end=-225
            image="units/elves-quenoth/druid-magic-1.png"
            halo="halo/elven/nature-halo1.png"
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/elves-quenoth/druid-magic-2.png"
            halo="halo/elven/nature-halo2.png"
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/elves-quenoth/druid-magic-3.png"
            halo="halo/elven/nature-halo3.png"
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/elves-quenoth/druid-magic-4.png"
            halo="halo/elven/nature-halo4.png"
            halo_x,halo_y=0,-12
        [/frame]

        [if]
            hits=yes
            [frame]
                begin=0
                end=75
                image="units/elves-quenoth/druid-magic-4.png"
                halo="halo/elven/nature-halo5.png"
                sound=magic-thorns-1.ogg,magic-thorns-2.ogg
                halo_x,halo_y=0,-12
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=0
                end=75
                image="units/elves-quenoth/druid-magic-4.png"
                halo="halo/elven/nature-halo5.png"
                sound=magic-thorns-miss-1.ogg,magic-thorns-miss-2.ogg
                halo_x,halo_y=0,-12
            [/frame]
        [/else]

        [frame]
            begin=75
            end=150
            image="units/elves-quenoth/druid-magic-3.png"
            halo="halo/elven/nature-halo6.png"
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=150
            end=225
            image="units/elves-quenoth/druid-magic-2.png"
            halo="halo/elven/nature-halo7.png"
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            begin=225
            end=300
            image="units/elves-quenoth/druid-magic-1.png"
            halo="halo/elven/nature-halo8.png"
            halo_x,halo_y=0,-12
        [/frame]
    [/attack_anim]
[/unit_type]
