#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_aq_Master_Bowman
    name= _ "Aquana Master Bowman"
    image="units/aquana/atlantisbowman.png"
    race=AE_RHY_aquana
    hitpoints=66
    level=3
    experience=134
    advances_to=null
    {AMLA_DEFAULT}
    movement=5
    movement_type=AE_RHY_aquanafoot
    cost=48
    alignment=neutral
    usage=archer
    description={AE_RHY_UNIT_NOTICE}+ _ "With strong shots and precision the Master Bowmen have proven the superiority of bows as ranged weapons to the Aquanian army. The other races archers may laugh at the capability of the typical Aquana bowmen, but they are soon silenced, when thoe masters show their skill in both ranged and close combat."
    {AE_RHY_AQUANA_VARIATION_NOTE}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/aquana/atlantisbowman.png" "units/aquana/atlantisbowman.png" {SOUND_LIST:HUMAN_HIT}}
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=bow
        description= _ "longbow"
        type=pierce
        range=ranged
        damage=14
        number=3
    [/attack]
    {AE_RHY_ANIM_SWORD aquana/atlantisbowman}
    {AE_RHY_ANIM_BOW aquana/atlantisbowman}
    [variation]
        variation_id=human
        variation_name= _ "bow_variation^Human"
        inherit=yes
        {AE_RHY_MOVETYPE_AQUANA_HUMAN}
        image="units/aquana/atlantisbowman+human.png"
        {DEFENSE_ANIM "units/aquana/atlantisbowman+human.png" "units/aquana/atlantisbowman+human.png" {SOUND_LIST:HUMAN_HIT} }
        {AE_RHY_ANIM_SWORD aquana/atlantisbowman+human}
        {AE_RHY_ANIM_BOW aquana/atlantisbowman+human}
    [/variation]
[/unit_type]
