#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_aq_Harpuuneer
    name= _ "Aquana Harpuuneer"
    race=AE_RHY_aquana
    image="units/aquana/harpuuneer.png"
    hitpoints=46
    movement_type=AE_RHY_aquanafoot
    [resistance]
        pierce=80
    [/resistance]
    movement=6
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    [advancement]
        {AE_RHY_AMLA_TEMPLATE 15 20% "attacks/waterspray.png"}
        strict_amla=yes
        max_times=1
        id=amla_defense_water
        description= _ "better swimmer (+10% water defense)"
        [effect]
            apply_to=defense
            replace=no
            [defense]
                shallow_water=-10
                deep_water=-10
                reef=-10
                swamp_water=-10
            [/defense]
        [/effect]
    [/advancement]
    {AMLA_DEFAULT}
    cost=28
    usage=mixed fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Instead of a net, the harpuuneers catch their prey with precicely thrown harpuunes."
    {AE_RHY_AQUANA_VARIATION_NOTE}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/aquana/harpuuneer.png" "units/aquana/harpuuneer.png" {SOUND_LIST:HUMAN_HIT} }
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=harpuun
        description= _"harpuun"
        icon=attacks/spear-thrown.png
        type=pierce
        range=ranged
        damage=10
        number=2
        accuracy=5
        [specials]
            {AE_RHY_WEAPON_SPECIAL_INJURING_SMALL}
        [/specials]
    [/attack]
    {AE_RHY_ANIM_SPEAR aquana/harpuuneer}
    [attack_anim]
        [filter_attack]
            name=harpuun
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/spear-n.png"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        [frame]
            begin=-200
            end=-100
            image="units/aquana/harpuuneer.png"
            sound={SOUND_LIST:THROW}
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/aquana/harpuuneer.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/aquana/harpuuneer.png"
            [/frame]
        [/else]
    [/attack_anim]
    [variation]
        variation_id=human
        variation_name= _ "fisher_variation^Human"
        inherit=yes
        [movement_costs]
            shallow_water=3
            swamp_water=2
            frozen=3
        [/movement_costs]
        [defense]
            shallow_water=70
            reef=70
            swamp_water=80
            mountains=40
        [/defense]
        [resistance]
            cold=90
            arcane=80
        [/resistance]
        image="units/aquana/harpuuneer+human.png"
        {DEFENSE_ANIM "units/aquana/harpuuneer+human.png" "units/aquana/harpuuneer+human.png" {SOUND_LIST:HUMAN_HIT} }
        {AE_RHY_ANIM_SPEAR aquana/harpuuneer+human}
        [attack_anim]
            [filter_attack]
                name=harpuun
            [/filter_attack]
            [missile_frame]
                begin=-150
                end=0
                image="projectiles/spear-n.png"
                image_diagonal="projectiles/spear-ne.png"
            [/missile_frame]
            [frame]
                begin=-200
                end=-100
                image="units/aquana/harpuuneer+human.png"
                sound={SOUND_LIST:THROW}
            [/frame]
            [if]
                hits=yes
                [frame]
                    begin=-100
                    end=50
                    image="units/aquana/harpuuneer+human.png"
                    sound=spear.ogg
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    begin=-100
                    end=50
                    image="units/aquana/harpuuneer+human.png"
                [/frame]
            [/else]
        [/attack_anim]
    [/variation]
[/unit_type]
