#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_aq_General
    name= _ "Atlantis General"
    image="units/aquana/general.png"
    race=AE_RHY_aquana
    hitpoints=60
    level=3
    experience=150
    advances_to=null
    {AMLA_DEFAULT}
    movement=5
    movement_type=AE_RHY_aquanafoot
    [resistance]
        blade=80
        impact=90
    [/resistance]
    cost=58
    alignment=neutral
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Most of  Atlantis' Generals come from rich families. They were trained in the arts of combat and war from young age and are now as capable as leaders as they are with the sword. Normal Soldiers can only aquire this rank through hard work in many won battles."
    [special_note]
        note= _ "Compared to other Aquana, Generals have a higher resistance to ‘impact’ and 'blade' attacks."
    [/special_note]
    {AE_RHY_AQUANA_VARIATION_NOTE}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/aquana/general.png" "units/aquana/general.png" {SOUND_LIST:HUMAN_HIT}}
    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]
    [leading_anim]
        start_time=-150
        [frame]
            image="units/aquana/general.png:300"
        [/frame]
    [/leading_anim]
    [attack]
        name=sword
        description={STR_LONGSWORD}
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=8
        number=5
    [/attack]
    [attack]
        name=shield
        description= _ "shield"
        type=impact
        range=melee
        parry=5
        damage=10
        number=2
        icon="attacks/rectangular-shield.png"
    [/attack]
    {AE_RHY_ANIM_SWORD aquana/general}
    [attack_anim]
        [filter_attack]
            name=shield
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/aquana/general.png:350"
        [/frame]
        {SOUND:HIT_AND_MISS club.ogg {SOUND_LIST:MISS} -100}
        [frame]
            image="units/aquana/general.png:100"
        [/frame]
    [/attack_anim]
    [variation]
        variation_id=human
        variation_name= _ "merc_variation^Human"
        inherit=yes
        {AE_RHY_MOVETYPE_AQUANA_HUMAN}
        image="units/aquana/general+human.png"
        {DEFENSE_ANIM "units/aquana/general+human.png" "units/aquana/general+human.png" {SOUND_LIST:HUMAN_HIT} }
        [leading_anim]
            start_time=-150
            [frame]
                image="units/aquana/general+human.png:300"
            [/frame]
        [/leading_anim]
        {AE_RHY_ANIM_SWORD aquana/general+human}
        [attack_anim]
            [frame]
                image="units/aquana/general+human.png:350"
            [/frame]
            [frame]
                image="units/aquana/general+human.png:100"
            [/frame]
        [/attack_anim]
    [/variation]
[/unit_type]
