#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_aq_Warden
    name= _ "Aquana Merman Warden"
    race=merman
    image="units/merfolk/hoplite.png"
    profile=portraits/merfolk/hoplite.webp
    hitpoints=42
    movement_type=swimmer
    # The following resistance adjustments are to make the hoplite good defensively, and to make 'steadfast' actually do something
    movement=5
    experience=100
    level=2
    alignment=lawful
    advances_to=null
    {AE_RHY_AMLA_RESISTANCE}
    {AMLA_DEFAULT}
    cost=28
    usage=fish
    description={AE_RHY_UNIT_NOTICE}+ _ "With their towering shields, the Merman Wardens form the elite guard of the watery realm. Their powerful armor and rigid discipline allow them to hold a steadfast line in the maelstrom of battle. In times of desperation, they can even do so on land, though not nearly as well as a creature with legs."
    die_sound=mermen-die.ogg
    {DEFENSE_ANIM "units/merfolk/hoplite-defend2.png" "units/merfolk/hoplite-defend1.png" mermen-hit.wav }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/merfolk/hoplite.webp"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/merfolk/hoplite.webp"
    [/portrait]
    [resistance]
        blade=80
        pierce=80
        impact=90
        fire=90
    [/resistance]
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=13
        number=2
    [/attack]
    [attack]
        name=shield
        description=_"shield"
        type=impact
        range=melee
        damage=10
        number=2
        parry=5
        icon="attacks/rectangular-shield.png"
    [/attack]
    {AE_RHY_ANIM_SPEAR merfolk/hoplite}
    [attack_anim]
        [filter_attack]
            name=tail-merman
        [/filter_attack]
        start_time=-140
        {SOUND:HIT_AND_MISS club.ogg {SOUND_LIST:MISS} -100}
        [frame]
            image="units/merfolk/hoplite.png:440"
        [/frame]
    [/attack_anim]
[/unit_type]
