#textdomain wesnoth-Ageless_Era
[race]
    id=AE_arc_magnellian
    male_name= _ "race^Magnellian"
    female_name= _ "race+female^Magnellian"
    plural_name= _ "race^Magnellians"
    description= _ "The race of men is an extremely diverse one. ..."
    num_traits=2
    male_names=_ "Abberman,Bubson,Cooperman,Dobson,Dummelman,Ebertson,Fustiman,Gurthbonson,Hobbelman,Immelman,Jestison,Kuthisson,Leoriman,Murmmelson,Nonniman,Overton,Peabodiman,Quimbliman,Reacherson,Smatherson,Trammelman,Underson,Yoeselman"
    # no female yet -	female_names=""
    {TRAIT_DEXTROUS}
[/race]
[race]
    id=AE_arc_tri_mech
    male_name= _ "race^Machine"
    female_name= _ "race+female^Machine"
    plural_name= _ "race^Machines"
    description= _ "..."
    num_traits=2
    #        undead_variation=troll
    ignore_global_traits=yes
    {TRAIT_MECHANICAL}
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_RESILIENT}
    {TRAIT_DEXTROUS}
    #        {TRAIT_FEARLESS}
    #        {TROLL_NAMES}
    #   markov_chain_size=2
    male_names=_ "AM-211,AU-247,AZ-099,BT-108,BZ-089,CH-440,CR-954,CX-755,DU-690,DZ-744,ER-323,EZ-187,FA-502,GR-459,KK-721,KZ-665,MS-595,NU-769,OZ-376,PR-888,SR-108,TR-398,VX-666,XA-766,XR-247,ZA-560,ZX-423"
[/race]
[race]
    id=AE_arc_tri_outlander
    male_name= _ "race^Offworld Creature"
    female_name= _ "race+female^Offworld Creature"
    plural_name= _ "race^Offworld Creature"
    description= _ "..."
    num_traits=1
    ignore_global_traits=yes
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_RESILIENT}
    {TRAIT_DEXTROUS}
    {TRAIT_FEARLESS}
[/race]
[race]
    id=AE_arc_tri_avatar
    male_name= _ "race^Avatar"
    female_name= _ "race+female^Avatar"
    plural_name= _ "race^Avatars"
    description= _ "..."
    num_traits=2
    ignore_global_traits=yes
    #   {TRAIT_ELEMENTAL}
    {TRAIT_ELEMENTAL}
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_RESILIENT}
    {TRAIT_DEXTROUS}
    #        {TRAIT_FEARLESS}
    #   markov_chain_size=2
    #   male_names=""
[/race]

[race]
    id=AE_roswellian
    male_name= _ "race^Roswellian"
    female_name= _ "race+female^Roswellian"
    plural_name= _ "race^Roswellians"
    description= _"The Magnellian civilization reached great heights and enlightenment, despite some flaws.  They dared to reach out and touch the stars, and the first alien civilization they encountered was a race of bald, bug-eyed, rubbery dwarves, who seemed to lack any gender or emotion.  Yet they must have some emotion, for once the two peoples could communicate, the Magnellians couldn't help but detect a hint of good humor when the rubbery dwarves explained that they were 'Roswell Greys'.  The Magnellians had no idea what that meant, but the name stuck, and the 'little green men' were hence known as 'Roswellians'

Outerspace is vast, empty, and dangerous, so the Roswellian and Magnellian civilizations did not assimilate quickly.  When the Magnellians stumbled across the Destroyer, and were subsumed into the terrible force of destruction that keeps the universe free of galactic empires, the Roswellians had but a small outpost exposed.  A handful of Roswellian workers and soldiers were swept up in the enslavement of the Magnellians, but the rest of their civilization was able to sever ties and flee the trap of the Destroyer."
    num_traits=2
    {TRAIT_DEXTROUS}
    male_names="Adrii,Aloo,Ammoki,Anuii,Arohui,Ayaloo,Ayomoki,Cerenii,Ceyaloo,Eemoki,Enuii,Ganaloo,Gini,Illialoo,Immokaloo,Laloo,Lelayala,Lillo,Loolaya,Lummiloo,Maloloo,Okaloo,Omoki,Omokaloo,Oonii,Oyaloo,Uamiloo,Ulayoo,Ullayaloo,Yaloo,Yimokii,Yoloii"
[/race]

[movetype]
    name=AE_arc_tri_daemon
    flies=true
    [movement_costs]
        deep_water=2
        shallow_water=2
        reef=2
        swamp_water=2
        flat=2
        sand=1
        forest=99
        hills=1
        mountains=1
        village=2
        castle=1
        cave=1
        frozen=1
        unwalkable=1
        fungus=1
    [/movement_costs]
    [defense]
        {FLY_DEFENSE 50}
        cave=50
        fungus=50
    [/defense]
    [resistance]
        blade=60
        pierce=50
        impact=50
        fire=70
        cold=70
        arcane=130
    [/resistance]
[/movetype]
[movetype]
    name=AE_arc_tri_ooze
    [movement_costs]
        shallow_water=1
        reef=2
        swamp_water=1
        flat=1
        sand=3
        forest=2
        hills=2
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=2
        fungus=3
    [/movement_costs]
    [defense]
        shallow_water=60
        reef=70
        swamp_water=60
        flat=60
        sand=70
        forest=40
        hills=50
        mountains=40
        village=40
        castle=40
        cave=40
        frozen=60
        fungus=50
    [/defense]
    [resistance]
        blade=50
        pierce=50
        impact=30
        fire=150
        cold=90
        arcane=110
    [/resistance]
[/movetype]
[movetype]
    name=AE_arc_tri_lunar
    [movement_costs]
        shallow_water=2
        reef=2
        swamp_water=2
        flat=1
        sand=1
        forest=1
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=3
        fungus=2
    [/movement_costs]
    [defense]
        shallow_water=60
        reef=60
        swamp_water=50
        flat=70
        sand=50
        forest=40
        hills=50
        mountains=50
        village=50
        castle=50
        cave=40
        frozen=80
        fungus=50
    [/defense]
    [resistance]
        blade=80
        pierce=90
        impact=120
        fire=100
        cold=120
        arcane=100
    [/resistance]
[/movetype]
[movetype]
    name=AE_arc_tri_wheel
    [movement_costs]
        shallow_water=2
        reef=2
        swamp_water=2
        flat=1
        sand=2
        forest=3
        hills=2
        mountains=3
        village=1
        castle=1
        cave=1
        frozen=2
        fungus=2
    [/movement_costs]
    [defense]
        shallow_water=60
        reef=60
        swamp_water=60
        flat=50
        sand=60
        forest=40
        hills=50
        mountains=40
        village=40
        castle=50
        cave=60
        frozen=60
        fungus=50
    [/defense]
    [resistance]
        blade=80
        pierce=90
        impact=90
        fire=100
        cold=80
        arcane=120
    [/resistance]
[/movetype]

[movetype]
    name=AE_roswellian_foot
    [movement_costs]
        shallow_water=3
        reef=3
        swamp_water=2
        flat=1
        sand=1
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=1
        frozen=3
        fungus=2
    [/movement_costs]

    [defense]
        shallow_water=70
        reef=60
        swamp_water=70
        flat=50
        sand=60
        forest=40
        hills=40
        mountains=50
        village=40
        castle=40
        cave=50
        frozen=70
        fungus=40
    [/defense]

    [resistance]
        blade=110
        pierce=110
        impact=90
        fire=100
        cold=80
        arcane=120
    [/resistance]
[/movetype]
