#textdomain wesnoth-Ageless_Era
[race]
    id=AE_arc_race_south_seas_human
    male_name= _ "race^South-Sea Human"
    female_name= _ "race+female^South-Sea Human"
    plural_name= _ "race^South-Sea Humans"
    num_traits=2
    description= _ "South-Seas humans are regular humans, but have not had much contact with the people of Wesnoth.
<header>text='Society'</header>
The South-Seas are sea-going folk who hale from various city-states in the lands to the south.  While there are some cultural differences, they have a common belief in various gods who are constantly in a struggle with each other.  This struggle explains the mystery, joy, chaos, and misery of life.
<header>text='Legends'</header>
According to South-Seas beliefs, the struggle of the gods roughly falls into two factions.  One is led by Aruyun and Ishtu, the golden-crowned god of day and winged god of victory, respectively.  The other is led by Athtep, the red-eyed god of night, and Nura, the shrouded god of death.  While night and death are to be feared, they are not evil and neither godly faction can ever triumph.  
Legends passed down through many generations do speak of a time when there was a great evil.  The name of this evil has been forgotten, for the older generations were reluctant to utter it.  The evil was motivated by neither chaos nor death, but rather the complete annihilation of all.  Aruyun, Athtep, and all of the gods of the world united to defeat this evil, splitting it into two components much like they themselves were divided.  One half was a cold, lifeless, and listless force that bore a strong resemblance to death.  The other half was passionate and full of life, but lacked direction and was much weakened without the cold logic of the other half.  The enemy was now split into components that fit within the understanding of the world; it was of this world, and could not carry out its original mission.  There is always a fear that the two parts could re-unite, but most modern South-Seafarers do not really believe these tales."
    markov_chain_size=2
    male_names= _ "Abdelkader, Abdulaziz, Abdulmecid, Abidal, Adarras, Adonis, Ahirom, Akbar, Amilcare, Azer, Azmelqart, Ba'al, Babur, Baltazar, Barekbaal, Besolam, Boldizsar, Cambyses, Caxias, Cyrus, D'Jafaar, Esauh, Haider, Hailama, Hamilcar, Hannibal, Hiram, Iben Zhur, Itthobaal, Jabhar, Lehar, Melkart, Mendola, Sikarbaal, Tyrus"
    female_names= _ "Adonia, Aida, Aisha, Alissar, Anath, Asherah, Ashtoreth, Ba'alat, Batanah, Batnoam, Betsda, Coriander, Cybil, Derketo, Dido, Hadda, Hesata, Ishtar, Jezebel, Junot, Lilith, Maherra, Melita, Myletta, Nikkal, Pidraya, Rahmaya, Salaya, Sefina, Shahar, Tanis, Tanith, Ummanath, Ummashtart, Yara"
[/race]
[movetype]
    # they can swim, but rocks etc. hurt their feet...
    name=AE_arc_seafoot
    [movement_costs]
        shallow_water=1
        deep_water=1
        reef=2
        swamp_water=1
        flat=1
        sand=1
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=3
        fungus=1
    [/movement_costs]
    [defense]
        shallow_water=40
        deep_water=40
        reef=40
        swamp_water=40
        flat=60
        sand=70
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=60
        frozen=80
        fungus=50
    [/defense]
    # they are not wearing much armour
    [resistance]
        blade=120
        pierce=120
        impact=120
        fire=100
        cold=120
        arcane=80
    [/resistance]
[/movetype]
[movetype]
    # not as tender-footed, but not as graceful as AE_arc_seafoot
    name=AE_arc_southfoot
    [movement_costs]
        shallow_water=2
        deep_water=3
        reef=2
        swamp_water=2
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=3
        fungus=2
    [/movement_costs]
    [defense]
        shallow_water=60
        deep_water=70
        reef=50
        swamp_water=60
        flat=60
        sand=60
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=60
        frozen=80
        fungus=50
    [/defense]
    [resistance]
        blade=100
        pierce=110
        impact=110
        fire=100
        cold=120
        arcane=80
    [/resistance]
[/movetype]
