#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_chs_elementals_Master_of_Fire
    name= _ "Master of Fire"
    race=human
    gender=male #,female
    {MO_FRAME sm_fire_cloak}
    profile="portraits/humans/mage-silver.png"
    hitpoints=50
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=59
    usage=mixed fighter
    description={AE_EOC_UNIT_NOTICE}+"Summoners who have mastered Fire element casts fireballs with high descriptive potential. Masters of Fire spends their time teaching these summoners who have showed vocation to fire element. Their robes brings a trustable protection to heat attacks."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/mage-silver.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/mage-silver.png"
    [/portrait]
    [abilities]
        {ABILITY_FIERY_RESURGENCE}
    [/abilities]
	[movement_costs]
        sand=1
    [/movement_costs]
	[defense]
        sand=60
	[/defense]
    [resistance]
        fire=70
    [/resistance]
    {DEFENSE_ANIM "units/human-magi/silver-mage-defend.png" "units/human-magi/silver-mage.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    {MO_ADD_PS defend sm_fire_cloak}
    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/staff-ruby.png
        type=impact
        range=melee
        damage=9
        number=2
    [/attack]
    [attack]
        name=aura wave
        description= _ "aura wave"
        icon=attacks/aura-wave.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=10
        number=3
    [/attack]
    [attack]
        name=fireball
        description={STR_FIREBALL}
        icon=attacks/fireball-summoner.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=10
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=aura wave
        [/filter_attack]
        {MISSILE_FRAME_AURA_WAVE}
        {AURA_HALO}
        [frame]
            begin=-800
            end=-700
            image="units/human-magi/silver-mage-attack-magic1.png"
        [/frame]
        [frame]
            begin=-700
            end=-350
            image="units/human-magi/silver-mage-attack-magic2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-350
                end=-100
                image="units/human-magi/silver-mage-attack-magic2.png"
                sound=magicmissile.wav
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-350
                end=-100
                image="units/human-magi/silver-mage-attack-magic2.png"
                sound=magicmissile.wav
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=100
            image="units/human-magi/silver-mage-attack-magic1.png"
        [/frame]
    [/attack_anim]
    {MO_ADD_PS attack_anim sm_fire_cloak}
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL}

        [frame]
            begin=-800
            end=-700
            image="units/human-magi/silver-mage-attack-magic1.png"
        [/frame]
        [frame]
            begin=-700
            end=-350
            image="units/human-magi/silver-mage-attack-magic2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-350
                end=-100
                image="units/human-magi/silver-mage-attack-magic2.png"
                sound=fire.wav
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-350
                end=-100
                image="units/human-magi/silver-mage-attack-magic2.png"
                sound=fire.wav
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=100
            image="units/human-magi/silver-mage-attack-magic1.png"
        [/frame]
    [/attack_anim]
    {MO_ADD_PS attack_anim sm_fire_cloak}
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/human-magi/silver-mage.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-magi/silver-mage-attack-staff1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/human-magi/silver-mage-attack-staff2.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/human-magi/silver-mage-attack-staff2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/human-magi/silver-mage-attack-magic1.png"
        [/frame]
        [frame]
            begin=175
            end=250
            image="units/human-magi/silver-mage.png"
        [/frame]
    [/attack_anim]
    {MO_ADD_PS attack_anim sm_fire_cloak}
    [female]
        name= _ "female^Master of Fire"
        gender=female
        image="units/human-magi/silver-mage+female.png~PAL(silver_mage_cloak>sm_fire_cloak)"
        profile="portraits/humans/mage-silver+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/human-magi/silver-mage+female-defend.png" "units/human-magi/silver-mage+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        {MO_ADD_PS defend sm_fire_cloak}
        # Upon Kitty's request only on the left side.
        [portrait]
            size=400
            side="left"
            mirror="false"
            image="portraits/humans/mage-silver+female.png"
        [/portrait]
        # Single sided portraits are not properly supported yet so use an
        # invalid image to override the inherited version.
        [portrait]
            size=400
            side="right"
            mirror="true"
            image=" "
        [/portrait]
        [attack_anim]
            [filter_attack]
                name=aura wave
            [/filter_attack]
            {MISSILE_FRAME_AURA_WAVE}
            {AURA_HALO}
            [frame]
                image="units/human-magi/silver-mage+female-attack-magic1.png"
            [/frame]
            [frame]
                image="units/human-magi/silver-mage+female-attack-magic2.png"
            [/frame]
            [if]
                [frame]
                    image="units/human-magi/silver-mage+female-attack-magic2.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/human-magi/silver-mage+female-attack-magic2.png"
                [/frame]
            [/else]
            [frame]
                image="units/human-magi/silver-mage+female-attack-magic1.png"
            [/frame]
        [/attack_anim]
        {MO_ADD_PS attack_anim sm_fire_cloak}
        [attack_anim]
            [filter_attack]
                name=fireball
            [/filter_attack]
            {MISSILE_FRAME_FIREBALL}
            [frame]
                image="units/human-magi/silver-mage+female-attack-magic1.png"
            [/frame]
            [frame]
                image="units/human-magi/silver-mage+female-attack-magic2.png"
            [/frame]
            [if]
                [frame]
                    image="units/human-magi/silver-mage+female-attack-magic2.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/human-magi/silver-mage+female-attack-magic2.png"
                [/frame]
            [/else]
            [frame]
                image="units/human-magi/silver-mage+female-attack-magic1.png"
            [/frame]
        [/attack_anim]
        {MO_ADD_PS attack_anim sm_fire_cloak}
        [attack_anim]
            [filter_attack]
                name=staff
            [/filter_attack]
            [frame]
                image="units/human-magi/silver-mage+female.png"
            [/frame]
            [frame]
                image="units/human-magi/silver-mage+female-attack-staff1.png"
            [/frame]
            [if]
                [frame]
                    image="units/human-magi/silver-mage+female-attack-staff2.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/human-magi/silver-mage+female-attack-staff2.png"
                [/frame]
            [/else]
            [frame]
                image="units/human-magi/silver-mage+female-attack-magic1.png"
            [/frame]
            [frame]
                image="units/human-magi/silver-mage+female.png"
            [/frame]
        [/attack_anim]
        {MO_ADD_PS attack_anim sm_fire_cloak}
    [/female]
[/unit_type]
