#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_chs_elementals_Summoner_of_Earth
    name= _ "Summoner of Earth"
    race=human
    gender=male #,female
    {SO_FRAME rm_earth_cloak}
    profile="portraits/humans/mage-red.png"
    hitpoints=42
    movement_type=smallfoot
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=AE_chs_elementals_Master_of_Earth
    cost=40
    usage=mixed fighter
    description={AE_EOC_UNIT_NOTICE}+"..."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-magi/red-mage-defend.png" "units/human-magi/red-mage.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    {SO_ADD_PS defend rm_earth_cloak}
    [abilities]
        {AE_CHS_ABILITY_EARTHEN_RESURGENCE}
    [/abilities]
    [resistance]
        blade=80
        pierce=80
    [/resistance]
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/mage-red.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/mage-red.png"
    [/portrait]
    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/staff-green.png
        type=impact
        range=melee
        damage=9
        number=2
    [/attack]
    [attack]
        name=aura wave
        description= _ "aura wave"
        icon=attacks/aura-wave.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=8
        number=3
    [/attack]
    [attack]
        name=nature flare
        description= _ "nature flare"
        icon=attacks/nature-flare.png
        type=impact
        range=ranged
        [specials]
            {AE_CHS_WEAPON_SPECIAL_ENCHANTED}
        [/specials]
        damage=13
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=aura wave
        [/filter_attack]
        {MISSILE_FRAME_AURA_WAVE}
        {AURA_HALO}
        start_time=-575
        [frame]
            duration=50
            image="units/human-magi/red-mage.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-magi/red-mage-attack-magic-1.png"
            sound=magicmissile.wav
        [/frame]
        [frame]
            duration=150
            image="units/human-magi/red-mage-attack-magic-2.png"
        [/frame]
        [frame]
            duration=75
            image="units/human-magi/red-mage-attack-magic-1.png"
        [/frame]
        [frame]
            duration=75
            image="units/human-magi/red-mage.png"
        [/frame]
    [/attack_anim]
    {SO_ADD_PS attack_anim rm_earth_cloak}
    [attack_anim]
        [filter_attack]
            name=nature flare
        [/filter_attack]
        {MISSILE_FRAME_NATURE_FLARE}

        start_time=-575
        [frame]
            duration=50
            image="units/human-magi/red-mage.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-magi/red-mage-attack-magic-1.png"
            sound=fire.wav
        [/frame]
        [frame]
            duration=150
            image="units/human-magi/red-mage-attack-magic-2.png"
        [/frame]
        [frame]
            duration=75
            image="units/human-magi/red-mage-attack-magic-1.png"
        [/frame]
        [frame]
            duration=75
            image="units/human-magi/red-mage.png"
        [/frame]
    [/attack_anim]
    {SO_ADD_PS attack_anim rm_earth_cloak}
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/human-magi/red-mage.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-magi/red-mage-attack-staff-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/human-magi/red-mage-attack-staff-2.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/human-magi/red-mage-attack-staff-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/human-magi/red-mage-attack-magic-1.png"
        [/frame]
        [frame]
            begin=175
            end=250
            image="units/human-magi/red-mage.png"
        [/frame]
    [/attack_anim]
    {SO_ADD_PS attack_anim rm_earth_cloak}
    [female]
        name= _ "female^Summoner of Earth"
        gender=female
        image="units/human-magi/red-mage+female.png~PAL(red_mage_cloak>rm_earth_cloak)"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        profile="portraits/humans/mage-red+female.png"
        {DEFENSE_ANIM "units/human-magi/red-mage+female-defend.png" "units/human-magi/red-mage+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        {SO_ADD_PS defend sm_earth_cloak}
        [portrait]
            size=400
            side="left"
            mirror="false"
            image="portraits/humans/transparent/mage-red+female.png"
        [/portrait]
        [portrait]
            size=400
            side="right"
            mirror="true"
            image="portraits/humans/transparent/mage-red+female.png"
        [/portrait]
        [attack_anim]
            [filter_attack]
                name=aura wave
            [/filter_attack]
            {MISSILE_FRAME_AURA_WAVE}
            {AURA_HALO}
            [frame]
                image="units/human-magi/red-mage+female.png"
            [/frame]
            [frame]
                image="units/human-magi/red-mage+female-attack-magic-1.png"
            [/frame]
            [frame]
                image="units/human-magi/red-mage+female-attack-magic-2.png"
            [/frame]
            [frame]
                image="units/human-magi/red-mage+female-attack-magic-1.png"
            [/frame]
            [frame]
                image="units/human-magi/red-mage+female.png"
            [/frame]
        [/attack_anim]
        {SO_ADD_PS defend rm_earth_cloak}
        [attack_anim]
            [filter_attack]
                name=nature flare
            [/filter_attack]
            {MISSILE_FRAME_NATURE_FLARE}
            [frame]
                image="units/human-magi/red-mage+female.png"
            [/frame]
            [frame]
                image="units/human-magi/red-mage+female-attack-magic-1.png"
            [/frame]
            [frame]
                image="units/human-magi/red-mage+female-attack-magic-2.png"
            [/frame]
            [frame]
                image="units/human-magi/red-mage+female-attack-magic-1.png"
            [/frame]
            [frame]
                image="units/human-magi/red-mage+female.png"
            [/frame]
        [/attack_anim]
        {SO_ADD_PS defend rm_earth_cloak}
        [attack_anim]
            [filter_attack]
                name=staff
            [/filter_attack]
            [frame]
                image="units/human-magi/red-mage+female.png"
            [/frame]
            [frame]
                image="units/human-magi/red-mage+female-attack-staff-1.png"
            [/frame]
            [if]
                [frame]
                    image="units/human-magi/red-mage+female-attack-staff-2.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/human-magi/red-mage+female-attack-staff-2.png"
                [/frame]
            [/else]
            [frame]
                image="units/human-magi/red-mage+female-attack-magic-1.png"
            [/frame]
            [frame]
                image="units/human-magi/red-mage+female.png"
            [/frame]
        [/attack_anim]
        {SO_ADD_PS defend rm_earth_cloak}
    [/female]
[/unit_type]
