#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ele_Centaur_Spearmaiden
    name= _ "Spearmaiden"
    race=AE_ele_centaur
    gender=female
    image="units/centaurs/centaur-spearmaiden.png"
    hitpoints=65
    movement_type=AE_ele_centnorm
    movement=7
    experience=134
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=54
    usage=fighter
    description={AE_ELE_ERA_NOTICE}+{AE_ELE_CENTAUR_NOTICE}+"..."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}

    [resistance]
        cold=90
    [/resistance]

    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/glaive.png
        type=pierce
        range=melee
        damage=11
        number=4
    [/attack]

    [attack]
        name=shield
        description= {STR_SHIELD}
        icon=attacks/shield-centaur.png
        type=impact
        range=melee
        damage=15
        number=2
        [specials]
            {WEAPON_SPECIAL_ATTACK_ONLY}
            {AE_ELE_WEAPON_SPECIAL_RESISTANT 3}
        [/specials]
    [/attack]

    [attack]
        name=shield
        description= {STR_SHIELD}
        icon=attacks/shield-centaur.png
        type=impact
        range=melee
        damage=13
        number=2
        [specials]
            {WEAPON_SPECIAL_DEFEND_ONLY}
        [/specials]
    [/attack]

    [attack]
        name=javeline
        description= _ "javeline"
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=13
        number=1
    [/attack]

    {DEFENSE_ANIM "units/centaurs/centaur-spearmaiden.png" "units/centaurs/centaur-spearmaiden.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-250
        offset="0~0.6:200,0.6~0:200"
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -150}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=shield
        [/filter_attack]
        start_time=-250
        offset="0~0.6:200,0.6~0:200"
        {SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -150}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=javeline
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/centaur-spear-n.png:150"
            image_diagonal="projectiles/centaur-spear-ne.png"
        [/missile_frame]
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
[/unit_type]
