#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ele_Centaur_Angelican
    name= _ "Angelican"
    race=AE_ele_centaur
    gender=female
    image="units/centaurs/centaur-angelican.png"
    hitpoints=27
    movement_type=AE_ele_centnorm
    movement=7
    experience=34
    level=1
    alignment=lawful
    advances_to=AE_ele_Centaur_Priestess
    cost=17
    usage=healer
    description={AE_ELE_ERA_NOTICE}+{AE_ELE_CENTAUR_NOTICE}+"..."
    die_sound=human-female-die-1.wav

    [resistance]
        arcane=80
    [/resistance]

    [abilities]
        {ABILITY_HEALS}
    [/abilities]

    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/Sagestaff.png
        type=impact
        range=melee
        damage=6
        number=1
    [/attack]

    [attack]
        name=radiance
        description= _ "radiance"
        icon=attacks/lightfocus.png
        type=arcane
        range=ranged
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
[/unit_type]
