#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ele_Centaur_Spearmaiden
    name= _ "Spearmaiden"
    race=AE_ele_centaur
    gender=female
    image="units/centaurs/centaur-spearmaiden.png"
    hitpoints=58
    movement_type=AE_ele_centnorm
    movement=7
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=46
    usage=fighter
    description={AE_ELE_ERA_NOTICE}+{AE_ELE_CENTAUR_NOTICE}+"..."
    die_sound=human-female-die-1.wav

    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/glaive.png
        type=pierce
        range=melee
        damage=11
        number=4
    [/attack]

    [attack]
        name=shield
        description= _ "shield"
        icon=attacks/shield-centaur.png
        type=impact
        range=melee
        damage=15
        number=2
        [specials]
            {WEAPON_SPECIAL_ATTACK_ONLY}
            {AE_ELE_WEAPON_SPECIAL_RESISTANT 4}
        [/specials]
    [/attack]

    [attack]
        name=javeline
        description= _ "javeline"
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=13
        number=1
    [/attack]

    [attack_anim]
        [filter_attack]
            name=javeline
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/centaur-spear-n.png:150"
            image_diagonal="projectiles/centaur-spear-ne.png"
        [/missile_frame]
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
[/unit_type]
