#define STEELHIVE_MISSILE_FRAME_WELD_FIRE N_OFFSET S_OFFSET N_DIAGONAL_OFFSET S_DIAGONAL_OFFSET
    # Animate a projectile for a weld-fire attack.
    [if]
        direction=n

        [missile_frame]
            begin=-400
            end=100
            halo=projectiles/weld-fire-n-1.png:80,projectiles/weld-fire-n-2.png:80,projectiles/weld-fire-n-3.png:80,projectiles/weld-fire-n-4.png:80,projectiles/weld-fire-n-5.png:80
            halo_x,halo_y={N_OFFSET}
        [/missile_frame]
    [/if]
    [else]
        direction=s

        [missile_frame]
            begin=-400
            end=100
            halo=projectiles/weld-fire-n-1.png:80,projectiles/weld-fire-n-2.png:80,projectiles/weld-fire-n-3.png:80,projectiles/weld-fire-n-4.png:80,projectiles/weld-fire-n-5.png:80
            halo_x,halo_y={S_OFFSET}
        [/missile_frame]
    [/else]
    [else]
        direction=ne,nw

        [missile_frame]
            begin=-400
            end=100
            halo=projectiles/weld-fire-ne-1.png:80,projectiles/weld-fire-ne-2.png:80,projectiles/weld-fire-ne-3.png:80,projectiles/weld-fire-ne-4.png:80,projectiles/weld-fire-ne-5.png:80
            halo_x,halo_y={N_DIAGONAL_OFFSET}
        [/missile_frame]
    [/else]
    [else]
        direction=se,sw

        [missile_frame]
            begin=-400
            end=100
            halo=projectiles/weld-fire-ne-1.png:80,projectiles/weld-fire-ne-2.png:80,projectiles/weld-fire-ne-3.png:80,projectiles/weld-fire-ne-4.png:80,projectiles/weld-fire-ne-5.png:80
            halo_x,halo_y={S_DIAGONAL_OFFSET}
        [/missile_frame]
    [/else]
#enddef
#define STEELHIVE_VILLAGE_SHIELD_STATIONARY
    [if]
        terrain_type=*^V*
        [shield_frame]
            halo="halo/shield-1.png"
            halo_x,halo_y=0,-24
            halo_mod=""
            auto_vflip=no
        [/shield_frame]
    [/if]
#enddef

#define STEELHIVE_VILLAGE_SHIELD_DEFEND
    [if]
        terrain_type=*^V*
        [shield_frame]
            start=-126
            end=-125
            halo="halo/shield-1.png"
            halo_x,halo_y=0,-24
            halo_mod=""
            auto_vflip=no
        [/shield_frame]
    [/if]
    [if]
        terrain_type=*^V*
        hits=hit,kill
        [shield_frame]
            start=-125
            end=-25
            halo="halo/shield-0.png"
            halo_x,halo_y=0,-24
            halo_mod=""
            auto_vflip=no
        [/shield_frame]
        [shield_frame]
            start=-25
            end=25
            halo="halo/shield-fail.png"
            halo_x,halo_y=0,-24
            halo_mod=""
            auto_vflip=no
        [/shield_frame]
        [shield_frame]
            start=25
            end=125
            halo="halo/shield-0.png"
            halo_x,halo_y=0,-24
            halo_mod=""
            auto_vflip=no
        [/shield_frame]
    [/if]
    [else]
        terrain_type=*^V*
        hits=miss
        [shield_frame]
            start=-125
            end=-25
            halo="halo/shield-2.png"
            halo_x,halo_y=0,-24
            halo_mod=""
            auto_vflip=no
        [/shield_frame]
        [shield_frame]
            start=-25
            end=25
            halo="halo/shield-3.png"
            halo_x,halo_y=0,-24
            halo_mod=""
            auto_vflip=no
        [/shield_frame]
        [shield_frame]
            start=25
            end=125
            halo="halo/shield-2.png"
            halo_x,halo_y=0,-24
            halo_mod=""
            auto_vflip=no
        [/shield_frame]
    [/else]
    [if]
        terrain_type=*^V*
        [shield_frame]
            start=125
            end=126
            halo="halo/shield-1.png"
            halo_x,halo_y=0,-24
            halo_mod=""
            auto_vflip=no
        [/shield_frame]
    [/if]
#enddef

#define STEELHIVE_VILLAGE_SHIELD_FADE_IN
    [shield_frame]
        start=-300
        end=-200
        halo="halo/shield-fail.png"
        halo_x,halo_y=0,-24
        halo_mod=""
        auto_vflip=no
    [/shield_frame]
    [shield_frame]
        start=-200
        end=-100
        halo="halo/shield-0.png"
        halo_x,halo_y=0,-24
        halo_mod=""
        auto_vflip=no
    [/shield_frame]
    [shield_frame]
        start=-100
        end=0
        halo="halo/shield-1.png"
        halo_x,halo_y=0,-24
        halo_mod=""
        auto_vflip=no
    [/shield_frame]
#enddef

#define STEELHIVE_VILLAGE_SHIELD_FADE_OUT
    [shield_frame]
        start=-300
        end=-200
        halo="halo/shield-1.png"
        halo_x,halo_y=0,-24
        halo_mod=""
        auto_vflip=no
    [/shield_frame]
    [shield_frame]
        start=-200
        end=-100
        halo="halo/shield-0.png"
        halo_x,halo_y=0,-24
        halo_mod=""
        auto_vflip=no
    [/shield_frame]
    [shield_frame]
        start=-100
        end=0
        halo="halo/shield-fail.png"
        halo_x,halo_y=0,-24
        halo_mod=""
        auto_vflip=no
    [/shield_frame]
#enddef
