#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_imp_Lavinians_River_Calf
    name= _ "River Calf"
    race=AE_imp_nemidian_race
    image="units/human-nemidians/river-calf.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=44
    movement_type=AE_imp_hipposwim
    movement=4
    experience=29
    level=1
    alignment=neutral
    advances_to=AE_imp_Lavinians_River_Horse
    cost=22
    usage=fighter
    description= _ "This unit is from Imperial Era. Its coding and art were done by Turin and Various others.
 
The land of Nemidia is not all desert. Many rivers cut through across the sands, and the greatest of these leave fertile stretches in their floodplains that the Nemidians often farm. In these rivers lurk death, however, in the form of the river horse. A bull hippo can crush a man underfoot with the ease of a man crushing a bug. Some enterprising Nemidians capture the offspring of these creatures, raising them in the hopes of riding them as a form of aquatic cavalry."
    {DEFENSE_ANIM "units/human-nemidians/river-calf.png" "units/human-nemidians/river-calf.png" {SOUND_LIST:HUMAN_HIT}}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=head-butt
        description= _ "head-butt"
        icon=attacks/frosthead.png
        type=impact
        range=melee
        damage=10
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=head-butt
        [/filter_attack]
        [frame]
            begin=-200
            end=200
            image="units/human-nemidians/river-calf.png"
        [/frame]
    [/attack_anim]
[/unit_type]
