#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_arc_phantom_Feather_Dancer
    name= _ "Feather Dancer"
    race=AE_arc_race_phantom_egypt
    gender=female
    image="units/phantom/feather-dancer.png"
    small_profile="portraits/dancer.png~CROP(25,25,330,330)~SCALE(205,205)"
    profile="portraits/phantom/dancer.png"
    hitpoints=30
    movement_type=AE_arc_phantomfoot
    movement=6
    experience=39
    level=1
    alignment=chaotic
    advances_to=AE_arc_phantom_Wing_Dancer
    cost=16
    usage=fighter
    description={AE_ARC_UNIT_NOTICE}+_"These shades were adherents of a ceremonial combat style. They are able to move with a confusing grace which makes them difficult hem in."
    die_sound={SOUND_LIST:HUMAN_FEMALE_HIT}
    [abilities]
        #        {ARCHAIC_ABILITY_DANCER}
        {ABILITY_SKIRMISHER}
    [/abilities]
    [resistance]
        blade=85
        arcane=115
        fire=115
        impact=80
        pierce=80
        cold=90
    [/resistance]
    [defend]
        start_time=-126
        [if]
            hits=hit,kill
            offset=0.0~-0.05:126,-0.05~0.0:126
            alpha=0.8~0.5:126,0.5~0.8:126
            [frame]
                duration=1
                image="units/phantom/feather-dancer.png"
            [/frame]
            [frame]
                duration=100
                image="units/phantom/feather-dancer.png"
            [/frame]
            [frame]
                duration=150
                image="units/phantom/feather-dancer.png"
                sound={SOUND_LIST:HUMAN_FEMALE_HIT}
            [/frame]
            [frame]
                duration=1
                image="units/phantom/feather-dancer.png"
            [/frame]
        [/if]
        [else]
            hits=miss
            offset=0.0~-0.1:126,-0.1~0.0:126
            alpha=0.8~0.25:126,0.25~0.8:126
            [frame]
                duration=1
                image="units/phantom/feather-dancer.png"
            [/frame]
            [frame]
                duration=100
                image="units/phantom/feather-dancer.png"
            [/frame]
            [frame]
                duration=150
                image="units/phantom/feather-dancer.png"
            [/frame]
            [frame]
                duration=1
                image="units/phantom/feather-dancer.png"
            [/frame]
        [/else]
    [/defend]
    [attack]
        name=dagger
        description={STR_DAGGER}
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=4
        number=4
    [/attack]
    [attack]
        name=feather
        description= _ "feather"
        icon=attacks/blank-attack.png
        type=blade
        range=ranged
        [specials]
        [/specials]
        damage=4
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        start_time=-500
        offset=0.0~1.0:425,0.0:225
        alpha=0.8~0.0:425,0.0~0.8:225
        [frame]
            duration=25
            image="units/phantom/feather-dancer.png"
        [/frame]
        [frame]
            duration=175
            image="units/phantom/feather-dancer.png"
        [/frame]
        [frame]
            duration=175
            image="units/phantom/feather-dancer.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/phantom/feather-dancer.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/phantom/feather-dancer.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=75
            image="units/phantom/feather-dancer.png"
        [/frame]
        [frame]
            duration=75
            image="units/phantom/feather-dancer.png"
        [/frame]
        [frame]
            duration=25
            image="units/phantom/feather-dancer.png"
        [/frame]
    [/attack_anim]
    {PHANTOM_STAND feather-dancer}
[/unit_type]
