#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_arc_phantom_Winged_Warrior
    # the id is what it is for legacy reasons
    ## for ageless I still change to my standard
    name= _ "Winged Warrior"
    race=AE_arc_race_phantom_egypt
    gender=female
    image="units/phantom/wing-master.png"
    profile="portraits/phantom/wing-master.png"
    hitpoints=60
    movement_type=AE_arc_phantom_float
    movement=6
    experience=134
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=55
    usage=fighter
    description={AE_ARC_UNIT_NOTICE}+_"The most disciplined and dedicated sword-dancers have, with the help of the temple scribes, achieved superhuman capabilities. Their feathers have become a part of their bodies, and they are no longer anchored to the ground. Because of their dedicated and ferocious nature, they have learned to arm and use their feet as talons. The Astragartan Empire was possibly the first civilization to successfully harness the world's strange magic for use by its warrior class, so these holy warriors and their tactics were inspiration for those who came later."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [abilities]
        #        {ARCHAIC_ABILITY_DANCER}
        {ABILITY_SKIRMISHER}
    [/abilities]
    [resistance]
        blade=85
        arcane=110
        pierce=80
        cold=90
        fire=110
    [/resistance]
	
	[defense]
        unwalkable=60
		village=40
    [/defense]
	
    [defend]
        start_time=-126
        [if]
            hits=hit,kill
            offset=0.0~-0.05:126,-0.05~0.0:126
            alpha=0.8~0.5:126,0.5~0.8:126
            [frame]
                duration=1
                image="units/phantom/wing-master.png"
            [/frame]
            [frame]
                duration=100
                image="units/phantom/wing-master.png"
            [/frame]
            [frame]
                duration=150
                image="units/phantom/wing-master.png"
                sound={SOUND_LIST:HUMAN_FEMALE_HIT}
            [/frame]
            [frame]
                duration=1
                image="units/phantom/wing-master.png"
            [/frame]
        [/if]
        [else]
            hits=miss
            offset=0.0~-0.1:126,-0.1~0.0:126
            alpha=0.8~0.25:126,0.25~0.8:126
            [frame]
                duration=1
                image="units/phantom/wing-master.png"
            [/frame]
            [frame]
                duration=100
                image="units/phantom/wing-master.png"
            [/frame]
            [frame]
                duration=150
                image="units/phantom/wing-master.png"
            [/frame]
            [frame]
                duration=1
                image="units/phantom/wing-master.png"
            [/frame]
        [/else]
    [/defend]
    [attack]
        name=kopis
        description= _ "kopis"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=10
        number=4
        defense_weight=0.3
        #        [specials]
        #        [/specials]
    [/attack]
    [attack]
        name=claw
        description= _ "claw"
        icon=attacks/claws.png
        type=blade
        range=melee
        damage=9
        number=3
        #        defense_weight=5.0
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=feather
        description= _ "feather"
        icon=attacks/blank-attack.png
        type=blade
        range=ranged
        [specials]
        [/specials]
        damage=7
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        start_time=-500
        offset=0.0~1.0:425,0.0:225
        alpha=0.8~0.0:425,0.0~0.8:225
        [frame]
            duration=25
            image="units/phantom/wing-master.png"
        [/frame]
        [frame]
            duration=175
            image="units/phantom/wing-master.png"
        [/frame]
        [frame]
            duration=175
            image="units/phantom/wing-master.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/phantom/wing-master.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/phantom/wing-master.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=75
            image="units/phantom/wing-master.png"
        [/frame]
        [frame]
            duration=75
            image="units/phantom/wing-master.png"
        [/frame]
        [frame]
            duration=25
            image="units/phantom/wing-master.png"
        [/frame]
    [/attack_anim]
    {PHANTOM_STAND_BOB_LARGE wing-master}
[/unit_type]
