#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_dr_Longbowman
    name= _ "Dardo Longbowman"
    race=AE_RHY_human
    gender=male
    image="units/human-dardo/longbowman.png"
    hitpoints=58
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=47
    usage=archer
    description={AE_RHY_UNIT_NOTICE}+ _ "The highest ranking dardo bowmen wield longbows and are the deadliest ranged force of the dardo army. The title is only given to the best archers and raises their status during and after their military duty."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-dardo/longbowman.png" "units/human-dardo/longbowman.png" {SOUND_LIST:HUMAN_HIT}}
    [defense]
        sand=60
    [/defense]
    [movement_costs]
        mountains=2
    [/movement_costs]
    [resistance]
        fire=90
    [/resistance]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=bow
        description= _ "longbow"
        type=pierce
        range=ranged
        damage=10
        number=4
    [/attack]
    [attack]
        name=bow
        description= _ "longbow"
        type=fire
        range=ranged
        damage=11
        number=3
    [/attack]
    {AE_RHY_ANIM_SWORD human-dardo/longbowman}
    {AE_RHY_ANIM_BOW human-dardo/longbowman}
    {AE_RHY_ANIM_BOW_FIRE human-dardo/longbowman}
[/unit_type]
