#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_rhy_dr_Compositbowman
    name= _ "Dardo Compositbowman"
    race=AE_rhy_race_human_R
    gender=male
    image="units/human-dardo/compositbowman.png"
    hitpoints=44
    movement_type=smallfoot
    movement=5
    experience=70
    level=2
    alignment=neutral
    advances_to=AE_rhy_dr_Longbowman
    cost=27
    usage=archer
    description={AE_RHY_UNIT_NOTICE}+ _ "The compositbow is more precise and has a greater firepower. It is awarded -along with better armor- to bowmen who have served for some years or proven themself in other ways."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-dardo/compositbowman.png" "units/human-dardo/compositbowman.png" {SOUND_LIST:HUMAN_HIT}}
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=4
        number=3
    [/attack]
    [attack]
        name=bow
        description={STR_LONGBOW}
        type=pierce
        range=ranged
        damage=7
        number=4
    [/attack]
    [attack]
        name=bow
        description={STR_LONGBOW}
        type=fire
        range=ranged
        damage=8
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        start_time=-445
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            duration=65
            image="units/human-dardo/compositbowman.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/human-dardo/compositbowman.png"
                sound=bow-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/human-dardo/compositbowman.png"
                sound=bow.ogg
            [/frame]
        [/else]
        [frame]
            duration=130
            image="units/human-dardo/compositbowman.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-275
        [frame]
            duration=100
            image="units/human-dardo/compositbowman.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/human-dardo/compositbowman.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/human-dardo/compositbowman.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/human-dardo/compositbowman.png"
        [/frame]
    [/attack_anim]
[/unit_type]
