#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_dr_Cataphract
    name= _ "Dardo Cataphract"
    race=AE_RHY_human
    image="units/human-dardo/heavy-cavalier.png"
    hitpoints=67
    movement_type=mounted
    movement=7
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=mounted
    cost=64
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Rider and horse of the Cataphract are covered in a thick layer of armor. They are slowed down but the additional weigth allows them to trample down anything in their path."
    die_sound=horse-die.ogg
    {DEFENSE_ANIM "units/human-dardo/heavy-cavalier.png" "units/human-dardo/heavy-cavalier.png" {SOUND_LIST:HORSE_HIT} }
    [resistance]
        blade=70
        impact=60
        pierce=100
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=10
        number=4
    [/attack]
    [attack]
        name=trample
        icon="attacks/hoof.png"
        description={STR_TRAMPLE}
        type=impact
        range=melee
        damage=17
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=trample
        [/filter_attack]
        [frame]
            begin=-300
            end=-100
            image="units/human-dardo/heavy-cavalier.png"
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=200
                image="units/human-dardo/heavy-cavalier.png"
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=200
                image="units/human-dardo/heavy-cavalier.png"
                sound=club.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/human-dardo/heavy-cavalier.png"
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-150
                end=100
                image="units/human-dardo/heavy-cavalier.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-150
                end=100
                image="units/human-dardo/heavy-cavalier.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/human-dardo/heavy-cavalier.png"
        [/frame]
    [/attack_anim]
[/unit_type]
