#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_galianos_Elite_Swordman
    name= _ "Elite Swordman"
    race=galien
    gender=male
    image="units/galianos/Epeiste-d-elite.png"
    hitpoints=74
    movement_type=elusivefoot
    movement=5
    experience=126
    level=3
    alignment=neutral
    cost=60
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/galianos/Epeiste-d-elite.png" "units/galianos/Epeiste-d-elite.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        blade=70
        impact=80
    [/resistance]
    [attack]
        name=epee
        description= _"sword"
        type=blade
        range=melee
        damage=11
        number=4
        icon=attacks/sword-human.png
    [/attack]
    {SWORD_SOUND}
[/unit_type]
