#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_galianos_Heavy_Footman
    name= _ "Heavy Footman"
    race=galien
    gender=male
    image="units/galianos/Fantassin-lourd.png"
    hitpoints=68
    movement_type=smallfoot
    movement=4
    experience=134
    level=3
    alignment=lawful
    cost=59
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/galianos/Fantassin-lourd.png" "units/galianos/Fantassin-lourd.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        blade=80
        impact=60
        pierce=80
    [/resistance]
    [abilities]
    [/abilities]
    [attack]
        name=masse
        description= _"hammer"
        type=impact
        range=melee
        damage=11
        number=4
        icon=attacks/bec-de-corbin.png
    [/attack]
    {MACE_SOUND}
[/unit_type]
