#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_galianos_Herborist
    name= _ "Herborist"
    race=galien
    gender=male
    image="units/galianos/Herboriste.png"
    hitpoints=26
    movement_type=smallfoot
    movement=5
    experience=39
    level=1
    alignment=neutral
    cost=17
    usage=healer
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=AE_AoA_galianos_Apothecary
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/galianos/Herboriste.png" "units/galianos/Herboriste.png" {SOUND_LIST:HUMAN_HIT} }
    [abilities]
        {ABILITY_EXTRA_HEAL}
    [/abilities]
    [attack]
        name=masse
        description={STR_MACE}
        type=impact
        range=melee
        damage=7
        number=2
        icon=attacks/mace.png
    [/attack]
    {MACE_SOUND}
[/unit_type]
