#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_galianos_spadassin
    name= _ "Spadassin"
    race=galien
    gender=male
    image="units/galianos/Spadassin.png"
    hitpoints=36
    movement_type=elusivefoot
    movement=5
    experience=42
    level=1
    alignment=lawful
    cost=16
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=AE_AoA_galianos_epeiste,AE_AoA_galianos_gendarmeAPieds
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/galianos/Spadassin.png" "units/galianos/Spadassin.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        blade=100
        impact=100
        pierce=100
    [/resistance]
    [attack]
        name=epee
        description= _"sword"
        type=blade
        range=melee
        damage=5
        number=4
        icon=attacks/sword-human.png
    [/attack]
    {SWORD_SOUND}
[/unit_type]
