#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_equestrians_Crasher
    name= _ "Crasher"
    race=AE_mrc_equestrians_race
    gender=male
    image="units/equestrians/crasher.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=58
    movement_type=AE_mrc_equestrians_chargefoot
    movement=8
    experience=86
    level=2
    alignment=lawful
    advances_to=AE_mrc_equestrians_Breaker
    die_sound=horse-die.ogg
    cost=39
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARGE}

    {DEFENSE_ANIM "units/equestrians/crasher.png" "units/equestrians/crasher.png" {SOUND_LIST:HORSE_HIT} }

    [resistance]
        blade=80
        impact=75
        pierce=115
    [/resistance]

    [attack]
        name=Spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=13
        number=2
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
    [attack]
        name=Trample
        description={STR_TRAMPLE}
        icon=attacks/crush-wose.png
        type=impact
        range=melee
        damage=6
        number=4
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Spear
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/equestrians/crasher.png"
            sound=spear.ogg
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=Trample
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/equestrians/crasher.png"
            sound=horse-canter.wav
        [/frame]
    [/attack_anim]
[/unit_type]
