#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_rovelf_magister
    name= _ "Magister"
    race=rovElfe
    gender=male,female
    image="units/Elfe_Rovh/Magistere.png"
    hitpoints=54
    movement_type=woodland
    {LESS_NIMBLE_ELF}
    movement=5
    experience=150
    level=3
    alignment=neutral
    cost=59
    usage=mixed fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/Elfe_Rovh/Magistere.png" "units/Elfe_Rovh/Magistere.png" {SOUND_LIST:ELF_HIT} }
    {TRAIT_DEXTROUS}
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-elven.png
        type=impact
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=fireball
        description=_"fireball"
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=12
        number=4
    [/attack]
    {STAFF_SOUND}
    {FIREBALL_SOUND}
    [female]
        name= _"female^Magister"
        gender=female
        image="units/Elfe_Rovh/Magistere2.png"
        die_sound={SOUND_LIST:ELF_FEMALE_HIT}
        {DEFENSE_ANIM "units/Elfe_Rovh/Magistere2.png" "units/Elfe_Rovh/Magistere2.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [/female]
[/unit_type]
