#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_rovelf_rempart
    name= _ "Rempart"
    race=rovElfe
    gender=male,female
    image="units/Elfe_Rovh/Rempart.png"
    hitpoints=51
    movement_type=woodland
    {LESS_NIMBLE_ELF}
    movement=5
    experience=90
    level=2
    alignment=neutral
    cost=23
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=AE_AoA_rovelf_gardeRoyal
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/Elfe_Rovh/Rempart.png" "units/Elfe_Rovh/Rempart.png" {SOUND_LIST:ELF_HIT} }
    [resistance]
        pierce=80
        blade=90
        impact=90
    [/resistance]
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [attack]
        name=spear
        description= _"spear"
        type=pierce
        range=melee
        damage=10
        number=3
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    {SPEAR_SOUND}
    [female]
        name= _"female^Rempart"
        gender=female
        image="units/Elfe_Rovh/Rempart2.png"
        die_sound={SOUND_LIST:ELF_FEMALE_HIT}
        {DEFENSE_ANIM "units/Elfe_Rovh/Rempart2.png" "units/Elfe_Rovh/Rempart2.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [/female]
[/unit_type]
