#textdomain wesnoth-Ageless_Era

# wmllint: general spellings oversized

[unit_type]
    id=AE_myh_Bloodborn
    name= _ "Bloodborn"
    race=AE_myh_vampire
    ignore_race_traits=yes
    {TRAIT_UNDRAINABLE}
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    gender=male,female
    image="units/vampires/bloodborn.png"
    profile="portraits/vampires/bloodborn.png"
    small_profile="portraits/vampires/bloodborn.png~SCALE(205,205)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=19
    movement_type=AE_myh_vampfoot
    movement=5
    experience=18
    level=0
    alignment=neutral
    advances_to=AE_myh_Fledgeling,AE_myh_Thin_Blood,AE_myh_Malborn
    cost=8
    usage=fighter
    description= {AE_EOM_UNIT_NOTICE} +  _ "Vampires do not bear many natural children. Most vampires are spawned by a bite from another vampire. The curses and strengths of vampires are spread as the vampire sucks the blood from his prey, and replaces it with magic. People new to the blood are made weak by it, and have not enough mastery over their mind to resist an order of the one who bit them. Eventually, they will grow used to it, and learn how to use the strength it provides them, but until then they are much as oversized children."+{SPECIAL_NOTES}+{SPECIAL_NOTES_VAMPIRE}
    {DEFENSE_ANIM "units/vampires/bloodborn.png" "units/vampires/bloodborn.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}

    [attack]
        name=dagger
        description={STR_DAGGER}
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=4
        number=3
    [/attack]

    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/vampires/bloodborn.png:400"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -250}
    [/attack_anim]

    [female]
        gender=female
        name= _ "female^Bloodborn"
        image="units/vampires/bloodborn+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/vampires/bloodborn+female.png" "units/vampires/bloodborn+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

        [attack_anim]
            [filter_attack]
                name=dagger
            [/filter_attack]
            start_time=-250
            [frame]
                image="units/vampires/bloodborn+female.png:400"
            [/frame]
            {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -250}
        [/attack_anim]
    [/female]
[/unit_type]
