#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_myh_Noble
    name= _ "Noble"
    race=AE_myh_vampire
    gender=male,female
    image="units/vampires/noble.png"
    profile="portraits/vampires/noble.png"
    hitpoints=50
    movement=5
    movement_type=AE_myh_vampfoot
    experience=87
    level=2
    alignment=chaotic
    advances_to=AE_myh_Sire
    cost=31
    usage=fighter
    description= {AE_EOM_UNIT_NOTICE} +  _ "The vampires with family or leadership make themselves lord over whatever land they can hold. They use charm, terror, and ruthlessness to uphold their reign. They will surround themselves with their loyal vampires, whom they keep in check with the promise of continual blood, and subject any lesser creature to be the surfs of their society, and to provide blood or cannon-fodder in an emergency. They do not feed on them directly in most circumstances, because that tends to lead to rebellion, but rather force the surfs to provide animals for their weekly blood."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_BACKSTAB}+{SPECIAL_NOTES_VAMPIRE_PLAGUE}+{SPECIAL_NOTES_VAMPIRE}
    {DEFENSE_ANIM "units/vampires/noble.png" "units/vampires/noble.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}

    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]

    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=fangs
        description={STR_FANGS}
        type=pierce
        range=melee
        damage=6
        number=2
        icon=attacks/fangs-vampire.png
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_BACKSTAB}
            {WEAPON_SPECIAL_VAMPIRE_PLAGUE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/vampires/noble.png:400"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -250}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/vampires/noble.png:400"
            sound=bite.ogg
        [/frame]
    [/attack_anim]

    [female]
        gender=female
        name= _ "female^Noble"
        image="units/vampires/noble+female.png"
        profile="portraits/vampires/duchess.png"
        {DEFENSE_ANIM "units/vampires/noble+female.png" "units/vampires/noble+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}

        [attack_anim]
            [filter_attack]
                name=sword
            [/filter_attack]
            start_time=-250
            [frame]
                image="units/vampires/noble+female.png:400"
            [/frame]
            {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -250}
        [/attack_anim]

        [attack_anim]
            [filter_attack]
                name=fangs
            [/filter_attack]
            start_time=-250
            [frame]
                image="units/vampires/noble+female.png:400"
                sound=bite-small.ogg
            [/frame]
        [/attack_anim]
    [/female]

#ifdef __AE_myh_UNUSED__
    # This is the former, separate unit line succubus - mistress - duchess, but as variation. It's unused code.
    [variation]
        do_not_list=yes
        hide_help=yes # This is important, because otherwise we have a problem with the wiki:
        # If you open in the wiki the page for the leadership ability, and look at the list of units with this ability,
        # it will mark this unit red and show an error instead of displaying the page.
        # That happens only for abilities, not on the page for the vampire race or for attack specials
        variation_id=aristocrat
        name= _ "female^Succubus"
        race=AE_myh_vampire
        gender=female
        image="units/vampires/succubus.png"
        profile="portraits/vampires/duchess.png"
        hitpoints=50
        movement=5
        movement_type=AE_myh_vampfoot
        experience=87
        level=2
        alignment=chaotic
        advances_to=AE_myh_Sire
        cost=31
        usage=mixed fighter
        description= {AE_EOM_UNIT_NOTICE} +  _ "A Vampire Succubus ..."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_BACKSTAB}+{SPECIAL_NOTES_VAMPIRE_PLAGUE}+{SPECIAL_NOTES_VAMPIRE}+{SPECIAL_NOTES_MAGICAL}
        {DEFENSE_ANIM "units/vampires/succubus.png" "units/vampires/succubus.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}

        [abilities]
            {ABILITY_LEADERSHIP}
        [/abilities]

        [attack]
            name=sword
            description={STR_SWORD}
            icon=attacks/sword-elven.png
            type=blade
            range=melee
            damage=7
            number=3
        [/attack]
        [attack]
            name=fangs
            description={STR_FANGS}
            type=pierce
            range=melee
            damage=6
            number=2
            icon=attacks/fangs-vampire.png
            [specials]
                {WEAPON_SPECIAL_DRAIN}
                {WEAPON_SPECIAL_BACKSTAB}
                {WEAPON_SPECIAL_VAMPIRE_PLAGUE}
            [/specials]
        [/attack]
        [attack]
            name=screech
            description= _ "screech"
            icon=attacks/wail.png
            type=pierce
            range=ranged
            damage=7
            number=2
            [specials]
                {WEAPON_SPECIAL_MAGICAL}
            [/specials]
        [/attack]

        [attack_anim]
            [filter_attack]
                name=sword
            [/filter_attack]
            start_time=-250
            [frame]
                image="units/vampires/succubus.png:400"
            [/frame]
            {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -250}
        [/attack_anim]

        [attack_anim]
            [filter_attack]
                name=fangs
            [/filter_attack]
            start_time=-250
            [frame]
                image="units/vampires/succubus.png:400"
                sound=bite-small.ogg
            [/frame]
        [/attack_anim]

        [attack_anim]
            [filter_attack]
                name=screech
            [/filter_attack]
            {MISSILE_FRAME_WAIL}
            start_time=-300
            [frame]
                image="units/vampires/succubus.png:420"
            [/frame]
            sound_start_time=-100
            [sound_frame]
                sound=wail-sml.wav
            [/sound_frame]
        [/attack_anim]
    [/variation]
#endif
[/unit_type]
