#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_myh_Sword_Dancer
    name= _ "Sword Dancer"
    race=AE_myh_vampire
    gender=male,female
    image="units/vampires/sword-dancer.png"
    profile="portraits/vampires/sword-dancer.png"
    small_profile="portraits/vampires/sword-dancer.png~SCALE(205,205)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=68
    movement_type=AE_myh_vampfoot
    movement=6
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=45
    usage=fighter
    description= {AE_EOM_UNIT_NOTICE} +  _ "Vampires live a long time, and have time to develop many social graces, including dance. Duelists who have spent extended amounts of time fighting, and dancing see similarities between the two, and combine them into a devastating and accurate form of fighting that cuts through defenses."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_VAMPIRE}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_BACKSTAB}+{SPECIAL_NOTES_COUNTER}
    {DEFENSE_ANIM "units/vampires/sword-dancer.png" "units/vampires/sword-dancer.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}

    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]

    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        damage=7
        number=5
    [/attack]
    [attack]
        name=fangs
        description={STR_FANGS}
        type=pierce
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_BACKSTAB}
            {WEAPON_SPECIAL_COUNTER}
        [/specials]
        range=melee
        damage=5
        number=4
        icon=attacks/fangs-vampire.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/vampires/sword-dancer.png:400"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -250}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/vampires/sword-dancer.png:400"
            sound=bite.ogg
        [/frame]
    [/attack_anim]

    [female]
        gender=female
        name= _ "female^Sword Dancer"
        image="units/vampires/sword-dancer+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/vampires/sword-dancer+female.png" "units/vampires/sword-dancer+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

        [attack_anim]
            [filter_attack]
                name=sword
            [/filter_attack]
            start_time=-250
            [frame]
                image="units/vampires/sword-dancer+female.png:400"
            [/frame]
            {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -250}
        [/attack_anim]

        [attack_anim]
            [filter_attack]
                name=fangs
            [/filter_attack]
            start_time=-250
            [frame]
                image="units/vampires/sword-dancer+female.png:400"
                sound=bite-small.ogg
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
