#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_agl_vlk_Wolf
    name= _ "Wolf"
    race=wolf
    image="units/wolves/wolf.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {TRAIT_FERAL_MUSTHAVE}
    hitpoints=32
    movement_type=AE_agl_vlkfoot
    {MOVEMENT_WOLF}
    movement=6
    experience=36
    level=1
    alignment=neutral
    advances_to=AE_agl_vlk_Dire_Wolf
    cost=16
    usage=mixed fighter
    die_sound={SOUND_LIST:WOLF_DIE}
    description={AE_VLK_UNIT_NOTICE}
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]

    [attack]
        name=fangs
        description={STR_FANGS}
        icon="attacks/fangs-animal.png"
        type=blade
        range=melee
        damage=4
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        start_time=-350
        [frame]
            image="units/wolves/wolf.png:100"
            sound={SOUND_LIST:WOLF_GROWL}
        [/frame]
        {SOUND:HIT bite.ogg -100}
        [frame]
            image="units/wolves/wolf.png:400"
        [/frame]
    [/attack_anim]

    {V_STANDING_ANIM "units/wolves/wolf.png"}
    {DEFENSE_ANIM "units/wolves/wolf.png" "units/wolves/wolf.png" {SOUND_LIST:WOLF_HIT}}
[/unit_type]
