#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_agl_vlk_Spearman
    name= _ "Spearman"
    race=AE_agl_vilkai
    image="units/human-vilkai/spearman.png"
    hitpoints=54
    movement_type=AE_agl_vlkfoot
    [resistance]
        pierce=90
    [/resistance]
    movement=5
    experience=72
    level=2
    alignment=neutral
    advances_to=AE_agl_vlk_Guardian
    cost=29
    usage=fighter
    die_sound={SOUND_LIST:HUMAN_DIE}
    description={AE_VLK_UNIT_NOTICE}

    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=16
        number=2
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/human-vilkai/spearman.png:350"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]

    {V_STANDING_ANIM "units/human-vilkai/spearman.png"}
    {DEFENSE_ANIM "units/human-vilkai/spearman.png" "units/human-vilkai/spearman.png" {SOUND_LIST:HUMAN_HIT}}
[/unit_type]
