#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_agl_vlk_Wolf_Fanatic
    name= _ "Wolf Fanatic"
    race=AE_agl_vilkai
    image="units/human-vilkai/wolf-fanatic.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=52
    movement_type=AE_agl_vlkfoot
    [resistance]
        arcane=70
    [/resistance]
    movement=5
    experience=86
    level=2
    alignment=neutral
    advances_to=AE_agl_vlk_Ghost_Warrior
    cost=38
    usage=mixed fighter
    die_sound={SOUND_LIST:HUMAN_DIE}
    description={AE_VLK_UNIT_NOTICE}

    [attack]
        name=ghostclaw
        description=_"ghostclaw"
        icon="attacks/ghost-claw.png"
        type=arcane
        range=melee
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=ghostclaw
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/human-vilkai/wolf-fanatic.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]

    {V_STANDING_ANIM "units/human-vilkai/wolf-fanatic.png"}
    {DEFENSE_ANIM "units/human-vilkai/wolf-fanatic.png" "units/human-vilkai/wolf-fanatic.png" {SOUND_LIST:HUMAN_HIT}}
[/unit_type]
