#textdomain wesnoth-Forgotten_Legends

[unit_type]
    id=FLbarbarzynca
    name= _ "Barbarian"
    race=tubylec
    image="frakcja2/barbarian.png"
    {TRAIT_FEARLESS}

    hitpoints=54
    movement_type=natfoot
    movement=5
    experience=84
    level=2
    alignment=chaotic
    advances_to=FLwielkibarbarzynca
    cost=28
    usage=fighter
    description={AE_FGTNL_UNIT_NOTICE}+ _ "Barbarians are the main force of natives to obliterate their foes."
    die_sound={SOUND_LIST:NATIVE_DIE}
    {DEFENSE_ANIM frakcja2/barbarian.png frakcja2/barbarian.png {SOUND_LIST:NATIVE_HIT}}
    [attack]
        name=club
        description=_"club"
        type=impact
        range=melee
        damage=11
        number=3
        icon=attacks/club.png
    [/attack]
    [attack]
        name=wielkinozfl
        description=_"blade"
        type=blade
        range=melee
        damage=8
        number=4
        icon=attacks/glaive.png
    [/attack]
    [resistance]
        blade=90
        fire=90
    [/resistance]
    [attack_anim]
        [filter_attack]
            name=club
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-110
                end=110
                image="frakcja2/barbarian.png"
                sound=club.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-110
                end=110
                image="frakcja2/barbarian.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=wielkinozfl
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-110
                end=110
                image="frakcja2/barbarian.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-110
                end=110
                image="frakcja2/barbarian.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
