#textdomain wesnoth-Forgotten_Legends

[unit_type]
    id=AE_FGTNL_jastrzab3
    name= _ "Great Falcon"
    race=jastrzab
    image="frakcja2/falconfl.png"

    hitpoints=38
    movement_type=smallfly
    movement=8
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    cost=33
    usage=scout
    description={AE_FGTNL_UNIT_NOTICE}+ _ ""
    {DEFENSE_ANIM "frakcja2/falconfl.png" "frakcja2/falconfl.png" {SOUND_LIST:GRYPHON_HIT}}
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=dziobfl
        description=_"beak"
        type=pierce
        range=melee
        damage=9
        number=3
        icon=attacks/beak.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dziobfl
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="frakcja2/falconfl.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="frakcja2/falconfl.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="frakcja2/falconfl.png"
                sound=claws.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="frakcja2/falconfl.png"
        [/frame]
    [/attack_anim]
[/unit_type]
