#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ext_dark_elves_Warlock
    name= _ "Dark Elf^Warlock"
    image="units/elves-dark/warlock.png"
    race=AE_ext_dark_elves_race
    {TRAITS_SET_NO_STRONG}
    hitpoints=52
    movement_type=AE_ext_dark_elves_desmall
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=60
    usage=archer
    description= _ "This unit is from Extended Era. Its coding and art were done by the Various people who created Extended Era.

The best of their kind, these Warlocks have immense power, rivaling even that of the Arch Mage. They have discovered the secrets of the dark arts, and have the power to drain life from their opponents with a single touch, and add it to their own."
    #get_hit_sound={SOUND_LIST:ELF_HIT}
    die_sound={SOUND_LIST:ELF_HIT}
    [resistance]
        fire=90
        arcane=90
        cold=80
    [/resistance]
    [attack]
        name=touch
        description={STR_TOUCH}
        icon=attacks/claws-undead.png
        type=arcane
        range=melee
        damage=4
        number=4
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=dark wave
        description= _ "dark wave"
        icon=attacks/dark-missile.png
        type=cold
        range=ranged
        damage=14
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=200
                sound=wail-sml.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=200
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dark wave
        [/filter_attack]
        [missile_frame]
            begin=-200
            end=100
            halo="halo/cold-wave-halo1.png:50,halo/cold-wave-halo2.png:50,halo/cold-wave-halo3.png:50"
        [/missile_frame]
        [frame]
            begin=-200
            end=-150
        [/frame]
        [frame]
            sound=magicmissile.wav
            begin=-150
            end=100
        [/frame]
    [/attack_anim]
[/unit_type]
