#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ext_dark_elves_Warrior
    name= _ "Warrior"
    image="units/elves-dark/warrior.png"
    race=AE_ext_dark_elves_race
    hitpoints=50
    movement_type=AE_ext_dark_elves_defoot
    movement=6
    experience=77
    level=2
    alignment=chaotic
    advances_to=AE_ext_dark_elves_Corsair
    cost=31
    usage=fighter
    description= _ "This unit is from Extended Era. Its coding and art were done by the Various people who created Extended Era.
 
These Warriors have devoted themselves totally to mastering the use of dual weapons. With their balanced blades, they can shave a Dwarf. Only few become Corsairs."
    #get_hit_sound={SOUND_LIST:ELF_HIT}
    die_sound={SOUND_LIST:ELF_HIT}
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=6
        number=5
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=200
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=200
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
