[unit_type]
    id=AE_bem_anakes_Leech_Dragoon
    name= _ "Leech Dragoon"
    race=AE_bem_anakes_race
    image="units/anakes/leech_dragoon.png"
    profile="portraits/anakes/leech_dragoon.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {AE_BEM_TRAIT_DAEMON}
    hitpoints=75
    cost=54
    movement=9
    alignment=chaotic
    experience=150
    level=3
    advances_to=null
    {AMLA_DEFAULT}
    movement_type=AE_bem_anakes_leecy
    usage=scout
    description= _ "This unit is from BEEM. Its coding and art were done by Voodoo, Baro_st, Tydeus, Dibs, and various others.
 
 Leech Dragoons are chosen among the best Leech Knights, they undergo a specific training, wear heavy armors and wield flaming swords. Leech Dragoons are well-known for their bravery and their cruelty on the battlefield."
    #get_hit_sound={SOUND_LIST:HUMAN_HIT}
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM_RANGE "units/anakes/leech_dragoon_defend.png" "units/anakes/leech_dragoon.png" {SOUND_LIST:HUMAN_HIT} melee }
    {DEFENSE_ANIM_RANGE "units/anakes/leech_dragoon_defend.png" "units/anakes/leech_dragoon.png" {SOUND_LIST:HUMAN_HIT} ranged }

    [movement_anim]
        [frame]
            begin=0
            end=100
            image="units/anakes/leech_dragoon_moving.png"
        [/frame]
    [/movement_anim]

    [attack]
        name=sword
        description={STR_SWORD}
        type=fire
        range=melee
        damage=8
        number=5
        icon=attacks/sword-flaming.png
        defense_weight=0.2
    [/attack]

    [attack]
        name=bite
        description={STR_BITE}
        type=pierce
        range=melee
        damage=7
        number=4
        icon=attacks/fangs.png
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-300
            end=-200
            image="units/anakes/leech_dragoon.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=-50
                image="units/anakes/leech_dragoon_sword.png"
                sound=sword-1.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=-50
                image="units/anakes/leech_dragoon_sword.png"
                sound=miss-3.ogg
            [/frame]
        [/else]

        [frame]
            begin=-50
            end=+100
            image="units/anakes/leech_dragoon.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        [frame]
            begin=-300
            end=-200
            image="units/anakes/leech_dragoon.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=-50
                image="units/anakes/leech_dragoon_bite.png"
                sound=bite.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=-50
                image="units/anakes/leech_dragoon_bite.png"
                sound=miss-3.ogg
            [/frame]
        [/else]

        [frame]
            begin=-50
            end=+100
            image="units/anakes/leech_dragoon.png"
        [/frame]
    [/attack_anim]
[/unit_type]
