# wmllint: no translatables

# Stuff to hide non-EoMa stuff in the help system

# Macros to improve maintainability; also useful if someone doesn't wish to use the standard code

#undef AE_MAG_AL-KAMIJA_IDS
#undef AE_MAG_BARBARIAN_IDS
#undef AE_MAG_DARK_BLOOD_ALLIANCE_IDS
#undef AE_MAG_DESTROYER_IDS
#undef AE_MAG_KHAROS_IDS
#undef AE_MAG_RUNEMASTER_IDS
#undef AE_MAG_SKY_KINGDOM_IDS
#undef AE_MAG_THARIS_IDS
#undef AE_MAG_UNIT_IDS
#undef AE_MAG_STANDARD_HIDING_CODE_WITH_ADDITIONS

#define AE_MAG_AL-KAMIJA_IDS
AE_mag_Air_Avatar,AE_mag_Air_Elemental,AE_mag_Air_God,AE_mag_Banisher,AE_mag_Camel_Rider,AE_mag_Carpet_Master,AE_mag_Carpet_Rider,AE_mag_DharmaRhami,AE_mag_Dimensional_Gate,AE_mag_Dimensional_Gate_II,AE_mag_Dispeller,AE_mag_Earth_Avatar,AE_mag_Earth_Elemental,AE_mag_Earth_God,AE_mag_Efreet,AE_mag_Fire_Avatar,AE_mag_Fire_Elemental,AE_mag_Fire_God,AE_mag_Grand_Summoner,AE_mag_Great_Efreeti,AE_mag_Great_Jinn,AE_mag_Heavy_Camel_Rider,AE_mag_Camel_Master,AE_mag_Heavy_Summoner,AE_mag_HoRhami,AE_mag_Jinn,AE_mag_Wonderful_Jinn,AE_mag_Mystical_Jinn,AE_mag_Neutral_Summoner,AE_mag_Novice_Summoner,AE_mag_Rhami,AE_mag_RhamiDatu,AE_mag_RhamiKai,AE_mag_Summoner,AE_mag_Summons_Master,AE_mag_Water_Avatar,AE_mag_Water_Elemental,AE_mag_Water_God#enddef

#define AE_MAG_BARBARIAN_IDS
AE_mag_Ancient_Cyclops,AE_mag_Barbarian,AE_mag_Barbarian_Berserker,AE_mag_Barbarian_King,AE_mag_Barbarian_Lord,AE_mag_Blood_Warrior,AE_mag_Cyclops,AE_mag_Cyclops_Breaker,AE_mag_Cyclops_Goliath,AE_mag_Mighty_Cyclops,AE_mag_Fire_Cyclops,AE_mag_Goblin_Archer,AE_mag_Goblin_Assassin,AE_mag_Goblin_Hunter,AE_mag_Goblin_Kamikaze,AE_mag_Goblin_Veteran,AE_mag_Goblin_Runt,AE_mag_Goblin_Sniper,AE_mag_Goblin_Warbanner,AE_mag_Goblin_Warrior,AE_mag_Goblin_Shaman,AE_mag_Goblin_Druid,AE_mag_Raging_Cyclops,AE_mag_Orcish_Warbanner,AE_mag_Orcish_Warrior,AE_mag_Roc_Tamer,AE_mag_Roc_Rider,AE_mag_Troll_Fire_Wizard,AE_mag_Troll_Sorcerer,AE_mag_Troll_Warbanner,AE_mag_Goblin_Raider,AE_mag_Troll_Warlock,AE_mag_Goblin_Wizard,AE_mag_Goblin_Invader,AE_mag_Orcish_Chieftain,AE_mag_Savage_Roc_Rider,AE_mag_Orcish_Brawler,AE_mag_Roc_Master#enddef

#define AE_MAG_DARK_BLOOD_ALLIANCE_IDS
AE_mag_Heavy_Toad,AE_mag_Black_Salamander,AE_mag_Blue_Salamander,AE_mag_Yellow_Salamander,AE_mag_Chaos_Rider,AE_mag_Chaos_Wyvern,AE_mag_Chosen_of_Forest,AE_mag_Corrupted_Shaman,AE_mag_Clan_Leader,AE_mag_Saurian_Crossbowman,AE_mag_Double_Ranged_Toad,AE_mag_Dreadnaught,AE_mag_Jungle_Guardian,AE_mag_Great_Wyvern,AE_mag_Green_Salamander,AE_mag_Mystic,AE_mag_Mystical_Toad,AE_mag_Saurian_Pikeman,AE_mag_Ranged_Toad,AE_mag_Salamander,AE_mag_Shamanistic_Adept,AE_mag_Shamanistic_Toad,AE_mag_Shooter,AE_mag_Swamp_Mage,AE_mag_Toad,AE_mag_Wyvern,AE_mag_Wyvern_Rider,AE_mag_Wyvern_Tamer,AE_mag_Saurian_Champion,AE_mag_Saurian_Assassin,AE_mag_Chosen_of_Marsh,AE_mag_Red_Salamander,AE_mag_Forest_Spirit,AE_mag_Swamp_Spirit,AE_mag_Temple_Guard,AE_mag_Lava_Salamander,AE_mag_Salamander_Marine,AE_mag_Swamp_Salamander,AE_mag_Desert_Salamander,AE_mag_Shadow_Salamander#enddef

#define AE_MAG_DESTROYER_IDS
AE_mag_Atokpi,AE_mag_Atokpi_Samurai,AE_mag_Atokpi_General,AE_mag_Beast,AE_mag_Bone_Golem,AE_mag_Bone_Giant,AE_mag_Moloch,AE_mag_Walking_Corpse,AE_mag_Cyclops_Skeleton,AE_mag_Legendary_Cyclops,AE_mag_Extinct_Cyclops_Mage,AE_mag_Nightmare,AE_mag_Mara,AE_mag_Apocalypse,AE_mag_Omen,AE_mag_Punisher,AE_mag_Obliterator,AE_mag_Abaddon,AE_mag_Pirafly,AE_mag_Pirania_Monstruosa,AE_mag_Atokpi_Master,AE_mag_Atokpi_Dark,AE_mag_DarkApostle,AE_mag_Titania,AE_mag_Devourer,AE_mag_Fallen_Cyclops_King,AE_mag_Dark_Portal,AE_mag_Infernal_Vortex,AE_mag_Cyclops_Necromancer,AE_mag_Harbinger,AE_mag_Doom_Bringer,AE_mag_Atokpi_Infantry,AE_mag_Atokpi_Charger,AE_mag_Crimson_Atokpi,AE_mag_Black_Portal,AE_mag_Chaotic_Observer#enddef

#define AE_MAG_KHAROS_IDS
AE_mag_Adept_of_Light,AE_mag_Brown_Warrior,AE_mag_Cavalry_Archer,AE_mag_Child_of_Light,AE_mag_Cleric,AE_mag_Elemental_Archer,AE_mag_Mystical_Archer,AE_mag_Fanatic,AE_mag_Fire_Swordsman,AE_mag_Golden_Warrior,AE_mag_Heavy_Cavalry_Archer,AE_mag_Inspired,AE_mag_Kharos_Warbanner,AE_mag_Kirios,AE_mag_Master_of_Sun,AE_mag_Mistress_of_Light,AE_mag_Platinum_Warrior,AE_mag_Prophet_of_Light,AE_mag_Protector,AE_mag_Avenger,AE_mag_Shielder,AE_mag_Silver_Warrior,AE_mag_Sister_of_Light,AE_mag_Slicer,AE_mag_Sun_Follower,AE_mag_Sun_Guardian,AE_mag_Kharos_Warbanner,AE_mag_White_Warrior,AE_mag_Recruitment_Officer,AE_mag_Kharosian_Javelineer,AE_mag_Kharosian_Impaler,AE_mag_Kharosian_Bulwark,AE_mag_Kharosian_Cataphract#enddef

#define AE_MAG_RUNEMASTER_IDS
AE_mag_Balloon,AE_mag_Dwarvish_Heavy_Warrior,AE_mag_Dwarvish_Rune_Lord,AE_mag_Dwarvish_Rune_Warrior,AE_mag_Dwarvish_Tank,AE_mag_Dwarvish_Warrior,AE_mag_Flying_Fortress,AE_mag_Heavy_Balloon,AE_mag_Mechanic,AE_mag_Mechanical_Dragon,AE_mag_Pacificator,AE_mag_Parachutist,AE_mag_Red_Ulfserker,AE_mag_Rune_Artist,AE_mag_Runeadept,AE_mag_Runemaster,AE_mag_Runemaster_Protected,AE_mag_Runesmith,AE_mag_Steam_Berserker,AE_mag_Steam_Ulfserker,AE_mag_Steamcopter,AE_mag_Striding_Machine,AE_mag_Technician,AE_mag_Constructor,AE_mag_Steam_Turboserker,AE_mag_Drone,AE_mag_Perfect_Drone,AE_mag_Dwarvish_Gunner,AE_mag_Dwarvish_Cannoneer,AE_mag_Mobile_Turret,AE_mag_Mobile_Defensive_Platform,AE_mag_Dwarvish_Cadet,AE_mag_Dwarvish_Commando,AE_mag_Technologist,AE_mag_Technocrat,AE_mag_Battlecopter,AE_mag_Mechanical_Wyrm#enddef

#define AE_MAG_SKY_KINGDOM_IDS
AE_mag_Battlemage,AE_mag_Black_Mage,AE_mag_Battle_Eye,AE_mag_Elementalist,AE_mag_Golden_Mage,AE_mag_Golem,AE_mag_Golem_Boss,AE_mag_Guru,AE_mag_Hidden_Face,AE_mag_Mage_of_Air,AE_mag_Mage_of_Fire,AE_mag_Mage_of_Water,AE_mag_Magical_Eye,AE_mag_Master_of_Air,AE_mag_Master_of_Elements,AE_mag_Master_of_Fire,AE_mag_Master_of_Water,AE_mag_Mastermage,AE_mag_Mu,AE_mag_Mystic_Warrior,AE_mag_Sculptor,AE_mag_Shadowmage,AE_mag_Sorcerer,AE_mag_Subversive_Mage,AE_mag_Um,AE_mag_Void_Mage,AE_mag_War_Mage,AE_mag_Cosmic_Eye,AE_mag_Sky_Guardian,AE_mag_Mirrorshield,AE_mag_Architect,AE_mag_Master_of_Earth,AE_mag_Terramancer,AE_mag_Chronomancer,AE_mag_Titan_Golem#enddef

#define AE_MAG_THARIS_IDS
Vampire Bat,Blood Bat,Dread Bat,AE_mag_Black_Orb,AE_mag_Dark_Observer,AE_mag_Storm_Sphere,AE_mag_Bladedancer,AE_mag_Blademaster,AE_mag_Chaos_Hydra,AE_mag_Cold_Matriarch,AE_mag_Commander,AE_mag_Dark_Assassin,AE_mag_Dark_Hunter,AE_mag_Dark_Slayer,AE_mag_Dark_Warrior,AE_mag_Great_Witch,AE_mag_Dark_Wizard,AE_mag_Disciple,AE_mag_General,AE_mag_Great_Hunter,AE_mag_Great_Warlock,AE_mag_Hydra,AE_mag_Master_of_Darkness,AE_mag_Master_of_War,AE_mag_Matriarch_of_Darkness,AE_mag_Matriarch_of_Emptiness,AE_mag_Raging_Hydra,AE_mag_Sworddancer,AE_mag_Witch,AE_mag_Dark_Executioner,AE_mag_Shadowblade,AE_mag_Bladefury,AE_mag_Chainlady,AE_mag_Frontliner,AE_mag_Crimson_Blade,AE_mag_Pain_Mistress,AE_mag_Matriarch_of_Pain,AE_mag_Pain_Sphere,AE_mag_Corrupted_Hydra,AE_mag_Hellish_Hydra#enddef

#define AE_MAG_UNIT_IDS
{AE_MAG_AL-KAMIJA_IDS},{AE_MAG_BARBARIAN_IDS},{AE_MAG_DARK_BLOOD_ALLIANCE_IDS},{AE_MAG_DESTROYER_IDS},{AE_MAG_KHAROS_IDS},{AE_MAG_RUNEMASTER_IDS},{AE_MAG_SKY_KINGDOM_IDS},{AE_MAG_THARIS_IDS}#enddef

# Standard hiding code

#ifdef AE_MAG_STANDARD_HIDING_CODE
[hide_help]
    all=yes
    [not]
        type={AE_MAG_UNIT_IDS}
    [/not]
[/hide_help]
#endif

# A macro that allows additions
# Unfortunately, attempting to exclude stuff that is mentioned in the [not] block does not work.

#define AE_MAG_STANDARD_HIDING_CODE_WITH_ADDITIONS KEEP_TYPES EXCLUDE_TYPES
    [hide_help]
        all=yes
        type={EXCLUDE_TYPES}
        [not]
            type={AE_MAG_UNIT_IDS},{KEEP_TYPES}
        [/not]
    [/hide_help]
#enddef
