#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_fut_welkin_Luna_Protector
    name= _ "Luna Protector"
    race=AE_fut_welkin
    image="units/Welkin/Luna_Protector.png"
    gender=female
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=1
    alignment=neutral
    experience=44
    advances_to=AE_fut_welkin_Sentinel_of_the_Moon
    hitpoints=38
    movement=4
    movement_type=AE_fut_welkinfoot
    cost=17
    usage=fighter
    description= _ "This unit is from the Era of the Future. Its coding, art, and ideas were done by Turuk, Mirion147, Huston, Pentarctagon, Wesfreak, Xandria, and Zerovirus.
 
These are Welkin who have sworn to give their lives to protect the honor of Thoth, and if that means fighting during the day, then so be it. Luna Protectors, unlike the rest of their brethren, have taken the spear as their main weapon and use the power of the moon to attack enemies who are too frightened to approach them. Because of how much training is necessary to fight equally during both night and day, the Luna Protectors are trained from a very young age, before they grow their wings. Because of this they do not fully know how to use their wings and thus cannot fly. Since they do not need their wings they keep them concealed under their armor to prevent them from becoming a weakness."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}

    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [attack]
        name=Spear
        description={STR_SPEAR}
        icon="attacks/spear.png"
        type=pierce
        range=melee
        damage=7
        number=3

        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Spear
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                sound=spear.ogg
            [/frame]
        [/if]
    [/attack_anim]

    [attack]
        name=Moonbeam
        description= _ "Moonbeam"
        icon="attacks/faerie-fire.png"
        type=cold
        range=ranged
        damage=3
        number=3
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Moonbeam
        [/filter_attack]
        {MISSILE_FRAME_FAERIE_FIRE}
        start_time=-575
        [if]
            hits=yes
            [frame]
                sound=magic-faeriefire.ogg
            [/frame]
        [/if]
    [/attack_anim]
[/unit_type]
