#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_fut_welkin_Patriarch
    name= _ "Patriarch"
    race=AE_fut_welkin
    gender=male
    image="units/Welkin/Patriarch.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=4
    alignment=neutral
    experience=150
    advances_to=null
    {AMLA_DEFAULT}
    hitpoints=69
    movement=5
    movement_type=AE_fut_welkinsage
    cost=74
    usage=mixed_fighter
    description= _ "This unit is from the Era of the Future. Its coding, art, and ideas were done by Turuk, Mirion147, Huston, Pentarctagon, Wesfreak, Xandria, and Zerovirus.
 
There is no more honor for a follower of Thoth then to me one of his Patriarchs. Patriarchs carry a great staff that signifies the unity of the Welkin in their worship of both Thoth and Aten, for the staff fits flushly on the staff of the Hierarchs of Aten. This does not grant any strange power but is mearly symbolism to show that their sociecties can connect. Granted with the great Power of Thoth, these Welkin are incredibly powerful adversaries and, although they can do great damage to their enemies, it is unwise to leave them unprotected. Though less deadly then they're counterparts, the Hierarchs, the Patriarchs are often found to be more intimidating than them, probably due to the fact that they have continued to keep their faces shaded. They too are called by their king to be diplomats, messengers, as well as advisors."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_CURES}

    die_sound={SOUND_LIST:ELF_HIT}

    [abilities]
        {ABILITY_CURES}
    [/abilities]

    [attack]
        name=Staff
        description={STR_STAFF}
        icon="attacks/Sagestaff.png"
        type=impact
        range=melee
        damage=4
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Staff
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                sound=staff.wav
            [/frame]
        [/if]
    [/attack_anim]

    [attack]
        name=Moonbeam
        description= _ "Moonbeam"
        icon="attacks/faerie-fire.png"
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=11
        number=5
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Moonbeam
        [/filter_attack]
        {MISSILE_FRAME_FAERIE_FIRE}
        start_time=-575
        [if]
            hits=yes
            [frame]
                sound=magic-faeriefire.ogg
            [/frame]
        [/if]
    [/attack_anim]
[/unit_type]
