#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_fut_welkin_Quickdraw
    name= _ "Quickdraw"
    race=AE_fut_welkin
    gender=male,female
    image="units/Welkin/Quickdraw.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=2
    alignment=chaotic
    experience=100
    advances_to=AE_fut_welkin_Deadeye
    hitpoints=42
    movement=7
    movement_type=AE_fut_welkinwing
    cost=34
    usage=fighter
    description= _ "This unit is from the Era of the Future. Its coding, art, and ideas were done by Turuk, Mirion147, Huston, Pentarctagon, Wesfreak, Xandria, and Zerovirus.
 
These Welkin are those which epitomize the characteristical elvish swiftness. They are Welkin that have excelled in their skill with the bow. They have rid themselves of all other weapons so as to have a better knowledge and skill of both the bow and the power of Thoth. These Welkin move swiftly and take out their enemy from a distance, but cannot protect themselves if an enemy manages to get close enough for a melee attack."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_NIGHTSTALK}

    die_sound={SOUND_LIST:ELF_HIT}
    [female]
        name= _ "female^Quickdraw"
        gender=female
        image="units/Welkin/Quickdraw_Female.png"
        die_sound={SOUND_LIST:ELF_FEMALE_HIT}
        [attack_anim]
            [filter_attack]
                name=Bow
            [/filter_attack]
            [if]
                hits=yes
                [frame]
                    sound=bow.ogg
                [/frame]
            [/if]
        [/attack_anim]

        [attack_anim]
            [filter_attack]
                name=Moonlight
            [/filter_attack]
            {MISSILE_FRAME_ICE}
            start_time=-575
            [if]
                hits=yes
                [frame]
                    sound=magic-dark.ogg
                [/frame]
            [/if]
        [/attack_anim]
    [/female]

    [abilities]
        {ABILITY_NIGHTSTALK}
    [/abilities]

    [attack]
        name=Bow
        description={STR_BOW}
        icon="attacks/bow-elven.png"
        type=pierce
        range=ranged
        damage=7
        number=4
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Bow
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                sound=bow.ogg
            [/frame]
        [/if]
    [/attack_anim]

    [attack]
        name=Moonlight
        description= _ "Moonlight"
        icon="attacks/Moonlight.png"
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=5
        number=4
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Moonlight
        [/filter_attack]
        {MISSILE_FRAME_ICE}
        start_time=-575
        [if]
            hits=yes
            [frame]
                sound=magic-dark.ogg
            [/frame]
        [/if]
    [/attack_anim]
[/unit_type]
