#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_nordian_archerMonte
    name= _ "Mounted bowman"
    race=nordian
    gender=male,female
    image="units/nord/Archer-monte.png"
    hitpoints=46
    movement_type=mounted
    movement=10
    experience=75
    level=2
    alignment=neutral
    cost=29
    usage=scout
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=AE_AoA_nordian_maitreArcherMonte
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/nord/Archer-monte.png" "units/nord/Archer-monte.png" {SOUND_LIST:HUMAN_HIT} }
    [movement_costs]
        frozen=1
    [/movement_costs]
    [defense]
        frozen=60
    [/defense]
    [resistance]
        cold=90
    [/resistance]
    [attack]
        name=hache
        description= _"norse axe"
        type=blade
        range=melee
        damage=5
        number=4
        icon=attacks/axe.png
    [/attack]
    [attack]
        name=arc
        description=_"bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=9
        number=3
    [/attack]
    {AXE_SOUND}
    {BOW_SOUND}
    [female]
        name= _"female^Mounted bowman"
        gender=female
        image="units/nord/Archer-monte2.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/nord/Archer-monte2.png" "units/nord/Archer-monte2.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [/female]
[/unit_type]
