#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_nordian_hautRoi
    name= _ "High king"
    race=nordian
    gender=male,female
    image="units/nord/Haut-roi.png"
    hitpoints=90
    movement_type=AE_AoA_Nordfoot
    movement=5
    experience=200
    level=4
    alignment=neutral
    cost=120
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/nord/Haut-roi.png" "units/nord/Haut-roi.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]

    [resistance]
        blade=70
        pierce=70
        impact=70
        cold=80
    [/resistance]
    [attack]
        name=epee
        description= _"long sword"
        type=blade
        range=melee
        damage=13
        number=4
        icon=attacks/greatsword-human.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=marteau
        description= _"hammer"
        type=impact
        range=melee
        damage=17
        number=3
        icon=attacks/hammer-dwarven.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {SWORD_SOUND}
    {MACE_SOUND}
    [female]
        name= _"female^High queen"
        gender=female
        image="units/nord/Haute-reine.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/nord/Haute-reine.png" "units/nord/Haute-reine.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [/female]
[/unit_type]
