#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_dw_Engineer
    name= _ "Dwarvish Engineer"
    race=AE_RHY_dwarf
    image="units/dwarves/engineer.png"
    profile="portraits/dwarves/runemaster.webp"
    hitpoints=48
    movement_type=dwarvishfoot
    movement=4
    experience=74
    level=2
    alignment=neutral
    advances_to=AE_rhy_dw_War_Engineer, AE_rhy_dw_Scorpio
    cost=30
    usage=mixed fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Dwarvish engineers construct mining-golems and warmachines. They are often seen improving the mechanism on their crossbow for more powerful shots."
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves/engineer.png" "units/dwarves/engineer.png" {SOUND_LIST:DWARF_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/dwarves/runemaster.webp"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/dwarves/runemaster.webp"
    [/portrait]
    [attack]
        name=hammer
        description={STR_HAMMER}
        icon=attacks/hammer.png
        type=impact
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=crossbow
        description={STR_CROSSBOW}
        icon=attacks/crossbow-iron.png
        type=pierce
        range=ranged
        damage=20
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-300
        [frame]
            image="units/dwarves/engineer.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -210}
    [/attack_anim]
    {AE_RHY_ANIM_CROSSBOW dwarves/engineer}
[/unit_type]
