#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_dw_Lizardrider
    name= _ "Dwarvish Lizardrider"
    race=dwarf
    image="units/dwarves-rashy/lizardknight.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=62
    movement_type=mounted
    movement=7
    experience=98
    level=2
    alignment=neutral
    advances_to=AE_rhy_dw_Lizardknight
    cost=37
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+""
    die_sound={SOUND_LIST:DWARF_DIE}
    [resistance]
        blade=70
        pierce=110
        impact=60
        fire=90
        cold=90
        arcane=90
    [/resistance]
    [movement_costs]
        forest=2
        hills=2
        mountains=2
        cave=2
        fungus=3
    [/movement_costs]
    [defense]
        hills=50
        mountains=50
        cave=60
        fungus=-70
    [/defense]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=10
        number=3
    [/attack]
    {DEFENSE_ANIM "units/dwarves-rashy/lizardknight.png" "units/dwarves-rashy/lizardknight.png" {SOUND_LIST:DWARF_HIT} }
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/dwarves-rashy/lizardknight.png:50"
            sound=horse-canter.wav
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -200}
        [frame]
            image="units/dwarves-rashy/lizardknight.png:400"
        [/frame]
    [/attack_anim]
[/unit_type]
