#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_dw_Lizardscout
    name= _ "Dwarvish Lizardscout"
    race=AE_RHY_dwarf
    image="units/dwarves/lizardscout.png"
    hitpoints=40
    movement_type=AE_RHY_lizard_mounted
    movement=7
    experience=46
    level=1
    alignment=neutral
    advances_to=AE_rhy_dw_Lizardrider
    cost=18
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "The massive lizards are the perfect mounts for the short legged dwarves to explore terrain outside of their mountains."
    die_sound={SOUND_LIST:DWARF_DIE}
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=9
        number=2
    [/attack]
    {DEFENSE_ANIM "units/dwarves/lizardscout.png" "units/dwarves/lizardscout.png" {SOUND_LIST:DWARF_HIT} }
    {AE_RHY_ANIM_SPEAR dwarves/lizardscout}
[/unit_type]
