#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_rhy_dw_Smith
    name= _ "Dwarvish Smith"
    race=dwarf
    image="units/dwarves-rashy/smith.png"
    profile="portraits/dwarves/runemaster.png"
    ellipse="misc/ellipse"
    hitpoints=55
    movement_type=dwarvishfoot
    movement=4
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=33
    usage=mixed fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Dwarvish smiths are master of their art. Capable of crafting the sturdies weapons and armor they earn high respect of their kin and allies. Only the mastersmiths have access to the well guarded secret of forging mythrilplates."
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves-rashy/smith.png" "units/dwarves-rashy/smith.png" {SOUND_LIST:DWARF_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/dwarves/runemaster.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/dwarves/runemaster.png"
    [/portrait]
    [attack]
        name=hammer
        description={STR_HAMMER}
        icon=attacks/hammer.png
        type=impact
        range=melee
        damage=12
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-300
        [frame]
            image="units/dwarves-rashy/smith.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -210}
    [/attack_anim]
[/unit_type]
