#textdomain wesnoth-units
[unit_type]
    id=AE_rhy_dw_Ghost
    name= _ "Dwarvish Spirit"
    race=AE_RHY_undead
    {AE_RHY_TRAIT_INCORPOREAL_MUSTHAVE}
    image="units/dwarves/spirit.png"
    hitpoints=25
    movement_type=undeadspirit
    movement=5
    experience=38
    level=1
    alignment=chaotic
    advances_to=AE_rhy_dw_Wraith
    cost=19
    usage=scout
    description={AE_RHY_UNIT_NOTICE}+ _ "Though they can travel through most terrain without hinderance, their dwarvish form is still relatively slow."
    {DEFENSE_ANIM "units/dwarves/spirit.png" "units/dwarves/spirit.png" {SOUND_LIST:DWARF_HIT} }
    die_sound=wail-long.wav
    [defense]
        hills=40
        mountains=40
        cave=40
    [/defense]
    [attack]
        name=sword
        description= _ "baneblade"	# wmllint: no spellcheck (until name->id)
        icon=attacks/baneblade.png
        type=arcane
        range=melee
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {AE_RHY_ANIM_SWORD dwarves/spirit}
[/unit_type]
