#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_fut_brungar_Alligator
    name= _ "Alligator"
    race=monster
    image="units/monsters/Alligator.png"
    profile="portraits/brungar/croc.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=1
    alignment=neutral
    experience=33
    advances_to=AE_fut_brungar_Crocodile
    hitpoints=34
    movement=7
    movement_type=AE_fut_brungar_oceanriders
    cost=23
    usage=fighter
    description= _ "This unit is from the Era of the Future. Its coding, art, and ideas were done by Turuk, Mirion147, Huston, Pentarctagon, Wesfreak, Xandria, and Zerovirus.
 
A Giant Alligator. Is it hungry? Guess you'll find out."

    [attack]
        name=Bite
        description={STR_BITE}
        icon="attacks/fangs.png"
        type=pierce
        range=melee
        damage=8
        number=3
    [/attack]

    [attack]
        name=Tail
        description={STR_TAIL}
        icon=attacks/Tail.png
        type=impact
        range=melee
        damage=10
        number=1
    [/attack]
[/unit_type]
