#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_fut_brungar_Apothecary
    name= _ "Apothecary"
    race=AE_fut_brungar_race
    gender=male
    image="units/Brungar/Apothecary.png"
    profile="portraits/brungar/potion.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=1
    alignment=neutral
    experience=58
    advances_to=AE_fut_brungar_Herbicider,AE_fut_brungar_Herbalist
    hitpoints=29
    movement=4
    movement_type=AE_fut_brungar_Sea_Dwarf_Foot
    cost=18
    usage=fighter
    description= _ "This unit is from the Era of the Future. Its coding, art, and ideas were done by Turuk, Mirion147, Huston, Pentarctagon, Wesfreak, Xandria, and Zerovirus.
 
Many Brungar lack the ability to weild magic skillfully and turn their attention towards the various herbs and sea weeds that grow throughout their domain. They study them for both their curative and poisonous properties. While many have the healers touch and instinctively know which herbs to boil and which to chew raw, there are some among the ranks of the Apothecary that simply enjoy seeing their enemies fall from some unknown enemy lurking inside their very bodies. The Apothecarys can be both a life saver and a life sucker."+{SPECIAL_NOTES}+{SPECIAL_NOTES_HEALS}+{SPECIAL_NOTES_POISON}

    die_sound={SOUND_LIST:DWARF_DIE}
    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    [attack]
        name=Knife
        description={STR_KNIFE}
        icon="attacks/dagger-human.png"
        type=impact
        range=melee
        damage=5
        number=3
    [/attack]
    [attack]
        name=Blow Dart
        description= _ "Blow Dart"
        icon=attacks/Blowdart.png
        type=pierce
        range=ranged
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
        damage=4
        number=3
    [/attack]
    [attack]
        name=Herbal Fumes
        description= _ "Herbal Fumes"
        icon="attacks/ink.png"
        type=fire
        range=ranged
        damage=3
        number=5
    [/attack]
    {AE_ME_GENERIC_RANGED_ANIM}
[/unit_type]
