#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_fut_brungar_Experienced_Tamer
    name= _ "Experienced Tamer"
    race=AE_fut_brungar_race
    gender=male
    image="units/Brungar/Experienced_Tamer.png"
    profile="portraits/brungar/whip.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=40
    movement_type=AE_fut_brungar_Sea_Dwarf_Foot
    movement=5
    experience=110
    level=2
    alignment=neutral
    cost=39
    usage=fighter
    advances_to=AE_fut_brungar_Expert_Tamer
    undead_variation=dwarf
    description= _ "This unit is from the Era of the Future. Its coding, art, and ideas were done by Turuk, Mirion147, Huston, Pentarctagon, Wesfreak, Xandria, and Zerovirus.
 
After they have managed to capture, tame, and train a fierce creature to fight beside them, Amateur Tamers are called Experienced Tamers, for as their name says, they are experienced. They can put their training to the test and set out to conquer the creatures of legend that caused many to join their ranks. The glory of capturing mighty beasts is looked down upon by none, and great rewards and honors are bestowed upon those that manage to do so."+{SPECIAL_NOTES}+{SPECIAL_NOTES_TAME}

    die_sound={SOUND_LIST:DWARF_DIE}
    [abilities]
        {AE_ABILITY_TAME}
    [/abilities]
    [attack]
        name=Whip
        description= _ "Whip"
        icon="attacks/whip.png"
        type=blade
        range=melee
        damage=7
        number=4
    [/attack]

    [attack]
        name=Whip
        description= _ "Whip"
        icon="attacks/whip.png"
        type=blade
        range=ranged
        damage=10
        number=2
    [/attack]
    {AE_ME_GENERIC_RANGED_ANIM}
[/unit_type]
