#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ext_chaos_Dark_Knight
    name= _ "Dark Knight"
    image="units/chaos/warrior.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile="portraits/bloodknight.png"
    profile="portraits/chaos/bloodknight.png~RC(magenta>black)"
    race=human
    hitpoints=51
    movement_type=smallfoot
    movement=5
    experience=95
    level=2
    alignment=chaotic
    advances_to=AE_ext_chaos_Blood_Knight
    cost=27
    description= _ "This unit is from Extended Era. Its coding and art were done by the Various people who created Extended Era.
 
Tougher than the average chaos follower, the Dark Knight attempts to confuse its opponent by wielding a different weapon in each hand, he lets his style on combat alter depending on the situation which makes him a tough warrior to fight."
    usage=fighter
    {DEFENSE_ANIM "units/chaos/warrior-defend.png" "units/chaos/warrior.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        fire=90
        blade=90
    [/resistance]
    die_sound={SOUND_LIST:HUMAN_DIE}

    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/transparent/bloodknight.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/transparent/bloodknight.png"
    [/portrait]

    [attack]
        name=sword
        description={STR_SWORD}
        type=blade
        range=melee
        damage=8
        number=4
        icon=attacks/greatsword-human.png
    [/attack]
    [attack]
        name=axe
        description={STR_AXE}
        type=blade
        range=melee
        damage=17
        number=2
        icon=attacks/axe.png
    [/attack]
    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/chaos/warrior-attack1.png"
        [/frame]
    [/movement_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        hits=yes
        [frame]
            begin=-100
            end=0
            image="units/chaos/warrior-attack1.png"
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/chaos/warrior-attack2.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/chaos/warrior-attack3.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        hits=no
        [frame]
            begin=-100
            end=0
            image="units/chaos/warrior-attack1.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/chaos/warrior-attack2.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/chaos/warrior-attack3.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        hits=yes
        [frame]
            begin=-100
            end=0
            image="units/chaos/warrior-axe1.png"
            sound=axe.ogg
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/chaos/warrior-axe2.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/chaos/warrior-axe3.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        hits=no
        [frame]
            begin=-100
            end=0
            image="units/chaos/warrior-axe1.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/chaos/warrior-axe2.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/chaos/warrior-axe3.png"
        [/frame]
    [/attack_anim]
[/unit_type]
