#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ext_chaos_Rabid_Hound
    name= _ "Rabid Hound"
    race=monster
    image="units/chaos/rabid-hound.png"
    profile="portraits/chaos/rabid-hound.png~RC(magenta>black)"
    hitpoints=36
    movement_type=AE_ext_chaos_houndfoot
    movement=7
    experience=65
    level=2
    alignment=chaotic
    advances_to=AE_ext_chaos_Warp_Hound
    cost=34
    usage=fighter
    undead_variation=saurian
    description= _ "This unit is from Extended Era. Its coding and art were done by the Various people who created Extended Era.

Dog infused with chaotic magic turn rabid. The magic degrades their mind and turns them into slavering beasts that hunger for bloodshed."
    {DEFENSE_ANIM "units/chaos/rabid-hound-defend.png" "units/chaos/rabid-hound.png" wolf-hit.wav}
    die_sound=wolf-die.wav
    [attack]
        name=fangs
        description={STR_FANGS}
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
        damage=9
        number=3
    [/attack]
    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/chaos/rabid-hound-attack2.png"
        [/frame]
    [/movement_anim]
    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        hits=yes
        [frame]
            begin=-50
            end=0
            image="units/chaos/rabid-hound-attack1.png"
            sound=wolf-big-bite.ogg
        [/frame]
        [frame]
            begin=0
            end=200
            image="units/chaos/rabid-hound-attack2.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        hits=no
        [frame]
            begin=-50
            end=0
            image="units/chaos/rabid-hound-attack1.png"
            sound=wolf-big-bite-miss.ogg
        [/frame]
        [frame]
            begin=0
            end=200
            image="units/chaos/rabid-hound-attack2.png"
        [/frame]
    [/attack_anim]
[/unit_type]
