#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ext_chaos_Invader
    name= _ "Invader"
    image="units/chaos/invader.png"
    profile="portraits/chaos/invader.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    race=human
    hitpoints=36
    movement_type=smallfoot
    movement=5
    experience=39
    [resistance]
        fire=90
    [/resistance]
    level=1
    alignment=chaotic
    advances_to=AE_ext_chaos_Dark_Knight,AE_ext_chaos_Doom_Guard
    cost=15
    description= _ "This unit is from Extended Era. Its coding and art were done by the Various people who created Extended Era.
 
Chaos warriors share the common believe that any goverment and any god is corrupt by default, by this thought they fufill the bidding of chaos lords who do not suger coat their reign and let their men face the harsh truth."
    usage=fighter
    {DEFENSE_ANIM "units/chaos/invader-defend.png" "units/chaos/invader.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=sword
        description={STR_SWORD}
        type=blade
        range=melee
        damage=8
        number=3
        icon=attacks/sword-human.png
    [/attack]
    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/chaos/invader-move.png"
        [/frame]
    [/movement_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        hits=yes
        [frame]
            begin=-100
            end=0
            image="units/chaos/invader-attack1.png"
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/chaos/invader-attack2.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/chaos/invader-attack3.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        hits=no
        [frame]
            begin=-100
            end=0
            image="units/chaos/invader-attack1.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/chaos/invader-attack2.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/chaos/invader-attack3.png"
        [/frame]
    [/attack_anim]
[/unit_type]
