#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_arc_orcs_Cave_Lancer
    name= _ "Cave Lancer"
    race=wolf # does this need to be changed?
    image="units/orcs/rat-lancer.png"
    [standing_anim]
        [frame]
            image="units/orcs/rat-lancer.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        terrain_type=Wo,Ww,Ww^Vm,Chs,Chw,Ss
        [frame]
            image="units/orcs/rat-lancer.png"
            #            image="units/goblins/wolf-rider-water.png"
        [/frame]
    [/standing_anim]
    hitpoints=44
    movement_type=naga
    movement=7
    experience=65
    level=2
    alignment=chaotic
    advances_to=AE_arc_orcs_Cave_Dragoon
    undead_variation=mounted
    cost=30
    usage=scout
    description={AE_ARC_UNIT_NOTICE}+_"The northern cave rat is a semi-aquatic mammal about the size of a wolf. It has a large flat tail for swimming and powerful incissors for biting through tree roots, as it lives underground and near water. They are social animals, like wolves, so they have similarly been approached by the more determined goblins.
The lancers have an improved understanding with their mount, so they can use their thighs and heels to communicate, freeing their hand to hold a spear.  They've also scavenged better pieces of armor."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}+{SPECIAL_NOTES_SLOW}
    die_sound=hiss-die.wav
    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/orcs/rat-lancer.png"
        [/frame]
    [/movement_anim]
    {DEFENSE_ANIM "units/orcs/rat-lancer.png" "units/orcs/rat-lancer.png" hiss-hit.wav }
    [movement_costs]
        deep_water=2
        shallow_water=1
        reef=2
        swamp_water=1
        flat=2
        sand=2
        forest=2
        hills=2
        mountains=3
        village=2
        castle=2
        cave=1
        frozen=2
        fungus=2
    [/movement_costs]
    [defense]
        deep_water=50
        shallow_water=40
        reef=40
        swamp_water=40
        flat=60
        sand=60
        forest=60
        hills=60
        mountains=60
        village=60
        castle=60
        cave=40
        frozen=60
        fungus=60
    [/defense]
    [resistance]
        blade=80
        pierce=100
        impact=90
        fire=110
        cold=90
        arcane=100
    [/resistance]
    [attack]
        name=bite
        description={STR_BITE}
        icon=attacks/fangs.png
        type=blade
        range=melee
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        icon=attacks/spear-orcish.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        damage=10
        number=2
    [/attack]
    [attack]
        name=tail
        description= _ "tail-slap"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=13
        number=1
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=dart
        description= _ "dart"
        icon=attacks/javelin-orcish.png
        type=pierce
        range=ranged
        damage=7
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [if]
            hits=no
            [frame]
                begin=-250
                end=-200
                image="units/orcs/rat-lancer.png"
                sound=spear-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-250
                end=-200
                image="units/orcs/rat-lancer.png"
                sound=spear.ogg
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=200
            image="units/orcs/rat-lancer.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        [if]
            hits=no
            [frame]
                begin=-250
                end=-200
                image="units/orcs/rat-lancer.png"
                sound=miss-[1~2].ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-250
                end=-200
                image="units/orcs/rat-lancer.png"
                sound=bite-small.ogg
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=200
            image="units/orcs/rat-lancer.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=tail
        [/filter_attack]
        [if]
            hits=no
            [frame]
                begin=-250
                end=-200
                image="units/orcs/rat-lancer.png"
                sound=miss-2.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-250
                end=-200
                image="units/orcs/rat-lancer.png"
                sound=fist.ogg
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=200
            image="units/orcs/rat-lancer.png"
        [/frame]
    [/attack_anim]
[/unit_type]
