#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_arc_orcs_Marabou_Stork
    name= _ "Marabou Stork"
    race=wolf # does this need to be changed?
    image="units/orcs/stork-rider.png"
    [standing_anim]
        start_time=-50
        [frame]
            image="units/orcs/stork-rider.png"
            duration=50
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=-50
        terrain_type=Wo,Ww,Ww^Vm,Chs,Chw,Ss
        [frame]
            image="units/orcs/stork-rider.png"
            #            image="units/goblins/wolf-rider-water.png"
            duration=50
        [/frame]
    [/standing_anim]
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=32
    movement_type=naga
    movement=8
    experience=30
    level=1
    alignment=chaotic
    advances_to=AE_arc_orcs_Stork_Master
    undead_variation=mounted
    cost=17
    usage=scout
    description={AE_ARC_UNIT_NOTICE}+_"Marabou storks are carrion eaters with bald heads. A heavily feathered variety lives in the North and follows the orcish tribes, feasting upon the corpses and carcasses the orcs leave in their wake. Much like the wolf riders, some goblins try to escape their pitiful fate and master the skys on the backs of one of these birds. Of course, the birds do not want to fly with some other animal on their back, but over time, the birds learn that there is more food to be had if they tolerate the cargo. The long avian feet and oily feathers allow the bird and rider to traverse water terrain with great ease."
    die_sound=gryphon-die-2.ogg
    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/orcs/stork-rider.png"
        [/frame]
    [/movement_anim]
    {DEFENSE_ANIM "units/orcs/stork-rider.png" "units/orcs/stork-rider.png" gryphon-hit-2.ogg }
    [defense]
        village=50
    [/defense]
    [attack]
        name=beak
        description={STR_BEAK}
        icon=attacks/beak.png
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=beak
        [/filter_attack]
        [if]
            hits=no
            [frame]
                begin=-250
                end=-200
                image="units/orcs/stork-rider.png"
                sound=miss-2.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-250
                end=-200
                image="units/orcs/stork-rider.png"
                sound=gryphon-shriek-1.ogg
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=-100
            image="units/orcs/stork-rider.png"
        [/frame]
        [frame]
            begin=-100
            end=50
            image="units/orcs/stork-rider.png"
        [/frame]
        [frame]
            begin=50
            end=100
            image="units/orcs/stork-rider.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/orcs/stork-rider.png"
        [/frame]
    [/attack_anim]
[/unit_type]
