#textdomain wesnoth-units
[unit_type]
    id=AE_rhy_lz_Angel_Marksman
    name= _ "Angel Marksman"
    race=AE_RHY_angel
    image="units/human-luz/angel-marksman.png"
    hitpoints=60
    movement_type=AE_RHY_angelfly
    movement=8
    experience=150
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=52
    usage=scout
    description={AE_RHY_UNIT_NOTICE}+ _ "While flying the angel marksmen have superior perception and accuracy."
    {AE_RHY_SPECIAL_NOTES_MASTERY}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-luz/angel-marksman.png" "units/human-luz/angel-marksman.png" {SOUND_LIST:HUMAN_HIT} }
    [defense]
        mountains=40
    [/defense]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-holy.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=7
        number=5
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            {AE_RHY_WEAPON_SPECIAL_MASTERY}
        [/specials]
    [/attack]
    [attack]
        name=arcancebow
        description= _ "enchanted arrow"
        icon=attacks/bow-elven.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=10
        number=2
    [/attack]
    {AE_RHY_ANIM_SWORD human-luz/angel-marksman}
    {AE_RHY_ANIM_BOW human-luz/angel-marksman}
    [attack_anim]
        [filter_attack]
            name=arcancebow
        [/filter_attack]
        start_time=-445
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-holy-n.png"
            image_diagonal="projectiles/missile-holy-ne.png"
        [/missile_frame]
        [frame]
            image="units/human-luz/angel-marksman.png:510"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -230}
    [/attack_anim]
[/unit_type]
