#textdomain wesnoth-units
[unit_type]
    id=AE_rhy_lz_Crossbowman
    name= _ "Luz Crossbowman"
    race=AE_RHY_human
    gender=male
    image="units/human-luz/crossbow.png"
    hitpoints=29
    movement_type=smallfoot
    movement=5
    experience=38
    level=1
    alignment=lawful
    advances_to=AE_rhy_lz_Heavy_Crossbowman
    cost=15
    usage=archer
    description={AE_RHY_UNIT_NOTICE}+ _ "Luz crossbowmen are miliz soldiers from lower classes. Though they posses only cheap equipment, they can be deadly in range and melee."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=club
        description= _ "club"
        icon=attacks/club-small.png
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]
    [attack]
        name=crossbow
        description= _ "crossbow"
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=9
        number=2
    [/attack]
    {DEFENSE_ANIM "units/human-luz/crossbow.png" "units/human-luz/crossbow.png" {SOUND_LIST:HUMAN_HIT}}
    {AE_RHY_ANIM_CROSSBOW human-luz/crossbow}
    [attack_anim]
        [filter_attack]
            name=club
        [/filter_attack]
        start_time=-275
        [frame]
            duration=100
            image="units/human-luz/crossbow.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/human-luz/crossbow.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/human-luz/crossbow.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/human-luz/crossbow.png"
        [/frame]
    [/attack_anim]
[/unit_type]
