#textdomain wesnoth-units
[unit_type]
    id=AE_rhy_lz_Crusader
    name= _ "Luz Crusader"
    race=AE_rhy_race_human_R
    image="units/human-luz/crusader.png"
    hitpoints=38
    movement_type=smallfoot
    movement=5
    experience=44
    level=1
    alignment=lawful
    advances_to=AE_rhy_lz_Inquisition_Warrior
    cost=15
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Crusaders are initiates of the Inquisition. They are recruited from noblemen and veteran soldiers. For the promise of a good afterlife, the crusaders spread their religious belief through the land, with their sword if necesarry."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-luz/crusader.png" "units/human-luz/crusader.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        arcane=70
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-steel.png
        type=blade
        range=melee
        damage=5
        number=4
    [/attack]
    [attack]
        name=chakram
        description= _ "chakram"
        type=blade
        range=ranged
        damage=3
        number=3
        icon=attacks/chakram.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=chakram
        [/filter_attack]
        start_time=-300
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/chakram.png"
            image_diagonal="projectiles/chakram.png"
        [/missile_frame]
        [frame]
            image="units/human-luz/crusader.png:400"
        [/frame]
        {SOUND:HIT_AND_MISS throwing-knife.ogg throwing-knife-miss.ogg -230}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/human-luz/crusader.png:400"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -75}
    [/attack_anim]
[/unit_type]
