#textdomain wesnoth-units
[unit_type]
    id=AE_rhy_lz_Holy_Warden
    name= _ "Luz Warden"
    race=AE_RHY_human
    image="units/human-luz/warden.png"
    {TRAIT_FEARLESS}
    hitpoints=70
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=52
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "The Order of Holy Wardens is build out of the most devoted and most brutal followers of the faith. Equiped with a flail that ends in three heavy chains and a big shield they hunt heathens and heretics"
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-luz/warden.png" "units/human-luz/warden.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        blade=80
        impact=80
        pierce=90
        fire=80
        cold=80
        arcane=60
    [/resistance]
    [attack]
        name=flail
        description= _ "flail"
        icon=attacks/mace-and-chain.png
        type=impact
        range=melee
        damage=23
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=flail
        [/filter_attack]
        [frame]
            begin=-300
            end=-100
            image="units/human-luz/warden.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=-25
                image="units/human-luz/warden.png"
                sound=flail.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=-25
                image="units/human-luz/warden.png"
                sound=flail-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-25
            end=150
            image="units/human-luz/warden.png"
        [/frame]
    [/attack_anim]
[/unit_type]
