#textdomain wesnoth-units
[unit_type]
    id=AE_rhy_lz_Monk
    name= _ "Luz Monk"
    race=AE_RHY_human
    image="units/human-luz/monk.png"
    hitpoints=42
    movement_type=smallfoot
    movement=5
    experience=70
    level=2
    alignment=lawful
    advances_to=AE_rhy_lz_Abbot
    cost=34
    usage=healer
    description={AE_RHY_UNIT_NOTICE}+ _ "Monks chose a secluded life in a monastery to study. Their bodies are strenghtened form hard labour and they've amassed a general knowledge of herbalism."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-luz/monk.png" "units/human-luz/monk.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [abilities]
        {ABILITY_CURES}
    [/abilities]
    [resistance]
        arcane=60
    [/resistance]
    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=lightbeam
        description={STR_LIGHTBEAM}
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=8
        number=3
    [/attack]
    {AE_RHY_ANIM_STAFF human-luz/monk}
    [attack_anim]
        [filter_attack]
            name=lightbeam
        [/filter_attack]
        {MISSILE_FRAME_LIGHT_BEAM}
        start_time=-395
        [frame]
            image="units/human-luz/monk.png:150"
        [/frame]
        [frame]
            image="units/human-luz/monk.png"
            halo=halo/holy/halo[6,1,3,5,6].png:[75*4,50]
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:HOLY} {SOUND_LIST:HOLY_MISS} -75}
        [frame]
            image="units/human-luz/monk.png:100"
        [/frame]
    [/attack_anim]
[/unit_type]
