#textdomain wesnoth-units
[unit_type]
    id=AE_rhy_lz_Miliz
    name= _ "Luz Miliz"
    # wmllint: general spelling spearmen
    race=AE_rhy_race_human_R
    image="units/human-luz/miliz.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=34
    movement_type=smallfoot
    movement=5
    experience=36
    level=1
    alignment=lawful
    advances_to=AE_rhy_lz_Keeper
    cost=12
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Instead of trained soldiers, the Luz use men from lower classes en masse."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-luz/miliz.png" "units/human-luz/miliz.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=6
        number=3
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-200
        [frame]
            duration=50
            image="units/human-luz/miliz.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=50
                image="units/human-luz/miliz.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=50
                image="units/human-luz/miliz.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/human-luz/miliz.png"
        [/frame]
    [/attack_anim]
[/unit_type]
