#textdomain wesnoth-units
[unit_type]
    id=AE_rhy_lz_Veteran
    name= _ "Luz Veteran"
    race=AE_RHY_human
    image="units/human-luz/veteran.png"
    hitpoints=45
    movement_type=smallfoot
    movement=6
    experience=100
    level=2
    alignment=lawful
    advances_to=null
    {AE_RHY_AMLA_WEAPON_SEPCIAL sword ("better swordsman") ({AE_RHY_WEAPON_SPECIAL_MASTERY}) "attacks/sword-steel.png"}
    {AMLA_DEFAULT}
    cost=23
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Veterans are jack of all trades. Instead of working as guards, they'll take odd jobs from mercenary guilds or lords. While the veterans are usually faster on foot and capable swordsmen, they are not as durable as spearmen."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-luz/veteran.png" "units/human-luz/veteran.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        cold=90
    [/resistance]
    [abilities]
        {AE_RHY_ABILITY_RALLY}
    [/abilities]
    [defense]
        flat=50
        sand=60
        frozen=70
        shallow_water=70
        swamp_water=70
    [/defense]
    [movement_costs]
        frozen=2
    [/movement_costs]
    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-steel.png
        type=blade
        range=melee
        damage=6
        number=4
    [/attack]
    {AE_RHY_ANIM_SPEAR human-luz/veteran}
    {AE_RHY_ANIM_SWORD human-luz/veteran}
[/unit_type]
