#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ele_Fallen_Slayer
    name= _ "Fallen Slayer"
    race=AE_ele_fallen
    gender=male
    image="units/undead-fallen/fallen-slayer.png"
    profile="portraits/fallen/fallen-slayer.png"
    hitpoints=42
    movement_type=AE_ele_fallnorm
    movement=5
    experience=59
    level=2
    alignment=chaotic
    advances_to=AE_ele_Fallen_Decapitator
    cost=34
    usage=fighter
    description={AE_ELE_ERA_NOTICE}+{AE_ELE_FALLEN_NOTICE}+"..."
    die_sound=wail-long.wav

    [attack]
        name=ageless blade
        description= _ "ageless blade"
        icon=attacks/fallen-skull-sword-two.png
        type=blade
        range=melee
        damage=16
        number=2
        [specials]
            {AE_WEAPON_SPECIAL_DEADLY_STRIKE}
            {AE_ELE_FALLEN_DRAIN 0.2}
        [/specials]
    [/attack]

    [attack]
        name=scream
        description= _ "scream"
        icon=attacks/fallen-scream-two.png
        type=arcane
        range=ranged
        damage=6
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=scream
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            offset=1.0
            duration=150
            image="projectiles/dark-missle-n-2.png"
            image_diagonal="projectiles/dark-missle-ne-2.png"
        [/missile_frame]
        start_time=-450
        sound=magicmissile.wav
    [/attack_anim]
[/unit_type]
