#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_highlanders_Lion_Renegade
    name= _ "Lion Renegade"
    race=AE_efm_highlanders_race
    image="units/highlander/lion_renegade.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=49
    movement_type=elusivefoot
    movement=6
    experience=100
    level=2
    alignment=chaotic
    advances_to=AE_efm_highlanders_Lion_Maverick
    cost=35
    usage=scout
    description={AE_EFM_UNIT_NOTICE}+"Some veteran lion warriors decline to take on apprentices so that they can spend their time focusing on their own strength. This is generally considered the dishonorable or unresponcible path but nobody stops them."
    {DEFENSE_ANIM "units/highlander/lion_renegade.png" "units/highlander/lion_renegade.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=human

    [resistance]
        arcane=80
        blade=120
    [/resistance]
    [movement_costs]
        hills=1
        mountains=2
        sand=1
    [/movement_costs]

    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]

    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=10
        number=3
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-450
        [frame]
            duration=200
            image="units/highlander/lion_renegade-attack1.png"
        [/frame]
        [frame]
            duration=100
            image="units/highlander/lion_renegade-attack2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=200
                image="units/highlander/lion_renegade-attack3.png"
                sound=spear-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=200
                image="units/highlander/lion_renegade-attack3.png"
                sound=spear.ogg
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/highlander/lion_renegade-attack4.png"
        [/frame]
    [/attack_anim]
[/unit_type]
