#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_highlanders_Lion_Adept
    name= _ "Lion Adept"
    race=AE_efm_highlanders_race
    image="units/highlander/lion_adept.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=43
    movement_type=elusivefoot
    movement=6
    experience=100
    level=2
    alignment=chaotic
    advances_to=AE_efm_highlanders_Lion_Master
    cost=35
    usage=scout
    description={AE_EFM_UNIT_NOTICE}+"Veteran lion warriors become known as adepts and are allowed to train apprentices. They are also expected to lead the warparties."
    {DEFENSE_ANIM "units/highlander/lion_adept.png" "units/highlander/lion_adept.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=human

    [resistance]
        blade=120
        arcane=80
    [/resistance]
    [movement_costs]
        hills=1
        mountains=2
        sand=1
    [/movement_costs]

    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]

    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=12
        number=2
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-450
        [frame]
            duration=200
            image="units/highlander/lion_adept-attack1.png"
        [/frame]
        [frame]
            duration=100
            image="units/highlander/lion_adept-attack2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=200
                image="units/highlander/lion_adept-attack3.png"
                sound=spear-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=200
                image="units/highlander/lion_adept-attack3.png"
                sound=spear.ogg
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/highlander/lion_adept-attack4.png"
        [/frame]
    [/attack_anim]
[/unit_type]
