#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_highlanders_Elephant
    name= _ "Elephant"
    race=AE_efm_highlanders_race
    image="units/highlander/elephant.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=54
    movement_type=AE_efm_highlanders_elephantfoot
    movement=4
    zoc=no
    experience=78
    level=2
    alignment=chaotic
    advances_to=AE_efm_highlanders_Oliephant
    cost=24
    usage=mixed_fighter
    description={AE_EFM_UNIT_NOTICE}+"The most famous tool of the highlander war effort is undoubtably the elephant. These massive beasts have incredible power and toughness and are capable of literally trampling foes underfoot. In addition archers can be positioned on their back and provide support from above. For all their might they do have a couple weaknesses, not the least of which is that they are not able to control the area on their flanks easily and are unable to effectively retaliate against foes attacking them from the sides or the rear. Notes: Elephants have no ZoC. The trample special means that the elephants will move into the hex of the unit they kill and will have 2 extra strikes on offense."
    {DEFENSE_ANIM "units/highlander/elephant.png" "units/highlander/elephant.png" elephantHit.ogg}
    die_sound=elephantDie.ogg
    undead_variation=human
    [abilities]
        {ABILITY_NOZOC}
    [/abilities]
    [resistance]
        arcane=80
        pierce=80
        blade=70
        impact=60
        cold=80
    [/resistance]

    [attack]
        name=crushEFME
        description={STR_CRUSH}
        type=impact
        range=melee
        damage=11
        number=1
        icon=attacks/ram.png
        [specials]
            {AE_WEAPON_SPECIAL_TRAMPLE}
        [/specials]
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=3
        number=3
        icon=attacks/bow-orcish.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bow
            type=pierce
        [/filter_attack]
        start_time=-445
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            duration=65
            image="units/highlander/elephant.png"
        [/frame]
        [frame]
            duration=75
            image="units/highlander/elephant.png"
        [/frame]
        [frame]
            duration=75
            image="units/highlander/elephant.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/highlander/elephant.png"
                sound=bow-puny-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/highlander/elephant.png"
                sound=bow-puny.ogg
            [/frame]
        [/else]
        [frame]
            duration=130
            image="units/highlander/elephant.png"
        [/frame]
        [frame]
            duration=65
            image="units/highlander/elephant.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=crushEFME
        [/filter_attack]
        start_time=-400
        [if]
            hits=no
            [frame]
                duration=400
                image="units/highlander/elephant.png"
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=400
                image="units/highlander/elephant.png"
                sound=fist.ogg
            [/frame]
        [/else]
    [/attack_anim]

    [animation]
        apply_to=trumpet
        start_time=-1000
        [frame]
            duration=1200
            image="units/highlander/elephant.png"
            sound=elephantAttack.ogg
        [/frame]
    [/animation]

    [event]
        name=attack
        first_time_only=no
        id=AE_efm_elephant_attack
        [filter_attack]
            name=crushEFME
        [/filter_attack]
        [animate_unit]
            [filter]
                x,y=$x1,$y1
            [/filter]
            flag=trumpet
            with_bars=yes
        [/animate_unit]
    [/event]
[/unit_type]
