#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_fut_Nordhris_Arctic_Prowler
    name= _ "Arctic Prowler"
    race=AE_fut_race_Nordhris
    gender=male
    image=units/Nordhris/Arctic_Prowler_Final.png
    level=3
    alignment=neutral
    experience=126
    advances_to=null
    {AMLA_DEFAULT}
    hitpoints=65
    movement=5
    movement_type=AE_fut_dogfoot
    cost=50
    usage=fighter
    description= _ "This unit is from the Era of the Future. Its coding, art, and ideas were done by Turuk, Mirion147, Huston, Pentarctagon, Wesfreak, Xandria, and Zerovirus.

..."

    [abilities]
        {AE_ABILITY_SNOW_COVER}
        # TODO copy macro to general
        {ABILITY_AE_MAG_MOUNTAINAMBUSH}
    [/abilities]

    [defense]
        frozen=40
    [/defense]

    [attack]
        name=Razor Claws
        description= _ "Razor Claws"
        icon=attacks/claws.png
        type=blade
        range=melee
        damage=7
        number=6
        [specials]
            {WEAPON_SPECIAL_AE_MAG_BLEED}
        [/specials]
    [/attack]
    {AE_ME_GENERIC_RANGED_ANIM}

    [attack_anim]
        [filter_attack]
            name=Razor Claws
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/Nordhris/Arctic_Prowler_Final.png"
            sound=claws.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
