#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=AE_mag_Atokpi_Master
    [/base_unit]
    id=AE_mag_Atokpi_Master_rpg

    [abilities]
        {ABILITY_AE_MAG_ALTER_EGO atokpirpg AE_mag_Atokpi_Master_rpg AE_mag_Atokpi_Dark_rpg}
    [/abilities]

    [attack]
    [/attack]
    [attack]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
[/unit_type]
