#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=AE_mag_Beast
    [/base_unit]
    id=AE_mag_Beast_rpg
    advances_to=AE_mag_Bone_Golem_rpg
    [abilities]
    [/abilities]
    [attack]
        [specials]
            {WEAPON_SPECIAL_AE_MAG_COLLECTOR_RPG}
        [/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_AE_MAG_COLLECTOR_RPG}
        [/specials]
    [/attack]
[/unit_type]
