#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_chs_wild_humans_Demon_Wolf
    name= _ "Demon Wolf"
    race=wolf
    image="units/animals/demon-wolf.png"
    hitpoints=40
    movement_type=woodland
    movement=8
    [defense]
        village=50
        cave=60
        sand=60
    [/defense]
    [movement_costs]
        cave=2
        sand=1
    [/movement_costs]
    [resistance]
        arcane=120
        fire=90
        cold=80
    [/resistance]
    level=2
    alignment=chaotic
    advances_to=null
    experience=100
    {AMLA_DEFAULT}
    undead_variation=mounted
    cost=29
    usage=scout
    description={AE_EOC_UNIT_NOTICE}+"It is said that some of the wolves haunting Irdya's forests, fed by their masters on human flesh -and, it is whispered, strengthened through dark magics- are more than mere wolves. In the dead of night, when a horrible howl freezes your heart with fear, know that their fearsome jaws are also near..."
    die_sound={SOUND_LIST:WOLF_DIE}

    {DEFENSE_ANIM "units/animals/demon-wolf.png" "units/animals/demon-wolf.png" {SOUND_LIST:WOLF_HIT} }

    [attack]
        name=fangs
        description={STR_FANGS}
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=7
        number=4
    [/attack]

    [attack]
        name=fangs-fury
        description={STR_FANGS}
        icon=attacks/fangs-animal.png
        [specials]
            {WEAPON_SPECIAL_RAGE_3}
        [/specials]
        type=blade
        range=melee
        damage=5
        number=5
    [/attack]

    [attack]
        name=howl
        description= _ "howl"
        icon=attacks/wail.png
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        type=cold
        range=ranged
        damage=5
        number=3
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        start_time=-350
        offset=0.0~-0.1:100,-0.1~0.0:50,0.0~0.3:50,0.3~0.5:100,0.5~0.6:50,0.6~0.4:100,0.4~0.2:50,0.2~0.0:100

        [frame]
            image="units/animals/demon-wolf.png:500"
            sound={SOUND_LIST:WOLF_GROWL}
        [/frame]

        {SOUND:HIT bite.ogg -50}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fangs-fury
        [/filter_attack]
        [if]
            value_second=1
            start_time=-1500
            offset=0.0:1150,0.0~-0.1:100,-0.1~0.0:50,0.0~0.3:50,0.3~0.5:100,0.5~0.6:50,0.6~0.4:100,0.4~0.2:50,0.2~0.0:100

            [frame]
                image="units/animals/demon-wolf.png~CS([20,40,60,80,100,80,60,40,20,0],0,0):115"
                sound={SOUND_LIST:WOLF_GROWL}
            [/frame]
            [frame]
                image="units/animals/demon-wolf.png:500"
            [/frame]

            {SOUND:HIT bite.ogg -50}
        [/if]
        [else]
            start_time=-350
            offset=0.0~-0.1:100,-0.1~0.0:50,0.0~0.3:50,0.3~0.5:100,0.5~0.6:50,0.6~0.4:100,0.4~0.2:50,0.2~0.0:100

            [frame]
                image="units/animals/demon-wolf.png:500"
                sound={SOUND_LIST:WOLF_GROWL}
            [/frame]

            {SOUND:HIT bite.ogg -50}
        [/else]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=howl
        [/filter_attack]
        {MISSILE_FRAME_WAIL}
        start_time=-200
        sound={SOUND_LIST:WOLF_GROWL}
    [/attack_anim]
[/unit_type]
