#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_chs_wild_humans_Dread_Wolf
    name= _ "Dread Wolf"
    race=wolf
    image="units/animals/dread-wolf.png"
    hitpoints=32
    movement_type=woodland
    movement=8
    [defense]
        village=50
        cave=60
    [/defense]
    [movement_costs]
        cave=2
    [/movement_costs]
    [resistance]
        arcane=100
    [/resistance]
    level=1
    alignment=chaotic
    advances_to=AE_chs_wild_humans_Demon_Wolf
    experience=40
    undead_variation=mounted
    cost=19
    usage=scout
    description={AE_EOC_UNIT_NOTICE}+"It is said that some of the wolves haunting the Darklands’ forests, fed by their masters on human flesh—and, it is whispered, strengthened through dark magicks—are more than mere wolves. In the dead of night, when a horrible howl freezes your heart with fear, know that their fearsome jaws are also near..."
    die_sound={SOUND_LIST:WOLF_DIE}

    {DEFENSE_ANIM "units/animals/dread-wolf.png" "units/animals/dread-wolf.png" {SOUND_LIST:WOLF_HIT} }

    [attack]
        name=fangs
        description={STR_FANGS}
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]

    [attack]
        name=fangs-fury
        description={STR_FANGS}
        icon=attacks/fangs-animal.png
        [specials]
            {WEAPON_SPECIAL_RAGE_3}
        [/specials]
        type=blade
        range=melee
        damage=4
        number=4
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        start_time=-350
        offset=0.0~-0.1:100,-0.1~0.0:50,0.0~0.3:50,0.3~0.5:100,0.5~0.6:50,0.6~0.4:100,0.4~0.2:50,0.2~0.0:100

        [frame]
            image="units/animals/dread-wolf.png:500"
            sound={SOUND_LIST:WOLF_GROWL}
        [/frame]

        {SOUND:HIT bite.ogg -50}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fangs-fury
        [/filter_attack]
        [if]
            value_second=1
            start_time=-1500
            offset=0.0:1150,0.0~-0.1:100,-0.1~0.0:50,0.0~0.3:50,0.3~0.5:100,0.5~0.6:50,0.6~0.4:100,0.4~0.2:50,0.2~0.0:100

            [frame]
                image="units/animals/dread-wolf.png~CS([20,40,60,80,100,80,60,40,20,0],0,0):115"
                sound={SOUND_LIST:WOLF_GROWL}
            [/frame]
            [frame]
                image="units/animals/dread-wolf.png:500"
            [/frame]

            {SOUND:HIT bite.ogg -50}
        [/if]
        [else]
            start_time=-350
            offset=0.0~-0.1:100,-0.1~0.0:50,0.0~0.3:50,0.3~0.5:100,0.5~0.6:50,0.6~0.4:100,0.4~0.2:50,0.2~0.0:100

            [frame]
                image="units/animals/dread-wolf.png:500"
                sound={SOUND_LIST:WOLF_GROWL}
            [/frame]

            {SOUND:HIT bite.ogg -50}
        [/else]
    [/attack_anim]
[/unit_type]
