#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_chs_wild_humans_Wolf
    name={STR_WOLF}
    race=wolf
    image="units/animals/wolf.png"
    hitpoints=20
    movement_type=woodland
    movement=7
    [defense]
        village=50
        cave=60
        sand=60
    [/defense]
    [movement_costs]
        cave=2
        sand=1
    [/movement_costs]
    [resistance]
        arcane=100
    [/resistance]
    experience=20
    level=0
    alignment=chaotic
    advances_to=AE_chs_wild_humans_Dread_Wolf
    undead_variation=mounted
    cost=12
    usage=scout
    description={AE_EOC_UNIT_NOTICE}+"..."
    die_sound={SOUND_LIST:WOLF_DIE}
    {DEFENSE_ANIM "units/animals/wolf.png" "units/animals/wolf.png" {SOUND_LIST:WOLF_HIT} }
    [attack]
        name=fangs
        description={STR_FANGS}
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=4
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        start_time=-350

        offset=0.0~-0.1:100,-0.1~0.0:50,0.0~0.3:50,0.3~0.5:100,0.5~0.6:50,0.6~0.4:100,0.4~0.2:50,0.2~0.0:100

        [frame]
            image="units/animals/wolf.png:500"
            sound={SOUND_LIST:WOLF_GROWL}
        [/frame]

        {SOUND:HIT bite.ogg -50}
    [/attack_anim]
[/unit_type]
