#textdomain wesnoth-Ageless_Era

{./centaurs.cfg}
{./cornurs.cfg}
{./faeries.cfg}
{./human-thelians.cfg}
{./spirits.cfg}
{./treefolk.cfg}
{./vampires.cfg}

{~add-ons/Ageless_Era/units/MiE_units/centaurs}
{~add-ons/Ageless_Era/units/MiE_units/cornurs}
{~add-ons/Ageless_Era/units/MiE_units/faeries}
{~add-ons/Ageless_Era/units/MiE_units/human-outlaws}
{~add-ons/Ageless_Era/units/MiE_units/human-thelians}
{~add-ons/Ageless_Era/units/MiE_units/spirits}
{~add-ons/Ageless_Era/units/MiE_units/treefolk}
{~add-ons/Ageless_Era/units/MiE_units/vampires}
{~add-ons/Ageless_Era/units/MiE_units/wolves}
