#textdomain wesnoth-Ageless_Era

{./deep-elves.cfg}
{./desert-elves.cfg}
{./frozen.cfg}
{./harpies.cfg}
{./shaxthal.cfg}
{./steelhive.cfg}
{./yokai.cfg}
{~add-ons/Ageless_Era/units/misc_units/dark_legion}
{~add-ons/Ageless_Era/units/misc_units/deep-elves}
{~add-ons/Ageless_Era/units/misc_units/desert-elves}
{~add-ons/Ageless_Era/units/misc_units/frozen}
{~add-ons/Ageless_Era/units/misc_units/harpies}
{~add-ons/Ageless_Era/units/misc_units/steelhive}
{~add-ons/Ageless_Era/units/misc_units/yokai}
