#textdomain wesnoth-Ageless_Era

[race]
    id=AE_agl_vilkai
    male_name= _ "race^Vilkas"
    female_name= _ "race+female^Vilka"
    plural_name= _ "race^Vilkai"
    num_traits=2
    markov_chain_size=3
    {HUMAN_NAMES}
    description= _ "Geography
The Vilkai are humans who live in the northern regions of Wesnoth. Their homeland are the snow-covered woods in the valleys of the Heart Mountains. They originate from the Green Isle and migrated to Wesnoth under the leadership of prince Haldric. Many people suffered from the onslaughts of orcs throughout year 2 YW and some were forced to flee. Along with them went Denvan with wife and child, and all the other inhabitants of his village. Moving northwest, they reached the Heart Mountains. Although those barren valleys had not particularlymuch to offer, their remoteness promised peace and safety from the violent turmoil, thus the homeless refugees settled in the area.

Way of life and society

Due to an isolated live in cold and harsh environments, the Vilkai developed a natural resistance to cold, and the rather sparse number of huntable animals in these lands turned them into excellent hunters.However, they are not the only ones who go deerstalking, the competition is extensive, because predators such as bears, boars and wolves are also to be found in those woods. While they steer clear of bears and feral pigs (unless the need of food makes it unavoidable), the same cannot be said of wolves. Over the centuries, a strong relationship evolved between this nordic folk and wolves packs. The very few other peoples who have knowledge of the presence of the Vilkai shed the rumor that wolfblood is flowing through their veins. At some point in the past a tribe of shamans began to call them 'Vilkai', a name which in their language means simply 'wolves' – and that's how these inhabitants of the mountains got their name. Vilkai, who distinguish themselves on their hunter's prey, the number of slain bears and other dangerous beasts, are considered 'superiors', but they established no clearly defined hierarchy. Children become early involved in day to day work, barely 4 years old they help the women collecting wood, picking berries and searching for wild herbs. Starting at the age of 8, they learn to handle weapons, aged 14 the boys are taken on their first hunting tour. While growing up they gain profound insight into the daily routine and activities of their people.

Characteristics

Perhaps there were times when mages lived with them – if so, they are long gone. The woodlands and hilly areas offer a variety of curing herbs and plants with healing power, and one or the other Vilkai studies their effects and is capable to deal with alleviation of diseases and cure of serious injuries. Those with a passion for the healing arts are highly respected by their fellow men."
[/race]

[race]
    id=AE_agl_vlk_spirits
    male_name= _ "race^Spirit"
    female_name= _ "race+female^Spirit"
    plural_name= _ "race^Spirits"
    num_traits=1
    ignore_global_traits=yes
    {TRAIT_UNDEAD}
    # description=""
[/race]

[movetype]
    name=AE_agl_vlkfoot
    [movement_costs]
        castle=1
        cave=3
        reef=2
        flat=1
        forest=1
        frozen=2
        fungus=2
        hills=2
        mountains=3
        sand=3
        shallow_water=3
        swamp_water=3
        village=1
    [/movement_costs]
    [defense]
        castle=50
        cave=60
        reef=70
        flat=60
        forest=40
        frozen=50
        fungus=60
        hills=40
        mountains=40
        sand=80
        shallow_water=80
        swamp_water=70
        village=40
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=110
        cold=90
        arcane=80
    [/resistance]
[/movetype]

#define MOVEMENT_ARCHER
    [defense]
        forest=30
    [/defense]
    [movement_costs]
        cave=2
    [/movement_costs]
#enddef

#define MOVEMENT_WOLF
    [movement_costs]
        cave=1
    [/movement_costs]
    [defense]
        flat=50
        castle=60
        forest=30
        cave=50
        village=50
    [/defense]
    [resistance]
        fire=100
        arcane=100
    [/resistance]
#enddef

#define MOVEMENT_MOUNTED
    [defense]
        village=50
        mountains=50
        hills=50
    [/defense]
    [resistance]
        blade=80
        pierce=120
        impact=80
    [/resistance]
#enddef

#define MOVEMENT_NATURALIST
    [defense]
        fungus=50
    [/defense]
#enddef

#define MOVEMENT_LIGHT_ARMOR
    [resistance]
        blade=90
        pierce=90
    [/resistance]
    [defense]
        castle=40
    [/defense]
#enddef

#define MOVEMENT_ARMOR
    [resistance]
        blade=80
        pierce=80
        impact=90
    [/resistance]
    [defense]
        castle=40
    [/defense]
#enddef
