#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_arc_khthon_Ophis_Magnum
    name= _ "Ophis-Magnum"
    race=AE_arc_race_khthon
    image="units/khthon/ophis-magnum.png"
    image_icon="units/khthon/ophis-magnum.png~SCALE(72,72)"
    profile="portraits/ophis.png"
    hitpoints=66
    movement_type=AE_arc_khthontail
    movement=6
    experience=120
    level=3
    alignment=chaotic
    advances_to=AE_arc_khthon_Khalkotaurus
    cost=35
    usage=scout
    description={AE_ARC_UNIT_NOTICE}+_"This beast is massive and is covered in thick scales and hide, so it can absorb much damage. The Khthon has mastered its hosts body perfectly, so it is now able to fully regenerate."
    die_sound=drake-die.ogg
    [resistance]
        impact=90
        pierce=90
        cold=80
        blade=90
    [/resistance]
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    [movement_costs]
        shallow_water=2
        deep_water=2
        reef=2
    [/movement_costs]
    [defense]
        shallow_water=70
        deep_water=70
    [/defense]
    [attack]
        name=horns
        description= _ "horns"
        type=pierce
        range=melee
        damage=16
        number=2
        icon=attacks/blank-attack.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=tail
        description={STR_TAIL}
        type=impact
        range=melee
        damage=26
        number=1
        icon=attacks/tail-dragon.png
    [/attack]
    #    {AE_ARCHAIC_WEAPON_VECTOR_3}
    [defend]
        offset=0.0~-0.05:126,-0.05~0.0:126
        start_time=-126
        [frame]
            duration=1
            image=units/khthon/ophis-magnum.png
        [/frame]
        [frame]
            duration=100
            image=units/khthon/ophis-magnum.png
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=150
                image=units/khthon/ophis-magnum.png
                sounds={SOUND_LIST:DRAKE_HIT}
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=150
                image=units/khthon/ophis-magnum.png
            [/frame]
        [/else]
        [frame]
            duration=1
            image=units/khthon/ophis-magnum.png
        [/frame]
    [/defend]
    [attack_anim]
        [filter_attack]
            name=horns
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/khthon/ophis-magnum.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=0
                image="units/khthon/ophis-magnum.png"
                sound=club.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=0
                image="units/khthon/ophis-magnum.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=50
            image="units/khthon/ophis-magnum.png"
        [/frame]
    [/attack_anim]
    {AE_ARCHAIC_ENTHRALL_EVENTS}
    {AE_ARCHAIC_VECTOR_EVENTS}
[/unit_type]
