#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_pygmies_Stinger
    name= _ "Stinger"
    race=AE_efm_pygmies
    image="units/Pygmies/stinger.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=45
    movement_type=AE_efm_pygmiesfoot
    movement=6
    experience=90
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=27
    usage=archer
    description= _ "This unit is from The Era of Four Moons. Its coding was done by Velensk and art by L. Shelby.
Knats poison their darts to bring down their targets however they tend to choose weak and commonly available poisons. The more experienced units who are better at scrounging up nasty long lasting poisons are fearsome foes."
    {DEFENSE_ANIM "units/Pygmies/stinger.png" "units/Pygmies/stinger.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=human

    [abilities]
        {AE_EFM_ABILITY_SELFHEAL}
    [/abilities]

    [attack]
        name=fist
        description={STR_FIST}
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=5
        number=3
    [/attack]
    [attack]
        name=blow darts
        description= _ "blow darts"
        type=pierce
        damage=4
        number=6
        range=ranged
        icon=attacks/thorns.png
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=blow darts
        [/filter_attack]
        [missile_frame]
            begin=-200
            end=0
            image="projectiles/thorns.png"
            image_diagonal="projectiles/thorns-ne.png"
        [/missile_frame]
        [frame]
            begin=-450
            end=-375
            image="units/Pygmies/stinger.png"
        [/frame]
        [frame]
            begin=-375
            end=-300
            image="units/Pygmies/stinger.png"
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/Pygmies/stinger.png"
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/Pygmies/stinger.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/Pygmies/stinger.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=0
                image="units/Pygmies/stinger.png"
                sound=magic-thorns-1.ogg,magic-thorns-2.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=0
                image="units/Pygmies/stinger.png"
                sound=magic-thorns-miss-1.ogg,magic-thorns-miss-2.ogg
            [/frame]
        [/else]
        [frame]
            begin=-0
            end=75
            image="units/Pygmies/stinger.png"
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/Pygmies/stinger.png"
        [/frame]
    [/attack_anim]
[/unit_type]
