#textdomain wesnoth-units
[unit_type]
    [base_unit]
        id=Troll Whelp
    [/base_unit]
    id=AE_ext_northerns_Troll_Whelp
    advances_to=Troll,Troll Rocklobber,AE_ext_northerns_Troll_Shaman
    #hide_help=yes
    description= _ "This unit is from Extended Era. Its coding and art were done by the Various people who created Extended Era.

" + _ "Describing a troll as a whelp is something of an oxymoron, given that their bodies are already much hardier than that of a grown man. They are clumsy and not yet capable of walking properly, forced instead to shamble about on all fours, but any difficulty this causes them is more than made up for by the raw strength of their race."+{SPECIAL_NOTES}+{SPECIAL_NOTES_REGENERATES}
[/unit_type]
