#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_stf_eventide_Arcane_Archer
    name= _ "Arcane Archer"
    race=human
    image="units/eventide/Arcane_Archer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=45
    movement_type=smallfoot
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=32
    usage=archer
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others.
 
Although their weapons are not particularly potent against undead, Bowmaidens occasionally find themselves placed in garrisons where the dead still linger. A select group of maidens have chosen to forgo the  inhibitions of Eventide and study magic other than that of light and darkness.For their crimes they have been Stripped of their ability to cast light. These Archers instead rely on their newfound knowledge of magic in order to fight."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ARCANE}
    {DEFENSE_ANIM "units/eventide/Arcane_Archer.png" "units/eventide/Arcane_Archer.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [resistance]
        arcane=50
    [/resistance]
    [attack]
        name=dagger
        #textdomain wesnoth-units
        description={STR_DAGGER}
        type=blade
        range=melee
        damage=6
        number=3
        icon=attacks/dagger-human.png
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=7
        number=4
    [/attack]
    [attack]
        name=arcane arrow
        #textdomain wesnoth-Ageless_Era

        description= _ "arcane arrow"
        type=arcane
        range=ranged
        damage=12
        number=2
        icon=attacks/lightbeam.png
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        start_time=-100
        [frame]
            duration=50
            image="units/eventide/Arcane_Archer.png"
        [/frame]
        [frame]
            duration=200
            image="units/eventide/Arcane_Archer.png"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
        [frame]
            duration=50
            image="units/eventide/Arcane_Archer.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=arcane arrow
        [/filter_attack]
        {MISSILE_FRAME_ARROW}
        [frame]
            begin=-300
            end=20
            image="units/eventide/Arcane_Archer.png"
            sound=bow.ogg
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-375
                end=-300
                image="units/eventide/Arcane_Archer.png"
                sound={SOUND_LIST:HOLY}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-375
                end=-300
                image="units/eventide/Arcane_Archer.png"
                sound={SOUND_LIST:HOLY_MISS}
            [/frame]
        [/else]
        [frame]
            begin=-300
            end=20
            image="units/eventide/Arcane_Archer.png"
        [/frame]
    [/attack_anim]
    {HALF-ANIMATED_BOW_ANIMATION (units/eventide/Arcane_Archer.png) }
[/unit_type]
