#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_stf_eventide_Dreadlord
    name= _ "Dreadlord"
    race=human
    image="units/eventide/Dreadlord.png"
    {DEFENSE_ANIM "units/eventide/Dreadlord.png" "units/eventide/Dreadlord.png" {SOUND_LIST:HUMAN_HIT} }
    hitpoints=50
    movement_type=smallfoot
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=32
    usage=fighter
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others.

Dreadlords harken back to the golden age, bringing back memories of the brutal rule that the nobility of Noct used over their subjects before the disaster. In person they are said to be relentless and terrifying. In combat, this virtue is multiplied severalfold."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        impact=80
        fire=90
        arcane=90
    [/resistance]
    [attack]
        [specials]
            {WEAPON_SPECIAL_DREAD}
        [/specials]
        name=mace
        description={STR_MACE}
        type=impact
        range=melee
        damage=11
        number=3
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
[/unit_type]
