#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_stf_eventide_Lineman
    name= _ "Lineman"
    race=human
    image= "units/eventide/Lineman.png"
    gender=male
    hitpoints=49
    movement_type=smallfoot
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=26
    usage=fighter
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others.
 
Occasionally a lineman shows valor above and beyond his station. Offered a commission and given a job as a full-time soldier (as well as a pension), many Auxillaries who survive the brutal wars that (this faction) initiates find themselves living a very comfortable life. Of course, that is provided they live long enough to enjoy it."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM_RANGE "units/eventide/Lineman_Attack1.png" "units/eventide/Lineman_Attack1.png" {SOUND_LIST:HUMAN_HIT} melee }
    {DEFENSE_ANIM_RANGE "units/eventide/Lineman.png" "units/eventide/Lineman.png" {SOUND_LIST:HUMAN_HIT} ranged}
    [resistance]
        impact=90
        pierce=90
    [/resistance]
    [attack]
        name=spear
        #textdomain wesnoth-units
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=14
        number=2
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=dagger
        description={STR_DAGGER}
        type=blade
        range=melee
        damage=6
        number=4
        icon=attacks/dagger-human.png
    [/attack]
    [attack]
        name=thrown spear
        #textdomain wesnoth-Ageless_Era

        description= _ "thrown spear"
        type=pierce
        range=ranged
        damage=9
        number=2
        icon=attacks/javelin-human.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/eventide/Lineman_Attack1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-150
                end=150
                image="units/eventide/Lineman_Attack1.png"
                sound=spear-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-150
                end=150
                image="units/eventide/Lineman_Attack1.png"
                sound=spear.ogg
            [/frame]
        [/else]
        [frame]
            begin=150
            end=200
            image="units/eventide/Lineman_Attack1.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "Linewoman"
        gender=female
        image="units/eventide/Linewoman.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_HIT}
        {DEFENSE_ANIM_RANGE "units/eventide/Linewoman.png" "units/eventide/Linewoman_Attack1.png" {SOUND_LIST:HUMAN_FEMALE_HIT} melee }
        {DEFENSE_ANIM_RANGE "units/eventide/Linewoman.png" "units/eventide/Linewoman.png" {SOUND_LIST:HUMAN_FEMALE_HIT} ranged}
        [attack_anim]
            [filter_attack]
                name=spear
            [/filter_attack]
            [frame]
                image="units/eventide/Linewoman_Attack1.png"
            [/frame]
            [if]
                hits=no
                [frame]
                    image="units/eventide/Linewoman_Attack1.png"
                [/frame]
            [/if]
            [else]
                hits=yes
                [frame]
                    image="units/eventide/Linewoman_Attack1.png"
                [/frame]
            [/else]
            [frame]
                image="units/eventide/Linewoman_Attack1.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
