#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_stf_eventide_Mariner
    name= _ "Mariner"
    race=human
    image= "units/eventide/Swabbie.png"
    hitpoints=45
    movement_type=AE_stf_eventide_piratefoot
    movement=6
    experience=70
    level=2
    alignment=neutral
    advances_to=AE_stf_eventide_Navigator
    cost=26
    usage=fighter
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others.
 
All members of the Eventide whose profession involves ships learn to swim very well at a young age. In times of war, their swimming ability is often put to the test. Although they feel comfortable on land, no Mariner ever truly feels at home when not near the water."
    die_sound=MALE_HUMAN_DIE
    {DEFENSE_ANIM "units/eventide/Swabbie.png" "units/eventide/Swabbie.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=cutlass
        description= _ "cutlass"
        type=blade
        range=melee
        damage=5
        number=5
        icon=attacks/sword-human-short.png
    [/attack]
    [attack]
        name=crossbow
        #textdomain wesnoth-units
        description={STR_CROSSBOW}
        type=pierce
        range=ranged
        damage=12
        number=1
        icon=attacks/crossbow-human.png
    [/attack]
[/unit_type]
