#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_infernai_Cerberus
    name= _ "Cerberus"
    race=AE_mrc_infernai_race
    gender=male
    image="units/fiends/cerberus.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=58
    movement_type=AE_mrc_infernai_infernaidog
    movement=8
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=wolf-die.wav
    cost=44
    usage=scout
    description={AE_MRC_UNIT_NOTICE}+"For unknown reasons, the oldest and largest hellhounds grow extra heads, each one is completely independent and can strike at its own opponent."

    [resistance]
        fire=40
    [/resistance]

    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]

    #{DEFENSE_ANIM "" "" wolf-hit.wav }

    [attack]
        name=Claws
        description={STR_CLAWS}
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=7
        number=5
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Fangs
        description={STR_FANGS}
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=10
        number=3
        [specials]
            {AE_MRC_WEAPON_SPECIAL_TRIPLESTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=Firebreath
        description= _ "Firebreath"
        icon=attacks/fire-breath-drake.png
        type=fire
        range=ranged
        damage=6
        number=4
        [specials]
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Claws
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/fiends/cerberus.png"
            sound=claws.ogg
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=Fangs
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/fiends/cerberus.png"
            sound=wolf-growl-1.ogg
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=Firebreath
        [/filter_attack]
        missile_start_time=-350
        [missile_frame]
            duration=350
            image="projectiles/fireball-n.png"
            image_diagonal="projectiles/fireball-nw.png"
            sound=fire.wav
        [/missile_frame]
        start_time=-200
        [frame]
            image=units/fiends/cerberus.png
        [/frame]
    [/attack_anim]
[/unit_type]
