#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_infernai_Fiend
    name= _ "Fiend"
    race=AE_mrc_infernai_race
    gender=male
    image="units/fiends/fiend.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=36
    movement_type=AE_mrc_infernai_infernaifoot
    movement=5
    experience=34
    level=1
    alignment=chaotic
    advances_to=AE_mrc_infernai_Demon,AE_mrc_infernai_Archfiend,AE_mrc_infernai_Sadist
    die_sound=drake-die.ogg
    cost=15
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"While in most religions infernai are thought to be fallen souls of human, they actually are completely soulless. Infernai are solidified sin, which has taken the form of flesh and blood. Because of the amount of evil within them they are generically loving of pain and suffering, and feed on other peoples misery."

    [resistance]
        fire=50
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:DRAKE_HIT} }

    [attack]
        name=Claws
        description={STR_CLAWS}
        icon=attacks/claws-flaming.png
        type=blade
        range=melee
        damage=5
        number=4
        [specials]
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Claws
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/fiends/fiend.png"
            sound=claws.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
