#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_infernai_Controlled
    name= _ "Controlled"
    race=AE_mrc_infernai_race
    gender=male
    image="units/destroyers-zombies/zombie-bladedancer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=30
    movement_type=AE_mrc_infernai_infernaiheavy
    movement=4
    experience=24
    level=1
    alignment=chaotic
    advances_to=AE_mrc_infernai_Possessed
    die_sound=drake-die.ogg
    cost=14
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"Placeholder art is from Era of Magic.
"

    [resistance]
        arcane=90
        blade=100
        cold=110
        fire=100
        impact=100
        pierce=100
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:DRAKE_HIT} }

    [attack]
        name=Claws
        description={STR_CLAWS}
        icon=attacks/claws-flaming.png
        type=blade
        range=melee
        damage=4
        number=4
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Claws
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image=units/destroyers-zombies/zombie-bladedancer.png
            sound=claws.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
