#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_agl_frozen_frost_witch
    name= _ "Frost Witch"
    race=AE_frozen_human
    image="units/frozen/frost_witch.png"
    hitpoints=35
    movement_type=frozen_smallfoot
    movement=6
    experience=100
    level=2
    alignment=neutral
    advances_to=AE_agl_frozen_frost_queen
    cost=37
    usage=archer
    description= _ "This units coding is by ChaosRider and art by Zerovirus
"
    {DEFENSE_ANIM "units/frozen/frost_witch.png" "units/frozen/frost_witch.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [abilities]
        {ABILITY_CURES}
    [/abilities]
    [resistance]
        blade=105
        pierce=100
        impact=105
        fire=115
        cold=55
        arcane=95
    [/resistance]

    [defense]
        shallow_water=60
        reef=50
        swamp_water=60
        flat=50
        desert=80
        sand=80
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=60
        frozen=40
        fungus=60
    [/defense]

    [attack]
        name=freeze_touch
        description= _ "freeze touch"
        type=cold
        range=melee
        damage=5
        number=2
        icon=attacks/claws-ice.png

        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=frozen_soul
        description= _ "frozen soul"
        type=cold
        range=ranged
        damage=13
        number=2
        icon=attacks/Bane.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=frozen_soul
        [/filter_attack]
        {MISSILE_FRAME_LIGHT_BEAM}
        [frame]
            begin=-400
            end=0
            image="units/frozen/frost_witch.png"
            sound=wail-sml.wav
        [/frame]
        [frame]
            begin=0
            end=400
            image="units/frozen/frost_witch.png"
            sound=wail-sml.wav
        [/frame]
    [/attack_anim]
[/unit_type]
