#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_agl_frozen_frost_heavy_warrior
    name= _ "Frost Heavy Warrior"
    race=AE_frozen_human
    image="units/frozen/frost_heavy_warrior.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=57
    movement_type=frozen_smallfoot
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=57
    usage=fighter
    description= _ "This units coding is by ChaosRider and art by Zerovirus
"
    {DEFENSE_ANIM "units/frozen/frost_heavy_warrior.png" "units/frozen/frost_heavy_warrior.png" {SOUND_LIST:HUMAN_HIT}}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
    [/abilities]

    [resistance]
        blade=70
        pierce=80
        impact=90
        fire=120
        cold=60
        arcane=120
    [/resistance]

    [attack]
        name=frosty_sword
        description= _ "frosty sword"
        type=blade
        range=melee
        damage=18
        number=3
        icon=attacks/iceblades.png
    [/attack]
    [attack]
        name=cold_sword
        description= _ "cold sword"
        type=cold
        range=melee
        damage=15
        number=2
        icon=attacks/icy_sword.png
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
[/unit_type]
