#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_agl_frozen_frost_student
    name= _ "Frost Student"
    race=AE_frozen_human
    image="units/frozen/frost_student.png"
    hitpoints=23
    movement_type=frozen_smallfoot
    movement=6
    experience=46
    level=1
    alignment=neutral
    advances_to=AE_agl_frozen_frost_mage,AE_agl_frozen_frost_witch
    cost=16
    usage=archer
    description= _ "This units coding is by ChaosRider and art by Zerovirus
"
    {DEFENSE_ANIM "units/frozen/frost_student.png" "units/frozen/frost_student.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    [resistance]
        blade=110
        pierce=100
        impact=110
        fire=120
        cold=60
        arcane=100
    [/resistance]

    [defense]
        shallow_water=70
        reef=60
        swamp_water=70
        flat=60
        desert=80
        sand=80
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=60
        frozen=40
        fungus=60
    [/defense]

    [attack]
        name=cold_touch
        description= _ "cold touch"
        type=cold
        range=melee
        damage=4
        number=2
        icon=attacks/claws-ice.png
    [/attack]
    [attack]
        name=ancient_flame
        description= _ "ancient flame"
        type=arcane
        range=ranged
        damage=7
        number=3
        icon=attacks/ice-blast.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=ancient_flame
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                sound=magic-faeriefire.ogg
                image="units/frozen/frost_student.png"
            [/frame]
            [missile_frame]
                begin=-500
                end=-350
                image="projectiles/watermissile-n-1.png"
                image_diagonal="projectiles/watermissile-ne-1.png"
            [/missile_frame]
            [missile_frame]
                begin=-350
                end=-200
                image="projectiles/watermissile-n-2.png"
                image_diagonal="projectiles/watermissile-ne-2.png"
            [/missile_frame]
            [missile_frame]
                begin=-200
                end=-50
                image="projectiles/watermissile-n-3.png"
                image_diagonal="projectiles/watermissile-ne-3.png"
            [/missile_frame]
            [missile_frame]
                begin=-50
                end=0
                image="projectiles/watermissile-n-4.png"
                image_diagonal="projectiles/watermissile-ne-4.png"
            [/missile_frame]
            [missile_frame]
                begin=25
                end=75
                image="projectiles/watermissile-n-5.png"
                image_diagonal="projectiles/watermissile-ne-5.png"
            [/missile_frame]
            [missile_frame]
                begin=75
                end=125
                image="projectiles/watermissile-n-6.png"
                image_diagonal="projectiles/watermissile-ne-6.png"
            [/missile_frame]
            [missile_frame]
                begin=125
                end=175
                image="projectiles/watermissile-n-7.png"
                image_diagonal="projectiles/watermissile-ne-7.png"
            [/missile_frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                sound=magic-faeriefire-miss.ogg
                image="units/frozen/frost_student.png"
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
