#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_arc_menagerie_Azure_Mage
    name= _ "Azure Mage"
    race=human
    gender=male
    # let's just get one gender right first
    #    gender=male,female
    image="units/menagerie/azure-mage.png"
    profile="portraits/menagerie/azure-mage.png"
    hitpoints=60
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=60
    usage=mixed fighter
    description={AE_ARC_UNIT_NOTICE}+_"...
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/menagerie/azure-mage.png" "units/menagerie/azure-mage.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [resistance]
        blade=90
        pierce=90
        impact=80
        fire=90
        cold=90
    [/resistance]
    [attack]
        name=blade
        description={STR_SWORD}
        icon=attacks/sword-steel.png
        type=blade
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=fireball
        description={STR_FIREBALL}
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=10
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL}
        start_time=-575
        [frame]
            image="units/menagerie/azure-mage.png:50"
        [/frame]
        [frame]
            image="units/menagerie/azure-mage.png:100"
            sound=fire.wav
        [/frame]
        [frame]
            image="units/menagerie/azure-mage.png:225"
            #            image="units/human-magi/red-mage-attack-magic-[2,1].png:[150,75]"
        [/frame]
        [frame]
            image="units/menagerie/azure-mage.png:75"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=blade
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/menagerie/azure-mage.png:50"
        [/frame]
        [frame]
            image="units/menagerie/azure-mage.png:300"
            #            image="units/human-magi/red-mage-attack-staff-[1~2].png:[100,200]"
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -100}
        [frame]
            image="units/menagerie/azure-mage.png:75"
        [/frame]
        [frame]
            image="units/menagerie/azure-mage.png:75"
        [/frame]
    [/attack_anim]
#ifdef __UNUSED__
    [female]
        name= _ "female^Red Mage"
        gender=female
        image="units/human-magi/red-mage+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        profile="portraits/humans/mage-red+female.png"
        {DEFENSE_ANIM "units/human-magi/red-mage+female-defend.png" "units/human-magi/red-mage+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [portrait]
            size=400
            side="left"
            mirror="false"
            image="portraits/humans/mage-red+female.png"
        [/portrait]
        [portrait]
            size=400
            side="right"
            mirror="true"
            image="portraits/humans/mage-red+female.png"
        [/portrait]
        [attack_anim]
            [filter_attack]
                name=fireball
            [/filter_attack]
            {MISSILE_FRAME_FIREBALL}
            [frame]
                image="units/human-magi/red-mage+female.png:50"
            [/frame]
            [frame]
                image="units/human-magi/red-mage+female-attack-magic-1.png:100"
            [/frame]
            [frame]
                image="units/human-magi/red-mage+female-attack-magic-[2,1].png:[150,75]"
            [/frame]
            [frame]
                image="units/human-magi/red-mage+female.png:75"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=staff
            [/filter_attack]
            [frame]
                image="units/human-magi/red-mage+female.png:50"
            [/frame]
            [frame]
                image="units/human-magi/red-mage+female-attack-staff-[1~2].png:[100,200]"
            [/frame]
            [frame]
                image="units/human-magi/red-mage+female-attack-magic-1.png:75"
            [/frame]
            [frame]
                image="units/human-magi/red-mage+female.png:75"
            [/frame]
        [/attack_anim]
    [/female]
#endif
[/unit_type]
