#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_arc_menagerie_Blue_Unicorn
    name= _ "Blue Unicorn"
    race=monster
    image="units/menagerie/blue_unicorn.png"
    profile="portraits/menagerie/blue_unicorn.png"
    hitpoints=62
    movement_type=orcishfoot
    movement=5
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=34
    usage=fighter
    [resistance]
        pierce=60
        blade=60
        impact=60
        cold=80
        fire=80
        arcane=120
    [/resistance]
    description={AE_ARC_UNIT_NOTICE}+_"..."
    die_sound=drake-die.ogg
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    [attack]
        name=claws
        description={STR_CLAWS}
        type=blade
        icon=attacks/claws.png
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=horn
        description= _ "horn"
        type=pierce
        icon=attacks/blank-attack.png
        range=melee
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
        damage=12
        number=2
    [/attack]
    {DEFENSE_ANIM "units/menagerie/blue_unicorn.png" "units/menagerie/blue_unicorn.png" {SOUND_LIST:DRAKE_HIT} }
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        offset="0~0.5,0.5~0"
        start_time=-100
        [frame]
            image="units/menagerie/blue_unicorn.png:200"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=horn
        [/filter_attack]
        offset="0~0.8,0.8~0"
        start_time=-200
        [frame]
            image="units/menagerie/blue_unicorn.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
[/unit_type]
