#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_arc_Tri_Mech_Scout
    name= _ "Scout Robot"
    race=AE_arc_tri_mech
    image="units/menagerie/mech-scout.png"
    profile=portraits/mech-scout.png
    #
    #    {DEFENSE_ANIM "units/cyborg.png" "units/cyborg.png" {SOUND_LIST:FEMALE_HUMAN_HIT} }
    hitpoints=12
    movement_type=AE_arc_tri_wheel
    movement=6
    experience=24
    level=0
    alignment=neutral
    advances_to=AE_arc_Tri_Mech_Seeker
    #    {AMLA_DEFAULT}
    cost=9
    usage=scout
    description={AE_ARC_UNIT_NOTICE} +  _ "…"
    die_sound=fire.wav
    [attack]
        name=spark
        description= _ "spark"
        icon=attacks/faerie-fire.png
        type=fire
        range=ranged
        damage=12
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spark
        [/filter_attack]
        start_time=0
        {MISSILE_FRAME_FAERIE_FIRE}
        [frame]
            image=units/menagerie/mech-scout.png
            duration=350
            sound=explosion.ogg
        [/frame]
    [/attack_anim]
    [animation]
        apply_to=death
        start_time=0
        image_mod=~CS(280,-180,-180)
        fire_start_time=100
        fire_halo_mod=~SCALE(40,40)
        [frame]
            image=units/menagerie/mech-scout.png
            duration=350
            sound=explosion.ogg
        [/frame]
        [fire_frame]
            halo="projectiles/fire-burst-small-[1~8].png"
            duration=600
        [/fire_frame]
    [/animation]

[/unit_type]
