#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_chs_elementals_Djinn
    name= _ "Djinn"
    race=AE_chs_elemental
    {AE_CHS_AIR_ELEMENTAL_TRAITS}
    image="units/elementals/djinn.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=55
    movement_type=AE_chs_windfly
    movement=6
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=65
    usage=archer
    die_sound=wail-long.wav
    description={AE_EOC_UNIT_NOTICE}+"For centuries, there have been tales about mighty wind spirits known as djinns that are oft summonable with magical metallic objects of ethereal origin. In many stories, these objects are oil lamps. Most of the tales mention that if a djinn is summoned by these types of objects, the djinn is obliged to carry out the wishes of the summoner. Due to this fact, the abilities of djinns are often highly exaggerated, to the point of granting any wish of the summoner. In reality, these spirits are only capable of accomplishing feats within the limits of the power of the wind and swordsmanship.

Despite the reality of these creatures' abilities, many believe that djinns are virtually omnipotent beings, thus they speculate what force or god created the djinn and for what reason. Some even believe that a race of divine beings created the djinn in order to serve them. Although these theories could be true, djinns are often spawned by violent storms being exposed to incredibly powerful magic or created by immensely powerful wind mages."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}
    {DEFENSE_ANIM "units/elementals/djinn.png" "units/elementals/djinn.png" wail.wav }
    [attack]
        name=scimitar
        description= _ "scimitar"
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=tornado
        description= _ "northern wind"
        type=cold
        range=ranged
        damage=14
        number=3
        icon=attacks/northwind.png
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=tornado
        description= _ "tornado"
        type=impact
        range=ranged
        damage=21
        number=2
        icon=attacks/tornado.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=scimitar
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/elementals/djinn.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/elementals/djinn.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/elementals/djinn.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/elementals/djinn.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=tornado
        [/filter_attack]
        {MISSILE_FRAME_RAVAGE}
        [frame]
            begin=-100
            end=100
            image="units/elementals/djinn.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/elementals/djinn.png"
            sound=magic-faeriefire.ogg
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/elementals/djinn.png"
        [/frame]
    [/attack_anim]
[/unit_type]
