#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_chs_elementals_Nicor
    name= _ "Nicor"
    race=AE_chs_elemental
    {AE_CHS_WATER_ELEMENTAL_TRAITS}
    image="units/elementals/tempest-spirit.png"
    profile="portraits/elementals/water-tempest.png"
    small_profile="portraits/elementals/water-tempest.png~SCALE(205,205)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=46
    movement_type=AE_chs_water
    movement=6
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=42
    usage=mixed fighter
    die_sound=mermen-die.ogg
    description={AE_EOC_UNIT_NOTICE}+"Tempest Spirits are manifestations of water that is influenced by the likes of a deadly storm, due to this these spirits weild very dangerous power and are often subject to being angered easily. Due to this it is best to avoid these spirits, unless you are certain you either have a way of reasoning with them or can counter their awesome power."+{SPECIAL_NOTES}+{SPECIAL_NOTES_AQUATIC_BODY}
    {DEFENSE_ANIM "units/elementals/tempest-spirit.png" "units/elementals/tempest-spirit.png" mermen-hit.wav }
    [abilities]
        {AE_CHS_ABILITY_WATERY_RESURGENCE}
    [/abilities]
    [attack]
        name=water punch
        description= _ "water punch"
        type=cold
        range=melee
        damage=10
        number=3
        icon=attacks/waterspray.png
    [/attack]
    [attack]
        name=water spray
        description={STR_WATER_SPRAY}
        type=impact
        range=ranged
        damage=9
        number=3
        icon=attacks/waterspray.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=water punch
        [/filter_attack]
        [frame]
            begin=-100
            end=50
            image="units/elementals/tempest-spirit.png"
        [/frame]
        [frame]
            begin=-100
            end=50
            image="units/elementals/tempest-spirit.png"
            sound=water-blast.wav
        [/frame]
        [frame]
            begin=-100
            end=50
            image="units/elementals/tempest-spirit.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=water spray
        [/filter_attack]
        {MISSILE_FRAME_WATER_SPRAY}
        [frame]
            begin=-100
            end=50
            image="units/elementals/tempest-spirit.png"
        [/frame]
        [frame]
            begin=-100
            end=50
            image="units/elementals/tempest-spirit.png"
            sound=water-blast.wav
        [/frame]
        [frame]
            begin=-100
            end=50
            image="units/elementals/tempest-spirit.png"
        [/frame]
    [/attack_anim]
[/unit_type]
