#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_chs_elementals_Stone_Giant
    name= _ "Stone Giant"
    race=AE_chs_elemental
    {AE_CHS_EARTH_ELEMENTAL_TRAITS}
    image="units/elementals/golem.png"
    profile="portraits/elementals/rock-golem.png"
    small_profile="portraits/elementals/rock-golem.png~SCALE(205,205)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=49
    movement_type=largefoot
    [resistance]
        blade=65
        fire=80
        impact=70
        pierce=55
        cold=80
        arcane=120
    [/resistance]
    [movement_costs]
        cave=1
    [/movement_costs]
    movement=4
    experience=78
    level=2
    alignment=neutral
    advances_to=AE_chs_elementals_Stone_Titan
    cost=32
    usage=fighter
    description={AE_EOC_UNIT_NOTICE}+"Rock Golems are creatures made out of solid, living rock. They have a weak attack, but are incredibly hard to destroy."+{SPECIAL_NOTES}+{SPECIAL_NOTES_EARTH_RECUPERATION}
    {DEFENSE_ANIM "units/elementals/golem-defend.png" "units/elementals/golem.png" {SOUND_LIST:DRAKE_HIT} }
    die_sound=drake-die.ogg
    [abilities]
        {AE_CHS_ABILITY_EARTHEN_RESURGENCE}
    [/abilities]
    [attack]
        name=fist
        description={STR_FIST}
        type=impact
        range=melee
        damage=8
        number=3
        icon=attacks/fist-troll.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        [frame]
            duration=50
            image="units/elementals/golem.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/elementals/golem-attack.png"
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/elementals/golem-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/elementals/golem.png"
        [/frame]
    [/attack_anim]
    [death]
        start_time=0
        [frame]
            duration=50
            image="units/elementals/golem.png"
        [/frame]
        [frame]
            duration=100
            image="units/elementals/golem-die1.png"
        [/frame]
        [frame]
            duration=100
            image="units/elementals/golem-die2.png"
        [/frame]
        [frame]
            duration=100
            image="units/elementals/golem-die3.png"
        [/frame]
    [/death]
[/unit_type]
