#textdomain wesnoth-Ageless_Era

[race]
    id=AE_myh_gargoyle
    name= _ "race^Gargoyle"
    female_name= _ "race+female^Gargoyle"
    plural_name= _ "race^Gargoyles"
    num_traits=1
    {TRAIT_MECHANICAL}

    description= {AE_EOM_RACE_NOTICE} + _ "Vampires can animate stones with blood magics, the result are gargoyles."
[/race]

# wmllint: general spellings Bloodborn

[race]
    id=AE_myh_vampire
    male_name= _ "race^Vampire"
    female_name= _ "race+female^Vampire"
    plural_name= _ "race^Vampires"
    undead_variation=null
    ignore_global_traits=no
    num_traits=3
    {TRAIT_UNDRAINABLE}

    {TRAIT_OBEDIENT}

    {VAMPIRE_NAMES}

    description= {AE_EOM_RACE_NOTICE} + _ "Vampires means 'tainted blood' in the therian language, and indeed vampires are not in and of themselves a race, but rather what happens when blood is tainted. Vampires usually appear much like what they were made out of except with pale skin, white hair, red eyes, and fangs. Vampires have a certain power over people that people can't quite understand. They naturally rise to lordship over humans, whom they treat as serfs. Vampires require blood to live, and thus harvest their serfs of it whenever they feel like. Among themselves, vampires tend to have a feudal system, with the humans as the serfs, and the vampires as the aristocrats. Most of these vampires have not allot of personal strength or charisma, so they rely on the vampire lord to subject the humans they manipulate while trying to earn favor with the vampire lord so that they can get more blood. Vampires are obsessed with blood, it is their currency, and most of their magics involve it."
[/race]

[movetype]
    name=AE_myh_vampfoot
    [movement_costs]
        shallow_water=3
        reef=3
        swamp_water=3
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=3
        fungus=2
    [/movement_costs]

    [defense]
        shallow_water=80
        reef=80
        swamp_water=80
        flat=60
        sand=70
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=60
        frozen=80
        fungus=50
    [/defense]

    [resistance]
        blade=100
        pierce=110
        impact=100
        fire=110
        cold=100
        arcane=110
    [/resistance]
[/movetype]

[movetype]
    name=AE_myh_hulkfoot
    [movement_costs]
        shallow_water=2
        reef=2
        swamp_water=2
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=1
        frozen=2
        fungus=1
    [/movement_costs]

    [defense]
        shallow_water=80
        reef=80
        swamp_water=80
        flat=70
        sand=70
        forest=70
        hills=60
        mountains=50
        village=50
        castle=40
        cave=70
        frozen=80
        fungus=60
    [/defense]

    [resistance]
        blade=70
        pierce=90
        impact=60
        fire=110
        cold=100
        arcane=110
    [/resistance]
[/movetype]

[movetype]
    name=AE_myh_gargoyle
    flies=true
    [movement_costs]
        deep_water=2
        shallow_water=1
        reef=1
        swamp_water=1
        flat=1
        sand=1
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=1
        unwalkable=2
        fungus=1
    [/movement_costs]

    [defense]
        deep_water=70
        shallow_water=60
        reef=60
        swamp_water=60
        flat=50
        sand=50
        forest=60
        hills=50
        mountains=60
        village=50
        castle=40
        cave=60
        frozen=50
        unwalkable=50
        fungus=50
    [/defense]

    [resistance]
        blade=80
        pierce=60
        impact=90
        fire=90
        cold=90
        arcane=100
    [/resistance]
[/movetype]
