#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_imp_Sidhe_Young_Bear
    name= _ "Young Bear"
    race=AE_imp_Sidhe_Bear
    image="units/bears/young.png"
    profile="portraits/animals/young.png)"
    hitpoints=45
    movement_type=AE_imp_sidhebear
    movement=5
    experience=45
    level=1
    alignment=neutral
    advances_to=AE_imp_Sidhe_Bear
    cost=18
    usage=fighter
    description= _ "This unit is from Imperial Era. Its coding and art were done by Turin and Various others.
 
It's rare to see bears motivated enough to enter a fight in a meaningful way. Nevertheless, occasionally one of these enormous beasts will find some motivation, whether it be danger to its territory, desperation for food, or even through service to an ally. Even a juvenile bear is a fearsome sight on the battlefield, rending and tearing with its claws and crushing with its powerful limbs and sheer mass. Its heavy fur, thick skin, and already impressive bulk defy its surprising agility in the forest."
    #get_hit_sound=yeti-hit.ogg
    die_sound=yeti-die.ogg
    [attack]
        name=bearhug
        description= _ "bearhug"
        icon=attacks/claws-animal.png
        type=impact
        range=melee
        damage=10
        number=2
    [/attack]
    [attack]
        name=claws
        description={STR_CLAWS}
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=10
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bearhug
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=150
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=150
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=150
                sound=claws.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=150
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
