#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_rhy_rg_Master_Bowman
    [base_unit]
        id=Master Bowman
    [/base_unit]
    name= _ "Regis Master Bowman"
    hide_help=false
    do_not_list=no
    race=AE_rhy_race_human_R
[/unit_type]
