#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_rhy_rg_Longbowman
    [base_unit]
        id=Longbowman
    [/base_unit]
    name= _ "Regis Longbowman"
    advances_to=AE_rhy_rg_Master_Bowman
    hide_help=false
    do_not_list=no
    race=AE_rhy_race_human_R
[/unit_type]
