#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_rhy_rg_Arch_Mage
    [base_unit]
        id=Arch Mage
    [/base_unit]
    name= _ "Regis Arch Mage"
    advances_to=AE_rhy_rg_Great_Mage
    hide_help=false
    do_not_list=no
    race=AE_rhy_race_human_R
[/unit_type]
