#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_rg_Great_Mage
    [base_unit]
        id=Great Mage
    [/base_unit]
    name= _ "Regis Great Mage"
    hide_help=false
    do_not_list=no
    race=AE_rhy_race_human_R
[/unit_type]
