#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_rhy_rg_Noble_Commander
    name= _ "Regis Noble Commander"
    race=AE_rhy_race_human_R
    image="units/human-regis/noble-commander.png"
    small_profile="portraits/humans/transparent/noble-commander.png~SCALE(205,205)"
    hitpoints=40
    movement_type=smallfoot
    movement=6
    experience=80
    level=2
    alignment=lawful
    advances_to=AE_rhy_rg_Noble_Lord
    cost=35
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+""+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM_RANGE "units/human-regis/noble-commander.png" "units/human-regis/noble-commander.png" {SOUND_LIST:HUMAN_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/human-regis/noble-commander.png" "units/human-regis/noble-commander.png" {SOUND_LIST:HUMAN_HIT} ranged}
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=crossbow
        description={STR_CROSSBOW}
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=5
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=crossbow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-400
            end=-300
            image="units/human-regis/noble-commander.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-300
                end=-150
                image="units/human-regis/noble-commander.png"
                sound=crossbow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-300
                end=-150
                image="units/human-regis/noble-commander.png"
                sound=crossbow-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-150
            end=0
            image="units/human-regis/noble-commander.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-225
            end=-175
            image="units/human-regis/noble-commander.png"
        [/frame]
        [frame]
            begin=-175
            end=-100
            image="units/human-regis/noble-commander.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/human-regis/noble-commander.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/human-regis/noble-commander.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/human-regis/noble-commander.png"
        [/frame]
    [/attack_anim]
[/unit_type]
