#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_rhy_rg_Spearman
    [base_unit]
        id=Spearman
    [/base_unit]
    name= _ "Regis Spearman"
    advances_to=AE_rhy_rg_Swordsman,AE_rhy_rg_Pikeman,AE_rhy_rg_Javelineer
    hide_help=false
    do_not_list=no
    race=AE_rhy_race_human_R
[/unit_type]
