#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_rg_Javelineer
    [base_unit]
        id=Javelineer
    [/base_unit]
    name= _ "Regis Javelineer"
    advances_to=AE_rhy_rg_Master_Javelineer
    experience=70
    hide_help=false
    do_not_list=no
    race=AE_rhy_race_human_R
[/unit_type]
