#textdomain wesnoth-units
[unit_type]
    id=AE_rhy_rg_Halberdier
    name= _ "Regis Palace Guard"
    race=AE_RHY_human
    image="units/human-regis/halberdier.png"
    profile="portraits/humans/halberdier.png"
    hitpoints=74
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=54
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Exceptional Pike users may learn how the use of a halbert and act as guards in high prestige places. Some might even protect the royal palace itself."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-regis/halberdier.png" "units/human-regis/halberdier.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        pierce=60
        impact=90
        blade=90
    [/resistance]
    [attack]
        name=spear
        description=_"halberd"
        icon=attacks/halberd.png
        type=pierce
        range=melee
        damage=15
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=halberd
        description=_"halberd"
        icon=attacks/halberd.png
        type=blade
        range=melee
        damage=17
        number=2
    [/attack]
    {AE_RHY_ANIM_SPEAR human-regis/halberdier}
    [attack_anim]
        [filter_attack]
            name=halberd
            type=blade
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/human-regis/halberdier.png:50"
        [/frame]
        [frame]
            image="units/human-regis/halberdier.png:[300]"
        [/frame]
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
        [frame]
            image="units/human-regis/halberdier.png:150"
        [/frame]
    [/attack_anim]
[/unit_type]
