#textdomain wesnoth-units
[unit_type]
    id=AE_rhy_rg_Royal_Guard
    name= _ "Regis Royal Guard"
    race=AE_RHY_human
    image="units/human-regis/royalguard.png"
    profile="portraits/humans/royal-guard.png"
    hitpoints=74
    movement_type=smallfoot
    movement=6
    experience=134
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=52
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Royal Guards are picked from the best swordsmen. Serving under any of the higher nobility, they function as bodyguards, and partly as a badge of office for their employers. A special force of Royal Guards is stationed at the capital, guarding the palace grounds and the royal family. Because of their trusted relationship to their superiors, they, rather than mercenaries, are often deployed on missions of crucial import. Their reliability and mastery of close combat are their best assets, for which they are well-renowned."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-regis/royalguard.png" "units/human-regis/royalguard.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        blade=80
        impact=90
    [/resistance]
    [attack]
        name=sword
        description={STR_LONGSWORD}
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=11
        number=4
        parry=5
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-300
        [frame]
            image="units/human-regis/royalguard.png:50"
            offset=0.0~0.1
        [/frame]
        [frame]
            image="units/human-regis/royalguard.png:50"
            offset=0.1~0.15
        [/frame]
        [frame]
            image="units/human-regis/royalguard.png:[400]"
            offset=0.15~0.35:100,0.35~0.45:75,0.45~0.5:100,0.5:20,0.5~0.4:30,0.4~0.2:75
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
        [frame]
            image="units/human-regis/royalguard.png:75"
            offset=0.2~0.0
        [/frame]
    [/attack_anim]
[/unit_type]
