#textdomain wesnoth-units
[unit_type]
    id=AE_rhy_rg_Squire
    name= _ "Regis Squire"
    race=AE_RHY_human
    image="units/human-regis/squire.png"
    hitpoints=38
    movement_type=smallfoot
    movement=5
    experience=36
    level=1
    alignment=lawful
    advances_to=AE_rhy_rg_Swordsman,AE_rhy_rg_Pikeman
    cost=14
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-regis/squire.png" "units/human-regis/squire.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=axe
        description=_"axe"
        type=blade
        range=melee
        damage=7
        number=3
        icon=attacks/axe.png
    [/attack]
    [attack]
        name=hatchet
        description= _ "hatchet"
        icon=attacks/hatchet.png
        type=blade
        range=ranged
        damage=4
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hatchet
        [/filter_attack]
        start_time=-550
        {MISSILE_FRAME_HATCHET}
        [frame]
            image="units/human-regis/squire.png:700"
        [/frame]
        {SOUND:HIT_AND_MISS hatchet.wav hatchet-miss.wav -150}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        start_time=-250
        offset="0~0.5,0.5~0"
        [frame]
            image="units/human-regis/squire.png:350"
        [/frame]
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
