#textdomain wesnoth-Forgotten_Legends

[unit_type]
    id=AE_FL_bloodelf_Fire_Bird
    name= _ "Fire Bird"
    race=monster
    image="frakcja3/firebird-flying-2.png"

    hitpoints=48
    movement_type=fly
    movement=7
    experience=82
    level=2
    alignment=lawful
    advances_to=AE_FL_bloodelf_Phoenix
    num_traits=1
    usage=mixed fighter
    cost=37
    description={AE_FGTNL_UNIT_NOTICE}+ _ "Long ago, when Altaris and Blood Elves fighted a common foregeing enemy that invaded both at same time, blood elves acted opportunely and raided the lands of Altaris fire lords of the fire just after they defeated these non well remembered enemy. Ressult was in a sucessful conquest for Blood Elves over the already wounded and weaken Altaris Firelords.
	
	While this act will never be forgotten by Altaris, both Altaris and Blood Elves were still too busy at dealing their common invader enemies in that moment. 

From this extremely sucessful raid, Blood Elves became proficient and talented with fire magic and many of its uses as they had inherent talent for this element. Even, as soon as Blood Elves were about to raid and destroy the phoenix lair and eggs and fight againist phoenixes they got as surprise that phoenix instead of attacking them welcomed them as dign fire channelers, blood elves recognized inmediatly that fighting phoenix would just cause unnecesary cassualties, and also that they could also hatch and grow phoenix for their armies which phoenix kept loyal to them for since their meeting."
    {DEFENSE_ANIM "frakcja3/firebird-flying-4.png" "frakcja3/firebird-flying-5.png" {SOUND_LIST:GRYPHON_HIT}}
    die_sound={SOUND_LIST:GRYPHON_DIE}

    [abilities]
        {ABILITY_AE_MAG_REGENERATE 4}
    [/abilities]

    [defense]
        cave=60
        frozen=60
        mountains=40
        hills=40
    [/defense]
    [movement_costs]
        cave=1
        fungus=1
    [/movement_costs]

    [attack]
        name=claws
        description={STR_CLAWS}
        type=blade
        range=melee
        damage=6
        number=3
        icon=attacks/claws-flaming.png
    [/attack]

    [attack]
        name=skrzydla
        description=_"fire wings"
        type=fire
        range=melee
        damage=9
        number=2
        icon=attacks/claws-fire-elemental.png
        [specials]
            {WEAPON_SPECIAL_AE_MAG_ATTACK_ONLY}
        [/specials]
    [/attack]

    [attack]
        name=ognisty
        description={STR_FIRE_BREATH}
        type=fire
        range=ranged
        damage=6
        number=4
        icon=attacks/fire-blast.png
    [/attack]

    [resistance]
        blade=90
        pierce=100
        impact=100
        fire=15
        cold=140
        arcane=120
    [/resistance]
    [standing_anim]
        start_time=0
        layer=60
        [frame]
            duration=150
            image="frakcja3/firebird-flying-1.png"
        [/frame]
        [frame]
            duration=150
            image="frakcja3/firebird-flying-2.png"
        [/frame]
        [frame]
            duration=150
            image="frakcja3/firebird-flying-3.png"
        [/frame]
        [frame]
            duration=150
            image="frakcja3/firebird-flying-4.png"
        [/frame]
        [frame]
            duration=150
            image="frakcja3/firebird-flying-5.png"
        [/frame]
        [frame]
            duration=150
            image="frakcja3/firebird-flying-6.png"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            duration=150
            image="frakcja3/firebird-flying-1.png"
        [/frame]
        [frame]
            duration=150
            image="frakcja3/firebird-flying-2.png"
        [/frame]
        [frame]
            duration=150
            image="frakcja3/firebird-flying-3.png"
        [/frame]
        [frame]
            duration=150
            image="frakcja3/firebird-flying-4.png"
        [/frame]
        [frame]
            duration=150
            image="frakcja3/firebird-flying-5.png"
        [/frame]
        [frame]
            duration=150
            image="frakcja3/firebird-flying-6.png"
        [/frame]
    [/movement_anim]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="frakcja3/firebird-flying-5.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="frakcja3/firebird-flying-4.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="frakcja3/firebird-flying-4.png"
                sound=claws.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="frakcja3/firebird-flying-5.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=ognisty
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=150
            image="projectiles/fire-breath-n-1.png"
            image_diagonal="projectiles/fire-breath-ne-1.png"
        [/missile_frame]
        [frame]
            begin=-150
            end=0
            image="frakcja3/firebird-flying-2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-50
                end=50
                image="frakcja3/firebird-flying-3.png"
                sound=flame-big.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-110
                end=110
                image="frakcja3/firebird-flying-3.png"
                sound=flame-big-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
