#textdomain wesnoth-Ageless_Era

[race]
    id=AE_efm_darklanders
    name= _ "race^Darklander"
    plural_name= _ "race^Darklanders"
    {ELVISH_NAMES}
    description= _ "The Darklanders are a loose confederation of jungle tribes. Known for their callous cruelty and harsh ways most other nations leave them alone. This has backfired during the rare occasions when one of their priests has convinced an entire army to come with him and attempt to slay everyone in the world but none of them have ever gotten anywhere. As an odd quirk the darklanders are also known for their skill in metalwork and art. In battle the darklanders fare much better in their home terrain than in the open. The mad aura of their priests and the frenzy of their warriors makes a powerful combination."
    num_traits=2
[/race]
