#textdomain wesnoth-Ageless_Era

[race]
    id=AE_efm_pygmies
    name= _ "race^Pygmy"
    plural_name= _ "race^Pygmies"
    {ORCISH_NAMES}
    description= _ "The name pygmy means small people which describes these jungle dwellers quite accurately. They are a strange and secretive people who mostly leave everyone else alone. On the rare occasion when they have been attacked their methods of battle could be described as nothing short of unusual. As there are many many poisonous creatures and dangers in their native environment almost all of them know herb lore and first aid."
    num_traits=2
[/race]
