#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_darklanders_Jaguar_Rider
    name= _ "Jaguar Rider"
    race=AE_efm_darklanders
    image="units/darklander/jaguar_rider.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=34
    movement_type=woodland
    movement=8
    experience=34
    level=1
    alignment=chaotic
    advances_to=AE_efm_darklanders_Leopard_Rider,AE_efm_darklanders_Panther_Rider,AE_efm_darklanders_Cheetah_Rider
    cost=18
    usage=scout
    description={AE_EFM_UNIT_NOTICE}+"Even the younger children can aid the darklanders in their war efforts. Although not capable of fighting themselves they are small enough to ride the domesticated hunting cats that the darklanders breed. These cats can move swiftly through the jungle and are fierce fighters."
    {DEFENSE_ANIM "units/darklander/jaguar_rider.png" "units/darklander/jaguar_rider.png" jaguar-hit.ogg }
    undead_variation=human

    [defense]
        village=50
        forest=40
    [/defense]

    [resistance]
        arcane=80
    [/resistance]

    [attack]
        name=jaws
        description={STR_JAW}
        type=blade
        range=melee
        damage=4
        number=4
        icon=attacks/fangs.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=jaws
        [/filter_attack]
        start_time=-750
        [if]
            hits=no
            [frame]
                duration=950
                image="units/darklander/jaguar_rider.png"
                sound=jaguar-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=800
                image="units/darklander/jaguar_rider.png"
                sound=jaguar-attack.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
