#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_rhy_fh_bear
    name= _ "Forest Bear"
    race=monster
    image="units/human-forest/forest-bear.png"
    hitpoints=60
    movement_type=AE_RHY_animalfoot_big
    movement=4
    experience=98
    level=2
    alignment=neutral
    advances_to=AE_rhy_fh_bear_spirit
    cost=35
    description={AE_RHY_UNIT_NOTICE}+ _ "The back of the magical bear creatures is covered in leaves, so they often appear as bushes. Though they do not often attack on their own it is better not to travel to deep into their territory."+{SPECIAL_NOTES}+{SPECIAL_NOTES_AMBUSH}+{AE_RHY_SPECIAL_NOTES_FORESTREGEN}
    usage=fighter
    undead_variation=wose
    die_sound=yeti-die.ogg
    {DEFENSE_ANIM "units/human-forest/forest-bear.png" "units/human-forest/forest-bear.png" yeti-hit.ogg }
    [abilities]
        {ABILITY_AMBUSH}
        {AE_RHY_ABILITY_FORESTREGEN 6}
    [/abilities]
    [attack]
        name=crush
        description={STR_CRUSH}
        icon=attacks/crush-wose.png
        type=impact
        range=melee
        damage=12
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=crush
        [/filter_attack]
        start_time=-400
        [if]
            hits=yes
            [frame]
                duration=400
                image="units/human-forest/forest-bear.png"
                sound=wose-attack.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=400
                image="units/human-forest/forest-bear.png"
                sound=wose-miss.ogg
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/human-forest/forest-bear.png"
        [/frame]
    [/attack_anim]
[/unit_type]
