#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_fh_Trapper
    name= _ "Forest Trapper"
    race=AE_RHY_human
    image="units/human-forest/trapper.png"
    hitpoints=52
    movement_type=smallfoot
    movement=5
    level=2
    alignment=chaotic
    advances_to=null
    experience=100
    {AE_RHY_AMLA_ABILITY bounty "sell the trophies" {AE_RHY_ABILITY_BOUNTY} (icons/coins_copper.png)}
    {AMLA_DEFAULT}
    cost=26
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "The forest folk tries to live in harmony with nature and wildlife, but nevertheless, there are those who value profit more.
Trappers use their tools to capture wild animals and sell them for taming or for their fur.

The traps they set are dangerous for all creatures and can break the leg of a grown man."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-forest/trapper.png" "units/human-forest/trapper.png" {SOUND_LIST:HUMAN_HIT} }
    {AE_RHY_MOVETYPE_FORESTFOLK}
    [defense]
        swamp_water=50
    [/defense]
    [movement_costs]
        swamp_water=2
    [/movement_costs]
    [resistance]
        cold=90
    [/resistance]
    [abilities]
        {AE_RHY_ABILITY_TRAPPING}
    [/abilities]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear-orcish.png
        type=pierce
        range=melee
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=trap
        description= _ "trap"
        icon=attacks/trap.png
        #I think pierce makes the most sense here. Would be effective against a horse, but not against a wose or golem
        type=pierce
        range=melee
        damage=10
        number=2
        [specials]
            {AE_RHY_WEAPON_SPECIAL_INJURING}
            {AE_RHY_WEAPON_SPECIAL_LASTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=net
        description={STR_NET}
        icon=attacks/net.png
        type=impact
        range=ranged
        damage=6
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    {AE_RHY_ANIM_SPEAR human-forest/trapper}
    [attack_anim]
        [filter_attack]
            name=net
        [/filter_attack]
        start_time=-400
        missile_start_time=-150
        [missile_frame]
            begin=-150
            end=0
            image=projectiles/web.png
            image_diagonal=projectiles/web.png
        [/missile_frame]
        [frame]
            image="units/human-forest/trapper.png:460"
        [/frame]
        {SOUND:HIT_AND_MISS net.wav {SOUND_LIST:MISS} -230}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=trap
        [/filter_attack]
        start_time=-400
        [frame]
            image="units/human-forest/trapper.png:400"
            offset=0.0~0.2
        [/frame]
        {SOUND:HIT_AND_MISS flail.ogg flail-miss.ogg -200}
        [frame]
            image="units/human-forest/trapper.png:100"
            offset=0.2~0.0
        [/frame]
    [/attack_anim]
[/unit_type]
