#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_fh_Tamer
    name= _ "Forest Tamer"
    race=AE_RHY_human
    image="units/human-forest/tamer.png"
    hitpoints=54
    movement_type=smallfoot
    movement=5
    experience=60
    level=2
    alignment=neutral
    advances_to=AE_rhy_fh_Beastmaster
    cost=23
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Tamers grow with their animals, becoming better at taming them and fighting with them."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-forest/tamer.png" "units/human-forest/tamer.png" {SOUND_LIST:HUMAN_HIT} }
    {AE_RHY_MOVETYPE_FORESTFOLK}
    [resistance]
        pierce=80
        cold=90
    [/resistance]
    [abilities]
        {AE_RHY_ABILITY_BEASTTAMER 15}
    [/abilities]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear-orcish.png
        type=pierce
        range=melee
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    {AE_RHY_ANIM_SPEAR human-forest/tamer}
[/unit_type]
