#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_fh_Beastmaster
    name= _ "Forest Beastmaster"
    race=AE_RHY_human
    image="units/human-forest/beastmaster.png"
    hitpoints=69
    movement_type=smallfoot
    movement=5
    experience=134
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=51
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "The Beastmasters live up to their name. Often accompanied by many different animals, they are able to encorporate their taming ability into their fighting style."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-forest/beastmaster.png" "units/human-forest/beastmaster.png" {SOUND_LIST:HUMAN_HIT} }
    [defense]
        forest=40
        swamp_water=60
    [/defense]
    [movement_costs]
        forest=1
        swamp_water=2
    [/movement_costs]
    [resistance]
        pierce=80
        cold=90
    [/resistance]
    [abilities]
        {AE_RHY_ABILITY_BEASTTAMER 20}
    [/abilities]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear-orcish.png
        type=pierce
        range=melee
        damage=12
        number=4
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    {AE_RHY_ANIM_SPEAR human-forest/beastmaster}
[/unit_type]
