#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ele_Skeletal_Lich_King
    name= _ "Lich King"
    race=AE_ele_horned_skeleton
    image="units/undead-skeletal-horned/skeletal-lich-king.png"
    profile="portraits/skeletal-horned/skeletal-lich-king.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=60
    movement_type=AE_ele_skelinf
    movement=6
    experience=105
    level=3
    alignment=chaotic
    advances_to=AE_ele_Skeletal_Lich_Overlord
    cost=50
    usage=archer
    description={AE_ELE_ERA_NOTICE}+{AE_ELE_SKELETAL_NOTICE}+"..."
    die_sound=skeleton-die.ogg

    [abilities]
        {ABILITY_SUBMERGE}
        {AE_ELE_ABILITY_LICH_KING_LEVEL_3}
    [/abilities]

    [attack]
        name=bloody sword
        description= _ "bloody sword"
        icon=attacks/bloody-sword-three.png
        type=blade
        range=melee
        damage=7
        number=4
    [/attack]
    [attack]
        name=necro staff
        description= _ "necro staff"
        icon=attacks/staff-cursed.png
        type=impact
        range=melee
        damage=6
        number=4
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE AE_ele_Skeletal_Corpse}
        [/specials]
    [/attack]

    [attack]
        name=chill tempest
        description={STR_CHILL_TEMPEST}
        icon=attacks/forest-chill.png
        type=cold
        range=ranged
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=chill tempest
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            offset=1.0
            duration=150
            image="projectiles/chill-missle-n-3.png"
            image_diagonal="projectiles/chill-missle-ne-3.png"
        [/missile_frame]
        start_time=-450
        [frame]
            image="units/undead-skeletal-horned/skeletal-lich-king.png:65"
        [/frame]
        {SOUND:HIT_AND_MISS magic-dark.ogg magic-dark-miss.ogg -100}
        [frame]
            image="units/undead-skeletal-horned/skeletal-lich-king.png:50"
        [/frame]
    [/attack_anim]
[/unit_type]
