#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ele_Skeletal_Corpse_Amputator
    name= _ "Corpse Amputator"
    race=AE_ele_skeleton_corpse
    {TRAIT_FEARLESS_MUSTHAVE}
    image="units/undead-skeletal-horned/skeletal-corpse-amputator.png"
    profile="portraits/skeletal-horned/skeletal-corpse-amputator.png"
    hitpoints=42
    movement_type=AE_ele_skelinf
    movement=5
    experience=77
    level=2
    alignment=chaotic
    advances_to=AE_ele_Skeletal_Corpse_Eliminator
    cost=30
    usage=fighter
    description={AE_ELE_ERA_NOTICE}+{AE_ELE_SKELETAL_NOTICE}+"Perfectioning the technique of throwing heads over their enemies, amputator can strike harder with the heads of both fallen companions and heads of fallen enemies, tactic that makes them to be feared."
    die_sound=skeleton-die.ogg

    [abilities]
        {ABILITY_SUBMERGE}
        {AE_ELE_ABILITY_AMPUTATION}
    [/abilities]

    [attack]
        name=cleaver
        description={STR_CLEAVER}
        icon=attacks/bloody-cleaver.png
        type=blade
        range=melee
        damage=9
        number=3
    [/attack]

    [attack]
        name=severed head
        description= _ "severed head"
        icon=attacks/head.png
        type=impact
        range=melee
        damage=7
        number=2
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=severed head
        [/filter_attack]
        start_time=-445
        missile_start_time=-200
        [missile_frame]
            duration=200
            image="projectiles/bone-skul-[2~4,1].png"
            image_diagonal="projectiles/bone-skul-[2~4,1].png"
        [/missile_frame]
        [frame]
            image="units/undead-skeletal-horned/skeletal-corpse-amputator.png:65"
        [/frame]
        {SOUND:HIT_AND_MISS hatchet.wav hatchet-miss.wav -150}
        [frame]
            image="units/undead-skeletal-horned/skeletal-corpse-amputator.png:65"
        [/frame]
    [/attack_anim]
[/unit_type]
