#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ele_Skeletal_Corpse_Burner
    name= _ "Corpse Burner"
    race=AE_ele_skeleton_corpse
    {TRAIT_FEARLESS_MUSTHAVE}
    image="units/undead-skeletal-horned/skeletal-corpse-burner.png"
    profile="portraits/skeletal-horned/skeletal-corpse-burner.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=42
    movement_type=AE_ele_skelinf
    movement=5
    experience=50
    level=2
    advances_to=AE_ele_Skeletal_Corpse_Inferno
    cost=25
    usage=archer
    description={AE_ELE_ERA_NOTICE}+{AE_ELE_SKELETAL_NOTICE}+"..."
    die_sound=skeleton-die.ogg

    [resistance]
        fire=80
    [/resistance]

    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]

    [attack]
        name=fire touch
        description= _ "fire touch"
        icon=attacks/touch-undead-fire.png
        type=fire
        range=melee
        damage=7
        number=2
    [/attack]

    [attack]
        name=fire bolt
        description= _ "fire bolt"
        icon=attacks/fireball-summoner-se.png
        type=fire
        range=ranged
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=firebolt
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL}
        start_time=-450
        [frame]
            image="units/undead-skeletal-horned/skeletal-corpse-burner.png:65"
        [/frame]
        sound=fire.wav
        [frame]
            image="units/undead-skeletal-horned/skeletal-corpse-burner.png:50"
        [/frame]
    [/attack_anim]
[/unit_type]
