#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_stf_minotaurs_Boar_Knight
    name= _ "Boar Knight"
    race=AE_stf_minotaurs_race
    image="units/minotaurs/boar-knight.png"
    #[movement_anim]
    #    [frame]
    #        begin=0
    #        end=50
    #        image="units/minotaurs/boar-knight-movement1.png"
    #    [/frame]
    #    [frame]
    #        begin=50
    #        end=100
    #        image="units/minotaurs/boar-knight-movement2.png"
    #    [/frame]
    #    [frame]
    #        begin=100
    #        end=150
    #        image="units/minotaurs/boar-knight-movement3.png"
    #    [/frame]
    #[/movement_anim]
    hitpoints=66
    movement_type=AE_stf_minotaurs_minotaurmount
    movement=7
    experience=85
    level=2
    alignment=chaotic
    advances_to=AE_stf_minotaurs_Boar_Cataphract
    cost=44
    usage=scout
    die_sound=drake-die.ogg
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others.

Boar Riders who know how to use their companions to their full potential are promoted to Boar Knights. While Boar Knights carry regular weapons, their real potential lies in the strength of their companion, due to their evergrowing bond."
    {DEFENSE_ANIM "units/minotaurs/boar-knight.png" "units/minotaurs/boar-knight.png" {SOUND_LIST:DRAKE_HIT} }
    [abilities]
        {AE_ABILITY_DIVINE_HEALTH}
    [/abilities]
    [resistance]
        impact=70
    [/resistance]
    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=9
        number=3
        icon=attacks/spear-orcish.png
    [/attack]
    [attack]
        name=trample
        description={STR_TRAMPLE}
        type=impact
        range=melee
        damage=13
        number=2
        icon=attacks/crush-wose.png
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/minotaurs/boar-knight.png"
        [/frame]
        [frame]
            begin=-150
            end=-100
            image="units/minotaurs/boar-knight.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/minotaurs/boar-knight.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/minotaurs/boar-knight.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=75
            image="units/minotaurs/boar-knight.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=trample
        [/filter_attack]
        [frame]
            begin=-300
            end=0
            image="units/minotaurs/boar-knight.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=0
                end=100
                image="units/minotaurs/boar-knight.png"
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=0
                end=100
                image="units/minotaurs/boar-knight.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=100
            image="units/minotaurs/boar-knight.png"
        [/frame]
    [/attack_anim]
[/unit_type]
