#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_ext_orcs_Orcish_Council_Member
    name= _ "Orcish Council Member"
    race=orc
    image="units/orcs/council_member.png"
    profile="portraits/orc/council-member.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=48
    usage=mixed fighter

    description= _ "This unit is from Extended Era. Its coding and art were done by the Various people who created Extended Era.
 
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_DRAIN}

    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/orcs/council_member.png" "units/orcs/council_member.png" {SOUND_LIST:ORC_HIT} }

    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/druidstaff.png
        type=impact
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=curse
        description={STR_CURSE}
        type=cold
        range=ranged
        damage=11
        number=4
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/orcs/council_member.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/orcs/council_member.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/orcs/council_member.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/orcs/council_member.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=curse
        [/filter_attack]
        [missile_frame]
            begin=-200
            end=200
            halo="halo/elven/druid-healing8.png:50,halo/elven/druid-healing7.png:50,halo/elven/druid-healing6.png:50,halo/elven/druid-healing5.png:50,halo/elven/druid-healing4.png:50,halo/elven/druid-healing3.png:50,halo/elven/druid-healing2.png:50,halo/elven/druid-healing1.png:50"
        [/missile_frame]
        [frame]
            begin=-200
            end=0
            image="units/orcs/council_member.png"
        [/frame]
        [frame]
            begin=0
            end=200
            image="units/orcs/council_member.png"
            sound=magicmissile.wav
        [/frame]
    [/attack_anim]
[/unit_type]
