#textdomain wesnoth-Ageless_Era

{GET_AE_UNITS imperial_units/animals}
{GET_AE_UNITS imperial_units/bears}
{GET_AE_UNITS imperial_units/dwarves-cavernei}
{GET_AE_UNITS imperial_units/elves-frost}
{GET_AE_UNITS imperial_units/elves-wild}
{GET_AE_UNITS imperial_units/human-arendians}
{GET_AE_UNITS imperial_units/human-lavinians}
{GET_AE_UNITS imperial_units/human-marauders}
{GET_AE_UNITS imperial_units/human-nemidians}
{GET_AE_UNITS imperial_units/orcs-magni}
{GET_AE_UNITS imperial_units/orcs-minuti}
{GET_AE_UNITS imperial_units/spirit-elves}

[race]
    id=AE_imp_Sidhe_Bear
    male_name = _ "race^Bear"
    female_name = _ "race+female^Bear"
    plural_name = _ "race^Bears"
    num_traits=2
    description= _ "This race is from Imperial Era. Its coding and art were done by Turin and Various others."
    markov_chain_size=2
    {OGRE_NAMES}
[/race]

[movetype]
    name=AE_imp_sidhebear
    [movement_costs]
        deep_water=100
        shallow_water=2
        reef=2
        swamp_water=2
        flat=1
        sand=1
        forest=1
        fungus=1
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        unwalkable=100
        impassable=100
        frozen=1
    [/movement_costs]
    [defense]
        deep_water=90
        shallow_water=80
        reef=80
        swamp_water=80
        flat=70
        sand=70
        forest=50
        hills=60
        mountains=50
        village=70
        castle=70
        cave=60
        unwalkable=90
        frozen=60
        fungus=60
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=80
        arcane=80
    [/resistance]
[/movetype]
