#textdomain wesnoth-Ageless_Era

### |  The Arendians

## | Arendian Races

[race]
    id=AE_imp_arendians_race
    num_traits=2
    markov_chain_size=2
    male_name= _ "race^Arendian"
    female_name= _ "race+female^Arendian"
    plural_name= _ "race^Arendians"
    description= _ "This race is from Imperial Era. Its coding and art were done by Turin and Various others.
 
The Arendians are the descendants of those Keltoi who did not flee from the Laviniani and Dardanoi migrations. They excel at horsemanship and such."
    {HUMAN_NAMES}
[/race]

## | Arendian Movement Types

[movetype]
    name=AE_imp_arendianfoot
    [movement_costs]
        deep_water=99
        shallow_water=3
        reef=3
        swamp_water=3
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=3
        unwalkable=99
        impassable=99
        fungus=2
    [/movement_costs]
    [defense]
        deep_water=80
        shallow_water=80
        reef=80
        swamp_water=80
        flat=60
        sand=70
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=60
        frozen=80
        unwalkable=80
        impassable=60
        fungus=50
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]
[movetype]
    name=AE_imp_arendianmounted
    #for the Arendian Horseman line
    [movement_costs]
        deep_water=99
        shallow_water=4
        reef=4
        swamp_water=4
        flat=1
        sand=2
        forest=3
        hills=2
        mountains=99
        village=1
        castle=1
        cave=4
        frozen=2
        unwalkable=99
        impassable=99
        fungus=4
    [/movement_costs]
    [defense]
        deep_water=80
        shallow_water=80
        reef=80
        swamp_water=80
        flat=60
        sand=70
        forest=-70
        hills=60
        mountains=80
        village=60
        castle=60
        cave=80
        frozen=70
        unwalkable=80
        impassable=80
        fungus=80
    [/defense]
    [resistance]
        blade=80
        pierce=120
        impact=70
        fire=110
        cold=80
        arcane=80
    [/resistance]
[/movetype]
[movetype]
    name=AE_imp_arendianlightmounted
    #for the Arendian Bowrider line
    [movement_costs]
        deep_water=4
        shallow_water=3
        reef=3
        swamp_water=3
        flat=1
        sand=2
        forest=3
        hills=2
        mountains=4
        village=1
        castle=1
        cave=4
        frozen=2
        unwalkable=99
        impassable=99
        fungus=4
    [/movement_costs]
    [defense]
        deep_water=80
        shallow_water=70
        reef=70
        swamp_water=70
        flat=60
        sand=70
        forest=70
        hills=60
        mountains=80
        village=60
        castle=60
        cave=80
        frozen=70
        unwalkable=80
        impassable=80
        fungus=80
    [/defense]
    [resistance]
        blade=90
        pierce=120
        impact=90
        fire=100
        cold=80
        arcane=80
    [/resistance]
[/movetype]
[movetype]
    name=AE_imp_arendianarmored
    #for Arendian Warrior branch
    [movement_costs]
        deep_water=99
        shallow_water=4
        reef=4
        swamp_water=4
        flat=1
        sand=2
        forest=2
        hills=3
        mountains=99
        village=1
        castle=1
        cave=2
        frozen=4
        unwalkable=99
        impassable=99
        fungus=2
    [/movement_costs]
    [defense]
        deep_water=80
        shallow_water=90
        reef=90
        swamp_water=90
        flat=70
        sand=80
        forest=60
        hills=60
        mountains=80
        village=60
        castle=50
        cave=60
        frozen=80
        unwalkable=80
        impassable=60
        fungus=60
    [/defense]
    [resistance]
        blade=50
        pierce=60
        impact=90
        fire=110
        cold=110
        arcane=80
    [/resistance]
[/movetype]
[movetype]
    name=AE_imp_arendianelusive
    #for the Arendian Wanderer branch
    [movement_costs]
        deep_water=99
        shallow_water=2
        reef=2
        swamp_water=2
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=2
        unwalkable=99
        impassable=99
        fungus=2
    [/movement_costs]
    [defense]
        deep_water=70
        shallow_water=60
        reef=60
        swamp_water=60
        flat=40
        sand=60
        forest=30
        hills=30
        mountains=30
        village=30
        castle=30
        cave=50
        frozen=60
        unwalkable=80
        impassable=50
        fungus=30
    [/defense]
    [resistance]
        blade=130
        pierce=120
        impact=120
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]
