#textdomain armies_of_amberan
[multiplayer_side]
    id=AE_AoA_side_empfinn
    name= _ "AoA - Finn's Empire"
    image="faction/Finn2.png"
    type=random
    leader=AE_AoA_finn_empire_Recruit,AE_AoA_finn_empire_Crossbowman,AE_AoA_finn_empire_Sergeant,AE_AoA_finn_empire_Rider,AE_AoA_finn_empire_Fencer,AE_AoA_finn_empire_Enchanter_Apprentice,AE_AoA_finn_empire_Handgunner,AE_AoA_finn_empire_Light_Cannon,AE_AoA_finn_empire_Citizen
[/multiplayer_side]

#textdomain armies_of_amberan
[multiplayer_side]
    id=AE_AoA_side_farengar
    name= _ "AoA - Farengarians Kingdoms"
    image="faction/Farengar2.png"
    type=random
    leader=AE_AoA_farengarians_kingdoms_Conscript,AE_AoA_farengarians_kingdoms_Bowman,AE_AoA_farengarians_kingdoms_Questing_Chevalier,AE_AoA_farengarians_kingdoms_Squire,AE_AoA_farengarians_kingdoms_Initiate,AE_AoA_farengarians_kingdoms_Noble,AE_AoA_farengarians_kingdoms_Apprentice,AE_AoA_farengarians_kingdoms_Peasant
[/multiplayer_side]

#textdomain armies_of_amberan
[multiplayer_side]
    id=AE_AoA_side_farnains
    name= _ "AoA - Farengarian dwarves Counties"
    image="faction/Comtes-nains2.png"
    type=random
    leader=AE_AoA_farengarian_dwarves_counties_Fighter,AE_AoA_farengarian_dwarves_counties_Crossbowman,AE_AoA_farengarian_dwarves_counties_Bear_Rider,AE_AoA_farengarian_dwarves_counties_Griffin_Rider,AE_AoA_farengarian_dwarves_counties_Tinker,AE_AoA_farengarian_dwarves_counties_Balista,AE_AoA_farengarian_dwarves_counties_Runic_Scribe
    [ai]
        recruitment_pattern=fighter,fighter,fighter,fighter,archer,archer,mixed fighter
    [/ai]
[/multiplayer_side]

#textdomain armies_of_amberan
[multiplayer_side]
    id=AE_AoA_side_federation
    name= _ "AoA - Mauve Islands Federation"
    image="faction/Federation2.png"
    type=random
    leader=AE_AoA_mauve_islands_federation_Student,AE_AoA_mauve_islands_federation_Apprentice_Sorcerer,AE_AoA_mauve_islands_federation_Clans_Warrior,AE_AoA_mauve_islands_federation_Clans_Pikeman,AE_AoA_mauve_islands_federation_Scout,AE_AoA_mauve_islands_federation_Young_Druid,AE_AoA_mauve_islands_federation_Villager
[/multiplayer_side]

#textdomain armies_of_amberan
[multiplayer_side]
    id=AE_AoA_side_galianos
    name= _ "AoA - Galianos Imperium"
    image="faction/Galianos2.png"
    type=random
    leader=AE_AoA_galianos_Militia,AE_AoA_galianos_Civil_Guard,AE_AoA_galianos_Galianos_Duelist,AE_AoA_galianos_Rider,AE_AoA_galianos_Scout,AE_AoA_galianos_Hussar,AE_AoA_galianos_Herborist,AE_AoA_galianos_Alchemist,AE_AoA_galianos_Skirmisher,AE_AoA_galianos_Citizen
[/multiplayer_side]

#textdomain armies_of_amberan
[multiplayer_side]
    id=AE_AoA_side_gobmon
    name= _ "AoA - Mountain Goblins"
    image="faction/Gobmon2.png"
    type=random
    leader=AE_AoA_mountain_goblins_Warrior,AE_AoA_mountain_goblins_Hunter,AE_AoA_mountain_goblins_Leader,AE_AoA_mountain_goblins_Medicine_Goblin,AE_AoA_mountain_goblins_Sneaky,AE_AoA_mountain_goblins_Wolf_Rider
[/multiplayer_side]

#textdomain armies_of_amberan
[multiplayer_side]
    id=AE_AoA_side_morkdarf
    name= _ "AoA - Dwarven Kingdoms of Morkenost and Darfenlend"
    image="faction/Morkenost-Darfenlend2.png"
    type=random
    leader=AE_AoA_morkenost_darfenlend_Footdwarf,AE_AoA_morkenost_darfenlend_Handgunner,AE_AoA_morkenost_darfenlend_Shock_Soldier,AE_AoA_morkenost_darfenlend_Sergent,AE_AoA_morkenost_darfenlend_Shaman,AE_AoA_morkenost_darfenlend_Fighter,AE_AoA_morkenost_darfenlend_Hunter,AE_AoA_morkenost_darfenlend_Hunter_On_Griffin
[/multiplayer_side]

#textdomain armies_of_amberan
[multiplayer_side]
    id=AE_AoA_side_nordian
    name= _ "AoA - Norse Jarldoms"
    image="faction/Nord2.png"
    type=random
    leader=AE_AoA_norse_jarldoms_Warrior,AE_AoA_norse_jarldoms_Guard,AE_AoA_norse_jarldoms_Hunter,AE_AoA_norse_jarldoms_Rider,AE_AoA_norse_jarldoms_Double_Axe,AE_AoA_norse_jarldoms_Pluderer,AE_AoA_norse_jarldoms_Crossbowman,AE_AoA_norse_jarldoms_Villager
[/multiplayer_side]

#textdomain armies_of_amberan
[multiplayer_side]
    id=AE_AoA_side_rovahr
    name= _ "AoA - Kingdoms of Rovahr"
    image="faction/Rovahr2.png"
    type=random
    leader=AE_AoA_kingdoms_rovahr_Feudal_Levy,AE_AoA_kingdoms_rovahr_Peasant_Crossbowman,AE_AoA_kingdoms_rovahr_Squire,AE_AoA_kingdoms_rovahr_Young_Knight,AE_AoA_kingdoms_rovahr_Monk_Soldier,AE_AoA_kingdoms_rovahr_Aspirant_Templar,AE_AoA_kingdoms_rovahr_Novice,AE_AoA_kingdoms_rovahr_Peasant
[/multiplayer_side]

#textdomain armies_of_amberan
[multiplayer_side]
    id=AE_AoA_side_rovelf
    name= _ "AoA - Rovahrian elves"
    image="faction/Elfes-Rovahriens2.png"
    type=random
    leader=AE_AoA_rovahrian_elves_Spearman,AE_AoA_rovahrian_elves_Bowman,AE_AoA_rovahrian_elves_Noble,AE_AoA_rovahrian_elves_Healer,AE_AoA_rovahrian_elves_Blade_Dancer,AE_AoA_rovahrian_elves_Scout,AE_AoA_rovahrian_elves_Forest_Patrol
[/multiplayer_side]
