#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_feu_clockwork_dwarves_Artillery
    name= _ "Artillery"
    race=AE_feu_clockwork_dwarf
    image="units/dwarves-clockwork/artillery.png"
    profile="portraits/clockwork/artillery.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=3
    alignment=neutral
    experience=100
    advances_to=null
    {AMLA_DEFAULT}
    hitpoints=61
    movement=4
    movement_type=AE_feu_clockworkfoot
    cost=63
    usage=archer
    description= _ "This unit is from Feudal Era. Its coding and art were done by Turin and Various others.
 
The dwarves most proficient with their 'guns' use even larger, more complex ones. These artillerymen fire shells as big as a man's fist at the same rate as their comrades fire smaller shells. Though not as a large as the rocks flung by catapults, the dwarven artillery prove quite effective against fortifications and troops alike."
    [attack]
        name=dagger
        description={STR_DAGGER}
        icon="attacks/dagger-human.png"
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=clockwork gun
        description= _ "clockwork gun"
        icon="attacks/thunderstick.png"
        type=pierce
        range=ranged
        damage=6
        number=8
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=clockwork gun
        [/filter_attack]
        [missile_frame]
            begin=-50
            end=0
            image="projectiles/bullet.png"
            image_diagonal="projectiles/bullet.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=-100
                sound=thunderstick.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=-100
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
