#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_feu_clockwork_dwarves_Steel_Eagle
    name= _ "Steel Eagle"
    race=AE_feu_clockwork_dwarf
    image="units/dwarves-clockwork/steel-eagle.png"
    profile="portraits/clockwork/steel-eagle.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=2
    alignment=neutral
    experience=100
    advances_to=null
    {AMLA_DEFAULT}
    hitpoints=39
    movement=9
    movement_type=AE_feu_clockworkaero
    cost=25
    usage=fighter
    description= _ "This unit is from Feudal Era. Its coding and art were done by Turin and Various others.
 
The sight of a Steel Eagle hovering over the field strikes the enemy with fear and wonder. How any device - let alone a mass of metal and gears - can be made to fly remains a mystery to other races. But while their means of flight is unknown, their means of attack are well-known; armed with the 'guns' characteristic of the dwarves, they dart hither and thither, spraying their enemies with metal slugs."
    [attack]
        name=clockwork gun
        description= _ "clockwork gun"
        icon="attacks/thunderstick.png"
        type=pierce
        range=ranged
        damage=5
        number=7
    [/attack]
    [attack_anim]
        [filter_attack]
            name=clockwork gun
        [/filter_attack]
        [missile_frame]
            begin=-50
            end=0
            image="projectiles/bullet.png"
            image_diagonal="projectiles/bullet.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=-100
                sound=thunderstick.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=-100
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
