#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_arc_Phantom_Midnight
    name= _ "Midnight Beauty"
    race=AE_arc_despair
    gender=female
    image="units/despair/phantommidnight.png"
    profile="portraits/despair-midnight.png"
    #
    [standing_anim]
        start_time=0
        [filter]
            type=AE_arc_Phantom_Midnight
            [filter_location]
                [not]
                    time_of_day=chaotic
                [/not]
            [/filter_location]
        [/filter]
        [frame]
            duration=250
            image="units/despair/phantommidnight.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        [filter]
            type=AE_arc_Phantom_Midnight
            # uncomment the next three lines to cause a segfault < I guess this is fixed?
            [filter_location]
                time_of_day=chaotic
            [/filter_location]
        [/filter]
        alpha=1.0~0.4:1400,0.4~0.7:600,0.7~0.5:600,0.5~1.0:1400
        #        alpha=0.9~0.3:200,0.3~0.6:200,0.6~0.4:200,0.4~0.9:400
        [frame]
            duration=4000
            image="units/despair/phantommidnight.png"
        [/frame]
    [/standing_anim]
    hitpoints=46
    movement_type=AE_arc_despair_foot
    movement=6
    experience=80
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=25
    usage=archer
    description={AE_ARC_UNIT_NOTICE} +  _ "Some ghosts mingle with the living during the day and evening, partaking of the life they themselves were denied.  They appear as beautiful women, and can charm the young and foolish into escorting them home at night.  Those that head into the night with one of the Midnight Beauties are never seen again."
    die_sound=human-female-die-1.ogg,human-female-die-2.ogg,human-female-die-3.ogg
    [defend]
        start_time=-126
        [if]
            hits=hit,kill
            offset=0.0~-0.05:126,-0.05~0.0:126
            alpha=0.8~0.5:126,0.5~0.8:126
            [frame]
                duration=1
                image="units/despair/phantommidnight.png"
            [/frame]
            [frame]
                duration=100
                image="units/despair/phantommidnight.png"
            [/frame]
            [frame]
                duration=150
                image="units/despair/phantommidnight-defend.png"
                sound={SOUND_LIST:HUMAN_FEMALE_HIT}
            [/frame]
            [frame]
                duration=1
                image="units/despair/phantommidnight.png"
            [/frame]
        [/if]
        [else]
            hits=miss
            offset=0.0~-0.1:126,-0.1~0.0:126
            alpha=0.8~0.25:126,0.25~0.8:126
            [frame]
                duration=1
                image="units/despair/phantommidnight.png"
            [/frame]
            [frame]
                duration=100
                image="units/despair/phantommidnight.png"
            [/frame]
            [frame]
                duration=150
                image="units/despair/phantommidnight-defend.png"
            [/frame]
            [frame]
                duration=1
                image="units/despair/phantommidnight.png"
            [/frame]
        [/else]
    [/defend]
    [attack]
        name=claws
        description={STR_CLAWS}
        icon=attacks/claws.png
        type=blade
        range=melee
        damage=6
        number=4
    [/attack]
    [attack]
        name=gaze
        description={STR_GAZE}
        # something better at some point
        icon=attacks/BMRglare.png
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        type=cold
        range=ranged
        damage=12
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=gaze
        [/filter_attack]
        {MISSILE_FRAME_FAERIE_FIRE}
        start_time=-200

        [frame]
            duration=25
            image="units/despair/phantommidnight.png"
        [/frame]
        [frame]
            duration=75
            image="units/despair/phantommidnight.png"
        [/frame]
        [frame]
            duration=150
            image="units/despair/phantommidnight.png"
            sound=wail.wav
        [/frame]
        [frame]
            duration=75
            image="units/despair/phantommidnight.png"
        [/frame]
        [frame]
            duration=25
            image="units/despair/phantommidnight.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        start_time=-500
        offset=0.0~1.0:425,0.0:225
        alpha=0.8~0.0:425,0.0~0.8:225

        [frame]
            duration=25
            image="units/despair/phantommidnight.png"
        [/frame]
        [frame]
            duration=175
            image="units/despair/phantommidnight.png"
        [/frame]
        [frame]
            duration=175
            image="units/despair/phantommidnight-attack.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/despair/phantommidnight-attack.png"
                sound=claws.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/despair/phantommidnight-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=75
            image="units/despair/phantommidnight.png"
        [/frame]
        [frame]
            duration=75
            image="units/despair/phantommidnight.png"
        [/frame]
        [frame]
            duration=25
            image="units/despair/phantommidnight.png"
        [/frame]
    [/attack_anim]

    # so that the anim only happens at night, see above.
    #	{DESPAIR_STAND phantommidnight}
[/unit_type]
