#textdomain wesnoth-Ageless_Era

#### | Wood Warriors

## | Wood Warriors Races

[race]
    id=AE_bem_wood_warriors_race
    male_name= _ "race^Wood Warrior"
    female_name= _ "race+female^Wood Warrior"
    plural_name= _ "race^Wood Warriors"
    num_traits=2
    markov_chain_size=2
    description= _ "This race is from BEEM. Its coding and art were done by Voodoo, Baro_st, Tydeus, Dibs, and various others.
 
Wood Warriors are a quite variegated population. Indeed, this faction isn't composed by only one race but by some different ones with some common traits.In addition to their shy and lone nature (that makes them very skilled in hiding and ambushes), these warriors have in common the choice of the forest as their habitat; some forced to it, others for their own will.The members of this group are mainly legendary creatures, whose existence is still ignored by some. Indeed those who had met this army rarely had such a long life to be able to tell it!Many legends are told about some of them, wherein sometimes they are evil wizards who draw their prey where they can be lethal (into the wood), other times they are told as good creatures living a nature-friendly and cheerful life. However, wise travelers usually avoid those places where the shadow of the trees eats the light and thousands glittering eyes are seen in the dark: sometimes to reveal the hidden in legends arcane can be a fatal error."
    ignore_global_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    {TRAIT_FEARLESS}
    {HUMAN_NAMES}
[/race]

#### | Movement  Types | ####

[movetype]
    name=AE_bem_wood_warriors_esploratore_paludi
    [movement_costs]
        deep_water=3
        shallow_water=2
        reef=2
        swamp_water=1
        flat=1
        sand=2
        forest=1
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=1
    [/movement_costs]

    [defense]
        deep_water=70
        shallow_water=50
        reef=50
        swamp_water=30
        flat=60
        sand=70
        forest=50
        hills=50
        mountains=60
        village=50
        castle=50
        cave=60
        frozen=70
        fungus=50
        unwalkable=80
    [/defense]

    [resistance]
        blade=110
        pierce=100
        impact=110
        fire=90
        cold=90
        arcane=110
    [/resistance]
[/movetype]

[movetype]
    name=AE_bem_wood_warriors_frog_jump
    [movement_costs]
        deep_water=3
        shallow_water=2
        reef=2
        swamp_water=1
        flat=1
        sand=1
        forest=1
        hills=1
        mountains=1
        village=1
        castle=1
        cave=1
        frozen=1
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=1
    [/movement_costs]

    [defense]
        deep_water=70
        shallow_water=40
        reef=40
        swamp_water=30
        flat=60
        sand=70
        forest=50
        hills=50
        mountains=60
        village=50
        castle=50
        cave=60
        frozen=80
        fungus=50
        unwalkable=80
    [/defense]

    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=120
        cold=90
        arcane=110
    [/resistance]
[/movetype]

[movetype]
    name=AE_bem_wood_warriors_ww_rock_foot
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water=2
        reef=2
        swamp_water=3
        flat=1
        sand=2
        forest=1
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=1
    [/movement_costs]

    [defense]
        shallow_water=80
        reef=80
        swamp_water=80
        flat=70
        sand=60
        forest=50
        hills=50
        mountains=50
        village=50
        castle=50
        cave=50
        frozen=70
        fungus=60
    [/defense]

    [resistance]
        blade=60
        pierce=70
        impact=90
        fire=90
        cold=80
        arcane=130
    [/resistance]
[/movetype]

[movetype]
    name=AE_bem_wood_warriors_pianta
    [movement_costs]
        deep_water=99
        shallow_water=2
        reef=2
        swamp_water=2
        flat=1
        sand=2
        forest=1
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=2
        unwalkable=99
        impassable=99
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=70
        reef=70
        swamp_water=70
        flat=50
        sand=80
        forest=30
        hills=70
        mountains=80
        village=50
        castle=50
        cave=70
        frozen=80
        fungus=60
        unwalkable=90
    [/defense]

    [resistance]
        blade=110
        pierce=50
        impact=90
        fire=130
        cold=80
        arcane=130
    [/resistance]
[/movetype]

[movetype]
    name=AE_bem_wood_warriors_big_foot
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water=2
        reef=2
        swamp_water=2
        flat=1
        sand=3
        forest=1
        hills=2
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=70
        reef=70
        swamp_water=70
        flat=60
        sand=60
        forest=30
        hills=50
        mountains=40
        village=50
        castle=50
        cave=50
        frozen=70
        impassable=90
        fungus=60
        unwalkable=90
    [/defense]

    [resistance]
        blade=100
        pierce=90
        impact=70
        fire=110
        cold=90
        arcane=120
    [/resistance]
[/movetype]

[movetype]
    name=AE_bem_wood_warriors_ratsmount
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water=3
        reef=2
        swamp_water=3
        flat=1
        sand=2
        forest=2
        hills=1
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=60
        shallow_water=60
        reef=50
        swamp_water=50
        flat=60
        sand=60
        forest=40
        hills=40
        mountains=40
        village=50
        castle=50
        cave=50
        frozen=70
        unwalkable=70
        impassable=70
        fungus=50
    [/defense]

    [resistance]
        blade=110
        pierce=110
        impact=110
        fire=100
        cold=80
        arcane=80
    [/resistance]
[/movetype]
