#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_highlanders_Drunkard
    name= _ "Drunkard"
    race=AE_mrc_highlanders_race
    gender=male
    image="units/highlanders/drunkard.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=39
    movement_type=AE_mrc_highlanders_drunkfoot
    movement=4
    experience=36
    level=1
    alignment=neutral
    advances_to=AE_mrc_highlanders_Barfighter,AE_mrc_highlanders_Sober
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=19
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_BERSERK}

    [resistance]
        blade=100
        impact=70
        pierce=100
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Fist
        description= _ "Drunken Rage"
        icon=attacks/fist.png
        type=impact
        range=melee
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Fist
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/highlanders/drunkard.png"
            sound=fist.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
