#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_highlanders_Valkyrie
    name= _ "Valkyrie"
    race=AE_mrc_highlanders_race
    gender=female
    image="units/highlanders/valkyrie.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=34
    movement_type=AE_mrc_highlanders_valkfoot
    movement=8
    experience=34
    level=1
    alignment=neutral
    advances_to=AE_mrc_highlanders_Valkyrie_Warrior
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    cost=19
    usage=scout
    description={AE_MRC_UNIT_NOTICE}+"
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [attack]
        name=Claymore
        description= _ "Claymore"
        icon=attacks/greatsword-orcish.png
        type=blade
        range=melee
        damage=9
        number=2
        [specials]
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Claymore
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/highlanders/valkyrie.png"
            sound=sword-1.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
