#textdomain wesnoth-Ageless_Era

### | Ageless Era Custom Factions - Heroes

## | Dark Legion - Heroes

[multiplayer_side]
    id=AE_side_agl_darklegion
    name= "AE - " + _ "Dark Legion"
    image="units/human-dark/sword-champion.png"
    type=AE_agl_dark_legion_Champion
    leader=AE_agl_dark_legion_Champion,AE_agl_dark_legion_Warrior,AE_agl_dark_legion_Terror,AE_agl_dark_legion_Advanced_Crossbowman,AE_agl_dark_legion_Heavy_Longbowman,AE_agl_dark_legion_Elite_Gunner,AE_agl_dark_legion_Deathmaster,AE_agl_dark_legion_Cavalier,AE_agl_dark_legion_Stormblade
    recruit=Naga Fighter,AE_agl_dark_legion_Trooper,AE_agl_dark_legion_Spearman,AE_agl_dark_legion_Soldier,AE_agl_dark_legion_Raider,AE_agl_dark_legion_Pillager,AE_agl_dark_legion_Longswordsman,AE_agl_dark_legion_Longbowman,AE_agl_dark_legion_Gunner,AE_agl_dark_legion_Guardian,AE_agl_dark_legion_Bowman,AE_agl_dark_legion_Berserker,Naga Warrior,AE_agl_dark_legion_Crusher,AE_agl_dark_legion_Halberdier,AE_agl_dark_legion_Knight,AE_agl_dark_legion_Crossbowman,AE_agl_dark_legion_Protector_Drone,AE_agl_dark_legion_Rayblade,AE_agl_dark_legion_Sentry_Drone,AE_agl_dark_legion_Drone,AE_agl_dark_legion_Runner_Drone,AE_agl_dark_legion_Assault_Drone
    terrain_liked=Gg,
    [ai]
        recruitment_pattern=fighter,mixed fighter,archer,archer,fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

[multiplayer_side]
    id=AE_side_agl_Deep_Elves
    name= "AE - " + _ "Deep Elves"
    image="units/elves-deep/matriarch.png"
    type=random
    leader=AE_agl_deep_Patroness,AE_agl_deep_Seer,AE_agl_deep_Shadow_Tyrhai,AE_agl_deep_Baroness_of_the_Night,AE_agl_deep_Irr
    recruit=AE_agl_deep_Bloodmaiden,AE_agl_deep_Lidh,AE_agl_deep_Priestress_of_the_Vault, AE_agl_deep_Night_Maiden, AE_agl_deep_Minotaur, AE_agl_deep_Tyrhai_Rider, AE_agl_deep_Matriarch, AE_agl_deep_Phade, AE_agl_deep_Elthare, AE_agl_deep_Vengeance, AE_agl_deep_Tyrhai_Cavalry, AE_agl_deep_Night_Stalker
    terrain_liked=Ff, Fa, Ss
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]

## | Desert Elves - Heroes

[multiplayer_side]
    id=AE_side_agl_desertelves
    name= "AE - " + _ "Desert Elves"
    image="units/elves-desert/prowler.png"
    type=AE_agl_desert_elves_Prowler
    leader=AE_agl_desert_elves_Prowler,AE_agl_desert_elves_Marshal,AE_agl_desert_elves_Champion,AE_agl_desert_elves_Sharpshooter,AE_agl_desert_elves_Avenger,AE_agl_desert_elves_Outrider,AE_agl_desert_elves_Shyde
    recruit=AE_agl_desert_elves_Sentinel,AE_agl_desert_elves_Scout,AE_agl_desert_elves_Rider,AE_agl_desert_elves_Ranger,AE_agl_desert_elves_Marksman,AE_agl_desert_elves_Hunter,AE_agl_desert_elves_Horseman,AE_agl_desert_elves_Hero,AE_agl_desert_elves_Fighter,AE_agl_desert_elves_Druid,AE_agl_desert_elves_Captain,AE_agl_desert_elves_Archer,AE_agl_desert_elves_Shaman
    [ai]
        recruitment_pattern=archer,mixed fighter,mixed fighter,fighter,healer,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

[multiplayer_side]
    id=AE_side_agl_frozen
    name= "AE - " + _ "Frozen"
    image="units/frozen/frost_sorcerer.png"
    type=AE_agl_frozen_frost_sorcerer
    leader=AE_agl_frozen_frost_sorcerer,AE_agl_frozen_frost_queen,AE_agl_frozen_ice_golem_king,AE_agl_frozen_frost_heavy_warrior,AE_agl_frozen_frost_lance_master,AE_agl_frozen_frost_fury_shooter
    recruit=AE_agl_frozen_frost_student,AE_agl_frozen_ice_golem,AE_agl_frozen_frost_spearman,AE_agl_frozen_flying_golem,AE_agl_frozen_berserker_golem,AE_agl_frozen_frost_gunner,AE_agl_frozen_frost_mage,AE_agl_frozen_frost_shooter,AE_agl_frozen_frost_warrior,AE_agl_frozen_frost_witch,AE_agl_frozen_frost_shieldman,AE_agl_frozen_frost_lanceman,AE_agl_frozen_big_ice_golem,AE_agl_frozen_frost_fighter,AE_agl_frozen_frost_knight,AE_agl_frozen_frost_rider
    [ai]
        recruitment_pattern=fighter,fighter,archer
    [/ai]
[/multiplayer_side]

## | Steelhive - Heroes

[multiplayer_side]
    id=AE_side_agl_steelhive
    name= "AE - " + _ "Steelhive"
    image=units/steelhive/boltstriker.png
    type=AE_agl_steelhive_Hivequeen
    leader=AE_agl_steelhive_Recon,AE_agl_steelhive_Fideliant,AE_agl_steelhive_Boltstriker,AE_agl_steelhive_Vorpal,AE_agl_steelhive_Hivequeen
    recruit=AE_agl_steelhive_Slasher,AE_agl_steelhive_Oculus,AE_agl_steelhive_Drone,AE_agl_steelhive_Cybercone,AE_agl_steelhive_Sentient,AE_agl_steelhive_Amniote,AE_agl_steelhive_Lightshifter,AE_agl_steelhive_Welder,AE_agl_steelhive_Sparkgazer,AE_agl_steelhive_Bladewhirler,AE_agl_steelhive_Vector,AE_agl_steelhive_Cybercore,AE_agl_steelhive_Scout,AE_agl_steelhive_Repairer,AE_agl_steelhive_Choriote,AE_agl_steelhive_Nymph,AE_agl_steelhive_Larva
    [ai]
        recruitment_pattern=fighter,fighter,scout,mixed_fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

[multiplayer_side]
    id=AE_side_agl_vilkai
    name= "AE - " + _"Vilkai"
    image="units/human-vilkai/brave-wolf.png"
    type=random
    leader=AE_agl_vlk_Brave_Wolf, AE_agl_vlk_Guardian, AE_agl_vlk_Ghost_Warrior, AE_agl_vlk_Spiritual, AE_agl_vlk_Master_Of_Curses, AE_agl_vlk_Nimrod
    random_leader=AE_agl_vlk_Brave_Wolf, AE_agl_vlk_Guardian, AE_agl_vlk_Ghost_Warrior, AE_agl_vlk_Spiritual, AE_agl_vlk_Master_Of_Curses, AE_agl_vlk_Nimrod
    recruit=AE_agl_vlk_Deer_Rider, AE_agl_vlk_Hunter, AE_agl_vlk_Young_Wolf, AE_agl_vlk_Warrior, AE_agl_vlk_Feral, AE_agl_vlk_Shaman, AE_agl_vlk_Spirit, AE_agl_vlk_Hart_Seeker, AE_agl_vlk_Deerstalker, AE_agl_vlk_Wolf, AE_agl_vlk_Chieftain, AE_agl_vlk_Spearman, AE_agl_vlk_Druid, AE_agl_vlk_Wolf_Fanatic, AE_agl_vlk_Blood_Shaman, AE_agl_vlk_Ancestor
    terrain_liked=Ff, Fa, Hh, Ha, Mm, Uh
    [ai]
        recruitment_pattern=fighter,fighter,archer,mixed fighter,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]

## | Yokai - Heroes

[multiplayer_side]
    id=AE_side_agl_yokai
    name= "AE - " + _ "Yokai"
    image="units/yokai/medusa_witch.png"
    type=AE_agl_yokai_Nine_Tailed_Fox
    leader=AE_agl_yokai_Nine_Tailed_Fox,AE_agl_yokai_Medusa_Witch,AE_agl_yokai_Lamia_Naitaka,AE_agl_yokai_Elder_Leshi
    recruit=AE_agl_yokai_Leshi,AE_agl_yokai_Kodama,AE_agl_yokai_Nymph,AE_agl_yokai_Greater_Spriggan,AE_agl_yokai_Spriggan,AE_agl_yokai_Mandragora,AE_agl_yokai_Sproutling,AE_agl_yokai_Moving_Fortress,AE_agl_yokai_Surgler_Swarm,AE_agl_yokai_Rebel_Swarm,AE_agl_yokai_Swarm_Spawn,AE_agl_yokai_Nixie,AE_agl_yokai_Faerie,AE_agl_yokai_Pixie,AE_agl_yokai_Medusa,AE_agl_yokai_Lamia_Warrior,AE_agl_yokai_Weaver_Matriarch,AE_agl_yokai_Lamia,AE_agl_yokai_Weaver_Widow,AE_agl_yokai_Weaver_Matron,AE_agl_yokai_Weaver_Maiden,AE_agl_yokai_Tengu,AE_agl_yokai_Kitsune,AE_agl_yokai_Feyborn_Witch,AE_agl_yokai_Feyborn,AE_agl_yokai_Phantom,AE_agl_yokai_Onryo,AE_agl_yokai_Banshee,AE_agl_yokai_Poltergeist
    terrain_liked=Gs^Fp,Aa^Fpa,Hh,Ha,Ss,Uu,Ww
    [ai]
        recruitment_pattern=scout,mixed fighter,defender,defender,fighter,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
