#textdomain wesnoth-Ageless_Era

### | Imperial Era Custom Factions - Heroes

## | Arendians - Heroes

[multiplayer_side]
    id=AE_side_imp_arendian
    name= "Imperial - " + _ "Arendians"
    image="units/human-arendians/arrow-wind.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_imp_Arendians_Arrow_Wind
    leader=AE_imp_Arendians_Arrow_Wind,AE_imp_Arendians_Battlear,AE_imp_Arendians_Hero,AE_imp_Arendians_Slayer,AE_imp_Arendians_Warlock
    recruit=AE_imp_Arendians_Archer,AE_imp_Arendians_Bowrider,AE_imp_Arendians_Druid,AE_imp_Arendians_Horseman,AE_imp_Arendians_Swordsman,AE_imp_Arendians_Bowknight,AE_imp_Arendians_Chief,AE_imp_Arendians_Feather_Bow,AE_imp_Arendians_Hunter,AE_imp_Arendians_Mounter_Warrior,AE_imp_Arendians_Shaman,AE_imp_Arendians_Wanderer,AE_imp_Arendians_Warrior,AE_imp_Arendians_Falcon,AE_imp_Arendians_Falcon_Lord
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Cavernei- Heroes

[multiplayer_side]
    id=AE_side_imp_cavernei
    name= "Imperial - " + _ "Cavernei"
    image="units/dwarves-cavernei/lord.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_imp_Cavernei_Lord
    leader=AE_imp_Cavernei_Lord,AE_imp_Cavernei_Dragonguard,AE_imp_Cavernei_Sentinel,AE_imp_Cavernei_Monitor,AE_imp_Cavernei_Runemaster

    recruit=AE_imp_Cavernei_Watcher,AE_imp_Cavernei_Thunderguard,AE_imp_Cavernei_Thunderer,AE_imp_Cavernei_Steelclad,AE_imp_Cavernei_Stalwart,AE_imp_Cavernei_Observer,AE_imp_Cavernei_Guardsman,AE_imp_Cavernei_Fighter,AE_imp_Cavernei_Eagle_Rider,AE_imp_Cavernei_Eagle_Master

    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Issaelfr - Heroes

[multiplayer_side]
    id=AE_side_imp_issaelfr
    name= "Imperial - " + _ "Issaelfr"
    image="units/elves-frost/ice-roamer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_imp_Issaelfr_Ice_Dancer
    leader=AE_imp_Issaelfr_Borealis,AE_imp_Issaelfr_Alpine_Ranger,AE_imp_Issaelfr_Glaive_Master,AE_imp_Issaelfr_Ice_Dancer,AE_imp_Issaelfr_Mistral_Cryomancer,AE_imp_Issaelfr_Mistral_Rime_Castellan,AE_imp_Issaelfr_Elder_Seal
    recruit=AE_imp_Issaelfr_Archer,AE_imp_Issaelfr_Bladesman,AE_imp_Issaelfr_Mistral_Magus,AE_imp_Issaelfr_Yak_Rider,AE_imp_Issaelfr_Seal,AE_imp_Issaelfr_Gelus,AE_imp_Issaelfr_Mountaineer,AE_imp_Issaelfr_Glaivier,AE_imp_Issaelfr_Ice_Roamer,AE_imp_Issaelfr_Mistral_Glacialist,AE_imp_Issaelfr_Mistral_Rime_Keeper,AE_imp_Issaelfr_Yak_Knight,AE_imp_Issaelfr_Fleet_Seal
    terrain_liked=ghHS
    [ai]
        recruitment_pattern=fighter,mixed fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Lavinian Legion - Heroes

[multiplayer_side]
    id=AE_side_imp_lavinian
    name= "Imperial - " + _ "Lavinian Legion"
    image="units/human-lavinians/centurion.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_imp_Lavinians_Centurion
    leader=AE_imp_Lavinians_Centurion,AE_imp_Lavinians_Praetorian_Guard,AE_imp_Lavinians_Aquilifer
    recruit=AE_imp_Lavinians_Legionaire,AE_imp_Lavinians_Bowman,AE_imp_Lavinians_Auxiliary,AE_imp_Lavinians_Horseman,AE_imp_Lavinians_River_Calf,AE_imp_Lavinians_Claimant,AE_imp_Lavinians_River_Horse,AE_imp_Lavinians_Decurion,AE_imp_Lavinians_Propugnator,AE_imp_Lavinians_Signifer,AE_imp_Lavinians_Siege_Archer,AE_imp_Lavinians_Field_Ballista,AE_imp_Lavinians_Light_Infantryman,AE_imp_Lavinians_Slinger,AE_imp_Lavinians_Skirmisher
    [ai]
        recruitment_pattern=fighter,mixed fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Marauders - Heroes

[multiplayer_side]
    id=AE_side_imp_marauders
    name= "Imperial - " + _ "Marauders"
    image="units/human-marauders/lord.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_imp_Marauders_Lord
    leader=AE_imp_Marauders_Lord,AE_imp_Marauders_Scorcher,AE_imp_Marauders_Woodsman,AE_imp_Marauders_Galdra,AE_imp_Marauders_Valkyrie
    recruit=AE_imp_Marauders_Warrior,AE_imp_Marauders_Scout,AE_imp_Marauders_Axeman,AE_imp_Marauders_Crusher,AE_imp_Marauders_Boatsman,AE_imp_Marauders_Fay,AE_imp_Marauders_Jarl,AE_imp_Marauders_Pillager,AE_imp_Marauders_Mauler,AE_imp_Marauders_Hunter,AE_imp_Marauders_Raider,AE_imp_Marauders_Mounted_Axeman,AE_imp_Marauders_Sailor,AE_imp_Marauders_Seeress,AE_imp_Marauders_Shieldmaiden
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Orcei Gladiatores - Heroes

[multiplayer_side]
    id=AE_side_imp_orcei
    name= "Imperial - " + _ "Orcei Gladiatores"
    image="units/orcs-magni/brutal-paegniarius.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_imp_Orcei_Brutal_Paegniarius
    leader=AE_imp_Orcei_Brutal_Paegniarius,AE_imp_Orcei_Feral_Bestiarius,AE_imp_Orcei_Murmillo_Leonis,AE_imp_Orcei_Provocator_Leonis,AE_imp_Orcei_Dimacherius_Fortis,AE_imp_Orcei_Hoplomachus_Fortis,AE_imp_Orcei_Secutor_Leonis,AE_imp_Orcei_Thraex_Paratus
    recruit=AE_imp_Orcei_Pugnator,AE_imp_Orcei_Paegniarius,AE_imp_Orcei_Bestiarius,AE_imp_Orcei_Gallus,AE_imp_Orcei_Murmillo,AE_imp_Orcei_Provocator,AE_imp_Orcei_Dimacherius,AE_imp_Orcei_Samnis,AE_imp_Orcei_Hoplomachus,AE_imp_Orcei_Secutor,AE_imp_Orcei_Thraex,AE_imp_Orcei_Piscator,AE_imp_Orcei_Retiarius,AE_imp_Orcei_Laquerius,AE_imp_Orcei_Latronis,AE_imp_Orcei_Venator,AE_imp_Orcei_Essedarius
    [ai]
        recruitment_pattern=fighter,fighter,fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Sidhe - Heroes

[multiplayer_side]
    id=AE_side_imp_sidhe
    name= "Imperial - " + _ "Sidhe"
    image="units/elves-wild/thunderblade.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_imp_Sidhe_Thunderblade
    leader=AE_imp_Sidhe_Shadowdancer,AE_imp_Sidhe_Tempest,AE_imp_Sidhe_Thunderblade,AE_imp_Sidhe_Blizzardlord,AE_imp_Sidhe_Wardancer,AE_imp_Sidhe_Warsinger,AE_imp_Sidhe_Windrunner,AE_imp_Sidhe_Forefather

    recruit=AE_imp_Sidhe_Windlasher,AE_imp_Sidhe_Bladespinner,AE_imp_Sidhe_Wildblade,AE_imp_Sidhe_Warrior,AE_imp_Sidhe_Warmage,AE_imp_Sidhe_Wanderer,AE_imp_Sidhe_Veiledblade,AE_imp_Sidhe_Tracker,AE_imp_Sidhe_Snowdancer,AE_imp_Sidhe_Raindancer,AE_imp_Sidhe_Hoarfroster,AE_imp_Sidhe_Herald,AE_imp_Sidhe_Fury,AE_imp_Sidhe_Warrior_Spirit,AE_imp_Sidhe_Ancestor,AE_imp_Sidhe_Young_Bear,AE_imp_Sidhe_Bear
    [ai]
        recruitment_pattern=fighter,fighter,fighter,scout,archer,mixed fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
