#textdomain wesnoth-Ageless_Era
[multiplayer_side]
    id=barbarians
    image,name="factions/EoMa-faction-barbarians.png", "EoMa - " + _"Barbarians"
	
    type=AE_mag_Barbarian_Lord
    {AE_MAG_BARBARIAN_AOH_LEADERS}
    recruit={AE_MAG_BARBARIAN_AOH_RECRUITS},{AE_MAG_BARBARIAN_DEFAULT_RECRUITS}
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#textdomain wesnoth-Ageless_Era
[multiplayer_side]
    id=darkblood
    image,name="factions/EoMa-faction-darkblood.png", "EoMa - " + _"Dark Blood Alliance"
	
    type=AE_mag_Mystic
    {AE_MAG_DARKBLOOD_AOH_LEADERS}
    recruit={AE_MAG_DARKBLOOD_AOH_RECRUITS},{AE_MAG_DARKBLOOD_DEFAULT_RECRUITS}
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter,scout,healer,healer
    [/ai]
[/multiplayer_side]

#textdomain wesnoth-Ageless_Era
[multiplayer_side]
    id=destroyers
    image,name="factions/EoMa-faction-destroyers.png", "EoMa - " + _"Destroyers"
	
    type=AE_mag_Obliterator
    {AE_MAG_DESTROYERS_AOH_LEADERS}
    recruit={AE_MAG_DESTROYERS_AOH_RECRUITS},{AE_MAG_DESTROYERS_DEFAULT_RECRUITS}
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter
    [/ai]
[/multiplayer_side]

#textdomain wesnoth-Ageless_Era
[multiplayer_side]
    id=kharos
    image,name="factions/EoMa-faction-kharos.png", "EoMa - " + _"Kharos"
	
    type=AE_mag_Prophet_of_Light
    {AE_MAG_KHAROS_AOH_LEADERS}
    recruit={AE_MAG_KHAROS_AOH_RECRUITS},{AE_MAG_KHAROS_DEFAULT_RECRUITS}
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,healer,archer
    [/ai]
[/multiplayer_side]

#textdomain wesnoth-Ageless_Era
[multiplayer_side]
    id=runemasters
    image,name="factions/EoMa-faction-runemasters.png", "EoMa - " + _"Runemasters"
	
    type=AE_mag_Rune_Artist
    {AE_MAG_RUNEMASTERS_AOH_LEADERS}
    recruit={AE_MAG_RUNEMASTERS_AOH_RECRUITS},{AE_MAG_RUNEMASTERS_DEFAULT_RECRUITS}
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#textdomain wesnoth-Ageless_Era
[multiplayer_side]
    id=skykingdom
    image,name="factions/EoMa-faction-skykingdom.png", "EoMa - " + _"Sky Kingdom"
	
    type=AE_mag_Mastermage
    {AE_MAG_SKYKINGDOM_AOH_LEADERS}
    recruit={AE_MAG_SKYKINGDOM_AOH_RECRUITS},{AE_MAG_SKYKINGDOM_DEFAULT_RECRUITS}
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#textdomain wesnoth-Ageless_Era
[multiplayer_side]
    id=AE_mag_summoners
    image,name="factions/EoMa-faction-summoners.png", "EoMa - " + _"Summoners"
	
    type=AE_mag_Grand_Summoner
    {AE_MAG_AL-KAMIJA_AOH_LEADERS}
    recruit={AE_MAG_AL-KAMIJA_AOH_RECRUITS},{AE_MAG_AL-KAMIJA_DEFAULT_RECRUITS}
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,mixed fighter,mixed fighter,archer,archer,scout,scout,scout,healer
    [/ai]
[/multiplayer_side]

#textdomain wesnoth-Ageless_Era
[multiplayer_side]
    id=AE_mag_tharis
    image,name="factions/EoMa-faction-tharis.png", "EoMa - " + _"Tharis"
	
    type=AE_mag_Great_Warlock
    {AE_MAG_THARIS_AOH_LEADERS}
    recruit={AE_MAG_THARIS_AOH_RECRUITS},{AE_MAG_THARIS_DEFAULT_RECRUITS}
    terrain_liked=gcs
    [ai]
        recruitment_pattern=archer,archer,fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

