#textdomain wesnoth-Ageless_Era

### | Era of Four Moons Custom Factions - Heroes

## | Dalefolk - Heroes

[multiplayer_side]
    id=AE_side_efm_dalefolk
    name= "EFM - " + _ "Dalefolk"
    image="units/Dalefolk/wilderman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_efm_dalefolk_Conduit
    leader=AE_efm_dalefolk_Battery,AE_efm_dalefolk_Conduit

    recruit= AE_efm_dalefolk_Miner, AE_efm_dalefolk_Herder, AE_efm_dalefolk_Rocketeer, AE_efm_dalefolk_Herbalist, AE_efm_dalefolk_shifter, AE_efm_dalefolk_Raven, AE_efm_dalefolk_Channeler, AE_efm_dalefolk_Foreman, AE_efm_dalefolk_Delver, AE_efm_dalefolk_Mountaineer, AE_efm_dalefolk_Wilderman, AE_efm_dalefolk_Beacon, AE_efm_dalefolk_Mediator, AE_efm_dalefolk_Bombadier, AE_efm_dalefolk_Mynah, AE_efm_dalefolk_Botanist
    terrain_liked=Rd
    [ai]
        recruitment_pattern=scout,archer,fighter,healer,mixed fighter,archer,fighter,fighter,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Darklanders - Heroes

[multiplayer_side]
    id=AE_side_efm_darklanders
    name= "EFM - " + _ "Darklanders"
    image="units/darklander/judgement.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_efm_darklanders_Vengence_of_the_Gods
    leader=AE_efm_darklanders_Vengence_of_the_Gods,AE_efm_darklanders_Guard,AE_efm_darklanders_Whisper

    recruit=AE_efm_darklanders_Tribesman,AE_efm_darklanders_Hurler,AE_efm_darklanders_Beastman,AE_efm_darklanders_Jaguar_Rider,AE_efm_darklanders_Viper,AE_efm_darklanders_Malice_of_the_Gods,AE_efm_darklanders_Canoe,AE_efm_darklanders_Militia,AE_efm_darklanders_Stalker,AE_efm_darklanders_Serpent,AE_efm_darklanders_Wrath_of_the_Gods,AE_efm_darklanders_Guerrilla,AE_efm_darklanders_Wasp,AE_efm_darklanders_Cheetah_Rider,AE_efm_darklanders_Leopard_Rider,AE_efm_darklanders_Panther_Rider,AE_efm_darklanders_Catamaran,AE_efm_darklanders_Beastskull
    terrain_liked=Rd
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,archer,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Freemen - Heroes

[multiplayer_side]
    id=AE_side_efm_freemen
    name= "EFM - " + _ "Freemen"
    image="units/Freemen/sultan.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_efm_freemen_Sultan
    leader=AE_efm_freemen_Sultan,AE_efm_freemen_Caliph,AE_efm_freemen_Immortal,AE_efm_freemen_Mullah,AE_efm_freemen_Sheik,AE_efm_freemen_Goun

    recruit=AE_efm_freemen_Aristocrat,AE_efm_freemen_Sand_Walker,AE_efm_freemen_Camel_Rider,AE_efm_freemen_Wanderer,AE_efm_freemen_Muezzin,AE_efm_freemen_Roc,AE_efm_freemen_Chanter,AE_efm_freemen_Amir,AE_efm_freemen_Vizier,AE_efm_freemen_Mehariste,AE_efm_freemen_Sand_Rider,AE_efm_freemen_Mufti,AE_efm_freemen_Nomad,AE_efm_freemen_Howler,AE_efm_freemen_Guardsman
    terrain_liked=Rd
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,archer,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Highlanders - Heroes

[multiplayer_side]
    id=AE_side_efm_highlanders
    name= "EFM - " + _ "Highlanders"
    image="units/highlander/oliephant.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_efm_highlanders_Chief
    leader=AE_efm_highlanders_Chief,AE_efm_highlanders_Man_Hunter,AE_efm_highlanders_Spirit_Wielder,AE_efm_highlanders_Lion_Master,AE_efm_highlanders_Lion_Maverick

    recruit=AE_efm_highlanders_Brave,AE_efm_highlanders_Hunter,AE_efm_highlanders_Runner,AE_efm_highlanders_Lion_Warrior,AE_efm_highlanders_Witch_Doctor,AE_efm_highlanders_Elephant,AE_efm_highlanders_Hippo,AE_efm_highlanders_Warrior,AE_efm_highlanders_Prowler,AE_efm_highlanders_Lion_Adept,AE_efm_highlanders_Lion_Renegade,AE_efm_highlanders_Strider,AE_efm_highlanders_Shaman,AE_efm_highlanders_Warlock,AE_efm_highlanders_Oliephant, AE_efm_highlanders_Hippopotamus
    terrain_liked=Rd
    [ai]
        recruitment_pattern=fighter,fighter,archer,healer,archer,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Imperialist - Heroes

[multiplayer_side]
    id=AE_side_efm_imperialists
    name= "EFM - " + _ "Imperialists"
    image="units/imperialists/primus.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_efm_imperialists_Primus
    leader=AE_efm_imperialists_Primus,AE_efm_imperialists_Praetorion,AE_efm_imperialists_Gargantaur,AE_efm_imperialists_Equite,AE_efm_imperialists_Phalanx

    recruit=AE_efm_imperialists_Legionnaire,AE_efm_imperialists_Slinger,AE_efm_imperialists_Hardback,AE_efm_imperialists_Pelite,AE_efm_imperialists_Standard,AE_efm_imperialists_Sapper,AE_efm_imperialists_Galley,AE_efm_imperialists_Ballista,AE_efm_imperialists_Stalwart,AE_efm_imperialists_Shock_Troop,AE_efm_imperialists_Velite,AE_efm_imperialists_Centurion,AE_efm_imperialists_Rock_Rider,AE_efm_imperialists_Bolter,AE_efm_imperialists_Trireme,AE_efm_imperialists_Spiker,AE_efm_imperialists_Flinger,AE_efm_imperialists_Hoplite
    terrain_liked=Rd
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,archer,scout,mixed fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Pygmies - Heroes

[multiplayer_side]
    id=AE_side_efm_pygmies
    name= "EFM - " + _ "Pygmies"
    image="units/Pygmies/saber_cat.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_efm_pygmies_Saber_Cat
    leader=AE_efm_pygmies_Saber_Cat,AE_efm_pygmies_Sorceress,AE_efm_pygmies_Lizard_Eye

    recruit=AE_efm_pygmies_Knat,AE_efm_pygmies_Piper,AE_efm_pygmies_Puma,AE_efm_pygmies_Spider_Rider,AE_efm_pygmies_Crocodile,AE_efm_pygmies_Swamp_Witch,AE_efm_pygmies_Fly,AE_efm_pygmies_Charmer,AE_efm_pygmies_Mudfoot,AE_efm_pygmies_Stinger,AE_efm_pygmies_Lynx,AE_efm_pygmies_Great_Spider,AE_efm_pygmies_Web_Spitter,AE_efm_pygmies_Grand_Crocodile,AE_efm_pygmies_Toad_Breath,AE_efm_pygmies_Wyrd
    terrain_liked=Rd
    [ai]
        recruitment_pattern=scout,archer,fighter,archer,archer,archer,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Seastate - Heroes

[multiplayer_side]
    id=AE_side_efm_seastates
    name= "EFM - " + _ "Sea States"
    image="units/seastates/merchant_lord.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_efm_seastates_Merchant_Lord
    leader=AE_efm_seastates_Merchant_Lord,AE_efm_seastates_House_Guard,AE_efm_seastates_Elite_Bowman,AE_efm_seastates_Liegeman

    recruit=AE_efm_seastates_Regimenteer,AE_efm_seastates_Loyalist,AE_efm_seastates_Composite_Bowman,AE_efm_seastates_Rider,AE_efm_seastates_Horse_Archer,AE_efm_seastates_Alchemist,AE_efm_seastates_Boatsman,AE_efm_seastates_Paddle_Ship,AE_efm_seastates_Retainer,AE_efm_seastates_Veteran_Bowman,AE_efm_seastates_Sagiharii,AE_efm_seastates_Raider,AE_efm_seastates_Concoctionist,AE_efm_seastates_Doctor,AE_efm_seastates_Turtle,AE_efm_seastates_Paddle_Warship,AE_efm_seastates_Vassal
    terrain_liked=Rd
    [ai]
        recruitment_pattern=scout,archer,fighter,fighter,archer,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Whites - Heroes

[multiplayer_side]
    id=AE_side_efm_whites
    name= "EFM - " + _ "Whites"
    image="units/Whites/storm_queen.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_efm_whites_Thane
    leader=AE_efm_whites_Thane,AE_efm_whites_Storm_Lady,AE_efm_whites_Bow_Lady,AE_efm_whites_Sentinal,AE_efm_whites_Balladier

    recruit=AE_efm_whites_Warrior,AE_efm_whites_Bow_Girl,AE_efm_whites_Storm_Child,AE_efm_whites_Storm_Guard,AE_efm_whites_Terror_Rider,AE_efm_whites_Warder,AE_efm_whites_Scout,AE_efm_whites_Longboat,AE_efm_whites_Housecarl,AE_efm_whites_Keeper,AE_efm_whites_Huntress,AE_efm_whites_Heart_Guard,AE_efm_whites_Vigilante,AE_efm_whites_Raider,AE_efm_whites_Terror_Strider,AE_efm_whites_Dragon_Prow,AE_efm_whites_Bard,AE_efm_whites_Guardian
    terrain_liked=Rd
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,archer,fighter
    [/ai]
[/multiplayer_side]
