#textdomain wesnoth-multiplayer

### | Battle for Wesnoth Original Factions - Heroes

## | Drakes - Heroes

[multiplayer_side]
    id=AE_side_def_drakes
    name= _ "Default" + " - " + _ "Drakes"
    image="units/drakes/flameheart.png"
    type=Drake Flameheart
    leader=Drake Flameheart,Inferno Drake,Drake Enforcer,Drake Warden,Drake Blademaster,Saurian Soothsayer,Saurian Oracle
    random_leader=Drake Flameheart,Inferno Drake,Drake Enforcer,Drake Warden,Drake Blademaster
    recruit=Drake Burner,Fire Drake,Drake Clasher,Drake Glider,Drake Fighter,Saurian Skirmisher,Saurian Augur,Drake Warrior,Drake Flare,Drake Thrasher,Sky Drake,Drake Arbiter,Saurian Ambusher,Saurian Soothsayer,Saurian Oracle
    terrain_liked=Hh, Ha, Ds, Ss
    [ai]
        recruitment_pattern=fighter,fighter,archer,healer,scout,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Dunefolk - Heroes

[multiplayer_side]
    id=AE_side_def_dunefolk
    name= _ "Default" + " - " + _"Dunefolk"
    image="units/dunefolk/ranger.png"
    type=random
    leader=Dune Blademaster,Dune Spearmaster,Dune Harrier,Dune Ranger,Dune Cataphract,Dune Firetrooper
    random_leader=Dune Blademaster,Dune Spearmaster,Dune Harrier,Dune Ranger,Dune Cataphract
    recruit=Dune Rover,Dune Soldier,Dune Piercer,Dune Rider,Dune Herbalist,Dune Burner,Falcon,Dune Swordsman,Dune Spearguard,Dune Apothecary,Dune Skirmisher,Dune Explorer,Dune Sunderer,Dune Raider,Dune Swiftrider,Dune Scorcher,Elder Falcon
    terrain_liked=Ss, Hh, Ha, Ww
    # wmllint: markcheck off
    description="<img>src='portraits/dunefolk/herbalist.png~BG()' align='middle'</img>

"+_"The <bold>text='Dunefolk'</bold> are a faction of humans from the deserts and hills of the southern lands. The Dunefolk specialize in using terrain features to coordinate attacks at dawn or dusk. Their ranks boast lawful and liminal units, healers, high-accuracy melee fighters, and fearsome horse-mounted archers. While Dunefolk units tend to be more expensive than those of the Loyalist faction, they make up for this with high mobility — especially on hilly terrains."
    # wmllint: markcheck on
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,mixed fighter,archer,archer,scout
    [/ai]
[/multiplayer_side]


## | Knalgan Alliance - Heroes

[multiplayer_side]
    id=AE_side_def_knalga
    name= _ "Default" + " - " + _ "Knalgan Alliance"
    image="units/dwarves/lord.png"
    type=Dwarvish Lord
    leader=Dwarvish Lord,Dwarvish Dragonguard,Dwarvish Sentinel,Assassin,Huntsman,Ranger
    recruit=Dwarvish Guardsman,Dwarvish Stalwart,Dwarvish Fighter,Dwarvish Steelclad,Dwarvish Ulfserker,Dwarvish Berserker,Dwarvish Thunderer,Dwarvish Thunderguard,Thief,Rogue,Poacher,Trapper,Footpad,Outlaw,Gryphon Rider,Gryphon Master
    terrain_liked=Hh, Ha, Mm
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Loyalist - Heroes

[multiplayer_side]
    id=AE_side_def_loyalists
    name= _ "Default" + " - " + _ "Loyalists"
    image="units/human-loyalists/general.png"
    type=General
    leader=General,Royal Guard,Halberdier,Iron Mauler,Master Bowman,Mage of Light,Arch Mage,Silver Mage,Javelineer
    random_leader=General,Royal Guard,Halberdier,Master Bowman,Mage of Light,Arch Mage,Silver Mage
    recruit=Cavalryman,Dragoon,Horseman,Lancer,Knight,Spearman,Swordsman,Pikeman,Javelineer,Fencer,Duelist,Heavy Infantryman,Shock Trooper,Bowman,Longbowman,Mage,Red Mage,White Mage,Merman Fighter,Merman Warrior,Ogre,Lieutenant
    terrain_liked=Gg, Ww, Wo
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Northerners - Heroes

[multiplayer_side]
    id=AE_side_def_northerners
    name= _ "Default" + " - " + _ "Northerners"
    image="units/orcs/warlord.png"
    type=Orcish Warlord
    leader=Orcish Warlord,Troll Warrior,Orcish Slurbow,Orcish Slayer
    random_leader=Orcish Warlord,Troll Warrior,Orcish Slurbow
    recruit=Orcish Grunt,Orcish Warrior,Troll Whelp,Troll,Troll Rocklobber,Wolf Rider,Goblin Knight,Goblin Pillager,Orcish Archer,Orcish Crossbowman,Orcish Assassin,Orcish Slayer,Naga Fighter,Naga Warrior,Goblin Spearman,Goblin Impaler,Goblin Rouser
    terrain_liked=Hh, Ha, Mm, Ss
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Rebels - Heroes

[multiplayer_side]
    id=AE_side_def_rebels
    name= _ "Default" + " - " + _ "Rebels"
    image="units/elves-wood/marshal.png"
    type=Elvish Marshal
    leader=Elvish Marshal,Elvish Champion,Elvish Avenger,Elvish Sharpshooter,Mage of Light,Arch Mage,Silver Mage,Elvish Shyde,Elvish Enchantress,Ancient Wose
    random_leader=Elvish Marshal,Elvish Champion,Elvish Avenger,Elvish Sharpshooter,Mage of Light,Arch Mage,Silver Mage,Elvish Shyde,Elvish Enchantress
    recruit=Elvish Fighter,Elvish Hero,Elvish Captain,Elvish Archer,Elvish Marksman,Elvish Ranger,Mage,Red Mage,White Mage,Elvish Shaman,Elvish Druid,Elvish Sorceress,Elvish Scout,Elvish Rider,Wose,Elder Wose,Merman Hunter,Merman Spearman,Merman Netcaster
    terrain_liked=Ff, Fa, Ss, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Undead - Heroes

[multiplayer_side]
    id=AE_side_def_undead
    name= _ "Default" + " - " + _ "Undead"
    image="units/undead-necromancers/lich.png"
    type=Lich
    leader=Lich,Necromancer,Draug,Banebow,Necrophage,Deathblade
    random_leader=Lich,Necromancer,Draug,Banebow
    recruit=Skeleton,Revenant,Deathblade,Skeleton Archer,Bone Shooter,Walking Corpse,Soulless,Ghost,Wraith,Shadow,Vampire Bat,Blood Bat,Ghoul,Necrophage,Dark Adept,Dark Sorcerer
    terrain_liked=Ss, Hh, Ha, Ww
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
