#textdomain wesnoth-Rashy_Era
[multiplayer_side]
    id=AE_RHY_Aquana
    name= "RE - " + _"Aquana"
    image="units/merfolk/triton.png"
    type=AE_rhy_aq_Fullmoonmage
    leader=AE_rhy_aq_Fullmoonmage,AE_rhy_aq_Newmoonmage,AE_rhy_aq_General,AE_rhy_aq_Tank,AE_rhy_aq_Hoplite,AE_rhy_aq_Master_Bowman,AE_rhy_aq_High_Fullmoonmage
    random_leader=AE_rhy_aq_General,AE_rhy_aq_Tank,AE_rhy_aq_Fullmoonmage,AE_rhy_aq_Newmoonmage
    recruit=AE_rhy_aq_Warrior,VRAqM Hoplite,AE_rhy_aq_Spearman,AE_rhy_aq_Entangler,AE_rhy_aq_Enchantress,AE_rhy_aq_Scout,AE_rhy_aq_Rider,AE_rhy_aq_Mercenary,AE_rhy_aq_Warrior,AE_rhy_aq_Guard,AE_rhy_aq_Retiarius,AE_rhy_aq_Harpuuneer,AE_rhy_aq_Longbowman,AE_rhy_aq_Blue_Mage
    terrain_liked=Gg, Ww, Wo, Ds, Ss
    description= _ "Additonal to their many water units, the regular infantry can also hold their own in shallow water. Aquana might randomly be recuited as a human variant, with slightly different stats.
The faction access to cold magic and slowing ability, but lacks in arcane and fire damage."
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,archer,mage,scout,scout,fighter,mixed fighter,archer,fish,fighter,mixed fighter,archer,mage,fighter,mixed fighter,mage
    [/ai]
[/multiplayer_side]

#textdomain wesnoth-Rashy_Era
[multiplayer_side]
    id=AE_RHY_Assassins
    name= "RE - " + _"Assassins"
    image="units/elves-dark/grandmaster-assassin.png"
    type=AE_rhy_de_GreatassassinB
    leader=AE_rhy_de_GreatassassinB,AE_rhy_de_Thief,AE_rhy_de_Nightshadow,AE_rhy_de_Assassin,AE_rhy_de_Greatassassin
    random_leader=AE_rhy_de_Assassin
    recruit=AE_rhy_de_Thief,AE_rhy_de_Nightshadow,AE_rhy_de_Assassin,AE_rhy_de_Greatassassin
    description= _ "Unique faction with a different playstile. Avoid the big fights and try to sneak up to the enemy leader with your assassins."
[/multiplayer_side]

#textdomain wesnoth-Rashy_Era
[multiplayer_side]
    id=AE_RHY_Chevalier
    name= "RE - " + _"Chevalier"
    image="units/human-chevalier/general.png"
    type=AE_rhy_ce_General
    leader=AE_rhy_ce_General,AE_rhy_ce_Teuton,AE_rhy_ce_Greatsword,AE_rhy_ce_Halberdier,AE_rhy_ce_Arbalist,AE_rhy_ce_Siege_Bowman,AE_rhy_ce_Holy_Knight
    random_leader=AE_rhy_ce_General,AE_rhy_ce_Teuton,AE_rhy_ce_Halberdier
    recruit=AE_rhy_ce_Knight,AE_rhy_ce_Rider,AE_rhy_ce_Armored_Horseman,AE_rhy_ce_Townguard,AE_rhy_ce_Swordsman,AE_rhy_ce_Miliz,AE_rhy_ce_Pikeman,AE_rhy_ce_Basher,AE_rhy_ce_Longbowman,AE_rhy_ce_Heavy_Crossbowman,AE_rhy_ce_Lieutenant,AE_rhy_ce_Healer,AE_rhy_ce_Corvette
    terrain_liked=Gg, Ww, Wo
    description= _ "Human faction with more soliedrs instead of mages. Choose between regular units or their more armored, expensive couterpart. The healer unit has access to poison as well."
[/multiplayer_side]

#textdomain wesnoth-Rashy_Era
[multiplayer_side]
    id=AE_RHY_Dardo
    name= "RE - " + _"Dardo"
    image="units/human-dardo/captain.png"
    type=AE_rhy_dr_Captain
    leader=AE_rhy_dr_Captain,AE_rhy_dr_Phalanx,AE_rhy_dr_Justicar,AE_rhy_dr_Longbowman,AE_rhy_dr_Ranger,AE_rhy_dr_Imperator
    random_leader=AE_rhy_dr_Captain,AE_rhy_dr_Phalanx,AE_rhy_dr_Justicar,AE_rhy_dr_Longbowman,AE_rhy_dr_Ranger
    recruit=AE_rhy_dr_Legion,AE_rhy_dr_Hoplite,AE_rhy_dr_Praetorian,AE_rhy_dr_Commander,AE_rhy_dr_Compositbowman,AE_rhy_dr_Striker,AE_rhy_dr_Scout,AE_rhy_dr_Rider,AE_rhy_dr_Lancer,AE_rhy_dr_Flanker,AE_rhy_dr_Sellsword,AE_rhy_dr_Trireme,AE_rhy_dr_War_Chariot
    terrain_liked=Gg, Dd, Ww, Wo
    description= _ "Human faction with a big focus on cavalery. The spearmen infantry can hold a line thanks to their defense buffs."
[/multiplayer_side]

#textdomain wesnoth-Rashy_Era
[multiplayer_side]
    id=AE_RHY_Darkelves
    name= "RE - " + _"Darkelves"
    image="units/elves-dark/nightprincess.png"
    type=AE_rhy_de_Nightprincess
    leader=AE_rhy_de_Nightprincess,AE_rhy_de_Shadowgeneral,AE_rhy_de_Assassin,AE_rhy_de_Bloodpriest,AE_rhy_de_Shadowguard,AE_rhy_de_Nighteye,AE_rhy_de_Queen
    random_leader=AE_rhy_de_Nightprincess,AE_rhy_de_Shadowgeneral,AE_rhy_de_Assassin,AE_rhy_de_Bloodpriest
    recruit=AE_rhy_de_Marksman,AE_rhy_de_Shadowpriest,AE_rhy_de_Spiderpriest,AE_rhy_de_Darkrider,AE_rhy_de_Shadowrider,AE_rhy_de_Nightshadow,AE_rhy_de_Shadowwarrior,AE_rhy_de_Spearman,AE_rhy_de_Darkguard,AE_rhy_de_Black_Spider,AE_rhy_de_Deadwood,AE_rhy_de_Elvish_Ship,AE_rhy_de_Trooper
    terrain_liked=Ff, Fa, Ss, Uu
    description= _ "Darkelves fight wenn in the forest and in caves, especially when it's dark. They have access to poison and slow. An experienced Assassin can attack without retaliation."
[/multiplayer_side]

#textdomain wesnoth-Rashy_Era
[multiplayer_side]
    id=AE_RHY_Dwarves
    name= "RE - " + _"Dwarves"
    image="units/dwarves/lord.png"
    type=Dwarvish Lord
    leader=AE_rhy_dw_Lord,AE_rhy_dw_Sentinel,AE_rhy_dw_Elementarist,Dwarvish Explorer
    random_leader=AE_rhy_dw_Lord,AE_rhy_dw_Sentinel,AE_rhy_dw_Elementarist
    recruit=AE_rhy_dw_Guardsman,AE_rhy_dw_Stalwart,AE_rhy_dw_Fighter,AE_rhy_dw_Steelclad,AE_rhy_dw_Runeknight,AE_rhy_dw_Runeadept,AE_rhy_dw_Runemage,Dwarvish Ulfserker,Dwarvish Berserker,Gryphon Rider,Gryphon Master,AE_rhy_dw_Brewmaster
    terrain_liked=Hh, Ha, Mm
    description= _ "Dwarves without the support of other races. The unique advancement of the Engineer can fire arrows across larger distances. Can not be operated by AI."
[/multiplayer_side]

#textdomain wesnoth-Rashy_Era
[multiplayer_side]
    id=AE_RHY_Elyser
    name= "RE - " + _"Elyser"
    image="units/elyser/high-lord.png"
    type=AE_rhy_ey_High_Lord
    leader=AE_rhy_ey_High_Lord,AE_rhy_ey_Sylph,AE_rhy_ey_Champion,AE_rhy_ey_Sharpshooter,AE_rhy_ey_Druid,AE_rhy_ey_Governor
    random_leader=AE_rhy_ey_High_Lord,AE_rhy_ey_Sharpshooter,AE_rhy_ey_Sylph
    recruit=AE_rhy_ey_Fighter,AE_rhy_ey_Dancer,AE_rhy_ey_Guard,AE_rhy_ey_Sorcerer,AE_rhy_ey_Lord,AE_rhy_ey_Marksman,AE_rhy_ey_Healer,AE_rhy_ey_Scout,AE_rhy_ey_Rider,Elder Wose,AE_rhy_ey_Waterfairy,AE_rhy_ey_Nymph,AE_rhy_de_Elvish_Ship
    terrain_liked=Ff, Fa, Ss, Ww
    description= _ "Elves who grew up in a secured city. While they still have a connection to nature and forest, they take more to the study of magic."
[/multiplayer_side]

#textdomain wesnoth-Rashy_Era
[multiplayer_side]
    id=AE_RHY_Gnomes
    name= "RE - " + _"Gnomes"
    image="units/gnomes/cutter.png"
    type=AE_rhy_fd_Cutter
    leader=AE_rhy_fd_Cutter,AE_rhy_fd_Waraxe,AE_rhy_fd_Sniper,AE_rhy_fd_Rapidfire,AE_rhy_fd_Ranger,AE_rhy_fd_Gnome_Gold,AE_rhy_fd_Titan_King,AE_rhy_fd_Gnome_Bard
    random_leader=AE_rhy_fd_Cutter,AE_rhy_fd_Waraxe,AE_rhy_fd_Sniper,AE_rhy_fd_Rapidfire
    recruit=AE_rhy_fd_Lumberjack,AE_rhy_fd_Warrior,AE_rhy_fd_Greataxe,AE_rhy_fd_Tinkerer,AE_rhy_fd_Pathfinder,AE_rhy_fd_Gnome_Luck,AE_rhy_fd_Gnome_Rider,AE_rhy_fd_Gnome_Knight,AE_rhy_fd_Coloss,AE_rhy_fd_Gryphon,AE_rhy_fd_Gnome_Minstrel
    terrain_liked=Ff, Fa, Hh, Ha, Mm
    description= _ "Faction with Dwarves, Gnomes and Giants. They do well on forest and mountain terrain. Gnomes are nimble, but fragile. Dwarves and Giants survive through their HP and resistance."
[/multiplayer_side]

#textdomain wesnoth-Rashy_Era
[multiplayer_side]
    id=AE_RHY_Forestfolk
    name= "RE - " + _"Forestfolk"
    image="units/human-forest/druid.png"
    type=AE_rhy_fh_Beastmaster
    leader=AE_rhy_fh_Beastmaster,AE_rhy_fh_Axemaster,AE_rhy_fh_Ranger,AE_rhy_fh_Huntsman,AE_rhy_fh_Druid,AE_rhy_fh_Ancient_Druid
    random_leader=AE_rhy_fh_Beastmaster,AE_rhy_fh_Axemaster,AE_rhy_fh_Ranger,AE_rhy_fh_Huntsman,AE_rhy_fh_Druid
    recruit=AE_rhy_fh_Tamer,AE_rhy_fh_Trapper,AE_rhy_fh_Axethrower,AE_rhy_fh_Axeman,AE_rhy_fh_Forester,AE_rhy_fh_Poacher,AE_rhy_fh_bear,AE_rhy_fh_Mage,AE_rhy_fh_Healer,AE_rhy_fh_Deerrider,AE_rhy_fh_Deerknight,AE_rhy_fh_Forest_Wolf,AE_rhy_fh_Great_Beaver
    terrain_liked=Ff, Fa, Gg, Ww
    description= _ "A human faction who do well in the forest. Their hunters can boost the tamed animals and monsters of this faction."
[/multiplayer_side]

#textdomain wesnoth-Rashy_Era
[multiplayer_side]
    id=AE_RHY_Mountaintribes
    name= "RE - " + _"Mountaintribe"
    image="units/human-mountains/birdman.png"
    type=AE_rhy_mh_Eaglemaster
    leader=AE_rhy_mh_Eaglemaster,AE_rhy_mh_Wolfchampion,AE_rhy_mh_Wolfswordmaster,AE_rhy_mh_Eremit,AE_rhy_mh_Ranger,AE_rhy_mh_Adventurer,AE_rhy_mh_Raventrainer
    random_leader=AE_rhy_mh_Eaglemaster,AE_rhy_mh_Wolfchampion,AE_rhy_mh_Wolfswordmaster,AE_rhy_mh_Eremit
    recruit=AE_rhy_mh_Flareman,AE_rhy_mh_Falconmaster,AE_rhy_mh_Wolf_Fighter,AE_rhy_mh_Wolf_Warrior,AE_rhy_mh_Wolfguard,AE_rhy_mh_Wise,AE_rhy_mh_Hunter,AE_rhy_mh_Explorer,AE_rhy_mh_Stonegolem,AE_rhy_mh_Roc_small,AE_rhy_mh_Roc
    terrain_liked=Hh, Ha, Mm, Gg
    description= _ "A human faction who do well on mountains."
[/multiplayer_side]

#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=AE_RHY_Luz
    name= "RE - " + _"Luz"
    image="units/human-luz/bishop.png"
    type=AE_rhy_lz_Inquisitor
    leader=AE_rhy_lz_Inquisitor,AE_rhy_lz_Holy_Warden,AE_rhy_lz_Bishop,AE_rhy_lz_Abbot,AE_rhy_lz_Sentinel,AE_rhy_lz_Pope
    random_leader=AE_rhy_lz_Inquisitor,AE_rhy_lz_Bishop,AE_rhy_lz_Abbot
    recruit=AE_rhy_lz_Angel_Warrior,AE_rhy_lz_Angel_Archer,AE_rhy_lz_Inquisition_Warrior,AE_rhy_lz_Witchhunter,AE_rhy_lz_Monk,AE_rhy_lz_Cleric,AE_rhy_lz_Miliz,AE_rhy_lz_Veteran,AE_rhy_lz_Keeper,AE_rhy_lz_Rider,AE_rhy_lz_Knight,AE_rhy_lz_Heavy_Crossbowman
    terrain_liked=Gg, Ff, Hh, Ww
    description= _ "A lawful human faction with a lot of arcane damage."
[/multiplayer_side]

#textdomain wesnoth-Rashy_Era
[multiplayer_side]
    id=AE_RHY_Marashy
    name= "RE - " + _"Marashy"
    image="units/marashy/shadow-mage.png"
    type=AE_rhy_ma_Lord
    leader=AE_rhy_ma_Lord,AE_rhy_ma_Battlemage,AE_rhy_ma_General,AE_rhy_ma_Sentinel,AE_rhy_ma_Swordmaster,AE_rhy_ma_Zealot,AE_rhy_ma_Dark_Lord
    random_leader=AE_rhy_ma_Lord,AE_rhy_ma_Battlemage,AE_rhy_ma_General,AE_rhy_ma_Sentinel
    recruit=AE_rhy_ma_Soldier,AE_rhy_ma_Longsword,AE_rhy_ma_Longbowman,AE_rhy_ma_Night_Guard,AE_rhy_ma_Lieutenant,AE_rhy_ma_Seeker,AE_rhy_ma_Raider,AE_rhy_ma_Pillager,AE_rhy_ma_Looter,AE_rhy_ma_Sorcerer,AE_rhy_ma_Spellblade,AE_rhy_ma_Warmonk, AE_rhy_ma_Ki,AE_rhy_ma_Kecht
    terrain_liked=Ff, Gg, Ss, Ww
    description= _ "Marashy have decent evasion, but are vulerable to physical attacks. They have unique racial traits to grant them a big, but random bonus."
[/multiplayer_side]

#textdomain wesnoth-Rashy_Era
[multiplayer_side]
    id=AE_RHY_Undead
    name= "RE - " + _"Necromancers"
    image="units/undead-necromancers/lich.png"
    type=Lich
    leader=AE_rhy_ne_Lich,AE_rhy_ne_Necromancer,AE_rhy_ne_Death_Knight,AE_rhy_ne_bone_mess,AE_rhy_ne_Banebow,AE_rhy_ne_Nightgaunt,AE_rhy_ne_Spectre,AE_rhy_ne_Pyromancer
    random_leader=AE_rhy_ne_Lich,AE_rhy_ne_Necromancer,AE_rhy_ne_Death_Knight
    recruit=AE_rhy_ne_Skeleton_Horse,AE_rhy_ne_Undead_Horse,AE_rhy_ne_bone_construct,AE_rhy_ne_bone_golem,AE_rhy_ne_bone_snake,AE_rhy_ne_Bone_Shooter,AE_rhy_ne_Fire_Shooter,AE_rhy_ne_Death_Squire,AE_rhy_ne_Wraith,AE_rhy_ne_Shadow,AE_rhy_ne_Necrophage,AE_rhy_ne_Dark_Sorcerer, AE_rhy_ne_Skeleton_Mage,AE_rhy_ne_leviathan
    terrain_liked=Ss, Hh, Ha, Ww
    description= _ "Necromancers and their undead creations"
[/multiplayer_side]

#textdomain wesnoth-Rashy_Era
[multiplayer_side]
    id=AE_RHY_Regis
    name= "RE - " + _"Regis"
    image="units/human-regis/noble-lord.png"
    type=AE_rhy_rg_Noble_Lord
    leader=AE_rhy_rg_Noble_Lord,AE_rhy_rg_Royal_Guard,AE_rhy_rg_Halberdier,AE_rhy_rg_Master_Bowman,AE_rhy_rg_Ranger,AE_rhy_rg_Castellan,AE_rhy_rg_Jester,AE_rhy_rg_Arch_Mage,AE_rhy_rg_King
    random_leader=AE_rhy_rg_Noble_Lord,AE_rhy_rg_Royal_Guard,AE_rhy_rg_Master_Bowman,AE_rhy_rg_Arch_Mage
    recruit=AE_rhy_rg_Nobleman,AE_rhy_rg_Traveling_Knight,AE_rhy_rg_Jouster, AE_rhy_rg_Hussar,AE_rhy_rg_Squire,AE_rhy_rg_Swordsman,AE_rhy_rg_Pikeman,AE_rhy_rg_Longbowman,AE_rhy_rg_Castle_Crossbowman,AE_rhy_rg_Spy,AE_rhy_rg_Red_Mage,AE_rhy_rg_White_Mage,AE_rhy_rg_Noble_Commander,AE_rhy_rg_Galleon
    terrain_liked=Gg, Ww, Wo
    description= _ "A lawful human faction similar to loyalists."
[/multiplayer_side]

#textdomain wesnoth-Rashy_Era
[multiplayer_side]
    id=AE_RHY_Trarashy
    name= "RE - " + _"Trarashy"
    image="units/trarashy/sentinel.png"
    type=AE_rhy_tr_Sentinel
    leader=AE_rhy_tr_Nova,AE_rhy_tr_Luna,AE_rhy_tr_Gaya,AE_rhy_tr_Vortex,AE_rhy_tr_Sentinel,AE_rhy_tr_Marshall,AE_rhy_tr_Sharpshooter,AE_rhy_tr_Avatar
    random_leader=AE_rhy_tr_Sentinel,AE_rhy_tr_Marshall,AE_rhy_tr_Sharpshooter
    recruit=AE_rhy_tr_Scout,AE_rhy_tr_Rider,AE_rhy_tr_Keeper,AE_rhy_tr_Guard,AE_rhy_tr_Leader,AE_rhy_tr_Doublesword,AE_rhy_tr_Marksman,AE_rhy_tr_Lightning,AE_rhy_tr_Matter,AE_rhy_tr_Dimension,AE_rhy_ma_Kecht
    terrain_liked=Ff, Gg, Ww, Wo
    description= _ "Trarahy have strong mages and decent evasion, but are vulerable to physical attacks. They have unique racial traits to grant them a big, but random bonus."
[/multiplayer_side]

#textdomain wesnoth-Rashy_Era
[multiplayer_side]
    id=AE_RHY_Vixens
    name= "RE - " + _"Vixens"
    image="units/vixens/queen.png"
    type=AE_rhy_vx_Queen
    leader=AE_rhy_vx_Queen,AE_rhy_vx_Templeguard,AE_rhy_vx_Smasher,AE_rhy_vx_Sharpshooter,AE_rhy_vx_Witch,AE_rhy_vx_Highpriest,AE_rhy_vx_Godess
    random_leader=AE_rhy_vx_Queen,AE_rhy_vx_Templeguard,AE_rhy_vx_Smasher,AE_rhy_vx_Sharpshooter,AE_rhy_vx_Witch
    recruit=AE_rhy_vx_Warrior,AE_rhy_vx_Hunter,AE_rhy_vx_Guard,AE_rhy_vx_Stalker,AE_rhy_vx_Marksman,AE_rhy_vx_Sorceress,AE_rhy_vx_Priest,AE_rhy_vx_Scout,AE_rhy_vx_Rider,AE_rhy_vx_Snake_Viper,Naga Warrior
    terrain_liked=Ff, Ss, Fa
    description= _ "Amaxon fox women, who like to fight in the forest or swampy regions. They are highly agile and can craft potent poisons, but lack in resistance."
[/multiplayer_side]
