#textdomain wesnoth-Ageless_Era

### | Era of Myths Custom Factions - Heroes

## | Celestials - Heroes

[multiplayer_side]
    id=AE_myh_celestials
    name= "EOM - " + _ "Celestials"
    image="units/celestials/herald.png"
    type=AE_myh_Herald
    leader=AE_myh_Herald,AE_myh_Divine_Champion,AE_myh_Holy_Sentinel,AE_myh_Sentinel,AE_myh_Sage,AE_myh_Prophet,AE_myh_Sicarius
    random_leader=AE_myh_Herald,AE_myh_Divine_Champion,AE_myh_Holy_Sentinel,AE_myh_Sentinel,AE_myh_Sage,AE_myh_Prophet
    recruit=AE_myh_Messenger,AE_myh_Light_Spirit,AE_myh_Lantern_Archon,AE_myh_Crusader,AE_myh_Legionnaire,AE_myh_Wizard,AE_myh_Zealot,AE_myh_Claimant,AE_myh_Divine_Knight,AE_myh_Protector,AE_myh_Keeper,AE_myh_Great_Wizard,AE_myh_Mystic,AE_myh_Militant,AE_myh_Quester
    [ai]
        recruitment_pattern=fighter,fighter,fighter,fighter,archer,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Devlings - Heroes

[multiplayer_side]
    id=AE_myh_devlings
    name= "EOM - " + _ "Devlings"
    image="units/devlings/offenders.png"
    type=random
    leader=AE_myh_Devling_Chief,AE_myh_Devling_Hero,AE_myh_Offenders,AE_myh_Staplers
    recruit=AE_myh_Devling_Soldier,AE_myh_Devling_Warrior,AE_myh_Blasphemists,AE_myh_Lurker,AE_myh_Flyers,AE_myh_Spikers,AE_myh_Flappers,AE_myh_Sneak,AE_myh_Cursers,AE_myh_Overgrown_Devling,AE_myh_Nailers
    terrain_liked=Ss #Swamp
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Therians - Heroes

[multiplayer_side]
    id=AE_myh_therians
    name= "EOM - " + _ "Therians"
    image="units/therians/leopard.png"
    type=AE_myh_Therian_Monk
    leader=AE_myh_Therian_Ranger,AE_myh_Aura_Master,AE_myh_Panther,AE_myh_Tiger,AE_myh_King_Cobra,AE_myh_Spitting_Cobra,AE_myh_Therian_Master,AE_myh_Therian_Priest
    recruit=AE_myh_Cat,AE_myh_Falcon,AE_myh_Serpent,AE_myh_Therian_Hunter,AE_myh_Therian_Monk,AE_myh_Therian_Guard,AE_myh_Therian_Tracker,AE_myh_Aura_Monk,AE_myh_Therian_Defender,AE_myh_Wildcat,AE_myh_Cobra,AE_myh_Sandskipper,AE_myh_Sea_Snake,AE_myh_Therian_Apprentice,AE_myh_Therian_Mage,AE_myh_Therian_Shaman,AE_myh_Prairie_Falcon
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Vampires - Heroes

[multiplayer_side]
    id=AE_myh_vampires
    name= "EOM - " + _ "Vampires"
    image="units/vampires/sire.png"
    type=AE_myh_Sire
    leader=AE_myh_Sword_Dancer,AE_myh_Sire,AE_myh_Sangel,AE_myh_Twilight_Walker,AE_myh_Day_Hunter
    recruit=AE_myh_Marlgoyle,AE_myh_Gargoyle,AE_myh_Blood_Hulk,AE_myh_Fledgeling,AE_myh_Blood_Apprentice,AE_myh_Thin_Blood,Vampire Bat,AE_myh_Bloodborn,AE_myh_Duelist,AE_myh_Noble,AE_myh_Flesh_Artisan,AE_myh_Blood_Manipulator,Blood Bat,AE_myh_Half_Blood
    [ai]
        recruitment_pattern=fighter,fighter,fighter,scout,archer,mixed fighter,fighter,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Warg - Heroes

[multiplayer_side]
    id=AE_myh_wargs
    name= "EOM - " + _ "The Warg" # or "Wargs"
    image="units/wargs/moon-blade.png"
    type=AE_myh_Moon_Blade
    leader=AE_myh_Fenrir,AE_myh_Pack_Leader,AE_myh_Moon_Blade,AE_myh_Flame_Spirit,AE_myh_Wolfling,AE_myh_Night_Eye,AE_myh_Water_Shyde,AE_myh_Water_Shyde
    recruit=AE_myh_Warrior_Wolf,AE_myh_Stalker,AE_myh_Wolf_Cub,AE_myh_Shapeshifter,AE_myh_Fire_Sprite,AE_myh_Flame_Sprite,AE_myh_Warrior_Warg,AE_myh_Rabid_Wolf,AE_myh_Wolf,AE_myh_Changeling,AE_myh_Blackfur,AE_myh_Black_Hunter,AE_myh_Water_Dryad,AE_myh_Water_Nymph,AE_myh_Shadow_Pelt
    [ai]
        recruitment_pattern=fighter,scout,fighter,archer,scout,fighter,tank
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Windsong - Heroes

[multiplayer_side]
    id=AE_myh_windsong
    name= "EOM - " + _ "Windsong"
    image="units/windsong/ascendant.png"
    type=AE_myh_Ascendant
    leader=AE_myh_Arbiter,AE_myh_Runeforger,AE_myh_Dreadnought,AE_myh_Stormbringer,AE_myh_Oathkeeper,AE_myh_Harbinger,AE_myh_Ascendant
    random_leader=AE_myh_Arbiter,AE_myh_Runeforger,AE_myh_Stormbringer,AE_myh_Oathkeeper,AE_myh_Ascendant
    recruit=AE_myh_Emissary,AE_myh_Sky_Crystal,AE_myh_Savant,AE_myh_Prophetess,AE_myh_Envoy,AE_myh_Skyrunner,AE_myh_Lorekeeper,AE_myh_Heretic,AE_myh_Reaver,AE_myh_Scribe,AE_myh_Seeker,AE_myh_Weaver,AE_myh_Gatekeeper,AE_myh_Courier,AE_myh_Sky_Shard,AE_myh_Pathfinder
    terrain_liked=Aa, Ha, Ww #snow, snowy hills, shallow water
    [ai]
        recruitment_pattern=mixed fighter,archer,scout,fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Elementals - Default
#ifver WESNOTH_VERSION < 1.14.0
[multiplayer_side]
    id=AE_myh_elementals
    name= "EOM - " + _ "Elementals"
    image="units/elementals/water-tempest.png"
    type=random
    leader=AE_myh_Fire_Ghost,AE_myh_Djinn,AE_myh_Ice_Shell,AE_myh_Lava_Beast,AE_myh_Stone_Titan

    #random_leader= list of Mages in AE (without teleport – list of mages which can be leaders)

    terrain_liked=Ai # Ice (only in this era, since here ice crabs are recruitable)
recruit=AE_myh_Unicorn,AE_myh_Water,AE_myh_Wind_Spirit,AE_myh_Air,AE_myh_Vine_Beast,AE_myh_Fire,AE_myh_Fire_Wisp,AE_myh_Vine_Tiger,AE_myh_Undine,AE_myh_Ice_Crab,AE_myh_Zephyr,AE_myh_Rock_Golem,AE_myh_Earth,AE_myh_Living_Furnace,AE_myh_Silver_Unicorn,AE_myh_Razorbird,AE_myh_Thunderbird
    [ai]
        recruitment_pattern=fighter,scout,mixed fighter,mixed fighter,scout,fighter
    [/ai]
[/multiplayer_side]
#endif

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
