#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_stf_minotaurs_Gnoll_Sharpeye
    name= _ "Sharpeye"
    race=AE_stf_minotaurs_Gnoll_race
    image="units/gnolls/sharpeye.png"
    hitpoints=60
    movement_type=AE_stf_minotaurs_gnollfoot
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    cost=48
    usage=archer
    die_sound={SOUND_LIST:GNOLL_DIE}
    {AMLA_DEFAULT}
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others.

The Gnoll Sharpeyes have perfected their grand art of archery and have become somewhat adept in the use of thier swords. Eventhough most of the Gnolls spend most of their time attacking in the swamps the Sharpeyes sometimes participate in battle outside of the swamps. Nonetheless, these creatures take pride in their art, especially when using it to kill."
    {DEFENSE_ANIM "units/gnolls/sharpeye.png" "units/gnolls/sharpeye.png" {SOUND_LIST:GNOLL_HIT} }
    [abilities]
        {ABILITY_AE_SWAMPAMBUSH}
    [/abilities]

    [resistance]
        arcane=90
    [/resistance]

    [attack]
        name=sword
        description={STR_SWORD}
        type=blade
        range=melee
        damage=8
        number=3
        icon=attacks/sword-orcish.png
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=8
        number=5
        icon=attacks/bow-orcish.png
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-100
        [frame]
            duration=100
            image="units/gnolls/sharpeye.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/gnolls/sharpeye.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/gnolls/sharpeye.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    {HALF-ANIMATED_BOW_ANIMATION (units/gnolls/sharpeye.png) }
[/unit_type]
