#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ma_Cog
    name= _ "Cog"
    race=mechanical
    image="units/ships/sailboat.png"
    ellipse="misc/ellipse"
    hitpoints=38
    movement_type=AE_RHY_ship
    movement=7
    experience=46
    level=1
    alignment=neutral
    advances_to=AE_rhy_ma_Schooner
    cost=18
    usage=archer
    description={AE_RHY_UNIT_NOTICE}+""+{SPECIAL_NOTES}+{AE_RHY_SPECIAL_NOTES_MASSIVE}
    [abilities]
        {AE_RHY_ABILITY_SLOW_IMMUNE}
    [/abilities]
    [defense]
        shallow_water=50
        swamp_water=60
    [/defense]
    [attack]
        name=crew
        description=_"armed crew"
        icon=attacks/axe-crude.png
        type=blade
        range=melee
        damage=5
        number=2
    [/attack]
    [attack]
        name=ballista
        description={STR_BALLISTA}
        icon=attacks/crossbow-undead.png
        type=pierce
        range=ranged
        damage=4
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=crew
        [/filter_attack]
        start_time=-150
        [if]
            hits=no
            [frame]
                duration=300
                image="units/ships/sailboat.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=300
                image="units/ships/sailboat.png"
                sound=axe.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=ballista
        [/filter_attack]
        start_time=-445
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            image="units/ships/sailboat.png:65"
        [/frame]
        [frame]
            image="units/ships/sailboat.png:445"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -230}
    [/attack_anim]
[/unit_type]
