#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_mountain_goblins_Assassin
    name= _ "Assassin"
    race=gobmon
    gender=male
    image="units/gobmon/assassin.png"
    hitpoints=33
    movement_type=orcishfoot
    movement=6
    experience=100
    level=2
    alignment=chaotic
    cost=25
    usage=mixed fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:GOBLIN_DIE}
    {DEFENSE_ANIM "units/gobmon/assassin.png" "units/gobmon/assassin.png" {SOUND_LIST:GOBLIN_HIT} }

    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water=3
        reef=2
        swamp_water=3
        flat=1
        sand=2
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=1
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=60
        reef=60
        swamp_water=60
        flat=40
        sand=60
        forest=30
        hills=30
        mountains=30
        village=30
        castle=30
        cave=60
        frozen=50
        unwalkable=90
        impassable=90
        fungus=50
    [/defense]

    [resistance]
        blade=120
        pierce=110
        impact=110
        cold=90
    [/resistance]

    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=dague
        description= _"dagger"
        type=blade
        range=melee
        damage=6
        number=2
        icon=attacks/dagger-orcish.png
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=couteaux
        description=_"throwing knives"
        type=blade
        range=ranged
        damage=6
        number=3
        icon=attacks/dagger-thrown-poison-orcish.png
        [specials]
            {WEAPON_SPECIAL_POISON}
            {AE_CHS_WEAPON_SPECIAL_AIMED}
        [/specials]
    [/attack]

    [attack]
        name=sling
        description= _ "sling"
        type=impact
        range=ranged
        damage=6
        number=3
        [specials]
            {AE_CHS_WEAPON_SPECIAL_AIMED}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sling
        [/filter_attack]
        offset=0.0
        [if]
            hits=yes
            {MISSILE_FRAME_STONE_HIT 5 -6}
            [frame]
                begin=-400
                end=-150
                image="units/gobmon/assassin.png"
                sound=sling.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            {MISSILE_FRAME_STONE_MISS 5 -6}
            [frame]
                begin=-400
                end=-150
                image="units/gobmon/assassin.png"
                sound=sling-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-150
            end=50
            image="units/gobmon/assassin.png"
        [/frame]
    [/attack_anim]

    {RAPIER_SOUND}
    {KNIFE_SOUND}
[/unit_type]
