#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_mountain_goblins_Footman
    name= _ "Footman"
    race=gobmon
    gender=male
    image="units/gobmon/fantassin.png"
    hitpoints=29
    movement_type=AE_gobmon
    movement=5
    experience=50
    level=1
    alignment=chaotic
    cost=13
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:GOBLIN_DIE}
    {DEFENSE_ANIM "units/gobmon/fantassin.png" "units/gobmon/fantassin.png" {SOUND_LIST:GOBLIN_HIT} }
    [attack]
        name=hache
        description= _"axe"
        type=blade
        range=melee
        damage=6
        number=4
        icon=attacks/axe-crude.png
    [/attack]
    {AXE_SOUND}

    [attack]
        name=Hatchet
        description={STR_HATCHET}
        icon=attacks/hatchet.png
        type=blade
        range=ranged
        damage=4
        number=1
        [specials]
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Hatchet
        [/filter_attack]
        missile_start_time=-250
        [missile_frame]
            duration=250
            image="projectiles/hatchet-1.png"
            image_diagonal="projectiles/hatchet-1.png"
            sound=hatchet.wav
        [/missile_frame]
        start_time=-500
        [frame]
            image=units/gobmon/fantassin.png
        [/frame]
    [/attack_anim]
[/unit_type]
