#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_AoA_mountain_goblins_Goblin_Sentinel
    name= _ "Goblin Sentinel"
    race=gobmon
    gender=male
    image="units/gobmon/armor_1.png"
    hitpoints=48
    movement_type=orcishfoot
    movement=4
    level=2
    experience=66
    advances_to=AE_AoA_mountain_goblins_Goblin_Bulwark
    alignment=chaotic
    cost=23
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "this unit been added as an extra, art taken from grafted era"
    die_sound={SOUND_LIST:GOBLIN_DIE}
    {DEFENSE_ANIM "units/gobmon/armor_1.png" "units/gobmon/armor_1.png" ()}

    [resistance]
        blade=80
        pierce=70
        impact=80
        arcane=90
        cold=90
        fire=110
    [/resistance]

    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=12
        number=2
        icon=attacks/spear.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/gobmon/armor_1.png"
        [/frame]
        [frame]
            begin=-150
            end=-100
            image="units/gobmon/armor_1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/gobmon/armor_1.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/gobmon/armor_1.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=75
            image="units/gobmon/armor_1.png"
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/gobmon/armor_1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
