#textdomain armies_of_amberan
#define UNIT_IMAGE
"units/gobmon/fantassin.png~BLIT(items/ball-blue.png~CROP(0, 36, 72, 72))"#enddef
[unit_type]
    id=AE_AoA_mountain_goblins_Invader
    name= _ "Invader"
    race=gobmon
    gender=male
    image={UNIT_IMAGE}
    hitpoints=45
    movement_type=AE_gobmon
    movement=6
    experience=90
    level=2
    alignment=chaotic
    cost=27
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "Invaders are very skilled at offensive fighting style, still their poor armor and small size makes them not sturdy but he compesates at being agile in worse terrains including flat."
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:GOBLIN_DIE}
    {DEFENSE_ANIM {UNIT_IMAGE} {UNIT_IMAGE} {SOUND_LIST:GOBLIN_HIT} }

    [defense]
        shallow_water=70
        reef=60
        swamp_water=60
        flat=50
        sand=60
        fungus=50
    [/defense]

    [resistance]
        blade=90
        pierce=90
    [/resistance]

    [attack]
        name=hache
        description={STR_AXE}
        type=blade
        range=melee
        damage=7
        number=5
        icon=attacks/axe-crude.png
    [/attack]
    {AXE_SOUND}

    [attack]
        name=Hatchet
        description={STR_HATCHET}
        icon=attacks/hatchet.png
        type=blade
        range=ranged
        damage=6
        number=2
        [specials]
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Hatchet
        [/filter_attack]
        missile_start_time=-250
        [missile_frame]
            duration=250
            image="projectiles/hatchet-1.png"
            image_diagonal="projectiles/hatchet-1.png"
            sound=hatchet.wav
        [/missile_frame]
        start_time=-500
        [frame]
            image={UNIT_IMAGE}
        [/frame]
    [/attack_anim]
[/unit_type]
#undef UNIT_IMAGE
