#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_mountain_goblins_Ranger
    name= _ "Plains Ranger"
    race=gobmon
    gender=male
    image="units/gobmon/archer.png"
    hitpoints=37
    movement_type=AE_gobmon
    movement=6
    experience=90
    level=2
    alignment=chaotic
    cost=21
    usage=archer
    description={AE_AOA_UNIT_NOTICE}+ _ "Plain rangers are agile and deadly, but extremely squishy and frail. It's surprisingly nimble and hard to hit."
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:GOBLIN_DIE}
    {DEFENSE_ANIM "units/gobmon/archer.png" "units/gobmon/archer.png" {SOUND_LIST:GOBLIN_HIT} }

[movement_costs]
        swamp_water=2
        fungus=2
    [/movement_costs]

    [defense]
        forest=40
		flat=50
		swamp_water=50
		fungus=50
    [/defense]

    [attack]
        name=dague
        description={STR_KNIFE}
        type=blade
        range=melee
        damage=4
        number=3
        icon=attacks/dagger-orcish.png
    [/attack]
    [attack]
        name=arc
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=5
        number=5
        icon=attacks/bow-orcish.png
		[specials]
            {AE_CHS_WEAPON_SPECIAL_AIMED}
        [/specials]
    [/attack]
    [attack]
        name=fire arrow
        description={STR_BOW}
        icon=attacks/bow-orcish.png
        type=fire
        range=ranged
        damage=7
        number=3
		[specials]
            {AE_CHS_WEAPON_SPECIAL_AIMED}
        [/specials]
    [/attack]

    {RAPIER_SOUND}
    {BOW_SOUND}
[/unit_type]
