#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_stf_free_saurians_Champion
    name= _ "Saurian Champion"
    race=AE_stf_free_saurians
    image="units/saurians/champion.png"
    hitpoints=53
    movement_type=lizard
    movement=6
    experience=134
    level=3
    {AMLA_DEFAULT}
    alignment=chaotic
    advances_to=null
    undead_variation=saurian
    cost=49
    usage=fighter
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others."
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/saurians/champion.png" "units/saurians/champion.png" hiss-hit.wav }
    [resistance]
        blade=100
    [/resistance]
    [attack]
        name=gladius
        description= _ "gladius"
        icon=attacks/sword-human-short.png
        range=melee
        type=blade
        damage=8
        number=5
        [specials]
            {WEAPON_SPECIAL_PARRY}
			{WEAPON_SPECIAL_AE_MAG_MAGIC_COUNTER}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=gladius
        [/filter_attack]
        [frame]
            begin=-300
            end=-100
            image=units/saurians/champion.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image=units/saurians/champion.png
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image=units/saurians/champion.png
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
