#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_stf_free_saurians_Gladiator
    name= _ "Saurian Gladiator"
    race=AE_stf_free_saurians
    image="units/saurians/gladiator.png"
    hitpoints=29
    movement_type=lizard
    movement=6
    experience=38
    level=1
    alignment=chaotic
    advances_to=AE_stf_free_saurians_Duelist
    undead_variation=saurian
    cost=19
    usage=fighter
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others.
 
Saurians are as a whole primitive savages, lacking both the technology and the discipline to produce truly effective soldiers. Ocassionally however a saurian is given equipment and training by more advanced races, often captives taken from their tribe and groomed as contestants in blood sport or as conscript soldiers. The combination of their superior agility with advanced weaponry and combat technique makes them skilled and deadly opponents; those that manage to rejoin their tribe are inevitably destined to become great champions among their people."
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/saurians/gladiator.png" "units/saurians/gladiator.png" hiss-hit.wav }

    [attack]
        name=gladius
        description= _ "gladius"
        icon=attacks/sword-human-short.png
        range=melee
        type=blade
        damage=5
        number=4
        [specials]
            {WEAPON_SPECIAL_PARRY}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=gladius
        [/filter_attack]
        [frame]
            begin=-300
            end=-100
            image=units/saurians/gladiator.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image=units/saurians/gladiator.png
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image=units/saurians/gladiator.png
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
