#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_stf_free_saurians_Ice_Heart
    name= _ "Ice Heart"
    race=undead
    image="units/saurians/ice-heart.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {DEFENSE_ANIM "units/saurians/ice-heart.png" "units/saurians/ice-heart.png" wail-sml.wav }
    hitpoints=23
    movement_type=fly
    movement=7
    experience=50
    level=1
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=14
    usage=archer
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others.
 
After enslaving many other souls with its ethereal bindings Ice Souls turn into more powerful creatures which are capable of producing more frigid blasts and can fly further distances than before."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SOULBIND}
    die_sound=wail-long.wav
    [attack]
        name=frigid aura
        description= _ "frigid aura"
        type=cold
        range=ranged
        damage=7
        number=3
        icon=attacks/iceball.png
        [specials]
            {AE_WEAPON_SPECIAL_SOULBIND}
        [/specials]
    [/attack]
    [recruit_anim]
        [frame]
            begin=-100
            end=100
            image="units/saurians/frozen-soul-death2.png"
            alpha="0~1:300"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/saurians/frozen-soul-death1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/saurians/ice-heart.png"
        [/frame]
    [/recruit_anim]
    [standing_anim]
        start_time=0
        alpha=0.8~0.4:1400,0.4~0.6:600,0.6~0.4:600,0.4~0.8:1400
        [frame]
            duration=250
            image="units/saurians/ice-heart.png"
        [/frame]
        [frame]
            duration=250
            image="units/saurians/ice-heart.png"
        [/frame]
        [frame]
            duration=250
            image="units/saurians/ice-heart.png"
        [/frame]
        [frame]
            duration=250
            image="units/saurians/ice-heart.png"
        [/frame]
        [frame]
            duration=250
            image="units/saurians/ice-heart.png"
        [/frame]
        [frame]
            duration=250
            image="units/saurians/ice-heart.png"
        [/frame]
        [frame]
            duration=250
            image="units/saurians/ice-heart.png"
        [/frame]
        [frame]
            duration=250
            image="units/saurians/ice-heart.png"
        [/frame]
        [frame]
            duration=250
            image="units/saurians/ice-heart.png"
        [/frame]
        [frame]
            duration=250
            image="units/saurians/ice-heart.png"
        [/frame]
        [frame]
            duration=250
            image="units/saurians/ice-heart.png"
        [/frame]
        [frame]
            duration=250
            image="units/saurians/ice-heart.png"
        [/frame]
        [frame]
            duration=250
            image="units/saurians/ice-heart.png"
        [/frame]
        [frame]
            duration=250
            image="units/saurians/ice-heart.png"
        [/frame]
        [frame]
            duration=250
            image="units/saurians/ice-heart.png"
        [/frame]
        [frame]
            duration=250
            image="units/saurians/ice-heart.png"
        [/frame]
    [/standing_anim]
    [attack_anim]
        [filter_attack]
            name=frigid aura
        [/filter_attack]
        {MISSILE_FRAME_ICE}
        [frame]
            begin=-200
            end=100
            image="units/saurians/ice-heart.png"
            sound=magicmissile.wav
        [/frame]
    [/attack_anim]
[/unit_type]
