#textdomain wesnoth-Ageless_Era

[unit_type]
    [base_unit]
        id=Saurian Skirmisher
    [/base_unit]
    id=AE_stf_free_saurians_Skirmisher
    advances_to=Saurian Ambusher,AE_stf_free_saurians_Warrior
    race=AE_stf_free_saurians
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others."
[/unit_type]
