#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_imp_Lavinians_Archuballistarius
    name= _ "Archuballistarius"
    race=AE_imp_lavinian_race
    image="units/human-lavinians/archuballistarius.png"
    profile=portraits/lavinians/archuballistarius.png~RC(magenta>black)
    hitpoints=50
    movement_type=AE_imp_lavinianfoot
    movement=3
    experience=100
    {AMLA_DEFAULT}
    level=3
    alignment=lawful
    advances_to=null
    cost=44
    usage=archer
    description= _ "This unit is from Imperial Era. Its coding and art were done by Turin and Various others.
 
The Lavinian Legion will often, in its conquests, come across a fortified town that refuses to surrender. Instead of storming the walls of the city, they simply wheel out the artillery. The town invariably falls. The Archuballistarius is also effective on the battlefield, although it moves rather slowly."

    [resistance]
        arcane=90
        cold=110
    [/resistance]

    [attack]
        name=gladius
        description= _ "gladius"
        type=blade
        range=melee
        damage=6
        number=3
        icon=attacks/sword-lavinian-gladius.png
    [/attack]
    [attack]
        name=ballista
        description={STR_BALLISTA}
        type=pierce
        range=ranged
        damage=25
        number=2
    [/attack]
    #anims
    {DEFENSE_ANIM "units/human-lavinians/archuballistarius-defend.png" "units/human-lavinians/archuballistarius.png" {SOUND_LIST:HUMAN_HIT}}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        fire=120
    [/resistance]
    [death]
        [frame]
            begin=0
            end=100
            image="units/human-lavinians/archuballistarius-death-1.png"
        [/frame]
        [frame]
            begin=100
            end=250
            image="units/human-lavinians/archuballistarius-death-2.png"
        [/frame]
        [frame]
            begin=250
            end=400
            image="units/human-lavinians/archuballistarius-death-3.png"
        [/frame]
        [frame]
            begin=400
            end=700
            image="units/human-lavinians/archuballistarius-death-4.png"
        [/frame]
    [/death]
    [attack_anim]
        [filter_attack]
            name=gladius
        [/filter_attack]
        [frame]
            image="units/human-lavinians/archuballistarius-melee.png"
            begin=-250
            end=-200
        [/frame]
        [frame]
            image="units/human-lavinians/archuballistarius-melee-1.png"
            begin=-200
            end=-100
        [/frame]
        [if]
            hits=no
            [frame]
                image="units/human-lavinians/archuballistarius-melee-2.png"
                sound={SOUND_LIST:MISS}
                begin=-100
                end=100
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                image="units/human-lavinians/archuballistarius-melee-2.png"
                sound={SOUND_LIST:SWORD_SWISH}
                begin=-100
                end=100
            [/frame]
        [/else]
        [frame]
            image="units/human-lavinians/archuballistarius-melee.png"
            begin=150
            end=200
        [/frame]
        [if]
            direction=s,sw,se
            [boat_frame]
                begin=-250
                end=200
                image="units/human-lavinians/archuballistarius.png~FL(vert)"
            [/boat_frame]
        [/if]
        [else]
            direction=n,nw,ne
            [boat_frame]
                begin=-250
                end=200
                image="units/human-lavinians/archuballistarius.png"
            [/boat_frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=ballista
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/bullet.png"
            image_diagonal="projectiles/bullet.png"
        [/missile_frame]
        [frame]
            begin=-350
            end=-250
            image="units/human-lavinians/archuballistarius-ranged-1.png"
        [/frame]
        [frame]
            begin=-250
            end=-150
            image="units/human-lavinians/archuballistarius-ranged-2.png"
        [/frame]
        [frame]
            begin=-150
            end=0
            image="units/human-lavinians/archuballistarius-ranged-3.png"
        [/frame]
        [frame]
            begin=0
            end=50
            image="units/human-lavinians/archuballistarius.png"
        [/frame]
    [/attack_anim]
[/unit_type]
