#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_imp_Lavinians_Propugnator
    name= _ "Propugnator"
    race=AE_imp_lavinian_race
    image="units/human-lavinians/propugnator.png"
    profile="portraits/lavinians/propugnator.png~RC(magenta>black)"
    hitpoints=48
    movement_type=AE_imp_lavinianfoot
    movement=5
    experience=80
    level=2
    alignment=lawful
    advances_to=AE_imp_Lavinians_Praetorian_Guard
    cost=32
    usage=mixed fighter
    description= _ "This unit is from Imperial Era. Its coding and art were done by Turin and Various others.

The Propugnator, a skilled fighter, has chosen not to accept the rank of an officer, and instead to continue fighting on the front lines. He bears a very large shield with an embossed oval in the center, which he uses both to protect himself exceeding well, and to smash his opponent's head with, temporarily stunning him. Aside from that, his weapons are the same as an ordinary Legionaire - a gladius, and two pila. The shield of the Propugnator is so large that it is easiest for him to retaliate to melee attacks with it, rather than switching to his gladius."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {AE_RHY_ABILITY_SHIELDDEFENSE 20}
        {ABILITY_AE_FORMATION}
    [/abilities]

    [attack]
        name=gladius
        description= _ "gladius"
        type=blade
        range=melee
        damage=9
        number=3
        icon=attacks/sword-lavinian-gladius.png
    [/attack]
    [attack]
        name=shield
        description={STR_SHIELD_BASH}
        type=impact
        range=melee
        damage=16
        number=1
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        defense_weight=10.0
        icon="attacks/shield-lavinian-silver.png"
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=pilum
        description= _ "pilum"
        type=pierce
        range=ranged
        damage=4
        number=2
        icon=attacks/javelin-human.png
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    {DEFENSE_ANIM_RANGE "units/human-lavinians/propugnator-defend-2.png" "units/human-lavinians/propugnator-defend-1.png" {SOUND_LIST:HUMAN_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/human-lavinians/propugnator-defend-ranged.png" "units/human-lavinians/propugnator-ranged.png" {SOUND_LIST:HUMAN_HIT} ranged}
    [death]
        [frame]
            begin=0
            end=100
            image="units/human-lavinians/propugnator-death-1.png"
        [/frame]
        [frame]
            begin=100
            end=250
            image="units/human-lavinians/propugnator-death-2.png"
        [/frame]
        [frame]
            begin=250
            end=400
            image="units/human-lavinians/propugnator-death-3.png"
        [/frame]
        [frame]
            begin=400
            end=700
            image="units/human-lavinians/propugnator-death-4.png"
        [/frame]
    [/death]
    [attack_anim]
        [filter_attack]
            name=gladius
        [/filter_attack]
        [frame]
            image="units/human-lavinians/propugnator.png"
            begin=-250
            end=-200
        [/frame]
        [frame]
            image="units/human-lavinians/propugnator-attack-gladius-1.png"
            begin=-200
            end=-100
        [/frame]
        [if]
            hits=no
            [frame]
                image="units/human-lavinians/propugnator-attack-gladius-2.png"
                sound={SOUND_LIST:MISS}
                begin=-100
                end=100
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                image="units/human-lavinians/propugnator-attack-gladius-2.png"
                sound={SOUND_LIST:SWORD_SWISH}
                begin=-100
                end=100
            [/frame]
        [/else]
        [frame]
            image="units/human-lavinians/propugnator.png"
            begin=150
            end=200
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shield
        [/filter_attack]
        [frame]
            image="units/human-lavinians/propugnator.png"
            begin=-250
            end=-200
        [/frame]
        [frame]
            image="units/human-lavinians/propugnator-attack-shield-1.png"
            begin=-200
            end=-100
        [/frame]
        [if]
            hits=no
            [frame]
                image="units/human-lavinians/propugnator-attack-shield-2.png"
                sound={SOUND_LIST:MISS}
                begin=-100
                end=100
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                image="units/human-lavinians/propugnator-attack-shield-2.png"
                sound=club.ogg
                begin=-100
                end=100
            [/frame]
        [/else]
        [frame]
            image="units/human-lavinians/propugnator.png"
            begin=100
            end=200
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=pilum
        [/filter_attack]
        [missile_frame]
            begin=-100
            end=0
            image="projectiles/spear-n.png"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-lavinians/propugnator-attack-pilum-1.png"
        [/frame]
        [frame]
            sound=spear.wav
            begin=-100
            end=0
            image="units/human-lavinians/propugnator-attack-pilum-2.png"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/human-lavinians/propugnator-ranged.png"
        [/frame]
    [/attack_anim]
[/unit_type]
