#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_Blight_Amoeba
    name= _ "Amoeba"
    race=AE_mrc_Blight
    gender=male
    image="units/blight/amoeba.png"
    hitpoints=34
    movement_type=AE_mrc_blobfoot
    movement=4
    experience=50
    level=1
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=squishy-hit.wav
    cost=14
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"The most bizarre result of a blob's evolution is unquestionably the amoeba. Although it does not possess nearly as much attack power as its brethren, it is almost thrice as massive as a typical blob and retains its awe-inspiring resistances, allowing it to easily hold a line and soak up punishment for the rest of the blighted horde. In addition to their sheer resilience, amoebas cannot be killed by sword-blows— when cleaved in two, the resulting mass takes on a mind of its own and a new blob is born.
 
Special notes: This units attack can absorb the bodies of living units and replenish its own health by draining it from others. After being dealt a blade attack, this unit will spawn a new blob with health equal to the damage taken."

    [resistance]
        blade=90
        impact=40
        pierce=40
    [/resistance]

    [abilities]
        {ABILITY_AE_SPLIT}
    [/abilities]

    #{DEFENSE_ANIM "" "" squishy-hit.wav }

    [attack]
        name=Absorb
        description= _ "Absorb"
        icon=attacks/waterspray.png
        type=impact
        range=melee
        damage=14
        number=1
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            #{PK_WEAPON_SPECIAL_WEAKEN2}
            {AE_WEAPON_SPECIAL_ABSORB}
        [/specials]
    [/attack]

    [attack]
        name=Dissolve
        description= _ "Dissolve"
        icon=attacks/waterspray.png
        type=fire
        range=melee
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_SWARM}
        [/specials]
    [/attack]

    [attack]
        name=Spread
        description= _ "Spread"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        damage=4
        number=1
        [specials]
            {WEAPON_SPECIAL_SWARM}
        [/specials]
    [/attack]
    {AE_ME_GENERIC_RANGED_ANIM}
[/unit_type]
