#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_Blight_Ooze
    name= _ "Ooze"
    race=AE_mrc_Blight
    gender=male
    image="units/blight/ooze.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=38
    movement_type=AE_mrc_blobfoot
    movement=4
    experience=71
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=squishy-hit.wav
    cost=35
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"Slimes that live long enough will inevitably accumulate a considerable amount of mass and battle experience that transform them into a deadly and efficient monster known as the ooze. Oozes have abandoned the lumpy and formless shape of their predecessors and adopted a more flexible, sleek build that allows them to both shatter and dissolve their enemies with ease. It is because of these damned creatures that there are tales of men vanishing from their posts at night along the blighted frontier, only to leave trails of mysterious, clear gel behind.
 
Special notes: This units attack can absorb the bodies of living units and replenish its own health by draining it from others."

    [resistance]
        impact=30
        pierce=30
        cold=85
        fire=135
        blade=70
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" squishy-hit.wav }

    [attack]
        name=Absorb
        description= _ "Absorb"
        icon=attacks/waterspray.png
        type=impact
        range=melee
        damage=14
        number=2
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            #{PK_WEAPON_SPECIAL_WEAKEN}
            {AE_WEAPON_SPECIAL_ABSORB}
        [/specials]
    [/attack]
    [attack]
        name=Dissolve
        description= _ "Dissolve"
        icon=attacks/waterspray.png
        type=fire
        range=melee
        damage=17
        number=1
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    {AE_ME_GENERIC_RANGED_ANIM}
[/unit_type]
