#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_Blight_Plagued
    name= _ "Plagued"
    race=AE_mrc_Blight
    gender=male
    image="units/blight/plagued.png"
    profile="portraits/blight/plagued.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    movement_type=AE_mrc_blightfoot
    movement=5
    experience=75
    level=2
    alignment=chaotic
    advances_to=AE_mrc_Blight_Blighted
    die_sound={SOUND_LIST:ZOMBIE_HIT}
    cost=32
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:ZOMBIE_HIT} }

    [attack]
        name=Touch
        description={STR_TOUCH}
        icon=attacks/touch-zombie.png
        type=impact
        range=melee
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE_mrc_Blight_Infected)}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Touch
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/blight/plagued.png"
            sound=ogre-die-2.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
