#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_Blight_Flesh_Eater
    name= _ "Flesh-Eater"
    race=AE_mrc_Blight
    gender=male
    image="units/blight/flesh-eater.png"
    profile="portraits/blight/flesh-eater.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=74
    movement_type=AE_mrc_zombiefoot
    movement=5
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:ZOMBIE_HIT}
    cost=48
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"
"

    [resistance]
        impact=80
        pierce=90
    [/resistance]

    [abilities]
        {ABILITY_FEEDING}
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:ZOMBIE_HIT} }

    [attack]
        name=Claws
        description={STR_CLAWS}
        icon=attacks/claws-undead.png
        type=blade
        range=melee
        damage=11
        number=4
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Bite
        description={STR_BITE}
        icon=attacks/fangs.png
        type=pierce
        range=melee
        damage=15
        number=2
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Claws
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/blight/flesh-eater.png"
            sound=claws.ogg
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=Bite
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/blight/flesh-eater.png"
            sound=bite.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
