#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_Blight_Microbe
    name= _ "Microbe"
    race=AE_mrc_Blight
    gender=male
    image="units/blight/microbe.png"
    profile="portraits/blight/microbe.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=12
    movement_type=AE_mrc_microbefoot
    movement=6
    experience=9
    level=0
    alignment=chaotic
    advances_to=AE_mrc_Blight_Bacterium
    die_sound=hiss-big.wav
    cost=5
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"
"

    [resistance]
    [/resistance]

    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]

    #{DEFENSE_ANIM "" "" hiss.wav }

    [attack]
        name=Infect
        description= _ "Infect"
        icon=attacks/wail.png
        type=impact
        range=melee
        damage=1
        number=4
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Infect
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/blight/microbe.png"
            sound=poison.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
