#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_Blight_Dark_Current
    name= _ "Dark Current"
    race=AE_mrc_Blight
    gender=male
    image="units/blight/darkcurrent.png"
    profile="portraits/blight/darkcurrent.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=30
    movement_type=AE_mrc_blobswim
    movement=7
    experience=38
    level=1
    alignment=chaotic
    advances_to=AE_mrc_Blight_Blacktide,AE_mrc_Blight_Fleshpool
    die_sound=squishy-hit.wav
    cost=17
    usage=scout
    description={AE_MRC_UNIT_NOTICE}+"
"

    [resistance]
    [/resistance]

    [abilities]
        {ABILITY_SUBMERGE}
        {ABILITY_NIGHTSTALK}
    [/abilities]

    #{DEFENSE_ANIM "" "" squishy-hit.wav }

    [attack]
        name=Absorb
        description= _ "Engulf"
        icon=attacks/waterspray.png
        type=impact
        range=melee
        damage=4
        number=5
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_SWARM}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Absorb
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/blight/darkcurrent.png"
            sound=squishy-strike.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
