#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_refugees_Envoy
    name= _ "Envoy"
    race=AE_mrc_refugees_race
    image="units/refugees/envoy.png"
    hitpoints=60
    movement_type=AE_mrc_refugees_refugeehorse
    movement=10
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=horse-die.ogg
    cost=56
    usage=scout
    description={AE_MRC_UNIT_NOTICE}+""

    {DEFENSE_ANIM "units/refugees/envoy.png" "units/refugees/envoy.png" {SOUND_LIST:HORSE_HIT} }

    [resistance]
        impact=85
        cold=90
    [/resistance]

    [attack]
        name=Sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=9
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Bow
        description={STR_BOW}
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=8
        number=5
        [specials]
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=Sword
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/refugees/envoy.png"
            sound=sword-1.ogg
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=Bow
        [/filter_attack]
        missile_start_time=-250
        [missile_frame]
            duration=250
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
            sound=bow.ogg
        [/missile_frame]
        start_time=-500
        [frame]
            image=units/refugees/envoy.png
        [/frame]
    [/attack_anim]
[/unit_type]
