#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_refugees_Trireme
    name= _ "Trireme"
    race=mechanical
    image="units/refugees/trireme.png"
    hitpoints=75
    movement_type=AE_mrc_refugees_refugeeboat
    movement=7
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    # die_sound={SOUND_LIST:HUMAN_DIE}
    cost=38
    usage=scout
    description={AE_MRC_UNIT_NOTICE}+""

    # {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }
    [defense]
        shallow_water=50
        deep_water=40
    [/defense]
    [attack]
        name=Greek Fire
        description= _ "greek fire"
        icon=attacks/fireball.png
        type=fire
        range=melee
        damage=6
        number=5
        [specials]
            {AE_MRC_WEAPON_SPECIAL_ARSON}
        [/specials]
    [/attack]
    [attack]
        name=Ballista
        description={STR_BALLISTA}
        icon=attacks/ballista.png
        type=pierce
        range=ranged
        damage=16
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=Greek Fire
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/refugees/trireme.png"
            sound=melee-fire.ogg
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=Ballista
        [/filter_attack]
        missile_start_time=-250
        [missile_frame]
            duration=250
            image="projectiles/spear-n.png"
            image_diagonal="projectiles/spear-ne.png"
            sound=crossbow.ogg
        [/missile_frame]
        start_time=-500
        [frame]
            image=units/refugees/trireme.png
        [/frame]
    [/attack_anim]
[/unit_type]
