#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_whites_Storm_Queen
    name= _ "Storm Queen"
    race=AE_efm_whites
    gender=female
    image="units/Whites/storm_queen.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=67
    movement_type=AE_efm_whitesfoot
    movement=5
    experience=150
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=60
    usage=archer
    description= _ "This unit is from The Era of Four Moons. Its coding was done by Velensk and art by L. Shelby.
Beware the witch whose magic is so strong that it acts without attention. If the witch's tears bring sudden showers then her anger will strike a man dead or lay waste to entire villages."
    {DEFENSE_ANIM "units/Whites/storm_queen.png" "units/Whites/storm_queen.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    undead_variation=human

    [attack]
        name=knife
        description={STR_KNIFE}
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]
    [attack]
        name=lightning
        description={STR_LIGHTNING}
        icon=attacks/lightning.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=16
        number=4
    [/attack]
    [attack]
        name=curse
        description= _ "blizzard"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=32
        number=2
        icon=attacks/iceball.png
    [/attack]
    [attack]
        name=quake
        description= _ "earthquake"
        type=impact
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=21
        number=3
        icon=attacks/curse.png
    [/attack]

#define STORMQUEEN_LIGHTNING DIRECTION_NUMBER
    [attack_anim]
        [filter_attack]
            name=lightning
        [/filter_attack]

        {LIGHTNING_BOLT {DIRECTION_NUMBER} }

        [if]
            hits=yes
            [frame]
                begin=-300
                end=-200
                image="units/Whites/storm_queen.png"
                sound=lightning.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-300
                end=-200
                image="units/Whites/storm_queen.png"
                sound=lightning-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=-100
            image="units/Whites/storm_queen.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/Whites/storm_queen.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/Whites/storm_queen.png"
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/Whites/storm_queen.png"
        [/frame]
    [/attack_anim]
#enddef

    {STORMQUEEN_LIGHTNING 1}
    {STORMQUEEN_LIGHTNING 2}
    {STORMQUEEN_LIGHTNING 3}

    [attack_anim]
        [filter_attack]
            name=curse
        [/filter_attack]
        {MISSILE_FRAME_FAERIE_FIRE}

        start_time=-300
        [frame]
            duration=50
            image="units/Whites/storm_queen.png"
            halo=halo/saurian-magic-halo-1.png
        [/frame]
        [frame]
            duration=60
            image="units/Whites/storm_queen.png"
            halo=halo/saurian-magic-halo-2.png
            sound=wail.wav
        [/frame]
        [frame]
            duration=70
            image="units/Whites/storm_queen.png"
            halo=halo/saurian-magic-halo-3.png
        [/frame]
        [frame]
            duration=80
            image="units/Whites/storm_queen.png"
            halo=halo/saurian-magic-halo-4.png
        [/frame]
        [frame]
            duration=90
            image="units/Whites/storm_queen.png"
            halo=halo/saurian-magic-halo-5.png
        [/frame]
        [frame]
            duration=100
            image="units/Whites/storm_queen.png"
            halo=halo/saurian-magic-halo-6.png
        [/frame]
        [frame]
            duration=100
            image="units/Whites/storm_queen.png"
            halo=halo/saurian-magic-halo-7.png
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=quake
        [/filter_attack]

        [missile_frame]
            begin=-200
            end=-135
            image=projectiles/quake.png
            image_diagonal=projectiles/quake.png
        [/missile_frame]

        start_time=-300
        [frame]
            duration=50
            image="units/Whites/storm_queen.png"
            halo=halo/saurian-magic-halo-1.png
        [/frame]
        [frame]
            duration=60
            image="units/Whites/storm_queen.png"
            halo=halo/saurian-magic-halo-2.png
            sound=torch.ogg
        [/frame]
        [frame]
            duration=70
            image="units/Whites/storm_queen.png"
            halo=halo/saurian-magic-halo-3.png
        [/frame]
        [frame]
            duration=80
            image="units/Whites/storm_queen.png"
            halo=halo/saurian-magic-halo-4.png
        [/frame]
        [frame]
            duration=90
            image="units/Whites/storm_queen.png"
            halo=halo/saurian-magic-halo-5.png
        [/frame]
        [frame]
            duration=100
            image="units/Whites/storm_queen.png"
            halo=halo/saurian-magic-halo-6.png
        [/frame]
        [frame]
            duration=100
            image="units/Whites/storm_queen.png"
            halo=halo/saurian-magic-halo-7.png
        [/frame]
    [/attack_anim]
[/unit_type]
