#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_whites_Warder
    name= _ "Warder"
    race=AE_efm_whites
    image="units/Whites/warder.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=36
    movement_type=AE_efm_whites_ward_foot
    movement=5
    experience=39
    level=1
    alignment=neutral
    advances_to=AE_efm_whites_Vigilante,AE_efm_whites_Guardian
    cost=13
    usage=fighter
    description= _ "This unit is from The Era of Four Moons. Its coding was done by Velensk and art by L. Shelby.
Some villages do not benefit from the protection of thanes or other nobility. In these villages it is not uncommon for many of the men to practice warcraft in their spare time. In particular they train to be able to encircle and overwhelm stronger opponents. Traditionally they wield staves for these are easy to produce."
    {DEFENSE_ANIM "units/Whites/warder.png" "units/Whites/warder.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=human

    [attack]
        name=staff
        description={STR_STAFF}
        type=impact
        range=melee
        damage=3
        number=5
        icon=attacks/quarterstaff.png
        [specials]
            {WEAPON_SPECIAL_COUNTER}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/Whites/warder.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/Whites/warder.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/Whites/warder.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/Whites/warder.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/Whites/warder.png"
        [/frame]
    [/attack_anim]
[/unit_type]
