#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=AE_mag_Toad_Rider
    [/base_unit]
    id=AE_mag_Toad_Rider_rpg
    advances_to=AE_mag_Battle_Toad_rpg,AE_mag_Toad_Archer_rpg,AE_mag_Toad_Shaman_rpg
    [attack]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_AE_MAG_DISABLE_CURRENT_CTH_RPG}
        [/specials]
    [/attack]
[/unit_type]
