#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_mag_Shamanistic_Toad
    name= _ "Shamanistic Toad"
    race=lizard
    image="units/darkblood-toads/toadshaman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=58
    movement_type=AE_mag_i_8_frog
    movement=4
    experience=90
    level=2
    alignment=neutral
    advances_to=AE_mag_Mystical_Toad
    cost=38
    usage=
    undead_variation=toad
    description= _ {AE_EOMA_UNIT_NOTICE} + {AE_MAG_NO_DESCR_AVAILABLE}+{SPECIAL_NOTES}+{SPECIAL_NOTES_HEALS}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_MAGICAL}
    die_sound=naga-die.ogg
    [abilities]
        {AE_MAG_ABILITYHEALS}
        {AE_MAG_ABILITYREGENERATES}
    [/abilities]
    [resistance]
        blade=80
        impact=90
        pierce=110
        cold=30
        fire=90
        arcane=90
    [/resistance]
    [attack]
        name=paw
        description=_"paw"
        icon=attacks/slam-drake.png
        type=impact
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=tongue
        description=_"tongue"
        icon=attacks/tongue-toad.png
        type=impact
        range=ranged
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {AE_MAG_WEAPON_SPECIAL_SKILLED}
        [/specials]
    [/attack]
    [attack]
        name=missile
        description=_"magic missile"
        icon=attacks/magic-missile.png
        type=cold
        range=ranged
        damage=6
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    {TOAD_PAW_ANIM toadshaman}
    {TOAD_TONGUE_ANIM toadshaman n n}
    {TOAD_TONGUE_ANIM toadshaman ne,nw ne}
    {TOAD_TONGUE_ANIM toadshaman s s}
    {TOAD_TONGUE_ANIM toadshaman se,sw se}

    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        {MISSILE_FRAME_ICE}
        start_time=-500
        [frame]
            image="units/darkblood-toads/toadshaman-magic[1~7].png:50"
        [/frame]
        [frame]
            sound=magic-faeriefire.ogg
            image="units/darkblood-toads/[toadshaman-magic8,toadshaman].png:[50,300]"
        [/frame]
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg silence.ogg 0}
    [/attack_anim]
[/unit_type]
