#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_mag_Ranged_Toad
    name= _ "Ranged Toad"
    race=lizard
    image="units/darkblood-toads/toadarcher.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=58
    movement_type=AE_mag_i_8_frog
    movement=4
    experience=90
    level=2
    alignment=neutral
    advances_to=AE_mag_Double_Ranged_Toad
    cost=36
    usage=archer
    description= _ {AE_EOMA_UNIT_NOTICE} + {AE_MAG_NO_DESCR_AVAILABLE}+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}
    die_sound=naga-die.ogg
    undead_variation=toad
    [abilities]
        {AE_MAG_ABILITYREGENERATES}
    [/abilities]
    [resistance]
        blade=80
        impact=90
        pierce=110
        cold=80
    [/resistance]
    [attack]
        name=paw
        description=_"paw"
        icon=attacks/slam-drake.png
        type=impact
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=tongue
        description=_"tongue"
        icon=attacks/tongue-toad.png
        type=impact
        range=ranged
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {AE_MAG_WEAPON_SPECIAL_SKILLED}
        [/specials]
    [/attack]
    [attack]
        name=crossbow
        description={STR_CROSSBOW}
        icon=attacks/crossbow-undead.png
        type=pierce
        range=ranged
        damage=10
        number=3
    [/attack]
    {TOAD_CROSSBOW_ANIM toadarcher ""}
    {TOAD_PAW_ANIM toadarcher}
    {TOAD_TONGUE_ANIM toadarcher n n}
    {TOAD_TONGUE_ANIM toadarcher ne,nw ne}
    {TOAD_TONGUE_ANIM toadarcher s s}
    {TOAD_TONGUE_ANIM toadarcher se,sw se}
[/unit_type]
