#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_mag_Toad
    name= _ "Toad"
    race=lizard
    image="units/darkblood-toads/toad.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=52
    movement_type=AE_mag_i_8_frog
    movement=4
    experience=46
    level=1
    alignment=neutral
    advances_to=AE_mag_Heavy_Toad,AE_mag_Ranged_Toad,AE_mag_Shamanistic_Toad
    cost=19
    usage=mixed fighter
    undead_variation=toad
    description= _ {AE_EOMA_UNIT_NOTICE} +  _ "In the middle of the Jungle of Life lies the Great Bog, dark and marshy. It is said that many a creature make their homes there.

The saurians of the Dark Blood tribe are known to capture and tame the Bog’s giant Toads, riding their backs and using them as war elephants of sorts; it is known that they use special lures to make the Toads strike enemies with their long, sticky tongues."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}
    die_sound=naga-die.ogg
    [resistance]
        blade=80
        pierce=120
        cold=80
        impact=90
    [/resistance]
    [abilities]
        {AE_MAG_ABILITYREGENERATES6}
    [/abilities]
    [idle_anim]
        start_time=0
        [frame]
            image="units/darkblood-toads/toad-idle[1,2,1,2,1,2,1,2,1,2,1,2].png:75"
        [/frame]
    [/idle_anim]
    [attack]
        name=paw
        description=_"paw"
        icon=attacks/slam-drake.png
        type=impact
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=tongue
        description=_"tongue"
        icon=attacks/tongue-toad.png
        type=impact
        range=ranged
        damage=9
        number=1
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    #textdomain wesnoth-units
    [attack]
        name=dart
        description={STR_JAVELIN}
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=5
        number=3
    [/attack]

    {TOAD_PAW_ANIM toad}
    {TOAD_DART_ANIM toad}
    {TOAD_TONGUE_ANIM toad n n}
    {TOAD_TONGUE_ANIM toad ne,nw ne}
    {TOAD_TONGUE_ANIM toad s s}
    {TOAD_TONGUE_ANIM toad se,sw se}
[/unit_type]
