#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_farengar_maitreArcher
    name= _ "Archer"
    race=farengar
    gender=male,female
    image="units/farengar/Maitre-archer.png"
    hitpoints=67
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=lawful
    cost=46
    usage=archer
    description={AE_AOA_UNIT_NOTICE}+ _ "description a venir"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/farengar/Maitre-archer.png" "units/farengar/Maitre-archer.png" {SOUND_LIST:HUMAN_HIT} }
    [movement_costs]
        frozen=2
    [/movement_costs]
    [defense]
        frozen=60
    [/defense]
    [attack]
        name=epee
        description= _"sword"
        type=blade
        range=melee
        damage=8
        number=3
        icon=attacks/sword-human.png
    [/attack]
    [attack]
        name=arc
        description= _"longbow"
        type=pierce
        range=ranged
        damage=11
        number=4
        icon=attacks/bow.png
    [/attack]
    {SWORD_SOUND}
    {BOW_SOUND}
    [female]
        name= _"female^Archer"
        gender=female
        image="units/farengar/Maitre-archer2.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/farengar/Maitre-archer2.png" "units/farengar/Maitre-archer2.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [/female]
[/unit_type]
