#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ce_Horseman
    name= _ "Chevalier Horseman"
    race=AE_rhy_race_human_R
    image="units/human-chevalier/horseman.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=36
    movement_type=mounted
    movement=8
    experience=44
    level=1
    alignment=neutral
    advances_to=AE_rhy_ce_Knight
    undead_variation=mounted
    cost=22
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "The basic cavalery of the Chevalier is equipped with a long spear and a chainmail. They are charge in large numbers into the enemy lines to break their formation."+{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARGE}
    die_sound=horse-die.ogg
    {DEFENSE_ANIM "units/human-chevalier/horseman.png" "units/human-chevalier/horseman.png" {SOUND_LIST:HORSE_HIT} }
    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
        range=melee
        damage=9
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/human-chevalier/horseman.png"
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=150
                image="units/human-chevalier/horseman.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=150
                image="units/human-chevalier/horseman.png"
                sound=spear.ogg
            [/frame]
        [/else]
        [frame]
            begin=150
            end=200
            image="units/human-chevalier/horseman.png"
        [/frame]
    [/attack_anim]
[/unit_type]
