#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ce_Armored_Horseman
    name= _ "Chevalier Armored Horseman"
    race=AE_rhy_race_human_R
    image="units/human-chevalier/heavy-rider.png"
    hitpoints=55
    movement_type=mounted
    movement=8
    experience=90
    level=2
    alignment=neutral
    advances_to=AE_rhy_ce_Heavy_Horseman
    undead_variation=mounted
    cost=35
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Covered in plate armor, those soldiers are juggernauts on a horseback."
    die_sound=horse-die.ogg
    {DEFENSE_ANIM "units/human-chevalier/heavy-rider.png" "units/human-chevalier/heavy-rider.png" {SOUND_LIST:HORSE_HIT} }
    [resistance]
        blade=70
        impact=60
        pierce=110
        cold=90
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=8
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/human-chevalier/heavy-rider.png"
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-150
                end=150
                image="units/human-chevalier/heavy-rider.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-150
                end=150
                image="units/human-chevalier/heavy-rider.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=150
            end=200
            image="units/human-chevalier/heavy-rider.png"
        [/frame]
    [/attack_anim]
[/unit_type]
