#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ce_Heavy_Horseman
    name= _ "Chevalier"
    race=AE_RHY_human
    image="units/human-chevalier/chevalier.png"
    hitpoints=68
    movement_type=mounted
    movement=9
    experience=134
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=mounted
    cost=63
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Chevaliers are masters in fighting from the horseback. The armor -which even the horse is coverd in- protects them while they cut down enemies with their longsword."
    die_sound=horse-die.ogg
    {DEFENSE_ANIM "units/human-chevalier/chevalier.png" "units/human-chevalier/chevalier.png" {SOUND_LIST:HORSE_HIT} }
    [resistance]
        blade=70
        impact=60
        pierce=110
        cold=90
    [/resistance]
    [attack]
        name=sword
        description={STR_LONGSWORD}
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=9
        number=4
    [/attack]
    [attack]
        name=crossbow
        description={STR_CROSSBOW}
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=13
        number=2
    [/attack]
    {AE_RHY_ANIM_CROSSBOW human-chevalier/chevalier}
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-225
        [frame]
            image="units/human-chevalier/chevalier.png:25"
        [/frame]
        [frame]
            image="units/human-chevalier/chevalier.png:50"
            sound=horse-canter.wav
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
        [frame]
            image="units/human-chevalier/chevalier.png:375"
        [/frame]
    [/attack_anim]
[/unit_type]
