#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ce_Rider
    name= _ "Chevalier Rider"
    race=AE_RHY_human
    image="units/human-chevalier/rider.png"
    hitpoints=36
    movement_type=mounted
    movement=9
    experience=38
    level=1
    alignment=neutral
    advances_to=AE_rhy_ce_Armored_Horseman
    undead_variation=mounted
    cost=17
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Chevalier riders are lighter equipped than the horsemen. Their simple armor has the advantage of being less expensive and easier to move in."
    die_sound=horse-die.ogg
    {DEFENSE_ANIM "units/human-chevalier/rider.png" "units/human-chevalier/rider.png" {SOUND_LIST:HORSE_HIT} }
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=5
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-225
        [frame]
            image="units/human-chevalier/rider.png:25"
        [/frame]
        [frame]
            image="units/human-chevalier/rider.png:50"
            sound=horse-canter.wav
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
        [frame]
            image="units/human-chevalier/rider.png:375"
        [/frame]
    [/attack_anim]
[/unit_type]
