#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ce_Sergeant
    name= _ "Chevalier Sergeant"
    race=AE_RHY_human
    image="units/human-chevalier/sergeant.png"
    {LEADING_ANIM "units/human-chevalier/sergeant.png" "units/human-chevalier/sergeant.png" -5,-25}
    hitpoints=35
    movement_type=AE_RHY_chevalier
    movement=5
    experience=31
    level=1
    alignment=neutral
    advances_to=AE_rhy_ce_Lieutenant
    cost=19
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "The Sergeant is a low-ranking officer in the ranks of an army. Though academically trained, he will need some experience in the field before his leadership is sound and acknowledged."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-chevalier/sergeant.png" "units/human-chevalier/sergeant.png" {SOUND_LIST:HUMAN_HIT}}
    [abilities]
        {ABILITY_LEADERSHIP}
        {AE_RHY_ABILITY_RALLY}
    [/abilities]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]
    [attack]
        name=crossbow
        description= _ "crossbow"
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=4
        number=3
    [/attack]
    {AE_RHY_ANIM_SWORD human-chevalier/sergeant}
    {AE_RHY_ANIM_CROSSBOW human-chevalier/sergeant}
[/unit_type]
