#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_rhy_ce_Halberdier
    name= _ "Chevalier Poleaxeman"
    race=AE_rhy_race_human_R
    image="units/human-chevalier/halberdier.png"
    profile="portraits/humans/halberdier.png"
    hitpoints=70
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=44
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "The big poleaxes are a versatile weapon. They can be used to crush an enemy's head with the hammer or slice them with the sharp edge, while keeping them away with the pointy end."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-chevalier/halberdier.png" "units/human-chevalier/halberdier.png" {SOUND_LIST:HUMAN_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/halberdier.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/halberdier.png"
    [/portrait]
    [resistance]
        blade=90
        pierce=70
    [/resistance]
    [attack]
        name=poleaxe
        description=_"poleaxe"
        icon=attacks/halberd.png
        type=pierce
        range=melee
        damage=15
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=poleaxe
        description=_"poleaxe"
        icon=attacks/halberd.png
        type=blade
        range=melee
        damage=17
        number=2
    [/attack]
    [attack]
        name=poleaxe
        description=_"poleaxe"
        icon=attacks/halberd.png
        type=impact
        range=melee
        damage=15
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=poleaxe
            type=impact
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/human-chevalier/halberdier.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/human-chevalier/halberdier.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/human-chevalier/halberdier.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/human-chevalier/halberdier.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=poleaxe
            type=blade
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/human-chevalier/halberdier-defend.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-chevalier/halberdier.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/human-chevalier/halberdier.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/human-chevalier/halberdier.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/human-chevalier/halberdier.png"
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/human-chevalier/halberdier.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=poleaxe
            type=pierce
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/human-chevalier/halberdier.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-chevalier/halberdier.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/human-chevalier/halberdier.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/human-chevalier/halberdier.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/human-chevalier/halberdier.png"
        [/frame]
    [/attack_anim]
[/unit_type]
