#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ce_Basher
    name= _ "Chevalier Basher"
    race=AE_RHY_human
    image="units/human-chevalier/basher.png"
    hitpoints=54
    movement_type=smallfoot
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AE_RHY_AMLA_SPEED}
    {AMLA_DEFAULT}
    cost=30
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Bashers are a brutal force on the battlefield. Their flail is hard to defend against and a brutal hit can easily cripple an enemy, making them vulnerable to further attacks."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-chevalier/basher.png" "units/human-chevalier/basher.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=flail
        description={STR_FLAIL}
        icon=attacks/morning-star.png
        type=impact
        range=melee
        damage=9
        number=3
        [specials]
            {AE_RHY_WEAPON_SPECIAL_INJURING}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=flail
        [/filter_attack]
        start_time=-260
        {SOUND:HIT_AND_MISS flail.ogg flail-miss.ogg -260}
        [frame]
            image="units/human-chevalier/basher.png:360"
        [/frame]
    [/attack_anim]
[/unit_type]
