#textdomain wesnoth-Rashy_Era
[unit_type]
    id=AE_rhy_ce_Soldier
    name= _ "Chevalier Soldier"
    race=AE_RHY_human
    image="units/human-chevalier/soldier.png"
    hitpoints=38
    movement_type=AE_RHY_chevalier
    movement=5
    experience=43
    level=1
    alignment=neutral
    advances_to=AE_rhy_ce_Swordsman,AE_rhy_ce_Townguard
    cost=17
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Soldiers are better trained Chevalier infantry and are equipped with chainmail, sword and shield. They are resistant against most physical weapons, but less agile in difficult terrain. They show their true potential in open field and when defending castles and villages."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-chevalier/soldier.png" "units/human-chevalier/soldier.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        blade=80
        impact=90
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=6
        number=4
    [/attack]
    {AE_RHY_ANIM_SWORD human-chevalier/soldier}
[/unit_type]
