#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_rhy_ce_Soldier
    name= _ "Chevalier Soldier"
    race=AE_rhy_race_human_R
    image="units/human-chevalier/soldier.png"
    ellipse="misc/ellipse"
    hitpoints=38
    movement_type=AE_rhy_move_chevalier
    movement=5
    experience=43
    level=1
    alignment=neutral
    advances_to=AE_rhy_ce_Swordsman,AE_rhy_ce_Townguard
    cost=16
    usage=fighter
    description={AE_RHY_UNIT_NOTICE}+ _ "Soldiers are better trained Chevalier infantry and are equipped with chainmail, sword and shield. They are resistant against most physical weapons, but less agile in difficult terrain. They show their true potential in open field and when defending castles and villages."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-chevalier/soldier.png" "units/human-chevalier/soldier.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        blade=80
        impact=90
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=6
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="units/human-chevalier/soldier.png"
        [/frame]
        [frame]
            begin=-175
            end=-75
            image="units/human-chevalier/soldier.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=75
                image="units/human-chevalier/soldier.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=75
                image="units/human-chevalier/soldier.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=75
            end=200
            image="units/human-chevalier/soldier.png"
        [/frame]
    [/attack_anim]
[/unit_type]
