#textdomain wesnoth-Rashy_Era

#define AE_RHY_SPECIAL_NOTES_MASSIVE
_" This unit can not be slowed for long due to it's sheer size."#enddef

#define AE_RHY_SPECIAL_NOTES_STONEREGEN
_" This unit regenerates itsself when standing on hills or mountains."#enddef

#define AE_RHY_SPECIAL_NOTES_FORESTREGEN
_" This unit regenerates itsself when standing in the forest."#enddef

#define AE_RHY_SPECIAL_NOTES_UNPOISON_SELF
_" The medical knowledge allows this unit to rid itsself of poison."#enddef

#define AE_RHY_SPECIAL_NOTES_DARKILLUMINATES_SMALL
_" Darkillumination slightly decreases the lighting level in adjacent areas."#enddef

#define AE_RHY_SPECIAL_NOTES_DARKILLUMINATES
_" Darkillumination decreases the lighting level in adjacent areas."#enddef

#define AE_RHY_SPECIAL_NOTES_NIGHTSNEAK
_" This unit is able to hide at night, leaving no trace of its presence."#enddef

#define AE_RHY_SPECIAL_NOTES_SHIELDDEFENSE
_" This unit can use it's shield to get a bonus physical resistance while defending."#enddef

#define AE_RHY_SPECIAL_NOTES_SWAMPWALK
_" In swampland, this unit’s ambush skill renders it invisible to enemies unless it is immediately adjacent or has revealed itself by attacking."#enddef

#define AE_RHY_SPECIAL_NOTES_NIGHTEYE
_" This unit’s marksmanship gives it a high chance of hitting targeted enemies, but only at night."#enddef

#define AE_RHY_SPECIAL_NOTES_EAGLEEYE
_" This unit has a superior vision, allowing it to hit its target more often."#enddef

#define AE_RHY_SPECIAL_NOTES_GESCHICK
_" This unit’s dextery always gives it a good chance of hitting targeted enemies."#enddef

#define AE_RHY_SPECIAL_NOTES_DISPEL
_" This unit can call upon bannishing magic, which has always 50% to hit."#enddef

#define AE_RHY_SPECIAL_NOTES_RECOIL
_" The strenght of this unit's weapon is so big, it recoils, lowering the accuracy of each attack."#enddef

#define AE_RHY_SPECIAL_NOTES_DEATHSTRIKE
_" The Deathstrike allows this unit to deal a lot of damage in one hit, but only at night, or when the enemy is distracted."#enddef
