#textdomain wesnoth-Ageless_Era

#define SPECIAL_NOTES_SYLVAN_SPARK
_" This unit will regenerate 5 HP per turn in forest or mushroom grove terrains." #enddef

#define SPECIAL_NOTES_ACCURATE
_" This unit can attack more accurately, giving it a better chance to hit agile foes on the offense."#enddef

#define SPECIAL_NOTES_PHYSICAL_ENDURANCE
_" This unit will instantly regenerate half of the damage deal on it with non-arcane attacks, unless it would otherwise kill it." #enddef

#define SPECIAL_NOTES_HEAT_ABSORPTION
_" This unit will recover 5 HP per turn when on lava, sandy or desert terrain. The effects of poison will not be prolonged or cured." #enddef

#define SPECIAL_NOTES_AQUATIC_BODY
_" This unit will recover 5 HP per turn when on watery terrain. The effects of poison will not be prolonged or cured." #enddef

#define SPECIAL_NOTES_SYLVAN_REVITILIZATION
_" This unit will recover 5 HP per turn while in a forest. The effects of poison will not be prolonged or cured." #enddef

#define SPECIAL_NOTES_EARTH_RECUPERATION
_" This unit will repair its body with the rocks found while in/on hills, caves, or mountains, thus recovering 5 HP in the process. The effects of poison will not be prolonged or cured." #enddef

#define SPECIAL_NOTES_ICE_CONVALESCENCE
_" This unit will recover 5 HP per turn while on snowy or icy terrain. The effects of poison will not be prolonged or cured." #enddef

#define SPECIAL_NOTES_CAMOUFLAGE
_" On desert terrain, this unit can use its camouflage skill to remain hidden from enemies, unless they are standing next to it." #enddef
