#textdomain wesnoth-Ageless_Era

## | Mercenaries Era Special Notes

# wmllint: match {AE_MRC_WEAPON_SPECIAL_HIGHGROUND} with {SPECIAL_NOTES_HIGHGROUND}
#define SPECIAL_NOTES_HIGHGROUND
_" When on a higher terrain, this unit can deal more damage with its bow." #enddef

# wmllint: match {AE_MRC_WEAPON_SPECIAL_ARSON} with {SPECIAL_NOTES_ARSON}
#define SPECIAL_NOTES_ARSON
_" If the enemy is on flammable terrain, this unit can deal more damage, or less, if the enemy is in water or swamp." #enddef

# wmllint: match {AE_MRC_WEAPON_SPECIAL_TRIPLESTRIKE} with {SPECIAL_NOTES_TRIPLESTRIKE}
#define SPECIAL_NOTES_TRIPLESTRIKE
_" This unit has an attack which hurts bystanders of a battle by 2." #enddef

# wmllint: match { AE_MRC_WEAPON_SPECIAL_GROUPING} with {SPECIAL_NOTES_GROUPING}
#define SPECIAL_NOTES_GROUPING
_" When beeing adjacent to other units with grouping, this unit's damage increases for each of them by 1." #enddef

# wmllint: match {ABILITY_AE_BLOCK} with {SPECIAL_NOTES_TRIPLESTRIKE}
#define SPECIAL_NOTES_BLOCK
_" This unit increases the resistances of nearby units by 20." #enddef

#define SPECIAL_NOTES_PLAGUE_HIVE_GNAT
_" Foes who lose their life to this unit will become infested and release a Hive Gnat unless they are standing on a village, or are non living." #enddef

#define SPECIAL_NOTES_PLAGUE_SLAV
_" Foes who are defeated by this unit are taken as slaves unless they can hide in a town. Slavers have little interest in the undead or constructs as they know not how to control them." #enddef

#define SPECIAL_NOTES_CONCENTRATED
_ "This unit must concentrate its weapon on the enemy, and its damage increases by 1 with each successful hit." #enddef

#define SPECIAL_NOTES_CURSED
_" This Unit uses a cursed weapon which drains 2 hp of his lifepoints everytime it strikes" #enddef

#define SPECIAL_NOTES_LATCH
_" This unit attaches to enemies when it hits them" #enddef

#define SPECIAL_NOTES_SPORES
_" This unit sprays spores nearby after using this ability." #enddef

#define SPECIAL_NOTES_SUICIDE
_" This Unit dies instantly when it strikes." #enddef

#define SPECIAL_NOTES_AQUATIC
_" This unit has gills and needs water to survive, if on land without water it loses 4 hp a turn, on land with some water it loses 2 hp a turn." #enddef

#description=_" This units extremely long weapon allows it to group even better, although if there are more units shortspeared grouping units helping a unit, his spear will be ineffective due to crowding.(This unit adds +2 damage to units with grouping, his effect does not mix with grouping effect, but does with Support i.e. if there is 1 supporter but 3 groupers, it will take the higher effect available to grouping.)."

#description=_" This units extremely long weapon allows it to group even better, although if there are more units shortspeared grouping units helping a unit, his spear will be ineffective due to crowding.(This unit adds +4 damage to units with grouping, his effect does not mix with grouping effect, but does with Support i.e. if there is 1 supporter but 3 groupers, it will take the higher effect available to grouping.)."

#description=_" This units large number of javelins allows it to hand extra javelins to those it is grouping with, allowing them to throw more javelins at a time. Grouping units don't have enough room on their person to carry many javelins, so they can only recieve javelins from one supplier."
