#textdomain wesnoth-Ageless_Era

## | Imperial Era Special Notes

#define SPECIAL_NOTES_SIDHE_SPIRIT
_" Spirits have very unusual resistances to damage, and move quite slowly over open water." #enddef

#define SPECIAL_NOTES_RUNELAYING
_" A unit with runelaying will, at the beginning of its turn, place a rune on its current hex that provides a random bonus to the unit on that hex." #enddef
