#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_stf_eltireans_Calmblade
    name= _ "Calmblade"
    race=AE_stf_eltireans_race
    gender=male
    image="units/eltireans/calmblade.png"
    profile="portraits/humans/pikeman.png"
    hitpoints=52
    movement_type=smallfoot
    movement=6
    experience=62
    level=2
    alignment=lawful
    advances_to=AE_stf_eltireans_Frostwalker
    cost=28
    usage=fighter
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others.
 
..."
    {DEFENSE_ANIM "units/eltireans/calmblade.png" "units/eltireans/calmblade.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        cold=80
    [/resistance]
    [movement_costs]
        frozen=2
    [/movement_costs]
    [defense]
        frozen=70
    [/defense]
    [attack]
        name=sword
        #textdomain wesnoth-units
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=4
    [/attack]
    [attack]
        name=coldblade
        #textdomain wesnoth-Ageless_Era

        description= _ "coldblade"        # wmllint: no spellcheck
        icon=attacks/sword-human.png
        type=cold
        range=melee
        damage=7
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/eltireans/calmblade.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/eltireans/calmblade.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/eltireans/calmblade.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/eltireans/calmblade.png"
        [/frame]
    [/attack_anim]
[/unit_type]
