#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_stf_eltireans_Frostwalker
    name= _ "Frostwalker"
    race=AE_stf_eltireans_race
    gender=male
    image="units/eltireans/frostwalker.png"
    hitpoints=67
    movement_type=smallfoot
    movement=6
    experience=126
    level=3
    {AMLA_DEFAULT}
    alignment=lawful
    advances_to=null
    cost=51
    usage=fighter
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others.
 
..."
    {DEFENSE_ANIM "units/eltireans/frostwalker.png" "units/eltireans/frostwalker.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        cold=80
        pierce=90
    [/resistance]
    [movement_costs]
        frozen=1
    [/movement_costs]
    [defense]
        frozen=60
    [/defense]
    [attack]
        name=sword
        #textdomain wesnoth-units
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=10
        number=4
        [specials]
            {WEAPON_SPECIAL_AE_MAG_MAGIC_COUNTER}
        [/specials]
    [/attack]
    [attack]
        name=coldblade
        #textdomain wesnoth-Ageless_Era

        description= _ "coldblade"       # wmllint: no spellcheck
        icon=attacks/sword-human.png
        type=cold
        range=melee
        damage=10
        number=4
        [specials]
            {WEAPON_SPECIAL_AE_MAG_MAGIC_COUNTER}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/eltireans/frostwalker.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/eltireans/frostwalker.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/eltireans/frostwalker.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/eltireans/frostwalker.png"
        [/frame]
    [/attack_anim]
[/unit_type]
