#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_stf_eltireans_Fury
    name= _ "Fury"
    race=AE_stf_eltireans_race
    gender=female
    image="units/eltireans/fury.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=40
    movement_type=smallfoot
    movement=6
    experience=80
    level=2
    alignment=lawful
    advances_to=AE_stf_eltireans_Raging_Mistress
    cost=35
    usage=archer
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others.
 
Eltirean women usually abandon their melee capabilities in favor of mastering the bowgun, which are very small semi-automatic one hand crossbow created by Eltirean engineers. These weapons are so small and spiked that they can be used in melee fights."
    {DEFENSE_ANIM "units/eltireans/fury.png" "units/eltireans/fury.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [attack]
        name=stiletto
        description= _ "stiletto"
        icon=attacks/dagger-human.png
        type=pierce
        range=melee
        damage=4
        number=4
    [/attack]
    [attack]
        name=bowgun
        description= _ "bowgun"
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=7
        number=5
    [/attack]
    [attack_anim]
        [filter_attack]
            name=stiletto
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/eltireans/fury.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/eltireans/fury.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/eltireans/fury.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/eltireans/fury.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bowgun
        [/filter_attack]
        {MISSILE_FRAME_ARROW}
        [frame]
            begin=-600
            end=-525
            image="units/eltireans/fury.png"
        [/frame]
        [frame]
            begin=-525
            end=-450
            image="units/eltireans/fury.png"
        [/frame]
        [frame]
            begin=-450
            end=-375
            image="units/eltireans/fury.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-375
                end=-300
                image="units/eltireans/fury.png"
                sound=bow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-375
                end=-300
                image="units/eltireans/fury.png"
                sound=bow-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-300
            end=-225
            image="units/eltireans/fury.png"
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/eltireans/fury.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/eltireans/fury.png"
        [/frame]
        [frame]
            begin=-75
            end=-20
            image="units/eltireans/fury.png"
        [/frame]
        [frame]
            begin=-20
            end=20
            image="units/eltireans/fury.png"
        [/frame]
    [/attack_anim]
[/unit_type]
