#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_stf_eltireans_Wind_Strider
    name= _ "Wind Strider"
    race=AE_stf_race_wind_elemental
    gender=male
    image="units/eltireans/wstrider.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=33
    movement_type=undeadspirit
    movement=8
    experience=100
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=35
    usage=scout
    description= _ "This unit is from The Era of Strife. Its coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others.
 
..."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SPIRIT}
    {DEFENSE_ANIM "units/eltireans/wstrider.png" "units/eltireans/wstrider.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=wind punch
        description= _ "wind punch"
        icon=attacks/fist-yeti.png
        type=impact
        range=melee
        damage=11
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=wind punch
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/eltireans/wstrider.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/eltireans/wstrider.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/eltireans/wstrider.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image="units/eltireans/wstrider.png"
        [/frame]
    [/attack_anim]
[/unit_type]
