#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_seastates_Horse_Archer
    name= _ "Horse Archer"
    race=AE_efm_seastates_race
    image="units/seastates/horse_archer.png"
    hitpoints=33
    movement_type=mounted
    movement=7
    experience=45
    level=1
    alignment=lawful
    advances_to=AE_efm_seastates_Sagiharii
    cost=18
    usage=archer
    description={AE_EFM_UNIT_NOTICE}+"The merchant lords of the Sea States are well aware of the value of mobility and the power of compound bows. They are willing to fund long and expensive training programs to train warriors to be reasonably accurate archers while on horseback."
    {DEFENSE_ANIM "units/seastates/horse_archer.png" "units/seastates/horse_archer.png" {SOUND_LIST:HORSE_HIT} }
    die_sound=horse-die.ogg
    undead_variation=human

    [attack]
        name=saber
        description={STR_SABER}
        type=blade
        range=melee
        damage=3
        number=3
        icon=attacks/saber-human.png
    [/attack]
    [attack]
        name=bow
        description= _ "compound bow"
        type=pierce
        range=ranged
        damage=6
        number=3
        icon=attacks/bow.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bow
            type=pierce
        [/filter_attack]
        start_time=-445
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            duration=65
            image="units/seastates/horse_archer.png"
        [/frame]
        [frame]
            duration=75
            image="units/seastates/horse_archer.png"
        [/frame]
        [frame]
            duration=75
            image="units/seastates/horse_archer.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/seastates/horse_archer.png"
                sound=bow-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/seastates/horse_archer.png"
                sound=bow.ogg
            [/frame]
        [/else]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=saber
        [/filter_attack]
        start_time=-200
        [frame]
            duration=50
            image="units/seastates/horse_archer.png"
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=no
            [frame]
                duration=300
                image="units/seastates/horse_archer.png"
                sound=miss-2.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=300
                image="units/seastates/horse_archer.png"
                sound=sword-1.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
