#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_seastates_Rider
    name= _ "Rider"
    race=AE_efm_seastates_race
    image="units/seastates/rider.png"
    hitpoints=37
    movement_type=mounted
    movement=8
    experience=42
    level=1
    alignment=lawful
    advances_to=AE_efm_seastates_Raider
    cost=16
    usage=scout
    description={AE_EFM_UNIT_NOTICE}+"Mounted forces have long been an important auxiliary of the regiments."
    {DEFENSE_ANIM "units/seastates/rider.png" "units/seastates/rider.png" {SOUND_LIST:HORSE_HIT} }
    die_sound=horse-die.ogg
    undead_variation=horse-die.og

	[resistance]
		cold=90
	[/resistance]
	
    [attack]
        name=saber
        description={STR_SABER}
        type=blade
        range=melee
        damage=4
        number=4
        icon=attacks/saber-human.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=saber
        [/filter_attack]
        start_time=-300
        [frame]
            duration=100
            image="units/seastates/rider-attack1.png"
            sound=horse-canter.wav
        [/frame]
        [frame]
            duration=100
            image="units/seastates/rider-attack2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=150
                image="units/seastates/rider-attack3.png"
                sound=miss-2.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=150
                image="units/seastates/rider-attack3.png"
                sound=sword-1.ogg
            [/frame]
        [/else]
        [frame]
            duration=250
            image="units/seastates/rider-attack4.png"
        [/frame]
    [/attack_anim]
[/unit_type]
