#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_efm_seastates_Loyalist
    name= _ "Loyalist"
    race=AE_efm_seastates_race
    image="units/seastates/loyalist.png"
    hitpoints=34
    movement_type=AE_efm_seastates_riverman
    movement=6
    experience=37
    level=1
    alignment=lawful
    advances_to=AE_efm_seastates_Vassal
    cost=16
    usage=fighter
    description={AE_EFM_UNIT_NOTICE}+"True loyalty is a hard thing to come by in the Sea States but most successful Lords have a few whom either through personal charisma or by conditioning since childhood they can rely on to serve them faithfully out of personal motivation. Depending on the lord these may serve as soldiers, personal guards, or as enforcers who answer to no guild."
    {DEFENSE_ANIM "units/seastates/loyalist.png" "units/seastates/loyalist.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=human

    [resistance]
        arcane=80
    [/resistance]

    [attack]
        name=hammer
        description={STR_HAMMER}
        type=impact
        range=melee
        damage=5
        number=4
        icon=attacks/hammer-dwarven.png
        [specials]
            {AE_WEAPON_SPECIAL_DAUNTLESS}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-500
        [frame]
            duration=200
            image="units/seastates/loyalist.png"
        [/frame]
        [frame]
            duration=200
            image="units/seastates/loyalist.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/seastates/loyalist.png"
                sound=miss-2.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/seastates/loyalist.png"
                sound=mace.wav
            [/frame]
        [/else]
        [frame]
            duration=200
            image="units/seastates/loyalist.png"
        [/frame]
    [/attack_anim]
[/unit_type]
