#textdomain wesnoth-Forgotten_Legends

[unit_type]
    id=FLjastrzab
    name= _ "Falcon"
    race=jastrzab
    image="frakcja2/young-falcon.png"
    
    hitpoints=17
    movement_type=smallfly
    movement=8
    experience=18
    level=0
    alignment=neutral
    advances_to=FLjastrzab2
    cost=10
    usage=scout
    description= _ ""
    {DEFENSE_ANIM "frakcja2/young-falcon.png" "frakcja2/young-falcon.png" {SOUND_LIST:GRYPHON_HIT}}
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=dziobfl
        description=_"beak"
        type=pierce
        range=melee
        damage=4
        number=2
        icon=attacks/beak.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dziobfl
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="frakcja2/young-falcon.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="frakcja2/young-falcon.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="frakcja2/young-falcon.png"
                sound=claws.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="frakcja2/young-falcon.png"
        [/frame]
    [/attack_anim]
    [standing_anim]
        layer=60
        start_time=0
        [frame]
            duration=200
            image="frakcja2/young-falcon.png"
        [/frame]
        [frame]
            duration=200
            image="frakcja2/young-falcon-flying-1.png"
        [/frame]
        [frame]
            duration=260
            image="frakcja2/youngifalcon-flying-2.png"
        [/frame]
        [frame]
            duration=260
            image="frakcja2/young-falcon-flying-1.png"
        [/frame]
    [/standing_anim]
[/unit_type]
