#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_mauve_islands_federation_Free_Archer
    name= _ "Free Archer"
    race=mauvilien
    gender=male,female
    image="units/federation/Franc-archer.png"
    hitpoints=63
    movement_type=smallfoot
    movement=6
    experience=126
    level=3
    alignment=lawful
    cost=50
    usage=archer
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/federation/Franc-archer.png" "units/federation/Franc-archer.png" {SOUND_LIST:HUMAN_HIT} }
    [movement_costs]
        frozen=2
    [/movement_costs]
    [defense]
        frozen=60
    [/defense]
    [attack]
        name=hache
        description={STR_AXE}
        type=blade
        range=melee
        damage=6
        number=4
        icon=attacks/axe-crude.png
    [/attack]
    [attack]
        name=arc
        description={STR_BOW}
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=11
        number=4
    [/attack]
    {AXE_SOUND}
    {BOW_SOUND}
    [female]
        name= _"Free Archer"
        gender=female
        image="units/federation/Franc-archer2.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/federation/Franc-archer.png" "units/federation/Franc-archer.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [/female]
[/unit_type]
