#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_mauve_islands_federation_Warrior_Mage
    name= _ "Warrior-Mage"
    race=mauvilien
    gender=male,female
    image="units/federation/Guerrier-mage.png"
    hitpoints=50
    movement_type=smallfoot
    movement=5
    experience=88
    level=2
    alignment=neutral
    cost=35
    usage=fighter
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=AE_AoA_mauve_islands_federation_Knight_Arcanist
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/federation/Guerrier-mage.png" "units/federation/Guerrier-mage.png" {SOUND_LIST:HUMAN_HIT} }
    [movement_costs]
        frozen=2
    [/movement_costs]
    [defense]
        frozen=60
    [/defense]
    [resistance]
        blade=80
        impact=80
        pierce=80
        cold=80
        fire=80
    [/resistance]

    [attack]
        name=epee
        description={STR_SWORD}
        type=blade
        range=melee
        damage=9
        number=3
        icon=attacks/sword-human.png
    [/attack]
    [attack]
        name=projectile
        description= _"magic missile"
        type=fire
        range=ranged
        damage=7
        number=3
        icon=attacks/magic-missile.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {MISSILE_SOUND}
    {SWORD_SOUND}
    [female]
        name= _"Warrior-Mage"
        gender=female
        image="units/federation/Guerrier-mage2.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/federation/Guerrier-mage2.png" "units/federation/Guerrier-mage2.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [/female]
[/unit_type]
