#textdomain wesnoth-Ageless_Era

[unit_type]
    id="AE_mrc_emperors_guard_Musha"
    name= _ "Musha"
    race=AE_mrc_emperors_guard_race
    gender=male
    image="units/emperorguard/musha.png"
    hitpoints=54
    movement_type=AE_mrc_martialfoot
    movement=5
    experience=84
    level=2
    alignment=neutral
    advances_to="AE_mrc_emperors_guard_Blackbelt"
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=30
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"Mushas are often seen in imperial frontlines with soldiers like Samurais or Mushi. While martial artists aren't as deadly as the armed soldiers, they still function as distraction for the enemies wasting their time at missing multiples time to them meanwhile experienced martial artist manage to defeat their foes one by one in close combat."

    [resistance]
        impact=80
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "units/emperorguard/musha.png" "units/emperorguard/musha.png" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Fist
        description={STR_FIST}
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_COUNTER}
        [/specials]
    [/attack]
    [attack]
        name=Leapkick
        description= _ "Leap Kick"
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=15
        number=1
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Fist
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/emperorguard/musha.png"
            sound=fist.ogg
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=Leapkick
        [/filter_attack]
        start_time=-500
        [frame]
            duration=100
            image=units/emperorguard/musha.png
        [/frame]
        [frame]
            duration=150
            image=units/emperorguard/musha-attack.png
        [/frame]
        [frame]
            duration=200
            image=units/emperorguard/musha-attack-1.png
            sound=club.ogg
        [/frame]
        [frame]
            duration=50
            image=units/emperorguard/musha.png
        [/frame]
    [/attack_anim]
[/unit_type]
