#textdomain wesnoth-Ageless_Era

[unit_type]
    id="AE_mrc_emperors_guard_Samurai"
    name= _ "Samurai"
    race=AE_mrc_emperors_guard_race
    gender=male
    image="units/emperorguard/samurai.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=38
    movement_type=AE_mrc_samuraifoot
    movement=5
    experience=42
    level=1
    alignment=lawful
    advances_to=AE_mrc_emperors_guard_Bushi,AE_mrc_emperors_guard_Monofu
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=18
    usage=archer
    description={AE_MRC_UNIT_NOTICE}+"
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Naginata
        description= _ "Naginata"
        icon=attacks/glaive.png
        type=blade
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Naginata
        [/filter_attack]
        start_time=-500
        [frame]
            duration=300
            image="units/emperorguard/samurai1.png"
        [/frame]
        [frame]
            duration=100
            image="units/emperorguard/samurai2.png"
            sound=sword-1.ogg
        [/frame]
        [frame]
            duration=100
            image="units/emperorguard/samurai.png"
        [/frame]
    [/attack_anim]
[/unit_type]
