#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_imp_Cavernei_Guardsman
    name= _ "Guardsman"
    race=AE_imp_cavernei_race
    image="units/dwarves-cavernei/guard.png"
    profile=portraits/dwarves/dwarf-guard.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    movement_type=AE_imp_dwarvenfoot
    movement=4
    experience=40
    level=1
    alignment=neutral
    advances_to=AE_imp_Cavernei_Stalwart
    cost=19
    usage=fighter
    description= _ "This unit is from Imperial Era. Its coding and art were done by Turin and Various others.
 
The most resilient dwarves sometimes join the Cavernei army as Guardsmen. Slow and without a strong attack, they guard the Army's flank, soaking up a lot of damage, and hurling heavy spears for defense."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}
    die_sound={SOUND_LIST:DWARF_DIE}
    [defense]
        mountains=40
        hills=50
    [/defense]
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=5
        number=3
    [/attack]
    [attack]
        name=javelin
        description={STR_JAVELIN}
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=5
        number=1
    [/attack]
    {DEFENSE_ANIM "units/dwarves-cavernei/guard-defend.png" "units/dwarves-cavernei/guard.png" {SOUND_LIST:DWARF_HIT} }
    [idle_anim]
        start_time=0
        [frame]
            duration=100
            image="units/dwarves-cavernei/guard-idle-1.png"
        [/frame]
        [frame]
            duration=500
            image="units/dwarves-cavernei/guard-idle-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/dwarves-cavernei/guard-idle-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/dwarves-cavernei/guard-idle-4.png"
        [/frame]
        [frame]
            duration=400
            image="units/dwarves-cavernei/guard-idle-5.png"
        [/frame]
        [frame]
            duration=500
            image="units/dwarves-cavernei/guard-idle-6.png"
        [/frame]
        [frame]
            duration=100
            image="units/dwarves-cavernei/guard-idle-1.png"
        [/frame]
    [/idle_anim]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/dwarves-cavernei/guard.png"
        [/frame]
        [frame]
            begin=-150
            end=-100
            image="units/dwarves-cavernei/guard-defend.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/dwarves-cavernei/guard-attack.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/dwarves-cavernei/guard-attack.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=75
            image="units/dwarves-cavernei/guard-defend.png"
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/dwarves-cavernei/guard.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=javelin
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/spear-n.png"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        [frame]
            begin=-300
            end=-200
            image="units/dwarves-cavernei/guard-defend.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=-100
                image="units/dwarves-cavernei/guard-attack.png"
                sound=spear.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=-100
                image="units/dwarves-cavernei/guard-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=0
            image="units/dwarves-cavernei/guard.png"
        [/frame]
    [/attack_anim]
[/unit_type]
