#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_farengarian_dwarves_counties_Arbalester
    name= _ "Arbalester"
    race=farNain
    gender=male
    image="units/Far_nains/Cranequinier.png"
    hitpoints=61
    movement_type=dwarvishfoot
    movement=4
    experience=134
    level=3
    alignment=neutral
    cost=63
    usage=archer
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/Far_nains/Cranequinier.png" "units/Far_nains/Cranequinier.png" {SOUND_LIST:DWARF_HIT} }
    [attack]
        name=dague
        description= _"dagger"
        type=blade
        range=melee
        damage=9
        number=3
        icon=attacks/dagger-human.png
    [/attack]
    [attack]
        name=arbalete
        description=_"arbalest"
        type=pierce
        range=ranged
        damage=15
        number=3
        icon=attacks/crossbow-iron.png
    [/attack]
    {RAPIER_SOUND}
    {CROSSBOW_SOUND}
[/unit_type]
