#textdomain armies_of_amberan
[unit_type]
    id=AE_AoA_farengarian_dwarves_counties_Handgunner
    name= _ "Handgunner"
    race=farNain
    gender=male
    image="units/Far_nains/Arquebusier.png"
    hitpoints=47
    movement_type=dwarvishfoot
    movement=4
    experience=65
    level=2
    alignment=neutral
    cost=27
    usage=archer
    description={AE_AOA_UNIT_NOTICE}+ _ "description to come"
    advances_to=AE_AoA_farengarian_dwarves_counties_Artificer
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/Far_nains/Arquebusier.png" "units/Far_nains/Arquebusier.png" {SOUND_LIST:DWARF_HIT} }
    [abilities]
        {ABILITY_AE_MAG_REPAIR 6}
    [/abilities]
    [attack]
        name=masse
        description=_"mace"
        type=impact
        range=melee
        damage=5
        number=3
        icon=attacks/mace.png
    [/attack]
    [attack]
        name=arquebuse
        description= _"handgun"
        type=pierce
        range=ranged
        damage=28
        number=1
        icon=attacks/thunderstick.png
    [/attack]
    {PISTOL_SOUND}
    {MACE_SOUND}
[/unit_type]
